[2019-10-11 07:41] siddontang opened #3 "proposal: use sidecar to pause the pod"
Now we use a fake image to pause the pod, this is not elegant, I think we can use sidecar mechanism, maybe:

1. When we start the POD, using sidecar to inject an init container and start the init container.
2. Let the init container start the real container, so we can support pause.

This is just my guess, I don't think whether it can work or not, but we can have a try.

Or maybe we can find a bet

[2019-10-16 07:46] zhouqiang-cl opened #4 "I think we can use the framework to add some chaos function such as random scheduler/shuffer region/ failpoint too"

[2019-10-29 09:57] YangKeao opened #7 "Have you tried operator-framework or controller-runtime?"
While I am developing network related chaos operation for chaos-operator, I found there are a lot of duplicated codes between network chaos and pod chaos. Then I tried to abstract them into a framework or package to reuse these duplicate codes.

However, I found `operator-sdk` and `controller-runtime` these two frameworks.

[`operator-sdk`](https://github.com/operator-framework/operator-sdk) provi

[2019-11-05 14:14] zhouqiang-cl opened #9 "use bpf for chaos"
bpf can be used for fault inject: https://github.com/iovisor/bcc/blob/master/tools/inject_example.txt

and @ethercflow have do some research about it

[2019-11-08 05:38] #7 closed, assigned to nobody

[2019-11-16 13:02] zhouqiang-cl opened #18 "add staticcheck and errcheck"
we can enhance our code by staticcheck and errcheck

[2019-12-06 09:18] zhouqiang-cl opened #32 "SW-1: Using chaos-operator to test DM"
## Description
Now. DM did not have chaos testing. we should add it. first it should be run on k8s. Then use chaos-operator to test it and add some test in it
## Difficulty

- Hard

## Score

- 3000

## Mentor(s)

- @cwen0

## Recommended Skills

- k8s, chaos, dm architect

[2019-12-06 09:33] zhouqiang-cl opened #33 "SW-2: Using chaos-operator to test binlog"
## Description
Now. Binlog chaos testing is on going. we should finish it. Add more tests in abtests
## Difficulty

- Hard

## Score

- 3000

## TODO list

- [ ] Make a helm chart that can start [short road](#short-road) tests (500 points / medium)
- [ ] Make a helm chart that can start [long road](#long-road) tests (500 points / medium)
- [ ] Support more nodes in [SQLSmith](#test-framework) (500

[2019-12-06 09:53] zhouqiang-cl opened #34 "SW-3: Using chaos-operator to test cdc"
## Description
cdc now did not have chaos test. we should add it
## Difficulty

- Hard

## Score

- 4500

## Mentor(s)

- @overvenus
- @amyangfei

## Recommended Skills

- k8s, chaos,cdc architect

##  TODOs

- [x] run cdc in kubernetes
- [x] develop a workload case
- [x] develop  a check case ( can be merged with task 2 )
- [ ] inject chaos tikv and to check cdc ( pod kill / pod failure / network

[2019-12-06 09:57] zhouqiang-cl opened #35 "SW-4: Using chaos-operator to test br"
## Description
There is no chaos test in br
## Difficulty

- Hard

## Score

- 3000

## Mentor(s)

- @5kbpers

## Recommended Skills

- k8s, chaos,br  architect

[2019-12-12 07:52] YangKeao opened #38 "support packet loss on chaos-operator"
Use chaos daemon (nc) to support packet loss on chaos-operator.

[2019-12-24 06:40] #38 closed, assigned to nobody

[2019-12-24 06:40] #18 closed, assigned to nobody

[2019-12-28 06:28] YangKeao opened #62 "Add time limit for grpc calls"
We should add deadline for grpc calls (to avoid endless grpc call)

[2019-12-28 06:31] YangKeao opened #64 "Find better way to interact with iptables"
Maybe [go-iptables](https://github.com/coreos/go-iptables) is good. But it seems that it doesn't support network namespace.

[2019-12-30 05:55] Yisaer opened #72 "Make scheduler as optional in APIs"
I'm trying to use `chaos-mesh` and I found that most APIs have a `scheduler` option and it is also necessary. I think it's weird for some API with `scheduler` and would be hard for users to observe the status of k8s-cluster or tidb-cluster.

For example, if I want to observe the performance of my `distributed system` in `network-partition` situation, I would like to apply a `network-partition` cha

[2019-12-31 02:18] zhouqiang-cl opened #95 "support time chaos"
RT

[2019-12-31 06:18] Yisaer commented on #72
@YangKeao A piece of advice, I found that all of the chaos cases are built by `crd`+`controller` to reconcile the cluster to the expected status.
I think it is suitable for some chaos cases like `network chaos cases` but not suitable for other cases like `pod kill chaos`.  In these consuming likely cases, I think the HTPP server ( or other server which consumes the request)  to trigger a chaos cas

[2020-01-02 11:38] sftim commented on #3
You can use an [ephemeral container](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/) rather than a sidecar.

[2020-01-02 12:59] shonge opened #103 "Can chaos-operator test the tidb-operator"

[2020-01-02 14:09] Yisaer commented on #103
Yes, chaos-operator is designed to test any application or system in kubernetes. All stateful or stateless systems could be tested by chaos-operator.

[2020-01-02 15:33] YangKeao commented on #3
@sftim Do you have any suggestion on how to pause a pod with the help of ephemeral container?

BTW, the securityContext of ephemeral container [is not yet configurable](https://github.com/kubernetes/enhancements/issues/277#issuecomment-540952957)). It stops us from using ephemeral containers in IO and Network Chaos 😣.

[2020-01-02 17:37] sftim commented on #3
With a shared process namespace `kill -STOP` simulates failure to progress; `kill -CONT` resumes. If you have the access to run it, you can use `ptrace()` with `PTRACE_ATTACH` as well.

`ptrace()` with `PTRACE_SEIZE` offers opportunities to trace processes and then later suspend them with `PTRACE_INTERRUPT`.

Otherwise (no shared namespace) there's not so much the container can do.

[2020-01-03 07:24] zhouqiang-cl commented on #72
agree with @Yisaer

[2020-01-03 07:26] #35 closed

[2020-01-03 07:26] #34 closed

[2020-01-03 07:26] #33 closed

[2020-01-03 07:27] #32 closed

[2020-01-03 08:54] #103 closed

[2020-01-03 12:33] zhouqiang-cl commented on #3
Thank you for you advise @sftim , @cwen0 PTAL

[2020-01-03 12:39] xiekeyi98 opened #105 "I was wondering why return in a loop?"
https://github.com/pingcap/chaos-mesh/blob/cec3b8a64428e4e243c6673555cf9dd21b1d062b/controllers/iochaos/fs/types.go#L192-L207
As the code say, it return anyway in the loop.
But why?

[2020-01-03 14:02] cwen0 commented on #105
@xiekeyi98 Thanks! this is a bug! Can you help us to fix this?

[2020-01-03 14:41] #105 closed

[2020-01-04 11:49] zhouqiang-cl commented on #3
@sftim This feature is enabled in v1.17，I think we can make this as a option to support all kinds of signals later

[2020-01-04 11:55] zhouqiang-cl commented on #95
The possible option is going to split into two stage

1. use bpf to support all kinds of time chaos
2. use vDSO to speed up C/Rust program(which support dynamic link) time chaos

[2020-01-04 19:25] #9 closed

[2020-01-06 00:59] tennix commented on #3
When we stop the process by killing it with shared namespace, the container may restart again. I think what the proposal wants to achieve is making the container stop for some time. AFAIK, the fake image is the only way we can use now.

[2020-01-06 02:49] cwen0 opened #110 "fail to recover network chaos"
networkchaos  was not working halfway
![image](https://user-images.githubusercontent.com/22956341/71792172-9c01f380-3072-11ea-9760-d2e00ca73d0a.png)

chaos-daemon error log
[code]

[2020-01-06 04:52] YangKeao commented on #3
@tennix No. `kill -STOP` will not "kill" a process, but just send SIGSTOP signal. This inspired me another idea: we can use [`cgroup freezer`](https://www.kernel.org/doc/Documentation/cgroup-v1/freezer-subsystem.txt) to implement container pause (like docker does) in `chaos-daemon`!

Or simply use docker API to pause a container.

[2020-01-06 04:54] YangKeao commented on #3
But `pod-failure` and `process-pause` maybe different kind of chaos. `pod-failure` means stop the pod and after several minutes it will restart. But `process-pause` will not stop and restart, but only fail to schedule. The difference is the "restart" process.

@cwen0 What's your opinion?

[2020-01-06 05:10] cwen0 commented on #3
yep, I also think that `pod-failure` and `process-pause` are different kinds of chaos. Some processes will handle some signals, so these two types of chaos also behave differently for the process. Next, we also need support `pod-pause`.

[2020-01-06 07:42] c4pt0r opened #111 "Weird message output when using kind"
when I was running ./hack/kind-cluster-build.sh, it shows a warning: `kind get kubeconfig-path` is deprecated!
Not sure if the sorftware is successfully installed.

...
############# success create cluster:[kind] #############
To start using your cluster, run:
`kind get kubeconfig-path` is deprecated!

KIND will export and merge kubeconfig like kops, minikube, etc.
This command is now unnecessary

[2020-01-06 09:18] c4pt0r opened #112 "error occurs when creating chaos-controller-manager"
[code]

[2020-01-06 09:42] cwen0 commented on #111
Thanks for your response,`kind get kubeconfig-path` is now unnecessary and will be removed in a future release.  We will update the kind scripts to avoid the weird message

[2020-01-06 09:45] cwen0 commented on #112
@c4pt0r  Can you give us some logs about this pod
[code]

[2020-01-06 13:40] YangKeao commented on #110
You could `exec` into this pod and use `tc` to get currently existing Qdisc. I suspect that this error occurs because `qdisc` was not added to it successfully.

But why it was not added successfully (though it had successfully reconciled)? Maybe we can find out the reason in chaos-daemon's log (during related time).

[2020-01-07 11:33] cwen0 commented on #110
From the chaos-daemon log, the chaos-dameon did not receive the command to apply netem, so we cancel this netem was failed.

[2020-01-07 16:30] zhouqiang-cl commented on #110
means there is something abnormal in crd and chaos-daemon?

[2020-01-08 04:13] zhouqiang-cl opened #114 "proposal: support restful API to trigger chaos"
A friendly HTTP API can be very helpful to use chaos-mesh. We can support APIs such as  triggr request
[code]

[2020-01-08 05:08] c4pt0r commented on #112
[code]

[2020-01-08 06:18] zhouqiang-cl opened #115 "Add SLA Measurement to Chaos-verify"
Some times, We should measure SLA in QPS/Latency drops during tests. I think it is necessary to calculate QPS drops(such as 20% of qps drop) and RTO(Recovery Time Objective) and publish the event

[2020-01-08 06:23] siddontang commented on #112
can we close it now? @cwen0

[2020-01-08 07:16] cwen0 commented on #112
@siddontang yes, this error caused by no CRD object, we need to apply these CRD objects before starting the Chaos Mesh.
exec the following commands to apply CRD objects:
[code]
more detail: https://github.com/pingcap/chaos-mesh#create-custom-resource-type

[2020-01-08 07:31] siddontang commented on #112
so why @c4pt0r forgot to apply this? do we provide a more specific guide?

[2020-01-08 07:35] siddontang commented on #114
how to trigger chaos?  How does the HTTP API look like?

Can you provide more information?

[2020-01-09 17:36] zhouqiang-cl commented on #4
It not very common. I will close it first.

[2020-01-09 17:36] #4 closed

[2020-01-10 20:09] zhouqiang-cl opened #123 "Add contribution doc"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Contribution guide doc is need for contributors.

**Describe alternatives you've considered:**

No doc about contribution guide

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-01-10 20:14] zhouqiang-cl opened #124 "Add Roadmap for Chaos Mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Add a roadmap for Chaos Mesh

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-01-11 10:09] zhouqiang-cl commented on #124
issue: https://github.com/pingcap/chaos-mesh/issues/124

[2020-01-12 02:50] mahjonp opened #126 "Cannot uninstall iochaos when sidecar chaosfs running failed"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Follow the [doc](https://github.com/pingcap/chaos-mesh/diffs/4?base_sha=717b1b26775ca6eb2699db33cdcf874c28d6570e&commentable=true&head_user=cwen0&pull_number=121&sha1=717b1b26775ca6eb2699db33cdcf874c28d6570e&sha2=7ab71cc71eaeb045cfef603d9f5c5af9a588ddb4&short_path=0cea7a9&unchanged=expanded&utf8=%E2%9C%93#a

[2020-01-12 02:55] mahjonp commented on #126
I logged the chaosfs sidecar container, found this ERROR, PTAL @ethercflow :

[code]

[2020-01-12 05:26] cwen0 commented on #126
@mahjonp Can you give me the log of the first crash of chaosfs?

[code]

[2020-01-12 05:29] zhouqiang-cl opened #127 "Add chaos-fs client in repo and docker image"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I want to debug chaos-fs, We can only start a chaos experiment and define a yaml to achieve the fault injection

**Describe the feature you'd like:**

It is useful to have a chaos-fs client in docker image and repo for debug which can trigger manual

**Describe alternatives you've considered:**

No.
**Teac

[2020-01-12 05:39] zhouqiang-cl opened #128 "Add e2e tests in chaos-mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now. We did not have any e2e test. but it very useful to make chaos-mesh stable

**Describe the feature you'd like:**

E2e test should be added. we can refer to https://github.com/pingcap/tidb-operator/tree/master/tests/e2e

**Describe alternatives you've considered:**

No
**Teachability, Documentation, Adoptio

[2020-01-12 05:46] zhouqiang-cl opened #129 "Add codecov for test code coverage"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now test code coverage is not clear and may need to improve
**Describe the feature you'd like:**

We can use codecov to visualization our test code coverage

**Describe alternatives you've considered:**

No
**Teachability, Documentation, Adoption, Migration Strategy:**

No

[2020-01-12 06:44] mahjonp commented on #126
Sorry, the cluster had been destroyed.

[2020-01-12 07:34] #129 closed

[2020-01-12 07:46] zhouqiang-cl opened #131 "Add more unit test"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now unit test is only 30%, I think first we should increase it to 50%
<img width="1152" alt="屏幕快照 2020-01-12 下午3 41 55" src="https://user-images.githubusercontent.com/23521459/72215756-433ec900-3552-11ea-9bd1-b8df5320bf6e.png">

**Describe the feature you'd like:**

Increase unit test coverage to 50%, we can sp

[2020-01-12 08:25] zhouqiang-cl opened #133 "Add bandwidth chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes bandwidth limit and chaos is necessary for multi cloud

**Describe the feature you'd like:**

We can limit some pod output bandwidth is 50Mb

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-01-12 10:00] zhouqiang-cl commented on #111
@cwen0 Can this be a "good first issue"

[2020-01-12 16:28] zhouqiang-cl opened #135 "Make sidecar image configurable"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes a different sidecar image is needed for many use case

**Describe the feature you'd like:**

Sidecar image can be configureable

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

None

[2020-01-13 00:36] zhouqiang-cl opened #136 "The IO doc is not very correct"
## Bug Report

**What version of Kubernetes are you using?**

None

**What did you do?**

None

**What did you expect to see?**

- What is the common error number for IO injection?
- What happend when set errno empty and meet other errno such as `EL2HLT 51`
- The errno `32` is broken pipe,Seems not a IO error
- The [Linux system error](https://www-numi.fnal.gov/offline_software/srt_public_context/

[2020-01-14 06:01] #110 closed

[2020-01-14 13:39] zhouqiang-cl opened #138 "Add container kill"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When a pod contains multi container. how to kill the special container.

**Describe the feature you'd like:**

We should support container kill.

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

None

[2020-01-16 05:10] #136 closed

[2020-01-17 05:19] cwen0 commented on #111
this issue fixed in #140 , I will close this issue

[2020-01-17 05:19] #111 closed

[2020-01-17 12:42] #124 closed

[2020-01-17 14:00] cwen0 opened #143 "Cannot start tiflash when to inject iochaos"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What did you do?**
inject iochaos

tiflash configmap
[code]
error log
[code]

[2020-01-17 14:33] zhouqiang-cl commented on #143
I did not understand the error from the log

[2020-01-17 15:14] zhouqiang-cl opened #144 "UCP: Add CPU chaos"
## Description

In an actual production environment, the CPU may be busy. So there needs to be a way to simulate a busy CPU situation.  Sometimes we need to look at the performance of the server's performance when the CPU is busy.

So we need to add a new chaos type, namely "CPU chaos". Maybe we can you stress-ng to simulate CPU is busy.

## Score

1679.5

## Mentor(s)

@ethercflow

## Recommended

[2020-01-17 15:47] zhouqiang-cl opened #145 "UCP: Add memory chaos"
## Description

Sometimes we should simulate the situation we can not alloc memory. So we need a kind of "chaos" to simulate this situation.

## Score

1679.5

## Mentor(s)

@ethercflow

## Recommended Skills

* Golang
* Kubernetes

## Learning Materials

* [Development guide of chaos-mesh](https://github.com/pingcap/chaos-mesh/wiki/Development-Overview)

[2020-01-18 10:28] zhouqiang-cl opened #146 "Test Chaos Mesh with Istio"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Maybe Chaos Mesh can be work with Istio, If it can, we should test it

**Describe the feature you'd like:**

Make Chaos Mesh can work with istio, but first we should test it

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

None

[2020-01-18 11:52] zhouqiang-cl opened #147 "Make Chaos Mesh can run with Istio"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If Chaos Mesh can run with istio, it will be very helpful to service mesh

**Describe the feature you'd like:**

Make Chaos Mesh run with istio

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

TBD

[2020-01-18 14:08] zhouqiang-cl opened #148 "proposal: add metrics for chaos CRD"
From @yeya24 's suggestion:
Chaos Mesh need some metrics to show how many CRDs it have for each kind of injection, we can use `gauge` metric.
If we have such metrics, it can display the history of CRDs and can be added to dashboard

[2020-01-18 14:12] zhouqiang-cl commented on #148
@cwen0 @mahjonp @YangKeao what about your opinion

[2020-01-19 00:57] cwen0 commented on #148
This function may be combined with dashboard, because we also need to get these message in dashboard and show them on dashboard. @zhouqiang-cl

[2020-01-19 01:06] cwen0 commented on #143
@zhouqiang-cl this is the log from `kube-controller`,  told us that tiflash-1 cannot be created during to `jsonpatch add operation does not apply`.

[2020-01-19 02:20] mahjonp commented on #148
LGTM, we need a metrics HTTP handler on chaos-engine, no matter how to show these metrics.

[2020-01-19 08:00] zhouqiang-cl commented on #148
Tomorrow @YangKeao will take a look

[2020-01-19 09:17] zhouqiang-cl opened #150 "refine `get started on your local machine` section in readme"
## Feature Request
The [get started on your local machine](https://github.com/pingcap/chaos-mesh#get-started-on-your-local-machine) section in  readme is not very friendly. we need to improve it.

**Describe the feature you'd like:**

The mode `kind` is not very fault-tolerant, lack of necessary error handling. Maybe we can make `minikube` as primary mode for local machine and `kind` as secondary

[2020-01-19 09:36] zhouqiang-cl opened #151 "Add your FAQ"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes it takes many time to understand chaos-mesh and take more time to make it run normally。If let's improve FAQ, then we can help others more quick to run normally

**Describe the feature you'd like:**

FAQ for Chaos Mesh you have ever meet

**Describe alternatives you've considered:**

None

**Teachabili

[2020-01-19 11:03] zhouqiang-cl opened #153 "Write a tutorial to use Chaos Mesh to test a simple program"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Write a very simple program and use chaos mesh test it

**Describe the feature you'd like:**

- write a simple program
- use chaos mesh test it
- write the tutorial about the program and how to use chaos mesh to test it

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption

[2020-01-19 14:56] Yisaer commented on #147
I'm familiar with Istio and other ServiceMesh products. Can I take this work?

[2020-01-20 02:35] zhouqiang-cl commented on #147
Of cause, thank you

[2020-01-20 02:35] zhouqiang-cl commented on #147
Of cause, thank you

[2020-01-20 02:57] zhouqiang-cl opened #154 "refine `deploy target cluster` section in readme"
## Feature Request

**Is your feature request related to a problem? Please describe:**

the [deploy target cluster](https://github.com/pingcap/chaos-mesh#deploy-target-cluster) is redirect to pingcap's website, we can just add the detail step in readme

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

None

[2020-01-20 03:03] zhouqiang-cl opened #155 "make commands more clear in readme"
## Feature Request

**Is your feature request related to a problem? Please describe:**

- refine readme: follow the step by step commands,  just copy and past can start the whole cluster with chaos

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-01-20 04:49] siddontang commented on #146
https://istio.io/docs/tasks/traffic-management/fault-injection/

We can also try to integrate the fault injection if user uses Istio.

[2020-01-20 06:34] zhouqiang-cl commented on #146
Great idea

[2020-01-20 09:43] gaocegege opened #156 "Controller is always restarted and has some errors"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Install chaos-mesh and keep it running for several days.

**What did you expect to see?**

Running without crashes and errors.

**What did you see instead?**

The controller is restarted several times.

[code]

[code]

[2020-01-20 10:09] zhouqiang-cl commented on #156
@gaocegege thank you for your report, we will take a look

[2020-01-20 10:18] gaocegege commented on #156
@zhouqiang-cl Thanks for your reply. I can help if you need more information. And I will try to dive deeper into the bug, too.

[2020-01-20 10:23] cwen0 commented on #156
@gaocegege hi, channel may closed caused by HTTP timeout, should restart watcher detail at https://github.com/kubernetes/client-go/issues/334, the Error is normal log, can you give me some log
[code]

[2020-01-20 10:42] cwen0 opened #157 "chaos-manager: panic when creating client to chaos-dameon"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What did you do?**

Install chaos-mesh and keep it running for several days.

**What did you expect to see?**

Running without crashes and errors.

**What did you see instead?**

chaos-manager panic when creating client to chaos-daemon

[code]

[2020-01-20 10:50] cwen0 commented on #157
we can fix this issue by modifying https://github.com/pingcap/chaos-mesh/blob/master/controllers/networkchaos/partition/types.go#L350

[2020-01-20 10:55] cwen0 commented on #156
@gaocegege I got the same issue with you and this might be useful for you.

[2020-01-20 14:50] mahjonp opened #158 "chaos-controller: use pod ip instead of the node ip when connecting to chaos-daemon instances"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Although the spec of `chaos-daemon` has set the `hostPort`, it doesn't use the host network explicitly, so in some cases there may occurs `no route to host` error when  the `chaos-controller` try to connect to `chaos-daemon` instances using `nodeip:port`.

**Describe the feature you'd like:**

use pod ip instea

[2020-01-20 22:39] yeya24 opened #159 "what about using cni/plugins/ns instead of nsenter?"
## Question
https://github.com/containernetworking/plugins/blob/master/pkg/ns/README.md has basic network ns utilities. Is it better to use it instead of using cmd with nsenter?

With that pkg, we can solve https://github.com/pingcap/chaos-mesh/issues/64 as well.

But with that pkg, the code will become more complicated than the current implementation.

[2020-01-21 01:40] gaocegege commented on #156
@cwen0 Here is the log:

[code]

[2020-01-21 02:11] zhouqiang-cl commented on #159
@YangKeao @cwen0  PTAL

[2020-01-21 06:13] YangKeao commented on #159
@yeya24 Thanks for your suggestion :beers:  . In the previous version of chaos-mesh, we `setns` through `github.com/vishvananda/netns` pkg. In #31, `chaos-mesh` turned to use `nsenter` to enter a network namespace.

According to the [document](https://github.com/containernetworking/plugins/blob/master/pkg/ns/README.md) you have shared with us, after go 1.10 we can work with network namespace in go

[2020-01-21 06:25] YangKeao opened #161 "Support containerd when getting networknamespace"
## Feature Request

As we have use `kind` as suggested development environment in development guide #160, and `minikube` linux mirrors doesn't support netem (because kernel doesn't have `sch_netem` module), we should support `containerd` runtime.

Now we use docker pkg to get pid by container id, and we can do the same thing with [`containerd`](https://godoc.org/github.com/containerd/containerd).

[2020-01-21 06:35] YangKeao commented on #148
Maybe we could add an argument to specify the prometheus address we use (for both recording controller-manager's metric and show on dashboard) just like TiKV. `Inc` and `Dec` is very easy to manager in `controller-manager`.

[2020-01-21 07:41] zhouqiang-cl commented on #148
@yeya24 how about your opinion

[2020-01-21 08:26] Yisaer opened #162 "Add event to record each chaos action"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we didn't have any places to show the chaos actions which have been done after we apply the chaos api. I think it might be important for users to know the effect caused by chaos-mesh by each chaos api component.

**Describe the feature you'd like:**

For example, after I apply the `PodChaos` api, I c

[2020-01-21 08:39] Yisaer commented on #147
Before we make `chaos-mesh` run with `istio`, I think we should test the compatible between `istio` and `chaos-mesh`.

ref:
https://github.com/pingcap/chaos-mesh/issues/146

[2020-01-21 08:42] Yisaer commented on #146
I think `Chaos-Mesh` could make `Istio` as an option component to extend the network chaos for `HTTP` protocol. The only problem How compatible is with the existed `network chaos` and the `Istio` sidecar model.

[2020-01-21 10:16] zhouqiang-cl commented on #162
great idea

[2020-01-21 12:32] zhouqiang-cl commented on #146
can we add a mode in `network chaos` such as `http`

[2020-01-21 13:43] zhouqiang-cl opened #163 "failed to create cluster using `hack/kind-cluster-build.sh`"
## Bug Report

**What did you do?**

run `bash hack/kind-cluster-build.sh` in a centos 7 vm

**What did you expect to see?**
using kind to create cluster success

**What did you see instead?**
[code]
when using `docker exec --privileged kind-control-plane kubeadm init --ignore-preflight-errors=all --config=/kind/kubeadm.conf --skip-token-print --v=6` command to create, the output is
[code]

[2020-01-21 13:53] zhouqiang-cl commented on #163
Maybe because of vm server

[2020-01-21 14:00] cwen0 commented on #156
@gaocegege According to the logs, the reason for the restart is most likely caused by the inaccessibility of the apiserver.

[2020-01-21 14:38] yeya24 commented on #159
@YangKeao  Thanks. To be honest, I haven't noticed that network ns leakage before. I am not sure whether this package is safe enough, though it is used in CNI. I think I can investigate more and test locally first for this plan.

[2020-01-22 01:37] endurancetest20380119 opened #165 "Adapt the installation command via helm 3.X"
## Enhancement

**What version of Kubernetes are you using?**

* `kubectl version`

[code]

* `helm version`
[code]

**What did you do?**

When Installing Chaos Mesh with helm, I received the msg.

[code]

**What did you expect to see?**
The installation command would support the both helm version with 3.x and 2.x.

**What did you see instead?**

I tried the below when using helm 3.x.
It seems wel

[2020-01-22 06:55] Yisaer opened #167 "Run make test error"
## Bug Report
I'm using current master branch (commit id 69dba6f) and try to run test in local.

**What version of Kubernetes are you using?**

[code]

**What did you do?**

execute `make test`

**What did you expect to see?**
local test success

**What did you see instead?**
Here is the error log:
[code]

[2020-01-22 09:06] zhouqiang-cl commented on #167
It is wield, I did not reproduce it
Could you provide your go version?

[2020-01-22 09:08] Yisaer commented on #167
[code]
I think there are some dependencies I need to run local test which is not preinstalled by `make test`. @zhouqiang-cl

[2020-01-22 09:53] #165 closed

[2020-01-22 23:58] yeya24 opened #170 "Supports customized dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

The current chaos-dashboard is just a React page with embedded Grafana dashboard using iframe. It is quite inconvenient to customize my dashboards. The only way I can come up with now is to re-build the docker image.

Actually Grafana supports some APIs to manage dashboards

[2020-01-23 02:25] zhouqiang-cl commented on #170
Yes，we need a new dashboard to support cncf‘s project，and make it more flexible ，customized is needed，could you write a proposal for it？thank you very much

[2020-01-23 04:17] Yisaer opened #171 "Make scheduler and duration optional for apis"
## Feature Request

**Is your feature request related to a problem? Please describe:**

As #72 suggested, currently `scheduler` and `duration` necessary in `chaos` API is not friendly for users. So we decided to make `scheduler` and duration `optional` for each kind of `chaos` API.

For the current `chaos` APIs, I would like to separate them into 3 kinds to talk about by different user cases.

###

[2020-01-23 04:22] Yisaer commented on #171
cc @zhouqiang-cl @cwen0 @YangKeao

[2020-01-23 04:38] zhouqiang-cl commented on #171
Did we need made duration chaos also triggerable, such as a HTTP API trigger duration chaos, another HTTP API stop the chaos

restLGTM

[2020-01-23 04:43] Yisaer commented on #171
Not suggested, it would be much complex for users and developers if we mix both `trigger chaos` and `duration chaos`.

[2020-01-23 05:07] zhouqiang-cl commented on #171
then LGTM

[2020-01-23 05:32] cwen0 commented on #171
@Yisaer Good job,  I think `HTTP API ` is not necessary at present, first, we can try to implement ` immediate job` and we can try to extend the scheduler structure, such as implementing other trigger methods in the future, such as callback.

[2020-01-23 05:34] Yisaer commented on #171
@cwen0  I agreed. Currently, duration chaos is more important.

[2020-01-23 05:38] cwen0 commented on #170
@yeya24 looking forward to your proposal, In fact, we really want to rewrite the current dashboard with TypeScript. 😂It's just my personal idea.

[2020-01-23 12:51] yeya24 commented on #170
I am busy with some other stuff so I don't think I have time to write it recently. And to be honest, I am not sure how to design it, maybe we need more discussioin

[2020-01-26 02:53] gaocegege commented on #156
Seems like that but other controllers (I deployed about 10 third party CRD operators) are working well.

[2020-01-27 21:25] yeya24 commented on #148
I don't think it is a good pattern to use pushgateway like tikv. A http /metrics endpoint is good enough.

[2020-01-28 01:08] yeya24 commented on #148
I think I can contribute to this as well since I am familiar with it.

[2020-01-29 04:14] #161 closed

[2020-01-29 04:15] zhouqiang-cl commented on #156
@cwen0 PTAL again

[2020-01-29 10:21] zhouqiang-cl commented on #148
I think pushgateway is not fit for us, Now tikv already remove pushgateway too

[2020-01-30 06:19] Yisaer opened #173 "Check CRD in CI"
## Bug Report
I found that there existed difference between origin `crd` files and the `crd` files auto-generated by the API spec after I execute the `make manifests` in master branch (7bccfb1). I think we need to add checking `crd` in CI to make sure the `crd` would be latest.

**What did you do?**

**What did you expect to see?**
After I execute the `make manifests`, there won't be any differenc

[2020-01-30 06:23] Yisaer commented on #173
And the executing `make yaml`  also had the same problem.

[2020-01-30 06:24] Yisaer commented on #173
cc @zhouqiang-cl  @cwen0  @mahjonp

[2020-01-30 09:00] zhouqiang-cl commented on #173
@YangKeao PTAL

[2020-01-31 11:07] zhouqiang-cl commented on #171
@Yisaer  The pr #172 is a great milestone, since it have been merged. could you update readme.

[2020-01-31 11:10] Yisaer commented on #171
@zhouqiang-cl  #172 is the first step for this feature, I think we can update the `README.md` after
 finishing the rest logic in controller for each kind of duration chaos.

[2020-01-31 11:11] zhouqiang-cl commented on #171
@Yisaer Got

[2020-01-31 11:57] zhouqiang-cl opened #174 "Proposal: Enhance Chaos-Dashboard"
Since we have a visualized panel in chaos dashboard now support chaos experiment on TiDB. But it is not a common usage for chaos engineering. Maybe we can enhance chaos dashboard into three stage
## stage 1
Record chaos events and summary chaos metrics

- record crds metrics #148
- record each chaos's action #162
- aggregation the events by namespace
- add frontend for these metrics, it maybe like

[2020-01-31 12:13] zhouqiang-cl commented on #174
@Yisaer  @yeya24 How about your opinion

[2020-02-02 03:02] zhouqiang-cl commented on #162
Also need show how many times it trigger, the trigger time and some description message

[2020-02-02 04:10] cwen0 commented on #156
We may need more retry operations

[2020-02-02 10:05] #157 closed

[2020-02-02 10:13] zhouqiang-cl commented on #156
@gaocegege can you help to add some retry 😄

[2020-02-02 11:04] mahjonp opened #178 "UCP: Use the namespace of chaos object as the namespace selector if the namespaces selector was unset"
## Description

At present, the organization of chaos crd and the system under test(SUT) is not very friendly.

Refer to documents of chaos-mesh, crds are placed in the [chaos-testing](https://github.com/pingcap/chaos-mesh/blob/4613209daea617519adb00d6ea596b270874b906/examples/pod-failure-example.yaml#L5) namespace, There are currently 2 problems:
* There is currently no intuitive way to see which

[2020-02-02 11:32] mahjonp opened #179 "UCP: Add protect policy to prevent the injected system from being unintentionally damaged"
## Description

For example, after you inject ‘pod-kill’, the target pods are killed but they cannot return to the ‘Running’ state in time due to some reasons. Yet the pod-killing action continues. So all the pods might be under unhealthy status after a while and the overall system is somehow disrupted.

Add protection mechanism to avoid similar situations for pod-kill or other chaos crds:
- block

[2020-02-02 15:46] YangKeao commented on #178
So, the requested feature is to automatically validate through webhook or something to ensure that chaos rules are placed in the same namespace with its objects? @mahjonp

[2020-02-03 01:29] mahjonp commented on #178
Yeah, that's what I mean.

[2020-02-03 03:18] YangKeao commented on #167
As `QdiscAdd` was defined in [`qdisc_linux.go`](https://github.com/vishvananda/netlink/blob/master/qdisc_linux.go), it cannot be compiled on macos.

@cwen0 have you tried `make test` on macos?

If we add `$(GOENV)` at the beginning of `$(GOTEST)`, will it fix this issue ?

[2020-02-03 04:58] YangKeao opened #180 "Add delay for specific target pods"
## Feature Request

**Describe the feature you'd like:**

Now when we apply delay/corrupt... netem chaos to pods, all connection to these pods will be affected. However, I need to influence only connection between chaos pods and specified pods.

**Implementation:**

1. Use `tc filter`(`netlink` filter API) we can apply netem on specific ips

2. We can also use `ipset` to specify ips simply as `tc`

[2020-02-04 04:39] cwen0 commented on #167
I will try it on macos

[2020-02-04 04:47] YangKeao commented on #173
CI will check this now :rocket:

CI will check whether there are any difference after `make fmt` and `make yaml`. Difference in `go.mod` and `go.sum` is ignored.

[2020-02-04 04:47] #173 closed

[2020-02-04 07:59] cwen0 commented on #167
[code]
`make test` will report other error

[2020-02-04 09:07] YangKeao opened #189 "UCP : Use a real image for fake image"
## Description

Currently, in pod-failure, we use a non-existing image (fake image) to update the current container image. In this way, we can make the pod unusable.

But at the same time, there is a problem with this approach.  The restart time will accumulate to infinity. So we should use other methods. For example,  We can use `k8s.gcr.io/pause` or an empty image as a fake image.

## Score

50

[2020-02-04 10:16] zhouqiang-cl commented on #189
can it meet network issues

[2020-02-04 11:38] AngleNet commented on #62
HI, I am pleased to work on this feature. Can you make this more specific? In my opinion, chaos-operator communicate between each other via GRPC synchronously. A GRPC has to finish with a deadline argument. If not, it should be aborted. Am I right about this? @YangKeao @zhouqiang-cl

[2020-02-04 11:44] YangKeao commented on #167
@cwen0 Oops. Surely it will report error because the executable format is different between darwin and linux.

Should we support test on mac os?

We can split `netem.go` into `netem_linux.go` and `netem_darwin.go`(without implementation). So that these test can be compiled on mac os .

[2020-02-04 12:59] YangKeao commented on #62
@AngleNet Yes! Now NetworkChaos and ChaosFS use grpc to communicate.

`NetworkChaos` (both netem and partition chaos) use grpc to connect to chaos-daemon. And `IoChaos` use grpc to connect to chaosfs. You can find them in `/controllers/iochaos` and `controllers/networkchaos`

[2020-02-04 13:20] #143 closed

[2020-02-04 13:25] #167 closed

[2020-02-04 14:15] AngleNet commented on #62
OK. I will work on this. Can you assign this to me in case of duplicate work ?

[2020-02-05 02:33] cwen0 commented on #178
I think this requirement is a bit strict because it is possible that the chaos objects involves multiple namespaces.

[2020-02-05 02:40] cwen0 commented on #179
@mahjonp I agree with your opinion and this required feature is useful for the user.

[2020-02-05 02:51] cwen0 commented on #126
this issue is caused by the data directory of the application, detail refers [faqs](https://github.com/pingcap/chaos-mesh/blob/master/doc/faqs.md#q-chaosfs-sidecar-container-run-failed-and-log-shows-pid-file-found-ensure-docker-is-not-running-or-delete-tmpfusepid), the delete command is hanging, because the chaos action is failed and we we recorded the target pod to finalizers of this chaos object

[2020-02-05 02:51] #126 closed

[2020-02-05 03:12] cwen0 opened #192 "Proposal: Add a quick deployment script for using chaos mesh locally"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, chaos mesh deployment steps and dependencies are too many, it is difficult for users to get started quickly.

**Describe the feature you'd like:**

we need a quick deployment script for using chaos mesh locally. In this script:
* check Kubernetes cluster
* use kind or minikube to deploy Kubernetes c

[2020-02-05 04:02] cwen0 opened #193 "Support using plugins to extend scheduler"
## Description

Sometimes we need to customize our selector. For example, when our cluster has multiple pds, we just want to inject the failure to the leader.

We can provide a plugin to extend the selector, and users can implement their own selector through code. For example, we implement a file called pd-selector.go, we can set it in the selector

[code]

## Recommended Skills

* Golang
* [CRD](

[2020-02-05 04:16] zhouqiang-cl commented on #193
Make sense!!!

[2020-02-05 13:15] zhouqiang-cl opened #199 "Add grpc client to test network connection"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes we found chaos-daemon can not receive requests. we need to debug it, but our server is grpc server, then we need a client to test if the request can be send to chaos-daemon.
Maybe https://github.com/fullstorydev/grpcurl is enough

**Describe the feature you'd like:**

None

**Describe alternatives you

[2020-02-06 06:48] linda01232003 commented on #146
when I use NetworkChaos  to my exsit istio system ,I find it didn't work.
I expect ping pod ip will delay,but it not delay。
After a while I found my controller inject istio sidecar，I guess it intercept the NetworkChaos  Inject。
The  chaos-daemon log shows that：
kubectl log  chaos-daemon-fzjjg -c  chaos-daemon -n chaos-testing
log is DEPRECATED and will be removed in a future version. Use logs inst

[2020-02-06 08:16] #62 closed

[2020-02-06 08:21] zhouqiang-cl commented on #146
@linda01232003 thank you for your information

[2020-02-06 11:21] Yisaer opened #200 "Expose annotation setting in helm chart"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We could expose annotation setting in helm chart so that we can let the users configure their own annotations settings for `controller` / `daemonset` and `webhook` and their pod template.

And this would be helpful for `Chaos-Mesh` to run with `Istio` as I mentioned [here](https://github.com/pingcap/chaos-mesh/

[2020-02-06 11:31] Yisaer commented on #146
Hi @linda01232003,
AFAIK, there are 2 ways to help you to avoid `Istio` inject sidecar into `Chaos-Mesh`.
The first way is to remove the label of the namespace by:

And the second way is to annotate the pod with `sidecar.istio.io/inject: "false"` which I had created to issue to help this. https://github.com/pingcap/chaos-mesh/issues/200

[2020-02-06 15:07] #151 closed

[2020-02-07 03:39] AngleNet commented on #162
HI. Is there anyone working on this issure ? If not, I am willing to contribute. @Yisaer @zhouqiang-cl

[2020-02-07 03:40] Yisaer commented on #162
@AngleNet  Thanks, feel free to work on this issue.

[2020-02-07 04:17] AngleNet commented on #162
Any implementation hints for this issue ? @Yisaer @zhouqiang-cl

[2020-02-07 06:14] Yisaer commented on #162
@AngleNet  ChaosMesh is built based on the KubeBuilder.  Here is the document about the `Events` in KubeBuilder. I think this would help you.

https://book-v1.book.kubebuilder.io/beyond_basics/creating_events.html

[2020-02-07 09:18] #199 closed

[2020-02-08 00:30] yeya24 commented on #148
Metrics for Chaos-daemon are necessary as well. Several steps we need to implement that.

1. Add a HTTP endpoint `/metrics` to chaos-daemon, expose some basic metrics first. Like go and process metrics
2. Add Grpc metrics, we can use https://github.com/grpc-ecosystem/go-grpc-prometheus
3. Add other custom metrics

[2020-02-08 03:51] zhouqiang-cl commented on #148
Agree with @yeya24 , And maybe we should start a prometheus for Chaos Mesh(not using the system)

[2020-02-08 12:15] zhouqiang-cl commented on #3
I will close this issue. If there are anything still need todo, then we can reopen it

[2020-02-08 12:15] #3 closed

[2020-02-08 12:18] zhouqiang-cl commented on #112
@cwen0 will create a script to wrapper this https://github.com/pingcap/chaos-mesh/issues/192

[2020-02-08 12:30] zhouqiang-cl opened #207 "[Discuss] Should we retry when applying chaos or canceling chaos failed?"
In some situation, we may occur some kinds of error, such as network error.
When the chaos-operator 's communication with chaos-daemon is broken, there are some case list below:
- Chaos action create fail(means chaos not happend)
- Chaos action recover fail(means chaos action can not recover, alway in chaos)

How should we handle this situation. Did we need to using retry here. what about your opi

[2020-02-09 01:41] AngleNet commented on #207
In my opinion, retry-pattern will increase complexity of the chaos implementation which leads more bugs. For a user, it could be difficult to add a satisfied chaos which complies with the retry-pattern agreed with project members liky you guys. For a chaos injection platform, availablity is less important. A chaos action should fail fast and detailly. Even futher, we could also provide recovery su

[2020-02-09 01:46] AngleNet opened #211 "[Question] Does chaos-mesh plan to support chaos injection for other exection environments such as CPP or JVM ?"
There are also a large number of applications running on the dedicated OS. For those applications, K8s is to too heavy to get started. Maybe a simple chaos injection sandbox could be provided.

[2020-02-09 03:22] zhouqiang-cl commented on #207
Agree !!! @cwen0 @Yisaer PTAL

[2020-02-09 03:27] zhouqiang-cl commented on #211
@AngleNet Chaos Mesh will not support non K8s environment. But we have write a document for command line chaos(for non K8s environment). That will come out in 2 or 3 days

[2020-02-09 03:44] AngleNet commented on #211
Great !!!

[2020-02-09 04:30] zhouqiang-cl commented on #207
@AngleNet Then maybe we just need add some metrics https://github.com/pingcap/chaos-mesh/pull/210 and show it in dashboard

[2020-02-09 05:28] #200 closed

[2020-02-09 05:57] zhouqiang-cl commented on #156
We will add metrics https://github.com/pingcap/chaos-mesh/pull/210  and no more retry due to https://github.com/pingcap/chaos-mesh/issues/207
So. I will close this issue. If there are still anything abnormal, please reopen this issue @gaocegege

Thank you very much

[2020-02-09 05:58] #156 closed

[2020-02-09 06:25] gaocegege commented on #156
@zhouqiang-cl Thanks. Sorry for the late reply. I was busy on some other work about https://github.com/kubeflow/katib, sorry that cannot help.

[2020-02-09 10:30] zhouqiang-cl opened #213 "proposal: Make dashboard show chaos-daemon's metrics"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When https://github.com/pingcap/chaos-mesh/pull/210 is merged, we can get the metrics of chaos daemon. I think we can show the metrics in Chaos Dashboard

**Describe the feature you'd like:**

Maybe just in grafana

**Describe alternatives you've considered:**

Write a dashboard like kubenetes's dashboard or ju

[2020-02-09 10:45] #72 closed

[2020-02-09 13:35] zhouqiang-cl commented on #211
@AngleNet The doc is here [Command line Chaos]( https://github.com/pingcap/tipocket/blob/master/doc/command_line_chaos.md)

[2020-02-09 14:16] AngleNet commented on #211
Looks good. Can we put a reference on docs of this project.

[2020-02-09 15:15] zhouqiang-cl commented on #211
Yes. of cause. I will add a link

[2020-02-10 02:21] cwen0 commented on #207
Yes, we can add a field to control the error handling method, such as setting a retry field, and if we do not use the retry method, if we encounter an error, we should also try to cancel chaos.

[2020-02-10 04:01] yeya24 commented on #213
I think we need a Prometheus first

[2020-02-10 04:11] zhouqiang-cl commented on #213
Of cause!!!

[2020-02-10 04:37] zhouqiang-cl commented on #148
@yeya24 will you help to add metrics for chaos CRDs? thank you very much

[2020-02-10 04:38] zhouqiang-cl commented on #213
@yeya24 will you take this issue?

[2020-02-10 04:43] yeya24 commented on #213
I can help add a Prometheus first.
But for Grafana, I am not sure about the current architecture. Seems we have one Grafana per namespace?

[2020-02-10 04:45] yeya24 commented on #148
Yes, but maybe later. I have checked the logic in the inner reconciling, but currently, I don't come up with a good, general way for the existing CRD controllers,  since each one has its own logic.

[2020-02-10 05:04] zhouqiang-cl commented on #148
@yeya24 take your time 😝

[2020-02-10 05:06] zhouqiang-cl commented on #213
We inject each namespace a Grafana, which I thank we maybe need abandon later. I think we should also add a Grafana here. @YangKeao what's your opinion

[2020-02-10 05:43] YangKeao commented on #213
If we need to present `chaos-daemon`'s metrics, I think we only need to add one grafana and prometheus (and related services) in chaos-mesh's namespace so that we can access it directly.

As the current structure of `chaos-dashboard` is quite ugly and highly specialized for TiKV (which means it will be refactored definitely), it's not necessary to add this in `chaos-dashboard`. @zhouqiang-cl  @cwe

[2020-02-10 05:43] zhouqiang-cl commented on #211
@cwen0 Could you find a place to link this doc

[2020-02-10 05:48] zhouqiang-cl commented on #213
Yes. I agree

[2020-02-10 05:56] zhouqiang-cl commented on #213
I agree too. `chaos-dashboard` need refine later

[2020-02-10 09:26] zhouqiang-cl commented on #207
@cwen0  can you file an issue about this?

[2020-02-10 12:10] #211 closed

[2020-02-10 12:16] Yisaer commented on #207
Retrying reconciling is ok to me. But in my previous experience, If the reconciling is failed for the first time, it would possibly fail again in the next several times.
I think it's better to set retrying threshold to limit the retrying count or interval duration and record it in the chaos API status and event and let the users to handle the problem.
@zhouqiang-cl @cwen0

[2020-02-10 12:22] Yisaer opened #216 "[Feature Request] Add simple IOChaos example with mysql"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

I think adding a simple IOChaos example with mysql (or other common databases / file system) would be user-friendly and helpful for community users to try ChaosMesh. Current example with `Tikv` for users is to complex to have a first quick trial.

[2020-02-10 12:23] zhouqiang-cl commented on #216
Make Sense

[2020-02-10 12:23] Yisaer commented on #216
And this is also necessary to #214 because of lack of method to test.

[2020-02-10 12:25] zhouqiang-cl commented on #211
@AngleNet already linked

[2020-02-10 14:30] yeya24 commented on #216
I can take this one if no one is currently working on it.
I plan to add:
1. mysql iochaos
2. prometheus iochaos

[2020-02-10 15:07] zhouqiang-cl commented on #216
thank you very much😄

[2020-02-11 00:06] adurai81 opened #218 "Error while installaing chaos-mesh: "tls: failed to find any PEM data in certificate input""
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
[code]

**What did you expect to see?**

[code]

**What did you see instead?**
[code]

**More Information**
[code]

[2020-02-11 01:35] zhouqiang-cl commented on #218
@adurai81 could you make title more clear and provide details description, thank you

[2020-02-11 02:24] c4pt0r opened #219 "Install chaos-mesh failed in MacOS with kind"
[code]

[2020-02-11 02:25] c4pt0r commented on #219
And I tried start again, also failed

[code]

[2020-02-11 02:29] adurai81 commented on #218
Sorry I was not going to submit it yet & my keyboard played a role.

I'll submit this in few mins.

Thanks for replying

On Mon, Feb 10, 2020 at 5:35 PM zhouqiang <notifications@github.com> wrote:

[2020-02-11 02:33] yeya24 opened #220 "Support mmap syscall in chaosfs"
## Feature Request

**Is your feature request related to a problem? Please describe:**

chaosfs cannot support mmap syscall currently. So when I tried iochaos with Prometheus, it fails to start because mmap syscall is failed.

[code]

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-02-11 02:36] adurai81 commented on #218
Hi Zhouqiang,

Can you pls take a look at it now -
https://github.com/pingcap/chaos-mesh/issues/218

Thanks
Aravind.

On Mon, Feb 10, 2020 at 6:28 PM Aravindhan Durai <aravindhan1@gmail.com>
wrote:

[2020-02-11 02:37] adurai81 commented on #218
BTW, I'm attempting to deploy this on to `KIND` cluster

[2020-02-11 02:48] cwen0 commented on #219
@c4pt0r can you exec the following command to show the status of `Tiller` ?
kubectl get pod --namespace kube-system | grep tiller
[code]

[2020-02-11 03:00] zhouqiang-cl commented on #218
@adurai81 got, we will take a look

[2020-02-11 03:08] AngleNet commented on #211
Wonderful. Sorry for the delay.

[2020-02-11 03:16] AngleNet commented on #207
Sorry for the delay. Yes. We should report the failure via Event and Dashboard both according to @Yisaer .

[2020-02-11 03:24] fewdan commented on #219
This situation may be caused by network problems. Due to GFW, network problems may occur when pulling the "tiller" image.
After executing the above statement, you can execute:
[code]
Here "tiller-deploy-764b54d8d6-g6hhk" is the pod name, You can modify it according to the actual situation.

[2020-02-11 03:25] AngleNet commented on #207
According to @Yisaer "If the reconciling is failed for the first time, it would possibly fail again in the next several times." If that happens a lot, the threshold could be useless since a good threshold is difficult to predict for a user. However, there maybe some failures that can be recovered by itself. These failures should be retried. Once we doubt about an auto-recoverable failure, we shoul

[2020-02-11 03:33] zhouqiang-cl commented on #220
@ethercflow PTAL

[2020-02-11 07:06] cwen0 commented on #218
@adurai81 Can you check your certificates with the following command?
[code]

[2020-02-11 07:46] adurai81 commented on #218
I had deleted `KIND` between when I reported the issue and now. Hence I had to redo the steps. But then now I don't see the same issue. Could it be intermittent ?

This is what you had asked for -

[code]

[2020-02-11 07:57] zhouqiang-cl commented on #218
Hi, @adurai81  Is it ok now? did you install success?

[2020-02-11 08:02] adurai81 commented on #218
@zhouqiang-cl I can say I'm not seeing the same error as below. This is what `kubectl get all -n chaos-testing` get me. Does it look good to you ?

[code]

[2020-02-11 08:33] zhouqiang-cl commented on #218
Yes. It looks good to me

[2020-02-11 08:54] cwen0 commented on #218
From this information, the Chaos Mesh is normal, and I have not been able to reproduce the previous error in my environment. From the previous error message, I suspect that the error is caused by the Kubernetes environment, but there is no evidence to prove it at present.

[2020-02-11 11:58] zhouqiang-cl commented on #207
sorry for late reply. LGTM, I think we can first report the failure via Event and Dashboard

[2020-02-11 12:17] zhouqiang-cl opened #221 "Make cert a long time"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now the cert of Chaos Mesh is only 1 year. We should make it for a long time. The create cert script is here [post-install-create-cert-job.yaml](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/templates/post-install-create-cert-job.yaml)

**Describe the feature you'd like:**

**Describe altern

[2020-02-11 12:30] #221 closed

[2020-02-11 19:08] adurai81 commented on #218
Thanks, Closing this. Will re-open if I see it again.

[2020-02-11 22:28] yeya24 opened #223 "wait-fuse.sh failed in etcd"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I tried to do iochaos to etcd container with the given [etcd-configmap](https://github.com/pingcap/chaos-mesh/blob/master/examples/chaosfs-configmap/etcd-configmap.yaml). But it shows
[code]

Seems `/bin/sh` doesn't support `-o pipefail`, ref: https://ideas.circleci.com/ideas/CCI-I-858.

Considering that so man

[2020-02-11 22:48] yeya24 commented on #223
For reproducing:
etcd-deployment.yml
[code]

etcd-configmap

[code]

annotate namespace
[code]

[2020-02-12 00:16] yeya24 commented on #223
Met the same problem with Mysql. My current work-around is removing this line `set -eo pipefail`. But this is not a good way I believe. Any ideas?

[2020-02-12 01:43] zhouqiang-cl commented on #223
@cwen0 PTAL

[2020-02-12 04:11] cwen0 commented on #223
@yeya24 `wait-fush.sh` is used by application container,  adding bash to `chaos-script` image can't solve this issue.  In the future, when the sidecar container is supported by Kubernetes 1.18 https://github.com/kubernetes/enhancements/issues/753, this script can be removed. At present.  we maybe need to optimize this script to make it work for most cases.

[2020-02-12 04:17] yeya24 commented on #223
@cwen0 Thanks for clarifying! SO is there any available workaround for this? This problem blocks #216 I think.

[2020-02-12 04:41] #207 closed

[2020-02-12 04:42] cwen0 commented on #223
I think we can handle this issue temporarily by removing `-o pipefail` . Do you have any good suggestions on this issue?

[2020-02-12 04:58] yeya24 commented on #223
No, so if it is okay I will remove that line first.

[2020-02-12 05:03] zhouqiang-cl commented on #223
It is OK

[2020-02-12 05:34] #216 closed

[2020-02-12 05:39] #223 closed

[2020-02-12 13:32] #147 closed

[2020-02-12 15:56] #163 closed

[2020-02-12 16:16] cwen0 opened #227 "UCP: Make deleting chaos objects more elegant and not blocked by finalizers"
## Description

At present, we use finalizers to prevent chaos action residues when a chaos object is deleted. Why do chaos action residues occur? Under normal circumstances, after we apply chaos successfully, we will add a [finalizer](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers) to the corresponding chaos object. When we execute

[2020-02-13 01:15] AngleNet commented on #207
Report to Event will be done along with #162 solved.

[2020-02-13 01:42] #192 closed

[2020-02-13 07:42] zhouqiang-cl opened #231 "install.sh has some error output"
## Bug Report

**What did you do?**

run `./install.sh --local kind` in a vm server

**What did you expect to see?**
everything is OK.

**What did you see instead?**
The detail log is here
[code]

[2020-02-13 08:03] zhouqiang-cl commented on #162
@AngleNet Did things goes well, or did you need more docs?  no rush

[2020-02-13 08:37] AngleNet commented on #162
I'm still working on it. It is a little bit busy for now. I will try my best to open the PR in this week. I will let you know if I need more help. Thanks ~~~

[2020-02-13 08:54] zhouqiang-cl commented on #162
That's OK. thank you. take your time

[2020-02-13 13:13] #231 closed

[2020-02-13 14:52] #123 closed

[2020-02-14 12:03] #138 closed

[2020-02-14 15:28] Yisaer commented on #171
I think this issue should be reopened to track the validation admission webhook .

[2020-02-14 18:18] cwen0 opened #237 "Support cert-manager for certificate management"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some users may provide their own certificates, it's better to use cert-manager to manage the certificates. It's more mature and has many features we need. On the other hand, cert-manager may be the default in the K8s world now.

**Describe the feature you'd like:**

Integrate [cert-manager](https://github.com/j

[2020-02-14 18:34] cwen0 opened #238 "Enable pprof in all conponents of Chaos Mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes we need to locate some Chaos Mesh issue, such as performance, memory leaks, etc. I think `pprof` can help us. So I recommend enabling `pprof` in all components of chaos-mesh

[2020-02-14 18:52] yeya24 commented on #238
I think I can take this one. But may I ask what do you mean by `all components`? What does it include? Does it include `chaos-dashboard` and `chaos-fs`?

[2020-02-14 18:53] cwen0 opened #239 "Support to inject IOChaos to different components in one namespace"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes, we need to inject IOChaos to pd and tikv, but we only support set one configmap by the following comment:
[code]

**Describe the feature you'd like:**

Chaos Mesh support to inject IOChaos to different components in one namespace.
such as:

[code]

We can apply the above two files at the same time an

[2020-02-14 19:13] cwen0 opened #240 "Show the chaos result on the status field of Chaos Object"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I think we should be able to get the experimental results from the status of chaos object. Currently, we just record very little information on the status field and can't show the current experimental results well.  I think we should refactor the status filed on each chaos object.

**Describe the feature you'd

[2020-02-14 21:25] zhouqiang-cl commented on #238
@yeya24 I think manager and daemon is enough

[2020-02-14 21:29] yeya24 commented on #238
In controller-manager, do we want to use the metrics port for pprof as well?

[2020-02-14 23:43] yeya24 commented on #158
May I ask that why don't directly use host network in chaos-daemon?

[2020-02-15 00:14] zhouqiang-cl commented on #238
I think we can

[2020-02-15 04:07] zhouqiang-cl commented on #171
Maybe we should change the title?

[2020-02-15 13:06] zhouqiang-cl opened #242 "Test Chaos Mesh on ARM platform"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We need to ensure Chaos Mesh also works on arm platform. So we need to test it

**Describe the feature you'd like:**

Test it on arm platform. if have any problem, we should solve it

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

None

[2020-02-15 13:42] zhouqiang-cl opened #243 "Network Chaos support groups of pods from one another"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When we have multi IDC, then we need support groups of pods from one another

**Describe the feature you'd like:**

Such as there are two group of pods.
[code]
Then the latency from any pod of group1 to group2 is 100ms

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption,

[2020-02-15 15:07] yeya24 commented on #114
I believe this should be part of the new chaos-dashboard backend.

[2020-02-15 15:26] Yisaer commented on #162
@AngleNet You don't have to add event in all controllers. Only create the event recorder in Controller would also helpful for us.
Then the developers could add events in each controller in parallel.

[2020-02-16 02:47] zhouqiang-cl commented on #114
Yes, it should be 👍

[2020-02-16 02:51] zhouqiang-cl commented on #114
We also need to give a design proposal for the APIs(what really do we need)

[2020-02-16 06:16] AngleNet commented on #162
Alright. Will file a PR only for event recorders.

[2020-02-16 11:55] zhouqiang-cl commented on #114
@yeya24 I have remove the `good first issue`. We will design for this. Once the design proposal is over, we will add the label `good first issue` again

[2020-02-16 15:41] Yisaer opened #246 "Let twophase controller to control the schedule pod/contrainer kill chaos."
## Feature Request

**Is your feature request related to a problem? Please describe:**

Let twophase controller to control the schedule pod/contrainer  kill chaos.

[2020-02-17 05:00] Gallardot commented on #237
I'd like to try this issue.Currently, a post-install hook is used to perform the create-cert job and install mutatingwebhook job.I think we can use an option to use cert-manager to do the same thing.

[2020-02-17 09:49] cwen0 commented on #237
@Gallardot Thanks, feel free to work on this issue. I agree with your option.

[2020-02-17 09:49] zhouqiang-cl commented on #237
@Gallardot thank you

[2020-02-17 15:00] yeya24 commented on #239
I think I can take this one if nobody is working on it currently.

[2020-02-17 15:52] #238 closed

[2020-02-17 16:17] cwen0 commented on #239
@yeya24 but the sidecar needs to be injected when the pod created and we can't set the annotation before creating the pod.

[2020-02-17 16:26] yeya24 commented on #239
Sorry I didn't get your point. You mean which sidecar? chaos-fs? Why it needs to be injected?

[2020-02-18 01:52] cwen0 commented on #239
Yes, `chaos-fs` is designed as a sidecar, because `chaos-fs` need to run with the application container and mount the data directory of the application with `fusemount`

[2020-02-18 12:39] #131 closed

[2020-02-18 13:25] Gallardot commented on #237
I'm working on this issue. But I have some questions.

"Integrate" cert-manager or "Use" cert-manager?

For integration, the charts of chaos-mesh need to dependencies on the charts of cert-manager. If we install chaos-mesh, the cert-manager will be installed synchronously.

If we just use it, I think we just need to have some documentation on how to install cert-manager, such as the official cert-

[2020-02-18 15:12] zhouqiang-cl opened #258 "[Discuss] Improve Chaos Mesh code quality"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now. we did not have enough tests. So we can not measure the code quality of Chaos Mesh itself.
More we can not ensure the quality of our code.

**Describe the feature you'd like:**

-  Improve unit test code coverage
-  Add failpoint to cover what unit test can not cover
-  Make e2e test cover what unit test a

[2020-02-18 15:29] cwen0 commented on #237
I also think we just `use` it. When Chaos Mesh support to use ` cert-manager`, the document about how to use `cert-manager`  does need to be added and we can add a link about how to install cert-manager in this doc.

[2020-02-18 15:44] Gallardot opened #259 "After delete configmap, still inject sidecar."
## Bug Report

**What version of Kubernetes are you using?**

v1.17.2

**What did you do?**

After install chaos-mesh on chaos-testing namespace
I use the etcd example for the iochaos.

[code]

We can inject sidecar to the etcd's pod. So far so good,but

[code]

After restart the ectd deployment,I find that we still inject sidecar to the etcd's pod. But why？

[code]
After this，we can not  inject s

[2020-02-18 16:07] cwen0 commented on #259
@Gallardot Thanks for your feedback. Sometimes, the user may delete the ConfigMap by mistake, but this configmap is still used by some experiments, which may cause many experiments to fail. And we has provided a switch to control the chaos experiment. So I think removing ConfigMap should not be used as a switch to control whether IOChaos is injected

[2020-02-19 02:31] Gallardot commented on #259
@cwen0  Thank you for reply. The switch to control whether sidecar is injected is the admission-webhook label of namespace.   I got it.

[2020-02-19 02:31] #259 closed

[2020-02-19 03:37] zhouqiang-cl opened #260 "[Improve Code Quality] Add Unit test in `api/v1alpha1`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Ensure to make Chaos Mesh  measur code high quality. we should first add more unit tests

The `api/v1alpha1` code coverage is 23%. we can add more unit test here.
[detail](https://codecov.io/gh/pingcap/chaos-mesh/tree/master/api/v1alpha1)
<img width="1142" alt="屏幕快照 2020-02-19 上午11 44 40" src="https://user-imag

[2020-02-19 05:51] Yisaer commented on #246
supported in #244

[2020-02-19 05:51] #246 closed

[2020-02-19 07:33] zhouqiang-cl opened #261 "[Improve Code Quality] Add Unit test in `controllers/common`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Ensure to make Chaos Mesh measur code high quality. we should first add more unit tests

The `controllers/commom` did not have any test now. We can first improve it to 50%

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Stra

[2020-02-19 07:38] zhouqiang-cl opened #262 "[Improve Code Quality] Add Unit test in `controllers/iochaos`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Ensure to make Chaos Mesh measur code high quality. we should first add more unit tests

The `controllers/commom` did not have any test now. We can first improve it to 50%

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Stra

[2020-02-19 07:41] zhouqiang-cl opened #263 "[Improve Code Quality] Add Unit test in `controllers/networkchaos`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Ensure to make Chaos Mesh measur code high quality. we should first add more unit tests

The `controllers/networkchaos` did not have any test now. We can first improve it to 50%

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migratio

[2020-02-19 07:44] zhouqiang-cl opened #264 "UCP: Add Unit test in `controllers/podchaos`"
## Description

Ensure to make Chaos Mesh measure code high quality and more usablity. we should first add more unit tests

The `controllers/podchaos` did not have any test now. We can first improve it to 50%

## Score
* 50

## Mentor(s)
* @fewdan

## Recommended Skills

* Golang

## Learning Materials

* [Unit test of chaos-mesh](https://github.com/pingcap/chaos-mesh/tree/master/pkg/chaosdaemon)

[2020-02-19 07:59] zhouqiang-cl opened #265 "UCP: Add Unit test in `controllers/timechaos`"
## Description

Ensure to make Chaos Mesh measure code high quality and more usablity. we should first add more unit tests

The `controllers/twophase` did not have any test now. We can first improve it to 50%

## Score
* 50

## Mentor(s)
* @fewdan

## Recommended Skills

* Golang

## Learning Materials

* [Unit test of chaos-mesh](https://github.com/pingcap/chaos-mesh/tree/master/pkg/chaosdaemon)

[2020-02-19 08:01] zhouqiang-cl opened #266 "UCP: Add Unit test in `controllers/twophase`"
## Description

Ensure to make Chaos Mesh measure code high quality and more usablity. we should first add more unit tests

The `controllers/twophase` did not have any test now. We can first improve it to 50%

## Score
* 50

## Mentor(s)
* @fewdan

## Recommended Skills

* Golang

## Learning Materials

* [Unit test of chaos-mesh](https://github.com/pingcap/chaos-mesh/tree/master/pkg/chaosdaemon)

[2020-02-19 14:02] oraluben commented on #155
This will be partially resolved by [#247](https://github.com/pingcap/chaos-mesh/pull/247)

[2020-02-19 16:01] zhouqiang-cl commented on #155
yes yes

[2020-02-20 13:32] #258 closed

[2020-02-20 14:57] Yisaer opened #269 "[Proposal] A New Design for Control Layer Controller"
During my work in realizing [common chaos controller](https://github.com/pingcap/chaos-mesh/pull/175) and supporting [pod/container-kill controlled by twophase controller](https://github.com/pingcap/chaos-mesh/pull/244), I found that the `common chaos ` controller and `twophase` controller have lots of redundant code and their logic is kind of simliar.

Let's take a look on the current control lay

[2020-02-21 07:40] YangKeao commented on #269
I think the complexity in current design doesn't come from status management. In your proposal's implementation, there will be two controllers. But in current implementation, we can also shrink to three controllers: `common`, `twophase` and a `job` controller, and the logic is much clearer.

As how we can do this, you can see code in [`chaos-dashboard`](https://github.com/pingcap/chaos-mesh/blob/m

[2020-02-21 07:50] YangKeao commented on #269
If I didn't misunderstand your opinion, this issue can be split into two parts:

1. Reduce the complicate/redundant controller logic.

2. Use new status management.

I think the first is much necessary and helpful for our development while the second one is not such urgent.

[2020-02-21 08:16] Yisaer commented on #269
First, I agree that refactoring the controller layer logic is not urgent.

Then, reducing the complexity and using new status management is not my point actually. Double Controller Design(in fact, 8, considering 4 kinds of chaos currently)  try to extend the schedule ability by rules on Permitting Performing and Permitting Recovering instead of using Specific controller ( schedule / common) on Spe

[2020-02-21 11:12] Yisaer opened #274 "Support validate chaos obj by admission Webhook"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Add admission webhook to support validate the chaos obj.
For example, `pod-failure`/`network`/`io` chaos 's `schedule` and `duration` should be omitted or defined at the same time.
`container-kill` and `pod-kill` shoudn't defined scheduler property.

[2020-02-21 16:05] oraluben commented on #153
I feel that this tutorial should also have a dashboard to do some visualization.
Ref #170

[2020-02-21 21:42] zhouqiang-cl commented on #153
yichen，this days we are design for dashboard and write a web application demo for it、the web application is ready、the design will come out in few days

[2020-02-23 10:28] cwen0 commented on #274
@Yisaer I don't understand what you mean, Do you mean that `container-kill` / `pod-kill` should not support scheduler fields?

[2020-02-23 11:30] Yisaer commented on #274
My fault, I mean duration propetry

[2020-02-24 11:31] cwen0 commented on #237
@Gallardot How is this task going? 😊

[2020-02-24 11:54] Gallardot commented on #237
@cwen0  Almost done.  I’m writing the docs for this issue. I will create a PR later.

[2020-02-24 18:36] pcod80 opened #278 "Add delay for specific port"
## Feature Request

**Describe the feature you'd like:**
We have different protocol in each pod (http, grpc, db, etc.) and we want to affect each one in different steps to see how system response.

[2020-02-25 03:30] YangKeao commented on #278
We can implement this through netem filter feature (this can also support delay on specific ipset). However, managing multiple netem rules is quite complicate.

A temporary solution is to split  one pod into multiple pod (with different labels). I think running so many different applications in one pod is not a suggested practice.

[2020-02-25 05:41] zhouqiang-cl commented on #162
It solved by @AngleNet . I will close this issue

[2020-02-25 05:41] #162 closed

[2020-02-25 09:10] pcod80 commented on #278
It is the same application with different interfaces (http, grpc, jms, jdbc, etc) and we want simulate saturation in one of them.

[2020-02-25 12:24] AngleNet commented on #145
I'm very interested in this chaos. Any implementation hint or potential solution about this ?

[2020-02-25 14:44] ethercflow opened #283 "Controller receive duplicate chaos request"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
1. [deploy-with-minikube](https://github.com/pingcap/chaos-mesh#deploy-with-minikube);
2. [install-chaos-mesh with Chaos Operator only in docker environment](https://github.com/pingcap/chaos-mesh#install-chaos-mesh);
3. Deploying a cluster/server in Minikube with a different namespace;
4. Run `kubectl apply -

[2020-02-25 14:49] cwen0 commented on #283
@ethercflow Thanks for your response, when applying the chaos action successfully, we will update the chaos and this updating action will call the `reconciler` again.

[2020-02-25 15:03] zhouqiang-cl commented on #278
Maybe we can add another type of chaos(such as port chaos).  but it actually make the rule more complex. @cwen0 what do you think

[2020-02-26 07:52] YangKeao opened #286 "Write document/example about validation hook"
Add validation related part in [`dev_hello_world.md`](https://github.com/pingcap/chaos-mesh/blob/master/doc/dev_hello_world.md) document

[2020-02-26 13:54] zhouqiang-cl commented on #237
@Gallardot thank you for your big contribution. Since the pr is closed. I will close this issue

[2020-02-26 13:54] #237 closed

[2020-02-26 14:20] cwen0 commented on #150
fix in pr #217

[2020-02-26 14:20] #150 closed

[2020-02-26 14:44] zhouqiang-cl commented on #278
@pcod80 We discuss it internally. Now we are lack resources to do the task recently.  But you can add a new type of chaos by yourself. following the [network chaos code](https://github.com/pingcap/chaos-mesh/tree/master/controllers/networkchaos) and [development guide](https://github.com/pingcap/chaos-mesh/blob/master/doc/DEVELOP.md). We very appreciate that if you can do this

[2020-02-26 14:45] #95 closed

[2020-02-26 14:46] #112 closed

[2020-02-26 14:49] zhouqiang-cl commented on #145
@AngleNet sorry for the late update. https://github.com/pingcap/chaos-mesh/pull/273 this pr can do this by bpf

[2020-02-26 14:59] zhouqiang-cl commented on #145
@AngleNet My fault. the bpf inject from kernel and works on slab/alloc/etc. but it not simulate lack of memory
If simulate lack of memory. I think you can inject to the pod and eat some memory of the pod

[2020-02-26 15:30] #154 closed

[2020-02-26 15:31] #155 closed

[2020-02-26 15:48] zhouqiang-cl commented on #145
And stress-ng may be very helpful to do the memory chaos

[2020-02-27 00:18] AngleNet commented on #145
Thank you. I will check that. I'll try to do it.

[2020-02-27 01:58] Gallardot commented on #239
@cwen0
May be we can inject sidecar not only by the annotation “admission-webhook.pingcap.com/init-request”, but also by the selector of iochaos.
But if two iochaos match to the same pod, what do you want? Inject two sidecar? Or only the first one?

[2020-02-27 02:16] zhouqiang-cl commented on #145
@AngleNet Maybe this simple stress is also very good https://github.com/vishh/stress/blob/master/main.go

[2020-02-27 02:33] Gallardot opened #288 "Load dashboard error"
## Bug Report

**What version of Kubernetes are you using?**

K8S v1.17.2
Google Chrome Version 79.0.3945.130 (Official Build) (64-bit)

**What did you do?**

After install the chaos-mesh with dashboard

[code]
Open dashboard using Google Chrome

**What did you expect to see?**
Dashboard should be ok.

**What did you see instead?**

<img width="1196" alt="3C3B7271-74F6-453E-B2F8-FF404D70AFBD" src=

[2020-02-27 03:03] cwen0 commented on #288
@YangKeao PTAL

[2020-02-27 05:16] #283 closed

[2020-02-27 06:45] cwen0 commented on #239
@Gallardot A good question, I ignored this before. I think ` only the first one` is better for the current implementation. In addition, we should report an error if two iochaos match to the same pod. What's your opinion on this issue?

[2020-02-27 07:23] #288 closed

[2020-02-27 07:24] zhouqiang-cl commented on #288
@Gallardot could you try it again

[2020-02-27 08:12] Gallardot commented on #288
thanks for @YangKeao . With the updated PR, and then it works!

[2020-02-27 08:50] Gallardot commented on #239
@cwen0
In my opinion, which one is the first one? It‘s a question. If two iochaos match to the same pod, we should not inject sidecar, just report an error using the event recorder.

In addition, we need to execute a iochaos experiment cross multiple namespace?

[2020-02-27 13:20] zhuboshuai commented on #218
I encounter the same problem

[2020-02-27 15:03] #171 closed

[2020-02-27 15:35] cwen0 commented on #239
@Gallardot I agree with your option.

About this question, we have discussed this internally before. we feel that the namespace selector should be kept in the selector, but if the namespace selector is not set, the namespace of the CRD object is used for filtering pods by default.

[2020-02-27 15:36] cwen0 commented on #178
About this issue,  I think that the namespace selector should be kept in the selector, but if the namespace selector is not set, the namespace of the CRD object is used for filtering pods by default.

[2020-02-28 01:48] cwen0 opened #291 "We should remove the dependence on concrete chaos struct from validation pkg"
## Feature Request

In [validation](https://github.com/pingcap/chaos-mesh/tree/master/pkg/webhook/validation) pkg, the current implementation needs to use the concrete chaos struct ([L65-94](https://github.com/pingcap/chaos-mesh/blob/master/pkg/webhook/validation/validate.go#L65-L94)), which is very unfriendly for developing new chaos type.

**Describe the feature you'd like:**

I think we only ne

[2020-02-28 01:55] cwen0 opened #292 "UCP: Support to set default value of chaos object by AdmissionWebhook"
## Description

When users apply a network chaos, some error may be reported:

[code]

I think To avoid this, we may need `spec.delay.correlation` and `spec.delay.jitter` to be allowed to be unset in NetworkChaos and use a default value.

## Score

* 604.6

## Mentor (s)

@cwen0

## Recommended Skills

* Golang
* Kubernetes

## Learning Materials

* [Development guide of chaos-mesh](https://github

[2020-02-28 02:34] Gallardot commented on #292
+1
As the project evolves, we will have more and more CRDS and more and more fields.

May be we can use [Defaulting](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#defaulting) feature to support this feature request.But Defaulting  feature is alpha at v1.15 and stable at v1.17. It means that K8S V1.15 is the minimum version by chaos-mesh suppor

[2020-02-28 03:02] Gallardot commented on #239
I find that the `SelectPods` method will get pods by labels selector or fields selector in all namespaces if the namespace selector is not set.
https://github.com/pingcap/chaos-mesh/blob/c0eb9aa1aff84a2a3654b768e5b66e448e9bf376/pkg/utils/selector.go#L94-L116

https://github.com/pingcap/chaos-mesh/blob/c0eb9aa1aff84a2a3654b768e5b66e448e9bf376/pkg/utils/selector.go#L355-L359

Is it a misstake?

[2020-02-28 03:06] fewdan commented on #292
@Gallardot However, the required environment for Chaos-Mesh is Kubernetes V1.12. If new features are introduced, you need to upgrade Kubernetes to V1.15.  This is equivalent to increasing environmental requirements. Can we implement the default value ourselves?

[2020-02-28 03:08] cwen0 commented on #239
@Gallardot This is not a mistake. This is the previous design, but now we want to modify this implementation. Would you like to help us implement this?

[2020-02-28 03:09] Gallardot commented on #292
@fewdan
Of course, we also can use MutatingWebhook to implement the default value feature.

[2020-02-28 03:15] Gallardot commented on #239
@cwen0 I think I can have a try. Would you please tell me more details about this please？

[2020-02-28 03:19] cwen0 commented on #239
Let us discuss this in this issue https://github.com/pingcap/chaos-mesh/issues/178

[2020-02-28 03:59] cwen0 commented on #178
List some points to note:

* the [pods](https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/common_types.go#L36) field in the selector, this field is used to specify certain specific pods. If the `pods` field was sed, we should ignore this default namespace.
* I think we should remove the namespace field in all chaos [examples](https://github.com/pingcap/chaos-mesh/tree/master/examples)

[2020-02-28 06:04] Gallardot commented on #178
@cwen0
I got it, please assigned to me.

[2020-02-28 09:14] cwen0 opened #294 "UCP: Add a field in chaos object to allow to pause the current chaos experiment"
## Description

Sometimes, we want to stop the current chaos experiment to debug the application and the chaos experiment will be restart later. So we don't want to delete this chaos experiment.

In order to meet the above scenario, we want to add an option to each chaos object to temporarily pause the current experiment. we can directly use `kubectl patch` method to modify this field to start or

[2020-02-28 10:09] YangKeao opened #295 "UCP: Filter netem related chaos with pod/ip/port"
## Description

At present, when we apply a delay/corrupt/duplicate/loss chaos, it will affect all connections.

However, one pod may connect with multiple different services. In a real production environment, different services may locate at different locations/machines, so the network conditions vary. We need `chaos-mesh` to simulate this situation and set different network chaos according to co

[2020-02-29 02:22] oraluben opened #299 "UCP: Test failed with proxy env"
## Description
Run `make test` with env `HTTP_PROXY` and `HTTPS_PROXY`

• Failure [2.677 seconds]
webhook config watcher
/Users/yyc/GolandProjects/chaos-mesh/pkg/webhook/config/watcher/watcher_test.go:30
  Watch error
  /Users/yyc/GolandProjects/chaos-mesh/pkg/webhook/config/watcher/watcher_test.go:106
    should return unable to create watcher [It]
    /Users/yyc/GolandProjects/chaos-mesh/pkg/web

[2020-02-29 02:37] cwen0 commented on #299
@fewdan PTAL

[2020-02-29 04:54] oraluben commented on #299
With following patch `make test` with proxy env works well:

[code]

[2020-02-29 06:04] YangKeao commented on #299
You could add `testhost` into `NO_PROXY` environment to solve it temporarily.

@cwen0 @fewdan Should we add `testhost` to `NO_PROXY` automatically?

[2020-02-29 08:06] oraluben commented on #299
@YangKeao yes it worked.

I think that's a good idea because proxy is necessary to run test (`golang.org/x/tools/cmd/goimports`) in some environment.

[2020-02-29 08:15] AngleNet commented on #145
Sorry for the delay. I already checked that. The idea is to eat memory out to get memory allocation failures.

[2020-02-29 08:27] AngleNet commented on #145
I think the memory chaos should try to do the following jobs:
1. eats a fixed size of memory of the entire pod to inject the chaos.
2. free the chaos meory to recover it.
If I'm wrong, please corret me.  @zhouqiang-cl @cwen0

[2020-02-29 11:38] zhouqiang-cl commented on #145
Yes. exactly

[2020-03-02 10:49] #278 closed

[2020-03-02 11:14] #153 closed

[2020-03-02 12:31] pcod80 commented on #278
duplicated #295

[2020-03-02 13:12] YangKeao opened #303 "UCP: Add network bandwidth limit chaos"
## Description

We can add bandwidth limit with `tc` command. Now we should support this type of chaos in chaos-mesh :rocket: .

## Score

300

## Mentor(s)

* @YangKeao

Contact the mentors: #tidb-challenge-program channel in TiDB Community Slack Workspace

## Recommended Skills

* Golang
* `tc` command

## Learning Materials

* [man page of tc tbf](http://man7.org/linux/man-pages/man8/tc-tbf.8.h

[2020-03-02 15:13] zhouqiang-cl commented on #178
@Gallardot now we have an activity. refer is here https://mp.weixin.qq.com/s/VNtLhbOIJaAX2dEmjt8d5w
you can check it and register. When the pr is merged, you will get a score which have many usage

[2020-03-03 02:24] Gallardot commented on #178
thank you @zhouqiang-cl .  I will take a look.

[2020-03-03 07:14] fewdan opened #305 "still download K8S"
## Bug Report

**What version of Kubernetes are you using?**

v1.16.0

**What did you do?**

"Kubectl" already exists in my computer, but when I execute "install.sh", I still need to download "kubectl".

**What did you expect to see?**

Do not need to download kubectl.

**What did you see instead?**

The script starts executing "curl" to download "kubectl".

Maybe it's because the "sort" version o

[2020-03-03 15:44] oraluben commented on #266
/pick-up-challenge

[2020-03-04 08:02] zhouqiang-cl opened #307 "Using `cilium` for network injection"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Maybe we can use [cilium](https://github.com/cilium/cilium) to extend our chaos action

**Describe the feature you'd like:**

Explore cilium and extend our chaos actions

**Describe alternatives you've considered:**

None

**Teachability, Documentation, Adoption, Migration Strategy:**

None

[2020-03-04 22:37] psinghal20 commented on #240
Hey @cwen0 @zhouqiang-cl, I would love to take a stab at this issue, if no is working on it. I am new to this project and the Kubernetes ecosystem. Some tips on how to proceed with this issue will help a lot. Thanks!

[2020-03-05 03:21] Huhaokun opened #310 "unable to recover networkchaos after deleting related CRD"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.1", GitCommit:"4485c6f18cee9a5d3c3b4e523bd27972b1b53892", GitTreeState:"clean", BuildDate:"2020-03-04T03:38:58Z", GoVersion:"go1.12.7", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.8-5", GitCommit:"$For

[2020-03-05 03:30] cwen0 commented on #310
@YangKeao PTAL

[2020-03-05 03:45] cwen0 commented on #305
this issue fixed in https://github.com/pingcap/chaos-mesh/pull/306, I will close it

[2020-03-05 03:45] #305 closed

[2020-03-05 03:50] zhouqiang-cl commented on #240
@psinghal20 Now no one is working on it, I will assign it to you. thank you very much
@cwen0 Please provide some tips

[2020-03-05 06:32] oraluben commented on #299
/pick-up-challenge

[2020-03-05 06:45] oraluben commented on #299
/pick-up-challenge

[2020-03-05 06:53] YangKeao commented on #310
Do you have former logs containing `failed to recover chaos`?

Did the `kubectl delete` request finish immediately? Or does it block?

[2020-03-05 07:52] Huhaokun commented on #310
There is no former logs containing `failed to recover chaos` or `Removing self` in this round.

I use k8s java api to delete CRD in a program, It seems work fine. And the CRD is deleted.

[2020-03-05 08:02] Yisaer commented on #310
@Huhaokun  Hi, could you provide the NetworkChaos Spec in yaml you used?

[2020-03-05 12:57] Huhaokun commented on #310
{"apiVersion":"pingcap.com/v1alpha1","kind":"NetworkChaos","metadata":{"namespace":"arch-test","name":"client-ns-partition"},"spec":{"action":"partition","selector":{"namespaces":["arch-test"],"labelSelectors":{"app":"ns-api-grpc"}},"direction":"from","target":{"selector":{"namespaces":["arch-test"],"labelSelectors":{"app":"ns-integration"}},"mode":"all"},"scheduler":{"cron":"@every 60s"},"duratio

[2020-03-05 13:03] cwen0 commented on #240
@psinghal20 I have an idea about this issue, design a CRD object to save the chaotic results instead of the state of the chaotic object? There are some advantages to doing this:

* Avoid updating the object itself multiple times, I think we can just treat the crd object itself as a configuration file
* Easier to check experimental results and expand easily
*It is more convenient to combine with th

[2020-03-05 13:07] #299 closed

[2020-03-05 14:41] oraluben commented on #265
/pick-up-challenge

[2020-03-05 14:42] oraluben commented on #266
/give-up-challenge

[2020-03-05 14:42] oraluben commented on #265
/pick-up-challenge

[2020-03-05 15:38] zhouqiang-cl commented on #310
@YangKeao @cwen0 @Yisaer  Can it be scheduler and duration's conflict. cron is '60s' and duration is '59s'

[2020-03-05 16:01] cwen0 commented on #310
We can try it by ourselves. @Huhaokun  the other way, if the `scheduler` is not necessary for your case, you can remove `scheduler` and `duration` filed.

[2020-03-05 16:14] zhouqiang-cl commented on #310
I mean can it be possible that only 1 second left，if the scheduler tick has offset， it will conflict

[2020-03-05 16:15] zhouqiang-cl commented on #310
Yes，this is another way

[2020-03-06 02:18] Gallardot commented on #292
@cwen0 please assigned this to me.I will try this after the current work dones.I think it's the related work.

[2020-03-06 02:18] Gallardot commented on #291
@cwen0 please assigned this to me.I will try this after the current work dones.I think it's the related work.

[2020-03-06 06:37] Huhaokun commented on #310
I removed `scheduler` and `duration` and rerun the program,  **it didn't show error log above but still unable to recover.**

target chaos-daemon log
[code]
I try to re-run the command `/usr/bin/nsenter -n/proc/31416/ns/net -- iptables -D OUTPUT -m set --match-set clien_237739515bd47d5ae_src dst -j DROP -w 5` in the daemon,  it shows `nsenter: can't open '/proc/31416/ns/net': No such file or direc

[2020-03-06 07:14] YangKeao commented on #310
@Huhaokun Is it a new pod? Could this iptables rule be left by the former failed test? As one test will only delete one iptables rule.

Do you run this command on the related node? `'/proc/31416/ns/net'` only exist on the node of target pod.

[2020-03-06 09:35] Huhaokun commented on #310
Is there any chance that controller may receive same request twice?

I re-run the program and found log below.

**Controller log**
[code]

**Daemon log**
[code]

It seems that `add iptable` been executed twice but `delete iptable` only once.
And controller logs shows that it apply the network partition twice in a very short interval.
`
2020-03-06T08:09:15.750Z	INFO	controllers.NetworkChaos	applyin

[2020-03-06 10:04] cwen0 commented on #310
@Huhaokun Hi, this bug was fixed in this pr :https://github.com/pingcap/chaos-mesh/pull/285 .you can try to upgrade your version to fix it.

[2020-03-06 13:25] AndyXia23 opened #317 "Why tidb-cluster-pd is pending and its “Events” in kubectl describe is none?"
**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"archive", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"$Format:%H$", GitTre

[2020-03-06 13:32] cwen0 commented on #317
@AndyXia23 Can you run the following commons to get more information?

[code]

[2020-03-06 13:38] AndyXia23 commented on #317
### kubectl describe pod tidb-cluster-pd-0 -n  tidb-admin
Name:               tidb-cluster-pd-0
Namespace:          tidb-admin
Priority:           0
PriorityClassName:  <none>
Node:               <none>
Labels:             app.kubernetes.io/component=pd
                    app.kubernetes.io/instance=tidb-cluster
                    app.kubernetes.io/managed-by=tidb-operator
                    app

[2020-03-06 13:55] cwen0 commented on #317
@AndyXia23 Can you run `kubectl get pv` and check if there are available PVS currently?

The other way, if you just want to try Chaos Mesh, I think you can try the other target cluster, like: https://github.com/pingcap/chaos-mesh/tree/master/examples/web-show

[2020-03-06 15:25] AndyXia23 commented on #317
@cwen0
I tried the way you just recommended to me but it didn't seem to work. It got stuck in a certain command "Waiting for pod running". Can I execute "deploy.sh" in example web-show successfully in mainland China without VPN?

[2020-03-06 15:42] cwen0 commented on #317
If you can't access to docker.io, you can try `./deploy.sh --docker-mirror`, `--docker-mirror` will use a mirror registry in china to pull the docker image. when the `web-show` was installed successfully, you can access to http://localhost:8081/ to open the  front-end.

[2020-03-06 15:52] cwen0 commented on #317
@AndyXia23  You can see a graph showing ping latency on the front-end of web-show.
You can run `kubectl apply -f network-delay.yaml` to start a network chaos experiment and  you can see the effect of the experiment from the front-end.
eg:
![image](https://user-images.githubusercontent.com/22956341/76099011-6ee7a800-6005-11ea-95aa-630c6aa750a4.png)

[2020-03-06 16:14] AndyXia23 commented on #317
@cwen0
After I deployed the _web-show_ in a physical mechine, can I access to http:// <phsical mechine IP>:8081 to open the front-end using my own laptop?

[2020-03-06 23:49] zhouqiang-cl commented on #310
Make sense. @YangKeao PTAL

[2020-03-07 01:24] zhouqiang-cl commented on #310
@Huhaokun could provide what commit id of chaos mesh

[2020-03-07 02:30] cwen0 commented on #317
@AndyXia23 Yes, If you deploy your kind cluster on your own laptop, you can access it on with http://localhost:8081.

[2020-03-07 03:06] cwen0 commented on #317
Yes, this is ok, you can use the physical machine's IP address to access the front-end using my own laptop?

[2020-03-07 03:14] AndyXia23 commented on #317
@cwen0 Due to your help, I accessed it but how to reduce the spacing of the abscissa? After I ran `kubectl apply -f network-delay.yaml`, the effect was not obvious.
The image in my laptop is like this:
![图片](https://user-images.githubusercontent.com/59043762/76135725-c49f6d00-6064-11ea-8c70-871f2b4e2439.png)

[2020-03-07 04:30] cwen0 commented on #317
@AndyXia23 Can you run the following command to get logs?

[code]

[2020-03-07 04:44] cwen0 commented on #317
@AndyXia23 `network-delay.yaml` is the file on [`examples/web-show`](https://github.com/pingcap/chaos-mesh/blob/master/examples/web-show/network-delay.yaml) path?

[2020-03-07 05:47] AndyXia23 commented on #317
@cwen0 Yes, it is the file on `examples/web-show ` path.
There are some errors in logs:
![图片](https://user-images.githubusercontent.com/59043762/76137609-08e93800-607a-11ea-8143-e3460d451123.png)

[2020-03-07 06:26] cwen0 commented on #317
@AndyXia23 Can you check the content of `network-delay.yaml`? From your logs, you start a pod-failure experiment not network chaos.  And you can run the following comment to get all networkchaos?

[code]

[2020-03-07 08:45] AndyXia23 commented on #317
@cwen0
![图片](https://user-images.githubusercontent.com/59043762/76140229-fdeed180-6092-11ea-869a-d223c164fd49.png)

[2020-03-07 08:46] AndyXia23 commented on #317
@cwen0
$ kubectl get networkchaos.pingcap.com --all-namespaces
NAMESPACE   NAME                    AGE
default     network-delay-example   5h55m
$ kubectl get podchaos.pingcap.com --all-namespaces
NAMESPACE       NAME                  AGE
chaos-testing   pod-failure-example   40h

[2020-03-07 08:53] AndyXia23 commented on #317
@cwen0
I guess the error is caused that I deployed chaos-mesh according to `README.md` but failed due to the failure of the mirror download. How can I delete those deployments completely?

[2020-03-07 09:14] cwen0 commented on #317
@AndyXia23
You can try the following comments to delete Chaos Mesh:

[code]

And you can refer here https://github.com/pingcap/chaos-mesh/blob/master/doc/run_chaos_mesh.md#delete-a-chaos-experiment to delete the chaos experiment

[2020-03-07 09:22] YangKeao commented on #310
@Huhaokun

The previous behavior of deletion is to loop and delete until getting `not exist` error. But after fixing some bugs this insurance measure seems not necessary. But if you cannot fix this bug (you faced) by upgrading image, I should reconsider whether it's stable as I have imagined and whether I should take on this insurance measure again.

Thanks for your suggestion. 🍻

[2020-03-07 12:07] AndyXia23 commented on #317
@cwen0 How can I delete these deployments?
[code]

The issue still exists that the image in the front-end is not like that you showed.
The content of `network-delay.yaml `is as follow:
[code]

[2020-03-07 12:42] cwen0 commented on #317
@AndyXia23  I think this document can help you https://pingcap.com/docs/stable/tidb-in-kubernetes/maintain/destroy-tidb-cluster/#destroy-tidb-clusters-in-kubernetes

Can you check the status of chaos mesh pods?

[code]

[2020-03-07 12:50] AndyXia23 commented on #317
@cwen0
[code]

[2020-03-07 12:53] cwen0 commented on #317
@AndyXia23

haha, from the message, The Chaos Mesh has been deleted by you successfully.

[2020-03-07 13:10] AndyXia23 commented on #317
@cwen0
Thank you for your help.

[2020-03-07 13:11] #317 closed

[2020-03-07 16:04] AndyXia23 opened #319 "why doesn't the example "web-show" work as expected?"
**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"archive", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"$Format:%H$", GitTree

[2020-03-07 16:09] cwen0 commented on #319
@AndyXia23 Can you check the status of all chaos mesh pods?
[code]

[2020-03-07 16:14] AndyXia23 commented on #319
@cwen0
$ kubectl get pod -n chaos-testing
No resources found.

[2020-03-07 16:23] cwen0 commented on #319
@AndyXia23 From the message, you can't install Chaos Mesh! You can refer this document to install Chaos Mesh [get started on kind](https://github.com/pingcap/chaos-mesh/blob/master/doc/get_started_on_kind.md)

If you can't access to docker.io, you can try `./install.sh --local kind --docker-mirror` to install chaos mesh

[2020-03-08 01:28] AngleNet commented on #145
OK. I'm working on it along with #189

[2020-03-08 01:40] yujunz opened #320 "Error deleting chaos"
## Bug Report

**What version of Kubernetes are you using?**

v1.15.9

**What did you do?**

[code]

**What did you expect to see?**

chaos deleted

**What did you see instead?**

Unable to delete after a long wait
[code]

Logs in chaos-daemon
[code]

[2020-03-08 01:42] yujunz commented on #320
The procedure to reproduce is quite chaos. It is possible that the chaos was never created successfully. But I do expect it can be cleaned up even under chaos status.

[2020-03-08 03:51] cwen0 commented on #320
@yujunz Thanks for your report, from the log, I guess that the target pod was destroyed, so the chaos-daemon reported this error when encountered this case, Can you check the status of the targe pod?

About this suggestion, I agree with your option.

[2020-03-08 03:59] yujunz commented on #320
You are right that the target pod has already been deleted.

[2020-03-08 04:05] yujunz commented on #320
I tried also to force delete them but no luck either...

[code]

[2020-03-08 04:07] cwen0 commented on #320
@yujunz I think this issue can help you #227 , you can check the finalizers of chaos object.

[2020-03-08 04:47] zhouqiang-cl commented on #145
You can pick it such as run `/pick-up-challenge`

[2020-03-08 05:00] AngleNet commented on #145
/pick-up-challenge

[2020-03-08 05:01] AngleNet commented on #144
/pick-up-challenge

[2020-03-08 05:19] AndyXia23 commented on #319
@cwen0 I tried `./install.sh --local kind --docker-mirror`, but why some pods are pending?
[code]

[2020-03-08 05:52] AndyXia23 commented on #319
@cwen0 After I ran` ./deploy.sh --docker-mirror`, another issue was as follow:
[code]

[2020-03-08 07:24] cwen0 commented on #319
@AndyXia23 Can you update the Chaos mesh repo?  `bpfki` is an alpha future, we disable it at this pr https://github.com/pingcap/chaos-mesh/pull/318.

[2020-03-08 08:47] AndyXia23 commented on #319
@cwen0 I updated it and it worked. And then I want to use the example `web-show` to start a chaos experiment. But after I ran `kubectl apply -f network-delay.yaml`, the image on the front end did not change and it was still like this:
![图片](https://user-images.githubusercontent.com/59043762/76159428-525d8400-615b-11ea-8c3c-0c3919af0812.png)

[2020-03-08 08:49] cwen0 commented on #319
@AndyXia23 Can you give me the whole log of chaos-manager and check test status of all chaos pods?

[2020-03-08 08:54] AndyXia23 commented on #319
@cwen0
[code]

And where can I get the log of chaos-manager?

[2020-03-08 08:56] cwen0 commented on #319
@AndyXia23

this comment can helm you:

[code]

[2020-03-08 09:02] AndyXia23 commented on #319
@cwen0
![图片](https://user-images.githubusercontent.com/59043762/76159690-ff390080-615d-11ea-9d97-bbf7df766c8f.png)

[2020-03-08 09:06] AndyXia23 commented on #319
@cwen0 Actually I deleted podchaos before.
[code]

[2020-03-08 09:06] cwen0 commented on #319
@AndyXia23 Can you give me the whole log file?

[2020-03-08 09:09] cwen0 commented on #319
@AndyXia23 Can you join our slack channel or give me the other contact info for I can help you debug this issue?

[2020-03-08 09:22] AndyXia23 commented on #319
@cwen0 The log file was too long to write here so I sent you a email.

[2020-03-08 10:23] cwen0 commented on #319
@AndyXia23 Thanks for your email, I have received your log. Can you run the following comments to get some logs?

[code]

[2020-03-08 10:58] AndyXia23 commented on #319
@cwen0 I sent two logs to your email.

[2020-03-08 11:01] zhouqiang-cl commented on #218
@zhuboshuai Did you have any updates? thank you

[2020-03-08 12:42] AngleNet commented on #189
/pick-up-challenge

[2020-03-08 12:50] you06 commented on #189
@AngleNet try again please

[2020-03-08 12:57] AngleNet commented on #189
/pick-up-challenge

[2020-03-09 03:58] cwen0 commented on #319
@AndyXia23 This issue caused by the repeated Kubernetes cluster, I will close this issue.

[2020-03-09 03:58] #319 closed

[2020-03-09 05:12] AngleNet commented on #145
/pick-up-challenge

[2020-03-09 05:13] AngleNet commented on #144
/pick-up-challenge

[2020-03-09 07:56] AngleNet commented on #144
/pick-up-challenge

[2020-03-09 08:25] AngleNet commented on #144
/pick-up-challenge

[2020-03-09 08:26] AngleNet commented on #145
/pick-up-challenge

[2020-03-09 08:43] Huhaokun commented on #310
problem solved with latest image. Thanks everyone!

one suggestion: tag image with version or commit id. I can only find latest version in dockerhub.

[2020-03-09 08:43] #310 closed

[2020-03-09 09:00] zhouqiang-cl commented on #310
@YangKeao another UCP issue

[2020-03-09 09:04] cwen0 commented on #310
@zhouqiang-cl I think this is not necessary at present. Only when we release a version, we will publish an image with a special tag.

[2020-03-09 09:21] zhouqiang-cl commented on #310
Got

[2020-03-10 05:13] YangKeao opened #327 "New IoChaos implementation (Experiment)"
## Feature Request

**Describe the feature you'd like:**

I need an easy way to use IoChaos. Last Friday, it was the first time for me to use IoChaos. However, the documents and examples are quite hard to understand. For example, how should I choose a fuse directory and origin directory? What should I do if my pod doesn't mount a volume?

These confusing fields and configs are because of the imple

[2020-03-10 08:29] #265 closed

[2020-03-10 10:11] oraluben commented on #264
/pick-up-challenge

[2020-03-11 03:32] cwen0 commented on #240
@psinghal20 After careful consideration, I felt that the benefit of creating a CRD object separately is not great,  so I will close this issue.

[2020-03-11 03:32] #240 closed

[2020-03-11 03:34] #135 closed

[2020-03-11 15:01] zzh-wisdom commented on #266
/pick-up-challenge

[2020-03-11 15:19] AngleNet commented on #307
It seems cilium is a more promising way for operating and managing networks.

[2020-03-12 02:27] zhouqiang-cl commented on #307
Yes. but it required bpf support

[2020-03-12 02:43] AngleNet commented on #307
Is there a problem for adding bpf support? Forgive me. I don't get it.

[2020-03-12 02:45] zhouqiang-cl commented on #307
Yes. It required a high kernel version(4.x). It seems now much server's kernel version is still 3.x

[2020-03-12 05:45] AngleNet commented on #307
Make Cilium the default way to generate network chaos. When bpf is not available, fallback to netem ?

[2020-03-12 06:18] zhouqiang-cl commented on #307
Yes, Exactly what the issue want to display

[2020-03-12 07:07] Gallardot commented on #178
/pick-up-challenge

[2020-03-12 07:07] AngleNet commented on #307
Wow. Seems interesting. Could you share more details about how we extend the chaos action now ?

[2020-03-12 07:07] Gallardot commented on #292
/pick-up-challenge

[2020-03-12 08:19] you06 commented on #292
@Gallardot seems something wrong with network, and I also find that you've picker #178 successfully.
You can work on this task after submit PR for #178 or give up #178 start woking on this now. If there are any problems, call me for help. :)

[2020-03-12 08:29] you06 commented on #292
/pick-up-chanllenge

[2020-03-12 08:31] you06 commented on #292
/pick-up-chanllenge

[2020-03-12 10:42] zhouqiang-cl commented on #307
Sorry. I am still not sure about it now. It is still a suggestion and no proposal for it. Would you like to write a proposal for it(Maybe we also can found other use for `cilium`)

[2020-03-12 10:43] zhouqiang-cl commented on #320
@yujunz Do you solve your problem? Can we close this issue?

[2020-03-12 10:51] #115 closed

[2020-03-12 11:04] zhouqiang-cl opened #335 "Enhance Chaos Mesh to do chaos for cloud"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We can use Chaos Mesh to support shutdown/reboot/destroy cloud's VM

**Describe the feature you'd like:**

Maybe we can first support GCP or Azure or AWS

**Describe alternatives you've considered:**

Using GCP/Azure/Aws's API to do chaos in Chaos Mesh

[2020-03-12 12:27] zzh-wisdom commented on #266
/give-up-challenge

[2020-03-12 13:23] AngleNet commented on #307
Yes. Let me try.

[2020-03-13 03:38] yujunz commented on #320
Haven't got time to deal with it yet.

[2020-03-14 02:09] yujunz commented on #320
It does have some finalizers under the network chaos.

[code]

https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers says

Why the delete is still blocked even when all these pods are no longer existing?

[2020-03-14 02:14] yujunz commented on #320
Is finalizer just *arbitrary string values* which is handled by the chaos controller not kubernetes and it should be the chaos controller to remove them?

Is this what #227 try to solve?

[2020-03-14 02:15] yujunz commented on #320
Manually emptied the finalizers and all resources get cleaned up. 🍻

[2020-03-14 02:16] #320 closed

[2020-03-14 08:08] yujunz commented on #227
This is needed anyway. Could you elaborate about how to implement it?

Not quite familiar with existing code at the moment, but I can probably take this task given necessary guidance. @cwen0

[2020-03-14 08:47] zhouqiang-cl commented on #320
Yes, exactly

[2020-03-14 09:10] AngleNet commented on #193
Maybe we should support some builtin selector plugins, users can choose one of them. I think we could support to load a third-party selector plugin which comply to our selector plugin specification as a cutomized selector for a chaos. @cwen0

[2020-03-14 13:27] cwen0 commented on #227
@yujunz I am very happy to help resolve this issue. I will share some thoughts on this issue later.

[2020-03-15 08:14] AngleNet commented on #179
/pick-up-challenge

[2020-03-16 04:02] AndyXia23 opened #341 "Choose which pods can be tested for chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes, I want to run pod chaos within specified pods, therefore, the expected feature is that users can choose which pods can be tested for chaos.

**Describe alternatives you've considered:**

Add a label for those pods that are expected to be used for chaos test.

[2020-03-16 04:05] #264 closed

[2020-03-16 04:27] oraluben commented on #266
/pick-up-challenge

[2020-03-16 04:31] zhouqiang-cl commented on #341
@cwen0 PTAL

[2020-03-16 06:14] YangKeao commented on #341
Doesn't `labelSelector` satisfies your requirement?

[code]

As this example, it will only kill pod whose label `app.kubernetes.io/component` is set to `tikv`.

If you need more complicate selectors, we plan to support [`matchExpressions`](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements) to support set-based requirements. Will

[2020-03-16 07:25] cwen0 commented on #193
@AngleNet Yes, a third-party selector plugin is ok and I think this plugin not only for the selector in the future. Are you interested in this issue?

[2020-03-16 08:08] AngleNet commented on #193
Yes. I’m working on another issue for now. When it’s finished, you can assign it to me

[2020-03-16 08:10] cwen0 commented on #227
@yujunz I have two thoughts on this issue.

About the first point, you can find the record finalizer logic in controllers, such as NetworkChaos [types.go](https://github.com/pingcap/chaos-mesh/blob/master/controllers/networkchaos/netem/types.go#L224), and we will add this finalizer before applying the chaos action. I suggest that we only record the finalizer when the action was applied successfull

[2020-03-16 11:47] cwen0 commented on #227
@yujunz Hi, Currently, we are preparing Chaos Mesh-for CNCF Sandbox entry. https://github.com/cncf/toc/pull/367. At present, we are preparing the slide which requires some contributor-related information.  Would you mind tell us what company are you from?

[2020-03-16 12:28] yujunz commented on #227
Agree. I may spend some time to get familiar with existing development process first.

Is https://github.com/pingcap/chaos-mesh/wiki/Development-Overview where I should get started?

[2020-03-16 13:34] moonspirit opened #344 "latest chaos-mesh (master) not work on k3s"
Three weeks ago, it ok to use chao-mesh in my local k3s environment. when i reinstall k3s today and found that chaos-mesh is unable to create podchaos using latest image and crds.

Error from server (InternalError): error when creating "pod-kill-example.yaml": Internal error occurred: failed calling webhook "mpodchaos.kb.io": Post https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-

[2020-03-17 02:16] cwen0 commented on #227
Yes, In addition, this tutorial maybe helps you. https://yisaer.gitbook.io/chaos-mesh-contributing-tutorials/

[2020-03-17 02:17] AndyXia23 commented on #341
@YangKeao Yes, it will. Thanks for your advice.

[2020-03-17 07:05] zhouqiang-cl commented on #344
@cwen0 is working on this

[2020-03-17 08:46] oraluben commented on #294
/pick-up-challenge

[2020-03-17 11:37] cwen0 commented on #344
@moonspirit you can try `cert-manager` for certificate management to solve this issue, refer this document: https://github.com/pingcap/chaos-mesh/tree/master/helm/chaos-mesh#configuration-and-installation-details

[2020-03-17 11:45] hoang-tranviet commented on #243
Hello,
Thanks for the proposal, I am interested in this feature.
Do you think that we could reuse some part of partition chaos, or it is better to implement it completely new from scratch?

[2020-03-17 12:22] cwen0 opened #346 "UCP: combine the multi actions of networkchaos into one action named `netem`"
## Description

Sometimes, users want to apply network chaos that combines delay and loss at the same time, and delay action, loss action, corrupt action, duplicate action of NetworkChaos has the same implementation logic, so the `action` field for NetworkChaos take no effect and we can combine delay action, loss action, corrupt action, duplicate action into one action named `netem`

https://githu

[2020-03-17 12:43] zhouqiang-cl commented on #146
It works. Tested by @YangKeao

[2020-03-17 12:43] #146 closed

[2020-03-17 12:47] YangKeao commented on #243
I think this issue is related to #295

[2020-03-18 00:35] vincent178 commented on #303
can I pick this one, seems like no other one is working on it?

[2020-03-18 00:36] vincent178 commented on #303
/pick-up-challenge

[2020-03-18 00:38] vincent178 commented on #303
Hi @YangKeao , could you please help assign this to me, I have registered here: https://github.com/tidb-challenge-program/register/issues/88

[2020-03-18 03:17] you06 commented on #303
@vincent178 try again please

[2020-03-18 03:39] vincent178 commented on #303
/pick-up-challenge

[2020-03-18 03:39] vincent178 commented on #303
@you06 it's working, thank you!

[2020-03-18 07:15] #291 closed

[2020-03-18 07:16] cwen0 commented on #291
fixed in #338

[2020-03-20 04:03] Gallardot commented on #292
/pick-up-challenge

[2020-03-20 05:07] at15 commented on #346
/pick-up-challenge

[2020-03-20 05:39] Gallardot commented on #292
/pick-up-challenge

[2020-03-20 07:17] at15 commented on #346
Just want some clarification before I start working on the issue.

Currently although the underlying daemon allows combine delay, loss etc. but it seems the controller is only sending the one specified by the action field. So even if I give both delay and loss in the spec, only one will be triggered. Spec is picked based on value of action field, converted to netem request and send to chaosdaemon.

[2020-03-20 09:21] YangKeao commented on #346
@at15 Thanks for your contribution. I think this roadmap is good enough.

But in Kubernetes crd, action enum is only a string. So there may be no way to deprecate it. @cwen0 Do you have any suggestions on this?

[2020-03-20 19:02] at15 commented on #346
We can add logic in [validation webhook](https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/networkchaos_webhook.go) and reject other actions `delay`, `loss` etc. after `netem` is released for a while.

Another way is using [MutatingAdmissionWebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook) but this might confusion for use

[2020-03-20 23:00] at15 opened #352 "Both Helm 2 & 3 are not working for local dev and/or the documentation is outdated"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Following [deploying chaos-mesh to local kind cluster](https://yisaer.gitbook.io/chaos-mesh-contributing-tutorials/da-jian-chaosmesh-ben-di-kai-fa-huan-jing/ben-di-bian-yi-yun-hang-chaosmesh#bu-shu-chaosmesh-dao-ben-di-ji-qun) in chaos mesh contributor guide

The command I used for helm3 is `helm install ch

[2020-03-21 03:45] cwen0 commented on #352
@at15 Can you share the helm version?  I can't reproduce this issue in my environment with helm v3.1.0.

About helm 2, you can apply this file [tiller-rbac.yaml](https://github.com/pingcap/chaos-mesh/blob/master/manifests/tiller-rbac.yaml) and init helm with `--service-account=tiller` field.

[code]

[2020-03-21 04:22] cwen0 commented on #352
@at15 I have reproduced this issue with helm v3.1.0 and I am working on it.

[2020-03-21 04:43] cwen0 commented on #352
@at15 you can use `./hack/kind-cluster-build.sh -k v1.17.2`  to skip this issue temporarily when you use helm 3.  this command will install v1.17.2 Kubernetes.

[2020-03-21 05:12] at15 commented on #352
Thanks! @cwen0 changed the server version to 1.17.2 worked

[code]

[2020-03-21 05:46] cwen0 commented on #352
@at15 This issue is fixed in #354 ,  `caBundle` was marked as a required field in v1.12.8 Kubernetes. And we add Validator recently.

[2020-03-21 07:54] cwen0 opened #355 "UCP: Support watch all ConfigMaps with specified labels"
## Description

Sometimes,  we want to define ConfigMaps of application for IOChaos in the application's namespace,  In this way, we can also clean up the specific ConfigMap while clearing the application namespace. So this proposal is more convenient for running Chaos Mesh automatically in a programmatic manner.

Some notes on implementation:

* We need to deal with ConfigMaps with the same name

[2020-03-21 10:03] #352 closed

[2020-03-22 02:12] yujunz opened #357 "`docker build -t pingcap/chaos-kernel` failed in building bcc"
## Bug Report

**What version of Kubernetes are you using?**
Not relevant

**What did you do?**

Following the guide to [setup the development environment](https://github.com/pingcap/chaos-mesh/wiki/Set-up-the-development-environment)
until `make`.

**What did you expect to see?**

There is no error in the output, the compiling toolchain is successfully configured.

**What did you see instead?**

[2020-03-22 05:48] Gallardot commented on #292
@cwen0
I need some help. What’s the default value for `spec.delay.correlation` and `spec.delay.jitter`

[2020-03-22 06:12] STRRL opened #358 "Failed to update PodChaos, seems like related to admission webhooks."
## Question

What I do:

- Following the wiki, start up a tidb cluster and chaos-mesh components.
- Create `pod-failure-example.yaml` just like [wiki sayed](https://github.com/pingcap/chaos-mesh/wiki/Run-Chaos-Mesh#step-2-define-the-experiment-config-file).
- Inject this chaos, it works.
- Update label selector from `"app.kubernetes.io/component": "tikv"` to `"app.kubernetes.io/component": "tidb"`

[2020-03-22 06:24] STRRL commented on #189
It will be better to use a image that with a certain name which exactly tell user "It is a pod-faliure action."

Seeing `pause` in pod's spec makes a little confuse to me, then I realize it's cause by chaos-mesh.

[2020-03-22 08:24] cwen0 commented on #292
@Gallardot I think we can keep unity with `tc` command and set them to "0". I don't sure, you can check the `tc` command to make sure it.

[2020-03-22 09:39] Gallardot commented on #292
@cwen0

reference to [netlink](https://github.com/vishvananda/netlink/blob/c79a4b7b40668c3f7867bf256b80b6b2dc65e58e/qdisc_linux.go#L15-L77) 、[tc](http://man7.org/linux/man-pages/man8/tc-netem.8.html)、[netem](https://wiki.linuxfoundation.org/networking/netem)

I think set them to "0" is OK.

[2020-03-22 11:43] yujunz opened #362 "Support incremental build"
## Feature Request

**Is your feature request related to a problem? Please describe:**
No

**Describe the feature you'd like:**
binary seems always rebuilt regardless code changes.

[code]

`pingcap/binary` will be built twice although it is not changed at all between the two steps. This is slowing down the development process.

**Describe alternatives you've considered:**
Options for solution of

[2020-03-22 12:08] cwen0 commented on #358
@STRRL The webhook is to validate the chaos object, you can find the related code at [podchaos_webhook.go](https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/podchaos_webhook.go )
From the log, the certs are broken and the real reason has not been found so far. I suggest that you can use cert-manager to manager certs, refer [here]( https://github.com/pingcap/chaos-mesh/tree/master/helm

[2020-03-22 12:37] zhouqiang-cl commented on #189
@cwen0 @YangKeao What's your opinion

[2020-03-22 12:57] yujunz commented on #357
Retried on a different machine several times and it fails at different steps. The symptom is quite similar though, i.e. one thread got killed for unknown reason.

[code]

[2020-03-22 12:59] fewdan commented on #189
@STRRL
So you mean, we should make an image called "pod failure" or something similar?

[2020-03-22 14:06] AngleNet commented on #189
Seems better to build a `pingcap/chaos-mesh/pause` image based on `gcr.io/pause` or something like that

[2020-03-22 14:35] oraluben commented on #358
@STRRL I've met a similar (but not same) issue also related to webhook yesterday, and make it work after removing kind cluster and rebuilding some docker images. I was using [this](https://yisaer.gitbook.io/chaos-mesh-contributing-tutorials/da-jian-chaosmesh-ben-di-kai-fa-huan-jing/ben-di-bian-yi-yun-hang-chaosmesh) tutorial.

[2020-03-22 14:37] oraluben commented on #357
It looks like something related to out of memory. `make image` works on my machine.

[2020-03-22 15:56] Gallardot opened #365 "UCP: Using more Validator and Defaulter, more friendly for user"
## Description

Through implement the Defaulter and the Validator interface, We have  implemented admission webhooks for chaos object. But currently we only have some simple rules.I think more rules can make chaos-mesh more friendly for user.
for example A:
https://github.com/pingcap/chaos-mesh/blob/41b31e5e3375654e24d83932dd624d15a191fa31/api/v1alpha1/common_types.go#L65-L75

**Cron should be mat

[2020-03-23 01:15] ethercflow commented on #357
Right, @yujunz you can adjust your concurrency number, depending on your machine configuration.

[2020-03-23 01:18] yujunz commented on #357
Could be. I was building it on docker-machine in macOS which has limited memory. I tried also building the original [Dockerfiles](https://github.com/iovisor/bcc/blob/master/Dockerfile.ubuntu) and it succeeded.

Would it be nice to have a build arg to specify `-j` ?

[2020-03-23 01:48] STRRL commented on #358
@cwen0 It seems if you deploy chaos-mesh without cert-manager, the `caBundle` just like a placeholder, not a valid value. [source code here](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/templates/webhook-configuration.yaml#L72).

So I think It will work well with cert-manager.

[2020-03-23 02:33] cwen0 commented on #365
Thanks for your proposal, this is a good suggestion. We can split this proposal to multi easy tasks.

[2020-03-23 03:14] cwen0 commented on #358
@STRRL oo, this is a bug at here, If we deploy chaos-mesh without cert-manager, we create webhookConfiguration in this file [post-install-webhook-job.yaml](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/templates/post-install-webhook-job.yaml), we should add the control option for the [webhook-configuration.yaml](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/

[2020-03-23 03:37] STRRL commented on #358
@cwen0 Sure, I can do this.

[2020-03-23 04:35] YangKeao commented on #346
@at15 It's definitely acceptable, though rejecting is not a `deprecated` behavior, does it? Can the users bypass the validation? But it seems the best solution now.

In crd configuration yaml files, there is a field called `deprecated`. However, kubebuilder cannot generate it automatically (I didn't find a way to set it through annotation).

[2020-03-23 05:50] at15 commented on #346
@YangKeao I don't think user can bypass admission webhook.  We just tell user we are going deprecate it and then remove it. Besides I think current spec is still in a flux because peopling are considering adding advanced behavior #295 and different backend #307

I didn't notice that field, might create a issue in kubebuilder.

[2020-03-23 06:16] Gallardot commented on #358
@cwen0 .
I don't think so.[post-install-webhook-job.yaml](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/templates/post-install-webhook-job.yaml) only used when we do not deploy Chaos Mesh with cert-manager.   [webhook-configuration.yaml](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/templates/webhook-configuration.yaml) whether or not we deploy Chaos Mesh wi

[2020-03-23 06:30] Gallardot commented on #358
@STRRL  and your k8s version？
[code]

[2020-03-23 06:59] STRRL commented on #358
@Gallardot I already delete the old cluster. I tried to recreate one on another PC but I can not reproduce this problem any more.

Now chaos-mesh work pretty well.😅 Do you still need that information?

I will try to reproduce it later.

[2020-03-23 07:12] Gallardot commented on #358
@STRRL  If you can reproduce it, I need that information. Thank you!

[2020-03-23 07:16] YangKeao opened #367 "Certificate error after helm ugprade"
## Bug Report

**What version of Kubernetes are you using?**

v1.14.8

**What did you do?**

[code]

**What did you expect to see?**

Apply successfully

**What did you see instead?**

[code]

I don't know whether this bug has connection with #358 .

[2020-03-23 07:22] cwen0 commented on #358
@Gallardot Yes, you are right, When we deploy Chaos Mesh without cert-manager, `post-install-webhook-job.yaml` will make a patch to set the caBundle field.

It is ok in my environment, Can you give me some error log?

[2020-03-23 07:35] STRRL commented on #358
How could I fetch logs of `webhook-mw-job` and `webhook-certs-job`?

I found that pods of these job deleted as soon as job completed.

[2020-03-23 07:57] #358 closed

[2020-03-23 08:14] ethercflow commented on #357
@yujunz Nice advice! You are welcomed to contribute:)

[2020-03-23 08:26] STRRL commented on #189
@fewdan Yes!

@AngleNet It's a easy way that just tag `pause` image then push to docker hub. But in my opinion, all-in-one docker image is not so elegant.

[2020-03-23 08:55] AngleNet commented on #189
Yes ! I think could share the same prefix of `pingcap/chaos-mesh` ?

[2020-03-23 09:23] YangKeao commented on #367
Fixed by #369

[2020-03-23 09:23] #367 closed

[2020-03-23 12:47] yujunz opened #371 "Failed to pull image from local registry"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
[code]

**What did you expect to see?**
Pod started with image from local registry

**What did you see instead?**
[code]

[2020-03-23 12:48] yujunz commented on #371
It might be related to https://github.com/containerd/cri/issues/1367 but not sure.

`hack/kind-cluster-build.sh` is a bit different from https://kind.sigs.k8s.io/docs/user/local-registry/

[2020-03-23 13:28] oraluben commented on #294
My understanding is that the pause action is like to stop (recover) the current chaos but not deleted, so it can be restarted later. If we want to restart the chaos, it's like to start a new chaos with same arguments.
So I'm adding a new field to chaos objects' spec like https://github.com/pingcap/chaos-mesh/pull/370/files#diff-3cc6826ef8417f43c87c3b8f98443246R172, and use https://github.com/pingc

[2020-03-23 14:56] #292 closed

[2020-03-23 15:04] YangKeao commented on #362
Sorry. I didn't reproduce this problem. Docker will cache the build result, doesn't it? Can you provide your docker version?

[code]

[2020-03-23 15:06] YangKeao commented on #133
Duplicate with #303

[2020-03-23 15:06] #133 closed

[2020-03-23 15:07] YangKeao commented on #180
Duplicate with #209

[2020-03-23 15:07] #180 closed

[2020-03-23 15:52] #128 closed

[2020-03-23 19:06] at15 commented on #346
lol it seems I wrote the wrong issue number is the merged PR https://github.com/pingcap/chaos-mesh/pull/353, it should be `346` instead of `345`  Can someone close this PR directly? Or we can leave it open until we add the webhook part.

[2020-03-23 19:12] at15 opened #373 "Validate duration and cron schedule conflict in webhook"
## Feature Request

**Is your feature request related to a problem? Please describe:**

From https://github.com/pingcap/chaos-mesh/pull/353#discussion_r396348890

When user give a duration that is smaller than cron interval in networkchaos.
Controller generates warning `nextRecover shouldn't be later than nextStart`

[code]

**Describe the feature you'd like:**

Validate duration and cron schedule

[2020-03-23 22:24] at15 commented on #373
It seems it's not limit to network chaos, there is a `ValidateScheduler` interface for each chaos and most implementations are same, only checks at least one of duration and scheduler is presented.

https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/iochaos_webhook.go#L83-L95

https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/networkchaos_webhook.go#L106-L119

Maybe we sho

[2020-03-24 02:40] yujunz commented on #362
The cache works only when **nothing** changes at all. A minor line change of one source file seems triggering a complete rebuilt.

I think docker is not wise enough to cache `go build` incrementally.

[2020-03-24 04:19] AngleNet commented on #362
Docker calculates a checksum for ‘ADD’ and ‘COPY’. It is inevitable for now. I think

[2020-03-24 04:54] YangKeao commented on #362
We have cached `go mod download` in a seperate image. If `go.mod` and `go.sum` doesn't change, we don't need to download dependency again.

Is there any way to cache `go build`? Is it necessary (`go build` won't cost much time)?

It seems that `go vet` costs a lot of time in `make` stage. Maybe we should skip it?

[2020-03-24 05:38] #357 closed

[2020-03-24 06:45] yujunz commented on #362
Not sure about where and how `go build` cache intermediate results. If it costs too much time, we may revisit it later.

 +1 for removing `go vet` from manual build. Maybe just include it in CI for quality assurance.

[2020-03-24 09:58] Gallardot opened #376 "build dashboard-server-frontend in docker"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I want to build docker images
[code]
I get some error logs
[code]

 https://github.com/pingcap/chaos-mesh/blob/30567158b57559e4c8e34e76da8e7483089bf491/images/chaos-dashboard/Dockerfile#L8

Huh?  It looks like we need to build the front end first.
[code]

I also get some error logs
[code]

We have to install ya

[2020-03-24 10:18] Gallardot commented on #376
I made an attempt.  #377

[2020-03-24 19:50] vincent178 opened #378 "get `unable to get network chaos` when reconcile"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
[code]

**What did you expect to see?**
no error log

**What did you see instead?**
controller print error log:
[code]
PS: function works fine.

[2020-03-24 19:51] #378 closed

[2020-03-25 01:31] STRRL commented on #358
@cwen0 @Gallardot

Is there a possibility that `webhook-cert-job` runs before applying admission controller?

[2020-03-25 02:10] Gallardot commented on #358
Of course. Helm creates chaos-controller first ,and then creates webhook-certs-job and webhook-mw-job. Sometimes the job have already finished, but chaos-controller is still pulling images.

[2020-03-25 03:56] STRRL commented on #358
@Gallardot I have reproduced this problem, but with a misoperation: I press `CTRL+C` during `./install --local kind` waiting for startup.😅

Detail:
[code]

But I found `webhook-certs-job` completed with logs:
[code]

Here is information that you asked for:

https://paste.ubuntu.com/p/QRg9XdFp2S/

[2020-03-25 04:26] STRRL commented on #358
@Gallardot It seems my misoperation makes this issue,`webhook-mw-job` does not execute.

But I can not figure out why helm do not create`webhook-mw-job`.

[2020-03-25 06:22] Gallardot commented on #358
@STRRL thank you for the information.

 Is it OK for now?

[2020-03-25 06:27] STRRL commented on #358
@Gallardot Now it works pretty well. Thank you.

[2020-03-25 08:55] hoang-tranviet opened #381 "development tutorial: need export DOCKER_REGISTRY to localhost:5000"
## Bug Report

**What version of Kubernetes are you using?**
v1.15.5

**What did you do?**
I follow the development tutorial in https://github.com/pingcap/chaos-mesh/wiki/Develop-a-New-Chaos.

Below does not work
[code]
**What did you expect to see?**
It should build images and push to local registry

**What did you see instead?**
I cannot push to local registry.

@vincent suggests that we need to

[2020-03-26 06:30] cwen0 commented on #376
@Gallardot Can we close this issue?

[2020-03-26 06:33] Gallardot commented on #376
fix in #377

[2020-03-26 06:33] #376 closed

[2020-03-26 06:37] cwen0 commented on #381
@hoang-tranviet Do you mean that we set `localhost:5000` as the default value of `DOCKER_REGISTRY`?

[2020-03-26 06:44] cwen0 commented on #373
@at15 This is a good idea, I've wanted to do this for a long time. Can you help us optimize this?

[2020-03-26 06:48] YangKeao commented on #373
I have tried to do this with embedded struct. However, the code generator seems cannot work with embedded structs well 😿

[2020-03-26 06:48] cwen0 commented on #346
@at15 I think we can close this pr.

[2020-03-26 06:50] #346 closed

[2020-03-26 08:07] zhanghuidinah commented on #218
- encounter the same problem:
[code]

[2020-03-26 08:14] Gallardot commented on #365
/pick-up-challenge

[2020-03-26 08:24] SilvaXiang opened #382 "After I run 'helm install', it appears 'Error: validation failed'"
## Bug Report

**What version of Kubernetes are you using?**
My Kubernetes version is v1.14.8
My helm version is v2.16.4
![image](https://user-images.githubusercontent.com/22973642/77638709-8d045080-6f92-11ea-834c-902692cac0b2.png)

**What did you do?**
I try to deploy [chaos-mesh](https://github.com/pingcap/chaos-mesh/wiki/Deploy-Chaos-Mesh) in my k8s cluster, but when I run this command `helm in

[2020-03-26 08:29] you06 commented on #365
@Gallardot try again please

[2020-03-26 08:32] Gallardot commented on #365
/pick-up-challenge

[2020-03-26 08:40] Gallardot commented on #373
@YangKeao

How about this ?

[code]

I think `Duration` and `Cron` are very relevant fields. Why not define them together？

[2020-03-26 08:56] Gallardot commented on #218
@zhanghuidinah

Could you give me more information please？

[code]

[2020-03-26 11:02] hoang-tranviet commented on #381
Hi @cwen0,
When first read the tutorial, I understood wrongly that we don't need to set DOCKER_REGISTRY since it is preset as local registry (localhost:5000) in `hack/kind-cluster-build.sh`.

Now I understand (could be also wrong) that `hack/kind-cluster-build.sh` is set to pull images from localhost:5000, and I need to set by myself `export DOCKER_REGISTRY=localhost:5000` to let `make`and `make d

[2020-03-26 11:45] cwen0 commented on #381
@Yisaer PTAL

[2020-03-26 13:05] at15 commented on #373
In @Gallardot  case we need to break all existing spec, or have some backward compatible logic to support both. (similar to the unimplemented part in #346 )

And @YangKeao even without embedding, we can still have a common implementation

[code]

[2020-03-26 13:52] Gallardot commented on #373
I get your point. It's also a good ideas.

[2020-03-26 15:30] Yisaer commented on #382
This is the bug caused by latest helm v2 release 2.16.4. You need downgrade your helm version under v2.16.4. @SilvaXiang

For more details, https://github.com/helm/helm/issues/7797

[2020-03-26 15:48] Yisaer commented on #381
I guess the wiki tutorial might be out-of-date. I didn't find `hack/kind-cluster-build.sh` preset the `DOCKER_REGISTRY` nor in `Makefile`

The `make` command would generate the code, build the binary and the image.  so if you want to build the image and push to your own docker registry, I suggest you to follow:
[code]

[2020-03-26 15:54] Yisaer commented on #371
I suggest use `kind load docker-image <image> --name <kind-cluster-name> instead of `docker push`

[2020-03-27 06:11] zhanghuidinah commented on #218
[code]
[code]

[2020-03-27 06:17] Yisaer commented on #382
@SilvaXiang I think downgrading helm version might solve this problem, If you meet any installing error after downgrading. You can reopen this issue.

[2020-03-27 06:17] #382 closed

[2020-03-27 06:21] SilvaXiang commented on #382
Ok,thanks. I solved it by downgrading the version of helm yesterday. But I forgot to reply. Sorry.

[2020-03-27 07:02] zhanghuidinah commented on #218
-  kubectl logs chaos-controller-manager-57f5f8c88f-2m9q4 -n chaos-testing
[code]

[2020-03-27 07:19] zhanghuidinah commented on #218
@Gallardot Hi，I found the cause of the failure and it's deployed. Thankyou.

[2020-03-27 12:50] vincent178 commented on #295
/pick-up-challenge

[2020-03-27 13:00] vincent178 commented on #295
/pick-up-challenge

[2020-03-28 01:08] ycwdaaaa opened #386 "Forbidden: pod updates may not add or remove containers"
I meet this error When try to inject a net delay container to  pod using the json-patch .    How did you guys inject the sidecar container?  I found that only inject container for deployment worked.  inject pod will meet the error

[2020-03-28 11:46] zhouqiang-cl commented on #386
The net delay did not need to inject sidecar. Only IO Chaos needs to inject sidecar.

I am a little did not understand this. could you make it more clear

[2020-03-28 12:00] yujunz commented on #371
I was following https://github.com/pingcap/chaos-mesh/wiki/Develop-a-New-Chaos#make-the-docker-image . Is the document out of date?

[2020-03-29 09:19] #303 closed

[2020-03-30 04:03] ycwdaaaa commented on #386
but if do not inject a sidecar container, how do we trigger a network drop or delay event?  there is no tc or iptables in some containers in our project

[2020-03-30 04:10] zhouqiang-cl commented on #386
@YangKeao @cwen0 PTAL

Yes. we have a daemonset that have tc/iptables

[2020-03-30 04:15] ycwdaaaa commented on #386
Thank you very much for answering my questions, so can I ask one more? if use ds to deploy network traffic container per node, how can we make sure the network drop only works on one pod?

[2020-03-30 04:25] AngleNet commented on #386
We will find the network namespace of the targeted pods or containers. The network chaos actually happen over these namespaces.

[2020-03-30 04:36] ycwdaaaa commented on #386
Thank you very much for your answer.  so in  IO Chaos  we need the sidecar right?  When I try to  add container  by json-patch, I meet the error : Forbidden: pod updates may not add or remove containers.  Do you have any idea?

[2020-03-30 06:23] YangKeao commented on #386
Actually it doesn't need tc. `chaos-daemon` use [`netlink` ](http://man7.org/linux/man-pages/man7/netlink.7.html) directly.

[2020-03-30 06:41] YangKeao commented on #386
As it suggested, you can not add container for a running pod. You could modify the corresponding `deployment` or delete this and create a new pod (with injected container). You can also modify the pod before it launched with the help of webhook.

If you really want to inject a container for a running pod, you can try [Ephemeral Containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemer

[2020-03-30 11:31] ycwdaaaa commented on #386
if use webhook like chaos-mesh to inject sidecar,  I need deploy the webook first then deploy the pod right?

[2020-03-30 12:25] tsingloon opened #390 "x509: certificate signed by unknown authority"
## Question
use https://github.com/pingcap/chaos-mesh/blob/master/examples/pod-kill-example.yaml to test pod

Error from server (InternalError): error when creating "test_pod.yaml": Internal error occurred: failed calling webhook "mpodchaos.kb.io": Post https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-pingcap-com-v1alpha1-podchaos?timeout=30s: x509: certificate signed by unknown

[2020-03-30 12:25] zhanghuidinah opened #391 "create networkchaos error use wiki doc"
## Bug Report
[code]
**What version of Kubernetes are you using?**

`v1.13`

**What did you do?**

- when I create networkchaos refer to  [Network Chaos](https://github.com/pingcap/chaos-mesh/wiki/Network-Chaos)

**Reason**
- Need to remove metadata/namespaces field，cause  the partition here is globally default
![image](https://user-images.githubusercontent.com/31201589/77911733-e5558e00-72c3-11ea

[2020-03-30 12:28] #390 closed

[2020-03-30 13:02] zhouqiang-cl commented on #390
@tsingloon I see you have close this issue, did you have already do chaos experiments success?

[2020-03-30 13:03] zhouqiang-cl commented on #391
@cwen0 PTAL

[2020-03-30 13:22] YangKian opened #392 "Seems the public key used in images/chaos-kernel/Dockerfile is unavailable"
## Bug Report

**What version of Kubernetes are you using?**
Not relevant

**What did you do?**
Following the guide "setup the development environment" until `make` command

**What did you expect to see?**
The make command should pass successfully

**What did you see instead?**
When building docker image with dockfile in `images/chaos-kernel/Dockerfile`, I get an error:

[code]

Check the dockerfi

[2020-03-30 13:41] cwen0 commented on #391
@zhanghuidinah I am confused about this issue. Form the error log, the `controllers` have no access to `chaos-daemon`, Can you check the status of the `chaos-daemon`?  And make sure that the chaos-daemon pod with IP `10.200.0.72 ` is running.
[code]

If we remove metadata/namespaces field, the NetworkChaos object was created under the `default` namespace. I don't know why it is work for this issue

[2020-03-30 14:29] at15 commented on #373
I look a bit more into the two phase controller logic and it seems duration and cron are not the only two fields controlling the timing. There is also `NextStart` and `NextRecover`. They are included in spec  and marked as optional, are we expecting user to set them or they are just used internally by the two phase controller? If we allow user to set them, then we need to validate them as well. Ot

[2020-03-30 14:51] at15 opened #393 "Question: Will chaos recover if controller manager crashed after applying chaos"
## Question

While working on #373 I checked the recover is triggered using `ctrl.Result{RequeueAfter: duration}`.
Which is implemented in controller runtime and does not persistent into API server.
The reconcile logic of controller is triggered when there is something in the queue (update, requeue etc.). If the manager pod crashed after applying a chaos, nothing will trigger reconcile logic. Chao

[2020-03-30 15:07] Gallardot commented on #373
@at15
I refer to your suggestions, I have used it on this pr #387 . Thank you.

[2020-03-30 15:25] at15 commented on #373
I think @cwen0 you can assign this issue to @Gallardot since he is already fixing it in #387

[2020-03-30 17:23] hoang-tranviet commented on #392
I got the same error, but since I am on Fedora, I add this key using `rpm --import` instead.

[2020-03-31 02:15] Gallardot commented on #373
Not yet fixing this issue, It is better to fixing this issue in another PR. 😂
@cwen0 @at15

[2020-03-31 06:44] zhouqiang-cl commented on #393
@cwen0 @YangKeao PTAL

[2020-03-31 06:45] zhouqiang-cl commented on #392
@cwen0 @YangKeao PTAL

[2020-03-31 08:24] YangKeao commented on #392
I think we should get asc key dynamically with `wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | apt-key add -`, which is also suggested by [kitware website](https://apt.kitware.com/)

[2020-03-31 08:35] YangKeao commented on #393
As I have tested several months ago, when the controller manager starts, it will reconcile all existing Chaos Objects, so nothing can go wrong.

But I didn't look into `controller-runtime`'s codes to make sure.

[2020-03-31 08:44] YangKian commented on #392
Yep, I think it's the best way！I also tried to find a way to update dynamically yesterday, but I didn't find it_(:з」∠)_  thanks for the link

[2020-03-31 09:13] #392 closed

[2020-03-31 09:31] #127 closed

[2020-03-31 10:44] zhanghuidinah commented on #391
[code]

- Sorry, I found the root cause that one node's firewall is not turned on. This issue is solved

![image](https://user-images.githubusercontent.com/31201589/78004147-4d5faf00-736c-11ea-9e23-c3e2c176ce9b.png)

[2020-03-31 12:11] hoang-tranviet commented on #391
@zhanghuidinah I have got the same problem. Would you mind to explain what your environment is (e.g. in kind) and how do you solve the firewall issue in details?
Thank you!

[2020-04-01 06:13] YangKeao commented on #386
@ycwdaaaa Yes 😄

[2020-04-02 02:35] Gallardot commented on #373
I did some experiments.I think it's OK.  I will create a PR again after #387 merged.

[2020-04-02 09:48] #365 closed

[2020-04-03 08:47] HillebrandtOldenberg opened #399 "Chaos Mesh on minikube error: failed post-install: timed out waiting for the condition"
## Bug Report

**What version of Kubernetes are you using?**

Client & server: v1.18.0

**What did you do?**

Followed the [manual](https://github.com/pingcap/chaos-mesh/wiki/Deploy-Chaos-Mesh) until step 3.

**What did you expect to see?**
No error.

**What did you see instead?**
When running `helm install chaos-mesh helm/chaos-mesh --namespace=chaos-testing` I got `Error: failed post-install: ti

[2020-04-03 10:37] fewdan commented on #399
Could you please provide more information, such as "kubectl describe chaos-controller-manager-7bc9664c9b-7bd8c -n chaos-testing"

[2020-04-03 10:58] HillebrandtOldenberg commented on #399
Since that pod was stuck on `ContainerCreating`, there is no resource with that name. I am running minikube v1.9.0 on Windows 10 Pro using the command `minikube start --kubernetes-version v1.18.0 --cpus 4 --memory 8192mb`.

What other information do you need?

[2020-04-03 15:04] wwjgit opened #400 "secrets "chaos-mesh-webhook-certs" not found when creating chaos-controller-manager"
## Bug Report

**What version of Kubernetes are you using?**

v1.12.10
**What did you do?**

cd chaos-mesh
kubectl apply -f manifests/
helm install helm/chaos-mesh --name=chaos-mesh --namespace=chaos-testing
kubectl get pods --namespace chaos-testing -l app.kubernetes.io/instance=chaos-mesh

**What did you expect to see?**
chaos-controller-manager should be running

**What did you see instead?**
k

[2020-04-04 03:09] zhouqiang-cl commented on #399
If can not descript the pod.
Could you try v1.17.2 and use much cpu and memory?

[2020-04-04 03:10] zhouqiang-cl commented on #386
@ycwdaaaa Did every thing is ok now?

[2020-04-04 03:12] zhouqiang-cl commented on #218
Could you provide what cause the failure? thank you very much

[2020-04-04 03:51] ycwdaaaa commented on #386
I have one more question~~  due to our k8s version is 1.8. so I cannot use chaos-mesh....  I see the doc that chaos-mesh need the version at least 1.13.  I have to inject by myself~   So Can you teach me how to inject network delay by DS ?  how to find the pod's network namespace then inject network delay? Or can you lead me to your source code?

[2020-04-04 05:29] Gallardot commented on #400
It is possible that the image is still being downloaded due to a network exception.Maybe you can try it again.

I think we can optimize the process. @cwen0

[2020-04-04 05:46] HillebrandtOldenberg commented on #399
Launched Kubernetes v1.17.2 running on Docker 19.03.8 using the command `minikube start --kubernetes-version v1.17.2 --cpus 4 --memory 8192mb` (can't allocate more computing resources).

Running `helm install chaos-mesh helm/chaos-mesh --namespace=chaos-testing` returned no error this time.

`kubectl get pods --namespace chaos-testing -l app.kubernetes.io/instance=chaos-mesh` output:
[code]

What

[2020-04-04 05:49] YangKeao commented on #386
@ycwdaaaa You can follow these steps to inject network delay manually:

1. Found container id of pod's container with `kubectl describe` (they may start with `docker://` or `containerd://`)

2. Use container id to find PID on the related node (with the help of `docker` or `ctr`). Then `/proc/$PID/ns/net` is related network namespace.

3. Then you can use `nsenter` to change to this network namespa

[2020-04-04 06:09] ycwdaaaa commented on #386
@YangKeao Thank you so much~~ I will follow your steps

[2020-04-04 06:10] ycwdaaaa commented on #386
@YangKeao btw, does these steps can be automatic?

[2020-04-04 06:11] YangKeao opened #401 "Approve certificate error on kubernetes 1.18"
## Bug Report

**What version of Kubernetes are you using?**

1.18.0

**What did you do?**

···
helm install chaos-mesh helm/chaos-mesh --namespace=chaos-testing
···

**What did you expect to see?**

Install chaos-mesh successfully.

**What did you see instead?**

webhook-certs-job fails with

[code]

It's an error returned by `kubectl certificate approve ${csrName}`

[2020-04-04 06:13] YangKeao commented on #399
@HillebrandtOldenberg Can you `kubectl get pods -n chaos-testing`? Is there more pods?

I have also faced a problem: all webhook-cert job failed

[code]

The error message is
[code]

I don't know whether I have met the same problem with you. An issue has been opened at #401. I will try to fix it.

[2020-04-04 06:16] YangKeao commented on #401
I think we can fix it like [istio](https://github.com/istio/istio/pull/22084/files)

[2020-04-04 06:18] YangKeao commented on #386
@ycwdaaaa Yes! It definitely can be automatic and that's why we developed chaos-mesh. But chaos-mesh doesn't support too old version of Kubernetes (as you have found).

[2020-04-04 06:43] YangKeao commented on #399
I have fixed the former issue on #402. I don't know whether this PR will solve your problem.

[2020-04-04 07:29] HillebrandtOldenberg commented on #399
I don't have more pods on Kubernetes v1.17.2. On v1.18.0, however, when running `kubectl get pods -n chaos-testing` I get the same errors as you:
[code]

I am waiting for your pull to merge and, when it does, I will update this thread.

[2020-04-05 03:30] #401 closed

[2020-04-05 08:58] wwjgit commented on #400
@Gallardot may I ask which image? I tried it several times and got the same warning message.

[2020-04-05 12:07] HillebrandtOldenberg commented on #399
`kubectl get pods --namespace chaos-testing -l app.kubernetes.io/instance=chaos-mesh` output on v1.18.0 now:
[code]

The problem is solved. Thank you very much, @YangKeao. Much appreciated :)

[2020-04-05 12:07] #399 closed

[2020-04-05 13:25] shiju-tech commented on #400
i am too facing the same issue with chaos-controller-manager , error is "SetUp failed for volume "webhook-certs" : secret "chaos-mesh-webhook-certs" not found"

also
chaos-daemons fails with mesage "Failed to pull image "pingcap/chaos-daemon:latest": rpc error: code = Unknown desc = Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io"

[2020-04-05 16:11] cwen0 commented on #400
@wwjgit
Sorry for the late response. `bitnami/kubectl:latest` will be used when installing Chaos Mesh, Chaos mesh use this image to create the certificate for webhook. So the controller-manager must wait for certificates to start before it can run normally. You also can use cert-manager for certificate management, here is the related document: https://github.com/pingcap/chaos-mesh/tree/master/helm

[2020-04-05 16:14] cwen0 commented on #400
Can you make sure that each Kubernetes node has the access to `docker.io`?

[2020-04-06 07:18] cwen0 commented on #227
@yujunz Is there any new progress on this issue? need any help?

[2020-04-06 11:51] yujunz commented on #227
Not making much progress on this issue due to some other urgent project.

But I do have a [deep dive to the code](https://docs.google.com/presentation/d/1cIo2P7QgAcJk1rOfcZASmfDppNc5DY9nmVqVdiQmdY4/edit?usp=sharing) and get the [hello world chaos](https://github.com/yujunz/chaos-mesh/tree/hello-world) working now.

I will go over your thoughts and consider how to implement it. Will let you know if

[2020-04-06 14:15] Gallardot commented on #400
@cwen0
Earlier versions of controller-rumtime implemented the logic you mentioned. They abandoned the implementation because of cert-manager. I have a suggestion to use pre-install of helm hook. I'll try that later.

[2020-04-06 14:20] Gallardot commented on #400
@wwjgit @shiju-tech

Could you give me more information please？
[code]

[2020-04-06 15:47] shiju-tech commented on #400
@Gallardot @wwjgit  Thanks for your response.

@Gallardot  please see the info you asked for

kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCom                                                                                                             mit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:

[2020-04-07 00:10] #159 closed

[2020-04-07 01:47] wwjgit commented on #400
kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.10", GitCommit:"e3c134023df5dea457638b614ee17ef234dc34a6", GitTreeState:"clean", BuildDate:"2019-07-08T03:50:59Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.6-45+c49c6cc7ec3af7", GitCommit:"c49c6cc7ec3af777e580543db675b2d545

[2020-04-07 03:58] AngleNet commented on #144
/pick-up-challenge

[2020-04-07 09:42] wwjgit commented on #400
@cwen0 I pulled the image bitnami/kubectl:latest manually and still got the same warning message.

[2020-04-07 09:47] wuurrd opened #405 "The repository should be audited with gosec in CI"
## Feature Request

**Is your feature request related to a problem? Please describe:**

During code auditing of chaos-mesh a number of issues showed up, some of which are slightly worrisome.

**Describe the feature you'd like:**

It would be good if chaos-mesh would run gosec as part of CI and had a clean record

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption

[2020-04-07 10:02] cwen0 commented on #400
@wwjgit Did you pull `bitnami/kubectl:latest` image on the Node that the webhook job run on it?
In addition, what is the final state of `chaos-controller-manager`? Is it always in `Creating`? If so, you can use the `kubectl describe` command to describe the webhook job and get more information.

[2020-04-07 10:14] cwen0 commented on #400
@wwjgit About the warning message, @

[2020-04-07 12:05] fewdan commented on #405
I'm sorry I don't know much about this thing. We will discuss whether to introduce it.

[2020-04-07 12:32] zhouqiang-cl commented on #405
I think @wuurrd means we should add https://github.com/securego/gosec in our Makefile and check it in CI

[2020-04-07 13:37] wwjgit commented on #400
yes. I only have one node in the cluster. I pulled the image on that node.

yes. It is 'ContainerCreating'.

sorry, describe which webhook job?

[2020-04-07 14:21] wuurrd commented on #405
Hey sorry I should have been clear, yes: I mean I think it would be great to run this automated for every commit and spot any regressions. As a part of that - I think the commands that are run with `exec.Command` should be sanitized against command injection.

[2020-04-07 14:43] yeya24 commented on #405
Nice! I think this makes total sense. Would you like to make a PR for it? Contribution welcomed!

[2020-04-07 15:54] cwen0 commented on #400
@wwjgit Can you run the following commands to get more information?

[code]

If you found some pods with `webhook` prefix, can you use `kubectl describe pod webhook-xxx -n chaos-testing` to check the pod status?

[2020-04-07 21:16] vincent178 commented on #295
For selective source and target, I'm going to follow network partition chaos pattern to specify direction between source and target, there are three options `from, to, and both`, do you have any concerns?

Thanks

[2020-04-08 01:53] wwjgit commented on #400
kubectl get pod -n chaos-testing -o wide
NAME                                        READY   STATUS              RESTARTS   AGE   IP            NODE       NOMINATED NODE   READINESS GATES
chaos-collector-database-5f56c7f66-wd2rb    1/1     Running             0          16h   172.17.0.13   minikube   <none>           <none>
chaos-controller-manager-7bc9664c9b-qjjp2   0/1     ContainerCreating   0

[2020-04-08 02:22] Gallardot commented on #400
@wwjgit

Could you execute the following code on your system?

[code]

The code work like the `webhook-certs-job`.

[2020-04-08 02:50] ycwdaaaa commented on #386
@YangKeao
I follow your steps and successfully  inject network delay and loss， thanks so much.   So can I do something like this to inject cpu load or process killer?

[2020-04-08 02:57] wwjgit commented on #400
@Gallardot
I got webhook-test created.

kubectl get secrets -n chaos-testing
NAME                                   TYPE                                  DATA   AGE
chaos-controller-manager-token-9jlwl   kubernetes.io/service-account-token   3      18h
chaos-dashboard-token-44wmg            kubernetes.io/service-account-token   3      17h
default-token-hhgrw                    kubernetes.io/servic

[2020-04-08 03:07] zhouqiang-cl commented on #386
CPU load is still work in progress in https://github.com/pingcap/chaos-mesh/pull/332
You can inject pod failure(pod-kill/pod-failure/container-kill)

[2020-04-08 03:22] ycwdaaaa commented on #386
@YangKeao
so how to do these without chaos-mesh~~ you know it, out k8s version is 1.8.. I cannot use chaos-mesh.
For kill pod, I can invoke client-go finish it. but for cpu load and process kill?

[2020-04-08 03:30] zhouqiang-cl commented on #386
hi, @ycwdaaaa  you can use `stress-ng` like https://github.com/pingcap/chaos-mesh/pull/332

[2020-04-08 03:40] Gallardot commented on #400
[code]

@wwjgit Could you please save the above code as a yaml file. for example `xxx.yaml`

and execute the following
[code]

Please forgive me and thank you for your understanding.

[2020-04-08 03:41] ycwdaaaa commented on #386
hi, @YangKeao  I mean how to inject~~  For network,  thanks very much that I can find out the container net namespace to inject by following your step.  So for these accident type, can I use like this way to find like process namespace to kill process?  or  find the cgroups of container to inject a cpu load in the same cgroups?

[2020-04-08 03:43] zhouqiang-cl commented on #386
@AngleNet PTAL

[2020-04-08 09:09] cwen0 opened #406 "Use templates to simplify the complexity of configuring sidecar ConfigMap"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When we want to inject IOChaos, we need to define a ConfigMap for your application before starting chaos experiment and the ConfigMap have many fields that need to be full. And we found that most of the field values in different configmaps do not need to be changed

**Describe the feature you'd like:**

We can

[2020-04-08 14:02] wwjgit commented on #400
@Gallardot It works. chaos-controller-manager is running. Many thanks.

[2020-04-08 14:17] Gallardot commented on #400
@wwjgit
It's very strange.I still don't know why `helm install` doesn't work.What version of helm are you using?

[code]

@shiju-tech
As mentioned above, dose it work for your? Please let me know, Thank you.

[2020-04-08 17:45] shiju-tech commented on #400
@Gallardot

**kubectl get secrets -n chaos-testing**

chaos-controller-manager-token-7tsh6   kubernetes.io/service-account-token   3      2d1h
default-token-97xpq                    kubernetes.io/service-account-token   3      2d1h
sh.helm.release.v1.chaos-mesh.v1       helm.sh/release.v1                    1      2d1h
webhook-test                           Opaque                                2

[2020-04-08 18:39] HillebrandtOldenberg opened #407 "How to visualize chaos output?"
## Question

How can I see the test results elegantly without running the recommended [benchmark](https://pingcap.com/docs/stable/benchmark/how-to-run-sysbench/)? Something like [web-show](https://github.com/pingcap/chaos-mesh/tree/master/examples/web-show) but for every type of chaos and with data output like [this](https://github.com/mrahbar/k8s-testsuite#test-results). I don't have enough resou

[2020-04-09 00:08] #170 closed

[2020-04-09 01:49] wwjgit commented on #400
helm version
Client: &version.Version{SemVer:"v2.16.5", GitCommit:"89bd14c1541fa93a09492010030fd3699ca65a97", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.16.5", GitCommit:"89bd14c1541fa93a09492010030fd3699ca65a97", GitTreeState:"clean"}

[2020-04-09 03:00] cwen0 commented on #407
@HillebrandtOldenberg I am sorry for your confusion. At present, we just can get the chaos output from the status field of chaos experiment for general applications, for example, assume that you have a chaos experiment named to `pod-fail-chaos` in `app-ns` namespace,  you can use the following command to get the status of this experiment:

[code]

After executing the above command, you can get the

[2020-04-09 09:59] wwjgit opened #409 "Is there a way to use kubectl apply yaml file to deploy chaos-mesh instead of helm?"
We'd like to use chaos-mesh on a cluster which has limited access to network. How to deploy chaos-mesh onto this kind of environment? We can pull and tag the related images in advance for the cluster.

[2020-04-09 10:12] Yisaer commented on #409
Hi @wwjgit ,
You could use `helm template` to generate the target yaml file in the external environment. Then you can bring these yaml files to your env and install the chaos-mesh offline.
eg:

[2020-04-10 02:15] Yisaer commented on #409
I think this method have answered your question, feel ok to reopen the issue if you have any further questions.

[2020-04-10 02:15] #409 closed

[2020-04-10 02:34] Gallardot commented on #400
@shiju-tech
Can you make sure that each Kubernetes node has the access to docker.io?

[2020-04-10 03:07] Gallardot commented on #400
@wwjgit
I install the v2.16.5 helm, but I can't reproduce the error.  😂

[2020-04-10 08:23] cwen0 opened #412 "IOChaos did not work on cockroachdb"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

Inject IOChaos to cockroachdb

![image](https://user-images.githubusercontent.com/22956341/78975656-20b74e80-7b47-11ea-8fd2-e0e7d65daf50.png)

**What did you expect to see?**

We can inject IOChaos on cockroachdb and the sidecar container is running in cockroachdb Pod.

**What did you see instead?**

Sidecar contai

[2020-04-10 09:02] huangwei2013 commented on #390
Got the same problem and find no way

[2020-04-10 09:22] wwjgit commented on #400
@Gallardot chaos-mesh is running perfectly on my system. I will let you know if that happens again. Thanks a lot for the help.

[2020-04-10 09:38] huangwei2013 commented on #344
Met the same problem， and try as [cwen0 provided](https://github.com/pingcap/chaos-mesh/tree/master/helm/chaos-mesh#configuration-and-installation-details) but nothing changed.

[2020-04-10 10:10] cwen0 commented on #344
@huangwei2013  Did you also run Chaos Mesh in k3s environment? In addition, Can you check the certs in the `/etc/webhook/certs/ directory of `chaos-controller-manager` pod and running the following commands to get more information?

[code]

[2020-04-10 11:24] cwen0 opened #413 "IOChaos supports smaller probability of failure injection"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, we support to define the percentage of injection errors and provides a number from 0-100 when to use IOChaos, but sometimes we want the smaller probability, such as 0.01%

**Describe the feature you'd like:**

We can use a float64 type to define the percentage of failure injection.

[2020-04-11 02:14] Gallardot opened #414 "Protect some namespaces"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Currently we can inject chaos into any k8s namespace. But sometimes we might only allow chaos to be injected into a specific scope of namespace.For example,we are not allowed to inject chaos into kube-system namespace . Maybe we need an allow list or a disable list.

https:

[2020-04-11 12:14] yujunz commented on #227
@cwen0
A draft implementation is available for review. Not tested yet.

[2020-04-13 03:15] huangwei2013 commented on #344
@cwen0
I running on minikube(v1.7.3), all-in-one model by a AliCloud Server

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitC

[2020-04-13 03:32] cwen0 commented on #344
@huangwei2013 Hi, judging from the information you provided, I guess that you did not enable `cert-manager`.  If you have deployed `cert-manager` in your cluster, you can set the `webhook. certManager.enabeled` to true in [value.yaml](https://github.com/pingcap/chaos-mesh/blob/master/helm/chaos-mesh/values.yaml#L162) and upgrade Chaos Mesh.  In addition, If you don't want to use `cert-manager`, yo

[2020-04-13 04:42] huangwei2013 commented on #344
I have installed cert-manager as [doc](https://github.com/pingcap/chaos-mesh/tree/master/helm/chaos-mesh#configuration-and-installation-details)
and set  `webhook. certManager.enabeled`， by uninstall and re-install . but...

[2020-04-13 08:34] wwjgit opened #416 "The pods are expected to be running when checking Chaos Mesh pods installed?"
What pods should be up and running after installing chaos-mesh successfully? A pod list should be useful.

[2020-04-13 10:07] fewdan commented on #416
@wwjgit
After installation, you will see "chaos-controller-manager" and "chaos-daemon". The number of "chaos-daemon" is related to the k8s cluster.

[2020-04-13 10:13] wwjgit commented on #416
@fewdan No chaos-daemon running on my system. Below warning message reported.
spec.securityContext.hostPID: Invalid value: true: Host PID is not allowed to be used
spec.volumes[0].hostPath.pathPrefix: Invalid value: "/var/run/docker.sock": is not allowed to be used

[2020-04-13 11:30] fewdan commented on #416
@wwjgit
Would you please provide more information?  For example, what is your environment? Did you install it using "kind"?
Also, you can check whether your docker is normal. Thank you.

[2020-04-13 13:30] wwjgit commented on #416
@fewdan It is k8s cluster with 20 nodes. Not a kind or minikube cluster. The docker is running well.

[2020-04-13 13:41] zhouqiang-cl commented on #416
Hi, @wwjgit could you provide the yaml file and at which step it report this issue, please also provide k8s version, thank you

[2020-04-13 14:32] wwjgit commented on #416
Hi, @zhouqiang-cl, please find the version and yaml file below.

Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.10", GitCommit:"e3c134023df5dea457638b614ee17ef234dc34a6", GitTreeState:"clean", BuildDate:"2019-07-08T03:50:59Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.6-45+c49c6cc7ec3af

[2020-04-13 14:35] wwjgit commented on #416
And the daemon yaml file is created according to https://github.com/pingcap/chaos-mesh/issues/409

[2020-04-14 02:01] Gallardot commented on #344
@huangwei2013

Could you follow this step? It looks like a similar problem.

https://github.com/pingcap/chaos-mesh/issues/400#issuecomment-610734578

[2020-04-14 03:19] huangwei2013 opened #418 "service "webhook-service" not found"
## Question
ran on Minikube failure：

Error from server (InternalError): error when creating "pod-failure-example.yaml": Internal error occurred: failed calling webhook "mpodchaos.kb.io": Post https://webhook-service.system.svc:443/mutate-pingcap-com-v1alpha1-podchaos?timeout=30s: service "webhook-service" not found

as refer to k8s service, got relative results :

NAMESPACE              NAME

[2020-04-14 04:13] cwen0 commented on #418
@huangwei2013 Can you provide more information about your environment? For example, Kubernetes Version, Helm version and the steps to install Chaos Mesh.  In addition,  Can you check the `ValidatingWebhookConfiguration` by the following command?

[code]

Judging from the information provided now, `ValidatingWebhookConfiguration` was not deployed. Can you make sure that `ValidatingAdmissionWebhooks

[2020-04-14 05:36] huangwei2013 commented on #418
[root@dev-1 ~]# kubectl get ValidatingWebhookConfiguration chaos-mesh-validation -o yaml
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: "2020-04-10T03:33:59Z"
  generation: 1
  labels:
    app.kubernetes.io/component: admission-webhook
    app.kubernetes.io/instance: chaos-mesh
    app.kubernetes.io/managed-by: Helm
    app.kubernete

[2020-04-14 08:21] wwjgit opened #420 "Failed to apply PodChaos"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.10", GitCommit:"e3c134023df5dea457638b614ee17ef234dc34a6", GitTreeState:"clean", BuildDate:"2019-07-08T03:50:59Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.6-45+c49c6cc7ec3af7",

[2020-04-14 08:28] zhouqiang-cl commented on #416
@wwjgit today @fewdan will try to reproduce it in our own env

[2020-04-14 08:30] zhouqiang-cl commented on #420
@Yisaer @Gallardot could you please take a look

[2020-04-14 09:21] Gallardot commented on #420
@wwjgit

As communicated [here](https://github.com/pingcap/chaos-mesh/issues/400#issuecomment-611955314), is your cluster working well?

[code]

[2020-04-14 09:28] Gallardot commented on #418
@huangwei2013

the service named`webhook-service` is only mentioned in [manifests.yaml](https://github.com/pingcap/chaos-mesh/blob/50740fc13ad304c3109fc60abb3a01ac205d8c49/config/webhook/manifests.yaml).

Can you provide more information about what's the steps to install Chaos Mesh?

[2020-04-14 09:37] wwjgit commented on #420
@Gallardot
I have two clusters. The one we discussed before is a minikube one which is working well.  This is the other one.

kubectl get all -n chaos-testing
NAME                                            READY   STATUS             RESTARTS   AGE
pod/chaos-collector-database-6c8cdd5f7c-p6k8b   1/1     Running            0          1d
pod/chaos-controller-manager-7c9bd9df9c-slpfz   1/1     Runnin

[2020-04-14 09:42] wwjgit commented on #416
@zhouqiang-cl  @fewdan I've added the sa to a privileged clusterrolebinding.  The chaos-daemon is up and running.

[2020-04-14 10:16] Gallardot commented on #420
@wwjgit
It seems that your chaos-mesh is not installed with helm.

The  `namespace` field is a mistake. It shouldn't be `default`, it should be `chaos-testing`.

[2020-04-14 10:19] Gallardot commented on #420
@wwjgit
If you want to install chaos-mesh by yourself, you should use `helm --dry-run` result as your base code.

[code]

[2020-04-14 10:50] huangwei2013 commented on #418
@cwen0 @Gallardot
what about make a IM by wechat， I can share the server and work out togather and faster.
here is no so efficiency

（v：chrichuang）pls remark of this issue

[2020-04-14 11:35] wuurrd opened #422 "Bump minimist from 1.2.2 to 1.2.3 in /images/chaos-dashboard"
CVE-2020-7598
high severity
Vulnerable versions: < 0.2.1
Patched version: 0.2.1
minimist before 1.2.2 could be tricked into adding or modifying properties of Object.prototype using a "constructor" or "proto" payload.

[2020-04-14 11:41] wuurrd opened #423 "Bump kind-of from 6.0.2 to 6.0.3 in /images/chaos-dashboard"
CVE-2019-20149
moderate severity
Vulnerable versions: < 6.0.3
Patched version: 6.0.3
ctorName in index.js in kind-of v6.0.2 allows external user input to overwrite certain internal attributes via a conflicting name, as demonstrated by 'constructor': {'name':'Symbol'}. Hence, a crafted payload can overwrite this builtin attribute to manipulate the type detection result.

[2020-04-14 12:19] zhouqiang-cl commented on #416
Got. @wwjgit ❤️

[2020-04-14 12:50] shiju-tech commented on #400
@Gallardot  issue seems with my company proxy , will let you know , once it is fixed

[2020-04-14 13:59] shiju-tech commented on #400
@Gallardot  the issue is fixed , i gave access to every node by enabling the  proxies to  pull the image from docker.io  , thank you

[2020-04-15 02:24] wwjgit commented on #420
@Gallardot The chaos-mesh is installed with helm. It is just because the cluster is in an internal data center the chaos pods could not be up properly after executing the helm install command.
I will try the helm --dry-run. And a guide to install chaos-mesh manually would be very helpful.

[2020-04-15 02:32] AndyXia23 opened #426 "IO Chaos did not work on cockroachdb"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"archive", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"$Forma

[2020-04-15 02:38] cwen0 commented on #412
duplicate #426

[2020-04-15 02:38] #412 closed

[2020-04-15 06:07] wwjgit commented on #420
please find mutatingwebhookconfigurations and validatingwebhookconfigurations created by helm --dry-run

apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"admissionregistration.k8s.io/v1beta1","kind":"MutatingWebhookConfiguration","metadata":{"annotations":{},"lab

[2020-04-15 06:15] Yisaer commented on #420
I noticed that the clientConfig in your `webhookConfiguration` is `Cg==`. It seems not right.

[2020-04-15 06:27] Gallardot commented on #420
@wwjgit
I think you need to execute the  `webhook-certs-job` and `webhook-mw-job` batch.jobs  again. The `webhook-mw-job` will fix the  `mutatingwebhookconfigurations ` and `validatingwebhookconfigurations `

[2020-04-15 10:04] wwjgit commented on #420
@Gallardot
kubectl get mutatingwebhookconfigurations.admissionregistration.k8s.io chaos-mesh-sidecar-injector -o yaml

apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"admissionregistration.k8s.io/v1beta1","kind":"MutatingWebhookConfiguration","metadata":{"annota

[2020-04-15 10:05] wwjgit commented on #420
kubectl get validatingwebhookconfigurations.admissionregistration.k8s.io chaos-mesh-validation -o yaml

apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"admissionregistration.k8s.io/v1beta1","kind":"ValidatingWebhookConfiguration","metadata":{"annotations":{},"

[2020-04-15 10:20] wwjgit commented on #420
And the error changed to no route to host

Error from server (InternalError): error when creating "pod-failure.yaml": Internal error occurred: failed calling admission webhook "mpodchaos.kb.io": Post https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-pingcap-com-v1alpha1-podchaos?timeout=30s: dial tcp 10.163.251.137:443: connect: no route to host

[2020-04-15 10:37] cwen0 commented on #418
We need to delete the webhook-service config create by [manifest.yaml](https://github.com/pingcap/chaos-mesh/blob/50740fc13ad304c3109fc60abb3a01ac205d8c49/config/webhook/manifests.yaml), because we don't need it and these configs will overwrite the normal webhook configs.

![image](https://user-images.githubusercontent.com/22956341/79327933-dc152400-7f47-11ea-9a7d-3c9e7af197f1.png)
![image](https:

[2020-04-15 10:38] cwen0 commented on #418
@huangwei2013 Can we close this issue?

[2020-04-16 00:12] #174 closed

[2020-04-16 01:14] yeya24 commented on #422
Thanks for taking care of the security problem of Chaos-mesh 😄
However, we are refactoring chaos dashboard recently. And in this pr https://github.com/pingcap/chaos-mesh/pull/419, the current chaos-dashboard component will be removed. So maybe we can close this ticket? WDYT?

[2020-04-16 01:15] yeya24 commented on #423
Same as https://github.com/pingcap/chaos-mesh/issues/422#issuecomment-614357862

[2020-04-16 02:26] #418 closed

[2020-04-16 02:57] Gallardot commented on #420
@wwjgit need more info.

[code]

[2020-04-16 05:05] RajatVaryani commented on #413
@cwen0 Can I pick this up?

[2020-04-16 05:42] cwen0 commented on #413
@RajatVaryani Of course, thanks for your participation.

[2020-04-16 05:43] wwjgit commented on #420
@Gallardot
kubectl describe pods chaos-controller-manager-XXXXX  -n chaos-testing
Name:               chaos-controller-manager-7c9bd9df9c-5dj4p
Namespace:          chaos-testing
Priority:           0
PriorityClassName:  <none>
Node:               kc-bcc-pod24-10-196-108-43.hadoop.jd.local/10.196.108.43
Start Time:         Wed, 15 Apr 2020 16:40:41 +0800
Labels:             app.kubernetes.io/compon

[2020-04-16 06:30] #416 closed

[2020-04-16 06:50] Gallardot commented on #400
@wwjgit  @shiju-tech

I'll close the issue. If you have any questions, please feel free to reopen it.

[2020-04-16 06:50] #400 closed

[2020-04-16 07:08] Gallardot commented on #420
@wwjgit

In order to improve communication efficiency, can you send an issue to slack?

The #sig-chaos-mesh channel in the [TiDB Community](https://pingcap.com/tidbslack) slack workspace.

[2020-04-16 10:08] huangwei2013 commented on #344
@Gallardot thx for help. I have done

[2020-04-16 12:47] #294 closed

[2020-04-16 13:49] HillebrandtOldenberg opened #430 "PodChaos in version "v1alpha1" cannot be handled as a CustomResourceDefinition"
## Bug Report

**What version of Kubernetes are you using?**

Client & server: v1.18.0

**What did you do?**

Installed chaos-mesh by following the [manual ](https://github.com/pingcap/chaos-mesh/wiki/Deploy-Chaos-Mesh) until step 3. Next, used fabric8's [kubernetes-client](https://github.com/fabric8io/kubernetes-client) to launch the pod-failure action.

_Java code_
[code]

_echo-server-deploymen

[2020-04-17 03:18] rbtcollins opened #431 "helm-less install"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I'm always frustrated when installation is not documented clearly using k8s primitives.

**Describe the feature you'd like:**
Please document the installation and runtime requirements for chaos-mesh, so that environments without helm, and where helm has been decided against, can utilise chaos-mesh (or alternativ

[2020-04-17 03:28] rbtcollins opened #432 "Actual releases?"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Running 'latest' images makes rollbacks very hard.

**Describe the feature you'd like:**
It would be nice if you could tag a monotonic series of images - even if every build is properly gated, unintended consequences can still cause rollbacks to be desirable and the lack of discrete tags makes that impossible to

[2020-04-17 05:03] Yisaer opened #433 "Enrich e2e cases"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I'm glad to say that for now chaos-mesh could run e2e-test for every PR. This would be a powerful way to guarantee the functional ability for chaos-mesh. Now we are going to enrich the e2e cases to cover all existed kinds chaos.

Currently, we have Pod / Network / IO / Container / Time chaos. For each kind of c

[2020-04-17 07:30] cwen0 commented on #431
@rbtcollins Make senses!

[2020-04-17 07:35] cwen0 commented on #432
@rbtcollins Thanks for your suggestions, we will release version 1.0 this quarter and will continue to maintain a certain release frequency.

[2020-04-17 10:43] Kuri-su commented on #355
/pick-up-challenge

[2020-04-17 14:50] cwen0 commented on #430
@HillebrandtOldenberg I am not familiar with fabric8's kubernetes-client. But when we use [client-go](https://github.com/kubernetes/client-go) pkg to talk to a kubernetes cluster, we need to register the CRD schema to runtime schemas, such as:
https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/podchaos_types.go#L215
https://github.com/pingcap/tidb-operator/blob/master/pkg/apis/pingcap/

[2020-04-17 23:51] yeya24 commented on #433
I can take the container kill part first

[2020-04-19 09:47] HillebrandtOldenberg commented on #430
I think you're right.

`kubectl logs podchaos.pingcap.com/pod-failure --namespace chaos-testing`

`error: no kind "PodChaos" is registered for version "pingcap.com/v1alpha1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28"`

[2020-04-19 21:24] Lucaarioo commented on #430
As @cwen0  said you should create CRDs first and then by taking CRDs context. You can create resources for that CR.
Refer to [CRDLoadExample](https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CRDLoadExample.java)

[2020-04-20 08:08] HillebrandtOldenberg commented on #430
@Lucaarioo I don't understand what you're saying. If you're saying to try and create the chaos mesh CRDs using the CRDLoadExample, I've already done that - see the [fabric8 issue](https://github.com/fabric8io/kubernetes-client/issues/2139) mentioned at the beginning of this thread.

[2020-04-20 08:42] ycwdaaaa opened #434 "go mod download hang when run make command to setup development envirment"
I have wait for very long time after run make command.
![image](https://user-images.githubusercontent.com/18463029/79732066-bdd36d80-8325-11ea-85eb-b55b5cd46abf.png)

I know its build the image, but why it takes so mush time?   I'm in china, is there some package cannot download due to "you know why"?

[2020-04-20 09:35] ycwdaaaa commented on #434
timeout:

go: github.com/containerd/cgroups@v0.0.0-20200116170754-a8908713319d: Get https://proxy.golang.org/github.com/containerd/cgroups/@v/v0.0.0-20200116170754-a8908713319d.mod: dial tcp 216.58.200.241:443: i/o timeout
The command '/bin/sh -c go mod download' returned a non-zero code: 1
make: *** [image-binary] 错误 1

[2020-04-20 09:40] ycwdaaaa commented on #434
BTW, I have set proxy by export GOPROXY=https://goproxy.io

[2020-04-20 09:42] zhouqiang-cl commented on #434
@cwen0 @fewdan PTAL

[2020-04-20 09:57] cwen0 commented on #434
@ycwdaaaa `make build` command will build binaries in Docker, this is the dockerfile:  https://github.com/pingcap/chaos-mesh/blob/master/Dockerfile, So If you just set `GOPROXY=https://goproxy.io` on your local environment, the `GOPROXY` won't take effect in docker. If you just want to build binary in your local environment, you can run `make binary`. If you want to build in docker and build an im

[2020-04-20 10:02] ycwdaaaa commented on #434
@cwen0  Thanks a lot,   I will follow your step.  BTW  this the thing I want to do :  I'm going to add  a container cpu load chaos  in chaos-mesh, so I follow the doc to  use the make command to check if the development environment is ok.  But I have already installed a k8s cluster by kubeadm.  So  do I have to run make command? Or can I use some other way to develop and deploy the new chaos-mesh

[2020-04-20 11:06] ycwdaaaa commented on #434
Do I have more fast way to test?

[2020-04-20 11:14] cwen0 commented on #434
What command did you run? Chaos Mash doesn't care how the k8s cluster creates, so you can run the chaos-mesh on your environment. In addition, this PR #332 also tries to support container CPU load chaos. So I think you can try the other issue. 😁

You can try to add an e2e test for the new chaos.

[2020-04-20 12:34] ycwdaaaa commented on #434
@cwen0  just make command. why it cost so much time~~~  BTW,  when the CPU Load
 chaos will be ready for us~~

[2020-04-20 13:21] cwen0 commented on #434
@ycwdaaaa The make command will build binaries in docker and will download a lot of dependent packages when to build, In addition, the make command will pull many base images for building binary image. So If your network is weak, it will cast much time.

@AngleNet

[2020-04-20 14:03] Yisaer commented on #433
I also notice that the Network chaos also have many kinds of case that we could test in e2e-test.
After https://github.com/pingcap/chaos-mesh/pull/403 is merged , we could test the pod-to-pod nework chaos.

[2020-04-20 15:04] #295 closed

[2020-04-20 15:29] shiju-tech opened #435 "failed calling webhook "mnetworkchaos.kb.io""
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.7", GitCommit:"be3d344ed

[2020-04-20 16:37] yeya24 commented on #158
I think we should look at this issue now. Met this several times today
![image](https://user-images.githubusercontent.com/25150124/79776409-b602d180-8303-11ea-95fd-893058368c66.png)

[2020-04-21 00:59] yeya24 commented on #435
@shiju-tech  Hi, could you please try to install chaos-mesh with cert-manager? Seems there is some problem in the script. Cert-manager can solve this problem.

Also cc @cwen0 @zhouqiang-cl , do we need to consider using cert-manager by default?

[2020-04-21 01:41] vincent178 commented on #193
Hi @cwen0 @AngleNet can I work on this? Thanks.

[2020-04-21 01:46] yeya24 commented on #435
@shiju-tech Could you please show your mutating webhook configuration?
[code]

[2020-04-21 02:47] at15 commented on #434
I think we can publish a builder image w/ `gcc g++ make bash git` to make first time build faster for people with slow network. There are mirrors for dockerhub and this can speed up CI builds as well.

btw: Does pingcap have a common build  image for go applications? If so, we can use that directly.

[2020-04-21 02:57] at15 commented on #434
And we can add a `make doctor` command to check network and suggests people to set proxy properly if they didn't. Like `brew doctor`, `flutter doctor`

[code]

[2020-04-21 14:51] yeya24 commented on #433
Is there a good way to test io-delay?

[2020-04-21 17:33] hoang-tranviet commented on #381
I close since the Docker registry seems to be not used any more, at least not on Kind.

[2020-04-21 17:33] #381 closed

[2020-04-22 03:06] wwjgit commented on #420
"no route to host"  is caused by an calico error in my k8s env. It works with hostNetwork.

[2020-04-22 05:22] Yisaer commented on #433
How about deploying a single etcd and run etcdctl in the e2e binary and parse the result? @yeya24

[2020-04-22 07:56] fewdan commented on #426
@AndyXia23
Sorry, I have not reproduced this problem in my local environment. [This](https://paste.ubuntu.com/p/w8vPcwhQCg/) is the content of my ConfigMap. I deployed cockroachdb according to [this](https://github.com/helm/charts/tree/master/stable/cockroachdb). I used the default configuration and successfully injected iochaos.
There may be a problem with your configuration step. You can check t

[2020-04-22 14:58] cwen0 commented on #227
@yujunz Yes, this is a good idea, but I may prefer to use annotation to force cleanup.

[2020-04-22 15:32] yeya24 commented on #426
Are there any logs in your cockroachdb container? It would be appreciated if you can provide more information

[2020-04-22 15:47] yeya24 commented on #426
From the given container information, seems you used exactly the same configuration as #444 . Could you please confirm @AndyXia23 ?

[2020-04-22 17:03] Kuri-su commented on #355
/give-up-challenge

[2020-04-23 00:10] #64 closed

[2020-04-23 06:47] wwjgit opened #446 "pod failure duration not work"
## Bug Report

**What version of Kubernetes are you using?**

v1.12.10

**What did you do?**

kubectl apply -f pod-failure.yaml

pod-failure.yaml as below
apiVersion: pingcap.com/v1alpha1
kind: PodChaos
metadata:
  name: pod-failure
  namespace: chaos-testing
spec:
  action: pod-failure # the specific chaos action to inject; supported actions: pod-kill/pod-failure
  mode: one # the mode to run cha

[2020-04-23 07:35] cwen0 opened #447 "Use annotation of Chaos Object to pause experiment"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, If we want to pause an experiment, we need patch this object, such as:

[code]
I think this operation is complicated and incomprehensible.

**Describe the feature you'd like:**

I recommend that we can use annotation of the object to pause experiment, in the way, we can pause the experiment using th

[2020-04-23 14:15] yeya24 commented on #447
So if we have the annotation way, do we still keep the patch way to pause experiments?
If we could have a kubectl plugin, then it would be much more convenient.

[2020-04-23 14:26] cwen0 commented on #446
@wwjgit Can you provide more information about the target pod? Chaos Mesh will modify the image of the target pod and make the pod unavailable. If you delete this pod, the pod-failure will recover.

[2020-04-23 14:57] oraluben commented on #355
/pick-up-challenge

[2020-04-23 22:31] yeya24 opened #448 "nextRecover and nextStart not precise"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

Created an iochaos below. The duration is 9.9s, less than the cron period 10s. So this should be a valid chaos.

[code]

**What did you expect to see?**

iochaos started successfully

**What did you see instead?**

chaos controller manager threw the error below

[code]

[2020-04-24 00:24] yeya24 commented on #448
tested with duration `9.5s` and cron 10s, this problem is still reproducible

[2020-04-24 02:04] AndyXia23 commented on #426
@fewdan @yeya24 Yes, I used the same configuration but app container crashed.
`Name:               my-release-cockroachdb-0
Namespace:          test
Priority:           0
PriorityClassName:  <none>
Node:               slave1/20.20.20.4
Start Time:         Thu, 23 Apr 2020 11:40:23 +0800
Labels:             app.kubernetes.io/component=cockroachdb
                    app.kubernetes.io/instance=my-re

[2020-04-24 02:15] cwen0 commented on #447
@yeya24 I think we can remove the patch way to pause experiment, In addition, this feature may be used in the process, so I think `kubectl plugin` is not available.

[2020-04-24 02:18] yeya24 commented on #426
@AndyXia23 There is still some difference

I found you use `/bin/sh -ec /tmp/scripts/wait-fuse.sh shell -ecx`. Why you need to add `shell -ecx` here?
[code]

In #444 , we only uses the config below, could you please try it?

[code]

[2020-04-24 02:24] yeya24 commented on #447
Thanks, make sense 💪

[2020-04-24 02:31] wwjgit commented on #446
@cwen0

apiVersion: v1
kind: Pod
metadata:
  annotations:
    chaos-mesh-pod-failure-pod-failure-wordpress-image: repo.jd.local/k8s/wordpress:latest
    kubernetes.io/limit-ranger: 'LimitRanger plugin set: cpu, memory request for container
      wordpress; cpu, memory limit for container wordpress'
    kubernetes.io/psp: restricted-psp
  creationTimestamp: 2020-04-24T02:28:41Z
  generateName: word

[2020-04-24 03:45] AndyXia23 commented on #426
@yeya24 When I used the config you applied, both containers can not work. So I used the config below because the app container is called db. And I did not add `shell -ecx `
![图片](https://user-images.githubusercontent.com/59043762/80172960-f4a8cc80-8620-11ea-8a69-f020ccecfdf5.png)

[2020-04-24 04:12] yeya24 commented on #426
Got it. Could you please show the logs? Both cockroach db container and chaosfs?

[2020-04-24 07:00] #178 closed

[2020-04-24 10:23] AndyXia23 commented on #426
![图片](https://user-images.githubusercontent.com/59043762/80202557-651f1000-8658-11ea-9028-9be1d515d38a.png)
![图片](https://user-images.githubusercontent.com/59043762/80202600-7405c280-8658-11ea-8bf0-0e64a37328c9.png)

[2020-04-24 15:52] yeya24 opened #450 "Experiment should be resumed immediately after not pausing"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

Create a chaos with the config below. We have cron 10m and duration 9m.

[code]

After 10s the chaos started, I paused this chaos. Then 10s later, I set paused to false. I expected the chaos continue running. However, this chaos is still paused until its nextStart, which is 10m later.

After the chaos resumes, we n

[2020-04-26 08:24] Yisaer commented on #434
This is a good idea. I think there already existed the image that meet this requirement.

[2020-04-26 10:54] #144 closed

[2020-04-26 10:54] #145 closed

[2020-04-26 14:01] Yisaer commented on #450
Interesting. I think we could fix this bug in scheduling layer logic. But I'm also worried about it may make scheduling layer more complex as it has already been.

[2020-04-26 14:04] Yisaer commented on #371
I think the `Make docker-image` is out-ou-date.

[2020-04-26 14:09] Yisaer opened #455 "the wiki should be updated."
## Bug Report

The wiki should be updated after we have updated some scripts.

1. move `kubebuilder` and `kustomize` as `Prerequisites` and remove the following command in the document[https://github.com/pingcap/chaos-mesh/wiki/Set-up-the-development-environment].
[code]

2. Update the content in  `make-the-docker-image` with the latest command and tell user to load image by `kind load docker-imag

[2020-04-27 00:11] #213 closed

[2020-04-27 00:11] #219 closed

[2020-04-27 02:36] #371 closed

[2020-04-28 00:10] #220 closed

[2020-04-28 09:13] wwjgit commented on #446
@cwen0 Hi, cwen0, do we have any updates? Or need more information about the issue?

[2020-04-28 17:19] cwen0 commented on #446
@wwjgit Sorry for the late response. I think it is a bug, some case will make the target pod recreated and make the fake image invalid. I am trying to figure out these cases and fix this.

[2020-04-28 18:06] fewdan commented on #426
@AndyXia23
This is indeed a bug. Sorry, there is no better solution at the moment, only a temporary solution can be provided.
You can modify the [yaml](https://github.com/helm/charts/blob/master/stable/cockroachdb/templates/statefulset.yaml) file of cockroach before deploying.
It can be configured like [this](https://paste.ubuntu.com/p/gQHWfwQz6Z/).
Specifically, modify the "command" and "args" fi

[2020-04-29 01:54] at15 commented on #393
Checked controller-runtime behavior, it load all the CRDs when starts and calls Reconcile. So the recover logic should still get triggered after controller restarts as long as nextRecover is updated after chaos is applied. This also applies to starting chaos as well.

https://github.com/pingcap/chaos-mesh/blob/093337c1f46cef80af4a8788101444efaff99cb8/controllers/twophase/types.go#L108

[2020-04-29 01:54] #393 closed

[2020-04-29 07:22] AndyXia23 commented on #426
@fewdan Okay. Thank you for your support.

[2020-04-29 08:18] HongChenTW opened #457 "When does `ValidateDelete` been triggered?"
## Question

I deployed and launched a `PodChaos` chaos, and it worked perfectly.

And I use `kubectl logs` to show `chaos-controller-manager` pod's log, the webhook `ValidateCreate` triggered when I apply new chaos manifests(e.g. `PodChaos`) and `ValidateUpdate` triggered when schedule jobs execute.

[code]

Why `ValidateDelete` method logs `validate delete` doesn't show up when I delete the `Pod

[2020-04-29 08:20] cwen0 commented on #446
@wwjgit Hi, I have tested this case, I think the pod-failure have been injected successfully, Although, the status of the pod was running, this pod can't provide service already. You can check the status of your service or check the log of the pod to confirm this. Sometimes, the status of pod changed to `running` because of `gcr.io/google-containers/pause:latest`

[2020-04-29 08:36] Gallardot commented on #457
@HongChenTW

https://github.com/pingcap/chaos-mesh/blob/ad4f1204a410422e0a93f3aba6b143f42cee15df/helm/chaos-mesh/templates/webhook-configuration.yaml#L33-L51

Operations are CREATE and UPDATE, ignore DELETE. Why we ignore DELETE operation? You can check out this [PR338](https://github.com/pingcap/chaos-mesh/pull/338).  We have some discussion about it. If you have any questions, please let me know

[2020-04-29 08:38] cwen0 commented on #432
@rbtcollins We have release a v0.8.0 version and will continue to maintain a certain release frequency.

[2020-04-29 08:40] #432 closed

[2020-04-29 14:40] 5kbpers opened #458 "Support power-off chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For now, chaos mesh supports `random-kill`, but sometimes we need something like `random-power-off`, to simulate the situations like the network connections don't be closed properly.

**Describe the feature you'd like:**

Chaos which can power-off nodes.

**Teachability, Documentation, Adoption, Migration Strat

[2020-04-29 15:08] Yisaer commented on #458
Power-off chaos is rather interesting while it is hard to guarantee the recovery when we removed the chaos if we really approach to simulate the node power-of.

Maybe we could fail all the pods on the target node and make the target node un-schedule-able?