[2022-05-09 02:19] Andrewmatilde opened #3252 "NetworkChaos: External Target cannot get all the IPs through domain."
## Bug Report

**What version of Chaos Mesh are you using?**
master

**What did you do?**
Apply NetworkChaos with action:Partition on external target www.baidu.com.
[code]

**What did you expect to see?**
The IPSET of target www.baidu.com contains a lot of IPs.

**What did you see instead?**
The IPSET stand for www.baidu.com only contains two IPs.

[code]

**Output of chaosctl**

[2022-05-09 02:20] Andrewmatilde commented on #3252
Related: #3249

[2022-05-09 02:47] g1eny0ung opened #3253 "ui(workflow-ng): support `Suspend` node in UI"

[2022-05-09 02:54] #3224 closed

[2022-05-09 03:13] Andrewmatilde commented on #3249
I know why extern target:127.0.0.1:8080 failed now. It is because Network Chaos only apply IPTABLES rules on 'eth0'.I will try to fix it later.

[2022-05-09 03:50] etigerstudio commented on #3249
I see. However I want to point out that Network Chaos at this moment *is able to* apply rules on localhost targets by setting "lo" as `device`, and it does work this way as I tested. According to [Network Chaos docment](https://chaos-mesh.org/docs/simulate-network-chaos-on-kubernetes/) the default value of `device` field is "eth0", thus we only need to set device to "lo" if we are injecting localh

[2022-05-09 04:40] etigerstudio commented on #3249
I tested external target "1.1.1.1:80" and "www.baidu.com:80" and it looks like Network Chaos see the *IP/hostname together with port* as a hostname to lookup resulting in a lookup failure. However, it is supposed to split the hostname and port first, lookup hostname, and add port to tc netem rule.

So I'm curious that is Network Chaos currently designed to support specifying port in `externalTarge

[2022-05-09 05:35] Andrewmatilde commented on #3249
@etigerstudio Can you share your yaml? It works forme.
![image](https://user-images.githubusercontent.com/32479514/167346800-c780639e-2253-43a0-9978-756dea89a0f4.png)

[2022-05-09 06:16] YangKeao commented on #3249
@Andrewmatilde I think external targets with ports only supports after v2.2.0? See https://github.com/chaos-mesh/chaos-mesh/pull/2932

[2022-05-09 06:18] etigerstudio commented on #3249
I'm using v2.1.5.

Here's my yaml config:
<img width="1199" alt="Screen Shot 2022-05-09 at 2 15 46 PM" src="https://user-images.githubusercontent.com/2973222/167351201-195792cd-477a-44f9-989a-920847ebf612.png">

[code]

[2022-05-09 06:23] etigerstudio commented on #3249
I'll update to v2.2.0 and test whether port filter works for me.

[2022-05-09 06:47] etigerstudio commented on #3249
I just updated to v2.2.0 and everything works like a charm!
Thanks for your assistance!

[2022-05-09 06:48] #3249 closed

[2022-05-09 07:54] xlgao-zju opened #3255 "use subresource for common CRDs"
like what we discussed in https://github.com/chaos-mesh/chaos-mesh/pull/3170 , I think we should think about the subresource and decide whether to use it.

cc @STRRL @YangKeao

[2022-05-10 03:33] STRRL opened #3257 "NetworkChaos would fail with `device: eth0@if12`, including `@ifXX` in the `device`"
## Bug Report

NetworkChaos works with `device: eth0`, not work with `device: eth0@if12`

I am not sure if it would be a bug or an enhancement.

We could add a validation webhook, or trim the things after `@`.

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

It would affect all the Chaos Mesh versions.

**What did you do?**

- `minikube start --cn

[2022-05-10 03:57] YangKeao commented on #3252
It depends on DNS server, and we can do little for it.

![image](https://user-images.githubusercontent.com/5244316/167539821-d8fe3a3b-53cb-4e2c-88d5-f6d61138a275.png)

[2022-05-10 04:20] STRRL commented on #3252
But how? 🤔

[2022-05-10 14:24] sterchelen commented on #2409
Thank you @WangXiangUSTC,
IIUC the code, the `Apply` fct  is called for each pod that fulfills the chaos selector?  https://github.com/chaos-mesh/chaos-mesh/blob/61114328c4dffdb9b204658987c1d9dbf7930108/controllers/chaosimpl/dnschaos/types.go#L48
Which also means that `setDNSServerRules` will be called `n (number of pods) * y (number of dns servers)`?

[2022-05-11 00:19] #2779 closed

[2022-05-11 03:52] #3127 closed

[2022-05-11 03:58] minhtran-q opened #3259 "Chaos network experiment stuck in injecting state"
## Bug Report

**What version of Kubernetes are you using?**

+ v1.14.6

**What version of Chaos Mesh are you using?**

+ chaos-mesh:v2.1.4

**What did you do?**

I try to create a network delay like this:

[code]

After starting, it is always in the injecting state and I can't delete it.

![image](https://user-images.githubusercontent.com/26593630/167766041-ab4fd50b-5732-46ec-9744-13526ef25270.pn

[2022-05-11 06:09] basit9958 commented on #3217
/assign

[2022-05-11 07:18] YangKeao commented on #3259
How did you install the Chaos Mesh? (through helm or install script?) If there are multiple instance of controller managers, maybe we can find the logs in other controller managers.

The information in `kubectl describe NetworkChaos web-show-network-deplay` will also help. The `.Status` will show some information about the execution :thinking: .

[2022-05-11 07:33] YangKeao commented on #3257
It's expected, `eth0@if7` only means the peer of `eth0` device is the interface on host whose index is 7, and `@if7` is never part of the interface name.

Good suggestion.

[2022-05-11 09:39] Garima-Negi commented on #1963
Hi, is this issue still looking for assignees? I'd like to contribute.

[2022-05-11 09:44] YangKeao commented on #1963
As @CIPHERTron doesn't proceed on this issue, I think YES.

And I also think it's a good time to start working on this issue, as the `Makefile` has been much shorter and easier to understand than one year ago :laughing: . If you need any help on understanding the `Makefile` or scripts in `hack/`, feel free to contact us under this issue or in the slack channel :beers:. I'll assign it to you.

[2022-05-11 10:44] ruancmoral opened #3261 "HTTPChaos allowing delays without time unit"
## Bug Report

**What version of Kubernetes are you using?**
v1.18.2

**What version of Chaos Mesh are you using?**
v2.1.5

**What did you do?**

When creating a HTTPChaos with Response or Request delays. I can insert any delay time without specifying the time unit (s,ms,..). And it looks that some times it gets stuck in 'injecting' because of this.

**What did you expect to see?**

Expected not t

[2022-05-12 03:08] S972776051 commented on #1058
你好请问如何解决的

[2022-05-12 03:14] S972776051 commented on #3220
我搭建时候daemon自动启动了4个，而且都有问题，大佬可以教下怎么修改吗
![IMG_20220512_111207](https://user-images.githubusercontent.com/65998909/167984790-2c803ee7-ce77-4462-9438-b42bb3bae647.jpg)
？

[2022-05-12 04:33] S972776051 opened #3262 "chaos-daemon BACK-off restarting failed container"
离线安装后，其他服务都正常启动，chaos-daemon状态为 CrashLoopBackoff，一直重复启动，已经设置标签指定节点安装pod，有人遇到同样的问题吗？求解决下，谢谢各位哥哥们。

[2022-05-12 05:13] YangKeao commented on #3262
Translate:

Please attach the log and describe of chaos-daemon. You can get them through `kubectl logs` and `kubectl describe`. It will help us to investigate the problem.

Translate:

[2022-05-12 05:37] STRRL commented on #1058
This issue is closed by "stale", which means there had been a long time for no update on this issue.

And CrashLoopBackOff is soo general and there is NO common way to fix all these issues about CrashLoopBackOff.

If you are facing the issue of Chaos Mesh not working, with CrashLoopBackOff occurred on the Pod, please open a new issue, with more detail like Kubernetes environment, human operations

[2022-05-12 05:39] STRRL commented on #3220
please feel free to open a new issue.

不要拘谨, 请打开一个新的 issue.

[2022-05-12 07:15] xlgao-zju commented on #3172
k8s release cycle is
[code]

it's about  4 month. since chaos mesh is a fresh project, so I we can still follow the rule `we create a new release every three months`

[2022-05-12 12:08] STRRL commented on #1182
Just curious, could Chaos Mesh work on GKE auto-pilot cluster?

[2022-05-12 12:15] YangKeao commented on #1182
No

[2022-05-13 06:22] WangXiangUSTC commented on #2409
Yeah, you are right, the `y(number of dns servers) is` 1, because Chaos Mesh will only deploy one Chaos Server.

[2022-05-13 07:21] S972776051 commented on #3262
已解决！ 需要修改配置

[2022-05-13 07:25] S972776051 commented on #3220
配置可以指定容器节点，守护就可以指定一个了

[2022-05-13 07:32] sterchelen commented on #2409
Indeed currently with only have 1 dns server in Chaos Mesh... but we are talking about adding more.
I am afraid that we'll make unneeded calls to those dns servers as I mentioned in my previous message, the `Apply` fct is called for each pod that fulfills the chaos selector.

For example, if we have a selector that selects 15 pods and we have 10 dns servers then for each `Apply` call (15 times) we

[2022-05-13 08:20] STRRL commented on #3172
Refer: https://github.com/chaos-mesh/chaos-mesh/discussions/3256

Personal opinion, the reason why I prefer 8 weeks instead of 12 weeks is, that I think a shorter duration of a cycle would bring a quicker walkthrough of the release things. I prefer to keep the 8 weeks as the release cycle at least until we make the handbooks for the release cycle.

[2022-05-13 08:21] STRRL commented on #3215
Hi @DaivikDave , do you need some help? )

[2022-05-13 08:24] S972776051 opened #3263 "chaosmech离线安装后实验报错！附图"
![Uploading 96D56(SOHOH3%C3TRT~7]RY.jpg…](
![96D56(SOHOH3%C3TRT~7 RY](https://user-images.githubusercontent.com/65998909/168242477-c685aeb6-199f-41ea-a074-f1bd00dc793b.jpg)
)
用dashboard设置好实验后执行，出现报错，修改配置还是没有成功

[2022-05-13 08:25] STRRL commented on #3262
Since the issue has been resolved, I am going to close this issue :)

[2022-05-13 08:25] #3262 closed

[2022-05-13 08:27] S972776051 commented on #3263
由于怀疑是生产权限不足，私有云搭建后，再次报错，请问有老师遇到吗？

[2022-05-13 08:38] STRRL opened #3265 "Reuse codes in GitHub Action"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. Duplicated codes/steps in GitHub Action Workflows, for example, there are 4 (becomes 5, after https://github.com/chaos-mesh/chaos-mesh/pull/3264 merged) references to "name: Build Chaos Mesh Build Env", all of them are the same, all of them are duplicated:
![image](https://user-images.githubusercontent.com

[2022-05-15 11:29] lysychenko commented on #2334
Hello, do you resolve this problem? I have the same and i don't know, what to do

[2022-05-15 19:23] basit9958 commented on #3265
Should we use Reusable workflows(https://docs.github.com/en/actions/using-workflows/reusing-workflows#example-reusable-workflow)  which have a job to do https://github.com/chaos-mesh/chaos-mesh/blob/master/.github/workflows/ci.yml#L58-L68
and then we call the reusable workflow https://docs.github.com/en/actions/using-workflows/reusing-workflows#example-reusable-workflow like this

[2022-05-15 19:59] basit9958 commented on #3257
/assign

[2022-05-16 03:46] STRRL commented on #3257
Hi @basit9958 , before you start coding, do you mind sharing what would you do to us? :)

[2022-05-16 03:48] STRRL commented on #3263
I am not sure which parts of TLS are not configured well. Would you provide the log of pod chaos-controller-manager-xxx to us?

[2022-05-16 08:40] STRRL opened #3274 "Release Alpha Version on Branch `master`"
There are several things to be done before we release the first alpha version:

- [x] figure out which version to use for helm charts on branch `master`
- [x] #3292
- [x] #3310
- [x] run CI on branch `master`

[2022-05-16 09:49] lysychenko opened #3275 "[NetworkChaos] error while flushing ip sets for containerID"
## Bug Report

**What version of Kubernetes are you using?**

`Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9a3c549d9ca665e7bc05a3e18f07e", GitTreeState:"clean", BuildDate:"2021-12-16T08:38:33Z", GoVersion:"go1.16.12", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.5", GitCommit:"aea7b

[2022-05-16 10:22] S972776051 commented on #3263
这是前台和后台的报错，请问还需要我提供什么“？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "chaos-mesh/chaos-mesh"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年5月16日(星期一) 中午11:49
***@***.***&gt;;
***@***.******@***.***

[2022-05-16 10:41] lysychenko commented on #3275
also you have mistake in word "fialed". it should be "failed"

[2022-05-16 13:21] osouza-de commented on #3057
Hey there. I am glad you managed to solve your issue.

May I ask what it was and how did you solved it? 'Cause I'm now facing a similar one.

Thanks in advance.

[2022-05-17 02:14] ReigenDing commented on #2521
I want to fix this issue. Do you have any suggestions?

[2022-05-17 03:35] YangKeao commented on #2521
I think it's related with https://github.com/chaos-mesh/chaos-mesh/issues/2730

[2022-05-17 04:46] fewdan commented on #3057
@osouza-de
Usually, this problem is because the container runtime of your kubernetes cluster is different from the container runtime specified by the chaos mesh.
So, you can first confirm the container runtime of your kubernetes cluster, and recall how the chaos mesh was installed at that time.

[2022-05-17 06:38] #2426 closed

[2022-05-17 07:47] osouza-de commented on #3057
oh, thanks!

The issue, in my case,  was fixed by setting "kvm2" instead of "docker" as minikube driver:

`minikube start --driver=kvm2`

I followed [this tutorial](https://minikube.sigs.k8s.io/docs/drivers/kvm2/) to get it done.

[2022-05-18 06:24] g1eny0ung commented on #3275
@lysychenko Got it! Would you like to open a PR to fix it? This would be a good first PR on Chaos Mesh. If you're busy that's fine, I'll open a PR later to correct it.

[2022-05-18 06:42] g1eny0ung commented on #3275
It looks like the problem is caused by all containers under the pod exited. Can you describe the information about the pod? Maybe this will reveal the problem.

[2022-05-18 07:07] Hexilee opened #3276 "webhook ca verification error on k8s"
## Bug Report

**What version of Kubernetes are you using?**

minikube(v1.25.2) kvm2 driver

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.6", GitCommit:"ad3338546da947756e8a88aa6822e9c11e7eac22", GitTreeState:"archive", BuildDate:"2022-04-29T06:39:16Z", GoVersion:"go1.18.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"23", GitVersi

[2022-05-18 21:30] rajdhandus commented on #344
this happened to us and we had to delete the validatingwebhookconfiguration for chaos-mesh as mentioned in the below comment for a related issue and it worked!!

https://github.com/kubernetes/ingress-nginx/issues/5401#issuecomment-662424306

[2022-05-19 01:34] basit9958 commented on #3217
https://github.com/chaos-mesh/toda/pull/35

[2022-05-19 06:47] Andrewmatilde commented on #3263
I guess this is a problem on k8s env。 The problem may caused by k8s network setting.

[2022-05-19 07:13] YangKeao commented on #3276
[code]

Failed to reproduce on my local cluster.

[2022-05-19 08:46] YangKeao commented on #3276
As communicated with @Hexilee, and this issue cannot be produced anymore, I would close this issue.

[2022-05-19 08:46] #3276 closed

[2022-05-19 08:46] Hexilee commented on #3276
I cannot reproduce it, too. I'm going to close this issue.

[2022-05-19 10:15] DaivikDave commented on #3215
Hey @STRRL, I wasn't able to work on it due to some urgency. I'll try to get it completed.

[2022-05-19 10:15] Andrewmatilde opened #3278 "Some Enhancements for Network Chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

#2295 Expand NetworkChaos to support src/dst ports. This is not a BUG ,but the problem is we can not simply complete this simple feature
#3204 Bug: Network Partition with both target & external target will block from target to external target

**Describe the feature you'd like:**

Complete the feature #2295 . F

[2022-05-19 10:43] S972776051 commented on #3263
我用云服在次测试，和环境没关系吧，在线安装可以使用，离线后报同样的问题

[2022-05-19 23:49] DanielH56 opened #3279 "Issues when deployed in VMWare Tanzu"
I may have missed a step, but having successfully installed chaos-mesh and applied an experiment without issues, I am not observing any impacts on the target application itself.  Here are the details:

For installation:

root@server:~# helm install chaos-mesh chaos-mesh/chaos-mesh -n=chaos-testing --set dashboard.securityMode=false --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=

[2022-05-20 03:10] g1eny0ung commented on #3275
I missed #3266. 🤣 You've opened a PR for this.

[2022-05-20 06:18] STRRL opened #3280 "better logging with injection"
Refer: https://github.com/chaos-mesh/chaos-mesh/issues/3275

We should logging more context with that error message.

[code]

[2022-05-20 09:10] mikiihuang opened #3281 "admission webhook "vpodchaos.kb.io" denied the request: Cannot update chaos spec"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.20", GitCommit:"1f3e19b7beb1cc0110255668c4238ed63dadb7ad", GitTreeState:"clean", BuildDate:"2021-06-16T12:58:51Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.20", GitCommit:"1f3e19

[2022-05-20 16:19] sterchelen commented on #2409
Hey 👋🏼  @WangXiangUSTC, wdyt of my preceding explanation?

[2022-05-23 02:36] WangXiangUSTC commented on #2409
Only require one DNS server for Chaos Mesh, the problem is that only supports one Pod for this DNS server now.

[2022-05-23 03:08] g1eny0ung commented on #3279
It looks like there is nothing wrong with the configuration. What about trying to make the `duration` longer first? Let the experiment run for a more extended period to see the problem.

[2022-05-23 03:35] S972776051 commented on #3263
我可以提供我的环境给你，可以帮我看看问题原因吗？

[2022-05-23 03:35] g1eny0ung commented on #3281
Ref #2227. Until now Chaos Mesh didn't support updating a chaos. You can choose to create a new chaos with a different name instead.

[2022-05-23 03:35] #3281 closed

[2022-05-23 05:57] S972776051 opened #3284 "这个是怎么回事，我可以提供我的服务器地址，求解决"
![image](https://user-images.githubusercontent.com/65998909/169752788-5062a8fa-7cad-467a-b6bb-3c856c4feb52.png)

[2022-05-23 06:07] YangKeao commented on #3263
Because we are using mtls to establish the connection between chaos-controller-manager and chaos-daemon, this problem occurs  because the response is not a TLS response. Could you share the `kubectl describe deployment chaos-controller-manager` and `kubectl describe daemonset chaos-daemon` with us? It seems that at least one of them doesn't configure the mtls.

BTW, how did you install the chaos m

[2022-05-23 06:08] YangKeao commented on #3284
Duplicated of https://github.com/chaos-mesh/chaos-mesh/issues/3263

I will respond in the https://github.com/chaos-mesh/chaos-mesh/issues/3263, please don't create new issues for a single problem.

[2022-05-23 06:08] #3284 closed

[2022-05-23 06:23] S972776051 commented on #3263
是按照文档。下面是两个配置
deamon：
![chaos-deamon](https://user-images.githubusercontent.com/65998909/169756253-e460f10b-446e-4b87-a545-a2f3483c3f3a.jpg)
manager：
![chaos-manager](https://user-images.githubusercontent.com/65998909/169756317-a9e82035-4318-4bae-a27c-fc25fd5bca7b.jpg)

[2022-05-23 06:34] YangKeao commented on #3280
As I have mentioned in https://github.com/chaos-mesh/rfcs/blob/main/text/2021-09-27-refine-error-handling.md#handling-error-from-grpc, it nearly impossible to return a full context of the error on the current grpc error implementation.

Such rich log is possible in chaos-daemon, but not in chaos-controller-manager.

[2022-05-23 06:46] YangKeao commented on #3278
No. AIK, at the very first day when the `NetworkChaos` exists, we applied it twice. At that time (nearly three years ago) I didn't understand the network structure of kubernetes, but was asked to create such a thing. Then I found if I applied it twice, the traffic through `ClusterIP` service will also be blocked, which sounds really good :smiley: .

Now, I know the `ClusterIP` service doesn't SNAT

[2022-05-23 06:54] S972776051 opened #3285 "Offline installation of the chaos-deamon keeps rebooting!"
![5a117dc50a2e5aa1fa72eb624c57095](https://user-images.githubusercontent.com/65998909/169760669-53069f1d-0135-44a5-b5b7-a8252f6fae4f.jpg)
添加这条命令后，不会重复启动，可以正常访问web页面，但是实验有影响，请问是因为deamon没有正确启动吗？

[2022-05-23 08:38] minyiwang6 opened #3286 "front bug： when define PhysicalMachineChaos , input : chaosd server address ,always throw exception"
## Bug Report

**What version of Kubernetes are you using?**

v1.19.6

**What version of Chaos Mesh are you using?**

Controller manager Version: version.Info{GitVersion:"master-gd80563f9436515", GitCommit:"d80563f943651519a75254f4148d2a72a341f35a", BuildDate:"2022-05-18T18:04:48Z", GoVersion:"go1.18", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**

install : helm

**What did you exp

[2022-05-23 13:13] gmiam commented on #2409
Hi @WangXiangUSTC,

Sorry, I'm not sure to fully understand your last answer. Isn't it the whole point of this issue to enable the possibility to support multiple DNS pods with Chaos Mesh?

We mainly want to avoid making useless call that will take time, consume resources and increase the risk of errors?

Do you think we can rely on the index to only call once all the DNS pods to patch them? In th

[2022-05-23 14:33] nototain opened #3287 "chaos-daemon keeps CrashLoopBackOff with error: flag provided but not defined: -runtime-socket-path"
## Question
I deployed chaos mesh in k8s environment with version v2.1.5, after deployed both control-manager and dashboard pods are running, but chaos-daemon pods keep  CrashLoopBackOff with error: flag provided but not defined: -runtime-socket-path, does anyone know what is wrong with the config?  thanks!

**> flag provided but not defined: -runtime-socket-path**

![image](https://user-images.gi

[2022-05-24 02:36] WangXiangUSTC commented on #2409
I think calling all the Pods in the DNS server is the simplest way to fix this issue, though it is not perfect.

`rely on the index to only call once all the DNS pods to patch them`, In fact, I'm not clear about what it is mean. 🤔

[2022-05-24 02:57] Andrewmatilde commented on #3278
I know the problem we possibly should divide Network inside the K8S and common Network From Domin to Domin (External Target).

[2022-05-24 05:35] cwen0 commented on #3286
@WangXiangUSTC PTAL

[2022-05-24 05:39] cwen0 commented on #3286
@minyiwang6 Can you make sure that chaosd was installed and add the chaosd server address to chaos-mesh? You can refer to this docs https://chaos-mesh.org/docs/simulate-physical-machine-chaos/

[2022-05-24 06:16] #2886 closed

[2022-05-24 06:20] S972776051 opened #3288 "请问官方真的测试过chaosmesh离线安装吗？"

[2022-05-24 06:20] #3288 closed

[2022-05-24 06:23] minyiwang6 commented on #3286
@cwen0
As the picture  ,my  PhysicalMachineChaos have run success  by using kubectl .  I think the chaosd have installed correctly .But ， this experiment can not be "load  from " for creating another new one .

What do you mean that  add the address to chaos-mesh ? Can you provide some commands?

![image](https://user-images.githubusercontent.com/105764503/169960980-53885424-c1c7-427a-b048-43b547c

[2022-05-24 06:24] S972776051 commented on #3263
![chaos-deamon](https://user-images.githubusercontent.com/65998909/169962918-d406079d-3367-4d50-9b9c-c69d0b3f9983.jpg)

[2022-05-24 06:26] WangXiangUSTC commented on #3286
could you please provide the error message when using `load from`?

[2022-05-24 06:37] YangKeao commented on #3285
It seems to cause the https://github.com/chaos-mesh/chaos-mesh/issues/3263#issuecomment-1135460055 . This line doesn't start  the chaos-daemon. Could you attach the log without this line?

---

这看起来就是 https://github.com/chaos-mesh/chaos-mesh/issues/3263#issuecomment-1135460055 中报错的原因了，因为它之后的 ca 配置没有读进去。

现在需要解决的问题是没有这一行为什么会不停重复启动。能够在不加这一行的情况下获取 chaos-daemon 的日志并贴在这里呢？

[2022-05-24 06:45] nioshield opened #3289 "Why not separate the HELM directory to a repository"
## Question

Why not separate the HELM directory to a repository?
Install Chaos Mesh offline just download helm file

[2022-05-24 06:49] WangXiangUSTC commented on #3286
![image](https://user-images.githubusercontent.com/5793595/169966140-7d5ca943-1ba1-4869-9b72-f8152e617040.png)
After you type the address, you need to press `shift` + `enter`, and then the address is set success. Seems that the tip `Type and end with a space to add one or more chaosd addresses` is wrong, @g1eny0ung PTAL

[2022-05-24 06:56] minyiwang6 commented on #3286
@WangXiangUSTC  Well done ,it's ok now! Thanks much !

[2022-05-24 07:54] gmiam commented on #2409
I'll try my best to explain what we have in mind!

If I understand correctly, the function you mention earlier:
https://github.com/chaos-mesh/chaos-mesh/blob/84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa/controllers/chaosimpl/dnschaos/types.go#L64

Is included in the Apply function which is originally called here:
https://github.com/chaos-mesh/chaos-mesh/blob/84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa/co

[2022-05-24 08:37] STRRL commented on #3274
There are 2 GitHub Action Workflows related to the git tag:

- .github/workflows/release_helm_chart.yml
- .github/workflows/upload_release_files.yml

The first one would build the helm chart to https://github.com/chaos-mesh/charts.
The second one would upload some artifacts (like install.sh) to the aws s3.

IMO, I prefer to:

- only release helm charts for the alpha/beta releases, not release inst

[2022-05-24 08:46] lysychenko commented on #3275
sorry for long answer
bellow one of some problematic pods(different naming changed)
[code]

[2022-05-24 08:52] YangKeao commented on #3274
@STRRL Release both helm charts and install script seems fine (and will keep consistency between different types of release). I don't know why you don't want to release install script for alpha/beta releases?

[2022-05-24 09:13] YangKeao commented on #3274
Will the alpha/beta release even have documents? If it doesn't for both, I think we don't need to take care of it specially, as the url of it is also not documented anywhere...

[2022-05-24 09:17] STRRL commented on #3274
I think they would not have documents.

So I have no idea why a user would use the URL like `https://mirrors.chaos-mesh.org/vX.Y.Z-alpha.W/install.sh` 🙈

[2022-05-24 09:35] STRRL opened #3292 "version unrelated manifests in the repo"
We should update our build system, and make the manifest version unrelated.

After that, the version would only relate to the tag on the commit

[2022-05-24 11:40] S972776051 commented on #3285
![286398bc5b1b66655df8e1101057d12](https://user-images.githubusercontent.com/65998909/170026421-00a37de4-ded2-49ff-a8a5-1b27165e34f7.jpg)
![e0d367758e90b84327a5958d937755b](https://user-images.githubusercontent.com/65998909/170026437-631f1f1c-ebf3-43f3-8f99-7efca08dcc18.jpg)

[2022-05-24 11:41] S972776051 commented on #3285
What other logs do you need? This problem has been delayed for a long time. I hope it can be solved

[2022-05-24 11:45] S972776051 commented on #3287
同问？ 谢谢

[2022-05-24 11:56] S972776051 commented on #3285
i saw (
Chaos Mesh does not support using different Container Runtimes in one cluster.

Because we only use one daemonset for bootstrapping chaos-daemon.

I think manually set up chaos-daemon for different nodes with the proper configuration could resolve that.)

How to realize it？

[2022-05-24 12:15] Andrewmatilde commented on #3261
Hi @ruancmoral . I have simply add a validator. It may help chaos-mesh not to get stuck when `injecting`. Thanks for your suggestion!

[2022-05-24 12:30] YangKeao commented on #3285
Oh! I understand the problem! You are using the latest helm chart (v2.2.0) to install the older version (v2.1.5), so the binary doesn't have the flag.

So there are two ways to solve the problem:

1. Use the latest image, download `ghcr.io/chaos-mesh/...:v2.2.0` instead of `v2.1.5`
2. Use the older helm chart, `helm install ..... --version 2.1.5`

(I think the problem occurs because we haven't pub

[2022-05-24 12:49] S972776051 commented on #3285
谢谢 大哥，我爱你

[2022-05-24 12:50] S972776051 commented on #3285
谢谢  大哥  永远的神  我爱你！

[2022-05-24 12:54] YangKeao commented on #3285
Then I will close this issue and https://github.com/chaos-mesh/chaos-mesh/issues/3263#issuecomment-1135460055. If you still face any problem, or need some further discussion, feel free to reopen or create a new issue.

---

既然问题已经解决 :beers: ，我会把这个 issue 和  https://github.com/chaos-mesh/chaos-mesh/issues/3263 关掉。如果你在使用 Chaos Mesh 的过程中遇到了任何其它的问题（或对我们有任何建议），随时可以建立一个新 Issue :smiley_cat: .

[2022-05-24 12:54] #3285 closed

[2022-05-24 13:07] WangXiangUSTC commented on #2409
Oh, I got it, it is reasonable. To reduce the call times to the DNS server, requires optimization here. you can see the function `setDNSServerRules`:

https://github.com/chaos-mesh/chaos-mesh/blob/84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa/controllers/chaosimpl/dnschaos/types.go#L84

It contains an argument `pod`, it will send grpc request to the DNS server for each pod. We can update it to `pods`,

[2022-05-24 14:59] nototain commented on #3287
Chaos Mesh v2.1.5 was deployed by following offline installation guide:
https://chaos-mesh.org/zh/docs/offline-installation/

[2022-05-25 02:15] WangXiangUSTC commented on #3287
https://chaos-mesh.org/zh/docs/offline-installation/#%E4%B8%8B%E8%BD%BD-chaos-mesh-%E4%BB%93%E5%BA%93%E5%8E%8B%E7%BC%A9%E5%8C%85

Seems that the description is wrong, the download URL is the master branch' URL, please change to `https://github.com/chaos-mesh/chaos-mesh/archive/refs/tags/v2.1.5.zip` and try again

[2022-05-25 02:44] WangXiangUSTC commented on #3289
There is no special reason, just make it easier to manage

[2022-05-25 04:34] S972776051 commented on #3292
请问有2.2.0版本的镜像吗？

[2022-05-25 06:10] S972776051 opened #3299 "离线安装无法使用（之前的问题没有解决）"
![e0d367758e90b84327a5958d937755b](https://user-images.githubusercontent.com/65998909/170191752-042b9f79-3d99-443e-863c-e86fbc864a1f.jpg
![286398bc5b1b66655df8e1101057d12](https://user-images.githubusercontent.com/65998909/170191772-90396eae-76df-4d65-8504-c2cd0aeef769.jpg)
)
昨天大佬给的意见是
Use the latest image, download ghcr.io/chaos-mesh/...:v2.2.0 instead of v2.1.5
Use the older helm chart, helm ins

[2022-05-25 06:58] YangKeao commented on #3299
You are using the v2.2.0 helm chart... If you already have v2.1.5 image, please try to execute the following commands:

[code]

If you are using the correct 2.1.5 chart, run `kubectl describe pods -n chaos-testing chaos-daemon-xxxxx`, and notice the `Command`, it will be:

[code]

There will be no `runtime-socket-path` flag in the command.

[2022-05-25 08:50] STRRL commented on #3299
Hi @S972776051, I think this comment would works: https://github.com/chaos-mesh/chaos-mesh/issues/3287#issuecomment-1136640444

Thanks for your feedback!

I would update the doc later: https://github.com/chaos-mesh/website/issues/301

[2022-05-25 09:06] gmiam commented on #2409
Thanks!

Last question. In my understanding, here:
https://github.com/chaos-mesh/chaos-mesh/blob/84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa/controllers/chaosimpl/dnschaos/types.go#L64

We call the DNS pod using the service IP. I thought the goal was to retrieve al the pods IP from the service and then loop over to make the call to all DNS pods instead of just one (the one handling the request made t

[2022-05-25 09:29] S972776051 commented on #3287
已解决

[2022-05-25 09:34] S972776051 commented on #3299
你说的很对，是版本问题，我觉得是官方的离线文档中下载的yaml有问题，刚刚证实是这样，这个问题已经解决！感谢

[2022-05-25 09:44] #3299 closed

[2022-05-25 10:18] STRRL commented on #3292
It seems your question is not related to this issue.

 Please feel free to open a new issue. :D

[2022-05-25 10:19] S972776051 commented on #3292
已经找到

[2022-05-25 10:24] S972776051 commented on #3292
I have added you up

[2022-05-25 10:35] nioshield commented on #3289
Thanks your replay,  have any plans to move in the future ?

[2022-05-25 15:22] Hexilee opened #3301 "re-trigger label-controlled CI when labels change"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The results of some CI tasks like `must_update_changelog` and `e2e_test` depend on labels, but they won't rerun when labels change. And the input labels won't change when we rerun them manually.

**Describe the feature you'd like:**

Re-trigger some CI tasks automatically when specified labels change.

**Descri

[2022-05-26 02:11] WangXiangUSTC commented on #2409
Yeah, you are right. `pod` refer to the target Pod of the experiment, we need to update it to Pods(all target Pod of the experiment), and then change the `service.Spec.ClusterIP` to the DNS Pod's IP, and execute `setDNSServerRules` for each DNS Pod.

[2022-05-26 03:23] WangXiangUSTC commented on #3289
Unfortunately, we don't have plan now 🙈

[2022-05-26 08:23] hoozgomk opened #3302 "Chaos Mesh Network Attack experiment doesn't work on GKE cluster with Cilium Service Mesh"
## Bug Report

**What version of Kubernetes are you using?**
`1.21.11-gke.900`

**What version of Chaos Mesh are you using?**
`2.1.3`

**What version of Cilium are you using**
`Cilium 1.11.3`

**What did you do?**
[code]

**What did you expect to see?**
I used to use linkerd service mesh within the experimental clusters where Chaos Mesh works flawlessly. I started to use Cilium service mesh, and h

[2022-05-26 08:52] xlgao-zju opened #3303 "display the experiment records details on dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

for now, we only display the experiment spec and some events on the dashboard. like this:
<img width="1613" alt="image" src="https://user-images.githubusercontent.com/1636894/170453392-8ce85792-93c6-4135-b3b2-01ec607e51e3.png">

we can not know the experiment details directly, e.g. we don't know which pod has b

[2022-05-26 08:52] xlgao-zju commented on #3303
cc @STRRL

[2022-05-26 09:05] STRRL commented on #3303
I think we have restored the affected pod in the `status.experiment.records`. :)

Yeah, except for the current status, the history might be useful.

[2022-05-26 09:36] xlgao-zju commented on #3303
I think we have restored the affected pod in the status.experiment.records. :)

yes，and it will be better if we can see this infomation on the dashboard

[2022-05-27 08:50] YangKeao opened #3306 "skip the test in a more elegant way"
We setup a `ci_skip.yml` and `ci.yml` to skip the test while passing the required test. However, it's not the most elegant way.

[2022-05-28 15:44] timdrysdale opened #3307 "install.sh not working due to deprecated version warning in kubectl"
## Bug Report

Hopefully this is not just some basic PEBKAC issue of my own making .... but for me the install script is failing to detect versions correctly due to the "helpful" warning being thrown by my version of kubectl about output format changing, and hence I cannot complete the install with `install.sh`.

**What version of Kubernetes are you using?**
[code]
**What version of Chaos Mesh are

[2022-05-28 16:28] #3259 closed

[2022-05-29 07:31] Andrewmatilde commented on #3307
Can you just delete the check_kubernetes in L270 ?

[2022-05-29 07:56] timdrysdale commented on #3307
Of course - the simple route! That worked. I was just being overly cautious, figuring checks were meaningful or later used in configuration. Thank you!

[2022-05-29 09:12] Andrewmatilde commented on #3307
Thanks for your feedback. I think we will modify it later.

[2022-05-30 05:18] #3292 closed

[2022-05-30 05:19] STRRL opened #3310 "use 0.0.1 as the helm chart `version` and `appVersion` in the repo"

[2022-05-30 10:27] reply1991 opened #3314 "Certificate Problem when starting a test"
Deployed with helm on AKS. all pods up&running and all resources created.

I try then to create a crd NetworkChaos as in the official documentation but I get a x509 signed by unknown authority when trying to contact the Controller Manager svc. the certificate used is stored in the webhook-certs automatically generated by the helm.

Can anyone help me? Should I put a trusted certificate instead?

[2022-05-30 11:11] zhuwenxing opened #3315 "Can not apply chaos to the pod in the namespace which was not `chaos-testing`"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

v2.0.3
**What did you do?**

apply chaos to the pod in `qa-milvus` namespace when chaos mesh was installed in `chaos-testing` namespace

**What did you expect to see?**
the pod was killed
**What did you see instead?**
no pod was killed
**Output of chaosctl**

The log of chaos-controller-man

[2022-05-30 11:15] zhuwenxing commented on #3315
The describe of the target pod. I can confirm that the selector is correct.
![image](https://user-images.githubusercontent.com/12268675/170980839-c9704860-30c3-4ee7-b27e-0659622f1b79.png)

[2022-05-30 11:36] Andrewmatilde commented on #3315
It seems this is a auth problem.

[2022-05-30 11:38] Andrewmatilde commented on #3315
PTAL @cwen0 , can you give some advice?

[2022-05-30 11:48] zhuwenxing commented on #3315
Yes, my first guess to the possible cause is a permissions issue. chaos mesh is installed by the cluster administrator, but we only have access to a single namespace.

[2022-05-30 13:18] zhuwenxing commented on #3315
https://chaos-mesh.org/zh/docs/configure-enabled-namespace/
Will this be helpful?

[2022-05-30 14:13] zhuwenxing commented on #3315
It works after config following this doc

[2022-05-30 14:13] #3315 closed

[2022-05-31 00:20] #2847 closed

[2022-05-31 07:52] YangKeao commented on #3302
@Andrewmatilde I think this problem has some connection with https://github.com/chaos-mesh/chaos-mesh/issues/3278#issuecomment-1134248492 .

Network partition will work in your case, because for network partition, we block the traffic twice (in the source outbound, and target inbound). However, netem chaos (delay, loss, ...) will not work, because natively, the netem only affect outbound traffic,

[2022-05-31 08:04] STRRL commented on #3314
Hi! Could you provide the following informations for us?

- did you operate upgrade/uninstall before?
- do you use Chaos Mesh with a service mesh framework(like istio) which might intercept the network traffic?
- the version of Chaos Mesh
- the version of kubernetes
- the log of pod chaos-daemon-xxx() contains "x509 errors"

[2022-05-31 08:14] xbx opened #3316 "How to determine the completed status of an experiment"
## Question

The following are the status fields of 2 different finished experiments:

[code]

[code]

They seem to follow opposite logic as `desiredPhase` ends up as Run and Stop, same thing for AllRecovered and AllInjected. So, from the status objects alone, how can determine that the experiments have finished? We are looking for something simple, like `Completed: True/False`.

Thanks

[2022-06-01 00:23] #2859 closed

[2022-06-01 02:02] STRRL commented on #3314
I think you have enabled the "istio sidecar pod injection" and "TLS", istio would "wrap" the original traffic with its TLS layer.

Chaos Mesh would register “Validating Admission Webhooks/Mutating Admission Webhook” into kubeapiserver, for
validating/updating CRDs like `IOChaos`, `NetworkChaos`.

You could use this annotation on Pod "chaos-controller-manager-***" to avoid it:
[code]

refer:

- htt

[2022-06-01 05:35] Andrewmatilde commented on #3316
I think pod kill is different from other experiments. The pod kill experiments complete when the pod shutdown. The other experiments like StressChaos will work a long time utile you stop it or delete it.

[2022-06-01 05:40] Andrewmatilde commented on #3316
So if we don't use pause , it will be simpler to judge whether experment works well.

[2022-06-01 05:54] Andrewmatilde commented on #3316
In [#3170](https://github.com/chaos-mesh/chaos-mesh/pull/3170), we have add some status that may helps it.

[2022-06-01 07:27] reply1991 commented on #3314
Hello @STRRL thank you for your answer.

Unfortunately your solution did not work. I also opened an interactive terminal on daemon pod and tried to post the svc (as said in the log) and I replicated the error. I tried then with -k to skip ssl and it went successfully.

I then used openssl and the certificate retrieved from the server is the name shown in the certificate. I think istio is not inter

[2022-06-01 07:54] #2749 closed

[2022-06-01 19:15] stephen-harris opened #3321 "Pod Security Policy doesn't match Chaos Deamon's requirements"
## Bug Report

**What version of Kubernetes are you using?**
1.20.15

**What version of Chaos Mesh are you using?**
2.2.0

**What did you do?**
Deployed Chaos Mesh using Helm (via ArgoCD) in a cluster with restricted PodSecurityPolicies, docker runtime and `.Values.bpfki.create` set to `false`.

**What did you expect to see?**
Chaos daemon to be deployed

**What did you see instead?**
The error:

[2022-06-02 03:24] Andrewmatilde commented on #3321
Tanks for your feedback. Can you show your raw helm command? What is `restricted PodSecurityPolicies, docker runtime` acctually means? And I think set .Values.chaosDaemon.privileged be true may help it.

[2022-06-02 14:45] stephen-harris commented on #3321
Sorry, that was clumsily put by me. By "restricted PodSecurityPolicies", I just meant that the chaos-daemon couldn't use an already existing pod security policy (because they are either locked down, or provide insufficient permissions). So it's relying on the PSP provided by the chart to give it appropriate permissions. (On EKS there is by default a highly privileged PSP - in such circumstances yo

[2022-06-04 21:14] mortenmj opened #3324 "Helm chart outputs Certificates without rotationPolicy"
## Bug Report

As of cert-manager 1.8, Certificates must have a value set for spec.privateKey.rotationPolicy. From the upgrade documentation:

Reference: https://cert-manager.io/docs/installation/upgrading/upgrading-1.7-1.8/

**What version of Kubernetes are you using?**
1.22

**What version of Chaos Mesh are you using?**
2.2.0

**What did you do?**
Created chaos-mesh k8s manifests from the Helm c

[2022-06-05 09:10] STRRL commented on #3321
Hi @stephen-harris , would you like to create a PR to fix this issue? :heart:

[2022-06-06 08:48] STRRL commented on #2818
since #2828 is closed, this issue is available.

Contribution is welcome. :)

[2022-06-06 11:40] cyclone-lab opened #3326 "Label Selectors associated with specific Namespace is not available when fill in a chaos mesh experiment info on platfrom"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.10", GitCommit:"98d5dc5d36d34a7ee13368a7893dcb400ec4e566", GitT
reeState:"clean", BuildDate:"2021-04-15T03:28:42Z", GoVersion:"go1.15.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.10-r0-21.11.1.1.B00

[2022-06-06 12:19] iguoyr commented on #3326
@cyclone-lab Hi, could you provide some information about [the RBAC](https://chaos-mesh.org/docs/manage-user-permissions/) that you used to operate chaos dashboard? Maybe it's related to the permission.

[2022-06-06 13:06] masa-oza opened #3327 "Field `options` in kind:PhysicalMachineChaos cannot work"
## Bug Report

**What version of Kubernetes are you using?**
GitVersion: v1.23.5+rke2r1
GoVersion: go1.17.8b7

**What version of Chaos Mesh are you using?**
GitVersion: v2.2.0
GoVersion: go1.18

**What did you do?**
Bug that the type of field options is different between chaos mesh and chaosd.
I applied below manifest, but got error event at `options` field.
[code]

Error event is below.

Ref. htt

[2022-06-06 14:29] WangXiangUSTC commented on #3327
This is a bug, `Options` in chaosd's `StressCommand` is `[]string` type, but in `PhysicalMachineChaos` is `string` type. I will fix it. Thanks for your feedback!

[2022-06-06 16:13] ruancmoral commented on #3261
Thanks for your time.

[2022-06-06 16:13] #3261 closed

[2022-06-07 02:14] cyclone-lab commented on #3326
@iguoyr  Hi, this is my RBAC infomation, please check it

kind: ServiceAccount
apiVersion: v1
metadata:
  namespace: default
  name: account-cluster-manager-wqdaa

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: role-cluster-manager-wqdaa
rules:
- apiGroups: [""]
  resources: ["pods", "namespaces"]
  verbs: ["get", "watch", "list"]
- apiGroups:
  - chaos-mesh.org

[2022-06-07 03:16] iguoyr commented on #3326
Hi @cyclone-lab, the manifest of rbac looks good, could you provide some snapshots of the request and the response about getting pod labels?

Detail steps:
1. press `F12` on the current page, and click `Network` tab.
2. click `Namespace Selectors` dropdown box, choose a namespace.
3. click `Label Selectors` dropdown box.
4. now, there will show some requests in `Network` tab, we need to click the

[2022-06-07 04:06] cyclone-lab commented on #3326
@iguoyr  Hi, I find that there is no any request in network tab when I click Namespace Selectors dropdown box and choose a namespace as below

<img width="941" alt="屏幕截图 2022-06-07 113352" src="https://user-images.githubusercontent.com/106967242/172292289-93a2971e-f3c9-44b7-a82e-a65a15eefba9.png">

  But when I disabe the permission authentication feature via run helm command "helm upgrade chaos-m

[2022-06-07 04:43] Hexilee commented on #2971
close by https://github.com/chaos-mesh/website/pull/298

[2022-06-07 04:43] #2971 closed

[2022-06-07 04:44] Hexilee commented on #3301
close by #3300

[2022-06-07 04:44] #3301 closed

[2022-06-07 05:46] iguoyr commented on #3326
@cyclone-lab Hi, it looks weird, there must send some requests, could you refresh this page, and press `F12` then click the `Namespace Selectors` and then click `Label Selectors`?

[2022-06-07 07:55] ywq20011 opened #3330 "AttachNotSupportedException! JVM Chaos Injection failed."
## Bug Report

**What version of Kubernetes are you using?**
1.20.4

**What version of Chaos Mesh are you using?**
v2.2.0

**What did you do?**

inject JVMChaose:

[code]

**What did you expect to see?**

inject successfully.

**What did you see instead?**
injection failed.

error log:

2022-06-07T06:57:50.175Z	INFO	chaos-daemon.daemon-server.background-process-manager.process-builder	pb/chaosdaem

[2022-06-07 08:57] cyclone-lab commented on #3326
@iguoyr  there is still no requests

[2022-06-07 09:46] STRRL opened #3331 "refactor: remove not used `Clientset *kubernetes.Clientset`"
refer:

https://github.com/chaos-mesh/chaos-mesh/blob/bb58c2efcf69421cf332947c051fa6e336ab4990/cmd/chaos-controller-manager/main.go#L106-L108

I think we could remove it directly and safely.

[2022-06-07 09:47] STRRL opened #3332 "refactor: remove not used `globalCacheReader`"
refer:

https://github.com/chaos-mesh/chaos-mesh/blob/bb58c2efcf69421cf332947c051fa6e336ab4990/cmd/chaos-controller-manager/provider/controller.go#L155-L168

I think we could remove it directly and safely.

[2022-06-07 10:31] cyclone-lab opened #3333 "Nginx HTTP RESPONSE PATCH experiment cannot work according to official tutorial"
Nginx HTTP RESPONSE PATCH experiment cannot work according to official tutorial

https://chaos-mesh.org/zh/docs/the-guide-to-chaos-mesh-v21/#%E6%B5%8B%E8%AF%95-nginx-%E6%9C%8D%E5%8A%A1

[2022-06-07 12:00] z1cheng commented on #3331
/assign

[2022-06-07 13:30] iguoyr commented on #3333
Hi @cyclone-lab, could you provide more details? What kind of error did you see? And in which step did it not work?

[2022-06-07 13:44] g1eny0ung commented on #3326
@cyclone-lab There are some errors in the console in this screenshot, and perhaps the cause of the problem can be seen through these errors. Can you try to reproduce it again?

[2022-06-07 13:51] iguoyr commented on #3330
Hi @ywq20011, it seems this issue #2751 solved this problem, but the pr #2904 did not merge into v2.1.5, maybe we will cherry pick it into v2.1.x (in the next bugfix version). And v2.2.0 is already released, I think upgrade to v2.2.0 could solve this problem.

[2022-06-08 00:49] calderaax commented on #2898
this one worked for me, port 9443 was not set in the firewall rules

[2022-06-08 02:10] ywq20011 commented on #3330
Hi, @iguoyr , we are using v2.2.0.

Maybe this issue is not related to #2751
pid200534 and pid12 are the same pid.
200534 is the pid on host machine.
12 is then pid in container.

[2022-06-08 03:43] STRRL commented on #2898
As your question is resolved, I would close this issue.

Feel free to reopen it if other related issue occurs.

[2022-06-08 03:43] #2898 closed

[2022-06-08 05:12] Andrewmatilde commented on #3333
Hi @cyclone-lab , actually partly of this experiment only work for Chaos Mesh v2.1.x. If you are using v2.2.x ,please try to connect CLUSTER-IP:port instead of port-forward.

[2022-06-08 05:13] Andrewmatilde commented on #3333
Example: ![image](https://user-images.githubusercontent.com/32479514/172536670-8587b2c4-8540-4e72-b524-b05ad3ad3ba8.png)
[code]

[2022-06-08 06:05] Hexilee opened #3338 "ci: markdown links checking fails too often"
## Bug Report

https://github.com/chaos-mesh/chaos-mesh/actions/runs/2458959892
https://github.com/chaos-mesh/chaos-mesh/actions/runs/2455179904
https://github.com/chaos-mesh/chaos-mesh/actions/runs/2445771569
https://github.com/chaos-mesh/chaos-mesh/actions/runs/2445379503
https://github.com/chaos-mesh/chaos-mesh/actions/runs/2426236946

It seems the access to https://www.microsoft.com/ and https

[2022-06-08 06:06] STRRL opened #3339 ""syntax error: invalid arithmetic operator" in `install.sh`"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

- `minikube start`
- `curl -sSL https://mirrors.chaos-mesh.org/latest/install.sh | bash`

**What did you expect to see?**

Chaos Mesh installed, no warning, no error.

**What did you see instead?**

Chaos Mesh installed but with warning:

[code]

**Outp

[2022-06-08 06:14] #3310 closed

[2022-06-08 06:15] nioshield commented on #3332
/assign

[2022-06-08 06:47] WangXiangUSTC commented on #3330
It seems that it is similar to https://github.com/chaos-mesh/chaos-mesh/issues/2588

Can you check the Linux kernel's version of the K8s's node? It requires v4.2 at least

[2022-06-08 06:59] STRRL commented on #3169
I propose using Kubernetes 1.19 as the minimum supported kubernetes version in 2.3.0.

PTAL  @chaos-mesh/maintainers @chaos-mesh/committers

refer:

supported Kubernetes version on cloud providers:

- AWS: 1.19  https://docs.aws.amazon.com/eks/latest/userguide/kubernetes-versions.html
- Azure AKS: N-3 Version(1.21 now) https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions?tabs=a

[2022-06-08 07:31] oldthreefeng commented on #3330
so, the requirement should be added  in docs...

[2022-06-08 07:44] STRRL commented on #3330
Would you like to help us update that? :heart:

[2022-06-08 07:48] Andrewmatilde opened #3340 "Appending e2e test cases for #3308"
## Feature Request
Add test case for the situation that:
Apply network partition from A to B & A to externel target C.
Test 1:
Network from A to C is blocked.
Test 2:
Network from B to C work well.

#3308

[2022-06-08 07:51] STRRL commented on #3333
Does it mean HTTPChaos(chaos-tproxy) could affect `kubectl port-forward` before, but it does not now? 🤔

[2022-06-08 07:53] Andrewmatilde commented on #3333
No , the core change is HTTPChaos(chaos-tproxy) could affect localhost traffic now.

[2022-06-08 07:58] STRRL commented on #3333
Just curious, is there any way to make injection with localhost traffic functional?

[2022-06-08 09:35] YangKeao opened #3341 "Multi-Cluster Support Tracking Issue"
After submitting https://github.com/chaos-mesh/rfcs/pull/44, the developer teams have agreed on some of the designs, but at the same time, we doesn't have a good solution for the authentication/authorization. Luckily, it doesn't stop us from moving towards the target: injecting chaos into multiple clusters.

We can split the implementation into several parts:

1. Add a framework to allow developer

[2022-06-08 09:42] #3331 closed

[2022-06-08 10:34] STRRL commented on #3341
It should assign to me. 🤣

[2022-06-08 11:13] cyclone-lab commented on #3333
hi @Andrewmatilde   it remain does not work in your way, i use Chaos Mesh v2.2.x.

<img width="926" alt="屏幕截图 2022-06-08 190926" src="https://user-images.githubusercontent.com/106967242/172602769-d378ded6-9a8c-4400-a521-c1777fe3375b.png">
<img width="956" alt="屏幕截图 2022-06-08 190952" src="https://user-images.githubusercontent.com/106967242/172602775-30f1678d-d26e-4397-9e13-fee1abea44ed.png">

[2022-06-08 12:31] iguoyr commented on #2980
Hi @Jorge-Zed, could you show a part of the config file of this github action? Do you install Kubernetes in your action every time? It seems that Kubernetes is already exist before the 2nd time.

[2022-06-08 12:47] Andrewmatilde commented on #3333
IMHO, no pod is affectted by your chaos experiment.
![image](https://user-images.githubusercontent.com/32479514/172619950-49ca6564-a252-4be1-a35f-851d12bbcb93.png)

[2022-06-09 01:16] Cas-pian opened #3344 "10 minute guide failed"
## Bug Report

**What version of Kubernetes are you using?**

v1.23.3

**What version of Chaos Mesh are you using?**

v2.1.5

**What did you do?**

Follow the [10 minute guide](https://chaos-mesh.org/docs/the-guide-to-chaos-mesh-v21/)
Which versioin of chaos-mesh should we use in this guide?  v2.1.x or v2.2.0 ? There might be something wrong with this page.

**What did you expect to see?**
httpcha

[2022-06-09 02:53] WangXiangUSTC commented on #3330
https://chaos-mesh.org/docs/simulate-jvm-application-chaos/

There is a note in this document, PTAL

[2022-06-09 03:25] #2979 closed

[2022-06-09 03:35] iguoyr commented on #2980
Hi @dcalvin, I want to figure out a question, `1st time` and `2nd time` means running a workflow multi times, or calling `chaos-mesh/chaos-mesh-action@master` multi times in one workflow?

1. if it means running a workflow multi times, I think the problem is related with the approach of installing Kubernetes, it need a clean Kubernetes cluster before calling `chaos-mesh/chaos-mesh-action@master`,

[2022-06-09 03:47] iguoyr commented on #3330
@WangXiangUSTC the document requires v4.1 or later, do we need to update it to v4.2?

[2022-06-09 03:53] iguoyr commented on #3344
Hi @Cas-pian, this issue is duplicate with #3089, v2.2.0 is released now, you could upgrade to v2.2.0 and try this document again :)

[2022-06-09 04:13] cyclone-lab commented on #3333
@Andrewmatilde why no pod is affectted by my chaos experiment, I have choose target pod to make experiment

[2022-06-09 05:54] WangXiangUSTC commented on #3330
I made a mistake here, 4.1 is OK

[2022-06-09 06:37] cyclone-lab commented on #3333
@Andrewmatilde  this is error info of my experiment
nginx-http-patch

Failed to apply chaos: failed to apply for pod default/nginx-6bc6b55c44-xfnzq: rpc error: code = Unknown desc = create http chaos: get PID of container(containerd://178bdc3ad67b8d2f283cb5041eb90f7501d9ce6e8c473745a1d2d645b161a44f): expected docker:// but got container
<img width="911" alt="屏幕截图 2022-06-09 143605" src="https://us

[2022-06-09 07:27] Cas-pian commented on #3344
@iguoyr Thanks, I'll have a try, and the document title should be updated.

[2022-06-09 08:57] iguoyr commented on #3344
@Cas-pian Yes! Will fix that document soon. Thanks for your feedback.

[2022-06-09 09:34] Andrewmatilde commented on #3333
I think this may help it. https://chaos-mesh.org/docs/production-installation-using-helm/#step-4-install-chaos-mesh-in-different-environments

[2022-06-09 09:38] STRRL opened #3345 "PodKill would not completed within Workflow"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

master branch

**What did you do?**

create a workflow like :

[code]
**What did you expect to see?**

three nodes would execute one by one

**What did you see instead?**

stucked in second node kill-nginx

**Output of chaosctl**

[2022-06-09 10:22] ywq20011 commented on #3330
We update the Linux kernel's version to v5.10 .

unfortunatlly,  a different error happened:

[code]

does it have  to be v4.1?

[2022-06-09 11:29] WangXiangUSTC commented on #3330
Seems that this issue is similar to https://github.com/chaos-mesh/chaos-mesh/issues/2690, and this error should be ignored.

Could you please provide the related error log in chaos-daemon?

[2022-06-09 12:10] oldthreefeng commented on #1389
[code]

i have this issue.  kubernetes v1.20.4 ,  chaosmesh v2.2.0

[2022-06-10 00:21] #2916 closed

[2022-06-10 02:55] iguoyr commented on #3321
@stephen-harris Base on master, and you could add a label `needs-cherry-pick-2.2` when you create the pull request, the `ti-srebot` will try to cherry-pick it to release-2.2 :)

[2022-06-10 03:13] ywq20011 commented on #3330
We change the kernel's version to v4.19.

[code]

[2022-06-10 05:02] #3253 closed

[2022-06-10 05:35] WangXiangUSTC commented on #3330
Could you please provide the stdout and stderr log related to the `byteman` of your Java application?

It will help me to check whether the `byteman` agent is attached success.

[2022-06-10 06:57] ywq20011 commented on #3330
my java application did not produce any log related to byteman..
i don't know where to find the logs..
bminstall.sh process produced the content below only:
[code]

[2022-06-10 06:59] WangXiangUSTC commented on #3330
What is the java version of your application? I will try it

[2022-06-10 07:38] iguoyr opened #3348 "Update webhook for HTTPChaos"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**
Fix the error message in #3344, it should be returned when applying the manifest, but not in events.

**What did you see instead?**

**Output of chaosctl**

[2022-06-10 09:14] WangXiangUSTC commented on #3330
Unfortunately, I can't reproduce it in my environment. Could you please check whether the `byteman` agent is installed success into your java application by following steps:

1. Enter into the Java appliction's Pod

For example, if the Pod name is `test`, execute the command below:

[code]

2. Send HTTP request to `byteman` agent

I see the YAML config file of your experiment, the port is 9277, so

[2022-06-10 10:38] ywq20011 commented on #3330
pretty sure 9277 port is listened by something...
[code]

in another container where agent is not installed:

[code]

[2022-06-10 12:02] nioshield opened #3349 "delete HTTPChaos error iptables: Chain already exists"
## Bug Report

**What version of Kubernetes are you using?**
v1.19.5

**What version of Chaos Mesh are you using?**
2.1.5

**What did you do?**
delete a exists HTTPChaos
**What did you expect to see?**
[code]
**What did you see instead?**

**Output of chaosctl**

[2022-06-10 14:08] WangXiangUSTC commented on #3330
OK, it seems that the agent installed success, and  this error can be ignored, I will fix it

[2022-06-10 18:15] macbash opened #3351 "For AWS Chaos - how can we use ec2 role permission instead of aws secret/access key ?"
Hi Team,

As per the document for awschaos, we have to use aws secret/access key as secret, is there any option to use ec2 role permission for this ? pl let me know the feasibility

[2022-06-11 03:15] STRRL commented on #3274
we have released v2.3.0-alpha.0.

[2022-06-11 03:15] #3274 closed

[2022-06-11 03:26] STRRL opened #3352 "v2.3.0-alpha.0 appears on artifacthub.io without "pre-release" mark"
We have marked v2.3.0-alpha.0 as pre-release on GitHub release, and helm could recognize it is a `--devel` version.

But on artifacthub.io, it should use an annotation `artifacthub.io/pre-release` in Charts.yaml to mark it is a prerelease version.

https://artifacthub.io/packages/helm/chaos-mesh/chaos-mesh
https://artifacthub.io/docs/topics/annotations/helm/

relates to:https://github.com/chaos-me

[2022-06-12 16:18] STRRL commented on #2908
I am going to close this issue because of inactivation.

Feel free to reopen it.

[2022-06-12 16:18] #2908 closed

[2022-06-13 07:51] hillbun opened #3356 "what's difference between pod-kill and container-kill"
what's difference between pod-kill and container-kill

[2022-06-13 08:39] WangXiangUSTC opened #3357 "NetworkChaos: spec. ipsets.ipsetType: Required value"
## Bug Report

**What version of Chaos Mesh are you using?**

2.1.3

**What did you do?**

create NetworkChaos with yaml:

[code]

**What did you expect to see?**

Create experiment success.

**What did you see instead?**

Failed, can see error in log:

[code]

[2022-06-13 09:56] STRRL opened #3358 "provide values.schema.json for helm chart"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Schemaless helm values.yaml.

**Describe the feature you'd like:**

provide `values.schema.json`

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-06-14 00:23] #2903 closed

[2022-06-14 03:16] cwen0 commented on #3351
@macbash Chaos Mesh hasn't supported using ec2 role permission for AWS Chaos, but this is a good idea. You can create a feature request for this, and we can discuss it together.

[2022-06-14 09:28] ycwdaaaa commented on #3196
i also meet this issue

[2022-06-14 12:27] mccullya commented on #3326
Just an FYI, I too am experiencing the above.  Another thing of note, when I manually added a test via kubectl, it did not show in the dashboard.  However, after I deployed with -set dashboard.securityMode=false, it showed OK.

[2022-06-15 06:15] Andrewmatilde commented on #3349
Commonly HTTPChaos can be deleted simply , but I think you should restart the target pod in this situation.

[2022-06-15 06:43] Andrewmatilde commented on #3349
Hi @nioshield ,sorry for reply so late. Can you give some information about what happened on target pod & chaos-mesh? Like target pod restart or target container restart. On the other hand , I suggest you to use Chaos Mesh 2.2.x since HTTPChaos became  stable in 2.2.x.

[2022-06-15 07:03] Hexilee opened #3361 "Tracking Issue: prepare for release 2.3.0, feature status"
We plan to publish release 2.3.0 in the last week of July 2022, so we need to track the features that should be included.

Uncompleted features should be carried with 2.3.0:

- [ ] ~https://github.com/chaos-mesh/chaos-mesh/issues/3341~
- [ ] TLS support for HTTPChaos
    - [x] chaos-tproxy implementation https://github.com/chaos-mesh/chaos-tproxy/pull/39
    - [ ] ~~https://github.com/chaos-mesh/c

[2022-06-15 07:03] jinfudong commented on #3054
I had a similar situation，
I remove memory stress, `kubectl delete -f memory_stress.yaml -n my_ns`, Execute successfully，
`kubectl get StressChaos -A`  ->  echo "No resources found",
but,  There is still some memStress process in the system, continuous pressure test pod:

ps aux | grep memStress
root     268372  0.1  2.0 8618144 7916836 ?     Sl   13:36   0:05 memStress

[2022-06-15 08:01] ywq20011 commented on #3330
![image](https://user-images.githubusercontent.com/18238676/173774719-5da466fb-afd2-44f0-96a5-ac5ca7a25dd5.png)

the agent installed success, but, it seems that the injection is not?

![image](https://user-images.githubusercontent.com/18238676/173774934-3c84dec3-c6ac-4d5b-b213-06eb80bb742e.png)

[2022-06-15 08:49] g1eny0ung opened #3364 "ui(workflow-ng): copy single `Node` to reuse"

[2022-06-15 08:49] g1eny0ung opened #3365 "ui(workflow-ng): import workflow from Yaml"

[2022-06-15 11:27] mingregister opened #3369 "unable to delete HTTPChaos, and after it, HTTPChaos does not work"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:59:11Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e9914153

[2022-06-15 13:07] FingerLeader commented on #3054
Hi, @jinfudong , this situation should not happen after v2.2. Which version of chaos mesh are you using? And do you set a `size` that may cause OOM?

[2022-06-16 01:30] nioshield commented on #3349
Ok, I will upgrade to 2.2.x and test again

[2022-06-16 02:31] jinfudong commented on #3054
Hi, FingerLeader, Thanks for your reply，My chaos-mesh version is v2.2.0, I  used microk8s and helm, I tested a small memory StressChaos  about 100M (my pod memory limit 4G), I checked the log and didn't find OOM, There is still  memStress process in the system

[2022-06-16 05:05] mingregister commented on #3369
After read the code, I guess: once you apply a wrong yaml file,  and thus trigger a retry/requeue event to retry.   Because we can not update the yaml file, this will enter Infinite loop.  Can not update , Can not delete(because apply)
[code]

[2022-06-16 05:15] STRRL commented on #3369
Yes, once you created an invalid Chaos, you could only force delete it. https://chaos-mesh.org/docs/run-a-chaos-experiment/#delete-chaos-experiments-using-commands

I think we should append the validation on HTTPChaos with validating webhook.

[2022-06-16 05:16] STRRL commented on #3369
@mingregister do you have interests to help us do that? ❤️

[2022-06-16 06:37] gopimandala opened #3371 "Many Error messages pointing to privilege issue with service account (after generating token and updating in Dashboard)"
## Bug Report

**What version of Kubernetes are you using?**
v1.22.0

**What version of Chaos Mesh are you using?**
v2.2.0

**What did you do?**
Installed using this link for **containerd** (https://chaos-mesh.org/docs/production-installation-using-helm/)

**What did you expect to see?**
After the dashboard UI opens up, it asks for a token with a yaml manifest for roles/bindings etc. And I have fo

[2022-06-16 07:23] mingregister commented on #3369
sure, I will try my best.

[2022-06-16 08:10] xlgao-zju commented on #2818
@STRRL my concern is would this be a break change?

[2022-06-16 08:24] hillbun opened #3373 "scheduler do not support on v2.2.0?"
scheduler do not support on v2.2.0?

[2022-06-16 09:38] xlgao-zju opened #3374 "specify a pod which is not existed, will get a confusing experiment status"
## Bug Report

**What version of Kubernetes are you using?**

1.16.6

**What version of Chaos Mesh are you using?**

2.2.0

**What did you do?**

specify a pod which is not existed, like
[code]
in this case, there is no pod called foo in bar namespace in k8s cluster.

**What did you expect to see?**
some error message which tell me, the pod is not found, and the selecting failed.

**What did you s

[2022-06-16 09:40] xlgao-zju commented on #3374
I thin we need a well-designed experiment status to tell end user what happened and why this happened.

cc @STRRL @track87

[2022-06-16 11:33] gopimandala opened #3375 "Unable to install on k8s v1.22.0"
K8s v1.22.0

I am following the tutorial at https://chaos-mesh.org/docs/1.1.4/user_guides/installation/#install-by-helm
In the Step 2: Create custom resource type, the following error msg appears.
`$curl -sSL https://mirrors.chaos-mesh.org/v1.1.4/crd.yaml | kubectl apply -f -`
_unable to recognize "STDIN": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"_

C

[2022-06-16 11:53] gopimandala commented on #3371
I changed the scope to 'Cluster scope' and used the manifest generated. It solved the issue.

[2022-06-16 11:53] #3371 closed

[2022-06-16 12:20] STRRL commented on #2818
I think it would only change the development experience. The user who wants to upgrade with `helm` is still required to use `--namespace` to specify the namespace.

[2022-06-16 15:39] xlgao-zju commented on #3375
looks like you followed an old version install guide(1.14), and the apiversion ` apiextensions.k8s.io/v1beta1`(which used in chaos mesh 1.1.4) is remove in k8s v1.22.0.

I think you can try 2.2.0: https://chaos-mesh.org/docs/production-installation-using-helm/

[2022-06-17 00:24] #2880 closed

[2022-06-17 06:40] #3204 closed

[2022-06-17 08:31] chamilzr opened #3379 "chaos-daemon create failed using helm install"
environment:
os: linux
kubectl version 1.14.1
chaos-mesh version: 2.3.0-alpha.0  and 2.2.0
install command:
helm install  --name chaos-mesh helm/chaos-mesh  --namespace=chaos-testing --set chaosDaemon.env.DOCKER_API_VERSION=1.39
 After installed, there is no chaos-daemon, and find blew error in the daemonset.
kubectl -n chaos-testing describe daemonset chaos-daemon
 Warning  FailedCreate  <invalid

[2022-06-17 11:46] marcinfigiel commented on #3302
It seems we're not the only ones having this issue: https://github.com/cilium/cilium/issues/19975

[2022-06-18 00:21] #2588 closed

[2022-06-20 01:58] #2818 closed

[2022-06-20 03:25] cwen0 commented on #3379
@chamilzr Are you using an OpenShift cluster? It looks like OpenShift clusters have different permissions by default (more restrictive). I found the same issue, which maybe is helpful for you. https://github.com/Azure/aks-periscope/issues/78#issuecomment-874492249.

[2022-06-20 03:57] hillbun opened #3380 "what's difference between chaosd attack host shutdown and shutdown ?"
what's difference between chaosd attack host shutdown and system command shutdown ?

[2022-06-20 03:58] hillbun commented on #3373
any advice?

[2022-06-20 04:29] STRRL commented on #3373
What does "scheduler" means?

`Schedule` is supported after Chaos Mesh 2.0.0, and it is supported in 2.2.0. https://chaos-mesh.org/docs/define-scheduling-rules/

Did you face any issues when using `Schedule`?

[2022-06-20 04:32] STRRL commented on #3380
I think there should be no differences.

You could see that chaosd would actually execute `shutdown`:

https://github.com/chaos-mesh/chaosd/blob/e4cabb4419a73eb84f9ddbc97ce6d4603cdad138/pkg/server/chaosd/host_unix.go#L35

cc @WangXiangUSTC @Andrewmatilde @FingerLeader

[2022-06-20 04:48] STRRL commented on #3352
This issue had been resolved:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/20221408/174527243-727c233f-fda9-4b13-8720-5c5fc9bbcb22.png">

[2022-06-20 04:48] #3352 closed

[2022-06-20 07:58] WangXiangUSTC commented on #3330
It requires updating codes to ignore this error, please try later after I fix it.

[2022-06-20 09:02] chamilzr commented on #3379
Thank you, resolved it.

[2022-06-21 01:17] QAInsights opened #3382 "Network Attack not working in DigitalOcean Kubernetes Cluster"
## Bug Report

**What version of Kubernetes are you using?**
v1.22.8

**What version of Chaos Mesh are you using?**
2.2.0

**What did you do?**

1. Deployed ChaosMesh on Digital Ocean Kubernetes Cluster.
2. Deployed sample nginx deployment.
3. Created a network attack type of `delay` with 10s on nginx.

**What did you expect to see?**
- The response time of nginx deployment should be 10s for the w

[2022-06-21 01:53] cwen0 commented on #3379
@chamilzr I will close this issue. If you have more problems, free to reopen it or create a new issue.

[2022-06-21 01:53] #3379 closed

[2022-06-21 02:37] nioshield opened #3383 "Whether chaos-mesh events can be collected by Prometheus"
## Question

In my scenario, associating application metrics with Experiment using Grafana Annotations is a good idea, thanks to the Data Source Plugin.

But tester redeploy the application frequently, and Grafana is part of the application, so reinstalling the plug-in each time is not an easy task.

Experiment can define labels to associate with the application. Can we add labels to the event? Gr

[2022-06-21 02:53] QAInsights commented on #3382
Sure @cwen0 I will raise a separate issue for `chaosctl`. Here are the logs.
[chaos-controller-manager-7dc5b5c6f8-6f4vc.log](https://github.com/chaos-mesh/chaos-mesh/files/8945379/chaos-controller-manager-7dc5b5c6f8-6f4vc.log)
[chaos-daemon-kmbq5.log](https://github.com/chaos-mesh/chaos-mesh/files/8945380/chaos-daemon-kmbq5.log)
[chaos-daemon-79dw9.log](https://github.com/chaos-mesh/chaos-mesh/fil

[2022-06-21 05:53] cwen0 commented on #3382
@QAInsights I found this error log

[code]

Did you get any error information when you apply your experiment? Can you check the status and event of the target experiment object by `kubectl describe or kubectl get event xx"?

[2022-06-21 06:04] #3344 closed

[2022-06-21 09:54] #3332 closed, assigned to nioshield

[2022-06-21 13:27] QAInsights commented on #3382
@cwen0 i fixed this by selecting the right pod and executed it. Still no attack.

[2022-06-21 14:35] cwen0 commented on #3383
@nioshield At present, Chaos Mesh exports events by Kubernetes events.  To achieve your goal, we may need to find a good way to export Kubernetes events to prometheus. I am not familiar with this, do you have some suggestion?

[2022-06-22 00:23] #2938 closed

[2022-06-22 01:55] nioshield commented on #3383
@cwen0 Thanks for your reply. I learned that the Chaos Dashboard watch event data and saves it to SQllite. Is it possible to collect event metrics at the same time here? This is just an idea that may not be correct. Do you have better suggestions?

[2022-06-22 02:03] #3349 closed

[2022-06-22 03:26] nioshield opened #3385 "Release-2.2 and Tag v2.2.0 use different tproxy"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: Major:"1", Minor:"19", GitVersion:"v1.19.5"
Server Version: Major:"1", Minor:"19", GitVersion:"v1.19.5"

**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"v2.2.0", GitCommit:"22a1cf57398e35da58dd391b79b64f3071e2863b", BuildDate:"2022-04-29T13:15:01Z", GoVersion:"go1.18", Co

[2022-06-22 03:32] nioshield commented on #3385
@Andrewmatilde @STRRL

[2022-06-22 03:47] g1eny0ung opened #3386 "dashboard(apiserver): swag generates random definitions in different builds"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

Run `./hack/generate_swagger_spec.sh` in the root folder.

**What did you expect to see?**

Definitions keep the same in different builds.

**What did you see instead?**

<img width="945" alt="image" src="https://user-images.githubusercontent.com/15034155/174939133-565

[2022-06-23 03:01] QAInsights commented on #3382
@cwen0 Here is the `chaosctl` log.
[chaosctl.log](https://github.com/chaos-mesh/chaos-mesh/files/8963304/chaosctl.log)

[2022-06-23 06:06] #3385 closed

[2022-06-23 08:30] Hexilee commented on #3361
I think we should carry the UI of new workflow in release 2.3.0 #3185 #3254 #3368, shall we? @STRRL @cwen0 @YangKeao

[2022-06-23 08:35] STRRL commented on #3361
+1

I am very excited about the incoming updates about new UI of Workflow. 🤩🤩🤩

After these 3 PRs merged, could we mark the new Workflow UI as stable. Or there are still several features to be done, we'd better keep it as "technical preview". What do you think about it? @g1eny0ung

[2022-06-23 10:48] parkjeongryul opened #3389 "Can namespace selector be used for PhysicalMachine Experiment?"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2022-06-23 15:36] cwen0 commented on #3383
Yes, Chaos Dashboard watches event data and saves it to SQLite.  Prometheus is more suitable to collect time-series data,  but I didn't find a suitable way to store event data in Prometheus.

[2022-06-24 02:58] cwen0 opened #3391 "Chaosctl reported "not implemented""
## Bug Report

**What version of Kubernetes are you using?**

v1.22.8

**What version of Chaos Mesh are you using?**

2.2.0

**What did you do?**
.

Use chaosctl to collect debug info https://github.com/chaos-mesh/chaos-mesh/issues/3382#issuecomment-1163869761

**What did you expect to see?**

Return the debug infor

**What did you see instead?**

[code]

**Output of chaosctl**

[2022-06-24 04:48] Andrewmatilde commented on #3374
I agree with that it is confusing , but I also have no good idea  on it. Maybe log error in status will be better?

[2022-06-24 04:51] Andrewmatilde commented on #3389
I also think it cannot. PTAL @WangXiangUSTC , is it a doc BUG?

[2022-06-24 04:56] Andrewmatilde commented on #3391
I fix it here ,https://github.com/chaos-mesh/chaos-mesh/pull/3346/files#diff-ac1419c1b5fa38a49329d5a1dba41ed5c444a05fd855a79c5f564d3d249f638eR1160.
Bug Integration Test have other problem 😂.

[2022-06-24 05:43] WangXiangUSTC commented on #3389
In fact, `Address` is a type of selector, and PhysicalMachineChaos only support this one.

[2022-06-24 06:22] STRRL commented on #3380
I am going to close this issue. If you have other questions, feel free to reopen it. ❤️❤️❤️

[2022-06-24 06:22] #3380 closed

[2022-06-24 06:26] STRRL commented on #3383
Maybe https://github.com/chaos-mesh/chaos-mesh/pull/3170 could help you, we have embedded some event in XXChaos Status field.

You could try it in our latest alpha version :D

[2022-06-24 06:57] tonystz commented on #3124
there are still an issue for the [hellowworld](https://chaos-mesh.org/docs/add-new-chaos-experiment-type/) example:
[code]

[2022-06-24 08:21] iguoyr commented on #3124
Hi @tonystz, which branch did you use?

[2022-06-24 09:16] iguoyr commented on #3124
Hi @tonystz, from the error message:
[code]
It seems that the `/api/alpha1v1/zz_generated.deepcopy.go` is not modified.

Did you run `make generate` command in `Step1: Define the schema type`? Maybe you could try `make generate` command, then make images.

[2022-06-24 10:03] xlgao-zju commented on #3383
as what @STRRL said, we can find the event about injection and recovery in the status filed. and if you more events, any suggestion and  request  is welcomed.

[2022-06-24 10:06] xlgao-zju commented on #3374
yep, put the error message in this status will be a good choice.

and I think we need to think about the whole picture of status, and re-design it.  I think the most important thing about status is: let users know if the experiment completed, and why.

[2022-06-24 15:34] nma commented on #2976
We are trying to inject `Network Chaos` into short lived Job pods.

**Current approach:**
* (step 1) Add a `webhook` to inject an `initContainer` into the Pods we care about, add startup delay so chaos mesh can select the Pod before it disappears.
* (step 2) Pray and hope that Chaos Mesh can inject chaos into the containers after the `initContainer` timeouts and `jobContainers` startup

**Advanced

[2022-06-24 16:44] ruancmoral opened #3392 "Failed to recover chaos to deleted pods"
## Bug Report

**What version of Kubernetes are you using?**
 v1.18.2

**What version of Chaos Mesh are you using?**
 v2.1.5

**What did you do?**

Most of my services run using HPA enabled, so it can auto scale as necessary. But if running some experiment and the pod is deleted after applying, it gives an error

![image](https://user-images.githubusercontent.com/29817522/175603113-3ebe7be4-ed86-4

[2022-06-24 16:53] ruancmoral opened #3393 "Unable to apply JvmChaos to partial pods"
## Bug Report

**What version of Kubernetes are you using?**
 v1.18.2

**What version of Chaos Mesh are you using?**
v2.1.5

**What did you do?**

Applying JVMChaos to Fixed Number of pods gives error

![image](https://user-images.githubusercontent.com/29817522/175605351-bc07f71e-6aa1-410b-a7a3-8ea9a369d761.png)

![image](https://user-images.githubusercontent.com/29817522/175605463-3a949a63-c76e-4

[2022-06-25 08:38] parkjeongryul commented on #3389
In chaos-mesh code, `Address` is commented as deprecate feature.
I think this part needs update too.

[2022-06-27 03:20] xlgao-zju commented on #3392
looks like we need to figure out a solution to handle this condition.
and as what I said in https://github.com/chaos-mesh/chaos-mesh/issues/3374 , I think we need to deal with the conditions that inject/recover a pod no longer exists.

cc @STRRL @YangKeao

[2022-06-27 04:08] iguoyr commented on #3389
Hi @parkjeongryul, actually there is an namespaced crd named `PhysicalMachine` (example yaml: https://github.com/chaos-mesh/chaos-mesh/blob/master/test/integration_test/physical_machine/physical_machine.yaml), and it could use namespaceSelector and labelSelector(example yaml: https://github.com/chaos-mesh/chaos-mesh/blob/master/test/integration_test/physical_machine/chaos_selector.yaml), **BUT** i

[2022-06-27 06:12] STRRL opened #3394 "get "No route to host" with minikube and flannel"
## Bug Report

It seems HTTPChaos does not work with CNI flannel.

I also tried with `minikube start --cni cilium`, and it works well.

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

- `k create deployment --image nginx:latest --replicas 3 nginx`
- create this HTTPChaos:
[code]

**What did you expect to see?**

-

[2022-06-27 06:13] STRRL commented on #3394
PTAL /cc @Andrewmatilde @Hexilee

[2022-06-27 06:14] STRRL commented on #3394
It would also failed by accessing with service ClusterIP:

[code]

[2022-06-27 06:16] STRRL commented on #3394
Once I pause the HTTPChaos, everything goes well. Fortunately, it could be recovered.

[code]

[2022-06-27 07:11] parkjeongryul commented on #3389
I didn't know there is a `physical machine` CRD.
Then recommend method is to create both `physicalmachine` and `physicalmachinechaos` rather than directly defining the address in `physicalmachinechaos`

[2022-06-27 09:57] maartengo opened #3397 "Unable to change registry of Prometheus and dnsServer"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I use the helm chart to deploy Chaos Mesh, but I am unable to setup a proxy for pulling images of Prometheus and dnsServer. The other components of Chaos Mesh do support that.
My use case is to 'cache' the images in the event that an external registry has problems, and to ensure integrity of images.
Currently yo

[2022-06-27 12:32] basit9958 opened #3398 "Run chaos-controller-manager with kube-apiserver and kube-controller-manager"
This is about running chaos-controller-manager with kube-apiserver and kube-controller-manager

Follow [Kubernetes the hard way](https://github.com/kelseyhightower/kubernetes-the-hard-way) for [Prerequisites](https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/01-prerequisites.md), [Installing the Client Tools](https://github.com/kelseyhightower/kubernetes-the-hard-way/blob

[2022-06-27 12:33] basit9958 commented on #2848
/assign

[2022-06-27 12:57] #3398 closed

[2022-06-28 02:23] QAInsights opened #3399 "Network Chaos is injecting more delay"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: v1.23.0
Server Version: v1.22.8

**What version of Chaos Mesh are you using?**
2.2.0

**What did you do?**
Network delay is injecting too much delay in the response time. Below is the networkChaos experiment manifest where I configured 5 seconds. But it is showing the delay of 20s.
[code]

**What did you expect to see?**

[2022-06-28 02:26] QAInsights opened #3400 "TimeChaos not skewing the time"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: v1.23.0
Server Version: v1.22.8

**What version of Chaos Mesh are you using?**
2.2.0

**What did you do?**
Injected a time chaos in nginx pod for -5m.

**What did you expect to see?**
Change in the time.

**What did you see instead?**
Current time

**Output of chaosctl**
[chaos-daemon-q6r55.log](https://github.com/chaos-m

[2022-06-28 05:04] YangKeao commented on #3400
How did you verify the time? As the timechaos will not change the time of new processes in the container (e.g. if you kubectl exec in the container, and run `date`, you will get correct time), but the existing process will see injected time. For example, if you are running a go program:

[code]

Then it will print injected time. In the case of nginx, it could print the log with injected time (but

[2022-06-28 07:09] Hexilee commented on #2999
It seems the memStress is still possible to be killed even we set size to 70% and oom_score_adj to -1000, it occurred in recent game-day. Who has any ideas? Refer to https://github.com/tidbcloud/gameday-runbook/blob/main/2022/06-RDG%E6%95%85%E9%9A%9C%E6%BC%94%E7%BB%83/s009-all-tikv-pod-stress-memory.yaml for detailed configuration.

[2022-06-28 07:10] YangKeao commented on #2999
Could we get the `dmesg`? The oomkiller should print a table about the score and choice.

[2022-06-28 07:28] Hexilee commented on #2999
The container is destroyed and I cannot get oom info from `dmesg` of node.

[2022-06-28 07:38] YangKeao commented on #2999
@Hexilee Then I think it's not killed by the oom killer, but by something else. I don't know whether there are some components of kubernetes may do such bad thing? @STRRL Do you have any idea?

[2022-06-28 09:49] geertpingen opened #3404 "Unauthorized when running a physical/host experiment in dashboard"
## Bug Report

Im having trouble using the `chaos-mesh` dashboard to apply effects. Getting an `Unauthorized` when applying a network attack on the physical nodes.

Im using the following credentials to log into the dashboard:

[code]

I can apply an effect when directly sending a HTTP request to `chaosd`:
[code]

**What version of Kubernetes are you using?**
v1.23.5

**What version of Chaos Mesh

[2022-06-28 12:42] Hexilee commented on #2999
It is irrelevant with this issue, closed.

[2022-06-28 12:42] #2999 closed

[2022-06-28 12:50] YangKeao commented on #2999
Oops, we have found the problem is caused by running `choom` before `pause`. Fix in https://github.com/chaos-mesh/chaos-mesh/pull/3405

[2022-06-28 19:26] Andrewmatilde commented on #3394
@STRRL  I find this may because some problem in linux bridge fdb, & trying to fix it in https://github.com/chaos-mesh/chaos-tproxy/pull/51 .

[2022-06-28 19:30] Andrewmatilde commented on #3392
@xlgao-zju Sorry They are all busy  these days , the reply may be late in these few days.

[2022-06-28 19:56] Andrewmatilde commented on #3374
@xlgao-zju sorry for reply so late.  I can hardly talk about this. Because I usaully just check the logs in chaos-daemon as a developer acctually. I agree a better status system will help user know a lot of things ,but I cannot image what it will be. PTAL @YangKeao ,can you give some advice?

[2022-06-28 20:06] Andrewmatilde commented on #3399
I think we should share about the detail of network chaos in doc to help understanding what it will lead to @YangKeao.

[2022-06-29 00:19] #2984 closed

[2022-06-29 02:58] iguoyr commented on #3389
@parkjeongryul Yes, because directly defining the address is deprecated.

[2022-06-29 06:22] ashishgoyal111 commented on #3252
@Andrewmatilde @YangKeao We are facing a similar error while we try to apply Network Delay to an external target **"sqs.eu-west-1.amazonaws.com"**. Delay is not applied at all and we can hit curl commands to this endpoint from inside of the pod. I tried to see the ip address of this endpoint using nslookup which return single ip address but it is changed every time I run the command. Attaching the

[2022-06-29 06:30] YangKeao commented on #3252
@ashishgoyal111 For `NetworkChaos`, there is theoretically no way to actually solve it, as the netfilter doesn't know anything about the domain :cry: .

If all requests are HTTP request, a wordaround is to use `HTTPChaos` to match the header host to inject delay. For more information, see https://chaos-mesh.org/docs/simulate-http-chaos-on-kubernetes/

[2022-06-29 07:12] realzhuangxinyu opened #3408 "fail to inject jvm chaos on Openshift Container Platform"
## Question

What version of Kubernetes  are you using?
Kubernetes version：
  Client Version: v0.21.0-beta.1
  Server Version: v1.21.1+051ac4f
OCP version：
  Client Version: 4.8.2
  Server Version: 4.8.2

What version of Chaos Mesh are you using?
2.2.0

What did you do?
Injected multiple kvm chaos, like latency, exception, etc.

What did you see ?
(1)firstly, error occured:
`Failed to apply chaos:

[2022-06-29 08:38] anuragpaliwal80 commented on #3252
Thanks for the way out. `HTTPChaos` can be used once TLS support for egress calls is available.

[2022-06-29 09:03] STRRL opened #3409 "NetworkChaos partition could not be applied"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

I have these pods:
![image](https://user-images.githubusercontent.com/20221408/176396960-efb3f012-669f-4238-b105-d8f76f41041d.png)

And I am sure about that pods are not using `hostNetwork`.

Then I create this Networkchaos:

[code]

**What did you expe

[2022-06-29 09:09] STRRL commented on #3409
https://github.com/chaos-mesh/chaos-mesh/blob/6cc359056341ce488ffa81c4e38c3b3dec330040/api/v1alpha1/podnetworkchaos_types.go#L43-L56

But actually the field `ipsets` is marked as optional.

[2022-06-29 09:11] YangKeao commented on #3409
I have checked the CRD, it's not required. Could you try to reinstall the CRD?

[2022-06-29 09:13] STRRL commented on #3409
I would give it a try. I also think it is caused by the mismatched CRD.

[2022-06-29 09:40] parkjeongryul opened #3410 "Cannot apply physiclamachine disk-write"
## Bug Report

**What version of Kubernetes are you using?**

1.23

**What version of Chaos Mesh are you using?**

2.2.0
**What did you do?**

create

[code]

**What did you expect to see?**
apply chaos
**What did you see instead?**
disk-write-fill

***
Failed to apply chaos: {"error":true,"message":"error.api.internal_server_error: exit status 1","code":"error.api.internal_server_error","full_tex

[2022-06-29 11:19] ashishgoyal111 opened #3411 "Running stress chaos on container having no shell"
Hi Chaos-mesh community,

I want to check if stress chaos experiments require sh on the container to run the experiment. We are trying to apply chaos on container which are derived From scratch and getting errors like following-

': executable file not found in $PATH: unknown\\r
n'

Could you confirm if the container must have sh so that chaos can be applied on them?

[2022-06-29 12:08] parkjeongryul commented on #3410
`Action: chaosv1alpha1.PMDiskReadPayloadAction,`
-> `Action: chaosv1alpha1.PMDiskWritePayloadAction,`

maybe this... sorry😢

[2022-06-30 01:33] #3410 closed

[2022-06-30 05:18] YangKeao commented on #3404
@g1eny0ung PTAL

[2022-06-30 05:21] YangKeao commented on #3411
': executable file not found in $PATH: unknown\r
n'

Is this log coming from chaos mesh? I don't think chaos mesh will execute something like `sh -c sleep 70` :thinking:  . The stresschaos doesn't depend on any other software (, we have done a lot to avoid extra dependencies). Also, it will not modify the pod definitions.

[2022-06-30 05:22] YangKeao commented on #3408
@WangXiangUSTC @Andrewmatilde @Hexilee PTAL

[2022-06-30 05:50] g1eny0ung commented on #3404
👌🏽 I will take a look later.

[2022-06-30 07:44] geertpingen commented on #3404
Much appreciated @g1eny0ung. By the way, effects are applied without problems when deploying Chaos-mesh with `dashboard.securityMode: false`.

[2022-06-30 12:06] YangKeao commented on #3399
Yes. I'll add some documents, as the behavior is expected.

[2022-06-30 12:08] YangKeao commented on #3392
Which kind of chaos are you using? I think we ignore the not found error in most cases :thinking:

[2022-06-30 12:09] YangKeao commented on #3394
Close this issue as https://github.com/chaos-mesh/chaos-mesh/pull/3412 merged.

[2022-06-30 12:09] #3394 closed

[2022-06-30 14:22] WangXiangUSTC commented on #3408
1. For the first error, it is similar to https://github.com/chaos-mesh/chaos-mesh/issues/2588, could you please check the Linux kernel's version of the K8s's node? It requires v4.2 at least.

2. For the second error, it's similar to https://github.com/chaos-mesh/chaos-mesh/issues/3330#issuecomment-1150944701, and this error can be ignored, I will update the code.

3. `And I found there were only b

[2022-06-30 15:26] QAInsights commented on #3399
@Andrewmatilde @YangKeao It makes sense if the direction is `both`, but in this case I configured `to`, it supposed to delay only 5 seconds, correct?

[2022-07-01 00:23] #3001 closed

[2022-07-01 03:32] ashishgoyal111 commented on #3411
@YangKeao Thank you for your response! I am closing this issue.

[2022-07-01 03:32] #3411 closed

[2022-07-01 04:01] g1eny0ung commented on #3404
Got it. The overall operation is fine I think. I think I still need to confirm the request information, can you reproduce the Unauthorized request again? Then take a screenshot of the request from the browser devtools, and focus on the authorization and payload in the request.

[2022-07-01 04:06] #3157 closed

[2022-07-01 05:14] Andrewmatilde commented on #3399
I guess it is because http connection is combined with many tcp package transport.Network chaos delay apply delay on the output side of web package bese on IP package.
If someone ping the pod it will just be 5s delay.
<img width="582" alt="image" src="https://user-images.githubusercontent.com/32479514/176827626-ee5678d3-7f9c-4fe4-bf8c-05dd656e9539.png">
But when we curl the nginx pod ,it will firs

[2022-07-01 05:15] Andrewmatilde commented on #3399
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/32479514/176828353-7e11094a-fc09-4423-a661-590d248bb154.png">

[2022-07-01 05:22] YangKeao commented on #3399
Indeed, a pure tcp handshake will result in two or three times the latency. If you want to calculate the latency accurately, you'll need to send a udp (or simple ICMP, e.g. `ping`) packet from source to target, and calculate the time between source-send and target-receive, if their clocks are in sync.

[2022-07-01 05:29] Andrewmatilde commented on #3397
Thanks for your suggestion! I think this is an idea. For urgent using I suggest to configure our code or a transparent proxy to redirect the connection with proxy like V2ray or clash. And it will be appreciate if you can make an pull request for this. :)

[2022-07-01 07:14] wangjiajun-sz commented on #3400
@YangKeao

[2022-07-01 10:26] gopimandala opened #3416 "Unable to create experiments using 'byYaml' or 'load from' options. Brower goes blank."
## Bug Report

**What version of Kubernetes are you using?**
1.22.8 node
1.22.0 client

**What version of Chaos Mesh are you using?**
chart-2.2.1

**What did you do?**
Tried to create experiment using 'load from' option as well as 'by Yaml' option.

**What did you expect to see?**
The experiment should have been loaded.

**What did you see instead?**
The UI goes fully and absolutely blank. No menu

[2022-07-01 12:20] gopimandala opened #3417 "unable to set tcs for pod - for network bandwidth & corruption chaos"
## Bug Report

**What version of Kubernetes are you using?**
1.22.8 node
1.22.0 client

**What version of Chaos Mesh are you using?**
chart-2.2.1

**What did you do?**
Tried to create bandwidth and corruption chaos experiments using UI.

**What did you expect to see?**
Experiment should have injected the chaos as defined

**What did you see instead?**
Error msg says: Failed to apply chaos: fialed

[2022-07-04 02:32] realzhuangxinyu commented on #3408
Hello, thanks.
Reply:
1.  Linux kernel's version of the K8s's node is 4.18.
2. As my Jvm chaos experiments are alwanys failing, I assume this error can't be igonred.
3. I checked my application's pod, because it was my aplliction pod that printed the error "Error opening zip file or JAR manifest missing: /usr/local/byteman/lib/chaos-agent.jar".

[2022-07-04 04:55] parkjeongryul opened #3418 "Is node down Chaos not in physical node Chaos CR?"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2022-07-04 07:19] WangXiangUSTC commented on #3408
2. I mean the error can be ignored in Chaos Mesh's code, although it reports an error, the agent is installed success. I have already fix it in https://github.com/chaos-mesh/chaos-mesh/pull/3415
3. I will check it

[2022-07-04 09:19] g1eny0ung opened #3420 "ui(workflow-ng): support `KernelChaos`"

[2022-07-04 09:53] gopimandala commented on #3416
I spun up a new cluster and installed everything afresh and it worked fine there (both from yaml and from past experiments). Not sure what went wrong in the above case.

[2022-07-04 10:03] Hexilee commented on #3416
Is the issue still exists on the old cluster? I also cannot reproduce this issue on Chaos Mesh v2.2.1. Frontend issues may be caused by complicated reason, like the cache or uncompleted loading of javascript resources.

[2022-07-04 10:15] #2409 closed

[2022-07-04 11:31] mingregister commented on #3369
Is that already fix? Should I close this issue.

[2022-07-04 14:23] TaoTi888 opened #3421 "can't generator clientset"
Hello, I have a problem:
When I want to generate the clientset code through code-generator, I find that the groupname is chaos-mesh.org, and then an error occurs, which is not allowed to appear '-' this symbol. Is there any solution? ? Looking forward to your reply

[2022-07-04 14:24] ruancmoral commented on #3392
This screenshot is from JVMChaos, but I also have found similar cases from the other kinds of chaos.

[2022-07-04 14:26] TaoTi888 commented on #3421
chaos-mesh version: v2.2.0
code-generator version: v0.24.2

[2022-07-05 04:30] Andrewmatilde commented on #3421
I find that some example in code-generator have group name with symbol '-'.https://github.com/kubernetes/code-generator/blob/5bc604e30f37bdbf711df0d92d74e9becb904959/examples/apiserver/apis/example/v1/doc.go#L21

[2022-07-05 04:34] Andrewmatilde commented on #3421
I forgot how to use code-generator to generate client, so I can only give an example for iochaos.https://github.com/Andrewmatilde/chaos-test-tidb/blob/main/chaosmesh/iochaos.go

[2022-07-05 04:59] Andrewmatilde commented on #3421
And code-generator will generate XXXchaos as XXXchaoses ,which cannot be direct use.

[2022-07-05 06:35] STRRL commented on #3421
Another way is using the client provided by controller-runtime, it might be useful to operate the CRD without provided clientset.

[2022-07-05 06:55] YangKeao opened #3423 "`DecodeContainerRecord` and the pattern to use its result should be optimized"
Why not check this error as soon as it is returned at L52?

_Originally posted by @cwen0 in https://github.com/chaos-mesh/chaos-mesh/pull/2907#discussion_r913425056_

A simple way to optimize this pattern is:

[code]

[2022-07-05 08:05] TaoTi888 commented on #3421
well，code-generator will use first word, ex chaos-mesh.org will use chaos-mesh,

example.vi.chaos-mesh.org will use example ,

there is no symbol  '-'.

[2022-07-05 08:12] TaoTi888 commented on #3421
yeah，I also encountered this problem，do you have a solution？

[2022-07-05 08:14] Andrewmatilde commented on #3421
I fixed it with manually delete `es`. :(

[2022-07-05 08:39] zhangyulu opened #3424 "pod io injection finished but injected dir got "Transport endpoint is not connected" error"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.6", GitCommit:"fbf646b339dc52336b55d8ec85c181981b86331a", GitTreeState:"clean", BuildDate:"2020-12-18T12:09:30Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.6", GitCommit:"fbf646b33

[2022-07-05 09:00] STRRL commented on #3321
it seems that only the member of GitHub Org "chaos-mesh" could append the label. 🥲

[2022-07-05 11:01] Hexilee commented on #3424
It seems the toda process didn't exit gracefully, could you provide the logs of chaos-daemon?

[2022-07-05 11:35] eedjama opened #3425 "Enable to run chaos-mesh experiments on IPv6 clusters"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Yes.
It's not possible to run network delay experiment with chaos-mesh in an IPv6 cluster.

**Describe the feature you'd like:**
Possibility to run chaos-mesh experiments in an IPv6 cluster.
Add support for IPv6, inside network experiments, and all other experiments.

Shenan Zhang already knows how to add suppor

[2022-07-06 00:23] #3023 closed

[2022-07-06 01:30] PungYoung commented on #3416
I also encountered this problem.

[2022-07-06 10:27] anuragpaliwal80 opened #3427 "Not able to see any impact of specifying different number of workers for memory stress"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**
I am using 2.2.0 so it's using memStress under the hood.

[code]
If I change workers to 4 as well, I am not seeing any impact in memory usage.

Without stress:
[code]
With stress, having workers as 1:
[code]
With stress, having workers a

[2022-07-07 00:23] #2890 closed

[2022-07-07 03:08] Hexilee commented on #3427
The total size of memory occupation is not affected by the number of works, I am sorry the docs are outdated.

[2022-07-07 03:35] FingerLeader commented on #3427
The doc will be updated in PR [#322](https://github.com/chaos-mesh/website/pull/322)

[2022-07-07 07:35] ConnieHan2019 commented on #2875
/assign

[2022-07-07 08:33] #3321 closed

[2022-07-07 08:40] xlgao-zju commented on #2875
@ConnieHan2019 welcome to chaos-mesh! 🎉

[2022-07-07 09:57] YangKeao opened #3434 "Use customized helm charts in remote cluster"
The helm charts are always downloaded from the remote chart server. We need to install the local helm charts to test the funtionality. What's more, the offline installation should also be considered during this implementation.

[2022-07-07 11:12] anuragpaliwal80 commented on #3427
So the role of `workers` in memory stress: Number of thread consuming this much memory or anything else ?

[2022-07-07 14:14] jekader opened #3436 "helm installer ignores custom namespace definition for some resources"
When using a custom namespace for Chaos Mesh, the installer still sets the default `chaos-testing` namespace for some resources.

Reproducer steps for a helm dry run against latest version currently released:

`$ helm install chaos-mesh chaos-mesh/chaos-mesh -n=custom-ns --version 2.2.2 --dry-run | grep "chaos-testing"`

I'm getting two RBAC objects with `namespace: "chaos-testing"`, namely:

[cod

[2022-07-08 00:25] #3040 closed

[2022-07-08 00:25] #3028 closed

[2022-07-08 02:44] FingerLeader commented on #3427
Yes, this number of threads will occupy memory of `size`. `workers` has the same meaning of it does in stress-ng.

[2022-07-08 08:31] #3427 closed

[2022-07-08 09:37] zhangyulu commented on #3424
[chaos_daemon.log](https://github.com/chaos-mesh/chaos-mesh/files/9070833/chaos_daemon.log)

[2022-07-08 10:37] #3386 closed

[2022-07-09 08:19] RandyLambert opened #3437 "RPC through unix socket"
# describe

Currently the communication between chaos-damon and chaos-tproxy/toda uses stdio, I will change it to unix socket, this issue
 Contains all PRs involved.

## rfc

* https://github.com/chaos-mesh/rfcs/pull/34

## chaos-mesh

*

## toda

* https://github.com/chaos-mesh/toda/pull/36

## chaos-tproxy

* https://github.com/chaos-mesh/chaos-tproxy/pull/52

[2022-07-10 16:35] g1eny0ung opened #3438 "ui: title `Experiment type` is ambiguous"
<img width="511" alt="image" src="https://user-images.githubusercontent.com/15034155/178153511-8cf41daf-2ddf-4433-8891-df11def32927.png">

Ref: https://cloud-native.slack.com/archives/C0193VAV272/p1657010467198839?thread_ts=1656998173.351979&cid=C0193VAV272

**What did you expect to see?**

It would be better to call it **Inject into**.

[2022-07-11 03:25] #3438 closed

[2022-07-11 08:36] Andrewmatilde opened #3442 "install.sh run failed"
## Bug Report
<img width="757" alt="origin_img_v2_d9b74dd0-0321-425b-a6e1-50534d2c2b3g" src="https://user-images.githubusercontent.com/32479514/178222900-3951f417-553f-43e4-a7eb-aa088d2354fc.png">

[2022-07-11 08:42] Andrewmatilde opened #3443 "Add doc link to README.md"
## Feature Request
Add doc link to README.md
**Is your feature request related to a problem? Please describe:**
We have doc link in about of main page, but no doc link in README.md. Common the doc link of a github repo have a link in README.md. So I suggest to add it.
**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migrat

[2022-07-11 08:49] xlgao-zju commented on #3374
@Andrewmatilde I think we can put the details in the `reason ` field in the `condition`.
when specify a pod which is not existed, we will get `condition` like this:
[code]

[2022-07-11 08:49] Andrewmatilde commented on #3442
Same problem in linux.
![image](https://user-images.githubusercontent.com/32479514/178225619-003670a9-faa8-4a10-92ce-4be905a4b3ee.png)

[2022-07-11 08:58] xlgao-zju commented on #3392
<img width="1065" alt="image" src="https://user-images.githubusercontent.com/1636894/178227312-5cd84638-427b-4140-89f7-b833c0279faa.png">
looks like we have already ignored the not found error in jvm chaos...

[2022-07-11 09:06] xlgao-zju commented on #3374
looks like the `reason` field in the `condition` will always be empty? I think put some details in it would be a good idea 😆

WDYT? @STRRL @YangKeao

[2022-07-11 09:30] STRRL commented on #3374
The current message in reason is "specified pods are not existed", do you have any suggestion? :heart: @xlgao-zju

[2022-07-11 11:41] #3364 closed

[2022-07-11 11:41] #3365 closed

[2022-07-11 11:46] xlgao-zju commented on #3374
for now, we select the target in `record phase`.

 if we need the details of selector, when we update the `condition`. could we select the target in `condition phase`?

[2022-07-11 13:15] Andrewmatilde commented on #3374
I also stand with this suggestion! ❤️

[2022-07-11 13:18] Andrewmatilde commented on #3374
There is a problem that the `target` is not human readable now. If we make the message of `target` more reasonable ,I think it is good.

[2022-07-11 14:42] xlgao-zju commented on #3374
yes, for now, we just put all the target info in a `string`, and the code like:
[code]

if we want to make the target info human readable, maybe we can put this info as a field of record. and add a file in `experiment` to indicate the target type. maybe like:
[code]

and to be honest, I do not know if it is the reason why we select the target in `record phase` for now...

[2022-07-11 14:45] Andrewmatilde commented on #3374
I think this is a good idea. PTAL @STRRL  , @YangKeao , @cwen0 .

[2022-07-12 07:13] STRRL commented on #3443
I link to chaos-mesh.org in README.md?  Great!

[2022-07-12 07:13] STRRL commented on #3443
/assign

[2022-07-12 10:23] TaoTi888 commented on #3421
thanks

[2022-07-12 10:23] #3421 closed

[2022-07-13 03:06] STRRL commented on #3424
Ping @Hexilee , it seems `toda` paniced.

HI @zhangyulu , could you tell us how to repoduce this issue? For example:

 - how you deploy redis? which container image is used with redis?
 - the yaml spec of IOChaos
 - other information if you think it's helpful to reproduce this issue.

also cc @YangKeao @Andrewmatilde

[2022-07-13 10:25] #3172 closed

[2022-07-13 12:33] ConnieHan2019 opened #3448 "make check error: "flag provided but not defined: -pd""
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:18:45Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6-20+cbbba6c5def2f8",

[2022-07-14 02:48] xlgao-zju commented on #3448
@g1eny0ung any idea about this issue?

[2022-07-14 02:57] g1eny0ung commented on #3448
Yes, there is a recent change that upgraded swag. Try `go mod tidy` to upgrade local dependencies.

[2022-07-14 03:02] xlgao-zju commented on #3448
@g1eny0ung I thought we run `make check` in a container... lol

[2022-07-14 03:24] g1eny0ung commented on #3448
Oh...Sorry, I didn't look carefully. You should check whether the `dev-env` image is a recent version. Try pull the latest image and then `make check`.

[2022-07-14 05:13] #2998 closed

[2022-07-14 07:18] brnck opened #3452 "Return only annotated namespaces when filter is enabled"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I’ve enabled filter namespace in the controller:

[code]

When logged in to the UI I can see all available namespaces in the cluster. For the record - only one namespace has this annotation (demo-bookapp)

![image](https://user-images.githubusercontent.com/14329469/178921195-da2f993e-ce4e-42e9-962d-fcc40d89998c

[2022-07-14 08:04] cwen0 opened #3454 "Failed to recover TimeChaos: TaskID not found."
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

v2.2.0

**What did you do?**

Create a new TimeChaos
[code]

Achieve TimeChaos experiment on Chaos Dashboard

**What did you expect to see?**

TimeChaos was deleted successfully.

**What did you see instead?**.

![image](https://user-images.githubusercontent.com/22956341/178933200-a

[2022-07-14 08:10] cwen0 opened #3455 "Failed to update finalizer: updateError.Error()"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

v2.2.0

**What did you do?**

Create a PhysicalMachineChaos
[code]

And achieve it on chaos dashboard.

**What did you expect to see?**

The PhysicalMachineChaos was deleted successfully.

**What did you see instead?**

![Uploading image.png…]()

**Output of chaosctl**

[2022-07-14 10:26] brnck opened #3456 "Profiler is not disabled even controlling key is set to false"
## Bug Report

**What version of Kubernetes are you using?**

**1.21**

**What version of Chaos Mesh are you using?**

**2.2.1**

**What did you do?**

When the dashboard pod is created, GIN outputs all the routes, as well as reports running in, debug mode:

[code]

So I've investigated a bit and tweaked a couple of things:
* Added `GIN_MODE: release` to `dashboard.env`
* Set `enableProfiling` to

[2022-07-15 01:14] yoonian commented on #2873
/assign

[2022-07-15 01:14] yoonian commented on #2874
/assign

[2022-07-15 06:11] STRRL commented on #3448
It could be fixed by https://github.com/chaos-mesh/chaos-mesh/pull/3444

[2022-07-15 06:32] xlgao-zju commented on #3448
talked with @ConnieHan2019 offline, after run `make clean` this issue have been fixed..

[2022-07-15 06:32] #3448 closed

[2022-07-15 07:29] datacloud21 opened #3457 "fill into an existing file"
yaml----
kind: Schedule
apiVersion: chaos-mesh.org/v1alpha1
metadata:
  namespace: default
  name: phy-01
  annotations:
    experiment.chaos-mesh.org/pause: 'false'
spec:
  schedule: '* * * * *'
  startingDeadlineSeconds: null
  concurrencyPolicy: Forbid
  historyLimit: 1
  type: PhysicalMachineChaos
  physicalmachineChaos:
    action: disk-fill
    address:
      - http://10.0.24.3:9898
    sele

[2022-07-15 09:12] FingerLeader opened #3458 "`nsexec` must be triggered when `getAllInterfaces()` is called"
## Bug Report

**What version of Chaos Mesh are you using?**
latest

**What did you do?**
Called `getAllInterfaces()`

**What did you expect to see?**
Normally run
**What did you see instead?**
`Chaosd` reported an error of "error while getting interfaces"

That is because `getAllInterfaces()` doesn't determine if `enterNS` is true, this causes `nsexec` to be called all the time

[2022-07-15 11:05] #3458 closed

[2022-07-16 15:16] ConnieHan2019 commented on #3448
yes，thanks @xlgao-zju  a lot ;-)

[2022-07-16 17:47] billoreseema commented on #2300
I have a similar issue on docker-desktop and Azure Kubernetes , here is the error log for docker-desktop K8 chaos daemon
[code]

I have installed with default settings with container run time as docker

`2022-07-16T17:43:20.501Z        INFO    chaos-daemon.daemon-server      chaosdaemon/server.go:187       flush ipset     {"namespacedName": "robot-shop/web-6cb6894bb5-shmmh", "request": "container_

[2022-07-18 05:28] Andrewmatilde commented on #3457
Hi!! Thanks for your feedback!! Can you share the version of chaosd?

[2022-07-18 05:34] datacloud21 commented on #3457
Chaosd Version: version.Info{GitVersion:"v1.1.0", GitCommit:"54a0b0b898e957d78f32d7cd97a07b423624d12d", BuildDate:"2021-11-29T08:16:43Z", GoVersion:"go1.16.2", Compiler:"gc", Platform:"linux/amd64"}

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "chaos-mesh/chaos-mesh"

[2022-07-18 07:21] STRRL opened #3461 "Chaos Dashboard: Generation ServiceAccount Token with TokenRequest API on kubernetes 1.24+"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. Chaos Dashboard would give the hint to create a token to login:
<img width="566" alt="image" src="https://user-images.githubusercontent.com/20221408/179461898-437a8e7c-55af-4573-a38d-14b874dd7952.png">

But it would NOT work on Kubernetes 1.24+.

After https://github.com/kubernetes/enhancements/tree/master

[2022-07-18 09:40] STRRL commented on #2069
ref: https://github.com/chaos-mesh/chaos-mesh/issues/2978

[2022-07-19 05:16] Andrewmatilde commented on #3457
I fix this here https://github.com/chaos-mesh/chaosd/pull/126 . You 'd better update the chaosd version.
It will be very appreciated if you can share about whether it work now.

[2022-07-19 06:39] STRRL commented on #2746
closed by #3004

[2022-07-19 06:39] #2746 closed

[2022-07-19 08:28] STRRL opened #3463 "Tracking Issue: Release 2.3.0"
I am very happy that we're going to prepare the next minor release: 2.3.0

Refs to the [Release Cycle](https://github.com/chaos-mesh/chaos-mesh/discussions/3256), 2.3.0 will be released next week (July 25, 2022 - July 31, 2022).

There is still something to be done before we could release 2.3.0:

- [x] prepare the release notes
  - [x] Draft: https://docs.google.com/document/d/1R5bTf8QKL0z8lR_vkS2

[2022-07-19 08:57] STRRL commented on #2822
Hi @g1eny0ung, I noticed that the all of the 3 steps mentioned in this tracking issue had been **completed/merged**.

Could we close this issue as completed?

[2022-07-19 09:03] g1eny0ung commented on #2822
Yep! I will close this issue now.

[2022-07-19 09:03] #2822 closed

[2022-07-19 09:13] Hexilee opened #3464 "API updates may cause ctrl server panic"
## Bug Report

When API add some new fields that cannot be resolved automatically by gqlgen, we may miss the implementation of resolvers, which may cause ctrl server panic when the unimplemented resolvers are called like #3462.

Currently I have a solution: don't reuse API type in chaosctl, only use new structures, then chaosctl won't request unimplemented resolvers.

[2022-07-19 09:35] STRRL commented on #2977
closed by https://github.com/chaos-mesh/chaos-mesh/pull/3277

[2022-07-19 09:35] #2977 closed

[2022-07-19 12:40] nioshield commented on #3436
@Hexilee have any plan to fix this ?

[2022-07-19 12:46] nioshield commented on #3452
@STRRL the feature have any plan ?

[2022-07-19 12:47] brnck commented on #3452
@nioshield I'm planning to contribute and resolve this by myself. If everything is okay, I'll start working on this tomorrow or Thursday

[2022-07-20 03:11] #3289 closed

[2022-07-20 03:48] zhangyulu commented on #3424
redis is deployed with a pv mounted as /redis/dump, which is the path I injected IO chaos, the image is self-made with some hack in redis, but I think it's not the key point
yaml of IOChaos is like this:
[code]

[2022-07-20 06:42] YangKeao commented on #3424
It seems that some libraries used by `toda` called `Error::description()`, which has been deprecated. But I'm not sure whether it's the direct cause. In the log, it shows the `toda` failed to umount itself: `umount returns error: Sys(EBUSY)`, but the former replacer runs well :cry: .

[2022-07-21 03:12] nototain opened #3466 "Can network partition support IPv6 interface"
## Question
Hi,

I create network chaos with partition, seems this only works for Ipv4, does it support IPv6? Any parameter need to be added for IPv6?

kind: NetworkChaos
apiVersion: chaos-mesh.org/v1alpha1
metadata:
  namespace: testnamespace
  name: smd-ctrlpub2-partition
spec:
  selector:
    namespaces:
      - testnamespace
    labelSelectors:
      app: smd
  mode: all
  action: partition

[2022-07-21 08:17] YangKeao opened #3467 "TimeChaos doesn't have effect on nginx"
I setup an nginx server through the following deployment:

[code]

After injecting the TimeChaos, I found the time in HTTP header doesn't shift. I want to know why.

[2022-07-22 00:24] #3093 closed

[2022-07-22 07:04] STRRL commented on #3167
duplicated with https://github.com/chaos-mesh/chaos-mesh/issues/3015

[2022-07-22 07:04] #3167 closed

[2022-07-22 07:43] realzhuangxinyu commented on #3408
Do you mean I can't use jvm chaos until I reinstall my chaos mesh?

[2022-07-22 09:36] #3408 closed

[2022-07-22 09:37] realzhuangxinyu commented on #3408
Thanks, I will try.

[2022-07-22 10:39] STRRL opened #3472 "JVMChaos stress not works on 2.2.2"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

2.2.2

**What did you do?**

create workload:

[code]

create jvmchaos

[code]

**What did you expect to see?**

top could see the java process use 200% CPU.

**What did you see instead?**

no CPU stress created with error log

![image](https://user-images.githubusercontent.com/2022140

[2022-07-22 10:42] STRRL commented on #3472
maybe relates to https://github.com/chaos-mesh/chaos-mesh/pull/2997/

[2022-07-22 12:37] brnck commented on #3456
@STRRL you can assign this to me. PR should be ready on Monday maybe

[2022-07-24 00:25] #3061 closed

[2022-07-25 01:48] STRRL opened #3475 "Configure the RateLimiter/QPS/Burst for Chaos Dashboard Kubernetes Client"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. When I profiling the performance of the Chaos Dashboard `POST /api/experiments`, I found that the QPS keeps as `20/s`.

I found that the `clientpool` used in chaos dashboard would crate the kubernetes client with the default RateLimit Config: `QPS: 20, BURST: 30`

Reference:

https://github.com/chaos-mesh/

[2022-07-25 02:30] YangKeao commented on #3374
I think @Andrewmatilde and @xlgao-zju are talking about different `target` :crying_cat_face: . @Andrewmatilde is talking about the `selectorKey` field in the record. It only has a different value for `NetworkChaos`. If a `NetworkChaos` has `.spec.target`, then the `.status.containerRecords[].selectorKey` could be `.` or `.target`.

[2022-07-25 02:42] YangKeao commented on #3374
I think it's a good idea. The current problem is that all chaos share a same experiment status. It's hard to give them a different structure for different chaos definitions.

I haven't dig into golang generic definitions, and don't know whether it can help in this situations. What we need is;

[code]

[2022-07-25 09:07] #3475 closed

[2022-07-25 09:09] gopimandala opened #3478 "Ability to view all connected chaosd (daemons on individual VMs/Physical machines) from ChaosMesh control plane"
## Feature Request

**Is your feature request related to a problem? Please describe:**
There is no way to view/identify all VMs which have the chaosd servers actively connected to the control plane. If someone has a large number of VMs (non-k8s) the tracking of VMs and the status of chaosd servers would be a big overhead. Also results in experiments being run where the chaosd daemon service might

[2022-07-25 10:34] zhuazi opened #3480 "JVM CHAOS:Unable to open socket file /proc/16097/root/tmp/.java_pid16097: target process 16097 doesn't respond within 10500ms or HotSpot VM not loaded"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2022-07-25 10:39] jia-jerry opened #3481 "IP address can be blank for Physicalmachinechaos network attack"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, webhook will forbid creating a network attack(delay, loss, duplicate, corruption) if both IP and Hostname are not maintained. However, for chaosd, these 2 fields are not necessary.

**Describe the feature you'd like:**

Remove IP and Hostname check in [validateNetworkCommon](https://github.com/chaos-

[2022-07-25 10:39] zhuwenxing opened #3482 "Schedule can not be deleted if it was created by Workflow after Workflow has been deleted"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

create a workflow to create two schedules
after several minutes, delete the workflow

**What did you expect to see?**
The CRD of workflow and the schedules all deleted

**What did you see instead?**
only workflow deleted, but schedules not

**Output of c

[2022-07-25 10:57] zhuwenxing commented on #3482
workflow yaml
[code]

[2022-07-26 00:22] #2884 closed

[2022-07-26 02:20] STRRL commented on #3482
Hi @zhuwenxing , I could not reproduce this issue on my local machine. The `Schedule` and `PodChaos` could be "cascade deleted":
<img width="1917" alt="image" src="https://user-images.githubusercontent.com/20221408/180908252-8222727b-6af8-4c13-82fa-ba212d802589.png">

Please take a look on the `kubectl describe schedule <the-name>`, take a look on the Owner Reference section, the `Schedule` should

[2022-07-26 02:56] STRRL commented on #3169
I think this enhancement would NOT be carried with 2.3.0, because we only have a few days.

I would update the milestone.

[2022-07-26 03:18] YangKeao commented on #3169
Off-topic: I found the behavior of installing chaos mesh on unsupported old version of kubernetes is quite interesting. For example, if you are installing the Chaos Mesh on kubernetes 1.11, whose CRD doesn't support default value, then the `.spec.percent` in `IOChaos` is default to 0, which means no io injection will take place.

(But it doesn't matter, because 1.11 is too old, and we'll definitel

[2022-07-26 06:57] gopimandala commented on #3416
When i created new cluster it worked initially but then again ran into this issue of dashboard going blank when using byYaml or loadFrom options.

[2022-07-26 07:14] zhuwenxing commented on #3482
OK, I will check it again as soon as possible

[2022-07-26 07:39] 7937 opened #3487 "For special reasons, the environment restricts the context of the container's SecurityContext and cannot enable privilege, so the IOChaos of chaos-mesh cannot be simulated"
maybe，chaos-daemon can find the Pod's data volume at the Machine's mount point, and then configure the specified IOChaos scheme？

[2022-07-26 08:33] STRRL commented on #3487
Chaos Mesh does not require you to permit "privileged container" on the application pod. It is enough that let `chaos-daemon` run as "privileged".

If the environment is restricted by `PodSecurityContext` or other policy, and `chaos-daemon` could NOT run as priviledged, there is NO WAY to inject IOChaos, because

- IOChaos requires several Linux Capabilities, like mknod and ptrace, there is no way

[2022-07-26 09:06] STRRL commented on #3416
I could produce this issue on 2.2.2:
<img width="337" alt="image" src="https://user-images.githubusercontent.com/20221408/180968720-905770d3-f8b5-47aa-9ea0-7125ea95c9d1.png">

[2022-07-26 09:13] STRRL commented on #3416
also on 2.1.7

[2022-07-26 09:23] zhuwenxing commented on #3482
k8s server version: 1.24

As you can see, the workflow has been deleted, but the schedule still is here.
![image](https://user-images.githubusercontent.com/12268675/180971396-a3228182-569c-4375-a6da-2ac706c6f28f.png)

The description of schedule
[code]

log:
[chaos_mesh.log](https://github.com/chaos-mesh/chaos-mesh/files/9188422/chaos_mesh.log)

[2022-07-26 10:02] FingerLeader commented on #3481
Yes, I find `IPAddress` and `Hostname` are not necessary in Chaosd, and our doc is wrong about these two flags.

[2022-07-26 10:33] FingerLeader commented on #3480
The PID should be your Java APP's PID.

[2022-07-26 10:47] zhuazi commented on #3480
The PID used now is the PID of the physical machine, not the PID inside the container; Now daemon uses the PID of the physical machine to get the socket file inside the container, so the socket file cannot be found.

[2022-07-27 02:47] YangKeao opened #3493 "Create NetworkChaos with same selector in . and target will cause error"
## Bug Report

[code]

[2022-07-27 03:29] YangKeao commented on #3493
I'll enrich the description of this issue later :cry: .

[2022-07-27 03:31] YangKeao opened #3494 "Cannot remove a selected option on dashboard"
For example, if you selected a `GET` on the dashboard HTTPChaos methods, you cannot remove it and left it as the default one. I think this problem exists for all optional enum fields

[2022-07-27 04:19] zwwhdls opened #3495 "iochaos panic"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

IOChaos

[code]

my pod：
[code]

**What did you do?**

chaos daemon log:

[code]

iochaos keeps reporting error events. It can't be deleted other unless deleting the finalizer.

chaos controller log:
[code]

**What did you expect to see?**

**What did you see instead?**

**Output of

[2022-07-27 04:38] #3456 closed

[2022-07-27 05:00] YangKeao opened #3496 "Unknown templateType `Custom`"
On Chaos Mesh v2.2.2, dashboard. Creating a workflow with http requests action. However, it throws error: `templateType: Custom` is unknown.

[2022-07-27 10:26] wangjiajun-sz opened #3497 "IOChaos doesn't work in 2.2.2-arm"
## Bug Report

**What version of Kubernetes are you using?**
1.21.8

**What version of Chaos Mesh are you using?**
v2.2.2-arm

**What did you do?**
kind: IOChaos
apiVersion: chaos-mesh.org/v1alpha1
metadata:
  namespace: dp
  name: pod-fail
spec:
  selector:
    namespaces:
      - dp
    labelSelectors:
      app.kubernetes.io/instance: clog
  mode: all
  action: fault
  errno: 5
  path: /root/lo

[2022-07-27 17:11] Andrewmatilde commented on #3466
Sorry for reply so late !! We only support IPV4 now. I think it is not hard for IPV6 supporting. But we do not complete it now.

[2022-07-27 17:15] Andrewmatilde commented on #3478
I think this is a good idea, but we cannot say when we work on it. Sorry.

[2022-07-27 17:17] Andrewmatilde commented on #3497
I guess there are some support problems on OS. PTAL @YangKeao .

[2022-07-27 20:39] #3472 closed

[2022-07-28 02:16] YangKeao commented on #3497
`IOChaos` doesn't support arm64 now :cry: . There are tons of x86_64 assembly in the iochaos. Providing support for arm64 won't be easy.

[2022-07-28 02:47] yiyanwannian opened #3499 "macos can not build chaos-mesh daemon"
## Bug Report

**What version of Chaos Mesh are you using?**
release-2.3

**What did you do?**

**What did you expect to see?**
chaos-mesh daemon run
**What did you see instead?**

package github.com/chaos-mesh/chaos-mesh/cmd/chaos-daemon
	imports github.com/chaos-mesh/chaos-mesh/pkg/chaosdaemon
	imports github.com/chaos-mesh/chaos-mesh/pkg/time
	imports github.com/chaos-mesh/chaos-mesh/pkg/ptrace

[2022-07-28 07:04] FingerLeader commented on #3499
Hi @yiyanwannian , if you can run k8s on your macos, then you can deloy chaos daemon it's no materr with your OS. How do you install chaos mesh?

[2022-07-28 13:11] craig-seeman commented on #2412
Fixed via https://github.com/chaos-mesh/chaos-mesh/pull/3187 :) Closing as such.

[2022-07-28 13:11] #2412 closed

[2022-07-28 13:44] #3416 closed

[2022-07-29 05:41] #3420 closed

[2022-07-29 06:36] STRRL commented on #3463
Yeah! We are running the release process for 2.3.0.

[2022-07-29 13:30] yiyanwannian commented on #3499
I can launch k8s by docker-desktop.
my steps:
1. git clone github.com/chaos-mesh/chaos-mesh
2. cd choas-mesh && go mod tidy
3. start debug with goland and then show it issue

[2022-07-31 03:32] #3452 closed

[2022-07-31 06:25] Andrewmatilde commented on #3495
PTAL @YangKeao

[2022-07-31 06:29] Andrewmatilde opened #3507 "Dashboard set wrong name and type on iochaos.containerNames"
Dashboard will send like "containerName" : "nignx" to server , but it should be "containerNames" : ["nginx"].

[2022-08-01 00:24] #3112 closed

[2022-08-01 00:24] #3113 closed

[2022-08-01 03:18] STRRL commented on #3499
chaos-daemon is NOT designed to run on macOS/Darwin, so we did not implement some features like `ptrace` on the platform darwin.

The `make` recipes would **always** build components inside of docker, which means inside of a linux environment, so please use commands like `make image-chaos-daemon` to build them.

At last, if you want to debug Chaos Mesh, you could take a look on: https://chaos-mesh

[2022-08-01 06:50] #3461 closed

[2022-08-02 06:12] cwen0 opened #3513 "Dashboard: can't show right BlockChaos Chinese name"
## Bug Report

**What version of Kubernetes are you using?**

v1.24.3

**What version of Chaos Mesh are you using?**

v2.3.0

**What did you do?**

Create a new experiment on Chaos Dashboard

**What did you expect to see?**

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/182304400-bdcfa9cc-cae2-4a71-be13-8253078e52f6.png)

**Output of chaosctl**

[2022-08-02 07:37] zhuwenxing commented on #3482
Here is some other info. Since WorkflowNode controls the schedule, so I try to get WorkflowNode.
[code]

So the kind workflow will be deleted, but the kind WorkflowNode will not be deleted.

You may reproduce this issue by the following steps:
1.  deploy a standalone Milvus in chaos-testing namespace
[code]
2. apply the chao with the yaml config above
[code]
3. wait a while and then delete workflo

[2022-08-02 08:01] zhuwenxing commented on #3482
If this is in a fresh new k8s cluster (created by minikube), this issue will not happen.

have no idea what something else caused this, maybe there is an argo workflow that has been installed in my cluster?

[2022-08-02 08:32] zhuwenxing commented on #3482
The descriebe of `entry-wgwg9` after workflow.chaos-mesh.org has been deleted

[code]

[2022-08-02 19:38] jeffWelling commented on #1228
I had some difficulty with the firewall rules for this as well, disabling the firewall goes against best practices so I poked around and found the trick was to allow TCP 9443 between the kube api server and the pods chaos mesh runs on, despite the error message calling out port 443. Hopefully this helps anyone who his the same problem I did!

In hindsight it's obvious, ah well.

[2022-08-03 07:42] STRRL opened #3519 "CI: the bot could not create the cherrypick PR with conflicts"
After we apply the "keep a CHANGELOG", the cherypick processing becomes a little bit complex:

- it would often be failed with conflict, like
  - https://github.com/chaos-mesh/chaos-mesh/pull/3489#issuecomment-1198167181
  - https://github.com/chaos-mesh/chaos-mesh/pull/3505#issuecomment-1200841053

We want the bot could create the PR event with conflict need to be resolved

[2022-08-03 10:26] jwojnarowicz opened #3520 "How do I perform a JVMChaos experiment through Byteman? I have some errors."
Hi everyone,
I have run into a problem while trying to test some example JVMChaos experiments following [docummentation](https://chaos-mesh.org/docs/simulate-jvm-application-chaos/).

**Version of Chaos Mesh**: 2.3.0

**What did I do?**

I have used the example file provided, so the **Java version** in the image is openjdk-16.

**What did I expect to see?**

In logs of the example pod:
[code]
as s

[2022-08-04 01:52] george-tj commented on #3454
I  also meet this problem

[2022-08-04 08:08] 5elf opened #3526 "status.conditions.reason: Invalid value: \"null\""
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:18:45Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.10-468+23b6e83f628328

[2022-08-04 08:15] cwen0 commented on #3520
/cc @WangXiangUSTC

[2022-08-05 00:25] #3129 closed

[2022-08-05 00:25] #3122 closed

[2022-08-05 08:41] cwen0 commented on #3526
@5elf How did you install Chaos Mesh v2.2.0? I guess that the CRD version is old.

[2022-08-05 09:58] QuchengRep1 opened #3530 "Inject JVMChaos: install com.sun.tools.attach.AgentLoadException"
## Question
**I use the  chaos-mesh official docker image below:**
Version: chaos-mesh v2.2.2
ghcr.io/chaos-mesh/chaos-daemon: v2.2.2
ghcr.io/chaos-mesh/chaos-mesh: v2.2.2
ghcr.io/chaos-mesh/chaos-dashboard: v2.2.2

**when i use dashboard to inject a JVMChaos ,chaos dashbord returns :"Failed to apply chaos: rpc error: code = Unknown desc = exit status 1". So I checked the chaos-daemo logs, and it

[2022-08-05 10:02] 5elf commented on #3526
I think the CRDs are okay.

I got this error message because the checks and validations are more strict in our internal version of the Kubernetes cluster. And the problem was gone after I added some missing `omitempty` JSON tags.

I think it will be better if we could explicitly specify that these optional fields can be omitted.

I will create a PR to solve it soon.

[2022-08-07 02:52] STRRL commented on #3361
tracking in: https://github.com/chaos-mesh/chaos-mesh/issues/3463

[2022-08-07 02:52] #3361 closed

[2022-08-07 03:21] g1eny0ung commented on #3513
What should the Chinese name be called?

[2022-08-07 04:05] STRRL opened #3532 "it seems we do not append "CNCF-CLA" as one of the check in PR."
CNCF requires contributor to sign the CLA, but it seems we do not have it in the PR checks.

[2022-08-07 07:11] anushas-dev opened #3535 "Feature request for HTTPSChaos"
## Feature Request

Hi Team,
Request you to please consider to support HTTPS fault injections as well via HTTPChaos or new HTTPSChaos kind.
Mostly to administer errors with respect to SSL handshake errors, missing cert chain component, cert expiry and other secure connection errors that can likely help to foresee certain errors before the actual event occurs in production like environments.

Thank

[2022-08-08 11:17] WangXiangUSTC commented on #3520
it is similar with https://github.com/chaos-mesh/chaos-mesh/issues/2588, could you please make sure the Linux kernel is  v4.1 or later?

[2022-08-08 11:20] WangXiangUSTC commented on #3530
https://github.com/chaos-mesh/chaos-mesh/blob/b81f57835b4d12b9fd9d5e21f8b6ec9bac2757ba/pkg/chaosdaemon/jvm_server.go#L118

This error can be ignored and is ignored here, it doesn't matter. Please check the experiment's status.

[2022-08-09 02:04] QuchengRep1 commented on #3530
Thans,
and when we use JDK11 based image+chaosMesh2.3, the previous jvmChaos exception does not occur again.

[2022-08-09 02:04] #3530 closed

[2022-08-09 19:23] marniks7 opened #3540 "PodChaos. Multiple Label Selectors with the same key fails"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.0", GitCommit:"ab69524f795c42094a6630298ff53f3c3ebab7f4", GitTreeState:"clean", BuildDate:"2021-12-07T18:16:20Z", GoVersion:"go1.17.3", Compiler:"gc", Platform:"l
inux/amd64"}
Server Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.4", GitCommit:"e6c093d

[2022-08-10 00:20] #3158 closed

[2022-08-10 00:52] pcgeek86 opened #3541 "What is "safe mode" that's referred to in the installation documentation?"
## Question

What is this "safe mode" that is referred to in the Chaos Mesh installation documentation?

The documentation states how to disable this "safe mode," but gives no indication what it is, or why I would want to disable it, or if I *should* disable it.

- What is safe mode?
- What are the risks of disabling it?
- Why does this option exist at all?

![image](https://user-images.githubuser

[2022-08-10 03:55] pcgeek86 opened #3542 "Error: Failed to update records: Internal error occurred: failed calling webhook "vauth.kb.io": failed to call webhook: Post "https://chaos-mesh-controller-manager.chaos-testing.svc:443/validate-auth?timeout=5s": EOF"
## Bug Report

**What version of Kubernetes are you using?**

k3s 1.24.3

**What version of Chaos Mesh are you using?**

2.3.0

**What did you do?**

* Install Chaos Mesh via Helm `helm install chaos-mesh chaos-mesh/chaos-mesh -n=chaos-testing --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/k3s/containerd/containerd.sock --version 2.3.0`
* Created namespace `pwsh`
* Ran an i

[2022-08-10 09:19] cwen0 opened #3543 "Dashboard: can't show the right workflow graph"
## Bug Report

**What version of Kubernetes are you using?**
.

[code]

**What version of Chaos Mesh are you using?**
.

v2.1.5

**What did you do?**

Create a parallel task on workflow

[code]

**What did you expect to see?**.

Show the right workflow graph

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/183845607-a6bb7e25-d100-4316-a550-847b293e4ea0.pn

[2022-08-10 09:44] #3507 closed

[2022-08-10 19:08] pcgeek86 opened #3544 "[Feature] Schedule a Chaos Mesh workflow definition, instead of immediately executing it"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I would like to create a workflow, and then schedule that workflow to run periodically on a cron schedule. Right now, Chaos Mesh runs a workflow as soon as you create it, and doesn't allow you to schedule execution of a workflow (_unless I'm missing something_).

**Describe the feature you'd like:**

Use Schedu

[2022-08-10 19:31] pcgeek86 opened #3545 "[Bug] 🐛 Workflow PREVIEW UI fails to create HTTP Chaos node in Chaos Mesh v2.3.0"
## Bug Report

**What version of Kubernetes are you using?** 1.23.6

**What version of Chaos Mesh are you using?** 2.3.0

**What did you do?**

- Set up fresh Kubernetes cluster 1.23.6 on Linode LKE
- Install Helm Chart for Chaos Mesh v2.3.0
- Login to Chaos Mesh dashboard and enable Workflow **PREVIEW** feature checkbox
- Create new workflow in web UI / dashboard
- Add a HTTPChaos node
- Enable `

[2022-08-11 02:17] bn0901 commented on #3540
I think it is expected result.

In k8s,  labels which have the same key， only the second key-value will uesd。
[code]

Here are some ways  you might use it：
1、 make podchaos with pods (labels app:app1, app: app2)：  Only  the second  label is valid。
2、 make podchaos with pods (labels app:app1, app2: app2)：   Only pods with these two label can be filterd .
3、make podchaos with pods (labels app:app1)

[2022-08-11 06:23] anuragpaliwal80 opened #3548 "How to setup chaos mesh on cluster having both docker as well as cri-o nodes"
## Question

We have k8s cluster having both docker as well as cri-o nodes. Right now we have set docker as runtime in chaos daemon. So any chaos daemon running on cri-o is not going to work as expected and is throwing proper error as well:

[code]

So how should we solve this problem. Should we have two chaos daemon one for docker and one for cri-o nodes using nodeAffinity or we should have some

[2022-08-11 06:34] Andrewmatilde commented on #3535
@Hexilee is doing that.

[2022-08-11 22:48] Moynur commented on #3257
Hey is this open to be picked up

[2022-08-12 03:16] marniks7 commented on #3540
There are 2 points
-  Because of the issue multiple option for label selector has limited scope of usage,
(e.g. filter for postgres + only master instance).
Most of the application will follow the default way with the same key for application filtering, e.g. `app.kubernetes.io/name: app1`, `app.kubernetes.io/name: app2`.
https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labe

[2022-08-12 03:25] basit9958 commented on #3257
@Moynur I am not working on this. You can pick this up

[2022-08-12 04:02] #3526 closed

[2022-08-12 06:13] Andrewmatilde commented on #3545
You should specify the target value of http chaos , such as ["Request", "Response"].

[2022-08-12 09:55] cwen0 opened #3550 "Add action fieldd for HTTPChaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**
.

**Describe the feature you'd like:**

In most chaos types, Chaos Mesh uses `action` field to describe chaos action, but we can't find it in HTTPChaos types. In addition, HTTPChaos provides four different chaos actions. We should unify this behavior.
https://github.com/chaos-mesh/chaos-mesh/blob/3d299ed0f800b7

[2022-08-12 19:48] alphalzh opened #3551 "iochaos stopped injection after container on the pod being injected restarted"
## Bug Report

**What version of Kubernetes are you using?**
Kubernetes 1.21.4

**What version of Chaos Mesh are you using?**
2.1.1

**What did you do?**
Injected iochaos to a pod.
The injected chaos caused the container on the pod to restart, and after restart the toda process errored out, and the iochaos stopped from being injected to the pod.

`Aug 12 04:24:04.950  INFO resume: toda: replace re

[2022-08-14 07:22] idanovo commented on #664
I had the same issue in AWS EKS. Had to add an inbound rule to allow 9443 port from cluster to nodes.

[2022-08-14 07:48] idanovo commented on #1228
I had the same issue in AWS EKS. Had to add an inbound rule to allow 9443 port from cluster to nodes.

[2022-08-14 08:14] Odysseusailoon opened #3552 "Keep geting imagepullbackoff error on chaos-daemon"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: v1.24.3
Kustomize Version: v4.5.4
Server Version: v1.24.3

**What version of Chaos Mesh are you using?**
2.3.0
**What did you do?**
trying to setup chaos mesh by using:
helm install chaos-mesh chaos-mesh/chaos-mesh -n=chaos-testing --set dashboard.securityMode=false --version 2.3.0

**What did you expect to see?**
all pod

[2022-08-14 08:31] #3552 closed

[2022-08-14 08:32] Odysseusailoon commented on #3552
solved by docker pull, errors was caused by the bad internet's timeout.

[2022-08-14 09:17] Andrewmatilde commented on #3551
I think upgrade to 2.3.0 may help it.

[2022-08-14 09:18] Andrewmatilde commented on #3551
PTAL @YangKeao .

[2022-08-15 00:22] #2811 closed

[2022-08-15 10:09] zhengbingxian opened #3554 "E2E test can't focus on specific case"
## Feature Request

**Is your feature request related to a problem? Please describe:**

when run cmd as “make e2e”， some case will pass. some case will failed。
So i run command as follow ,to specific run podchaos 。
[code]
unfortunately,  it was not working 。

**Describe the feature you'd like:**

As you know , rerun e2e test all cases will take 40min nearly.
If I run command to specific podchaos c

[2022-08-15 10:20] zhengbingxian opened #3555 "KUBECONFIG ENV NOT SET"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

2.3.0

**What did you do?**

run command as follows
[code]

**What did you expect to see?**
run with no error

**What did you see instead?**
KUBECONFIG ENV NOT SET 。

Is it a bug?  or it  need to add value  "kubeconfig=/<root>/.kube/config"   as default  value  instead of  to
run command in

[2022-08-16 00:26] #3195 closed

[2022-08-16 00:26] #3160 closed

[2022-08-16 01:45] #3554 closed

[2022-08-16 04:47] Andrewmatilde commented on #3541
Hi @pcgeek86 ! Thanks for your feedback. Disable `safe mode` will stop [user permission check]("https://chaos-mesh.org/docs/manage-user-permissions/") in chaos-mesh.  It is quite dangerous that everyone can access the dashboard can apply any chaoses on your kubernetes cluster. We just use it in testing & debugging situation in safe inner network.

[2022-08-16 05:26] Andrewmatilde commented on #3555
Hi @zhengbingxian ! It seems run-e2e.sh will set `KUBECONFIG=${KUBECONFIG:-$HOME/.kube/config}`. It is strange that KUBECONFIG not set here.

[2022-08-16 06:57] pcgeek86 commented on #3541
Thanks for your response!

[2022-08-16 06:57] #3541 closed

[2022-08-16 07:23] pcgeek86 opened #3557 "🐛 "Load From" existing experiment feature doesn't work as expected"
## Bug Report

**What version of Kubernetes are you using?**
Linode Kubernetes Engine (LKE) 1.23.6

**What version of Chaos Mesh are you using?**

**What did you do?**

- Create Chaos Experiment (see YAML below)
- Create new Chaos Experiment
- Choose the **Load From** option
- ⛔ **ERROR**: White screen appears with JavaScript errors in the browser console

[code]

**What did you expect to see?**

[2022-08-16 07:24] pcgeek86 commented on #3545
Thank you, the error message was very confusing. I think the workflow preview UI could use extra validation to prevent this error from occurring at workflow creation time.

[2022-08-16 07:36] Andrewmatilde commented on #3545
This is a good idea. We may try to work on that.

[2022-08-16 07:51] pcgeek86 opened #3558 "🐛 [Bug] Error while creating Block Fault chaos, using Limit IOPS type"
## Bug Report

**What version of Kubernetes are you using?**
Linode Kubernetes Engine 1.23.6

**What version of Chaos Mesh are you using?**

**What did you do?**

- Create new Chaos Experiment
- Select **Kubernetes ➡️ Block Fault** type
- Choose 1 IOPS
- Type volume name to attack
- Create experiment, notice error occurs ⛔

![image](https://user-images.githubusercontent.com/466713/184826934-8bc4cb

[2022-08-16 08:17] pcgeek86 opened #3559 "[Bug] 🐛 Stress Chaos experiment does not work correctly due to Docker RPC error"
## Bug Report

**What version of Kubernetes are you using?**
Linode Kubernetes Engine 1.23.6

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

- Create Chaos Mesh schedule
- Use Kubernetes Stress CPU type (see below)

[code]

**What did you expect to see?**

Stress Chaos should work correctly

**What did you see instead?**

[code]

**Output of chaosctl**

[2022-08-16 08:38] zhengbingxian opened #3560 "e2e case run failed"
## Bug Report

**What version of Chaos Mesh are you using?**

2.3.0

**What did you do?**

1、use helm chart deploy the chaos-mesh  as follows:
[code]
As the cluster can't visit gcr.io registry，so I changed it 。

2、run e2e test
[code]

**What did you expect to see?**
some error found in the report。
[Fail] [Basic] [PodChaos] [PodFailure] [It] [Schedule]
...

**What did you see instead?**
All e2e tes

[2022-08-16 12:35] zhangyulu opened #3561 "how to fill "method" in IO injection"
I want inject io chaos only for "unlink" method, which is supported according to the appendix-A: method type in the document. How should I fill the content in the text box, I tried filling unlink or ["unlink"] but neither of these works, methods I filled are just ignored in yaml:
![image](https://user-images.githubusercontent.com/2420124/184880694-03bfb559-6a02-422d-90b4-00790848bd4c.png)

![image

[2022-08-17 01:58] zhengbingxian commented on #3555
I'cant find the code to call "run-e2e.sh" file in Makefile with the command "make e2e"。 But see some code in  hack/e2e.sh。

- If this is my e2e test usage wrong  by "make e2e"。
- If the  way to run e2e test  is   access the command "./hack/e2e.sh" only?   if this is right，the provider cluster is only kind, gke, eks， without selection to run local cluster。

[2022-08-17 04:31] Andrewmatilde commented on #3548
Hi @anuragpaliwal80 , I have discussed it with @YangKeao . And now we have two possible way to solve this problem. One is having two chaos daemonset with runtime docker or cri-o and use function like node affinity to make sure chaos daemon running on cri-o running on node with runtime cri-o. Another is to set a label on every node which show the runtime of the node , then chaos daemon can know it

[2022-08-17 04:38] Andrewmatilde commented on #3561
Try type `unlink` then type `tab` or `enter` ?

[2022-08-17 04:50] Andrewmatilde commented on #3555
Yes, I agree with you. It seems Makefile cannot access to `run-e2e.sh`. The common method of running e2e test is just `make e2e` which is strange that `make e2e` works well in my env & I have not set the KUBECONFIG too.

[2022-08-17 04:54] Andrewmatilde commented on #3560
Hi @zhengbingxian , thanks for your detailed feedback. We will fix it later. And I suggest you can just change it in hard code & run before we fix it in master. Or it will be appreciate to us that you can make a pull request for it.

[2022-08-17 04:55] YangKeao commented on #3548
Actually, I don't think it's good. The chaos-daemon software doesn't know anything about the Kubernetes now. It doesn't even contain a Kubernetes client.

[2022-08-17 04:56] Andrewmatilde commented on #3555
This logic here is confusing now and we are planning to make it clear.

[2022-08-17 05:24] Andrewmatilde commented on #3558
Thanks for your feedback! PTAL @YangKeao .

[2022-08-17 05:34] Andrewmatilde commented on #3561
![image](https://user-images.githubusercontent.com/32479514/185042414-84558bc3-d246-43be-9f30-f97ebc609072.png)

[2022-08-17 08:36] anuragpaliwal80 commented on #3548
Thanks for sharing your views @YangKeao @Andrewmatilde .
As mentioned above I was also thinking the same of having two daemonsets one for cri-o and one for docker might work but I just want to get expert's views on the same before trying that out.
I will try this and will share my findings so that others can also take benefit from this exploration.

[2022-08-17 08:40] Andrewmatilde commented on #3333
Yes, that's the problem.

[2022-08-17 08:41] Andrewmatilde commented on #3333
It will return nothing if you curl the server.

[2022-08-17 10:26] zhangyulu commented on #3561
Typing enter after method works
Maybe using a select box, like the "label selector" below is an better way for user interaction?

[2022-08-17 12:21] Andrewmatilde commented on #3561
That‘s a good idea.

[2022-08-17 13:43] jwojnarowicz opened #3562 "Major Dashboard issues on version 2.2.3"
## Bug Report

**What version of Kubernetes are you using?**
v1.22

**What version of Chaos Mesh are you using?**
v2.2.3

**What did you do?**
Installed Chaos Mesh v2.2.3 from Helm, deployed the cluster-manager rbac from previously generated .yaml, because after clicking *Click here to generate* the page also goes blank :) After logging into the dashboard with the token (no unauthorized errors), w

[2022-08-17 13:55] jwojnarowicz commented on #3520
It is lower, that might be the case. Thanks.

[2022-08-17 13:55] #3520 closed

[2022-08-18 00:21] #3005 closed

[2022-08-18 00:21] #2833 closed

[2022-08-18 02:39] zhengbingxian opened #3563 "e2e test of “sidecar config” run failed in some scenario"
## Bug Report

**What version of Chaos Mesh are you using?**

2.3.0

**What did you do?**

run e2e test cases.

**What did you expect to see?**

All cases success.

**What did you see instead?**

[Fail] [Basic] [Sidecar Config] [Template Config] [It] [InValid ConfigMap key]
/opt/chaosmesh/chaos-mesh/e2e-test/e2e/chaos/sidecar/template_config.go:47

[Fail] [Basic] [Sidecar Config] [Template Config]

[2022-08-18 02:49] zhengbingxian commented on #3563
After debug, the root of the problem is that there is no judgment set

[2022-08-18 07:57] zhengbingxian commented on #3560
@Andrewmatilde
I have fixed it already.  Please help me review the code if you have time. THX.

[2022-08-18 09:06] zhengbingxian commented on #3555
@Andrewmatilde

maybe kubeconfig is set in your cluster somewhere? so that you can get result by echo :
[code]

[2022-08-18 09:07] Andrewmatilde commented on #3555
![image](https://user-images.githubusercontent.com/32479514/185356942-621182ef-85aa-4aa3-b76a-423b3bdd2076.png)

[2022-08-18 15:56] #2874 closed

[2022-08-19 00:23] #3212 closed

[2022-08-19 00:23] #3199 closed

[2022-08-19 00:23] #3200 closed

[2022-08-19 07:14] webliupeng opened #3568 "HTTPChaos can not inject"
K8S version: 1.20
Chaos Mesh Version: 2.3.3

I have flow official document install chaos mesh, I've created a HTTPChaos resource on dashboard.But it's do not work.  State is  always "Injecting" on dashboard.  below is my resource yaml.
[code]
the resource status:

[code]

[2022-08-19 15:28] andyzimmerman1 commented on #2697
@g1eny0ung I am running into this issue as well. It looks like it has been several months since the last update - do you know when a fix will hit the baseline?

[2022-08-21 15:10] Andrewmatilde commented on #3568
Thanks for your feedback! Would you please give some logs about it?
Example:
[code]

[2022-08-21 15:12] Andrewmatilde commented on #3562
PTAL @g1eny0ung .

[2022-08-21 15:13] Andrewmatilde commented on #3563
I close this issue because it seem already fixed.
Thanks for your contribution!!

[2022-08-21 15:13] #3563 closed

[2022-08-22 00:23] #3210 closed

[2022-08-22 07:43] webliupeng commented on #3568
Sure. These logs after HTTPChaos created. Looks no any error.

[code]

[2022-08-22 09:31] Andrewmatilde commented on #3568
Can you show logs from chaos-daemon?

[2022-08-22 10:16] webliupeng commented on #3568
Only display these info logs? Do I need config log level？
[code]

[2022-08-22 10:20] Andrewmatilde commented on #3568
It is a little strange that I get all logs from chaos-daemon by:
[code]

[2022-08-22 10:23] Andrewmatilde commented on #3568
There have another way :
[code]

[2022-08-23 04:26] #2873 closed

[2022-08-23 06:50] webliupeng commented on #3568
@Andrewmatilde
I found these logs from controller pod.

btw: Our environment is Baidu Cloud CCE.
[code]

[2022-08-23 13:10] #3560 closed

[2022-08-23 13:11] STRRL commented on #3559
ref: https://github.com/chaos-mesh/chaos-mesh/issues/2069

[2022-08-23 13:11] Andrewmatilde commented on #3559
Sorry! We do not cgroup v2 now.

[2022-08-23 13:32] Hexilee commented on #3568
It seems there are something blocking in [ApplyHttpChaos](https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/chaosdaemon/httpchaos_server.go#L73 ), according to the context canceled(timeout) in controller manager.

And we can infer the blocked operation is likely to be iptables, could you try `./chaosctl debug httpchaos slow-http -n dev2` to check the applied iptables rules?

[2022-08-23 13:48] YangKeao commented on #3551
Indeed, nearly all continuous chaos (e.g. NetworkChaos, IOChaos) could stop work after restarting :cry:

[2022-08-23 13:53] STRRL commented on #3544
Actually, we could use `Schedule` to orchestrate `Workflow` now, but we do not support creating it on the dashboard because of the complexity UX logic.

ref: https://github.com/chaos-mesh/chaos-mesh/blob/cbead3e4b469f6453957d54967cb3f24ae2db0f3/api/v1alpha1/schedule_item.go#L24

also cc @YangKeao

[2022-08-23 14:26] g1eny0ung commented on #3543
Since we decide to rewrite the workflow display in the future, I will not spend the effort to fix it for now.

[2022-08-23 14:26] #3543 closed

[2022-08-24 00:23] #2577 closed

[2022-08-24 02:30] webliupeng commented on #3568
Here are debug info.
Why deleted chaos still exists?There is only chaos-1 resource.
[code]

[2022-08-24 11:44] STRRL commented on #2069
As Kubernetes 1.25.0 released, cgroupv2 support becomes stable. We should pay more attention on it.

ref: https://kubernetes.io/blog/2022/08/23/kubernetes-v1-25-release/#support-for-cgroups-v2-graduates-to-stable

[2022-08-24 17:33] Hexilee commented on #3568
If there are no other HTTPChaos instances, they are likely to have been deleted forcily (maybe because the graceful deletions are blocked).

As there are no iptables rules, I guess the the blocking is caused by iptables, could you try to append and save some iptables rules in a chaos-daemon pod?

[2022-08-25 00:24] #3219 closed

[2022-08-25 03:39] #3499 closed

[2022-08-26 00:23] #2566 closed

[2022-08-26 06:54] fbi007130 opened #3574 "Cert could not be generate because namespace of secret was not been denfined"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**
2.3.0

**What did you do?**
Follow the step in https://chaos-mesh.org/docs/next/chaosctl-tool/#generate-tls-certificates-for-chaosd  and try to add parameter -N to generate the cert.

**What did you expect to see?**
`aa@bb:~> ./chaosctl  --manager-namespace chaos-testing   pm init node2 --ip

[2022-08-27 13:57] zamazan4ik commented on #3497
@YangKeao could you please point me to the code with x86_64 specific assembly for IoChaos? I am not familiar with the codebase and cannot find this place. Just want to look at this assembly and, maybe, help with porting to Arm architecture.

[2022-08-27 19:34] zamazan4ik opened #3575 "Upgrade and downgrade support"
Hi.

After reading the documentation for me are not clear the following questions:
- Could I update Chaos Mesh/chaosd without downtime? I mean, during upgrade to the newer version, all ongoing experiments will work fine, dashboard will work, etc. The same question is related to downgrade
- I do not see "Monitoring" part in the documentation. Not sure, maybe there are some metrics, which could be m

[2022-08-27 19:37] zamazan4ik opened #3576 "Document supported hardware architectures"
Hi!

According to the [issue](https://github.com/chaos-mesh/chaos-mesh/issues/3497) seems like at least not all checks are working on fine on any hardware architectures.

Could you please specify in the documentation, which hardware architectures (like x86_64, ARM, RISC-V, etc) for which operating systems are currently supported?

Thanks!

[2022-08-28 14:15] Andrewmatilde commented on #3574
PTAL @Hexilee

[2022-08-28 15:00] Hexilee commented on #3574
@fbi007130 Could you try `./chaosctl pm init node2 --ip=192.168.7.58 --chaos-mesh-namespace=chaos-testing`?

[2022-08-29 02:01] fbi007130 commented on #3574
thx

[2022-08-29 02:01] #3574 closed

[2022-08-29 11:08] #3463 closed

[2022-08-29 11:09] STRRL commented on #3575
No. Chaos Mesh could not upgrade/downgrade with zero downtime now. 😢 We suggest that upgrading Chaos Mesh without executing experiments. And we are working on some features like chaos-daemon graceful-shutdown and recover experiment after the restart. I think it could be helpful for this feature.

Here are some examples of monitoring: https://github.com/chaos-mesh/chaos-mesh/tree/master/manifests/m

[2022-08-29 16:04] zamazan4ik commented on #3575
Could you please put this information into the documentation? Thanks!

[2022-08-30 02:13] STRRL opened #3577 "remove crd v1beta1 support"
Refs to https://github.com/chaos-mesh/chaos-mesh/issues/3169. We would bump the minimum support Kubernetes version to 1.19 with the next minor release.

CRD v1beta1 would be removed with Kubernetes 1.16, so there is no reason to keep it.

[2022-08-30 14:36] kishoregv opened #3586 "fix vauth.kb.io webhook, to use the plural form of resource name instead of singular."
## Bug Report

**What version of Kubernetes are you using?**
1.22

**What version of Chaos Mesh are you using?**
v2.1.2

**What did you do?**
We need to have an explicit list of resource name in the cluster role where we grant the permissions to the users, like below.
[code]

and apply a workflow object we get an error

**What did you expect to see?**
I should have seen the resource created messag

[2022-08-30 14:38] kishoregv commented on #3586
This is an issue on the resource which a different plural form than singular form.
schedules and workflows are the once hit by this bug.

[2022-08-30 18:40] szelenka commented on #2898
Setting this in the Helm template resolve the same issue for me:
[code]

As mentioned, in GKE the control plane has a special firewall rule. You could manually open `9443` for the admission controller to talk to mesh-chaos, or just use the one that's already opened for Kublet:
https://cloud.google.com/kubernetes-engine/docs/concepts/firewall-rules

[2022-08-31 03:03] wangjuan1228 commented on #3196
helm upgrade chaos-mesh chaos-mesh/chaos-mesh -n chaos-testing   --set chaosDaemon.env.DOCKER_API_VERSION=1.38  , you can try

[2022-08-31 07:53] STRRL opened #3587 "CI: Integration Test failed because of the version skew between kubernetes server and client(kubectl)"
After Kubernetes 1.25.0 release, our integration test pipeline would setup Kubernetes Cluster 1.25.0 and kubectl 1.23.1:

https://github.com/chaos-mesh/chaos-mesh/blob/62f9e43c6bb1a32ae19b0dba07da626fc17dce85/.github/workflows/integration_test.yml#L21-L25

This would lead to this error:

[code]

https://github.com/chaos-mesh/chaos-mesh/runs/8108618285?check_suite_focus=true

[2022-08-31 08:54] #3587 closed

[2022-08-31 18:30] tommyguan opened #3591 "Failed to apply chaos: rpc error: code = Unknown desc = expected docker:// but got cri-o://6"
## Bug Report

**What version of Kubernetes are you using?**
v1.21.5

**What version of Chaos Mesh are you using?**
v2.3.0

**What did you do?**
create stress memory pod experiment

**What did you expect to see?**

**What did you see instead?**
Failed to apply chaos: rpc error: code = Unknown desc = expected docker:// but got cri-o://6

NAME          STATUS   ROLES   AGE   VERSION   INTERNAL-IP

[2022-09-04 09:28] basit9958 commented on #3257
@STRRL I believe we can use https://github.com/chaos-mesh/chaos-mesh/blob/5b530f709d3b0c273ceeef72265ed16fd08b8771/api/v1alpha1/networkchaos_types.go#L91 and add logic to trim everything after @ https://github.com/chaos-mesh/chaos-mesh/blob/master/api/v1alpha1/networkchaos_webhook.go#L88 here

[2022-09-04 13:35] basit9958 commented on #3550
/assign

[2022-09-05 08:30] alekczapski opened #3598 "[Feature] securityContext for controller-manager and dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**
The helm installation fails with an error: "Error: container has runAsNonRoot and image will run as root"

**Describe the feature you'd like:**
The ability to set securityContext for controler-manager and dashboard will allow you to specify a specific user.

**Describe alternatives you've considered:**
I don't k

[2022-09-05 09:29] CaoYunzhou opened #3599 "aliyun-kubernetes-ack-pro Terway network cannot allocate IP. After chaos mesh is applied"
## Bug Report

**What version of Kubernetes are you using?**
kubernetes 1.22.0
containerd: 1.5.10
Terway-CNI: https://help.aliyun.com/document_detail/97467.html

**What version of Chaos Mesh are you using?**
chaos-mesh - v2.3.0

**What did you do?**
helm install chaos-mesh chaos-mesh/chaos-mesh -n chaos-mesh --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/containerd/containe

[2022-09-05 12:43] STRRL commented on #3586
Hi @kishoregv, I could not reproduce the issue  on my local environment, chaos mesh 2.3.0, kubernetes 1.24.3:

I use helm to install Chaos Mesh 2.3.0, then create these resources:

[code]

Then I execute:

[code]

With both plural / singular resource names, I could get the `yes` response.

[2022-09-05 16:19] sandrobonazzola commented on #2567
From a real world point of view: which kind of event can lead to a namespace deletion in a cloud environment? I mean, other than human error, accidentally deleting the namespace by mistake. This doesn't sound like a scenario to be tested under chaos engineering point of view, sounds more like a backup/recovery test case.

[2022-09-06 03:20] fbi007130 opened #3601 "blank page after import yaml/load from archive in experiments page"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**
2.3.0

**What did you do?**
create a new experiment in the experiment page ,click the load from tab,select the experiments from archives .
The yaml of that experiments has been attached below:
`kind: NetworkChaos
apiVersion: chaos-mesh.org/v1alpha1
metadata:
  namespace: idm
  name: kf-delay

[2022-09-06 03:33] STRRL commented on #3599
Do you create `NetworkChaos`(or other Chaos) after installing Chaos Mesh? If you do NOT execute any chaos experiments, chaos mesh would not affect anything in your cluster. 🤔🤔

I prefer to think this issue is NOT related to Chaos Mesh, and there is nothing Chaos Mesh could do because chaos mesh is actually also a pods workloads for Kubernetes Cluster.

Please give us more information if you still

[2022-09-06 08:24] STRRL commented on #2875
closed by #3445

[2022-09-06 08:25] #2875 closed

[2022-09-06 10:05] zjyzju opened #3604 "Error: Specified qdisc not found."
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2", GitCommit:"f66044f4361b9f1f96f0053dd46cb7dce5e990a8", GitTreeState:"clean", BuildDate:"2022-06-15T14:22:29Z", GoVersion:"go1.18.3", Compiler:"gc", Platform:"linux/arm64"}
Kustomize Version: v4.5.4
Server Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.2

[2022-09-06 13:51] STRRL commented on #3604
Please make sure that the kernel module NET_SCH_NETEM is installed.

ref: https://chaos-mesh.org/docs/next/simulate-network-chaos-in-physical-nodes/

[2022-09-06 13:59] STRRL opened #3609 "Update Issue template about bug report and question"
We'd better move the issue with the label `type/question` into GitHub Discussion, it the better place to response as a stackoverflow-like Q&A and could also mark one reply as an answer.

So we should update the issue template, redirect the question to GitHub Discussion

[2022-09-06 14:12] STRRL opened #3610 "Kubernetes 1.25 compatibility"
## Feature Request

Make sure that Chaos Mesh is available on Kubernetes 1.25.

[2022-09-06 15:08] eskuai commented on #3373
Hi !`

As a user, using  chaos-mesh/chaos-mesh:v2.3.1" , if  I apply

[code]
I got a error:

[code]

any help?

[2022-09-06 15:12] vsxen opened #3612 "time faults not work for child processes of the PID 1"
## Bug Report

**What version of Chaos Mesh are you using?**
2.2

**What did you do?**
kubectl create deploy nginx --image=nginx:alpine
then inject time faults for this pod
curl $PODIP
kubectl logs nginx-xxx time in access log has not been changed

**What did you expect to see?**
time in access log has been changed

[2022-09-06 15:33] eskuai opened #3613 "[NetworkChaos] ipset error while flushing ip sets for containerID containerd"
## Bug Report
**What version of Kubernetes are you using?**
[code]
**What version of Chaos Mesh are you using?**
[code]
**What did you do?**
Test a network partition between a nginx an a httpd following [https://medium.com/nerd-for-tech/chaos-engineering-in-kubernetes-using-chaos-mesh-431c1587ef0a](https://medium.com/nerd-for-tech/chaos-engineering-in-kubernetes-using-chaos-mesh-431c1587ef0a)

**W

[2022-09-07 08:10] cwen0 opened #3614 "Unite Json naming formats"
I find chaos mesh using multiple JSON naming formats, such as “xx_xx”, “xx-xx”, “xxxXxx”, This is very ugly, We should unite it.

https://github.com/chaos-mesh/chaos-mesh/blob/3bbc590421b8d96c4ec0b13fa3dea3b2667c1488/api/v1alpha1/physical_machine_chaos_types.go#L738-L768

[2022-09-07 08:35] g1eny0ung commented on #3614
I remember we discussed this problem in the past. We use two formats. One is camelCase, which is to match Kubernetes world. Another is snake_case, which is mainly used in the API server. This situation is mostly used for all responses, whether HTTP or otherwise. We should avoid kebab-case.

[2022-09-07 09:04] STRRL opened #3615 "CI: Check Markdown links is flaky"
We notice that "Check Markdown link" failed a lot in the past several days:

https://github.com/chaos-mesh/chaos-mesh/actions/workflows/checklink.yaml

We should update  this CI:

- only trigger when `*.md` file changes
- enrich the whitelist/ignorelist with some doamin

[2022-09-07 09:12] STRRL commented on #3615
also notice that nearly every PR would update `CHANGELOG.md`

[2022-09-07 09:21] eskuai commented on #3613
Hi !

Solved applying issues/2300 👍

[issues/2300](https://github.com/chaos-mesh/chaos-mesh/issues/2300#issuecomment-919651518
)

#helm uninstall chaos-mesh -n chaos-testing
#helm install chaos-mesh chaos-mesh/chaos-mesh -n=chaos-testing --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/containerd/containerd.sock

I don't understand why...

Tx

[2022-09-07 09:21] #3613 closed

[2022-09-07 09:24] eskuai commented on #3275
Hi!

Can you check ...  solved applying issues/2300 👍

[issues/2300](https://github.com/chaos-mesh/chaos-mesh/issues/2300#issuecomment-919651518
)

``
To solve the problem, you can first uninstall Chaos Mesh using helm uninstall chaos-mesh -n chaos-testing (https://chaos-mesh.org/docs/production-installation-using-helm/#uninstall-chaos-mesh), then reinstall Chaos Mesh by using this command helm in

[2022-09-07 10:48] #3615 closed

[2022-09-07 20:16] jfsmith-at-coveo opened #3618 "Unable to delete stresschaos and networkchaos experiments"
## Bug Report

**What version of Kubernetes are you using?**
1.20

**What version of Chaos Mesh are you using?**
2.3.0

**What did you do?**
I have installed/reinstalled chaos-mesh several times because I was experimenting with it. The main thrust of what I did was the following:
1. Installed it using the install.sh script
2. Made a couple of experiments from the dashboard.
3. Removed it by follow

[2022-09-08 00:24] #3215 closed

[2022-09-08 07:04] zjyzju opened #3619 "Exec format error when run io-latency test on arm platform"
## Bug Report

What version of Kubernetes are you using?
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2", GitCommit:"f66044f4361b9f1f96f0053dd46cb7dce5e990a8", GitTreeState:"clean", BuildDate:"2022-06-15T14:22:29Z", GoVersion:"go1.18.3", Compiler:"gc", Platform:"linux/arm64"}
Kustomize Version: v4.5.4
Server Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2"

[2022-09-08 07:56] zjyzju opened #3620 "com.sun.tools.attach.AgentLoadException when run JVMChaos return test on arm platform"
## Bug Report
What version of Kubernetes are you using?
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2", GitCommit:"f66044f4361b9f1f96f0053dd46cb7dce5e990a8", GitTreeState:"clean", BuildDate:"2022-06-15T14:22:29Z", GoVersion:"go1.18.3", Compiler:"gc", Platform:"linux/arm64"}
Kustomize Version: v4.5.4
Server Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.2",

[2022-09-08 14:35] #3618 closed

[2022-09-11 15:19] rakshitgondwal commented on #2662
Hey @Muscule @STRRL !!
Is this issue still open?

[2022-09-12 03:27] g1eny0ung opened #3623 "Specific `address` info in `selector` when creating `PhysicalMachineChaos`"

[2022-09-13 00:25] #3279 closed

[2022-09-13 07:38] STRRL opened #3625 "still using "prerelease: true" when releasing 2.3.0 and 2.3.1"
I just noticed the annotation for releases 2.3.0 and 2.3.1 on artifact hub are still with "Prerelease":
<img width="348" alt="image" src="https://user-images.githubusercontent.com/20221408/189839988-d82fff1d-ae0c-4455-982d-694c240b0a6b.png">

https://artifacthub.io/packages/helm/chaos-mesh/chaos-mesh

It's not a critical issue but we should fix it with next patch version.

[2022-09-13 07:39] STRRL commented on #3625
That annotation is only used for artifact hub, it would break the `helm install` and `helm upgrade`. : )

[2022-09-13 08:55] STRRL commented on #3610
Chaos Mesh could work on kubernetes 1.25.0 with `chaosDaemon.podSecurityPolicy: false`.

[2022-09-13 12:59] STRRL opened #3627 "CI: more static code analyzer tools"
## Feature Request

**Is your feature request related to a problem? Please describe:**
No.

**Describe the feature you'd like:**

Introduce more static code analyzers to restrict code quality.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-09-13 13:02] STRRL commented on #3532
ref: https://github.com/kubernetes/community/blob/master/github-management/setting-up-cla-check.md

[2022-09-13 13:05] STRRL commented on #3532
Oops, we already setup the DCO, so CLA is not required.

https://github.com/cncf/foundation/blob/main/charter.md#11-ip-policy

[2022-09-13 13:05] #3532 closed

[2022-09-14 00:24] #3287 closed

[2022-09-14 00:24] #3278 closed

[2022-09-14 04:50] rustielin opened #3631 "Multiple concurrent delay & loss NetworkChaos get overridden"
## Bug Report

**What version of Kubernetes are you using?**
1.22
**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"v2.2.0", GitCommit:"22a1cf57398e35da58dd391b79b64f3071e2863b", BuildDate:"2022-04-29T13:15:01Z", GoVersion:"go1.18", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
Applying both `loss` and `delay` types of `NetworkChaos`

[2022-09-14 06:01] #3481 closed

[2022-09-14 12:19] FingerLeader opened #3634 "Two experiment of network latency with externalTargets would not work in one pod"
## Bug Report

**What version of Kubernetes are you using?**
latest

**What version of Chaos Mesh are you using?**
latest
**What did you do?**
Created two experiment of 50ms latency in one pod, and both of them are set the externalTargets.

**What did you expect to see?**
The latency should be 100ms.

**What did you see instead?**
The latency is still 50ms.

I think that's because only the last fi

[2022-09-14 17:17] f4tal-err0r commented on #2697
Also running into this issue. As a workaround im temporarily rewriting this but it is very hacky and suboptimal.

[2022-09-15 02:07] #3375 closed

[2022-09-15 03:43] STRRL opened #3635 "CI: migrating from ti-chi-bot to prow"
## Feature Request

ti-chi-bot is a customized prow bot, which provides many different flavors to push development progress: https://github.com/ti-community-infra/tichi/blob/master/docs/README.md

We are facing several problems with ti-chi-bot:

- uncontrolled configuration: the configuration of ti-chi-bot is stored at https://github.com/ti-community-infra/configs, and none of chaos mesh maintaine

[2022-09-15 03:44] STRRL commented on #3635
What do you think about it? @chaos-mesh/maintainers @chaos-mesh/committers

[2022-09-15 03:53] g1eny0ung commented on #3635
**TL;DR**

I agreed. 🙌🏽

Yep. This is opaque to us. From my perspective, **it was developed only for the purpose of serving TiDB**. In the long run, it's not for us.

Yes. Some of the features are too heavy for us, and I think we should move to learn the Kubernetes and use the OWNER mechanism (which I strongly agree with).

[2022-09-15 04:00] g1eny0ung commented on #3635
@STRRL @cwen0 BTW, there is still another thing I think it's needed to change. Currently, the teams in our org are messy. We need to reorg the active maintainers/committers and remove someone who is not lively from the existing team.

I'm here to request org access to update it. 🙂

[2022-09-15 07:52] g1eny0ung commented on #3635
I have discussed this with @cwen0. The `dev` team will be removed.

[2022-09-15 17:05] #3257 closed

[2022-09-16 00:26] #3306 closed

[2022-09-16 06:59] STRRL commented on #3631
another cases with overlapping situation: https://github.com/chaos-mesh/chaos-mesh/issues/3634

[2022-09-16 10:27] linyongluis opened #3637 "HTTP Chaos can not be injected into pod"
## Bug Report

**What version of Kubernetes are you using?**

Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.7-r0-CCE21.11.1.B007", GitCommit:"72ec45c44d6c2b26d75b3230869f755f1338fcd1", GitTreeState:"clean", BuildDate:"2021-12-02T09:22:30Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**

Controller manager Versi

[2022-09-16 16:59] rustielin commented on #3631
Thanks @STRRL .

Is this the intended behavior? Is this on the roadmap somewhere? This is pretty important for anyone who wishes to emulate internet conditions within their setup (delay + loss + bandwidth limit, etc). Thanks!

[2022-09-17 16:06] kfirfer opened #3639 "Set log level of chaos components"
Hello

Would like to have an option to set the log level (e.g. DEBUG/INFO/WARNING/ERROR)

Thanks!

[2022-09-18 00:03] STRRL commented on #3631
Yes, for now, that's expected behavior, but actually does not make so much sense. 🥲

For more detail, we did NOT aggregate multiple various policy before apply the `tc` rules, all the `loss`, `delay`, `bandwidth` and so on are built based on `tc` so that you could see that the post chaos experiment would overwrite the former one.

Yes, after inject 2 chaos experiments with 50 ms network delay, we

[2022-09-18 00:25] #3307 closed

[2022-09-19 04:05] #3221 closed

[2022-09-19 04:05] #3623 closed

[2022-09-19 06:50] fbi007130 opened #3644 "Nothing happened in oom JVMChaos"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.0", GitCommit:"", GitTreeState:"clean", BuildDate:"2021-08-04T18:03:20Z", GoVersion:"go1.16.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.3", GitCommit:"", GitTreeState:"clean", BuildDate:"2022-02-10T11

[2022-09-19 07:28] fbi007130 commented on #3644
in another pod,some log will show
[code]

[2022-09-19 11:09] STRRL commented on #2662
Yes. Feel free to use `/assign` to self-assign

[2022-09-19 13:19] STRRL opened #3651 "Better observability for Chaos Experiment itself"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. For example, when inject `NetworkChaos` with `action: loss` with 10% percentage, and the application  uses TCP-based network protocol, it nearly makes **nothing** about the application.

But something did happen!

For example, we could use `ping` and `netstat -st` to discover what happens.

**Describe the

[2022-09-19 17:54] rustielin commented on #3631
Thanks for the response @STRRL . Can you list out exactly which rules are built off of `tc` and thus will not be able to use multiple of? From my experimentation, I am able to use both `delay` and `bandwidth` at the same time, but perhaps it's due to a race in the effects overwriting each other.

Also it would be great if this was on the website documentation somewhere as a caveat :)

[2022-09-20 03:00] STRRL commented on #3631
`loss`, `delay`, `duplicate` and `corrupt` could not be overlapped on the same pod by different `NetworkChaos`.

**I just realized that we could use `action: netem` to inject the combination of `loss` and `delay` in one `NetworkChaos` instead of a `loss` NetworkChaos plus one `delay` NetworkChaos.** I think that could resolve your situation. @rustielin

That's great! I would append some messages o

[2022-09-20 08:56] Andrewmatilde commented on #3637
This may related to ipv4 support. HTTP Chaos now only support IPV4 device. If it cannot get the ipv4 from default device , it will raise a panic.

[2022-09-20 08:57] Andrewmatilde commented on #3637
Can you check whether the pod not have a ipv4?

[2022-09-20 09:00] Andrewmatilde commented on #3635
I agreed.

[2022-09-20 11:28] xlgao-zju commented on #3635
agree

[2022-09-20 13:21] STRRL commented on #3651
any suggestion? @xlgao-zju

[2022-09-20 13:25] STRRL commented on #3639
also ref: https://github.com/chaos-mesh/chaos-mesh/issues/2752

[2022-09-20 13:25] YangKeao commented on #3644
`"error": "open /proc/31152/stat: no such file or directory"`

Has this pod restarted? It seems that the process `31152` doesn't exist :thinking:

[2022-09-20 13:35] #3625 closed

[2022-09-20 13:38] STRRL commented on #3619
Sorry, IOChaos does not support ARM now.

[2022-09-20 13:38] #3619 closed

[2022-09-20 16:39] g1eny0ung opened #3656 "Check if OpenAPI changes need to be synced to the API client and forms in the UI"
Ref: #3655.

[2022-09-21 00:28] #3316 closed

[2022-09-21 00:28] #3314 closed

[2022-09-21 00:28] #3286 closed

[2022-09-21 04:03] g1eny0ung commented on #3286
This problem has already been solved. Thanks all.

[2022-09-21 07:53] xlgao-zju commented on #3651
@STRRL

I think the best solution is that we build a platform to watch the metric of the target pod.
for your case , in that platform, we can clearly see the rate of network package loss.
but looks like this is a longterm project.

for now, maybe we can just develop a suit of tools to help end user to observe the experiment affect.

and at last, we can provide a doc to tell end user how to observe

[2022-09-21 08:33] An-egg opened #3659 "When I create a helloworld chaos, it will be displayed immediately after the submission is completed, without pause and other options"
When I create a helloworld chaos, it will be displayed immediately after the submission is completed, without pause and other options
![image](https://user-images.githubusercontent.com/38619876/191456229-cf42a3c7-5358-45f7-b8d9-0abf28541f54.png)

[2022-09-21 12:27] #3577 closed

[2022-09-21 17:48] rakshitgondwal commented on #2662
/assign

[2022-09-21 17:49] rakshitgondwal commented on #2662
hey @STRRL
The translation to this chinese text in English is `Name` right?

[2022-09-22 07:47] STRRL commented on #3627
Actually, I mean CodeQL.

after lgtm.com becomes a part of github, they release the CodeQL.

That's one of the most powerful static code analyzer I have ever seen,  even better than sonarcube and liftbot.

[2022-09-22 17:45] #3598 closed

[2022-09-22 19:05] craig-seeman commented on #3631
@STRRL I hope I am not adding too much extra noise to this issue but I'm curious if a possible solution for this problem could be to add more state tracking on the part of the controller-manager and have it 'remember' what all was ran and where?

This added ability would certainly help with the issues we are having currently with chaos-mesh at scale (new pods do not get experiments assigned to the

[2022-09-22 20:09] memorais opened #3668 "User "system:serviceaccount:chaos-testing:chaos-controller-manager" cannot get resource "leases" in API group "coordination.k8s.io" in the namespace "chaos-testing""
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.20", GitCommit:"1f3e19b7beb1cc0110255668c4238ed63dadb7ad", GitTreeState:"clean", BuildDate:"2021-06-16T12:58:51Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.20", GitCommit:"1f3e19

[2022-09-23 02:54] STRRL commented on #3668
it should use `configmaps` not `configmapsleases` within 2.3.2, let me take a look.

[2022-09-23 03:04] STRRL commented on #3610
we run the e2e tests on kubernetes 1.25, it works well.

[2022-09-23 05:55] fbi007130 opened #3670 "fill-by-fallocate is unable to set as false"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**
2.3.1

**What did you do? / Minimal Reproducible Example**
[code]
or set it in GUI  choose fallocate is false

**What did you expect to see?**

cmd dd is used by the chaosd.

**What did you see instead?**

cmd dd is not used by the chaosd.The direct caused is that fill-by-fallocate had be re

[2022-09-23 09:08] xlgao-zju commented on #3383
I'm going to close this issue, feel free to reopen it.

[2022-09-23 09:08] #3383 closed

[2022-09-23 09:10] Lily2025 opened #3672 "tikv recover will take 60m when cancel injection if setting blockchaos delay to 60m"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do? / Minimal Reproducible Example**

**What did you expect to see?**
    -   name: "one_tikv_io_delay"
        faultType: io_delay(volumeName:tikv,delay:60m)
        selector: "tikv(random)"
        warmUpTime: 10m
        faultDuration: 120m
        recoveryTime: 10m

**Wha

[2022-09-23 09:11] Lily2025 commented on #3672
/assign cwen0

[2022-09-23 23:38] ari-hacks commented on #3442
Hi @STRRL, is this still being worked on? I'd like to pick it up if this issue is open : )

[2022-09-24 02:36] STRRL opened #3673 "CI: skip e2e test if only markdowns or frontend files changed"

[2022-09-26 16:05] Gearheads commented on #3008
Hello, we can close this ticket, because the plugin image has been updated:
- https://github.com/chaos-mesh/k8s_dns_chaos/issues/19
- https://github.com/chaos-mesh/k8s_dns_chaos/commit/c0a3487c8c3e0714bdbc73d7716019f8c2d05c16
- https://github.com/chaos-mesh/k8s_dns_chaos/pkgs/container/chaos-coredns

Thank you to everyone that helped get this resolved. We really appreciate it. 😄

[2022-09-26 16:05] #3008 closed

[2022-09-27 08:48] STRRL commented on #3672
It seems we could resolve this issue by updating the delay to `0` before we call the `del_injection`, cc @YangKeao.

[2022-09-27 10:05] linyongluis opened #3676 "jvm chaos no support Pod contains more containerd"
## Bug Report

**What version of Kubernetes are you using?**

Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.7-r0-CCE21.11.1.B007", GitCommit:"72ec45c44d6c2b26d75b3230869f755f1338fcd1", GitTreeState:"clean", BuildDate:"2021-12-02T09:22:30Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**

Controller manager Versi

[2022-09-27 10:08] linyongluis commented on #3676
Pod contains two container , the first container is consul , the second container is java  application ， but exec jvm chaos injected consul containerd .

[2022-09-27 12:06] STRRL opened #3677 "chaos mesh release 2.3.2 still using `latest` images"
## Bug Report

the image tag of chaos mesh 2.3.2 is wrong

[2022-09-27 12:06] STRRL commented on #3677
ref: https://github.com/chaos-mesh/chaos-mesh/issues/3668

[2022-09-27 12:07] STRRL opened #3678 "chaos mesh 2.4.0 shown as pre-release on artifacthub"
## Bug Report
<img width="329" alt="image" src="https://user-images.githubusercontent.com/20221408/192521237-668c246a-3387-44a4-b354-d1a3b88f5b53.png">

[2022-09-27 12:09] STRRL commented on #3677
oops, that's a mistake, I use `--set image.tag=latest` when I install the chaos mesh.

[2022-09-27 12:09] #3677 closed

[2022-09-27 12:11] STRRL commented on #3668
Hi @memorais, I could only reproduce this issue with `helm install xxxx --set image.tag=latest`, which is not expected.

Please make sure that the image of `chaos-controller-image` is `ghcr.io/chaos-mesh/chaos-mesh:v2.3.2`, not the `latest` image.

[2022-09-27 12:15] STRRL commented on #3678
It should be fixed in 2.4.1

[2022-09-27 12:16] STRRL commented on #3678
And we should add a CI for checking the consistency of semver and pre-release annotations.

[2022-09-28 00:32] #3340 closed

[2022-09-28 00:32] #3341 closed

[2022-09-28 00:32] #3338 closed

[2022-09-29 00:32] #2980 closed

[2022-09-29 04:15] YangKeao commented on #3672
No. It's an engineering problem. The root cause is that for an io request, the `send_time` of it is calculated at very first, so the last request during the injection will still be sent after 60min, and it blocks the tikv-server process.

Recalculating the `send_time` for every requests when the injection has changed can fix this problem, but the code structure could be a little complicated :think

[2022-09-29 13:19] eedjama opened #3680 "io-delay experiment causes restart of cassandra container"
**What version of Kubernetes are you using?**
_Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-18T12:09:25Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"ec2760d6d916781de466541

[2022-09-30 20:03] bsogithub opened #3683 "Failed to apply chaos: rpc error: code = Unknown desc = expected docker:// but got cri-o://3"
## Bug Report

**What version of Kubernetes are you using?**
v1.21.11+31d53a1

**What version of Chaos Mesh are you using?**
2.3.2

**What did you do? / Minimal Reproducible Example**
Chaos-mesh was installed on Openshift 4.8.48 via helm. Two methods were used and both got the same error.
1) helm install chaos-mesh helm/chaos-mesh -n chaos-testing
2) helm install chaos-mesh helm/chaos-mesh -n chao

[2022-10-02 00:31] #2652 closed

[2022-10-03 00:27] #3356 closed

[2022-10-04 07:24] STRRL commented on #3683
If seems that you are using CRI-O as the Kubernetes container runtime.

Please follow the documentation, update the configuration for chaos mesh:

https://chaos-mesh.org/docs/production-installation-using-helm/#step-4-install-chaos-mesh-in-different-environments

[2022-10-04 07:25] STRRL commented on #3678
closed by #3679 and release 2.4.1

[2022-10-04 07:25] #3678 closed

[2022-10-04 07:26] STRRL commented on #3668
I will close this issue as the mismatch configuration for release and docker image tag version.

Feel free to reopen it if you still face this issue.

[2022-10-04 07:26] #3668 closed

[2022-10-04 07:27] #3169 closed

[2022-10-04 07:27] #3610 closed

[2022-10-05 00:32] #2871 closed

[2022-10-05 20:38] Andrewmatilde opened #3686 "Problem caused by GO_BUILD_CACHE"
## Bug Report
This is a BUG in coding.
When we open builded(run make) chaos-mesh as a project in goland (In vscode ,this will also bring some strange problems to block download package auto).
Goland will run about 180+ times go list for file like go.mod.
So why we have only 4 go.mod in project but goland run 180+ times?
This is caused by fault in dev-env/Dockerfile.

[code]

Here we map $(ROOT)/.c

[2022-10-06 03:58] STRRL commented on #3686
I just realized that I had marked the `.cache` as `Excluded`:
<img width="769" alt="image" src="https://user-images.githubusercontent.com/20221408/194210863-59d4b9c3-5401-4d45-8019-7359794dca27.png">

But that configuration would saved in `.idea` folder, which ignored by git

[2022-10-06 04:01] STRRL commented on #3686
maybe we could create a docker volume to store the cache

also cc @YangKeao

[2022-10-06 04:16] STRRL commented on #3631
Hi @craig-seeman , sorry for the late response.

Chaos Mesh has restored some information about the injected Pods as `records` in `<Some>Chaos.Status`, but we have not implemented the "dynamic" part. Because the dynamic logic part might be tricky, and there is no plan to make it in the near future (at least not in the next minor release).

Do you interested help us to make it? Maybe create an RFC

[2022-10-06 06:14] Andrewmatilde commented on #3686
But build with go mod tidy is already cached. I think docker build is usually used in cross building.

[2022-10-07 00:33] #3302 closed

[2022-10-08 05:38] YangKeao commented on #3686
No. Docker build is used on any platform (even linux). I also developed the Chaos Mesh on Linux, and still use the docker build environment. It could solve a lot of problems: e.g. the customized goimport, the locked go version... The benefit of docker image is not to touch the global develop environment.

The replacement of docker image is something like bazel, nix-shell (flakes)...

It's not only

[2022-10-08 06:02] Andrewmatilde commented on #3686
But we cannot develop in global env now. I think this is the main problem. And I will add it.

I know it is for distribute cache in CI. But it is strange of not leaving a way for local cache.

[2022-10-08 06:04] YangKeao commented on #3686
Good. I think it can be done with `IN_DOCKER=1` and some other options :thinking: .

[2022-10-10 11:16] FingerLeader opened #3687 "Uniform json tag format of variable action specs in PhysicalMachineChaos"
Cause our json tag format of variable action specs in PhysicalMachineChaos are mixed of `-`, `_` and  lower camel case, I think we'd better unify the format to make it easier to use PhysicalMachineChaos.
I have two ideas:
1. Use Lower Camel Case Format

2. Use `-`

Both of these two solutions require changes to the chaos mesh and chaosd.
I don't have an obvious inclination, do you have any ideas?

[2022-10-10 20:49] marniks7 commented on #3220
Hi,
We are  interested in different container-runtime support as well.
Not sure that we end-up with different runtimes on purpose, It is what it is.
![image](https://user-images.githubusercontent.com/9289172/194949999-23aae0d7-d8a2-4caa-8bb6-1d31ee5bfee7.png)

[2022-10-11 08:34] AllenZMC opened #3692 "The container name was filled in when IOChaos was created on dashborad, but there was no such field in the generated yaml"
## Bug Report
**What version of Kubernetes are you using?**

1.23
**What version of Chaos Mesh are you using?**

v2.4.1

**What did you do? / Minimal Reproducible Example**

![企业微信截图_ff8b23d4-5b91-4008-a450-3fbc85eb29c0](https://user-images.githubusercontent.com/49428979/195041713-8d66822b-3764-4c8c-9707-6b0105234ba9.png)

**What did you expect to see?**

![image](https://user-images.githubusercon

[2022-10-12 03:17] STRRL commented on #3478
I think https://github.com/chaos-mesh/chaos-mesh/pull/3624 would resolve this issue. The user could see and pick `PhysicalMachine` (which registered with `chaosd`) when creating the PhysicalMachineChaos.

What do you think about it? Could we close this issue? Or should we after this feature be stable? @g1eny0ung

[2022-10-13 00:29] #3382 closed

[2022-10-13 18:47] eddie-knight opened #3696 "Bring CLOMonitor Score to 100%"
Chaos Mesh is signed up as part of the KubeCon [Security Slam](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/attend/experiences/#security-slam), so I grabbed the checklist for this repo from the official [CLOMonitor page for Chaos Mesh](https://clomonitor.io/projects/cncf/chaos-mesh). It refreshes every hour, so this should be up-to-date.

## CLOMonitor report

### Summar

[2022-10-14 00:32] #3393 closed

[2022-10-14 00:32] #3124 closed

[2022-10-14 05:12] STRRL opened #3697 "Append SBOM section in README.md"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes, we want to reach 100% on CLOMonitor.

**Describe the feature you'd like:**

- ~provide SBOM section in README.md~
- automatic attach `.sbom` file to GitHub release, thanks to @g1eny0ung , introduce https://github.com/kubernetes-sigs/bom

**Describe alternatives you've considered:**

- ~automatic attach `.s

[2022-10-15 02:04] g1eny0ung opened #3699 "Set actions permissions to write on demand"

[2022-10-15 02:45] g1eny0ung commented on #3697
I agree to use documentation to explain it. It's easier and more transparency for users.

[2022-10-16 08:31] chaimch opened #3701 "experiments are paused, stopped or archived causing pods to fail to start"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.4-eks-6b7464", GitCommit:"6b746440c04cb81db4426842b4ae65c3f7035e53", GitTreeState:"clean", BuildDate:"2021-03-19T19:35:50Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"21+", GitVersion:"v1.21.14-eks-6d39

[2022-10-18 05:42] #3692 closed

[2022-10-18 13:10] STRRL opened #3706 "CI: Upload Image is broken"
## Bug Report

It seems that this CI has been broken for a while.

https://github.com/chaos-mesh/chaos-mesh/actions/workflows/upload_image.yml

It failed to build chaos-kernel, and the error message is not clear. 🥲

[2022-10-18 13:31] STRRL commented on #3706
When I try to compile it on my local machine, it failed with downloading zlib 1.2.12.

[2022-10-18 13:34] STRRL commented on #3706
/cc @cwen0 @ethercflow

[2022-10-18 14:29] Andrewmatilde commented on #3701
It seems a network layer problem in HTTP Chaos. Can you share your kubernetes info & linux kernel version?

[2022-10-18 14:31] Andrewmatilde commented on #3701
It will also be appreciated if you can provide the log of chaos-daemon.

[2022-10-18 14:53] g1eny0ung commented on #3696
Hi @eddie-knight, thanks for the follow-up. We have almost finished the rest of the tasks, but there is a problem with **signed releases**. In the past time, we haven't uploaded our components or binaries to the release, all of them were distributed as images (published to ghcr).

In the future, we may upload our CLI tool (chaosctl) to the release. The reason why we didn't upload it in the past is

[2022-10-18 14:55] STRRL opened #3707 "CI: "Integration Test" keeps failing on AMD64"
## Bug Report

I noticed that the integration test keeps failing on AMD64:

https://github.com/chaos-mesh/chaos-mesh/actions/workflows/integration_test.yml

Still did not figure out the reason.

[2022-10-19 03:27] g1eny0ung commented on #3697
Found a tool that can help us to generate sbom! https://github.com/kubernetes-sigs/bom

[2022-10-19 03:28] g1eny0ung commented on #3697
I've already uploaded the sbom of the last release to https://github.com/chaos-mesh/chaos-mesh/releases/tag/v2.4.1.

[2022-10-19 03:28] #3697 closed

[2022-10-19 03:30] g1eny0ung commented on #3696
The SBOM of the last release: https://github.com/chaos-mesh/chaos-mesh/releases/tag/v2.4.1.

[2022-10-19 07:40] #3699 closed

[2022-10-19 08:33] g1eny0ung commented on #3696
Also with all signatures.

[2022-10-19 11:29] #3706 closed, assigned to nobody

[2022-10-21 03:05] g1eny0ung commented on #3696
@eddie-knight I test in my local with the `scorecard` build from the main branch. The token checks have been passed! Thanks for improving. 🐝

![image](https://user-images.githubusercontent.com/15034155/197101733-be42bc06-3bd5-4a14-9ec3-4493318fde2d.png)

[2022-10-21 08:05] daydayupyjw opened #3712 "Failed to create StressChaos on a kubernetes cluster using containerd"
## Bug Report

**What version of Kubernetes are you using?**

v1.24.6
**What version of Chaos Mesh are you using?**

v2.4.1
**What did you do? / Minimal Reproducible Example**

Follow the instructions to create a StrssChaos
**What did you expect to see?**
Experiment has started
**What did you see instead?**
Failed to apply chaos: rpc error: code = Unknown desc = expected docker:// but got containe

[2022-10-21 09:19] veloting opened #3713 "could not sync dependencies of chaos-mesh library"
## Bug Report
**What did you do? / Minimal Reproducible Example**
I created a project myself, using the example from the link below,I get an error when I sync dependencies

https://chaos-mesh.org/docs/add-new-chaos-experiment-type/#step-3-register-the-event-handler-for-this-chaos-object

**What did you expect to see?**
sync ok

**What did you see instead?**
github.com/chaos-mesh/chaos-mesh/control

[2022-10-21 11:20] eddie-knight commented on #3696
Great work @g1eny0ung & @STRRL 👏 👏 👏

[2022-10-21 11:20] #3696 closed

[2022-10-21 12:00] g1eny0ung commented on #3696
@eddie-knight Seems there has some network error, the CLOMonitor does not update as expected. 🤔

<img width="862" alt="image" src="https://user-images.githubusercontent.com/15034155/197190965-4d59edf7-05f4-4c23-a659-ba641bda7119.png">