[2020-10-21 04:18] #953 closed

[2020-10-21 04:18] g1eny0ung commented on #823
🚀 The website was moved to https://github.com/chaos-mesh/website!  Please submit subsequent changes at the new repo.

I will close this issue for now and if there have any questions, feel free to reopen it.

[2020-10-21 04:18] #823 closed

[2020-10-21 04:26] g1eny0ung commented on #1083
@Colstuwjx For now you can run `UI=1 make chaos-dashboard` and then exec it with `./bin/chaos-dashboard`.

And also, this error has already fixed in #1029 (https://github.com/chaos-mesh/chaos-mesh/pull/1029/files#diff-fb9f8e8a65e63ef4cf1e15404b8bc0aa9d3694209d9ba484984f6a78f2207b64R29).

We will speed up the review process to fix this problem.

[2020-10-21 08:04] g1eny0ung commented on #1087
Refer to https://pkg.go.dev/syscall#SysProcAttr.

Seems if we want to develop on the native macOS env, it's needed to wrap the `bpm` with a common system interface.

For now, it's only can make everything right by building using VM, like docker for mac. But for `make check` in development, just comment this line and rerun again.

[2020-10-22 08:40] WangXiangUSTC opened #1091 "chaos-daemon support run with non-root user"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now, chaos-daemon runs with root user as default, the permissions are too high that some users want to limit it.

**Describe the feature you'd like:**

chaos daemon support run with a non-root user, and add a config for it, user can choose run with root or non-root user.

[2020-10-22 08:46] WangXiangUSTC opened #1092 "dashboard support authority management"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Chaos can be created and deleted by anyone who has access to the dashboard, and the authority of dashboard is very high, it means the Dashboard is a big security hazard.

**Describe the feature you'd like:**

The dashboard should support authority management, login by service account and token created by k8s. A

[2020-10-22 08:48] WangXiangUSTC commented on #1081
https://chaos-mesh.org/docs/0.9.1/user_guides/iochaos_experiment/#admission-controller
It is caused by the admission controller, please take a look and check it.

[2020-10-22 09:02] WangXiangUSTC commented on #1079
fixed in #1080

[2020-10-22 09:02] #1079 closed

[2020-10-23 08:49] FischlerA opened #1095 "Dashboard Pod crashes after deployment of StressChaos/TimeChaos Experiments"
## Bug Report

**What version of Kubernetes are you using?**
AWS EKS 1.18

**What did you do?**
I installed Chaos-Mesh using the[ helm Chart ]( https://github.com/chaos-mesh/chaos-mesh/tree/master/helm/chaos-mesh
) for the installation. After successful installation of the ChaosMesh everything is working fine when deploying e.g. PodChaos Experiments.
As soon as i deploy either TimeChaos or StressC

[2020-10-23 09:53] cwen0 commented on #1095
@FischlerA Thanks for your report, this is a bug in the master branch. The release version doesn't have this issue. If you are in a hurry, you can install v1.0.1 first and we will fix it ASAP.

[2020-10-23 11:08] FischlerA commented on #1095
@cwen0 i justed installed the release version 1.0.1 and it works!
Thank you so much for the fast reply.

[2020-10-23 11:20] cwen0 commented on #1095
@FischlerA I will reopen this issue because we have not fixed it in the master branch.

[2020-10-23 11:23] FischlerA commented on #1095
Sorry! My bad.

[2020-10-23 12:32] bznein opened #1096 "Changes to chaos are not reflected / documentation is not clear?"
## Bug Report

**What version of Kubernetes are you using?**
[code]
**What did you do?**
Followed the tutorial under https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos to develop a simple `helloworld` chaos. Managed to run it and see `Hello World` in the logs.
 Then uninstalled chaos-mesh, modified`/controllers/helloworldchaos/endpoint.go`'s `Apply` function to print a different lo

[2020-10-23 13:37] zhouqiang-cl commented on #1096
@cwen0 PTAL

[2020-10-23 13:50] cwen0 commented on #1096
@bznein Can you check if the chaos mesh image used is the latest version that you build just now?

[2020-10-23 13:51] YangKeao commented on #1096
I think the problem is caused by the `IfNotPresent` in `helm/chaos-mesh/values.yaml`. You could modify it to `Always` and so that kubernetes will always download the newest version from the `localhost` registry.

[2020-10-23 13:55] YangKeao commented on #1096
@cwen0 How should we avoid any modification on `values.yaml` during the development? Do you think `Always` is a good idea here?

To be honest, as a single node minikube user, I only need to run `eval $(minikube docker-env)` and then `make DOCKER_REGISTRY="" image`, so I haven't faced this problem :smile:  .

[2020-10-23 13:57] bznein commented on #1096
@YangKeao yes! thank you! That was exactly the problem!

I would close the issue but I see you tagged your teammate, so I'll leave it open for your discussion but feel free to close whenever you want :)

[2020-10-23 13:58] cwen0 commented on #1096
@YangKeao Maybe we can omit `imagePullPolicy`. If we did not set it, `the default pull policy is IfNotPresent. In addition, omit the imagePullPolicy and use :latest as the tag for the image to use,  the image will be pull force.

[2020-10-23 14:04] cwen0 commented on #1096
I don't think `Always` is a good idea. Because when the user had pulled the image to their node, and then they can't access the docker registry. Some pods will fail to be restart because of the `Errpullimage`.

[2020-10-23 14:19] YangKeao commented on #1096
@cwen0 I mean in `master` branch. I agree with you that omit the policy is great, which will be `Always` for `:latest` and will be `IfNotPresent` for other tags :laughing:

[2020-10-23 15:39] blencoff commented on #918
@sbhaita
I've faced with the same issue
[code]
Solution with clean up has solved the problem, there was an old `mutatingwebhookconfiguration` that had prevents to create any experiment.

[2020-10-23 16:45] bznein opened #1098 "Chaos Dashboard crashes if a custom defined chaos is deployed"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
Followed the guide at https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos but changed the `make` command to `UI=1 make` and the  `helm install` part to add `--set dashboard.create=true`

Enable port-forward and opened `localhost:2333`

**What did you expect to see?**
The chaos dashboard correct

[2020-10-23 17:17] YangKeao commented on #1098
Yes. There is still a lot of work to do before a custom defined chaos can be operated/viewed on dashboard (and there is no document about it 😿  ).

But at least it shouldn't crash 💢 . @fewdan Can you help to fix the crash ? ( if it's not too much trouble. )

[2020-10-23 17:53] bznein commented on #1098
Thanks for the quick reply! I might help and submit a PR to avoid the
crash, if you want.
We might discuss what would be the best behaviour

On Fri, 23 Oct 2020, 18:18 YangKeao, <notifications@github.com> wrote:

[2020-10-23 18:01] yeya24 commented on #1098
The log is expected and I don't see a crash. ZapLogger prints out the whole stack when there is an error.

As @YangKeao said, the document is not complete about how to use new chaos in the dashboard.

[2020-10-23 18:03] bznein commented on #1098
@yeya24 I'll come back with more details in the next days, bit I can tell you for now that the chaos dashboard pod goes into error state and the dashboard is not usable.

[2020-10-23 18:08] yeya24 commented on #1098
Thanks. More details and logs would be better. There might be some other error that happens at the same time and cause the real crash.

[2020-10-23 20:09] #1095 closed

[2020-10-25 08:06] bviswana101 opened #1099 "Support for Node failures"
Request a NodeChaos which can generate faults on Nodes

There is a need for High availability testing, where nodes matching a certain criteria (e.g., in same Availability Zone, say datacenter) fail. Services running in a multi-zone cluster should be unaffected (or have reduced impact).

[2020-10-25 15:13] zhouqiang-cl commented on #1099
I think we need such kind of Chaos

[2020-10-26 00:59] #801 closed

[2020-10-26 03:13] YangKeao commented on #1099
Injecting chaos on Node is really cool (but dangerous) 😈️. It a node loses the connection with the cluster, the `chaos-daemon` on it will also lose connection to `controller-manager` in Chaos Mesh.

[2020-10-26 10:17] WangXiangUSTC opened #1101 "chaos daemon run with privileged = false"
## Feature Request

**Is your feature request related to a problem? Please describe:**

now we will run chaos daemon with `privileged=true`, all capabilities will be added when privileged is true. Some users think we should limit the authority.

**Describe the feature you'd like:**

set `privileged=false`, and add some capabilities we really need.

[2020-10-26 15:19] bviswana101 opened #1102 "Enhanced Selector support"
## Feature Request

**Is your feature request related to a problem? Please describe:**
A cluster has multiple apps defined, i need a rich selector support to identify my apps in an experiment. D

**Describe the feature you'd like:**
The selector expression needs to be more expressive to help select the pods to inject failures on

1. k8s supports = and !=, but currently there is no support for nega

[2020-10-27 00:59] #803 closed

[2020-10-27 05:51] YangKeao commented on #1101
`privileged=true` will not only grant all capabilities to the container, but it also maps all `/dev` folder into the container. As described in [issue](https://github.com/kubernetes/kubernetes/issues/5607), kubernetes doesn't provide a way to map only one device into the container without running container in privileged mode.

However, map `/dev/fuse` into the container is required by IOChaos.

[2020-10-27 09:11] bznein commented on #1098
Of course, as I tried to reproduce it today, everything worked like a charm :)

Will close the issue and open a new one if things go wrong again, thanks!

[2020-10-27 09:12] #1098 closed

[2020-10-27 14:23] torblerone commented on #1092
Is there already a rough date for the feature? I would like to use Chaos Mesh in the company I work for, but access control is a **critical feature** for cross-team use and distribution of authorizations, e.g. for defining experiments on certain namespaces for specific users.

The granularity of the authorizations could optimally be mapped to the various activities that can be used with Chaos Mesh

[2020-10-27 14:50] WangXiangUSTC commented on #1092
You can look the proposal for details https://github.com/chaos-mesh/rfcs/blob/main/text/2020-10-22-authn-and-authz-on-chaos-dashboard. We plan to implement this feature next month.

[2020-10-27 14:52] WangXiangUSTC commented on #1092
You can comment in this issue if have any question @torblerone

[2020-10-28 03:26] YangKeao commented on #847
I believe it has been fixed in recent release. If you have more questions about this issue feel free to reopen it :smile:

[2020-10-28 03:26] #847 closed

[2020-10-28 03:52] STRRL opened #1107 "chaos-dashboard could not play well with namespace scoped deployment"
## Bug Report

After https://github.com/chaos-mesh/chaos-mesh/pull/971, chaos-controller-manager could work with rbac restriction.

Sin this PR did not contain any modification about chaos-dashboard, chaos-dashboard is unusable with namespace scoped mode.

Chaos dashboard prints many logs about "forbidden" about resources.

https://pastebin.ubuntu.com/p/GwbzjZTZq8/

We should add a flag on chaos-d

[2020-10-28 06:37] torblerone commented on #1092
Many Thanks @WangXiangUSTC ! It is nice to see that you are thinking and developing in this direction too. As I said before, it would be great if you could distribute role permissions in a very fine-grained manner. I'm thinking of permissions for certain types of chaos, namespaces, maybe even services. But that shouldn't downplay your state of affairs, you have orientated yourself very well to CN

[2020-10-28 07:38] player0130 commented on #242
@zhouqiang-cl
Is Chaos Mesh working on the ARM platform fine?

[2020-10-28 07:59] zhouqiang-cl commented on #242
@player0130
Hi, we did not test on ARM these days, We think it is fine for most Chaos if kernernetes can run on the ARM(expect kernel chaos and iochaos)
Could you have a try? If there are any issue, feel free to file an issue and we will fix it ASAP

[2020-10-28 08:50] tclidi commented on #242
@zhouqiang-cl
Hi,I am facing some problems on installing Chaos Mesh

I'm running  a Kubernetes cluster on the Raspberry Pi (4B 8G).

Here is my `uname -a` info
OS:Linux k8s-master 5.4.51-v7l+ #1333 SMP Mon Aug 10 16:51:40 BST 2020 armv7l GNU/Linux

 here is my installation error log:

[code]

[code]

any idea about how can i fix it?

[2020-10-28 08:57] STRRL opened #1108 "Unexpected namespace via "Load From Archives" during create new experiment"
## Bug Report

When creates new experiment via "Load From Archives", it gives an unexpected namespace selector in step 2.

**What did you do?**

- Click "NEW EXPERIMENT"
- Choose one option in "Load From Archives"
- It looks right in step 1:
![image](https://user-images.githubusercontent.com/20221408/97413690-0bb4d800-193e-11eb-9c38-9742d0084a1d.png)
- Click "NEXT"

**What did you expect to see?**

[2020-10-28 09:15] zhouqiang-cl commented on #242
@YangKeao @cwen0 PTAL

[2020-10-29 01:00] #391 closed

[2020-10-29 02:26] zhouqiang-cl commented on #242
@tclidi   @YangKeao will trying to build a image for ARM

[2020-10-29 09:09] WangXiangUSTC commented on #1092
The permissions depend on what can do with the service account, the dashboard will not manage the authority.
This feature is in developing, you can see https://github.com/chaos-mesh/chaos-mesh/pull/1112.

[2020-10-29 10:18] fewdan opened #1114 "pod record repeated"
## Bug Report

When i exec network chaos, it seems that the pod records repeated.

![image](https://user-images.githubusercontent.com/16437100/97555232-d201d100-1a12-11eb-939f-d270ad18c1d3.png)

[2020-10-29 11:14] torblerone opened #1115 "Download existing / running experiments YML"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I have difficulty explaining to my colleagues how Chaos Experiments are structured as YML in Chaos Mesh. Since you can import experiments directly as YML when creating them on the dashboard, we would like to create our own examples. These should be able to be derived from running and functioning experiments acco

[2020-10-29 12:11] torblerone opened #1116 "Dashboard timeline show events"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I am having trouble seeing the individual events in the timeline of an experiment. I have to click through each event and find out the affected pods etc. by hand.

**Describe the feature you'd like:**
I would like a feature to be able to see not only the duration of an experiment but also the individual events i

[2020-10-29 12:28] fewdan commented on #1115
Thank you for your suggestion, we will consider it.

[2020-10-29 12:28] fewdan commented on #1116
Thank you for your suggestion, we will consider it.

[2020-10-30 02:30] lcwus2 opened #1120 "Network experiments can't run in public cloud cluster"
## Bug Report

**What version of Kubernetes are you using?**

v1.17.4

**What did you do?**

I want to run network experiment, but it reported `admission webhook "vpodnetworkchaos.kb.io" denied the request: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 10.23.1.206:31767: connect: connection refused"`

I see the same problem in FAQs, but my c

[2020-10-30 02:38] cwen0 commented on #1120
@lcwus2 If you installed chaos mesh by `install.sh`, you can use `install.sh  --host-network` to upgrade it. If you used helm to install chaos mesh, you can set `hostNetwork` in `values.yaml` and run `helm upgrade chaos-mesh chaos-mesh/chaos-mesh --namespace=chaos-testing -f values.yaml` to upgrade chaos mesh.

[2020-10-30 06:28] g1eny0ung commented on #1116
@torblerone If I understand correctly, the single experiment detail page contains a timeline that tracked its own events.

[2020-10-31 06:47] zhouqiang-cl opened #1121 "Go get chaos-mesh report `k8s.io/kube-aggregator@v0.0.0` 404 not found"
`go get` this project report `k8s.io/kube-aggregator@v0.0.0` report 404, how to solve it?

from: https://github.com/chaos-mesh/chaos-mesh/commit/0d206dfd19fff72fa1183d6b2b06ef26528c8d19#commitcomment-43748783

----
请教一个问题哈，我的项目想引用这个项目，go get这个项目的时候提示k8s.io/kube-aggregator@v0.0.0 这个依赖404呢，请问要怎么解决呢

[2020-10-31 06:48] zhouqiang-cl commented on #1121
/cc @LM-LM

[2020-11-01 07:56] LM-LM commented on #1121
不好意思 我没有懂

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "chaos-mesh/chaos-mesh"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年10月31日(星期六) 下午2:48
收件人:&nbsp;"chaos-mesh/chaos-mesh"<chaos

[2020-11-01 12:08] fewdan commented on #1121
@LM-LM
I haven't reproduced it, maybe you can refer to this [method](https://blog.csdn.net/weixin_44102363/article/details/103374538) ?

[2020-11-01 12:22] zhouqiang-cl commented on #1121
I just create an issue to record the original question, then it can be more easily be found by others.

[2020-11-02 03:39] Gallardot opened #1124 "`make check` fail on Mac system"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

I want to create a PR. Before this, I execute `make check` on mac system.

**What did you expect to see?**

No Error

**What did you see instead?**

We got error log

[code]

I found the reason that from go src/syscall/exec_linux.go
[code]

I will fix it ASAP.

[2020-11-02 06:38] #1101 closed

[2020-11-02 07:50] #1107 closed

[2020-11-02 08:30] zhouqiang-cl commented on #1124
After the PR merged, I test it report
[code]

[2020-11-02 08:47] YangKeao commented on #1124
Oops... It's brought by #1109. I will fix it right now.

[2020-11-02 09:17] #1124 closed

[2020-11-02 09:27] adamzhoul commented on #1121
` go get github.com/chaos-mesh/chaos-mesh

go: downloading github.com/chaos-mesh/chaos-mesh v1.0.1
go: github.com/chaos-mesh/chaos-mesh upgrade => v1.0.1
go get: github.com/chaos-mesh/chaos-mesh@v1.0.1 requires
	k8s.io/kube-aggregator@v0.0.0: reading https://goproxy.cn/k8s.io/kube-aggregator/@v/v0.0.0.mod: 404 Not Found
	server response: not found: k8s.io/kube-aggregator@v0.0.0: invalid version: u

[2020-11-02 09:27] WangXiangUSTC commented on #1087
fixed in https://github.com/chaos-mesh/chaos-mesh/pull/1125

[2020-11-02 09:27] #1087 closed

[2020-11-02 09:30] WangXiangUSTC commented on #1091
this issue is frozen because the emand is not clear

[2020-11-02 09:30] #1091 closed

[2020-11-02 10:09] YangKeao commented on #1121
It seems to be an issue from `goproxy.cn`. You can file an issue on [goproxy/goproxy.cn](https://github.com/goproxy/goproxy.cn/issues)

BTW, `go get github.com/chaos-mesh/chaos-mesh` is not suggested. If you want to build `chaos-mesh`, `make image` is the best way.

[2020-11-02 10:25] jasonstack opened #1132 "admission webhook "vpodnetworkchaos.kb.io" denied the request: rpc error: code = Unknown desc = expected docker:// but got container"
## Bug Report

**What version of Kubernetes are you using?**
* Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:41:02Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}
* Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.1", GitCommit:"206bcad

[2020-11-02 10:28] adamzhoul commented on #1121
got it, thanks

[2020-11-02 11:15] cwen0 commented on #1132
If you run chaos mesh in kind or use containerd runtime. you need run the following command to upgrade chaos mesh

[code]

[2020-11-02 13:07] gotoworld opened #1134 "with StressChaos Experiment, an error occurred: rpc error: code = Unavailable desc = connection closed"
## Bug Report

**What version of Kubernetes are you using?**
Kubernetes V1.18

**What did you do?**
Try to do stresschoas experiment, but what i got as below.
"an error occurred: rpc error: code = Unavailable desc = connection closed"

the stresschaos.yaml
[code]

**What did you expect to see?**

it working with the Pod cpu is burning

**What did you see instead?**
![image](https://user-images.git

[2020-11-02 13:07] gotoworld commented on #1134
other experiment, like pod-kill , pod-failure is working

[2020-11-02 13:45] jasonstack commented on #1132
thanks @cwen0, it worked

[2020-11-02 13:45] #1132 closed

[2020-11-03 03:24] YangKeao opened #1136 "refine e2e tests codebase"
Now, all e2e tests are in `/test/e2e/chaos/basic.go`. This file has 2044 lines and a lot of functions. I have to say it's too complicated.

Try to split it into multiple files :smiling_imp:

[2020-11-03 03:29] YangKeao opened #1137 "enrich e2e tests"
Still, some kinds of chaos lack e2e tests, such as `StressChaos`. Now, there are more developers coding for `chaos-mesh`, so that I think it's time to enrich the tests.

If you want to take up this issue, please help to write down a TODO list for e2e tests before coding. And #1136 has priority over this issue.

[2020-11-03 06:11] cwen0 commented on #1121
@zhouqiang-cl @adamzhoul closing as a fixed issue but please feel free to reopen if needed. Thanks!

[2020-11-03 06:11] #1121 closed

[2020-11-03 06:16] cwen0 commented on #1134
@gotoworld Can you provide the controller-manager log? From this error message, I guess that controller-manager can't access to chaos-daemon component. This [FAQ](https://chaos-mesh.org/docs/faqs#q-i-have-deployed-chaos-mesh-and-created-podchaos-experiments-successfully-but-i-still-failed-in-creating-networkchaostimechaos-experiment-the-log-is-shown-below) may be useful for this issue.  In additio

[2020-11-03 06:17] cwen0 commented on #1120
@lcwus2 Have you fix this issue?

[2020-11-03 09:31] gotoworld commented on #1134
@cwen0 thx, and the controller-manager log as below

[code]

[2020-11-03 09:53] cwen0 commented on #1134
@gotoworld Can you check if the chaos-daemon run on node `172.19.1.111` receives the requirements from the controller-manager?

[2020-11-03 11:35] fewdan commented on #1134
@cwen0 This error message is returned from the execution of various chaos. If we want to modify it, we may need to plan all errors in the entire project.

[2020-11-03 11:55] #1114 closed

[2020-11-04 02:18] #1108 closed

[2020-11-04 02:22] gotoworld commented on #1134
the logs for chaos-daemon run on node `172.19.1.111` as follow, when a failure burn cpu chaos experiment is occurred, but there is no corresponse log showing.

or may u pls tell me how to debug the chaos-daemon, or  i can give u my pc remote controll like sunlogin.oray.com .

------------
[code]

[2020-11-04 18:54] #1000 closed

[2020-11-04 18:57] #1027 closed

[2020-11-04 19:05] mikechengwei commented on #1047
/assign

[2020-11-05 03:11] lcwus2 commented on #1120
curl -sSL https://mirrors.chaos-mesh.org/v1.0.1/install.sh --host-network | bash
curl: option --host-network: is unknown
curl: try 'curl --help' or 'curl --manual' for more information

[2020-11-05 03:23] cwen0 commented on #1120
@lcwus2 `curl -sSL https://mirrors.chaos-mesh.org/v1.0.1/install.sh | bash -s -- --host-network`

[2020-11-05 05:32] lcwus2 commented on #1120
thanks, it works @cwen0

[2020-11-05 05:32] #1120 closed

[2020-11-05 07:24] g1eny0ung opened #1143 "Add new API: fetch all available node selectors"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For now, the dashboard can't set node selectors in the process of creating an experiment. We need to add an API to fetch all available node selectors.

And it also needs to be used in `/common/pods`.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentati

[2020-11-05 07:36] phantooom commented on #1099
good idea.

[2020-11-05 08:20] phantooom opened #1145 "kind install failed"
## Bug Report

**What version of Kubernetes are you using?**
1.19.2

**What did you do?**

curl -sSL https://mirrors.chaos-mesh.org/v1.0.1/install.sh | bash -s -- --local kind

**What did you expect to see?**
install successed

**What did you see instead?**

[code]

[2020-11-06 00:38] #833 closed

[2020-11-06 05:42] cwen0 commented on #1145
@phantooom Can you check if your `kind` tool works normally?

[2020-11-06 08:58] STRRL opened #1153 "chaos-dashboard: could not re-submit after failed to submit a chaos experiment"
## Bug Report
After user failed to submit a chaos experiment, user could click previous steps to reconfiguration chaos, but could not re-submit anymore (SUBMIT button is gray).

**What did you do?**

- create a new chaos experiment, operating on step 1 and step 2 as usual.
- At step 3, choose NetworkChaos; Set action as Delay, set Latency as an invalid value (this will cause a failure while submit

[2020-11-06 09:17] Colstuwjx opened #1154 "e2e test should support run partial testcase"
## Feature Request

**Is your feature request related to a problem? Please describe:**

From the experience of k/k repo, e2e test has always been an unstable part, especially while some PRs make some of the test cases broken. In order to make such thing don't block the other PRs' CI, we should support running specific e2e test case, rather than all test cases. On the other hand, running all the CI

[2020-11-06 09:41] STRRL commented on #1154
Thanks for your suggestion. We are working on making us e2e test easier.

You could run e2e tests on your own machine, like:

[code]

This script only needs docker. It will build all necessary images before e2e test execution.

[2020-11-06 10:12] Colstuwjx commented on #1154
Yes, but we still need to support such instruction with our CI robot, from now, if we want to run e2e test within a PR, the only thing we could do is that type `/run-e2e-tests` without any arguments, and each run may cost more than 20 minutes!

In a word, I hope we could support sth like `/run-e2e-tests Network` or `/run-e2e-tests PodKill` for our CI robot, to run specific test case.

[2020-11-06 11:31] e06084 opened #1156 "Could IOChaos support container level selection rule"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In my experiment, the target pod has multi-containers (say c1, c2, c3 etc...). I want inject the IOchaos to the specific container like c3. However, now IOchaos doesn't have the selection rule in container level.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability

[2020-11-07 08:02] gotoworld commented on #1134
still suffering this issue.
![image](https://user-images.githubusercontent.com/8605471/98436015-a7023600-2112-11eb-809b-7cfe619e297b.png)

[2020-11-07 09:21] STRRL commented on #1134
Hi @gotoworld , what kind of network do you use in your kubernetes cluster?

The pod called `chaos-controller-manager` need communicate to the pod called `chaos-daemon` which using hostNetwork.

If your network model could not support network traffic between pod and node directly (such as a from 10.61.0.65 to 172.19.133.17), it might cause this issue.

[2020-11-09 02:15] andrewrong opened #1157 "Why Iochaos is invalid?"
## Question

Before asking a question, make sure you have:
- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-m

[2020-11-09 03:10] YangKeao commented on #884
still valid

I believe plugin or any integration mechanism is really important for Chaos Mesh to build a chaos ecosystem.

[2020-11-09 08:11] gotoworld commented on #1134
---

@STRRL  Thanks a lot

1、Yes, the network between POD and Node is connected, addressable.

2、We use a  kubernetes cluster provided by Cloud vendors, like TKE from Tencent,  and the network in cluster is global  addressable, which is POD ip, Node ip, SVC ip is connected.

3、follow with ping testing screenshot
![image](https://user-images.githubusercontent.com/8605471/98515577-2ecc7980-22a6-11eb

[2020-11-09 08:41] STRRL commented on #1134
Hi @gotoworld , is there any firewall rule or NetworkPolicy that might block the TCP connection?

You could have a try:
- `kubectl -n XXX exec -ti chaos-controller-manager-XXX  -- sh`
- `nc -v [IP of Node which runs chaos-daemon, seems 172.19.133.17] [chaos-daemon hostPort, default 31767]`

If connection could establish, its output like that:

[code]
otherwise:

[code]

[2020-11-10 12:21] #1048 closed

[2020-11-11 00:32] #852 closed

[2020-11-11 06:51] #1156 closed

[2020-11-11 08:22] gotoworld commented on #1134
Hi @STRRL , as we can see,  the connect is working.

[code]

[2020-11-12 06:11] leafsax opened #1170 "Is NetworkChaos supporting amazonlinux?"
## Question
Does network chaos injecting delays and network loss apply to amazonlinux?

I am using a EKS cluster, and trying to play with the NetworkChaos feature from this doc: https://chaos-mesh.org/docs/user_guides/run_chaos_experiment

I could not see network delays from the graph.

I tried another way to use network loss in my other deployments and it seems the network loss will make it invis

[2020-11-12 17:42] leafsax commented on #1170
This same experiment is working from local minikube cluster while not working in AWS EKS.

[2020-11-12 20:02] nunziox commented on #688
Hi,

I have seen you merged the change, is this solved ?
I am asking because this issue is still open.

[2020-11-13 01:42] gotoworld opened #1173 "what's the different between PodKillExperiment and PodFailureExperiments, since PodFailureExperiments will quickly cause Pod Killed and restarted."
## Question

what's the different between PodKillExperiment and PodFailureExperiments,
since PodFailureExperiments will quickly cause Pod Kill and restart.

As the Pod Failure experiment define, it's this will duration a monent, but actually what we encouter is the Pod be killed and restart as soon as quickly.

and attach with screenshot
![image](https://user-images.githubusercontent.com/8605471/9

[2020-11-13 01:45] gotoworld commented on #1173
following with the pod failure experiment yaml

[code]

[2020-11-13 02:17] cwen0 commented on #1173
@gotoworld I think `30s` may be too short, you can try a longer time.

[2020-11-13 03:18] YangKeao commented on #688
@nunziox Yes. I have tested that NetworkChaos can work on GKE with the default configuration. Will you try again? I'm waiting for your confirmation 😸

[2020-11-13 03:37] #1157 closed

[2020-11-13 03:47] YangKeao commented on #1170
Oops. We haven't tested on AWS EKS 😭 . I think in the near future we will test on it. Could you help to run `zcat /proc/config.gz|grep NETEM` and `zcat /proc/config.gz|grep CLS` to show related kernel configs? It would help us a lot to locate the problem 🤝

[2020-11-13 07:00] gotoworld commented on #1173
@cwen0  thanks.

when i update the duration from 30s to 600s , seem it's working.

any another question, whether the ErrImagePull error is mocked by the chaosMesh, When do PodFailureExpirement.

![image](https://user-images.githubusercontent.com/8605471/99038764-018f0c80-25c1-11eb-8b21-5fda3a57d89c.png)

[2020-11-13 07:07] cwen0 commented on #1173
Yes, It is mocked by chaos mesh. When do PodFailureExpirement, chaos mesh will update the pod object with a fack image.

[2020-11-13 07:43] YangKeao commented on #1078
@cwen0 Do you know the reason?

[2020-11-13 07:52] gotoworld commented on #1173
@cwen0 Thanks a lot.

BTW, i wonder whether ErrImagePull is the only case for PodFailureExpirement, since i have never encounter another Pod Failure Error.

![image](https://user-images.githubusercontent.com/8605471/99042739-3c487300-25c8-11eb-88ef-7fc62e85270e.png)

[2020-11-13 08:31] cwen0 commented on #1173
@gotoworld  Chaos Mesh doesn't support setting fault types for PodFailureExpirement at present. Chaos Mesh uses `gcr.io/google-containers/pause:latest` as the fake image, If can't pull this image, you will get an `ErrImagePull` error, If you have access to this image, you will get an `crashloopbackoff` error.

[2020-11-13 09:44] #1136 closed

[2020-11-13 10:04] STRRL commented on #1134
Hi @gotoworld, when you execute `nc -vvv 172.19.133.17 31767`, do you noticed that your terminal have printed a character `@` or not? Actually grpc based on stream-oriented protocol, `nc -vvv 172.19.133.17 31767` should not exit by itself.

Actually the full interaction mostly like this:

[code]

If you don't see the character `@` , or see `punt!` after `Ctrl-C`, I still doubt that misconfiguratio

[2020-11-13 10:20] #1153 closed

[2020-11-14 15:17] liangyuanpeng commented on #1145
It seems that `kind` was not installed successfully

[2020-11-15 03:34] leafsax commented on #1170
The /proc/config.gz doesn't exist (from the daemonset bash shell)
[code]

[2020-11-15 03:38] leafsax commented on #1170
The ```uname -a``` output of the host is:
[code]

[2020-11-15 03:39] leafsax commented on #1170
```ls /proc```

[code]

[2020-11-15 03:43] leafsax commented on #1170
```tc``` command doesn't exist from the host, is that a problem? https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/chaosdaemon/tc_linux.go#L34

[2020-11-16 00:40] #763 closed

[2020-11-16 01:47] shiniao opened #1177 "Always in a "Waiting for pod running" state"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
[code]

**What did you expect to see?**
install successed

**What did you see instead?**
[code]

[2020-11-16 02:25] gotoworld commented on #1173
@cwen0  great, thanks

[2020-11-16 02:27] STRRL commented on #1177
Hi @shiniao , it seems kubernetes failed to pull the image of chaos-controller-manager.

Could you execute `kubectl -n chaos-testing describe pod chaos-controller-manager-754d4f7585-f22ch` and paste the output to here?

[2020-11-16 02:31] cwen0 commented on #1173
@gotoworld Can we close this issue?

[2020-11-16 02:36] cwen0 commented on #1145
@liangyuanpeng You can reinstall `kind` tool separately or just remove `kind` directly, and then rerun `install.sh`.

[2020-11-16 02:41] shiniao commented on #1177
[code]

[2020-11-16 02:46] shiniao commented on #1177
Maybe the proxy setting is wrong

[2020-11-16 05:45] #1173 closed

[2020-11-16 07:02] YangKeao commented on #1170
No. We have packaged `tc` into the `chaos-daemon`'s image, so it doesn't matter.

Can you provide the corresponding YAML file and the related log of the Chaos Mesh controller-manager and chaos-daemon? If you are running a cluster with multiple nodes, please attach the log of `chaos-daemon` on corresponding node of the selected pod. These logs will help us a lot.

As I have tested on a local amazon

[2020-11-16 08:05] gotoworld commented on #1134
Hi @STRRL , as you mentioned, when i press Ctrl - C,  there is no "@".

But the iptables is not activites, Actually. in the chaos experiment environment.

And we use the Tencent Cloud, TKE as k8s cluster,  i wonder which parameters of kernel will be the key relatived to this issue.

Thanks a lot!

[code]

[2020-11-16 08:06] gotoworld commented on #1134
[code]

[2020-11-16 08:29] STRRL commented on #1134
Oh, BTW the expected interactions is `@` appear immediately, not after press `Ctrl - C`. But as your mentioned, the connection was already established but no data transmitted. Grpc connection indeed has some problems. It might be related with your CNI. As I know, TKE has their own implementation of CNI.

Anyway you could try to reinstall chaos-mesh and enable `hostNetwork` on chaos-daemon.
As foll

[2020-11-16 08:51] gotoworld commented on #1134
Ok, thanks @STRRL

And i will find another enviroment to install chaosmesh and do it again.  since i doubt the CNI implement by TKE also.

[2020-11-16 18:23] leafsax commented on #1170
I used following command:
1. ```kubectl get pod``` to get the web-show pod 
2. ```kubectl describe pod web-show-xxxxx``` to get the node
3. ```kubectl describe node``` to get the pod name for chaos-daemon
4. Logs from the same node chaos-daemon:
[code]

yaml:
[code]

[2020-11-16 18:25] leafsax commented on #1170
What settings are expected in the kernel for this method?

[2020-11-17 03:39] YangKeao commented on #1170
@leafsax As the log of `chaos-daemon` doesn't show up any expected log, I believe there is a connection error between the `controller-manager` and `chaos-daemon`. This issue can be verified through the log of `controller-manager`, which will try to connect `chaos-daemon` through the node ip, and may have failed in your cluster 😭

It could be the problem from the network, which may not support `por

[2020-11-17 06:15] leafsax commented on #1170
Here is the controller log:

[code]

[2020-11-17 06:16] leafsax commented on #1170
Filtered:
[code]

[2020-11-17 06:28] leafsax commented on #1170
From this issue: https://github.com/aws/amazon-vpc-cni-k8s/issues/132#issuecomment-404367160, it seems the hostPort is ignored in EKS, do you have other ways to contact a pod? Otherwise it will need to separate the daemonset's network with others. The EKS is using a CNI from that issue, so all pods are getting a unique ip directly from the VPC. I will try to enable hostPort and try again.
Please l

[2020-11-17 06:47] leafsax commented on #1170
The DaemonSet with hostNetwork: true tag:

[code]

[2020-11-17 06:48] leafsax commented on #1170
It's still not working with the hostNetwork: true.

[2020-11-17 08:27] gotoworld commented on #1134
It working, in another kubernetes cluster which is install by kubeadm.

![image](https://user-images.githubusercontent.com/8605471/99364670-38329300-28f1-11eb-8f57-acd12cdf598e.png)

-----
Any way, i sugguest keeping ChaosMesh working with Tencent TKE and Aliyun ACK, since lots of customer of ChaosMesh is from China.

@STRRL @fewdan @cwen0

[2020-11-17 08:29] #1134 closed

[2020-11-17 08:57] YangKeao commented on #1170
It's a little wired 😞 . The controller-manager doesn't print any error, but the `chaos-daemon` seems not to have received the request 👻

Are you sure the log is actually from the chaos-daemon at `ip-10-0-67-99.ec2.internal`? (Or have it been reinstalled or somehow cleared the log?)

[2020-11-17 09:06] YangKeao commented on #1170
For `hostPort` issue, we have come up with a lot of ideas for solving the problem. Like: set up a temporary port forward...  @STRRL will work on this 👍

[2020-11-17 09:19] YangKeao opened #1182 "Test Chaos Mesh on public cloud service"
There have been a lot of issues about running Chaos Mesh on a public cloud service such as GKE, AWS EKS, TKE... These managed Kubernetes services can bring a lot of problems to Chaos Mesh:

1. The CNI plugin may not support `hostPort`

2. The kernel may be pruned too much so that some required kernel modules/configs are not enabled.

In this issue, I will write down a list to track the process to

[2020-11-18 01:47] Colstuwjx commented on #1182
+ HuaweiCloud CCE.

[2020-11-18 07:34] ct1104 opened #1183 "How to install chaos-mesh by helm through rancher2.X"
## Question

when i add the Catalog with infomation below  :
usl : https://github.com/chaos-mesh/chaos-mesh.git
branch: master

than I lanched the chaos-mesh instance  and got the message below:

`Wait helm template rendering notes failed. Error: rendered manifests contain a resource that already exists. Unable to continue with install: could not get information about the resource: mutatingwebhook

[2020-11-18 09:24] STRRL commented on #1183
Hi @ct1104 , you need "cluster admin" to install chaos-mesh. Your current user `u-sxdek4jpsk` sounds not holds so much authority.

[2020-11-18 12:01] jujoramos opened #1184 "Can't deploy chaos-mesh using Kubernetes go client"
## Bug Report

**What did you do?**
Tried to import `"github.com/chaos-mesh/chaos-mesh/api/v1alpha1"` within my go test file in order to deploy `chaos-mesh` and run some experiments using the Kubernetes go client.
[code]

**What did you expect to see?**
Package imported and ready to use.

**What did you see instead?**
[code]

[2020-11-18 17:44] #1184 closed

[2020-11-19 00:42] #859 closed

[2020-11-19 08:35] STRRL opened #1187 "[e2e test] execute e2e test on an exist kubernetes cluster"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It will make developing and debugging e2e test easier.
And it will help https://github.com/chaos-mesh/chaos-mesh/issues/1182.

Currently it's not really easy to execute e2e tests on an exist k8s cluster.
- It don't have a obvious entry-point like ./hack/e2e.sh
- It need delete some e2e test codes to skip instal

[2020-11-19 15:01] STRRL opened #1190 "more generally usable chaos-daemon client"
## Feature Request
**Is your feature request related to a problem? Please describe:**

According to https://github.com/chaos-mesh/chaos-mesh/issues/1134, we estimate that some CNI not play well with hostPort. We need another way to build connection to chaos-daemon.

**Describe the feature you'd like:**

Make it more stable for build connection to chaos-daemon server, both in-cluster and out-cluste

[2020-11-20 09:04] YangKeao commented on #1190
We can also create a Headless service for the `chaos-daemon`, and the `podip` and `node` list can be found in the endpoint:

[code]

[2020-11-20 09:05] STRRL commented on #1190
that's goooooood!

[2020-11-20 19:37] Hedfi-Hamza opened #1194 "Hamza Hedfi"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-20 19:51] Ryn12 opened #1195 "Mata9y"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-21 00:40] #770 closed

[2020-11-21 00:40] #487 closed

[2020-11-21 13:25] zhouqiang-cl commented on #1194
Hi, @Hedfi-Hamza Could you tell us why did you create this issue?
I did not get the point

[2020-11-22 15:40] zhouqiang-cl commented on #1195
@Ryn12 Could you tell us the meaning of Mata9y?

[2020-11-22 16:28] #1194 closed

[2020-11-23 00:42] #879 closed

[2020-11-23 02:59] gotoworld opened #1202 "Does the ChaosMesh support pid and thread exceed pid_max, thread-max exceed experiment?"
## Question

Does the ChaosMesh support pid and thread exceed pid_max, thread-max exceed experiment ?

once we have suffer a  accident in production environment,  since more and more pods is run in one OS.
although a resource limit of pid and monitor of thread is added, but we want to make this accident repeating again and again.

[2020-11-23 03:10] gotoworld opened #1203 "How about if the ChaosMesh support userdefine fault , that will make greate meaningful."
## Feature Request

How about if the ChaosMesh support userdefine fault , that will make greate meaningful.

As we know, ChaosMesh will not cover all fault case, so why not define a type os Action support userdefine fault.

Thanks.

[2020-11-23 03:49] YangKeao commented on #1202
[code]

This `StressChaos` configuration should work. `-f` means the `fork` worker, and the `--fork-max P` is creating  P child processes and then wait for them to exit per iteration. You can find a more detailed description in the [manpage](https://manpages.ubuntu.com/manpages/artful/man1/stress-ng.1.html)

[2020-11-23 04:28] zhouqiang-cl commented on #1203
@gotoworld
Thank you for your advice, this is a great feature.

We think about it recently, but not very clear the best way to implement this feature.

Did you have any idea in your mind?

[2020-11-23 06:54] gotoworld commented on #1202
@YangKeao

Thanks a lot,  seem good.

![image](https://user-images.githubusercontent.com/8605471/99935466-b680b080-2d9b-11eb-98fa-81a504bcaf3d.png)

[2020-11-23 08:07] YangKeao commented on #1170
@leafsax I have realized another problem: is the `MutatingWebhook` and `ValidatingWebhook` enabled in your cluster?

Is there something like `--enable-admission-plugins=MutatingAdmissionWebhook,ValidatingAdmissionWebhook` in the arguments of your `kube-system/api-server-xxxx` ?

[2020-11-23 10:51] WangXiangUSTC opened #1207 "scheduler: nextRecover shouldn't be later than nextStart"
## Bug Report

**What version of Kubernetes are you using?**

git hash 058fb44c997a9fedd18d94f07911565b7b0013e9

**What did you do?**

create a chaos test with `"scheduler": {"cron":"*/1 * * * * "}, "duration": "30s"`

**What did you expect to see?**

run chaos success

**What did you see instead?**

get errors in controller-manager's log:

[code]

[2020-11-23 11:06] WangXiangUSTC commented on #1207
I add some log, the `now` is `2020-11-23T10:42:44.990Z`, and the next start is `2020-11-23T10:43:00.000Z`, the `next recover` is `2020-11-23T10:43:14.990Z`, so `next start` < `next recover` and return this error

[2020-11-23 14:07] STRRL opened #1209 "chaos-dashboard: nil panic while view a network chaos experiment"
## Bug Report

**What version of Kubernetes are you using?**

minikube on macos

[code]
Chaos Mesh version v1.0.2

**What did you do?**

- `curl -sSL https://mirrors.chaos-mesh.org/v1.0.2/install.sh | bash`
- `k apply -f https://raw.githubusercontent.com/paulbouwer/hello-kubernetes/master/yaml/hello-kubernetes.yaml`
- create a networkchaos: mode all, namespace selector: default; target: mode all,

[2020-11-23 14:28] STRRL opened #1211 "chaos-dashboard: failed to update existing networkchaos"
## Bug Report

**What version of Kubernetes are you using?**

minikube on macos
[code]
chaos-mesh/chaos-mesh master branch, 29d8da0
**What did you do?**

- `minikube start`
- checkout master branch of chaos-mesh/chaos-mesh, `bash install.sh`
- `k apply -f https://raw.githubusercontent.com/paulbouwer/hello-kubernetes/master/yaml/hello-kubernetes.yaml`, it will create a web-app deployment with repli

[2020-11-23 15:48] zhouqiang-cl commented on #1202
How about adding a document to the website? @YangKeao

[2020-11-24 00:41] #889 closed

[2020-11-24 01:51] #919 closed

[2020-11-24 03:35] #1211 closed

[2020-11-24 09:00] cwen0 commented on #1209
This issue has been fixed in #1210

[2020-11-24 09:00] #1209 closed

[2020-11-25 00:42] #884 closed

[2020-11-25 00:42] #893 closed

[2020-11-25 01:32] Hedfi-Hamza opened #1218 "123 HTM"
Rot and Black

[2020-11-25 01:33] Hedfi-Hamza opened #1219 "CGN 2"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-11-25 01:34] #1219 closed

[2020-11-25 03:32] #945 closed

[2020-11-25 03:34] #1195 closed

[2020-11-25 03:36] zhouqiang-cl commented on #1218
Hi, @Hedfi-Hamza could you tell us the meaning of this issue?

[2020-11-25 04:20] #1218 closed

[2020-11-25 06:34] manusa opened #1220 "Generated OpenApi (openapi/v2) docs are incomplete"
## Bug Report

**What version of Kubernetes are you using?**
1.18.2, 1.19.1...

**What did you do?**
Parse generated OpenApi definitions generated by Kubernetes from the applied provided CRDs.
[code]

**What did you expect to see?**
A complete object definition including all [properties](https://github.com/chaos-mesh/chaos-mesh/blob/244be9194c3f6404f8a55ffe806992e66d64b518/config/crd/bases/chaos-m

[2020-11-26 02:08] gotoworld commented on #1203
Sorry, as a newer to chaos project, i have no idea this monent.

any idea will contact you, thanks.

[2020-11-26 03:45] gotoworld opened #1222 "How cloud ChaosMesh dynamically injected into the target Pod, if the pod is not recreate / restart?"
## Question

Before asking a question, make sure you have:

As I know, Sidecar dynamically injected into the target Pod by **admission-webhooks**, Only when **a Pod is been recreated / restarted**.

if i above is right,  i am confused with follow questions.

1. How cloud ChaosMesh dynamically injected into the target Pod,  if the pod is not recreate / restart?

2. Which kinds of chaosmesh experime

[2020-11-26 03:50] gotoworld commented on #1222
For example, When running  the timechaos experiment,  using `kubectl get pod xxxx-selected-4-timechaos-pod -o yaml`.  we never encouter the sidecar containers describe in yaml.

![image](https://user-images.githubusercontent.com/8605471/100305869-fd111d80-2fdc-11eb-9434-db79102b4609.png)

[2020-11-26 03:54] STRRL commented on #1222
Hi @gotoworld , which version of chaos-mesh do you ues?

AFAIK, the latest release of chaos-mesh does NOT use sidecar for injecting chaos anymore.

[2020-11-26 04:09] gotoworld commented on #1222
@STRRL    v1.0.1,

if the latest version NOT use sidecar for injection,  are all the chaosmesh expirement use Chaos-daemon?

if the answer is yes, then the following archetecture is wrong?
![image](https://user-images.githubusercontent.com/8605471/100307159-1c5d7a00-2fe0-11eb-97f0-462e92f51bab.png)

[2020-11-26 04:13] YangKeao commented on #1222
@gotoworld Yes. In the previous version (less than 1.0), Chaos Mesh will inject a sidecar container for IOChaos. After 1.0, no sidecar will be injected at all.

Remind that sidecar could only make it possible to share the network namespace with the target pod (and inject into mount namespace through mount propagation), it's not strengthful enough to inject other errors. Chaos Mesh injects other co

[2020-11-26 04:15] STRRL commented on #1222
This architecture picture is indeed outdated. Could you tell us where do you find it? I think we could update it.

[2020-11-26 04:15] YangKeao commented on #1222
As for TimeChaos, it's another story. We inject time chaos by ptrace the target process and modify the vDSO part of memory in the target process. I have shared the implementation of it in the community meeting and here is the video [link](https://www.youtube.com/watch?v=Er9_XriY4k8).

[2020-11-26 04:21] gotoworld commented on #1222
@STRRL  https://cloud.tencent.com/developer/news/566351

[2020-11-26 04:22] gotoworld commented on #1222
---
Got it, very helpful, thanks a lot!

[2020-11-26 04:28] gotoworld commented on #1222
Yes,  for TimeChaos, i have got the article: https://int64.me/2020/%e5%9c%a8%e5%ae%b9%e5%99%a8%e4%b8%ad%e8%ae%a9%e6%97%b6%e9%97%b4%e8%87%aa%e7%94%b1%e6%91%87%e6%91%86.html

Thank you @YangKeao

[2020-11-26 07:35] gotoworld commented on #1222
@STRRL  May u pls send me the latest architecture picture, if there is. thanks

[2020-11-26 07:41] STRRL commented on #1222
You could watch this: https://chaos-mesh.org/docs/overview/architecture

The architecture is quite simple, because powerful chaos-daemon could resolve all these chaos.

[2020-11-26 08:04] gotoworld commented on #1222
I have seen this architecture diagram before, it is very simple, shielding the implementation details, in fact, we are very concerned about its specific implementation details.

[2020-11-26 12:39] jujoramos opened #1224 "Specified qdisc not found"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
- Deployed `chaos-mesh` through `helm install chaos-mesh chaos-mesh/chaos-mesh --namespace=chaos-testing --set dashboard.create=false --set prometheus.create=false`.
- Created a simple deployment to test the `network-partition` scenario and deployed the scenario.

**What did you expect to see?**
Network inter

[2020-11-26 15:44] jujoramos commented on #1224
Even though the error is thrown when deploying the `network-split` scenario to an internal `kubernetes` cluster managed by the company I work for, I've just been to reproduce a really similar issue (the error is exactly the same) using `minikube` and a simple `StatefulSet`.
I'm adding the details here, hopefully it will make the troubleshooting easier :-).

**Launch Minikube**
[code]

**Install Ch

[2020-11-27 05:17] YangKeao commented on #1224
Thanks for your report. I will try to reproduce and fix this bug right now.

[2020-11-27 05:24] YangKeao commented on #1224
Please upgrade to minikube >= 1.12.2. I have added some kernel configuration for their image in this [PR](https://github.com/kubernetes/minikube/pull/8670) and it's merged into minikube after 1.12.2

[2020-11-27 07:57] STRRL opened #1225 "chaos-dashboard: Can not create "Run immediately" Chaos"
## Bug Report

**What version of Kubernetes are you using?**

[code]

chaos-mesh/chaos-mesh master branch, c7a7d15

I guess: chaos-dashboard ignore the "Run immediately" switcher.

**What did you do?**

- deploy chaos-mesh with helm, enable dashboard
- create a NetworkChaos, fill other unimportant specs
- switch "Run immediately" on, then click SUBMIT
![image](https://user-images.githubusercontent

[2020-11-27 08:59] WangXiangUSTC commented on #1220
Does this mean that our CRD file format is not standard? And if yes, do you have some tools to format it?

[2020-11-27 09:13] manusa commented on #1220
Hi, I'm really not an expert on this area, so I'm very unsure if your format is OK or not (I'd say it is, else K8s would complain).

However, the end result (if you check my reproducing steps), is that OpenApi spec is incomplete (I've seen the same for CRDs in other projects e.g. [KUDO](https://kudo.dev/)).

The end result for your project is that neither my [client](https://github.com/manusa/yakc

[2020-11-27 09:20] YangKeao commented on #1220
@WangXiangUSTC A simpler way to reproduce this problem is to `kubectl explain PodChaos`. I will try to find the problem,

[2020-11-27 09:27] STRRL opened #1227 "Feature Request: Inject networkchaos to kubernetes service"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

We could inject network chaos like delay into "packets between pod and pod".
How about supporting inject network chaos into "packets between pod and service(ClusterIP)" and "between outer world and service(LoadBalancer/NodePort)"

**Describe alternatives you've conside

[2020-11-27 09:28] jujoramos commented on #1224
Thanks for the update @YangKeao !!. I've tried with the latest `minikube` version (`v1.15.1`) and it works just fine.
The problem remains on the `VMware Tanzu Kubernetes Grid` we use for testing purposes, however... I guess I'll need to check whether I can change the kernel configuration or something like you did for the `minikube`image.

[2020-11-27 09:28] #1224 closed

[2020-11-27 09:30] STRRL commented on #1182
Refs to https://github.com/chaos-mesh/chaos-mesh/issues/1224, maybe we should test chaos-mesh on "VMware Tanzu Kubernetes Grid"

[2020-11-27 11:49] pdorbaisdkt opened #1228 ""context deadline exceeded" when calling webhook at resource creation"
## Bug Report

**What version of Kubernetes are you using?**
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.15-gke.2601", GitCommit:"8895ae2a6688e115fa178d6808b23c8bd37cad2e", GitTreeState:"clean", BuildDate:"2020-10-19T16:55:18Z", GoVersion:"go1.13.15b4", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
[code]

**What did you expect to see?**
Webhook working wh

[2020-11-27 12:16] STRRL commented on #1228
Hi @pdorbaisdkt , http timeout usually caused by there are no backend `endpoints` for service.

Could you please make sure all pods is READY with `kubectl -n chaos-testing get pods`, and make sure you could access service via `<ClusterIP> :<port>` from pods.

[2020-11-27 12:39] pdorbaisdkt commented on #1228
Note: I reinstalled chaos-mesh in chaos-testing workspace

All pods are running
[code]
DNS works fine and service can be accessed from a pod:
[code]

[2020-11-28 07:56] STRRL commented on #1228
Which version of chaos-mesh do you installed? or master branch?

I notice that you might not install the crd, you could install it by `kubectl apply -f manifest/crd.yaml`.

[2020-11-28 09:34] pdorbaisdkt commented on #1228
This is the latest release v1.0.2, deployed via Helm2.
[code]
CRDs are installed:
[code]

[2020-11-28 14:13] STRRL commented on #1228
Do other webhook in your cluster works well? If your `kube-apiserver` is not running as a pod, please make sure that apiserver could access your service by ClusterIP.

[2020-11-29 00:46] #902 closed

[2020-11-30 00:47] #907 closed

[2020-11-30 06:00] WangXiangUSTC opened #1230 "get error `invalid label value` when creating experiment with annotation selector"
## Bug Report

**What did you do?**

create chaos experiment in dashboard, and set the annotation selector with `"prometheus.io/path":"/metrics"`

**What did you expect to see?**

create success

**What did you see instead?**
<img width="1447" alt="企业微信20201130-113911@2x" src="https://user-images.githubusercontent.com/5793595/100573935-e2f47980-3313-11eb-9186-c361a2d74b06.png">

[2020-11-30 06:01] WangXiangUSTC commented on #1230
it is because parse annotation with labels.Parse, and the labels' value can't contain `/` https://github.com/chaos-mesh/chaos-mesh/blob/5499e776d5d0bff7b0a7d6644f37172e93e667d6/pkg/utils/selector.go#L556

[2020-11-30 06:11] WangXiangUSTC opened #1231 "dashboard support set field for selector"
## Feature Request

**Describe the feature you'd like:**

dashboard doesn't support setting the field for `selector` now

<img width="571" alt="企业微信截图_a66b41a1-b3d4-4212-876f-6c1625021189" src="https://user-images.githubusercontent.com/5793595/100574890-f3a5ef00-3315-11eb-803f-84496ffe0ff9.png">

**Teachability, Documentation, Adoption, Migration Strategy:**

https://chaos-mesh.org/docs/user_guide

[2020-11-30 21:59] leafsax commented on #1170
The EKS I am using is K8s 1.14 and it supports both MutatingAdmissionWebhook and ValidatingAdmissionWebhook: https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html

[2020-12-01 00:46] #433 closed

[2020-12-01 06:18] STRRL opened #1234 "chaos-dashboard: weird behavior with creating chaos experiments while press "cmd + P""
## Bug Report

**What version of Kubernetes are you using?**

kuberenetes v1.19.4 with minikube v1.15.1 on macos 11.0.1

image: pingcap/chaos-dashboard:latest 1460b531073a
[code]
**What did you do?**

While creating new chaos experiments, I press "cmd + P"(it's an accident, I do not know why I press it 🤪).
Then the "search modal" pop-up, like this:
![image](https://user-images.githubusercontent.co

[2020-12-01 06:32] STRRL commented on #1234
"command + P" could stable reproduce this issue on my machine.

Sometimes I didn't press "command + P", the same issue also occurs. 😰

[2020-12-01 06:47] STRRL opened #1235 "chaos-dashboard: nowhere to setup "direction" during creating NetworkChaos Experiment"
## Bug Report

**What version of Kubernetes are you using?**

kuberentes v1.9.4
minikube version: v1.15.1
macos 11.0.1

chaos-mesh release v1.0.2

**What did you do?**

- install chaos-mesh via `curl -sSL https://mirrors.chaos-mesh.org/v1.0.2/install.sh | bash`
- `k apply -f https://raw.githubusercontent.com/paulbouwer/hello-kubernetes/master/yaml/hello-kubernetes.yaml`
- try to create a Network C

[2020-12-01 06:49] STRRL commented on #1235
Master branch does not have this issue.

How about cherry-pick the new UI of "creating chaos experiments" to release-1.0?

[2020-12-01 07:09] #1225 closed

[2020-12-01 10:32] g1eny0ung commented on #1234
`Command + P` is a shortcut to trigger the searching. Seems that I forgot to clear the key binding after close the searching modal. 🤣 I will resolve this problem ASAP.

[2020-12-01 10:37] g1eny0ung commented on #1235
It's hard to migrate the latest changes into the release `1.0.x`. 😢 I am looking forward to the release of `v1.1`.

[2020-12-01 15:16] liangyuanpeng commented on #1145
@cwen0  Thanks for your reply, Actually , it's not my problem. :)  @phantooom  Have any update?

[2020-12-01 15:35] #1072 closed

[2020-12-01 22:10] leafsax commented on #1170
Follow up on the EKS cluster configuration:
I used eksctl to create the EKS cluster:
https://docs.aws.amazon.com/eks/latest/userguide/getting-started-eksctl.html#install-eksctl
Then I used the following command to install ChaosMesh:
```curl -sSL https://mirrors.chaos-mesh.org/v1.0.2/install.sh | bash```
Followed the experiment here: https://chaos-mesh.org/docs/user_guides/run_chaos_experiment, sti

[2020-12-02 02:20] STRRL commented on #1183
Hi @ct1104 , do you resolve the issue? If you have any questions, please let us know! 😁

[2020-12-02 02:37] wingyiu commented on #1235
should also update NetworkChaos example, add direction field

[2020-12-02 04:54] YangKeao commented on #1170
@leafsax If seems that the controller-manager and webhook work well, and the gRPC requests don't throw any error.

The problem is that the `chaos-daemon` doesn't print any log, which is really wired :crying_cat_face: .

@fewdan Have you faced any bugs while testing Chaos Mesh on EKS?

[2020-12-02 08:58] fewdan commented on #1235
@wingyiu
Hello, can you tell me which example you use? It would be better if the steps for replication could be provided.
Thank you!

[2020-12-02 09:02] pdorbaisdkt commented on #1228
The prometheus operator webhook works fine in the cluster.

I can access the service via kubectl port-forward command (through apiserver).
[code]

[2020-12-02 09:52] STRRL commented on #1228
Actually `kubectl port-forward` does not use `ClusterIP`, it just establishes connections to pod. We need to confirm api-server could access service by ClusterIP.

As https://github.com/chaos-mesh/chaos-mesh/issues/937#issuecomment-701304528 says, you could take a look on the firewall rules.

[2020-12-02 11:06] pdorbaisdkt commented on #1228
That was the firewall, by allowing port 9443 (pod port) from the master ip range to the nodes, it's now OK, I can deploy *chaos.chaos-mesh.org objects on the cluster.

Thanks !

[2020-12-02 12:09] STRRL commented on #1228
You are welcome @pdorbaisdkt. 😁
As this problem is resolved, I think this issue could be closed.

Feel free to let us know if you find other problems!

[2020-12-02 12:17] #1228 closed

[2020-12-02 13:19] Yiyiyimu commented on #961
comment to remove stale

[2020-12-03 03:06] wingyiu opened #1240 ""message": "admission webhook \"vpodnetworkchaos.kb.io\" denied the request: rpc error: code = Unknown desc = exit status 1"}"
[code]

[2020-12-03 07:15] #885 closed

[2020-12-03 07:15] #1240 closed

[2020-12-03 09:05] zhouqiang-cl commented on #1240
@wingyiu Did you have already solve this problem? How did you solve it

[2020-12-03 09:25] Yiyiyimu opened #1245 "Remove reduntant e2e test for `pause`"
Currently each chaos has the e2e test for testing its function when pause and unpause. So it's testing two parts: 1. its function 2. if pause working. But since
1. each chaos already have its own e2e test for function (like `Schedule` for some of them)
2. pause is generally working on different chaos

I think we could only test pause on a single type of chaos, which might save us some time for run

[2020-12-03 09:39] Yiyiyimu commented on #1078
Something like this @cwen0
![image](https://user-images.githubusercontent.com/34589752/100991849-6caf7b80-358e-11eb-8fcd-ed4bb3a35252.png)

[2020-12-03 09:42] cwen0 commented on #1078
@Yiyiyimu OK, let me check!

[2020-12-03 11:52] #1234 closed

[2020-12-04 03:21] #1220 closed

[2020-12-04 06:27] yliucode commented on #1184
@jujoramos  How did you solve this problem?

[2020-12-04 06:49] manusa commented on #1220
Java model types generated with the OpenAPI generated from the CRDs in the current master branch snapshot look complete.

https://github.com/manusa/yakc/pull/32/files

I'll release my part once a final Chaos-Mesh release is ready. Thank you!

[2020-12-04 07:14] STRRL opened #1246 "DiscussionInternal Design for Chaos Mesh Workflow"

[2020-12-04 07:24] STRRL opened #1247 "Discussion: Internal Design for Chaos Mesh Workflow"
Renderer markdown: [link](https://github.com/STRRL/chaos-mesh/blob/workflow/workflow/docs/design.md)

If you have any suggestions, feel free to comment.

[2020-12-04 07:48] fewdan commented on #1170
@leafsax
I tried it on the EKS cluster and it works normally. I checked the configuration of the EKS cluster. Could it be due to network-related configuration issues?
![image](https://user-images.githubusercontent.com/16437100/101136158-dfc8f880-3647-11eb-8352-77e8aae079d0.png)

Cluster security group:
![image](https://user-images.githubusercontent.com/16437100/101136199-ef484180-3647-11eb-80d0-c0

[2020-12-04 09:21] jujoramos commented on #1184
@yliucode: I've tried using the `helm` go client but had some conflicts regarding the project dependencies, so ended up using pure helm instead.

[2020-12-04 09:25] WangXiangUSTC commented on #1092
solve this issue via https://github.com/chaos-mesh/chaos-mesh/pull/1188

[2020-12-04 09:25] #1092 closed

[2020-12-04 10:20] #1190 closed

[2020-12-04 10:29] wingyiu opened #1250 "IOChaos不生效"
[code]

[code]

用ioping /data目录
并没有延时
[code]

[2020-12-04 17:30] fewdan commented on #1246
This looks like a repeat of https://github.com/chaos-mesh/chaos-mesh/issues/1247, so close it.

[2020-12-04 17:30] #1246 closed

[2020-12-04 18:05] leafsax commented on #1170
Thanks for the comment, @fewdan, could you post the script for setting up EKS and ChaosMesh?

I want to replicate what you have used and see why it is not working for me.

[2020-12-05 09:17] lizeyan opened #1251 "How to delete an archived experiment?"
How to delete an archived experiment?

[2020-12-05 10:21] zhouqiang-cl commented on #1250
Got, we will take a look

[2020-12-05 10:23] zhouqiang-cl commented on #1251
@g1eny0ung PTAL

[2020-12-05 10:33] Yiyiyimu commented on #1143
Hi @g1eny0ung do you still need this feature? I think I could be of help 😃

It's just a bit unclear what's needed. Is it that we need an API to get all selectors, that each of them would select one node, or we need the combination of each case. Could you give me the situation where to use this API

[2020-12-05 10:45] g1eny0ung commented on #1251
@lizeyan It can't be deleted at present (unless the record is deleted manually in db). We designed this function so that every experimental record won't be lost, which is also the meaning of archiving.

And it's not difficult to delete the archive. If this function is what you need, we will discuss whether to support it in the future.

[2020-12-05 10:54] lizeyan commented on #1251
Would you please give me more detail about deleting archives manually? My dashboard looks very bad now.
<img width="2112" alt="image" src="https://user-images.githubusercontent.com/12494243/101240577-014ee080-372b-11eb-91bd-d50a0e333539.png">

[2020-12-05 11:07] g1eny0ung commented on #1251
I think to solve this problem temporally just go straight into the container of chaos dashboard, find the sqlite db, and manually delete the record in the events table.

The default db name is called core.sqlite.

[2020-12-05 11:30] g1eny0ung commented on #1143
@Yiyiyimu Hi, thank you for following up on this problem. This need is not that urgent.

The `node selectors` is used in the process of creating experiments, like `namespace selectors`, the experiment will take effect under the limited namespaces.

To implement this api, it's need to find all available node selectors. And they can be passed into `/common/pods` as parameters to filter pods.

@cwen0

[2020-12-05 12:07] Yiyiyimu commented on #1143
No worries I don't have much to do right now🙈 If I take it right, for example, users could select node from a drop-down menu to limit the chaos scope, and this API could turn what users choose into a selector, like [what we do to yaml file](https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/utils/selector.go).

It just do we already have `namespace selectors` API? Maybe I could take that for

[2020-12-05 12:56] g1eny0ung commented on #1143
Yep😝! Just another choice to limit the scope and I think it's okay to refer to ns selectors.

[2020-12-05 13:50] Yiyiyimu commented on #1143
@g1eny0ung My bad it seems I know nothing about the frontend🙈 Could you point me out which place should I refer to

[2020-12-05 15:31] fewdan commented on #1170
Okay, I will describe the process later.

[2020-12-07 02:55] g1eny0ung commented on #1143
For the latest front-end implementation, you can refer to this file `components/NewExperimentNext/data/basic.tsx` as the entry. This file defines the form schema (initial values) and all of them will be used in `components/NewExperiment/Step2.tsx`.

[2020-12-07 03:00] wingyiu commented on #1240
missing webhook configuration cause this err

[2020-12-07 05:11] STRRL commented on #1245
No, I don't think it should be removed.

E2e test is a kind of black-box test, when you design e2e test cases, you should drop all the sense about implementation.
We could not remove these test cases although these use the same codes and the same logic.

[2020-12-07 06:23] Yiyiyimu commented on #1245
Hi @STRRL thank you for the explanation and I do think they are reasonable.

The reason I raised this issue is when I'm implementing `pause for certain duration` (#1016), I add e2e test to make sure they're working. Running it for one chaos would take 5-6 minutes. The test duration could get optimized but no less than 2 minutes I think.

If I follow the same design pattern for pause e2e test, I ne

[2020-12-07 06:52] STRRL commented on #1245
Actually, code coverage is NOT the goal of the test. It's just a metric about the relationship of your "main code" and your "test case code". It could present the logic is correct but the precondition is that the test case is "useful", "real"/"reasonable".

I think reduce our black-box test cases is dangerous, for example:

- the schedule feature for IoChaos passed e2e tests
- "schedule for IoChao

[2020-12-07 06:55] YangKeao opened #1254 "Reorganize `utils`"
We have a pkg `pkg/utils`. However, it's a bad idea to collect these unrelated functions into one pkg, because it's a hidden danger for cycle importing.

We should investigate these functions carefully and split them into multiple pkg.

[2020-12-07 07:14] Yiyiyimu commented on #1245
The example is not somewhat accurate, it should be
- the schedule feature for IoChaos and AnotherChaos passed e2e tests
- the pause + schedule for IoChaos passed e2e tests
- "pause for IoChaos" and "pause for AnotherChaos" are both implemented by the same codes

so

- pause + schedule for AnotherChaos should also work well...

Ah yeas I still could not guarantee that.. Plus I shouldn't do the "pre

[2020-12-07 07:14] #1245 closed

[2020-12-07 08:06] wingyiu commented on #1250
missing nsenter ?
`/usr/local/pause -n 40381 -- /usr/local/bin/suicide /usr/local/bin/toda --path /data --pid 416197 --verbose info` ?

[2020-12-07 10:02] fewdan commented on #1250
@wingyiu
![image](https://user-images.githubusercontent.com/16437100/101337003-1d32bd80-38b6-11eb-9a59-2aa8ff7c74e6.png)
It seems that toda's process ended prematurely due to some unexpected accident.
Otherwise, the log should look like this:
![image](https://user-images.githubusercontent.com/16437100/101337020-23289e80-38b6-11eb-82e1-80dd8b9cdca7.png)
I didn't reproduce this problem in v1.0.2. Ca

[2020-12-07 10:27] wingyiu commented on #1250
change the base docker image from our custom base image back to debian:buster-slim and the problem gone .

[2020-12-07 13:30] fewdan commented on #1250
@wingyiu
Did you modify the image of "chaos-daemon" and then the problem was solved?

[2020-12-08 00:48] #952 closed

[2020-12-08 03:36] Yiyiyimu commented on #1143
Thanks! Working on it

[2020-12-08 08:09] Yiyiyimu opened #1258 "Dashboard: pod status not change until click the button twice"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e

[2020-12-08 08:30] Yiyiyimu opened #1259 "Update not working until chaos restart"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e

[2020-12-08 09:38] #1250 closed

[2020-12-08 11:58] fewdan commented on #1170
@leafsax
I'm sorry to reply you so late, I happened to have something to deal with the other day. You can take a look at this [document](https://docs.google.com/document/d/1ai5V5rzo2geqnNUzQibk1W_qOZJqwOZrZsOPxchEgKw/edit#) and try this step by step.

[2020-12-09 09:42] cchb1990123 opened #1262 "when inject io fault，the web-show pod will restart"

[2020-12-09 10:31] STRRL commented on #1262
Hi @cchb1990123 , which version of chaos-mesh do you use?
Could you provide your IoChaos object by `kubectl get iochaos -o yaml <name-of-your-iochaos>`?
Could you provide  "web-show" pod object by `kubectl get pod -o yaml web-show-xxxxx`?

[2020-12-09 10:47] cchb1990123 commented on #1262
apiVersion: chaos-mesh.org/v1alpha1
kind: IoChaos
metadata:
  creationTimestamp: "2020-12-09T09:30:06Z"
  generation: 15
  managedFields:
  - apiVersion: chaos-mesh.org/v1alpha1
    fieldsType: FieldsV1
    fieldsV1:
      f:spec:
        .: {}
        f:action: {}
        f:duration: {}
        f:errno: {}
        f:mode: {}
        f:path: {}
        f:scheduler:
          .: {}
          f:cron

[2020-12-09 11:17] STRRL commented on #1262
We noticed the "volumePath: /" in the IoChaos Object, it might be the reason that causes the pod to restart.
"volumePath: /" is not indeed allowed, it will throw an error, I think we didn't make enough error-handling for this situation.😰

And if you want to test IoChaos,  the target pod must have a volume and set as volumePath in IoChaos.

[2020-12-09 12:12] cwen0 commented on #1251
@lizeyan If you don't want to keep these archived experiments, you can set `TTL_EXPERIMENT` in [value.yaml](https://github.com/chaos-mesh/chaos-mesh/blob/master/helm/chaos-mesh/values.yaml#L179) to a little value. `TTL_EXPERIMENT` is set to `336h` default, which means chaos dashboard will keep the archived experiments for two weeks.

[2020-12-09 12:20] lizeyan commented on #1251
Thank you for your help.
I have manually cleaned the database and solve my problem.

I only need to manually delete those archived experiments which are mistakenly added by my script.
What I need is not a TTL, but an option to manually delete an experiment completely.
I can't wait for the TTL because the experiments to delete occupy too much space in the timeline-view of events.

[2020-12-09 12:21] fewdan commented on #1251
@lizeyan
The only way now is to enter the database and delete it manually.

[2020-12-09 13:44] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

i use 'hostPath' method to mount the node's /data/logs to the container's /test-pd directory;   then i  enter the container, cat /test-pd/cc.txt,  it did't work as expected

On 12/9/2020 18:46，chenchao-m<chenchao-m@oppo.com> wrote：

    font{
        line-height: 1.6;
    }

[2020-12-10 00:49] #966 closed

[2020-12-10 00:49] #948 closed

[2020-12-10 00:49] #158 closed

[2020-12-10 05:40] STRRL commented on #1262
Hi @cchb1990123 , could you provide these for us?

- the pod object
- the IoChaos object
- the log of chaos-daemon which set on the same node with your target pod

[2020-12-10 06:23] WangXiangUSTC opened #1266 "selector support set-based requirements"
## Feature Request

**Describe the feature you'd like:**

Now Chaos Mesh support define the scope of chaos experiments by [selector](https://chaos-mesh.org/docs/user_guides/experiment_scope). But the selector don't support set-based, which is similar with [resources-that-support-set-based-requirements](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support

[2020-12-10 06:24] zhouqiang-cl commented on #1266
/cc @Colstuwjx

[2020-12-10 06:51] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

the pod object is attached as test-pd.yamlthe IoChaos object is attached as io-delay-example.yamlthe log of chaos-daemon which set on the same node with your target pod ia attached as chaos-deamon.log

On 12/10/2020 13:40，STRRL<notifications@github.com> wrote：

Hi
@cchb1990123 ,

[2020-12-10 07:03] YangKeao commented on #1247
How will a node move forward from `Holding` to `Running` and to `Succeed`? Why a `NetworkChaos` could execute multiple times in your example (A NetworkChaos Node: Init -> Running -> Holding -> Running -> Succeed)?

[2020-12-10 08:06] STRRL commented on #1262
Hi @cchb1990123 , when you reply to this GitHub issue via email, the attachments are ignored. 😰

Could you share these files by a pastebin or just print it to the email content?

[2020-12-10 08:17] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

    font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

test-pd.yaml:

apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2020-12-09T13:19:06Z"
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1

[2020-12-10 08:47] STRRL commented on #1262
Hi @cchb1990123, we found that chaos-daemon failed to inject the IoChaos because of the "Permission denied". It might a misconfiguration about "chaos-daemon".

Could you share the `DaemonSet` object of "chaos-daemon" for us?

And could you share with us:

- Which version of Chaos Mesh you are using?
- What kind of kubernetes cluster you are using? Self-hosted or Cloud-hosted. If Cloud-hosted, coul

[2020-12-10 08:52] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

chaos mesh 1.0.2
self-hosted kubernetes
kubernets version is 1.19.4
by single-file install.sh

On 12/10/2020 16:47，STRRL<notifications@github.com> wrote：

Hi
@cchb1990123, we found that chaos-daemon failed to inject the IoChaos because of the "Permission denied". It might a misc

[2020-12-10 08:54] STRRL commented on #1262
Could you share the `DaemonSet` object of "chaos-daemon" for us? @cchb1990123

[2020-12-10 09:01] YangKeao commented on #1262
Interesting. It's the second time that we have received the report of `EACCES: Permission denied` in IOChaos.

I believe it's caused by #1109. Adding `privileged: true` for `chaos-daemon` should fix the problem. However, @cchb1990123 could you provide your Linux kernel version to help us find the problem? I cannot reproduce it in 5.4 (my PC) and 3.14 (Cent OS 7)

[2020-12-10 09:02] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2020-12-09T06:51:08Z"
  generateName: chaos-daemon-
  labels:
    app.kubernetes.io/component: chaos-daemon
    app.kubernetes.io/instance: chaos-mesh
    app.kubernetes.io/name: chaos-mesh
    controller-revision-hash: 57

[2020-12-10 09:05] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

ubuntu 4.4.0-186-generic

On 12/10/2020 17:01，YangKeao<notifications@github.com> wrote：

Interesting. It's the second time that we have received the report of EACCES: Permission denied in IOChaos.
I believe it's caused by
#1109. Adding privileged: true for chaos-daemon should fi

[2020-12-10 09:07] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

and  how to add privileged: true for  chaos-daemon

On 12/10/2020 17:01，YangKeao<notifications@github.com> wrote：

Interesting. It's the second time that we have received the report of EACCES: Permission denied in IOChaos.
I believe it's caused by
#1109. Adding privileged: true

[2020-12-10 09:19] YangKeao commented on #1262
@cchb1990123 `kubectl edit` the `chaos-daemon` DaemonSet. Modify the following lines:

[code]
into
[code]

[2020-12-10 09:38] STRRL commented on #1247
I think I should answer this first:

The example just executes only once. `Running` does not mean the Chaos Experiment is effective. It means a "worker routine"(called `Actor`) is doing something for applying/recovering this Chaos Experiment. The `Running` state only exists for a little while.

So actually `Holding` means "Chaos Experiment is effective".

The next question:

Currently, the core "E

[2020-12-10 09:59] STRRL commented on #1262
@cchb1990123  Do you enable SELinux, AppArmor, or other security/audit systems in your environment?

[2020-12-10 10:00] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

no

On 12/10/2020 17:59，STRRL<notifications@github.com> wrote：

@cchb1990123 Do you enable SELinux,
 AppArmor, or other security/audit systems in your environment?
—
You are receiving this because you were mentioned.
Reply to this email directly,
view it on GitHub, or
unsubscrib

[2020-12-10 10:02] STRRL commented on #1262
After setup
[code]

Does this issue still exist?

[2020-12-10 10:25] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

it works, but it delay longer then expected;  for example, i delay 2s, but when i exec 'cat dd.txt', it delay more than 2s

On 12/10/2020 18:02，STRRL<notifications@github.com> wrote：

After setup
          securityContext:
            privileged: true

Does this issue still exis

[2020-12-10 10:29] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

the log is :
[2020-12-10 10:20:47.814833 +00:00] INFO [toda] src/main.rs:141: running replacer
[2020-12-10 10:20:47.814838 +00:00] INFO [toda::replacer::fd_replacer] src/replacer/fd_replacer.rs:269: running fd replacer
[2020-12-10 10:20:47.814841 +00:00] INFO [toda::replacer::cw

[2020-12-10 10:39] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

the tiem is 8.011s

On 12/10/2020 18:28，chenchao-m<chenchao-m@oppo.com> wrote：

    font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

the log is :
[2020-12-10 10:20:47.814833 +00:00] INFO [toda] src/main.rs:1

[2020-12-10 11:01] YangKeao commented on #1262
That's because an operation (like `cat`), may cause multiple system calls (such as `open` and `read`), and will result in a lot more file system operations (`lookup`, `open`, `read`...).

[2020-12-10 12:33] Yiyiyimu opened #1270 "Bug: chaos would directly start when it got applied, even if the cron doesn't want it be so"
## Bug Report

**What did you do?**
If we use the cron that does not start right away, for example, if I want to start a chaos at 00:00 each day for 10 minutes, we normally should go into Waiting phase. However, in [the current implementation](https://github.com/chaos-mesh/chaos-mesh/blob/cf9e1ca11670df27b2b8995b0f4942cf96142330/controllers/twophase/types.go#L152) or [the new implementation](https

[2020-12-10 12:34] Yiyiyimu commented on #1270
/assign

[2020-12-10 12:57] Yiyiyimu commented on #1259
Hi @cwen0 I think it is not only the problem for UI, it's actually another problem of two phase controller.

When I update the chaos, the desired procedure should be "recover - start" to cancel the original chaos and apply the new one. However in the current implementation, the reconciler would go into phase Waiting and do nothing, so we need to wait until the next start to make it effective.

The

[2020-12-11 06:57] Colstuwjx opened #1275 "Support tcpkill to kill tcp connection"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have some rpc-based systems, and we want to confirm that if it could successfully reconnect the target service after tcp connection lost.

**Describe the feature you'd like:**

We may need to install tcpkill inside chaos-daemon, and make NetworkChaos could define tcpkill action, and kill the services tcp con

[2020-12-11 11:52] cwen0 commented on #1259
Yes, this is not only the problem for UI, we can inform users it would not take effect at once on UI first.  Maybe this function  [WithEventFilter](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/builder#Builder.WithEventFilter) can help us to filter and compare the old and new configureatiron.

[2020-12-11 14:43] Yiyiyimu commented on #1259
`WithEventFilter` seems cool! Thanks for the hint! I'll take care of it later

[2020-12-11 14:43] Yiyiyimu commented on #1259
/assign

[2020-12-11 15:43] YangKeao commented on #1259
@Yiyiyimu If you need some sample codes about `EventFilter`, you can find it in #1221 ([these lines](https://github.com/chaos-mesh/chaos-mesh/pull/1221/files#diff-40c2ca106c38ecb998a3158bb60025dd3732c09c5ab4b4d634ddd39953932790R148-R171)).

Using multiple controllers seem to be a good way to split the logic.

(Actually I am considering an event driven controller design, by defining and registering

[2020-12-12 00:50] #967 closed

[2020-12-13 00:52] #964 closed

[2020-12-13 00:52] #791 closed

[2020-12-13 03:28] Colstuwjx commented on #1275
I've been created go version tcpkill, see [ref](https://github.com/Colstuwjx/tcpkill). But there are still some issues:

1. It could not [send packets while binding to "any"](https://github.com/google/gopacket/issues/844), which the original [tcpkill](https://github.com/ggreer/dsniff/blob/master/tcpkill.c) did support;

2. It could not abort idle connections, and tcpwall did support it by [sending

[2020-12-13 04:42] zhouqiang-cl commented on #1275
Did we need to contain it in chaos-daemon? Should chaos-daemon also support start a long-running process(seems it is complex to management progress in chaos-daemon)?  /cc @chaos-mesh/chaos-mesh

[2020-12-13 05:14] Yiyiyimu commented on #1259
@YangKeao Thanks for the sample codes!

I can see what you mean but indeed it's hard for me to figure out the detailed implementations for now🙈. Let's talk about it sometime later

[2020-12-13 19:47] TobiColada commented on #1259
👍

Von meinem iPhone gesendet

[2020-12-14 07:34] Colstuwjx commented on #1275
I think chaos daemon is already experienced to manage the background process, see the [IOChaos server implementation code](https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/chaosdaemon/iochaos_server.go#L78). The question is whether running the tcpkill as a long-running process is the best solution for killing the TCP connections.

[2020-12-14 08:22] YangKeao commented on #1275
@Colstuwjx Why should it be a long-running process? Does it mean that it will kill all connections during the time?

[2020-12-14 09:20] Colstuwjx commented on #1275
Because it's designed behavior from the tcpkill. It would enter the [pcap loop](https://github.com/ggreer/dsniff/blob/master/tcpkill.c#L146) and wouldn't exit even if it already sent RST and killed the connection.

[2020-12-14 18:28] leafsax commented on #1170
@fewdan Thanks for you detailed doc. I found the basic difference between our set ups. That's we are using public/private networks (NAT) to provide more security.  The nodes could be in one of 3 private subnets. While the controller might be in a separate one. What permission do you need to access?
In the security group settings, we especially allowed access within the node group.

[2020-12-15 00:49] #1001 closed

[2020-12-15 00:49] #769 closed

[2020-12-15 02:51] Colstuwjx opened #1282 "Run unit test always failed"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Run `make test`

**What did you expect to see?**
Chaos Mesh should run its unit tests, and tell me the result.

**What did you see instead?**
After ran `make test`, some errors occur, see logs below:

[code]

[2020-12-15 02:58] cwen0 commented on #1282
@Colstuwjx Before running `make test`, you should run `make ensure-kubebuilder` first. You can refer here https://github.com/chaos-mesh/chaos-mesh/blob/master/CONTRIBUTING.md#step-2-run-unit-tests

[2020-12-15 03:11] g1eny0ung opened #1283 "Chaos Dashboard To-Do List 🧱"
This issue is using to tracking the progress of the Chaos Dashboard development.

If you have any questions or suggestions, feel free to comment below. 🙋‍♀️🙋‍♂️

## In PR

### #1546

- [x] (perf) Clearer search

### #1496

- [x] (chore) Consider an alternative to dayjs (Because it's not very mature
- [x] Use https://nivo.rocks/?

### #1458

- [ ] (test) Component-MUI tests in UI

### #1449

- [x]

[2020-12-15 03:16] Colstuwjx commented on #1282
Yes, I did even two times:

[code]

And I found it installed to `/go/src/github.com/chaos-mesh/chaos-mesh/output/bin/kubebuilder`. Besides, I executed the `make ensure-kubebuilder` two times, and it still did install, so I wonder if there is a bug.

What's more, as you can see, the error is `fork/exec /usr/local/kubebuilder/bin/etcd: no such file or directory`, so why we still try to find the kube

[2020-12-15 03:20] STRRL commented on #1282
Kubebuilder hardcodes this path but we could use `KUBEBUILDER_ASSETS ` to change it.

ref: https://github.com/kubernetes-sigs/kubebuilder/issues/326#issuecomment-431365391

[2020-12-15 03:27] cwen0 commented on #1282
@Colstuwjx If you have install `kubebuilder` in `/usr/local`, you can run `make test` directly. `make ensure-kubebuilder` will install `kubebuilder` in `./output/bin/xxx`, you can run `KUBEBUILDER_ASSETS=${ROOT}/output/bin/kubebuilder/bin make test` to run unit test. Maybe we need to update the document.

[2020-12-15 07:41] #1251 closed

[2020-12-16 05:18] YangKeao opened #1289 "Refine the dependency of Chaos Mesh"
Importing `github.com/chaos-mesh/chaos-mesh/...` will result in an error:
[code]

That's because the version of the dependency of `k8s.io/kubernetes` hasn't been declared.

In this repo, we use `replace` in `go.mod` to specify a version for the dependency of `k8s.io/kubernetes`. The user of `chaos-mesh` will also meet this problem and will need to add a lot of `replace` in the `go.mod`. It's a bad

[2020-12-16 06:40] wingyiu opened #1290 "unsupported Scan, storing driver.Value type []uint8 into type *time.Time"
change drive from sqlite3 to mysql

[2020-12-16 14:38:11]  sql: Scan error on column index 1, name "created_at": unsupported Scan, storing driver.Value type []uint8 into type *time.Time
2020-12-16T14:38:11.113+0800    ERROR   collector.NetworkChaos  failed to find experiment       {"UID": "bd9c51e7-2941-4f63-be74-163be547591f", "error": "sql: Scan error on column index 1, name \"created_at\": unsu

[2020-12-16 07:59] YangKeao commented on #1289
The Kubernetes solution is creating a new repo `github.com/chaos-mesh/api` and copying files from `github.com/chaos-mesh/chaos-mesh` to it on every release.

[2020-12-16 08:18] Colstuwjx commented on #1289
Kubernetes did so hacky on this thing, it has a [staging](https://github.com/kubernetes/kubernetes/tree/master/staging) directory which contains the external repos. If we choose this implementation, we may also need this `staging` directory, and do replace like [this](https://github.com/kubernetes/kubernetes/blob/master/go.mod#L494).

[2020-12-16 08:42] #1290 closed

[2020-12-16 08:42] wingyiu commented on #1290
parseTime=true

[2020-12-16 09:30] YangKeao commented on #1289
@Colstuwjx Yes. It seems that we don't have another choice (do we?). I prepare to move `api/v1alpha1` into something like `staging` and use a bot to filter-branch / cherry-pick these commits to another repo.

Before that we need to clean the `api/v1alpha1` package, move some of the functions/methods outside. For example: `networkchaos_types.go` imports `github.com/chaos-mesh/chaos-mesh/pkg/chaosda

[2020-12-16 09:40] YangKeao commented on #1289
Another problem is that the bot should update / write the `go.mod` file. (A simple solution is to write a `go.mod` under the `/api/v1alpha1` :smile: )

[2020-12-16 09:58] YangKeao opened #1292 "track issue for abstracting API of chaos-mesh"
Importing `chaos-mesh/api/v1alpha1` is the suggested way to integrate `chaos-mesh` into another project. However, we still don't provide any guide and document on how to use it. Here is a list of what we need to do to promote users to use `chaos-mesh` with a standard Kubernetes `client-go`

- [ ] Setup a go submodule in `api/v1alpha1`
  - [x] Move network util functions to the outside of the API f

[2020-12-17 00:53] #1007 closed

[2020-12-17 12:17] #694 closed

[2020-12-18 06:47] Colstuwjx opened #1301 "Support one-time job"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I want to run a chaos in a certain duration and then let it exit, rather than re-applying it in the nextStart round.

**Describe the feature you'd like:**

A chaos could run in a certain duration and just finish and clean exit like [k8s batch job did](https://kubernetes.io/docs/concepts/workloads/controllers/jo

[2020-12-18 07:11] STRRL commented on #501
I think we'd better implement this by the workflow. So I will close it now.

[2020-12-18 07:31] Colstuwjx commented on #1301
Seems related to #501 .

[2020-12-18 08:18] STRRL commented on #1301
Yes. I have wanted to implement an "at controller" beside "common controller" and "two-phase controller". But it seems a duplicate of the two-phase controller.

And we still consider that "scheduling" should be implemented by Workflow, two-phase also will be marked as deprecated after Workflow released.

Do you have any idea about it?😁

[2020-12-18 08:33] Colstuwjx commented on #1301
Yes, I think we should make each chaos controller works like a k8s Job ( a.k.a ad-hoc task ), and implement schedule & orchestration via Workflow.

Mixing the schedule and job into two-phase made the two-phase controller too complicated ( see background from [PR #1221 comment](https://github.com/chaos-mesh/chaos-mesh/pull/1221#discussion_r539888031) )  ...

[2020-12-18 09:36] STRRL opened #1305 "chaosctl: failed to execute "cat /proc/mounts" when debugging iochaos"
## Bug Report
chaosctl output:

[code]

Because `/proc/mounts` is a symbolic link to `/proc/self/mounts`, so we should also enter PID namespace for procfs making this directory correctly.

[2020-12-18 09:37] STRRL commented on #1305
Hi @Yiyiyimu , could you help us fix this issue?  🥺

[2020-12-18 09:47] #1266 closed

[2020-12-18 10:00] Yiyiyimu commented on #1305
Thank you for pointing it out! Working on it

[2020-12-18 10:16] Colstuwjx opened #1306 "Script Test failed with network delay verification"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

Ran CI Test in PR #1277 .

**What did you expect to see?**
Should pass the tests.

**What did you see instead?**
See logs below:

[code]

And we assume that there would be >=4 <=6 packet loss, see [this line](https://github.com/chaos-mesh/chaos-mesh/blob/master/test/integration_test/network/run.sh#L56), but from th

[2020-12-19 00:52] #888 closed

[2020-12-21 02:41] zhanghuidinah opened #1310 "support static pod chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

- do some chaos for kubernetes core components

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-12-21 02:41] zhanghuidinah commented on #1310
/assign

[2020-12-21 08:25] WangXiangUSTC commented on #1306
seems that sometimes apply the networks chaos to chaos-daemon cost about 1~2 seconds, and the chaos duration begin with the apply time, so the latency > 10ms only 3 times.

I will update the script

[2020-12-21 12:09] cwen0 opened #1313 "Can't login chaos-dashboard by token"
## Bug Report

**What version of Kubernetes are you using?**

[code]

Chaos Mesh version:

[code]

**What did you do?**

Login Chaos Dashboard by token

**What did you expect to see?**

Login successfully

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/102775671-467c3f00-43c8-11eb-89d1-1823d795d9b6.png)
![image](https://user-images.githubusercontent.com/

[2020-12-21 12:49] cchb1990123 commented on #1262
font{
        line-height: 1.6;
    }
    ul,ol{
        padding-left: 20px;
        list-style-position: inside;
    }

when i build image-build-base docker;  the docker file exec 'apt-get update', deb.debian.org is slow, leading to timeout; could you please provide http proxy and https proxy?

On 12/10/2020 19:01，YangKeao<notifications@github.com> wrote：

it works, but it delay longer then expec

[2020-12-21 14:37] g1eny0ung commented on #1313
Perhaps this is caused by different token formats in `localStorage`. In a certain historical submission, there was once a version that only supported single token mode (**But it was soon abandoned and now the latest code supports multiple tokens**). Because the two formats are stored in different ways, the `JSON.parse` method will be failed when you submit a new token in an upgraded dashboard.

If

[2020-12-22 01:53] wingyiu opened #1314 "crd.yaml err"
error: error validating "crd.yaml": error validating data: ValidationError(CustomResourceDefinition.spec): unknown field "preserveUnknownFields" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1beta1.CustomResourceDefinitionSpec; if you choose to ignore these errors, turn validation off with --validate=false

[2020-12-22 02:29] g1eny0ung commented on #1314
Find the same situation in https://github.com/kubernetes/kubernetes/issues/82874.

[2020-12-22 02:45] #1306 closed

[2020-12-22 06:36] cwen0 opened #1317 "e2e test failed"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

Recently, when to exec `run-e2e-tests`, e2e tests often broken and reported the following error info:

[code]

More log:  https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/1027/pipeline

**What did you expect to see?**

**What did you see instead?**

**Output o

[2020-12-22 07:02] YangKeao commented on #1317
Maybe related with #1279 ?

[2020-12-22 07:12] cwen0 opened #1318 "Can't reuse the archived experiment by Chaos Dashboard"
## Bug Report

**What version of Kubernetes are you using?**

[code]
Chaos Mesh version:

[code]

**What did you do?**

Create a chaos experiment  -> pause -> archive -> reuse this chaos experiment and then get an error:

![image](https://user-images.githubusercontent.com/22956341/102859822-a7a71f80-4467-11eb-976e-94016be823da.png)

Original experiment:

[code]

Reused experiment:

[code]

[2020-12-22 07:32] cwen0 opened #1319 "Show more experiment configuration on chaos dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Show more experiment configuration on chaos dashboard, such as selectors and target

![image](https://user-images.githubusercontent.com/22956341/102861520-c6f37c00-446a-11eb-8734-ca0872f82f52.png)

[2020-12-22 07:46] wingyiu opened #1320 "iochaos fail"
2020-12-22T07:43:25.228Z        ERROR   controllers.iochaos.default/io-delay-example    fail to step into the phase     {"reconciler": "iochaos", "resource name": "default/io-delay-example", "target phase": "Running", "error": "the server does not allow this method on the requested resource (post podiochaos.chaos-mesh.org)"}

[2020-12-22 09:31] Hexilee opened #1322 "support custom way to deploy/access chaos-daemon"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes the target applied chaos is not a pod. For example, in [Naglfar](https://github.com/PingCAP-QE/Naglfar/) we use k8s-operator to manage containers on bare machines. We can deploy a chaos-daemon on each machine and access it, but we still need many extra works to apply chaos.

**Describe the feature you

[2020-12-22 09:50] wingyiu commented on #1320
[code]

[2020-12-22 10:50] fewdan commented on #1319
Now these fields should not exist in the db, so for compatibility, should query the corresponding information from kubernetes ?

[2020-12-22 11:21] cwen0 commented on #1322
@Hexilee Maybe we can support this feature on [chaosd](https://github.com/chaos-mesh/chaosd)

[2020-12-22 11:45] Hexilee commented on #1322
chaosd may be an alternative, but I want full features of chaos-mesh. I will asign this issue to myself and look for a satisfactory solution.

[2020-12-22 12:00] fewdan commented on #1170
@leafsax
I'm sorry to reply you so late.
Are you referring to the setting of "public/private networks" here? I will try to see what configuration is needed.
![image](https://user-images.githubusercontent.com/16437100/102886475-20ba6d00-4490-11eb-9465-3ef51636b0e4.png)

[2020-12-22 17:47] leafsax commented on #1170
That’s true, we have to use a public and private setting on subnet on
multiple availability zones.

On Tue, Dec 22, 2020 at 4:00 AM Yihao Fu <notifications@github.com> wrote:

[2020-12-23 02:01] idiot40 commented on #1058
I also encountered the same problem, how did you solve it?

[2020-12-23 02:18] idiot40 commented on #1060
I also encountered the same problem, how did you solve it?

[2020-12-23 06:56] FANHIDE opened #1324 "Support network chaos in networkPolicy: hostnetwork"
## Feature Request

**Is your feature request related to a problem? Please describe:**
sometimes, the networkPolicy of pod is hostnetwork, but chaos mesh avoids affecting the host network, forbids the networkchaos used to hostnetwork policy.
Can we support the networkchaos in networkPolicy: hostnetwork?

**Describe the feature you'd like:**
1. normal pod uses hostnetwork
2. if kubernetes control p

[2020-12-23 09:15] cchb1990123 opened #1326 "could you please refresh the demo，the selectspod method arguments are changed"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

![image](https://user-images.githubusercontent.com/65523829/102980297-54ee6600-4542-11eb-9ff5-b3e35b6024bd.png)

[2020-12-23 13:02] vovkanaz opened #1327 "Latest v3.3 release still does not support different Service types for Dashboard Service"
## Question

Hi there, the latest chaos-mesh-v0.3.3.tgz of the HELM chart does not support this functionality [Link](https://github.com/chaos-mesh/chaos-mesh/blob/master/helm/chaos-mesh/templates/chaos-dashboard-deployment.yaml ) which has been fixed in -->  [Link](https://github.com/chaos-mesh/chaos-mesh/pull/1042). Would you mind to push the latest changes to the helm chart repository? Thanks in

[2020-12-23 16:19] kateryna-automation-hero opened #1328 "Network Chaos can not be injected into privileged pod"
## Bug Report

**What version of Kubernetes are you using?**
[code]

I installed Chaos Mesh (version v1.0.3) with helm chart (version 0.3.3).
Created network chaos experiment on the dashboard targeted to set of privileged pods.

Got an error on Dashboard:
[code]

Logs of chaos daemon:
[code]

**Work around**
Edit chaos daemon set, make it privileged as well.

[2020-12-24 02:10] g1eny0ung commented on #1326
Hi, could u tell me where the demo can be found? 🤣 I didn't find the same code in the repo.

[2020-12-24 02:37] g1eny0ung commented on #1327
I think because this change hasn't been merged into the `v1.0` branch, it won't take effect in `chart-0.3.3`.

Because every chart release usually represents a stable version so the changes on the master will be released in the next minor version (at least).

We already have a plan to release the next minor version (v1.1.0) at the end of December. Thx for the follow-up.~

[2020-12-24 03:11] cchb1990123 commented on #1326
https://chaos-mesh.org/docs/development_guides/add_facilities_to_chaos_daemon

[2020-12-24 07:58] YangKeao commented on #1328
I found that the permission check fails in `cap_capable` function:

[code]

However, AFAIK, all docker containers share the same user namespace, so I cannot find how the `privileged` of target process affects the capabilities check 🤦 . I will try to trace the parameters and find the reasons.

[2020-12-24 08:43] YangKeao commented on #1328
I failed to reproduce this problem on my local development environment (Linux 5.4.80) and CentOS 7 (Linux 3.14). @fewdan Can you help me to check on the EKS?

[code]

It seems that `CAP_SYS_PTRACE` is enough.

[2020-12-24 09:01] liwanxue opened #1329 "Wrong permission for iochaos mountpoint"
## Bug Report

**What version of Kubernetes are you using?**

v1.15.7

**What did you do?**

In container, there is a process running as "clickhouse" user, when `kubectl exec -it chi1-events-0-0-0 bash` to container,  it would be as root user.
When I try to injest iochaos, it will create new files as root user instead of "clickhouse", which lead to process in container can't write and read file in

[2020-12-24 09:11] liwanxue commented on #1329
I found this issue when I using this feature #1159
Could anyone help me on this issue?

[2020-12-24 09:25] g1eny0ung commented on #1329
@YangKeao PTAL.

[2020-12-24 09:35] fewdan commented on #1328
`
Client Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-dispatcher", GitCommit:"f5757a1dee5a89cc5e29cd7159076648bf21a02b", GitTreeState:"clean", BuildDate:"2020-02-06T03:31:35Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.9-eks-d1db3c", GitCommit:"d1db3c46e55f95d6a7d3e5578689371318f95ff

[2020-12-25 03:12] g1eny0ung commented on #1326
Ok, I will try to resolve this problem ASAP. Thx for reminding! 🚀

[2020-12-25 03:15] #1318 closed

[2020-12-25 03:17] #1083 closed

[2020-12-25 05:00] liwanxue commented on #1329
@YangKeao Any ETA of this issue? or if I have any workaround solution for this? Appreciate your help.

[2020-12-25 05:21] YangKeao commented on #1329
@liwanxue I will try to fix this problem next Monday🍻 .

Actually, in the implementation of the error injecting filesystem, the owner has been set [here](https://github.com/chaos-mesh/toda/blob/c2dc371576e3f0552a979f735853aadb8c9b3b67/src/hookfs/mod.rs#L1145-L1147), so this problem is not expected to happen.

[2020-12-26 00:58] #947 closed

[2020-12-28 05:43] 912988434 opened #1331 "Is the dns chaos function included in the v1.0.3 version？"
I saw dns chaos in the v1.0.3 version of the document, but dns chaos related resources were not found in crd when helm was installed, and dns related templates were not found in the chart template

[2020-12-28 05:56] STRRL commented on #1329
HI @liwanxue, could you provide the pod object which contains "clickhouse" container by `kubectl get pod <your-pod-name> -o yaml`?

[2020-12-28 12:18] liwanxue commented on #1329
`apiVersion: v1
kind: Pod
metadata:
  annotations:
    application.tess.io/id: urn:xxx-marketplace-consumerid:be4f08da-8424-4931-bb5e-0d99c78dd9c8
    application.tess.io/name: umpmonitoringapp
    io.sherlock.metrics.ch-server-sidecar/hosts: ${data.host}:3000/metrics
    io.sherlock.metrics.ch-server-sidecar/module: prometheus
    io.sherlock.metrics.ch-server-sidecar/namespace: sherlock
    io.s

[2020-12-28 14:44] zhouqiang-cl commented on #1331
@912988434 DNS Chaos is not included in v1.0.3, it in latest version(master branch)

[2020-12-29 02:26] #1115 closed

[2020-12-29 03:00] #1305 closed

[2020-12-29 03:28] zhanghuidinah opened #1334 "Support dashboard page edite, not only through yaml"
## Feature Request

**Is your feature request related to a problem? Please describe:**

- When the Chaos Mesh is used by multiple people in other projects, some users in other projects may not know exactly what yaml config should be written, because it is created in the dashboard, can it support changes on the page like creation as shown below.

![image](https://user-images.githubusercontent.com/3

[2020-12-29 06:09] STRRL commented on #1329
Hi @liwanxue, I have a try based on docker image `yandex/clickhouse-server`, it seems the file `tmp_fetch_x_x_x` is not created by process `clickhouse`.

I think "it" refers to a process that is not `clickhouse`, and this process executes as "root".

If you could figure out which process will create file `tmp_fetch_x_x_x`, you could run it with `gosu` like clickhouse doing.

[2020-12-29 06:22] liwanxue commented on #1329
I'm 100% sure tmp_fetch_x_x_x is created by clickhouse process.
When injected iochaos, **toda** process started as root. it will mirror all file operations which happened in clickhouse process.
So, you can see the tmp_fetch_x_x_x is created by toda.

[2020-12-29 06:59] g1eny0ung commented on #1334
If I understand correctly, this feature request is about `Update Experiment`?

On the experiment detail page, there already has a YAML viewer like the below image:

![image](https://user-images.githubusercontent.com/15034155/103264498-d122f680-49e5-11eb-944a-ff5f73d26278.png)

And...This feature is only available in the latest version...the old `v1.0.x` only has a rudimentary, temporary JSON edito

[2020-12-29 07:14] #1254 closed

[2020-12-29 11:20] STRRL commented on #1329
Hi @liwanxue, could you give me any documents about file `tmp_fetch_x_x_x`, or how to let clickhouse generate this file?

I let clickhouse runs alone for about 30 mintues, and I failed to reproduce this issue, and no file called `tmp_fetch_x_x_x` created.

[2020-12-30 01:11] #1116 closed

[2020-12-30 02:48] liwanxue commented on #1329
oh, here an example to generate this file
`CREATE DATABASE sherlockio`
`CREATE TABLE sherlockio.sherlock_test_buffer (`__name__` String, `unixtime` DateTime('Etc/UTC'), `__value__` Int8 DEFAULT CAST(1, 'Int8'), `colo` Nullable(String), `count` Nullable(Int64), `sum` Nullable(Int64)) ENGINE = Buffer('sherlockio', 'sherlock_test', 2, 2, 10, 10000, 100000, 1000000, 100000000)`
`CREATE TABLE sherlocki

[2020-12-30 04:16] STRRL commented on #1329
Hi @liwanxue, I startup a clickhose cluster with docker-compose based on `tetafro/clickhouse-cluster`, I had executed your given query successfully. But still failed to reproduce this issue, and the file is different from your situation:

[code]

On my machine, I noticed here is a directory called "20201230_0_0_0" created, the name is different, and the permission is under expectation.

Could you

[2020-12-30 04:44] YangKeao commented on #1329
@STRRL

No. `toda` will actually create files (to mirror the operation on the filesystem), but it will set the owner and the group correctly ([here](https://github.com/chaos-mesh/toda/blob/c2dc371576e3f0552a979f735853aadb8c9b3b67/src/hookfs/mod.rs#L1145-L1147)).

[2020-12-30 05:41] STRRL commented on #1329
Oh, I think my words bring ambiguity. 🙈

`toda` will not create extra files which out of your operation.

[2020-12-30 06:00] liwanxue commented on #1329
tmp_fetch file is created when clickhouse have replications, but I do see there are file was created by root
[code]

[2020-12-30 06:10] STRRL commented on #1329
Hi @liwanxue, I think I had reproduced a similar issue:

I inject IOChaos **before** create database and table,  the directory `/var/lib/clickhouse/metadata` has wrong permission.

[code]
I am working on this.  😁

[2020-12-30 09:22] g1eny0ung commented on #1331
@912988434 Sorry for making you confused about this. We inadvertently moved out what was supposed to be the latest document, and it has now been fixed.

[2020-12-30 12:07] fewdan commented on #1170
@leafsax
I tried "public and private" and found that there is still no problem.

Could it be a setting problem during "Create compute"?   It seems that network configuration is also involved [here](https://docs.aws.amazon.com/eks/latest/userguide/getting-started-console.html#eks-launch-workers).

![image](https://user-images.githubusercontent.com/16437100/103350216-335d2380-4ada-11eb-9ab4-c0f5d384

[2020-12-30 14:44] leoncard opened #1338 "Dynamic Chaos Test & Test Duration"
## Question

Hello, we've been doing a couple of tests using Chaos Mesh. We noticed that the scope of the test is limited to the pods that are up when the test begins, i.e. if a new pod is instantiated, while the test is running, this new pod won't be covered. Do you intend implement anything in the future that would cover pods instantiated after the test begins?

Besides that, we tried to do a me

[2020-12-30 15:33] YangKeao commented on #1338
For the first question: dynamically injecting chaos could be really cool (and intuitive)! There are a lot of related issues like #799, #962 and #908 . However, we haven't came up with a clear implementation :crying_cat_face:, as watching the creation / deletion of every pod is unrealistic for a big enough cluster. And the random selector is also a barrier to this feature (as described in https://g

[2020-12-30 15:43] YangKeao opened #1339 "Some issues shouldn't be closed by time"
The github bot has marked a lot of issues to stale and closed them automatically. However, some valuable and unresolved issues are closed. I think an issue should be marked as `stale` iff it's a bug report and we haven't received enough information to reproduce it. For other situations, like feature request, we could close it or reference to another tracking issue manually (or just left it open, r

[2020-12-30 16:23] leoncard commented on #1338
Thanks for the quick reply :)
Dynamic test would help us a lot, I hope you guys are able to support it in the future.
And yeah you were right, it was the oom killer messing with the `stress-ng` process :)

[2020-12-31 02:58] zhouqiang-cl commented on #1339
Make sense. @cwen0 could you please adjust some stale rules?

[2020-12-31 12:38] g1eny0ung commented on #1339
The stale bot has a `exemptLabels` field to make the issue consider to never as stale. We can use it to meet our needs.

[2021-01-01 01:07] #1070 closed

[2021-01-04 01:08] #1082 closed

[2021-01-04 11:45] #1329 closed

[2021-01-05 02:36] 912988434 commented on #1331
thanks

[2021-01-05 02:36] #1331 closed

[2021-01-05 03:30] WangXiangUSTC opened #1348 "dashboard support https"
## Feature Request

**Describe the feature you'd like:**

Now the HTTP request contains token, so need to support HTTPS for security.

[2021-01-05 10:29] g1eny0ung opened #1352 "Need a debugging tutorial"
## Feature Request

### **Is your feature request related to a problem? Please describe:**

For a long time, except for GitHub issues, we have been using an IM communication method to try to help users solve problems they encountered. As the number of users increases, all our contributors inevitably help users solve various problems. We need to guide them to provide some log information (And how t

[2021-01-05 22:40] ereOn opened #1353 "StressChaos injects stress only in the first container, not all of them."
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.12-eks-7684af", GitCom

[2021-01-06 01:08] #1081 closed

[2021-01-06 02:58] WangXiangUSTC commented on #1353
Thanks
1. Only one container received the CPU load, I will investigate this issue.
2. What new features do you want to develop for `chaosctl`?

[2021-01-06 03:36] WangXiangUSTC commented on #1353
Now the stress chaos can only choose one container(default: the first one) to inject chaos, and you can specify the container by container name.
![image](https://user-images.githubusercontent.com/5793595/103726249-67bd6c00-5013-11eb-9baf-9fe700bfae6a.png)

[2021-01-06 03:39] WangXiangUSTC opened #1354 "chaos target support more than one container"
## Feature Request

**Is your feature request related to a problem? Please describe:**
https://github.com/chaos-mesh/chaos-mesh/issues

**Describe the feature you'd like:**

Now can only choose one container in Pod to inject chaos, need to support specify more than one container.

[2021-01-06 03:40] WangXiangUSTC commented on #1353
Create an issue for it, we will implement it later https://github.com/chaos-mesh/chaos-mesh/issues/1354

[2021-01-06 06:25] WangXiangUSTC opened #1357 "IOChaos cann't work on Alibaba Cloud Linux"
## Bug Report

**What version of Kubernetes are you using?**

1.18.8-aliyun.1

**What did you do?**

execute IOChaos

**What did you expect to see?**

Inject success

**What did you see instead?**

meet error on chaos-daemon:

[code]

[2021-01-06 06:30] YangKeao commented on #1357
TimeChaos and IOChaos may fail to work, because the kernel config `CONFIG_CROSS_MEMORY_ATTACH` is not set in the alibaba could linux.

[2021-01-06 06:32] WangXiangUSTC opened #1358 "TimeChaos can't work on Alibaba Cloud Linux"
## Bug Report

**What version of Kubernetes are you using?**

1.18.8-aliyun.1

**What did you do?**

apply TimeChaos use Chaos Mesh v1.0.3

**What did you expect to see?**

inject success

**What did you see instead?**

meet error in chaos-daemon

[code]

**Output of chaosctl**

[2021-01-06 06:33] WangXiangUSTC commented on #1358
It seems that  `https://golang.org/pkg/syscall/#Syscall6` is not implemented on this system

[2021-01-06 06:38] YangKeao commented on #1357
I have opened an issue for `cloud kernel` https://github.com/alibaba/cloud-kernel/issues/15

[2021-01-06 06:40] YangKeao commented on #1358
The same reason with https://github.com/chaos-mesh/chaos-mesh/issues/1357 , syscall number 311 `process vm writev` is not implemented due to the lack of compiling config `CONFIG_CROSS_MEMORY_ATTACH`.

[2021-01-06 06:41] YangKeao commented on #1357
For IOChaos, the replacer should have failed. But the log showed that it failed on umounting (the recover logic) :cry: . I will test and find the bug in error handling.

[2021-01-06 08:04] STRRL opened #1359 "Could not execute `make config` as expected"
## Bug Report

It's an issue within the development. When I run `make config`, yaml files do not regenerate as expected.

[code]

The key log is
[code]

Way to reproduce this issue:
- Already install `controller-gen` before clone the chaos-mesh git repo.

Here is a directory called `config`, `make` think `config` and `$(GOBIN)/controller-gen` are both recipes. When the modification time of `$(GOBI

[2021-01-06 08:35] chenzhenyang opened #1361 "Error: Specified qdisc not found."
chaos-daemon container logs
[code]

dashboard:
[code]

[2021-01-06 08:52] nirutgupta opened #1362 "How to install chaosmesh on specific kubeconfig?"
Hi is there any way to install chaos mesh on specific kubernetes cluster? Consider a fact that I have multiple kubeconfig files and I need to select one to install on.

[2021-01-06 08:53] nirutgupta commented on #1362
the single command which i am talking about is install.sh script which you guys have.
https://mirrors.chaos-mesh.org/v1.0.3/install.sh

[2021-01-06 09:13] #1359 closed

[2021-01-06 09:31] #961 closed

[2021-01-06 10:11] WangXiangUSTC commented on #1362
You need to switch the context by `kubectl config use-context`, or change your `~/.kube/config` file.

[2021-01-06 10:13] WangXiangUSTC commented on #1361
this issue is duplicate with https://github.com/chaos-mesh/chaos-mesh/issues/1224

[2021-01-06 10:17] WangXiangUSTC commented on #1361
I will close this issue, you can try to use the method provided in the issue above to fix it, and you can reopen this issue again if it doesn't work.

[2021-01-06 10:17] #1361 closed

[2021-01-06 12:17] #1362 closed

[2021-01-06 16:16] Yiyiyimu opened #1364 "feat: make a common pod manager to replace podio(network)chaosmanager"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Currently, there are two separate podXXchaosmanager for io chaos and network chaos. However, the implementation of them ( [io](https://github.com/chaos-mesh/chaos-mesh/blob/3d3cd87c5448655f8aac9d3115050d82374e66c4/controllers/iochaos/podiochaosmanager/podiochaosmanager.go), [network](https://github.com/chaos-mes

[2021-01-06 16:31] ereOn commented on #1353
Thank you. I will follow the newly created issue.

[2021-01-06 16:31] #1353 closed

[2021-01-07 01:12] #918 closed

[2021-01-07 01:12] #1096 closed

[2021-01-07 03:04] WangXiangUSTC commented on #1364
could you please provide the tests you do? Maybe you can create a pr with label `WIP` for it.

[2021-01-07 03:18] STRRL opened #1365 "providing a better development/debugging experience"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

When I develop features like "Workflow", I finally finished the most of works, I found that it's hard to execute my codes, there are several problems that affect the development experience:

- When I want to execute chaos-controller, I need other components already be

[2021-01-07 05:02] YangKeao commented on #1357
I want to know whether this `toda` is executed with `nsexec`? (with chaos mesh 1.0.3 or master )

The error behavior is unexpected, `toda` should print the same error with TimeChaos (syscall not implemented), but not try to recover.

[2021-01-07 05:11] YangKeao commented on #1364
I have tried to construct a common `podXXchaosmanager` in two ways: reflect and code generation.

`reflect` is a easy but dangerous method, which may cause runtime error and hard to review, so I prefer code generation. But code generation and type analysis (through [types](https://golang.org/pkg/go/types) pkg) is much harder (but interesting) to write than `reflect`.

Do you have a better idea on

[2021-01-07 05:13] WangXiangUSTC commented on #1357
IoChaos can't work on Alibaba Centos too, same error log

[2021-01-07 06:30] YangKeao commented on #1357
I have found the problem: after applying IOChaos, some threads are not detached succesfully (though the system call returns without error).

I have checked the `TracerPid` through `procfs`:

[code]

Then, the next time we will try to `ptrace` attach them, will get an `EPERM` error, as they have been traced :crying_cat_face:

[2021-01-07 06:55] YangKeao commented on #1357
A primary guess is that the former `waitpid` failed, so that when `toda` tried to detach the process, it hasn't been stopped yet, so the `detach` failed (`ESRCH` was returned, however, it was ignored).

[2021-01-07 07:52] #1339 closed

[2021-01-07 07:53] YangKeao commented on #1357
A simple example can show the difference between CentOS 3.10 and current kernel:

[code]

Run with `sudo ./a.out $(ls /proc/$(pgrep main)/task)`. Then it will success in current kernel:

[code]

But fail in CentOS:

[code]

[2021-01-07 08:33] YangKeao commented on #1357
It seems that `wait` syscall doesn't change much between 3.10 and current version, as you can see:

https://github.com/torvalds/linux/blob/8bb495e3f02401ee6f76d1b1d77f3ac9f079e376/kernel/exit.c#L1513

and

https://github.com/torvalds/linux/blob/71c061d2443814de15e177489d5cc00a4a253ef3/kernel/exit.c#L1442

[2021-01-07 09:06] YangKeao commented on #1357
Oops! I found it! It's caused by a kernel "bug" https://github.com/torvalds/linux/commit/bf959931ddb88c4e4366e96dd22e68fa0db9527c . And it's fixed in `4.7-rc1`

[2021-01-08 07:03] WangXiangUSTC commented on #1357
fixed in https://github.com/chaos-mesh/chaos-mesh/pull/1367

[2021-01-08 10:53] cwen0 opened #1376 "Integration test failed"
## Bug Report

PR: #1373

![image](https://user-images.githubusercontent.com/22956341/104006981-347d0780-51e2-11eb-9db8-3721a84afe94.png)

[2021-01-09 21:20] yeya24 commented on #193
Closed by accident. Still valid and help wanted.

[2021-01-10 11:11] yinhongzhao6688 opened #1379 "scheduler not on cron"
When a scheduled cron experiment is applied, the experiment runs immediately;

[2021-01-10 11:15] yinhongzhao6688 opened #1380 "In dashborad stresschaos cannot distinguishes between cpu and memory types"
When configuring stresschaos in the dashbord  interface, it is not possible to distinguish between cpu and memory types

[2021-01-10 11:16] fewdan commented on #1379
@yinhongzhao6688
Hi, would you please tell us the yaml of creating the chaos? Or would you please tell us how you created the chaos (yaml or dashboard)?

[2021-01-11 03:45] YangKeao commented on #1379
@fewdan It's a bug on current `twophase` reconciler. See the discussion under https://github.com/chaos-mesh/chaos-mesh/pull/1221 .

https://github.com/chaos-mesh/chaos-mesh/pull/1286 is fixing this problem,

[2021-01-11 04:30] Yiyiyimu commented on #1364
@WangXiangUSTC I only tried with `reflect`, but it made the code too messy with a lot of type switch, which makes it too intentional. I don't like it that much so I didn't commit it.

And yes I do have that worry about using code generation. @YangKeao Your explanation presents it pretty well! I could take care of it when I got time with it.

[2021-01-11 04:30] Yiyiyimu commented on #1364
/assign

[2021-01-11 04:56] fewdan commented on #1380
Let me have a look.

[2021-01-11 13:05] GoneLikeAir opened #1383 "On inner_sudo_command branch, StressChaos don't work"
## Bug Report

**What version of Kubernetes are you using?**
kubernetes v1.16.6

**What did you do?**
I have run stresschaos as what example shows, a burn-cpu stress job.

**What did you expect to see?**
I hope that it works fine and raise up the cpu load.

**What did you see instead?**
It didn't work on inner_sudo_command. I have check the log of daemon and I had seem as follow:
_INFO    chaos-da

[2021-01-11 13:15] YangKeao commented on #1383
The reason is that the `chaos-daemon` failed to send a `SIGCONT` to the `sudo` program, because of permission error. Obviously, the `sudo` program is started as `root` owner, so the `chaos-daemon` with normal user cannot send signal to it.

We can not also `sudo kill`, because `sudo` will not bypass the signal to its child when the signal came from the same process group (see [the code in sudo](ht

[2021-01-12 03:32] WangXiangUSTC opened #1384 "dashboard return error database is locked"
## Bug Report

**What version of Kubernetes are you using?**

1.18, chao mesh version 1059e153f4ba633d139975787205c8b90268f3a4

**What did you do?**

use Dashboard create experiments and see the details

**What did you see instead?**

![mmexport1610422175582](https://user-images.githubusercontent.com/5793595/104265905-8fa44800-54c9-11eb-95bd-1d44fe1e5d56.png)

[2021-01-12 03:33] WangXiangUSTC commented on #1384
it seems that the error is returned by sqllite

[2021-01-12 07:06] douxiaoniu77 opened #1385 "How can chaos-mesh be installed in intranet eaily?"
## Question
According to the chaos-mesh wiki or doc,  it is required to download script or file from git or mirrors,  and it is difficult to do that in intranet.  Comparing with another tool chaos-blade, which could be installed easily in intranet via operator image, is chaos mesh supported by that?  Or is there any way to install chaos-mesh in intranet more easily?   Would you please kindly have

[2021-01-12 07:17] YangKeao commented on #1385
Preload `pingcap/chaos-mesh`, `pingcap/chaos-daemon`, `pingcap/chaos-dashboard` and `pingcap/coredns` to the registry in intranet, and installing through helm while specifying the image by `--set controllerManager.image=xxxxx/pingcap/chaos-mesh  --set chaosDaemon.image=xxxxx/pingcap/chaosDaemon  ...`.

Maybe we should provide easier ways to modify the registry of every images rather than specify t

[2021-01-12 07:47] cwen0 commented on #1385
Yes, We can abstract a registry flag to define it.

[2021-01-12 10:43] YangKeao commented on #1364
Or a patch instead of `transaction` could be better? But I don't know what will happen if the merge key is the same as delete key, e.g.

[code]

[2021-01-12 11:59] douxiaoniu77 commented on #1385
Thanks for y

Thanks for your suggestions!
Now pingcap/chaos-mesh, pingcap/chaos-daemon images could be found and pulled to my local, however I could not find the image of pingcap/chaos-dashboard,  then I'd like to build the image locally, but ran into another issue with following error.   Would you please help to give some suggestions?

Step 11/11 : COPY bin/chaos-dashboard /usr/local/bin/chaos-d

[2021-01-12 12:11] YangKeao commented on #1385
@douxiaoniu77 Why the `pingcap/chaos-dashboard` cannot be found? https://hub.docker.com/r/pingcap/chaos-dashboard

If you want to build the image locally, run `make UI=1 SWAGGER=1 image-chaos-dashboard`

[2021-01-13 03:12] WangXiangUSTC opened #1388 "dashboard: can't reset the target information"
## Bug Report

**What version of Kubernetes are you using?**

1.18, chaos mesh version v1.1

**What did you do?**

1. create `networkchaos` experiment, set the target to `loss`, and set the value to 10ms(wrong value, should be 10)
2. submit the experiment, and return error `parse loss field error:strconv.ParseFloat: parsing "10ms": invalid syntax`
3. modify the target, set the target to `delay`, a

[2021-01-13 03:22] WangXiangUSTC opened #1389 "NetworkChaos: Specified qdisc not found"
## Bug Report

**What version of Kubernetes are you using?**
v1.18, chaos mesh version v1.1

**What did you do?**

create `networkchaos` with action `delay`, the value is 50s

**What did you expect to see?**

can work success

**What did you see instead?**

the chaos seems not to work, the latency is less than 1s.

and can't find error log in  controller-manager, find error log in `chaos-daemon`:

[2021-01-13 03:29] WangXiangUSTC commented on #1389
it is due to the system lack of some kernel module, for NetworkChaos, require the module NET_SCH_TBF, NET_EMATCH_IPSET, NET_CLS_BASIC, NET_SCH_NETEM, NET_SCH_PRIO, NET_SCH_SFQ.

[2021-01-13 03:30] WangXiangUSTC commented on #1361
refer to https://github.com/chaos-mesh/chaos-mesh/issues/1389

[2021-01-13 06:41] #1380 closed

[2021-01-13 06:56] douxiaoniu77 commented on #1385
Thanks again, YangKeao！
It works now, not sure why it wasn't listed yesterday when searched.

[2021-01-13 07:39] g1eny0ung commented on #1334
Close due to `v1.1.0` released.

[2021-01-13 07:39] #1334 closed

[2021-01-13 09:32] douxiaoniu77 commented on #1385
@YangKeao   Would you please help on my another question?   Most scenarios supported by chaos-mesh are focused on the application on k8s platform，eg pod killing, pod cpu burn and so on.   Will more chaos scenario be supported for k8s clusters or k8s platform? like master or worker node crash,  infrastructure chaos.

[2021-01-13 09:43] YangKeao commented on #1385
@douxiaoniu77

It would be really cool to inject chaos on that level. However, `chaos-mesh` depends on the kubernetes to communicate with its components, so it would be hard to make sure it will recover after the chaos. We haven't came up with a good idea on how to implement it :crying_cat_face: .

[2021-01-13 10:28] cwen0 opened #1395 "Release: v1.2.0"
## New Feature & Enhancements

- [x] Support JVMChaos #1264
- [ ] Support HTTPChaos
- [x] Support AWSChaos
- [x] Support opening privilege filed for chaos daemon by an easier way
- [x] Support CRI-O #1530
- [x] Use tls mutual authentication for chaos-daemon #1504
- [x] Support batch deletion of experiments and archives #1723

## Major Bug Fixes

## Release Date

2021.02 - 2021.03

If you have some

[2021-01-13 11:50] STRRL opened #1397 "refine chaosctl: improve logging and init behavior"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When `chaosctl` can not fetch kubernetes config, it will exit **without any logging**, even only with `--help`.

**Describe the feature you'd like:**

- lazy initialize kubernetes clients, do not init client at `func init(){}`
- print more logs(to stderr)

**Describe alternatives you've considered:**

It's an i

[2021-01-13 12:33] STRRL opened #1400 "chaosctl exit withiout query full expected pods"
## Bug Report

`chaosctl` should follow the "best-efforts" pattern.

**What version of Kubernetes are you using?**

**What did you do?**

- create a deployment with replica:3
- create NetworkChaos with mode: one
- Try using `chaosctl debug networkchaos`

**What did you expect to see?**
`chaosctl` could tell me the netem/iptables/ipset detail of certain one pod which injected chaos.

**What did you

[2021-01-13 17:00] leoncard opened #1401 "Network Chaos TCP"
## Question

Hello, I'm trying to block all connections from `myapp` service which lives in Kubernetes, to `myexternalhost`, which is external to Kubernetes. The http connections are being blocked as expected,, but the tcp are still going through, for instance I can still telnet to `myexternalhost` from within `myapp` pod. Does the Network Chaos only allow to break http requests?

I am sending the

[2021-01-14 05:12] YangKeao commented on #1401
It seems that the `NetworkChaos` is paused now. Are you sure it's not paused when you are testing with `telnet`?

I don't think there are any different between a HTTP request or other TCP connections (as the netem qdisc works on layer 3, ip packets). What is the output of `telnet`? Are you sure the `telnet` TCP connection is established? For example, you can send a simple HTTP request with `telnet

[2021-01-14 06:52] liwanxue opened #1403 "ls shows error "Invalid argument" after ingest IOChaos"
## Bug Report

**What version of Kubernetes are you using?**
v1.15.7

**What did you do?**
after ingested iochaos,

Bash shows:

root@chi1-events-1-0-0:/# ls -lah  /var/lib/clickhouse/data/
**ls: /var/lib/clickhouse/data/: Invalid argument**
total 32K
drwxr-x---  6 clickhouse clickhouse 4.0K Jan 14 06:26 .
drwxr-xr-x 10 clickhouse clickhouse 4.0K Jan 12 07:25 ..
drwxr-x---  2 clickhouse clickhouse

[2021-01-14 06:53] liwanxue commented on #1403
The issue I submitted before: https://github.com/chaos-mesh/chaos-mesh/issues/1329

[2021-01-14 07:03] liwanxue commented on #1403
BTW, I am not sure if this is similar issue:

My application write data to those disks. __chaosfs__xxx works good. but original path doesn't.
root@chi1-events-0-0-0:/# ls -alh /var/lib/__chaosfs__clickhouse__/data/sherlockio/sherlock_test/20210112_6_6_0
total 104K
drwxr-x--- 2 clickhouse clickhouse 4.0K Jan 12 10:28 .
drwxr-x--- 9 clickhouse clickhouse 4.0K Jan 12 10:28 ..
-rw-r----- 1 clickhouse

[2021-01-14 08:04] STRRL opened #1404 "port-forwarding in chaosctl does not play well with in-cluster kubernetes config"
## Bug Report

As coments in https://github.com/chaos-mesh/chaos-mesh/pull/1392#issuecomment-759298307.

**What version of Kubernetes are you using?**

[code]

**What did you do?**

I want to run `chaosctl` in this pod: `chaos-controller-manager`.

- initial workload: `k apply -f https://raw.githubusercontent.com/paulbouwer/hello-kubernetes/master/yaml/hello-kubernetes.yaml`
- create an stresschao

[2021-01-14 09:26] wuxiaohui94 commented on #1395
I want to know what the HTTPChaos does. Is Mock Server?

[2021-01-14 16:01] zhouqiang-cl commented on #1395
@Andrewmatilde PTAL

[2021-01-14 17:16] leoncard commented on #1401
Hello, thanks for the reply.

TCP is getting blocked as expected.

I think something was misconfigured as I was trying to telnet to myexternalhost.ext and the connection was still going through, where it should be blocked.

 I repeated the very same test today and it started working for the services I would like to test.

 After that I've completely purged chaos mesh and installed it again, after

[2021-01-14 17:44] fewdan opened #1408 "support containerName selector"
Now it is not possible to obtain the pod list based on the containerName, this function can be added.

[2021-01-15 02:38] STRRL commented on #1401
Hi @leoncard, dose domain `myexternalhost.ext`  have stable DNS records?

When we use a domain name for externalTargets, chaos-mesh will query this domain from DNS, then add it's IP(s) to a certain ipset for filtering network packets.

[2021-01-15 05:35] cwen0 opened #1409 "Dashboard returned an error"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Create container-kill chaos -> paused -> restart -> paused

**What did you expect to see?**

All is ok

**What did you see instead?**

<img width="1136" alt="WeChatWorkScreenshot_d1e77ced-f31c-4574-9902-f634d7199a3a" src="https://user-images.githubuserc

[2021-01-15 08:08] WangXiangUSTC commented on #1384
fix in https://github.com/chaos-mesh/chaos-mesh/pull/1411

[2021-01-15 12:53] yinhongzhao6688 commented on #1379
thanks

[2021-01-15 13:34] torblerone opened #1414 "dashboard: Expired tokens cannot be deleted"
## Bug Report

**What version of Kubernetes are you using?**
`Server Version: version.Info{Major:"1", Minor:"17+", GitVersion:"v1.17.15-gke.800", GitCommit:"fa6f8f9671a3ba4b1790bac677bb72b04204e8fc", GitTreeState:"clean", BuildDate:"2020-12-21T09:19:13Z", GoVersion:"go1.13.15b4", Compiler:"gc", Platform:"linux/amd64"}
`

**What version of Chaos Mesh are you using?**
`Controller manager Version: ve

[2021-01-17 02:21] #1384 closed

[2021-01-18 02:15] liwanxue commented on #1403
any update? @YangKeao @STRRL

[2021-01-18 02:29] STRRL commented on #1403
Hi @liwanxue , we are still working on that.

[2021-01-18 04:33] STRRL commented on #1414
PTAL @g1eny0ung

[2021-01-18 05:24] g1eny0ung commented on #1414
@torblerone I test in my local machine. Nothing seems unusual. Have you try to delete it by clicking this button as the below image:

![image](https://user-images.githubusercontent.com/15034155/104875230-bbbf3d80-598f-11eb-97ca-7ff34b3effd9.png)

BTW, I think the set the tokens expired is a good enhancement. I will try to implement it in the later versions.

[2021-01-18 07:04] torblerone commented on #1414
@g1eny0ung I must've been blind as this button is also visible in my screenshot..

Nevertheless, thank you for considerating expering tokens. Shall I open a new issue for that enhancement?

[2021-01-18 07:24] g1eny0ung commented on #1414
Sure. It's better to record it to prevent we forget it.

[2021-01-18 07:43] Andrewmatilde commented on #1395
It will be a transparent proxy live in the pod network namespace and rewrite | drop | block the selected http request/responses.

[2021-01-18 10:38] torblerone opened #1421 "Dashboard: Make Tokens expirable"
## Feature Request

**Is your feature request related to a problem? Please describe:**
In our company, we use expiring kubernetes tokens for several reasons. Every day when I open the Chaos Mesh Dashboard, I need to enter a new token.

**Describe the feature you'd like:**
I'd like to mark new entered tokens as expirable, so it automatically gets deleted after a certain amount of time (e.g. 24 hour

[2021-01-18 10:39] torblerone commented on #1414
@g1eny0ung New feature request is opened on https://github.com/chaos-mesh/chaos-mesh/issues/1421

[2021-01-18 10:39] #1414 closed

[2021-01-18 10:53] torblerone opened #1422 "Can't delete or pause a flawed TimeChaos experiment"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I created a TimeChaos experiment to run on a certain app in a certain namespace:

[code]

**What did you expect to see?**
I wanted to check if TimeChaos worked in our k8s cluster, as below screenshot shows it apparently didn't work yet, perhaps some miscon

[2021-01-19 01:30] #242 closed

[2021-01-19 06:09] STRRL commented on #1389
Hi @WangXiangUSTC , how's going on about this issue? Is it resolved by updating the kernel?

[2021-01-19 06:23] WangXiangUSTC commented on #1389
Yes,  updating the kernel can resolve it, I will close this issue

[2021-01-19 06:23] #1389 closed

[2021-01-19 06:25] STRRL commented on #1376
Closed by #1373

[2021-01-19 06:25] #1376 closed

[2021-01-19 07:32] laixintao opened #1424 "Can chaos-dashboard dashboard show current version?"
## Feature Request

It would be better if the web ui (chaso-dashboard) of chaos-mesh can show a version number at the bottom.

**Describe alternatives you've considered:**
Or we can show the version number near by chaso-mesh logo?

**Teachability, Documentation, Adoption, Migration Strategy:**
Just want to know which version of chaos-mesh we are currently running..

[2021-01-19 08:26] g1eny0ung commented on #1424
Good idea! I will implement this feature.

[2021-01-20 07:31] YangKeao commented on #1403
We have fixed tons of bugs for the filesystem. It seems that this problem has been fixed in #1423. We will release a `1.1.1` version in recent days (or you could try the master version after it gets merged :yum: )

[2021-01-20 08:12] liwanxue commented on #1403
sure, I will try and get back to you. Thanks!

[2021-01-20 09:14] STRRL commented on #1422
Hi @torblerone, I could not reproduce your issue on my local cluster(chaos-mesh 1.0.1 with minikube).

I guess there is something goes wrong with the network.

I suggest you upgrade to 1.0.3, this release takes a optimize with connections between chaos-controller-manager and chaos-daemon.

If you still have this issue, please let us know!

[2021-01-21 06:52] YangKeao opened #1431 "Security issue about the `chaos-daemon`"
`chaos-daemon` doesn't have any authentication mechanism, which means any client in the cluster could modify the iptables and ipset config / cause stress / inject IO latency for nearly all the pods.

gRPC with server side SSL/TLS authentication is enough. However, it may break the `chaosctl` (which is definitely an evidence for the risk), or we need to distribute the certificate to it (or it can p

[2021-01-21 08:52] liwanxue commented on #1403
Build image with latest code, and upgrade chaos-mesh deployment and chaos-daemon daemonset in k8s cluster.
I still can see error from clickhouse side as below.
2021.01.21 08:48:48.589015 [ 37 ] {} <Error> DB::MergeTreeDataPart::~MergeTreeDataPart(): Poco::Exception. Code: 1000, e.code() = 13, e.displayText() = Access to file denied: /var/lib/clickhouse/data/sherlockio/sherlock_test/tmp_insert_2021

[2021-01-21 08:54] liwanxue commented on #1403
And still same error in toda.
`[2021-01-21 08:48:59.532314 +00:00] ERROR [fuser::channel] /root/.cargo/registry/src/github.com-1ecc6299db9ec823/fuser-0.6.0/src/channel.rs:194: Failed to send FUSE reply: Invalid argument (os error 22)
[2021-01-21 08:48:59.532138 +00:00] ERROR [fuser::channel] /root/.cargo/registry/src/github.com-1ecc6299db9ec823/fuser-0.6.0/src/channel.rs:194: Failed to send FUSE r

[2021-01-21 09:00] marvinlchen opened #1435 "stresschaos-cpu label selector wrong behavior"
## Bug Report

**What version of Kubernetes are you using?**
[code]
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
[code]

**What did you expect to see?**
only one stress-ng should be found

**What did you see instead?**
a lot of stress-ng process
![image](https://user-images.githubusercontent.com/48372495/105327548-f8966900-5c09-11eb-8ddb-6b11a07d8b6c.png)

**O

[2021-01-21 09:05] torblerone commented on #1422
Hey @STRRL, thanks for your advise, I'll try that!

[2021-01-21 09:28] YangKeao commented on #1403
@liwanxue Are you sure it's the latest code / image? Can you check the image id?

We have replaced the logging library and have a different log style, however, it's still the old style in your error message. In the latest version of Chaos Mesh, the first several lines of toda log would be like:

[code]

[2021-01-21 09:40] STRRL commented on #1435
Hi @marvinlchen, could you provide pods info about chaos-mesh components by `kubectl -n chaos-testing get pods -o wide`?

[2021-01-21 09:47] torblerone opened #1437 "Can't use NetworkChaos"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I created the following NetworkChaos experiment:

[code]

**What did you expect to see? What did you see instead?**
I expected the application (2 Pods of a Deployment) to answer with 4.5s of delay, but instead it is behaving totally normal.
The dashboard s

[2021-01-21 10:34] liwanxue commented on #1403
oh, sorry, I built wrong image. rebuild works. I didn't see error with latest image right now. Will continue testing to see if there are any other issues. Thank you all for help.

[2021-01-21 11:25] STRRL commented on #1437
Hi @torblerone, we found that your specified `direction: both`, it means only traffic between pods to pods could be effected by this chaos.

If you want to make chaos on every traffic to these pods, please use `direction: to`.

[2021-01-21 12:45] zhouqiang-cl commented on #1395
Cloud you post the doc link here?

[2021-01-21 13:36] g1eny0ung commented on #1258
In #1430, I try to resolve this problem by delay the data fetching after giving an operation on experiments. Now the UI should work as expected.

I will close this issue. Feel free to reopen it if u still have this question.

[2021-01-21 13:36] #1258 closed

[2021-01-21 15:07] torblerone commented on #1437
@STRRL Thank you for your advise, it looks like this finally works! :heart:

[2021-01-21 15:07] #1437 closed

[2021-01-21 17:11] kateryna-automation-hero commented on #1328
Our nodes of AWS EKS cluster had Ubuntu1804 OS. Now we migrated to Amazon Linux 2 and there is no more issues with Network Chaos.

[2021-01-22 02:41] liwanxue commented on #1403
found another issue in new version, I'm not sure if it's expected or not.
I try to `DROP TABLE sherlockio.sherlock_test`
but
2021.01.21 10:36:56.157064 [ 6 ] {e660499b-676b-4fe5-b9b9-9057f53a12fb} <Error> executeQuery: Poco::Exception. Code: 1000, e.code() = 2, e.displayText() = File not found: /var/lib/clickhouse/metadata/sherlockio/sherlock_test.sql (version 19.16.14.65 (official build) (from 0.

[2021-01-22 03:46] STRRL commented on #1403
Hi @liwanxue , I failed to reproduce this issue. 😰  Could you provide more detailed information for us? Such as:

- IOChaos CRD object
- number of lines of data in table `sherlockio.sherlock_test`
- If you could provide detailed SQL you executed is much better

And it seems this issue occurs when `toda` is trying to recover chaos. I also tried this situation, it will not reproduce this issue.

[2021-01-22 06:01] liwanxue commented on #1403
`apiVersion: chaos-mesh.org/v1alpha1
kind: IoChaos
metadata:
  name: chdiskdegrading
  namespace: default
spec:
  action: latency
  delay: 100ms
  mode: all
  path: /var/lib/clickhouse/data/**/**/**/**/*
  percent: 100
  containerName: clickhouse-server
  methods:
  - read
  - write
  selector:
    labelSelectors:
      clickhouse.altinity.com/chi: chi1
    namespaces:
    - default
  value: ""

[2021-01-22 14:32] torblerone opened #1446 "Dying Pods break NetworkChaos"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I've created three types of Chaos experiments: Pod Kill, Pod Failure and NetworkChaos.

**What did you expect to see?**
I expected that the daemons somehow talk to each other and inform themselves about their targets. Or at least the controller has some ki

[2021-01-22 14:44] torblerone commented on #1422
I've tried the new version, and at least I can pause/archive/delete TimeChaos now. Unfortunately, TimeChaos takes no effect on my containers, when I call `date` the container still gives me the right time and date.

[2021-01-23 04:06] YangKeao commented on #1422
Yes. TmeChaos will only affect the PID 1 process (and all tasks who shared memory with it). We haven't came up with a goid idea on injecting TimeChaos for all processes in a container (without time namespace)

[2021-01-25 03:44] douxiaoniu77 commented on #1385
Thank you for the comments, YangKeao!
Is there client for the chaos-mesh operator? Sorry to say I didn't find the operator client to call. You know, just for a test, I'd like to get the operator encapsulated using beego via calling client. Would you please help to give some suggestion?

[2021-01-25 06:23] #1400 closed

[2021-01-25 07:29] STRRL commented on #1446
Hi @torblerone, currently, this is the expected behavior of the combination of PodChaos of NetworkChaos. If you want to apply different chaos onto the same explosive area, we do not guarantee it's completable now.

As you mentioned, behaviors like "injecting Chaos A into some pods, then injecting Chaos B into rest pods" are kinds of specifications about chaos experiment targets. Unfortunately, we

[2021-01-25 08:39] YangKeao commented on #1385
@douxiaoniu77 You can use the resource type in API package `github.com/chaos-mesh/chaos-mesh/api/v1alpha1` and [the client in `controller-runtime`](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#New), it works well with the custom resource.

[code]

Or if you like, you could use the dynamic client of `client-go`, which use `unstructured` data.

[2021-01-25 08:58] YangKeao commented on #1446
I prefer to regard it as a `bug` until we fix it :anger: . @STRRL don't forget the `workflow` will provide the ability to easily spawn two chaos at the same time.

[2021-01-25 10:42] STRRL commented on #1446
I haven't figured out the reasonable behavior for this combination of more than one type of chaos. 🤔

Any suggestion? @YangKeao

[2021-01-25 11:38] douxiaoniu77 commented on #1385
Many thanks!

[2021-01-26 05:29] YangKeao opened #1450 "unexpected behavior of NetworkChaos Netem"
[code]

When the direction is both, all connection between all pods will be applied with `netem`, which is not expected.

For example, if the source is A, B, and the target is C, D, now the connection between A and B will also be affected by this chaos, but what we actually need is to only apply chaos between AC, AD, BC, BD.

[2021-01-26 08:50] torblerone commented on #1446
I didn't deep dive into the chaos-controller, but doesn't it hold some kind of information of Pods that are affected by certain type of chaos? You could block any new Chaos Experiment to run on those Pods by implementing a mechanism that "blocks" already affected Pods if I'm right.

![grafik](https://user-images.githubusercontent.com/64590448/105821652-60a6cf80-5fbb-11eb-80a0-e54f1149d931.png)

Ot

[2021-01-26 09:44] zhiqiang-xu opened #1452 "enable/disable Chaos mesh by specifying annotation or label at namespace level or deployment level."
## Feature Request

**Is your feature request related to a problem? Please describe:**

We don't want to specify namespaces to enable or disable ChaosMesh at installation time, which would require reinstallation every time.
Instead we prefer to enable or disable it after installation by specifying annotation or label at namespace level or deployment level.

**Describe the feature you'd like:**

**

[2021-01-27 03:27] #1424 closed

[2021-01-27 05:42] zhanghuidinah opened #1455 "Add sql_InjectionAttackChaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

- Database security issues must be considered.

**Describe the feature you'd like:**

- Enhance the security of the database in the face of injection attacks.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-01-27 05:46] #1326 closed

[2021-01-27 08:18] WangXiangUSTC commented on #1455
thanks for your suggestion, do you mean inject SQL like `'or 0 = 0 or'`?

[2021-01-27 08:32] marvinlchen commented on #1435
kubectl -n chaos-testing get pods -o wide
![image](https://user-images.githubusercontent.com/48372495/105964476-33dae100-60bd-11eb-8381-100ef3967cb5.png)

kubectl -n chaos-testing describe service chaos-daemon
![image](https://user-images.githubusercontent.com/48372495/105964440-29204c00-60bd-11eb-9026-40ced24030be.png)

[2021-01-27 08:43] STRRL opened #1457 "chaosctl debug networkchaos need resolve different time unit between second and millisecond"
## Bug Report

I inject a network delay as `delay: 4500ms`. But `tc qdisc` will print `4.5s`. `chaosctl` will mismatch the regex.

[2021-01-27 10:36] STRRL commented on #1435
Hi @marvinlchen, it seems ChaosMesh components work well.  As the logs say, the `NodeName` of the `web-show` pod.spec is an empty string. Does it happen something like evicting on your k8s cluster?

One more thing, could you reproduce this issue and provide the output of `kubectl -nchaos-testing describe stresschaos 263-cpu.yaml` for us? 🥺 It might be something useful in the event.

I still trying

[2021-01-27 10:46] marvinlchen commented on #1435
Hi, you can shorten the period `cron: '@every 24h'`. It is 100% reproducable on my machine.

[2021-01-27 10:48] STRRL commented on #1435
OK!

[2021-01-27 11:04] marvinlchen commented on #1435
Found how to reproduce it! If there is a pending pod, applying the yaml above, then there will be a lot of stress-ng-cpu.
![image](https://user-images.githubusercontent.com/48372495/105982157-e5840d00-60d1-11eb-96e0-29384309f9d0.png)

[2021-01-27 12:11] STRRL commented on #1435
oh! thanks a lot! We will take a look.

[2021-01-27 13:29] torblerone commented on #1446
I discovered that when we deploy a new version of a service (which happens very often, especially on DEV environment) and NetworkChaos is running concurrently, the NetworkChaos also breaks.

You probably can reproduce this by deploying a new image or similar to a Deployment while NetworkChaos is running with target on the current Pods (which have the old version and will be replaced e.g. on rollin

[2021-01-27 14:17] torblerone opened #1459 "Can't update StressChaos on Dashboard"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I've created StressChaos with a certain namespace/deployment target specification. After I monitored CPU/Mem usage in my Kubernetes Grafana dashboard and the Pods didn't fail, I thought I could turn up the stress a little more.

I opened the existing exper

[2021-01-27 21:28] bzurkowski opened #1460 "Progressive stress experiments"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Instead of emulating a stress scenario with a static stress volume (e.g., 80% of CPU load or 60% of memory load), I would like to apply a progressive stress strategy, i.e., emulate a gradual increase of the load (e.g., 10% load increase every minute).

Static stress is always reflected immediately after the exp

[2021-01-27 21:44] bzurkowski commented on #1460
I already looked into [stress-ng](https://wiki.ubuntu.com/Kernel/Reference/stress-ng) options but did not find anything relevant.

One approach that I see is to create many experiments, each with the same stress setup (e.g. 1 worker, 20% load) and each delayed with increasing intervals (10 seconds, 20 seconds, 30 seconds, ...). Overlapping experiments would generate increasing load.

[2021-01-28 03:10] zhanghuidinah commented on #1455
yes

[2021-01-28 03:10] zhanghuidinah commented on #1455
yes

[2021-01-28 07:00] WangXiangUSTC opened #1462 "Chaos Engineering as a Service"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The following problems currently exist in Chaos Mesh:

- Poor observability: the result of chaos experiments are not easy to observe and judge, the users need to check whether the Chaos effects.
- [Chaosd](https://github.com/chaos-mesh/chaosd)(for physic node) is too simple: only supports command line operation

[2021-01-28 09:37] STRRL opened #1465 "after change the set of target pods, stresschaos failed, and can not delete stresschaos anymore"
## Bug Report

I am not sure this issue only occurs on StressChaos, I have not tested on other types of chaos.

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

workload:
[code]

stresschaos:
[code]

- start up kubernetes cluster with minikube, install ChaosMesh 1.1.1 and apply workloads and stresschaos
- `k -n defa

[2021-01-28 14:26] YangKeao commented on #1446
Thanks for your reporting.

Yes. It's a known issue for us. `chaos mesh` didn't try to inject chaos for newly created pods. What's more, when a selected pod died, it didn't look for a new pod to fullfill its selector requirement (such as max percent requirement). It's definitely a bug of Chaos Mesh and will be fixed someday.

We have tried several times (and several pull requests) to fix this prob

[2021-01-29 05:53] shaowenchen opened #1467 "Get an empty value when LabelField loses focus"
## Bug Report

![](https://raw.githubusercontent.com/shaowenchen/testing/main/img/1.gif)

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

master

[2021-01-29 07:31] YangKeao commented on #1452
As there is an `allowedNamespace` field in the configuration, I don't think provide several different ways to do the same thing is good for a product (and will confuse both developers and users).

However, now, configuring `allowedNamespace` (and all other configuration) needs to reinstall Chaos Mesh, which is really disappointing.

To fix this problem, we could make this field (`allowedNamespace`

[2021-01-29 09:03] #1459 closed

[2021-01-29 09:47] #1467 closed

[2021-01-30 13:12] STRRL opened #1472 "Enriching AWS chaos"
Here is an overview of the plan for supporting more chaos about AWS.

We have already try to implement AWS Chaos like "stop/restart" EC2, but it still lacks e2e tests. Thanks to localstack, we could emulation the AWS API at the local machine. So we could write some test cases based on localstack.

Except for e2e tests, I think we could implement more chaos about AWS based services, such as S3 or D

[2021-01-30 16:55] fewdan commented on #1472
I think this is a very good idea!

[2021-01-30 20:49] DarthBenro008 commented on #1354
Hey There!
I have noticed currently Chaos-Mesh takes in only a single container name in spec, the first container if none is mentioned in spec otherwise whatever ContainerName is mentioned in the spec

https://github.com/chaos-mesh/chaos-mesh/blob/6d045300ab546a60ac2ba6896032eb9331fb24cb/controllers/stresschaos/types.go#L191-L204

For this feature to be implemented, are we planning to just inject

[2021-01-31 09:42] zerefwayne commented on #1283
Hello, @g1eny0ung I've been trying to use Chaos Mesh since past few weeks. I like the functionalities on the dashboard, just wanted to ask if improvements on ChaosMesh Dashboard can be a project in CNCF LFX Mentorship program?

[2021-02-01 02:40] WangXiangUSTC commented on #1354
Thanks! I think we can implement these two features: 1. inject into all containers 2. specify a set of container names
@cwen0 @YangKeao @zhouqiang-cl @STRRL  how about you?

[2021-02-01 03:04] g1eny0ung commented on #1283
Currently no. We are still exploring the ease of use of the dashboard, and perhaps in the future, we will disassemble more independent functions to provide to the LFX Mentorship program。

[2021-02-01 03:22] #1385 closed

[2021-02-01 05:30] YangKeao commented on #1354
Wow, really cool :beers: ! Some of these chaos are container-wise (like `StressChaos` and `IOChaos`) and some of them are pod-wise (like `NetworkChaos`). Could we have a unified way to call the implementation of them (rather than calling `SelectPods` or `SelectContainers` in the `Apply` functions.)

[2021-02-01 06:00] DarthBenro008 commented on #1354
@YangKeao maybe we could have a utility function, which takes in 3 parameters
- `Pod Name`
- `Type of Chaos to be injected`
- `List of Container names`

Then that function can apply that particular chaos to the required containers.
This util function can maybe be called from `types.go` of each Chaos Type that you had mentioned above.

[2021-02-01 06:41] zhuwenxing opened #1474 "using dashboard to update StressChaos experiment failed"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b

[2021-02-01 06:48] zhuwenxing opened #1475 "can't delete or pause the experiment if the pod of experiment has been deleted"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b

[2021-02-01 07:00] zhuwenxing opened #1476 "Total state's display problem"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**
all items can display well
**What did you see instead?**
![image](https://user-images.githubusercontent.com/12268675/106424942-05cf1580-649e-11eb-9ab9-51708be375dd.png)

**Output of chaosctl**

[2021-02-01 08:02] fewdan commented on #1476
@g1eny0ung PTAL.

[2021-02-01 08:02] fewdan commented on #1475
Understand, we will look at this issue.

[2021-02-01 08:03] fewdan commented on #1474
Ok, we will deal with this problem.

[2021-02-01 08:06] g1eny0ung commented on #1474
This problem has been fixed in #1461 (master) and #1471 (release-1.1).

[2021-02-01 08:21] #1404 closed

[2021-02-01 11:15] STRRL commented on #1475
similar issue, can not delete stresschaos after the set of pod changes, see  https://github.com/chaos-mesh/chaos-mesh/issues/1474

[2021-02-01 12:57] zhuwenxing opened #1478 "GPU fault"
## Feature Request

**Is your feature request related to a problem? Please describe:**

With the development of deep learning, GPU has become an important resource in software systems
**Describe the feature you'd like:**

GPU memory usage
GPU burnout
**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-02-02 02:50] cwen0 commented on #1478
@zhuwenxing This is a great idea. Are you interested to implement this feature?

[2021-02-02 14:50] csturgess93 opened #1482 "chaos-mesh grafana annotations are visible for all grafana datasources"
## Feature Request

Hi, we are using chaos mesh for some of our chaos testing and using the Grafana plugin to monitor. So far we are really enjoying it so far, it's great stuff!

We have a slight issue that isn't a problem with Chaos Mesh, but is something we were hoping to find a workaround for.

We use a Grafana Datasource variable with our K8S cluster values inputted. This means we can alternat

[2021-02-03 02:57] Gallardot commented on #1482
@yeya24  PTAL.

[2021-02-03 08:21] shivanshs9 commented on #1462
Hey @WangXiangUSTC, I'd like to work on these issues.

From what I understand, Prometheus integration (as described in your proposed new architecture) could help for that.

I'm not yet clear about the other two issues. Could you please elaborate on those?

[2021-02-03 08:33] WangXiangUSTC commented on #1462
Welcome! Yes, we may use prometheus to save the metrics, and another point is how to collect metrics. For example, how to collect the network latency when injecting Network Chaos, and how to get the CPU/Memory usage when injecting Stress Chaos?

The other two issues are focus on implementing a unified manager(`Dashboard(manager)` in the architecture picture ) to manage chaos experiments on multipl

[2021-02-03 08:51] WangXiangUSTC commented on #1462
This issue has been taken into CNCF Community Bridge. https://github.com/cncf/mentoring/blob/master/lfx-mentorship/2021/01-Spring/project_ideas.md#chaos-engineering-as-a-service

[2021-02-03 09:02] shivanshs9 commented on #1462
Ah, got it. So Dashboard will be a unified manager for K8S cluster and physic node. And each cluster will have its own controller operator to manage the CRDs lifecycle.

Cool, I need to apply for [this project on Linux Foundation](https://mentorship.lfx.linuxfoundation.org/project/5dd87db8-769b-4647-97c1-2bc4ab571808) then, right?

[2021-02-03 09:07] STRRL commented on #1435
Hi @marvinlchen, before we resolve this issue, you could use `podPhaseSelectors` to avoid inject stress chaos into pending pods. Here is an example:

[code]

[2021-02-03 09:14] WangXiangUSTC commented on #1462
Yeah, need to apply for it 😸

[2021-02-03 09:22] zhuwenxing opened #1484 "Is there any way to make Pod's RESTARTS increase"
## Question
Yesterday, I made a pod failure with  running continuously, I can obverse that the RESTARTS will increase, and this is what i want. However today , I did the same thing, the pod's status is imagepullbackoff ,but RESTARTS remains  0. So Is there any way to stabilize the previous phenomenon?
Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google

[2021-02-03 10:55] hoang-tranviet opened #1485 "A networkchaos caveat"
Hello all,

It is good to see much progress of this project.

However, I have a concern about the loss emulation chaos.
As per [netem documentation](https://wiki.linuxfoundation.org/networking/netem#caveats), a caveat is:

I ran a test with different loss rates (with latency of ~300ms) and measured the file transfer time.

- For setting of 1% loss, `ss -it` shown no loss observed by TCP and there

[2021-02-03 11:14] zhuwenxing commented on #1478
I am not sure I can work it out, but I'd like to have a try.
And the following link may be useful: https://github.com/wilicc/gpu-burn

[2021-02-03 12:03] Robbie558 opened #1486 "NetworkChaos direction:Both has no affect"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
We have the following `NetworkChaos` experiment spec and two pods of the target application running, but when running there appears no network loss at all:

[code]

Testing using separate `to` and `from` NetworkChaos experiment specs does appear to work fo

[2021-02-03 12:24] Robbie558 opened #1487 "Spurious Debug Messages "got runtime.Object without object metadata""
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
Add PodChaos and NetworkChaos experiments with the following labels and annotations:

[code]

We also attempted to create an experiment via the dashboard that contains no labels and annotations, but the same debug message is observed on the Chaos controlle

[2021-02-03 14:05] cwen0 commented on #1484
`pod-failure` will use a fake image to replace the origin image. The fake image is `gcr.io/google-containers/pause:latest"`. If your environment can't access this fake image, the pod status will change to `imagepullbackoff`.  `pod-failure` just simulate the pod out of work and can't make sure that the RESTARTS will increase.

[2021-02-03 14:08] cwen0 commented on #1484
If you can make sure your environment can pull  the fake image, the RESTARTS of the target pod will increase

[2021-02-03 14:28] cwen0 commented on #1485
Good catch! We will consider this issue carefully！

[2021-02-03 14:34] cwen0 commented on #1485
@hoang-tranviet This loss emulation chaos is on TCP level. We are developing HTTPChaos and GRPCChao, and we will use a proxy to implement network loss on HTTP or Grpc level.

[2021-02-03 14:39] cwen0 commented on #1486
@Robbie558 Thanks for your report. We will troubleshoot this issue ASAP!

[2021-02-03 19:34] someshkoli commented on #1472
Hey @STRRL, I'd like to work on this issue

From what I understand, We need to use the api that awscli uses to create more chaos on aws services such just like we do on EC2 ?

Not yet clear about this, could you please elaborate more ?

[2021-02-04 02:54] STRRL commented on #1472
It's the way that we used to implement AWS Chaos for now. We invoke the official AWS API for making some chaos. It indeed makes some breaks on the real machines.

If we could, we want to try another way to make more chaos: use localstack instead of official AWS API. You might already notice that `awscli` could connect to another self-hosted localhost by providing `--endpoint`.

We might run a **mo

[2021-02-04 02:57] STRRL commented on #1472
And this issue has been taken as an lfx mentorship project, you could look up [here](https://mentorship.lfx.linuxfoundation.org/project/1d49ebad-29fa-430c-8492-44f29ee61cc1). 😜

[2021-02-04 04:32] someshkoli commented on #1472
Okay got it, do we already have a POC for this ? If not I shall start by making one.

[2021-02-04 04:34] someshkoli commented on #1472
Great, I'll apply for this ✌️

[2021-02-04 05:04] STRRL commented on #1472
No, we have not built out any POC. Thanks a lot! 😍

[2021-02-04 08:57] YangKeao commented on #1486
Setting `direction` without `target` field is not expected. Omitting the `direction` value should make it work.

[2021-02-04 09:18] STRRL commented on #1486
Related issue: https://github.com/chaos-mesh/chaos-mesh/issues/1437.

If we could make NetworkChaos effect on incoming traffic, I think this problem could finally be resolved, with an implicit rule: no `target` in `Spec` means all traffic. Am I right? @cwen0 @YangKeao

For network delay, I think we could make it by [ref](https://wiki.linuxfoundation.org/networking/netem#how_can_i_use_netem_on_inco

[2021-02-04 15:08] Robbie558 commented on #1486
The documentation doesn't cover this and states "both" as a supported option.  Having said that I now see that the [example](https://github.com/chaos-mesh/chaos-mesh/blob/master/examples/network-loss-example.yaml)  doesn't use the `direction` field, but this is actually not possible when defining an experiment through the WUI.  Not selecting a direction through the WUI results in the direction def

[2021-02-05 07:43] sedlakr opened #1493 "Can't be installed to namespace with numbers only"
## Bug Report

**What version of Kubernetes are you using?**
v1.19.3

**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"master-g61ed59d386da23", GitCommit:"61ed59d386da23ac4a4a4e0a95f4d9b7f100af3f", BuildDate:"2021-02-03T06:38:41Z", GoVersion:"go1.14.6", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
Chaos Mesh can't be installed into

[2021-02-05 08:49] supra08 commented on #1472
Hi @STRRL!

I am new to the chaos-mesh community and also willing to apply to the LFX mentorship.

I had a couple of questions regarding this task. You mentioned:

1. Why do we need a 'modified' localstack?  Because localstack seems to provide AWS cloud mocking tools out of the box with the API endpoint given in https://github.com/localstack/localstack#configurations. Do we want a chaos simulation

[2021-02-05 10:04] cwen0 opened #1495 "StressChaos: never found valid cgroup"
## Bug Report

[code]

[2021-02-06 04:31] #1493 closed

[2021-02-10 05:39] liwanxue commented on #1403
The issue resolved. Thanks all for your help.

[2021-02-10 05:39] #1403 closed

[2021-02-10 17:37] kanor1306 opened #1500 "Dashboard takes into account base URL for redirects"
## Feature Request

**Is your feature request related to a problem? Please describe:**
The chaos-mesh dashboard is hardcoded to the URL path `/dashboard` and this prevents in some cases from exposing the dashboard through Ingress. i.e. because there is already something deployed in that path, or certain paths are not allowed.
For example if you configure chaos-mesh with the following configuration

[2021-02-11 17:33] nunziox commented on #688
I hope I can test this next week. Thanks a lot :)

[2021-02-13 07:48] anuragpaliwal80 commented on #1431
:heavy_plus_sign: 1 for this feature.

[2021-02-16 20:54] hoang-tranviet commented on #1485
I have set up a local network device in between (the bonding device specifically) but there was no difference in performance.

Then I tried changing `correlation` to 0% and the loss chaos actually worked!
It seems that netem loss does not work well with `correlation: 25%` (default value), at least on my kernel (5.4.0).

[2021-02-17 10:25] YasminBZ commented on #1270
Hello,

I see that the issue was fixed, but actually i'm still having the same issue, the pod is deleted directly after the chaos is applied .

I'm using the version 1.1.1, any suggestions please?

Thank you

[2021-02-17 11:30] Yiyiyimu commented on #1270
Hi @YasminBZ Actually the PR #1286 has not been merged. I'll try to fix it these days

[2021-02-17 16:34] YasminBZ commented on #1270
@Yiyiyimu  Okay because i really need to use it for my experiments. Please you ping me when it is done.

Thank you in advance

[2021-02-18 03:07] STRRL commented on #1472
Modifying localstack is one way for injecting chaos, it doesn't mean we must do it.

I'm not sure about what the "service" means. It mostly like DNSChaos, it contains the standalone Kubernetes Service stands for localstack, and separate CRD.

Well, it's one of the test cases. But it does not bring new chaos. It shows the way that localstack could integrate easily with our test framework.

[2021-02-18 05:00] YangKeao commented on #1485
NO :imp: ! The loss emulation chaos works on layer 2, and that's why it has little effect for TCP (because the design of TCP has considered that the layer 2 is unstable and could loss packet).

[2021-02-18 05:55] YangKeao opened #1503 ""Connection refused error" for IOChaos"
## Bug Report

**What did you expect to see?**

`IOChaos` works well

**What did you see instead?**

Any filesystem operation returns `Connection refused error`, which also makes it fail to resume (because of failing to `canonicalize` the path).

[2021-02-18 08:54] hoang-tranviet commented on #1485
Yes, TCP will handle packet loss but with performance penalty when using cubic. But the kernel statistics (`tc -s qdisc`) show no packet drop when correlation = 25% and loss=1%.

[2021-02-19 02:13] jaysunmah opened #1505 "selector on specific pod names auto capitalizes the value of the pod's namespace"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**

[code]
**What did you do?**

When I try to apply a `NetworkChaos` yaml resource, such as:
[code]

The namespace key in `selector.pods` (in our example `uds-ppe-a`) gets auto capitalized (to `Uds - Ppe - A`), and thus the resource is erroring saying it can't find any pods in that name

[2021-02-19 03:15] cwen0 commented on #1505
@jaysunmah Thanks for your report.  I have tested the same YAML file on version v1.1.1, but I can't reproduce this issue.

[code]

I can't find the git [commit(a7b83630d43439b43c091842b10ed6ed6166f69b)](https://github.com/chaos-mesh/chaos-mesh/search?q=a7b83630d43439b43c091842b10ed6ed6166f69b&type=commits) your reported.  Can you check which image you are using?

[2021-02-19 03:29] cwen0 opened #1506 ""chaos-mesh.chaos-mesh.org/cleanFinalizer=forced" not work"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

v1.1.1

**What did you do?**

Refer [document](https://chaos-mesh.org/docs/user_guides/run_chaos_experiment#delete-a-chaos-experiment) to force delete chaos experiment.

**What did you expect to see?**

Success to delete chaos

**What did you see instead?**

![image](https://user-im

[2021-02-19 07:06] YangKeao commented on #1503
The full log can be found at https://cloud-native.slack.com/files/U01N1K0CU2D/F01N3E365EY/untitled?origin_team=T08PSQ7BQ&origin_channel=C0193VAV272

After reading the source code of linux kernel 3.10 and libfuse, I realized that the only possible situation for `Connection refused` is that:

[code]

However, for both libfuse and kernel, the major version is all `7`, so the only possible error is th

[2021-02-19 20:10] jaysunmah commented on #1505
hey @cwen0 , thanks for the reply. The git commit you're referencing isn't from the public chaos-mesh repo, my company (Airbnb) has a private fork of it where we manage the code version ourselves.

I repulled from upstream just now, and I have my version now set as `Controller manager Version: version.Info{GitVersion:"master-g2898443ea734b4", GitCommit:"2898443ea734b45f5e94df1a655695d4ea439af3", B

[2021-02-20 08:47] WangXiangUSTC commented on #1317
this issue doesn't happen recently, maybe it is fixed in #1393

I close this issue now, and can open it again when meeting the error again

[2021-02-20 08:47] #1317 closed

[2021-02-20 08:51] #1207 closed

[2021-02-20 08:55] WangXiangUSTC commented on #1145
@phantooom I close this issue now, you can reopen it again if meet any other problems

[2021-02-20 08:55] #1145 closed

[2021-02-20 09:08] YangKeao commented on #1503
`Invalid argument (os error 22)` is returned by `writev` system call.

[2021-02-22 06:54] WangXiangUSTC opened #1509 "can create chaos experiment under namespace A but effect Pods under namespace B"
## Bug Report

**What version of Chaos Mesh are you using?**
v1.1.1

**What did you do?**

1. login dashboard with token, which has the privileges of namespace A
2. create a chaos experiment under namespace A and the selector's namespace is B

**What did you expect to see?**

create experiment failed

**What did you see instead?**

create experiment success

[2021-02-22 07:33] #1476 closed

[2021-02-22 13:53] YasminBZ commented on #1270
Hello @Yiyiyimu,

I want to ask please if it is fixed or not yet .

Best regards,

[2021-02-22 19:06] jaysunmah commented on #1505
agh, @cwen0  I actually was able to figure out my issue. My problem was that I had only enabled specific namespaces in my helm chart via `allowedNamespaces`, so the new namespace I switched to was considered invalid.

For feedback, would it be possible to change this behavior to output a fat error immediately if someone tries injecting chaos onto an invalid namespace, instead of the current behavi

[2021-02-23 03:16] Yiyiyimu commented on #1270
@YasminBZ I think it would be fixed today or tomorrow. I'll ping you when the PR got merged

[2021-02-23 05:15] #1450 closed

[2021-02-23 05:15] #1486 closed

[2021-02-24 03:30] cwen0 opened #1515 "Meaningless retry operation when failed to apply chaos experiment"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

v1.1.1

**What did you do?**

chaos.yaml:

[code]

[code]

**What did you see instead?**

 The controller-manager keeps refreshing the log of retry and these retry operations are meaningless.

[code]
[chaos.log](https://github.com/chaos-mesh/chaos-mesh/files/6033175/chaos.log)

**Ou

[2021-02-24 03:47] cwen0 commented on #1515
`controller-manager` will receive the event and call `Reconciler` function again when the status field of the chaos object is updated. We should ignore this update event.

[2021-02-24 05:41] cwen0 opened #1516 "Controller-manager enables leader election"
## Feature Request

**Describe the feature you'd like:**

Enable leader election and make controller-manager HA.

**Describe alternatives you've considered:**

HA is important for most applications, including Chaos Mesh. We support setting `replicas: 1` on helm chart files, but we have not tested it., and we don't recommend users to enable it at present. I think we should test it and make it avail

[2021-02-24 05:52] cwen0 opened #1517 "Fail to deploy Chaos Mesh caused by enabling `HostIPC`, `HostPID`, and `HostPath`"
## Bug Report

**What version of Chaos Mesh are you using?**

v1.1.1

**What did you do?**

Use `helm template` command to generate some YAML files and then apply them.

**What did you expect to see?**

Install Chaos Mesh successfully.

**What did you see instead?**

[code]

**Output of chaosctl**

[2021-02-24 06:30] #1270 closed

[2021-02-24 07:31] STRRL commented on #1517
It seems "gatekeeper" reject these operations.

Because open-agent-policy gatekeeper uses "rego" to describe their security rule, and generate CRD "constraints template" dynamically, it's so flexible that we could not give a stable solution, it depends on the adopter's customized security rule.

But making an exception rule on namespace might work, here is a reference about this: https://open-poli

[2021-02-24 07:54] Yiyiyimu commented on #1270
@YasminBZ PR got merged. Welcom give it a try~

[2021-02-24 08:03] YasminBZ commented on #1270
@Yiyiyimu  Thank you :), i will try it now

[2021-02-24 09:00] zhuwenxing opened #1519 "uninstallation error"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2021-02-24 09:30] zhuwenxing commented on #1519
sorry, it is a very common question. I solve it by myself according to [怎样删除一直terminating的k8s的pod或者ns资源](https://blog.csdn.net/weixin_38499215/article/details/101301363?utm_medium=distribute.pc_relevant_t0.none-task-blog-BlogCommendFromMachineLearnPai2-1.control&dist_request_id=41a0cfbf-1698-40df-bbe7-70628d7464a8&depth_1-utm_source=distribute.pc_relevant_t0.none-task-blog-BlogCommendFromMachineLe

[2021-02-24 10:03] YasminBZ commented on #1270
Hello @Yiyiyimu

I tried it, but still having the same issue when deploying  my pod-failure.yaml, it kills directly the pod , it doesn't respect the time configured in my yaml file.

[2021-02-24 16:36] Yiyiyimu commented on #1270
@YasminBZ Could you give us your yaml file?

[2021-02-24 16:44] YasminBZ commented on #1270
@Yiyiyimu  I used the example: https://github.com/chaos-mesh/chaos-mesh/blob/master/examples/web-show/pod-failure.yaml

[2021-02-25 03:16] STRRL commented on #1519
This operation indeed will take several minutes, please keep waiting on it.

Sorry, I do not get your point. 🙈 Do you want to re-install the Chaos Mesh? And failed to install it?

Is this normal? What is the expected time for these two commands ?

I think it might related to https://github.com/chaos-mesh/chaos-mesh/issues/1465. It means the pods might changes during chaos effecting, so there are s

[2021-02-25 05:51] zhuwenxing commented on #1519
Yes, I want to re-install the Chaos Mesh and hope it is a fresh one, but I encountered a problem when uninstalling as mentioned above.

I reinstalled it through the method in the link https://github.com/chaos-mesh/chaos-mesh/issues/1519#issuecomment-784939743
But encountered a new problem today: The previous experiment can still be seen in the dashboard(all of them can't be deleted), and the new e

[2021-02-25 09:10] STRRL commented on #1519
If you want to **forcely delete** that chaos object, you could remove its finalizers by `kubectl edit` or `kubectl patch`.

It's a **dangerous** operation, it might causes chaos never recover on your pod(but when you delete the pod, the chaos experiments will gone, so do not fear about it), please check the finalizers and make sure they are cleaned on your kubernetes cluster.

[2021-02-25 11:53] Yiyiyimu commented on #1270
@YasminBZ
As you could noticed
https://github.com/chaos-mesh/chaos-mesh/blob/26ec8ddc5a65566b8160852280b30bdbf1cb6895/examples/web-show/pod-failure.yaml#L14-L15
The example use `every 2 minutes` to schedule chaos, so the chaos would start immediately, and restart every two minutes.

If you would like to start chaos at every second minute, you could try `*/2 * * * *`. More trial could be tested on

[2021-03-01 03:51] STRRL commented on #1519
Appending communication with adoptor: After deleting the dangling chaos resource, chaos mesh could uninstall cleanly.

I think I could close this issue.

[2021-03-01 03:51] #1519 closed

[2021-03-02 08:04] anuragpaliwal80 opened #1528 "CRI-O runtime support for chaos daemon"
## Feature Request

**Is your feature request related to a problem? Please describe:**
We are using cri-o runtime and chaos daemon is not supporting cri-o as of now so we are blocked.

**Describe the feature you'd like:**
It would be awesome to have cri-o runtime support for chaos daemon.

**Describe alternatives you've considered:**
Unfortunately there is no alternate in this case as this is core

[2021-03-02 08:05] anuragpaliwal80 commented on #1528
@YangKeao FYI...

[2021-03-02 12:16] marvinlchen commented on #1435
[code]
 When I add podPhaseSelectors, it is not working at all. No stress-ng is activated.

[2021-03-02 12:23] marvinlchen commented on #1435
Cool, it works!

[2021-03-03 08:24] shivanshs9 opened #1531 "Dashboard: Overlapping text in timeline when no experiments"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
v1.1.1

**What did you do?**
Installed Chaos Mesh with dashboard, logged into Chaos Dashboard and found this issue at homepage.

**What did you expect to see?**
A simple text - "No experiments found"

**What did you see instead?**
![2021-03-03 13 28 34 localhost 7b82e503000c](https://

[2021-03-03 10:42] juzhiyuan opened #1534 "inactive Slack link"
## Bug Report

![image](https://user-images.githubusercontent.com/2106987/109793896-31d1e800-7c50-11eb-817e-5473d6e75e5a.png)

[2021-03-03 10:56] STRRL commented on #1534
HI @juzhiyuan, that's a little weird, I tried this link, it links to `https://cloud-native.slack.com/join/shared_invite/zt-lo88vmyc-9e3jSdUXf3dLP2yKql4A0Q#/`, I think it is correct.

Would you mind clearing the browser cache and try again?  🥺

If you did not join the #CNCF slack channel before, you need to register an account for that.

[2021-03-03 12:55] #1534 closed

[2021-03-03 15:01] fewdan commented on #1531
@g1eny0ung Looks like a display problem?

[2021-03-03 15:06] g1eny0ung commented on #1531
I'm already fixed this problem in 3a529c5777db1db44c6450d3028974737c19f5df. These will take effect after the next patch version is released.

[2021-03-04 06:12] YangKeao opened #1536 "chaos-daemon server/client integration test"
## Feature Request

All the tests of chaos-daemon use the mock server. However, we should add test to use a real server and client.

[2021-03-05 03:23] #1431 closed

[2021-03-08 00:49] #1177 closed

[2021-03-08 00:49] #650 closed

[2021-03-08 03:11] YangKeao opened #1539 "return error from `toda` to the `chaos-daemon`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If the [`toda`](https://github.com/chaos-mesh/toda) fails to mount / inject errors, the `chaos-daemon` never knows.

**Describe the feature you'd like:**

`chaos-daemon` should be able to tell whether the IO chaos has been injected successfully. A possible implementation is to print running result (according to

[2021-03-08 06:46] #1531 closed

[2021-03-08 08:02] dploop commented on #242
@zhouqiang-cl Does the ARM image released？

[2021-03-09 03:17] STRRL opened #1540 "Update makefile, making the default recipe is building something"
As the document [Set up the development environment
](https://chaos-mesh.org/docs/development_guides/set_up_the_development_environment/) says, the default recipe of makefile should use the toolchain:

As common usage, a single `make` often builds the project.

Currently, the default recipe of the makefile is `go_build_cache_directory`.

How about using the recipe `all` or `binary` as the first re

[2021-03-09 03:41] STRRL commented on #1540
OK @Debanitrkl

[2021-03-09 04:32] dploop opened #1541 "Can each version release a corresponding arm64 image?"
Thank you for providing Chaos Mesh such a good tool, but in the process of using it, a large part of the environment is based on the arm architecture, although I found a latest-arm image on dockerhub, but that is four month ago. I also tried to compile an arm image by myself, but found it very difficult and never succeeded.

So I would like to ask if you can compile a corresponding arm architectur

[2021-03-09 08:07] YangKeao opened #1544 "Add TLS config for `chaosctl`"
## Bug Report

**What version of Kubernetes are you using?**

After adding `tls` configuration for the connection between `chaos-controller-manager` and `chaos-daemon`, `chaosctl` cannot work anymore. Please add some configurations (through environment variable or through parameters) to `chaosctl` to specify the cert to connect to the `chaos-daemon`.

[2021-03-09 08:15] AsterNighT commented on #1539
Isn't that available in `kubectl logs chaos-daemon-*` already?

[2021-03-09 08:49] YangKeao commented on #1539
Now, the grpc call to `chaos-daemon` was returned with Ok if the `toda` was executed succesfully, which is not expected. If `toda` reports an error during the bootstrap steps, these errors should be returned to the `controller-manager`.

[2021-03-09 09:27] YasminBZ commented on #1270
@Yiyiyimu Thank you for your answer.
your proposition to use */2 * * * * worked for me few days ago, but now when i'm trying to execute the same script, it starts the chaos immediately. I really don't get it. Is there some changes in the current last version !!?

[2021-03-09 10:40] dploop commented on #1541
I use your commit to have a try on my macbook, chaos-mesh and chaos-daemon are succeeded while chaos-dashboard is blocked, the message is

[code]

By the way, there is a warning message
[code]

[2021-03-10 05:47] YangKeao opened #1548 "Dispatch the config in a better way"
[code]

This line of code occurs several times in Chaos Mesh code base, and most of these `config.xxx.xxx` won't change during the runtime. Please construct a "Selector" struct from config (or something similar) to select, rather than passing these arguments everytime.

[2021-03-10 12:53] #1541 closed

[2021-03-11 02:53] YangKeao commented on #1541
Have you tried to build an arm image? If you have any question about this document / modification, feel free to reopen this issue :smile_cat: .

Thank you.

[2021-03-11 04:16] dploop commented on #1541
@YangKeao Thank you very much, I have successfully compiled it.

[2021-03-11 07:25] AsterNighT commented on #1548
Shoule this go after #1550 ?

[2021-03-11 10:05] cwen0 opened #1556 "Chaos experiment can't be restart"
## Bug Report

**What version of Chaos Mesh are you using?**

v1.1.1

**What did you do?**

Pause a chaos experiment for a long time. Then restart it, but it returns an error

[code]

**What did you expect to see?**

**What did you see instead?**

**Output of chaosctl**

[2021-03-11 12:22] dploop opened #1557 "Dashboard requests events without pagination"
On the dashboard page, when I click on an experiment, theoretically, I should only request events related to this experiment, and it should be paged. But it seems that the current implementation does not do this, but requests the full amount of events. When the number of events is particularly large, this request will consume performance.

<img width="1440" alt="截屏2021-03-11 下午8 14 45" src="https:

[2021-03-11 17:29] fewdan commented on #1557
@g1eny0ung
I took a look at the current api/events request, and there is indeed no filtering information. Here you can modify the code to attach the experimental information to the request when sending the request.

[2021-03-12 02:44] g1eny0ung commented on #1557
The event filtering problem on the detail page has also been fixed. Thanks for pointing it!

[2021-03-12 06:09] #1509 closed

[2021-03-12 06:13] dploop commented on #1557
@g1eny0ung The integration test seems failed.

[2021-03-12 07:01] WangXiangUSTC opened #1559 "miss the status information when getting details of chaos experiment"
## Bug Report

**What version of Chaos Mesh are you using?**

**What did you do?**

run integration test
https://github.com/chaos-mesh/chaos-mesh/runs/2092659499?check_suite_focus=true

get the details of chaos experiment
**What did you expect to see?**

can see the experiment's status

**What did you see instead?**

the status is empty:

[code]

[2021-03-14 19:49] DmitriyVorobey opened #1566 "Unable to install chaos mesh on minikube"
## Bug Report

Unable to install chaos mesh on minikube with getting started tutorial https://chaos-mesh.org/docs/get_started/get_started_on_minikube.

**What version of Kubernetes are you using?**
minikube v1.17.1 on Microsoft Windows 10 Pro 10.0.18363 Build 18363

**What version of Chaos Mesh are you using?**
1.1.2

**What did you do?**
1. minikube start
2. curl -sSL https://mirrors.chaos-mesh.o

[2021-03-14 19:57] DmitriyVorobey opened #1567 "Unable to run chaos experiment from the getting started tutorial"
## Bug Report

Link to chaos mesh tutorial https://chaos-mesh.org/docs/user_guides/run_chaos_experiment

**What version of Kubernetes are you using?**
minikube v1.17.1 on Microsoft Windows 10 Pro 10.0.18363 Build 18363

**What version of Chaos Mesh are you using?**
1.1.2

**What did you do?**
1. minikube start
2. curl -sSL https://mirrors.chaos-mesh.org/v1.1.2/web-show/deploy.sh | sh

**What did y

[2021-03-15 00:50] #1202 closed

[2021-03-15 06:26] WangXiangUSTC opened #1568 "controller-manager will be panic if chaos experiment with unexpected phase"
## Bug Report

**What version of Chaos Mesh are you using?**

v1.1.0

**What did you do?**

update the phase of chaos experiment to `paused`, which is unexpected, should be `Paused`

can see the slack message https://cloud-native.slack.com/archives/C0193VAV272/p1615403884032700

**What did you expect to see?**
controller-manager just print some error log.

**What did you see instead?**
controller-

[2021-03-15 07:07] fewdan commented on #1567
If you run "kubectl get pod -n chaos-testing", what will be the result?

[2021-03-15 07:13] fewdan commented on #1566
I'm sorry, I didn't reproduce this problem in my computer. I saw that you didn't encounter this problem in the next issue. How did you solve it later?

[2021-03-15 07:43] DmitriyVorobey commented on #1566
Hey, I used manual installation with helm. That works better for me https://chaos-mesh.org/docs/user_guides/installation#install-by-helm.

[2021-03-15 07:51] DmitriyVorobey commented on #1567
`No resources found in chaos-testing namespace.`
But, web-show pod was created in the default Kubernetes namespace.
I am using git bash to run the deploy script. Might it cause an issue?

[2021-03-15 08:00] STRRL opened #1570 "Upgrading admissionregistration to v1"
## Feature Request

**Is your feature request related to a problem? Please describe:**

As https://github.com/chaos-mesh/chaos-mesh/pull/1558 says, we want to upgrade to v1.
Related issue: https://github.com/chaos-mesh/chaos-mesh/issues/1007

**Describe the feature you'd like:**

If we want to upgrade to v1, we need to keep compatibility with 1.15. helm built-in [Compatibility](https://helm.sh/doc

[2021-03-15 08:12] STRRL commented on #1570
Hi @anuragpaliwal80 , I think you could take a look at the helm charts, and keep compatibility with kubernetes 1.15.6 which e2e test based on.

And I think the version of `k8s.io/api/admission` is not needed to upgrade.

[2021-03-15 08:22] WangXiangUSTC opened #1571 "update experiment failed in ci"
## Bug Report

**What did you do?**

run integration test
https://github.com/chaos-mesh/chaos-mesh/pull/1569/checks?check_run_id=2110626639

**What did you expect to see?**
run success

**What did you see instead?**
[code]

[2021-03-15 09:42] fewdan commented on #1566
@DmitriyVorobey
I am in a Mac OS environment, but I installed it in kind, and there is no problem. The command used is "curl -sSL https://mirrors.chaos-mesh.org/v1.1.2/install.sh | bash -s - --local kind".

[2021-03-15 09:47] fewdan commented on #1567
@DmitriyVorobey
Oh, I know, it’s because the script "https://mirrors.chaos-mesh.org/v1.1.2/web-show/deploy.sh" deploys the "web-show" application, not "chaos-mesh", so it is normal that there is no pod under the "chaos-testing" namespace, which is in line with expectations.

[2021-03-15 09:56] #1557 closed

[2021-03-15 10:00] DmitriyVorobey commented on #1567
Yes, but I still don`t understand why scripts execution fails on the last step with error:
`sh: line 120: lsof: command not found`. I would assume that it's because of the windows environment

[2021-03-15 10:02] DmitriyVorobey commented on #1566
@fewdan Is `kind` recommended tool for chaos mesh experiments in the local environment? Can I use minikube instead?

[2021-03-15 10:17] DmitriyVorobey commented on #1566
I got the same result with the `kind` tool.
[code]

[2021-03-15 11:22] YangKeao commented on #1566
I think `minikube` is a stabler environment than `kind`. I don't know whether this problem is caused by `git bash` on windows (as I'm a Linux user). I will try with my windows laptop tomorrow :yum: .

[2021-03-15 11:25] anuragpaliwal80 commented on #1570
Sure, let me explore on this. Thx for sharing.

[2021-03-15 11:37] DmitriyVorobey commented on #1566
@YangKeao Thank you 🙂

[2021-03-15 12:35] anuragpaliwal80 commented on #1570
I tried using `.Capabilities.APIVersions.Has` as part of #1558 and looks like we need to change other pkg, etc as well to make it work.

[2021-03-15 12:51] fewdan commented on #1567
I also tend to think that it is an environment-related issue.

[2021-03-15 15:17] #1528 closed

[2021-03-16 02:32] Colstuwjx opened #1573 "Magic word `/run-all-tests` actually won't run the all tests"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

v1.1.1

**What did you do?**

Typed `/run-all-tests` in PR #1569 .

**What did you expect to see?**
The bot should help me re-run all the tests, including the integration test, script test, ci test, and e2e test.

**What did you see instead?**
Only the e2e test was triggered by the bot.

**

[2021-03-16 03:00] WangXiangUSTC commented on #1573
The integration test is run by github action，it seems that it can't be triggered by comments now 🤣

[2021-03-16 03:11] AsterNighT commented on #1573
That can be done with things like https://github.com/Khan/pull-request-comment-trigger

[2021-03-16 03:20] AsterNighT commented on #1567
Would you please try to run `lsof` directly from your shell?

[2021-03-16 03:22] AsterNighT commented on #1540
closed due to #1554

[2021-03-16 03:22] #1540 closed

[2021-03-16 04:09] WangXiangUSTC commented on #1573
Oh, I can try it

[2021-03-16 07:50] AsterNighT commented on #1573
nuts, Github action has a limited support on pr comments. We may have to use a turn around.

[2021-03-16 07:55] STRRL commented on #1573
Does ti-chi (our community bot) could make this better?