[2021-03-16 08:12] AsterNighT commented on #1573
I don't think github action is good for it. I tried to trigger the actions with `issue_comment` and `pull_request_review` event provided by github, and ran into different issues. The `issue_comment` event runs on default branch thus is not acceptable at all. `pull_request_review` triggers another check different from the original one triggered by pull_request (see https://github.com/AsterNighT/tes

[2021-03-16 09:38] DmitriyVorobey commented on #1567
@AsterNighT
The result is: `bash: lsof: command not found. `
It looks like lsof is a Linux-specific tool. That is why it doesn`t work for windows.

[2021-03-16 14:58] anuragpaliwal80 opened #1574 "pod-failure action throwing Forbidden error"
## Bug Report

**What version of Kubernetes are you using?**
k8s version: 1.19

**What version of Chaos Mesh are you using?**

chaos mesh version: 1.0.1

**What did you do?**

Tried applying `pod-chaos` action.

**What did you expect to see?**
It should not have any error while describing the created PodChaos object.
**What did you see instead?**
[code]
**Output of chaosctl**

[2021-03-16 18:16] fewdan commented on #1574
Thank you for receiving the issue you recorded. We will check this issue.

[2021-03-16 19:31] fewdan commented on #1556
@cwen0
It can be seen that the nextStartTime is "2021-02-19", but the current log shows that the time has reached "2021-03-09", and about 20 days have passed.
According to the log information, an experiment will be conducted every 3 minutes. But the "iterMax" set in the program is 1e4, which means that it lasts at most 30,000 minutes (about 20.83 days). I suspect that because the time after the ex

[2021-03-18 00:49] #1222 closed

[2021-03-18 03:11] STRRL opened #1576 "Refactor: universal string and type transition in API definition"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

As https://github.com/chaos-mesh/chaos-mesh/pull/1551#discussion_r596512233 says, there are redundant codes blocks (about 3 or more) about the transition between `string` and the struct.

We should refactor this and reduce the code duplication.

**Describe alternatives

[2021-03-18 09:54] cwen0 commented on #1574
@anuragpaliwal80 This behavior is very strange, `pod-failure` just updates the image of the target pod and adds a new annotation. https://github.com/chaos-mesh/chaos-mesh/blob/release-1.0/controllers/podchaos/podfailure/types.go#L199-L256

[2021-03-18 10:00] YangKeao commented on #1574
Do you have any webhook which will add `SeccompProfile` automatically? I don't think it has any connection with Chaos Mesh.

[2021-03-18 10:12] cwen0 commented on #1568
This issue has been fixed in #1569.

[2021-03-18 10:12] #1568 closed

[2021-03-18 12:10] anuragpaliwal80 commented on #1574
As per https://kubernetes.io/docs/tutorials/clusters/seccomp/ `Kubernetes lets you automatically apply seccomp profiles loaded onto a Node to your Pods and containers.`

The annotation getting applied on my service pod is:
[code]

[2021-03-19 05:42] dploop opened #1579 "Failed to create NetworkChaos in arm environment"
[code]

[#1541](https://github.com/chaos-mesh/chaos-mesh/issues/1541)  @YangKeao  add support for build arm image, but some tools seems still amd64. I found in Dockerfile:

[code]

[2021-03-19 06:31] YangKeao commented on #1579
Oops. My bad :man_facepalming:. The CI of `nsexec` doesn't build an arm binary now. I will try to modify it.

[2021-03-19 08:46] STRRL commented on #1574
I think it might be related to the conversion with different versions of kube-client and kubernetes apiserver.

Using PATCH instead of UPDATE might resolve this problem without upgrading kubeclient.

[2021-03-22 08:31] zhuwenxing opened #1582 "How to select pods under multiple labels when creating Network Partition Chaos?"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2021-03-22 08:47] g1eny0ung commented on #1582
Because they all have the same key (`app`) so the following selector will overwrite the previous. Add a common label to them can solve this problem temporarily.

[2021-03-22 09:10] zhuwenxing commented on #1582
I solve this problem temporarily by select pods as selector
[code]
Does it mean the network between these four pods unconnected?
But I entered the `clickhouse-0` pod through `kubectl exec`, and `ping ${kafka_pod_ip}`. The result showed that it was still normal.

[2021-03-22 09:41] g1eny0ung commented on #1582
@YangKeao PTAL when you have time.

[2021-03-22 10:01] zhuwenxing commented on #1582
more info
![image](https://user-images.githubusercontent.com/12268675/111972574-94742080-8b38-11eb-86fc-5470f2e24572.png)

![image](https://user-images.githubusercontent.com/12268675/111972581-95a54d80-8b38-11eb-9323-4b9ecf5261d2.png)

[2021-03-23 02:55] #1314 closed

[2021-03-23 03:24] dploop commented on #1579
Is there a specific repair plan for this problem? Does it only need to compile the arm version of toda and nsexec? Or maybe some additional adaptation work is needed?

[2021-03-23 03:48] WangXiangUSTC opened #1585 "pause experiment and chaos controller manager will update chaos forever"
## Bug Report

**What version of Chaos Mesh are you using?**

v1.0.1

**What did you do?**

create a pod failure chaos experiment, and then pause the experiment. will see that there are a lot of logs in controller manager,  and it will not

**What did you expect to see?**

The experiment will pause success, and see the paused log in controller manager.

**What did you see instead?**

The experimen

[2021-03-23 04:06] WangXiangUSTC commented on #1585
when the state is `Paused`, will update here https://github.com/chaos-mesh/chaos-mesh/blob/f4f15091713bcf0fe7ec87f46e723a89e3184b46/controllers/twophase/types.go#L218, and reconcile again, endless...

[2021-03-23 05:09] WangXiangUSTC commented on #1585
and this issue also happened in v1.1.2

[2021-03-23 05:14] cwen0 commented on #1585
If only the status field will be updated, this issue should happen in v.1.1.2

[2021-03-23 05:40] WangXiangUSTC commented on #1585
I made a mistake, v1.1.2 doesn't have this issue.

[2021-03-23 05:40] #1585 closed

[2021-03-23 06:15] e06084 commented on #1585
+1

[2021-03-23 06:17] WangXiangUSTC commented on #1585
upgrade to v1.1.2 to fix this issue

[2021-03-23 06:54] AsterNighT opened #1587 "Problems on e2e-test"
Our e2e-test is not good enough. Take a look at #1575, for example.

It fails on one test (TimeSkew) for times before it finally hit a success. Either that is caused by an unstable CI environment or a part of unrobust code in chaos-mesh, it is not a good point, especially if it is the latter.

And I'll list several other issue here for future discussion:

1. It is not that easy to write your own e

[2021-03-23 07:01] STRRL commented on #1587
🙋‍♂️ I want the e2e test cases to take less than 10 mins or even 5min.

[2021-03-23 08:15] AsterNighT commented on #1587
I looked into an instance of successful e2e-test. It is around 17min in total. Some suspicious most time-costing steps are
- checkout from github 1m45s
- build chaos-mesh-builder around 3m30s. Do we need to build this every time?

[2021-03-23 08:20] AsterNighT commented on #1571
will retryOnConflict help?

[2021-03-23 09:09] WangXiangUSTC commented on #1571
I think so

[2021-03-23 09:30] cwen0 commented on #1500
@g1eny0ung PTAL

[2021-03-23 09:41] AsterNighT commented on #1571
/assign

[2021-03-23 10:09] STRRL commented on #1579
Hi @YangKeao, PTAL.

[2021-03-23 17:50] fewdan opened #1590 "dashboard panic"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e

[2021-03-24 00:51] #1183 closed

[2021-03-24 05:36] YangKeao commented on #1060
Have you solved the problem? Or can you provide more information about your bug? (like the log of `chaos-controller-manager` and related `chaos-daemon`.)

[2021-03-24 05:42] YangKeao commented on #1320
Sorry for the late reply. Have you applied the latest crd ? (I think install through the latest helm chart will upgrade the crd automatically, or through `curl -sSL https://mirrors.chaos-mesh.org/v1.1.2/crd.yaml | kubectl apply -f -` to install them manually.)

[2021-03-24 06:22] YangKeao commented on #1582
The expected `NetworkChaos` resource to setup a network partition between clickhouse and kafka should be :

[code]

The `target` field can be selected in the `target` button of the dashboard

![image](https://user-images.githubusercontent.com/5244316/112264510-f5703580-8cab-11eb-9fa8-21d50783412a.png)

(The right-bottom part)

I will setup another issue to discuss the behavior when `target` is not

[2021-03-24 06:22] anuragpaliwal80 commented on #1570
@STRRL As said earlier, it looks like other pkg also needs to be updated to get it working. I made all changes in  #1558 Please check.

[2021-03-24 07:19] AsterNighT commented on #1559
I ran into this https://github.com/chaos-mesh/chaos-mesh/runs/2180951187 and seem to fix it with a proper `/api/experiment/update` handler. But I don't think that is the reason.

[2021-03-24 08:03] #1571 closed

[2021-03-24 08:28] #1590 closed

[2021-03-24 09:31] AsterNighT commented on #1503
It is successfully reproduced on centos7.5 kernel 3.10 on toda. Aster restricting `fuser` to use fuse abi 7.19 rather than 7.31, things goes smoothly. Thanks @Hexilee for the solution. I'll submit a pr in toda repo for that.

[2021-03-25 01:56] #1327 closed

[2021-03-25 02:36] #1556 closed

[2021-03-25 03:40] AsterNighT opened #1597 "Issues about applying kubernetes optimistic lock"
Optimistic locks (like `retry.RetryOnConflict`) are adopted widely in chaos-mesh. But there are misuses and still somewhere in lack of locks. Take this as an example

https://github.com/chaos-mesh/chaos-mesh/blob/6ee0cb9f67c671eefb9110a99e021a260e2f5ac7/controllers/common/types.go#L112-L114

from my knowledge this retry will not work. And a lack of lock here

https://github.com/chaos-mesh/chaos-me

[2021-03-25 03:46] AsterNighT commented on #1597
@WangXiangUSTC PTAL

[2021-03-25 05:21] AsterNighT commented on #1597
After a talk with @YangKeao, we decide this could be delayed and wait for a controller refactor in #1578

[2021-03-26 02:37] AsterNighT commented on #1544
/assign

[2021-03-26 02:39] AsterNighT commented on #1544
May I be provided with some information on how to test this?

[2021-03-26 02:40] AsterNighT commented on #1544
#1504

[2021-03-26 05:57] AsterNighT commented on #1567
To summarize, our scripts don't work properly on windows now. I would recommend you retry it in a vm. Issues about windows scripts should be discussed elsewhere. If there're no furthur information, I'm closing this issue.

[2021-03-26 05:57] #1567 closed

[2021-03-26 06:01] AsterNighT commented on #1566
Well, I'll have a try on this. /assign

[2021-03-26 06:02] AsterNighT commented on #1566
/assign/assign

[2021-03-26 06:02] AsterNighT commented on #1566
/assign

[2021-03-26 08:09] AsterNighT commented on #1566
I'm having great trouble running minikube on windows. I'm using vmware so I cannot use hyper-v (so no wsl2 either, therefore no docker as well). But I encounter lots of error on minikube vmware driver. Help needed on this. Could you pls provide some more information on your environment, like which driver of minikube are you using?

[2021-03-26 08:09] AsterNighT commented on #1559
/assign

[2021-03-26 08:21] Yiyiyimu opened #1600 "add a basic script to test chaosctl"
## Feature Request

Currently `chaosctl` only got basic unit tests with pretty low coverage, so whenever we make some changes on it, normally we need to do the manual test.

If we don't want to spend time mocking too many things, I think a basic e2e test is enough for this situation. For example, we could add a basic test like integration test, create a network chaos, and test if the output of `ch

[2021-03-26 08:22] AsterNighT commented on #1505
I believe that `chaos-dashboard` provide similar function? If you simply run `kubectl apply -f` I'm afraid there's no such check not. But that seems doable. Would you mind we discuss that in another issue?

[2021-03-26 08:22] AsterNighT commented on #1503
/assign

[2021-03-26 10:47] YangKeao opened #1601 "DNSChaos cannot recover"
## Bug Report

Reported in the `controller-manager`:

[code]

This bug is caused by returning `nil,nil` in the grpc call, which is not allowed. Replace the `return nil,nil` with returning response will fix this problem.

I will try to add a PR to solve this problem. However, it's also needed to add a e2e test. It's really wired that the e2e test of `DNSChaos` doesn't contain a test for recovering.

[2021-03-26 10:50] YangKeao opened #1602 "`ContainerKill` e2e test is not stable"
## Bug Report

If your machine is too fast, and the container was quickly resumed, it would be always "Ready", and the following condition will never meet:

https://github.com/chaos-mesh/chaos-mesh/blob/master/test/e2e/chaos/podchaos/container_kill.go#L86

[code]

[2021-03-26 11:04] Yiyiyimu commented on #1078
Hi @cwen0 it seems still not got fixed 🤣

[2021-03-26 11:07] #1601 closed

[2021-03-26 22:44] ratripathi opened #1603 "chaos-daemon pods throw crio not supported error."
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

`Controller manager Version: version.Info{GitVersion:"release-1.1-gd0ba01861e8749", GitCommit:"d0ba01861e8749a5a1376debb35c04495020ae4b", BuildDate:"2021-03-22T11:55:45Z", GoVersion:"go1.14.6", Compiler:"gc", Platform:"linux/amd64"}
`
**What did you do?**

Based on this discussion--

[2021-03-27 07:24] STRRL commented on #1603
Hi @ratripathi, the support of cri-o is not released at 1.1.2, please take a try of the latest code of `master`.

[2021-03-28 00:19] #784 closed

[2021-03-28 13:04] advancedwebdeveloper opened #1605 "gzip: stdin: not in gzip format"
Hi. I got a bug here:

## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

[2021-03-29 02:24] YangKeao commented on #1597
Oops. The original issue was closed by the bot https://github.com/chaos-mesh/chaos-mesh/issues/791 :facepalm:

[2021-03-29 02:25] AsterNighT commented on #1597
LOL

[2021-03-29 02:41] YangKeao opened #1606 "`make` doesn't fail right after compiling error"
## Bug Report

https://github.com/chaos-mesh/chaos-mesh/pull/1604#issuecomment-809022583 , The following logs of building docker image make the compiling error hard to find.

[2021-03-29 02:58] STRRL commented on #1605
Hi @advancedwebdeveloper, I found that it failed at downloading `kustomize`, please check your network and try again.

[2021-03-29 09:18] jasonstack opened #1613 "admission webhook "vauth.kb.io" denied the request: <redacted_user> is forbidden on namespace <redacted_namespace>"
## Bug Report

**What version of Kubernetes are you using?**
1.16.15-gke.12500

**What version of Chaos Mesh are you using?**
latest -> 0.4.2

**What did you do?**
try to apply chaos mesh experiment

**What did you expect to see?**
chaos experiment applied

**What did you see instead?**
 error -> admission webhook "vauth.kb.io" denied the request: <redacted> is forbidden on namespace <redacted_nam

[2021-03-29 09:24] YangKeao commented on #1613
#1535

In the latest version, Chaos Mesh avoids the chaos under namespace A to inject chaos into pods in namespace B (so that the injection scope can be fully controlled by the RBAC).

[2021-03-29 10:36] jasonstack commented on #1613
In my test, chaos-mesh is installed into namespace `chaos-testing`, experiments (no namespace defined in the YAML) are applied to target namespace `target_namespace` which contains target pods, using `apply --namespace target_namespace -f experiment.yaml`.

btw, in the latest version, rbac file was removed from `./manifest` folder.

[2021-03-29 10:54] YangKeao commented on #1613
@WangXiangUSTC PTAL

[2021-03-29 11:23] krzysztofantczak opened #1615 "Namespace filtering based on ALLOWED_NAMESPACES"
## Feature Request

**Describe the feature you'd like:**

It would be great if dashboard could reflect limited amount of namespaces based on ALLOWED_NAMESPACES variable. Currently it lists all namespaces available in the cluster. It seems to be working perfectly fine when defining experiments but not for top-right hand dropdown.

[2021-03-29 12:49] #1606 closed

[2021-03-29 14:03] WangXiangUSTC commented on #1613
@jasonstack could you please provide more details about the error log, include usernames, etc.

[2021-03-30 02:16] WangXiangUSTC commented on #1613
In addition, please check the privileges of the user, make sure it has the privileges on < redacted_namespace >

[2021-03-30 03:57] YangKeao commented on #1615
@fewdan @g1eny0ung

[2021-03-30 05:07] AsterNighT commented on #1602
I quote ”竟有这事“. A deep dive into k8s log should be a workaround for this, I guess.

[2021-03-30 05:11] AsterNighT commented on #1602
Would the same problem apply to `podkill` too?

[2021-03-30 05:14] AsterNighT commented on #1602
/assign

[2021-03-30 05:16] AsterNighT commented on #1600
/assign

[2021-03-30 05:48] krzysztofantczak commented on #1615
Actually, it filters out experiment dropdowns with resources but namespace dropdowns also contain full list of namespaces.

[2021-03-30 06:36] AsterNighT opened #1618 "Chaosctl fail to create grpc connection"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of Chaos Mesh are you using?**
Release 1.2, built with go 1.16
**What did you do?**
run `chaosctl debug networkchaos xxx`

**What did you expect to see?**
Good things.
**What did you see instead?**
`failed get pid from pod default/web-show-6d9d9c6579-89gj9: rpc error: code = Unavailable desc = connection error: des

[2021-03-30 06:37] AsterNighT commented on #1618
@YangKeao PTAL

[2021-03-30 07:30] AsterNighT commented on #1618
/assign

[2021-03-30 07:53] AsterNighT commented on #1536
It is partly tested in #1620

[2021-03-30 08:09] #1602 closed

[2021-03-30 09:11] g1eny0ung commented on #1615
I think you may use the last released version of Chaos Dashboard. I have already "solve" this problem in PR #1546.

I change the select field to an autocomplete field (like the experiment dropdown). Now even if the namespace list is too long, the autocomplete field can also filter them well.

I also agree that it's better to filter the namespaces by the `ALLOW_NAMESPACES` variable but I am not ver

[2021-03-31 05:53] AsterNighT opened #1624 "AWS Intergration test fails"
## Bug Report
AWS Intergration test fails

**What did you expect to see?**
Test passes.
**What did you see instead?**

[code]

[2021-03-31 07:55] AsterNighT commented on #1624
A quick search give me this:https://github.com/localstack/localstack/issues/808
But we are installing with helm and I check the env of the localstack pod, it gives

[code]

I wonder if this would be the problem.

[2021-03-31 07:58] AsterNighT commented on #1624
/assign

[2021-03-31 10:09] AsterNighT commented on #1624
[code]

Seems there's something wrong here

[2021-03-31 12:33] #1600 closed

[2021-03-31 13:22] nikhil-rajan-neu commented on #1132
I did this..but now daemon sets are not getting created

[2021-03-31 14:33] #1624 closed

[2021-04-01 03:59] AsterNighT commented on #1475
This is no a chaos-dashboard issue. Deleting it directly from kuebctl results in the same thing.

[2021-04-01 04:00] AsterNighT commented on #1465
Seems that it applies to networkchaos as well.

[2021-04-01 05:11] AsterNighT opened #1627 "A better CreateGrpcConnection"
## Feature Request

On a discussion with @STRRL we agrees on that grpc creation is getting awkward due to the secure mode of chaos-mesh. I think it may be better if we make it some `GrpcConnectionBuilder`.

[2021-04-01 05:24] AsterNighT commented on #1627
I would start after #1599

[2021-04-01 05:41] YangKeao opened #1628 "AWS integration test script is too dirty"
## Bug Report

1. We need to install localstack manually before running AWS integration test, but the script will remove it automatically. A better way could be installing and uninstalling manually or doing both automatically.
2. The background process of `kubectl port-forward` leaks if the script failed. Please move the `trap` to the very beginning, so that not only the final successful exit will

[2021-04-01 09:02] YangKeao opened #1629 "AWSChaos didn't respect the `Endpoint` config"
## Bug Report

https://github.com/chaos-mesh/chaos-mesh/blob/master/controllers/awschaos/ec2stop/types.go#L56-L60 These lines of codes make it possible to use another endpoint (like localstack) to do AWS experiments. However, the `Recover` of `ec2stop` and other kinds of chaos doesn't have these codes.

It was amazing that even with this bug, the integration test has passed. The expected phenomeno

[2021-04-01 09:02] AsterNighT commented on #1628
A possible solution would be:
1. `helm upgrade --install` at the beginning of the script and remove the installation from intergration_test.yml
2. As described
3. As described
4. I don't see no document on this? You could run a check on things like `jq` and report an error if not found.

[2021-04-01 09:05] AsterNighT commented on #1629
In fact the intergration test does not check whether the deletion succeed or not :facepalm:

[2021-04-01 09:11] AsterNighT commented on #1629
And it happens to test ec2stop only

[2021-04-01 09:23] YangKeao opened #1630 "Stronger AWS Selector"
## Feature Request

Now `AWSChaos` and `GCPChaos` can only select one target. However, for the most case of `*Chaos`, it could select multiple targets (which is also the heart of distributed computing). And I believe #1578 will bring us strong confidence on handling this situation without doing a lot of modification.

And AWS also provides API to list / filter some instances, see the [docs](https:

[2021-04-01 14:58] avacaru commented on #1613
Hi everyone!

I am seeing the same issue and after trying to debug a little bit it looks like there is an issue with the admission webhook. I wonder if it has to do with the way the auth API works. What is the difference between what kubectl is using for `kubectl auth can-i` and what the validate-auth webhook is using? ref: https://github.com/chaos-mesh/chaos-mesh/pull/1535/files#diff-9d5caeab1ced

[2021-04-02 00:24] #1247 closed

[2021-04-02 02:57] STRRL opened #1632 "e2e test failed because of the kind version"
As https://github.com/chaos-mesh/chaos-mesh/pull/1625 bump the kind version, and the new version of kind seems not to play well with low version kubernetes.

https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/1468/pipeline

[code]

[2021-04-02 03:11] maronghe opened #1633 "Waiting for pod running all the time"
## Bug Report

when I first execute `curl -sSL https://mirrors.chaos-mesh.org/v1.1.2/install.sh | bash -s -- --local kind` command.

It reports  the blow info all the time. I don't know why.

Could anybody tell me the reason?

[code]

[2021-04-02 03:14] STRRL commented on #1633
Hi @maronghe, could you provide the output of `k -n chaos-testing describe pod chaos-controller-manager-5d988fd777-vjnjf` for us?

It might be stuck at downloading images.

[2021-04-02 05:24] YangKeao commented on #1465
Yes. Maybe we should leave some notes on what we need to consider when creating a new chaos:

1. The selection error should be handled to ignore "NotFound"
2. Is it container level or pod level or node level
3. ...

Both reviewers and developers don't have a consistent rule on these things, so sometimes we will forget to check these points.

[2021-04-02 05:42] YangKeao commented on #1613
It seems that the only difference is `kubectl` called `SelfSubjectAccessReview` ([cani.go#L247](https://github.com/kubernetes/kubectl/blob/652881798563c00c1895ded6ced819030bfaa4d7/pkg/cmd/auth/cani.go#L247)), and Chaos Mesh uses `SubjectAccessReview` (with username and groupds) to validate user.

[2021-04-02 08:38] aido123 commented on #1613
Looks like it's a case issue with the resource name:

Example:

`./kubectl create -f - -o yaml << EOF

apiVersion: authorization.k8s.io/v1
kind: SelfSubjectAccessReview
metadata:
  creationTimestamp: null
  managedFields:
  - apiVersion: authorization.k8s.io/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:spec:
        f:resourceAttributes:
          .: {}
          f:group: {}
          f:names

[2021-04-02 08:43] STRRL commented on #1613
Oh, thanks! Would you like to make a PR for that? @aido123 😁

[2021-04-02 09:09] aido123 commented on #1613
Sure thing

[2021-04-02 09:43] #1632 closed

[2021-04-03 00:18] #1227 closed

[2021-04-05 03:13] bwobbones commented on #1170
We will continue work on this task in May 2021, commenting so it doesn't close!

[2021-04-06 00:19] #1275 closed

[2021-04-06 03:54] AsterNighT opened #1642 "Better logs for developing and debugging"
## Feature Request
Now chaos-mesh's log is not so well-organized. It has become an obstacle for debugging and developing.

**Describe the feature you'd like:**
A better logging format could be adopted, Including but not limited to
1. Unified log level
2. Unified log manager (chaosctl could do the job), providing pod-wise log manipulation.
3. Source of the log (which module, file and line)
4. A col

[2021-04-06 05:05] STRRL commented on #1642
I wondering that we could also unify the creation of error, attaching the stack. We use zap as the logging framework, and zap will print the stack when printing an error, that's a little confusing.

[2021-04-06 05:30] cwen0 opened #1643 "Operation cannot be fulfilled on podnetworkchaos.chaos-mesh.org "web-show-94d5887bc-w9tb6": the object has been modified;"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

v1.1.2

**What did you do?**

1. `kubectl apply -f networkchaos-xxx

**What did you expect to see?**

All is OK

**What did you see instead?**

Networkchaos was blocked and reported an error:

![image](https://user-images.githubusercontent.com/22956341/113663124-10936a00-96dc-11eb-8

[2021-04-06 07:26] YangKeao opened #1645 "add e2e test for JVM chaos"
## Feature Request

Add e2e test for JVM chaos to give us confidence to modify these codes.

[2021-04-06 10:01] anuragpaliwal80 opened #1646 "ERROR: context deadline exceeded while calling webhook "vpodnetworkchaos.kb.io""
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of Chaos Mesh are you using?**

[code]
**What did you do?**

I am executing delay action in `NetworkChaos`.

If you specify the application pod and that pod is running on same node where chaos controller is running, we will see the error as
[code]
YAML for example:
[code]
**What did you expect to see?**
There shoul

[2021-04-06 10:03] anuragpaliwal80 commented on #1646
`host_network` is `false`

[2021-04-06 10:04] Debanitrkl commented on #1628
/assign

[2021-04-06 11:03] STRRL commented on #1187
Two things to do:

- `make install` will upgrade/install the latest code of the workspace
- `make e2e` will execute the e2e test directly without docker or kind

And user requires a docker registry that could be available by both kubernetes cluster and the dev machine.

[2021-04-07 00:18] #1282 closed

[2021-04-07 04:57] AsterNighT commented on #1643
Could you provide a bit more information on your operations? I tried the examples in the document and could not reproduce the issue locally.
And btw, are you using the latest version? It seems that `/mnt/controllers/twophase/types.go:117` is not some log now.

[2021-04-07 05:18] #1544 closed

[2021-04-07 05:18] #1618 closed

[2021-04-07 06:30] STRRL opened #1650 "code generation might make different behaviors caused by upgrading dependency in go.mod"
## Bug Report

It appears at https://github.com/chaos-mesh/chaos-mesh/pull/1545/checks?check_run_id=2276043174, the `controller-gen` generate YAML file without line-wrap.

detail logs：<details>
2021-04-06T07:27:39.8562478Z GO15VENDOREXPERIMENT="1" CGO_ENABLED=0 GOOS="" GOARCH="" go get golang.org/x/tools/cmd/goimports@v0.0.0-20200309202150-20ab64c0d93f
2021-04-06T07:27:40.1196018Z go: found golang

[2021-04-07 06:36] maronghe commented on #1633
Hi @STRRL  Thank you  for your response.

Do you mean the flowing command and details?

`
kubectl -n chaos-testing describe pod chaos-controller-manager-5d988fd777-vjnjf                                                                       `

[code]

But for now, I run `curl -sSL https://mirrors.chaos-mesh.org/v1.1.2/install.sh | bash -s -- --local kind` command again.
It show me the different det

[2021-04-07 07:24] STRRL commented on #1633
It seems the chaos-daemon trapped in a similar situation with chaos-controller-manager, it is stuck in download images.

Please use `kubectl describe` on that pod for more details.

[2021-04-07 07:50] cwen0 commented on #1643
The Chaos Mesh version is v1.1.2, it is the latest release version. I also can't reproduce it at present, but I can provide the whole log.

[2021-04-07 11:00] Debanitrkl commented on #1628
[code]
This was the result after moving `trap 'kill $(jobs -p)' EXIT` to line 15

[2021-04-07 11:07] STRRL commented on #1628
I am afraid that the integration test script could NOT directly run on your local machine, for example:
- you should install awscli at first
- and the `jobs -p` might kill your own background process

I suggest you create a draft PR to trigger that integration test

[2021-04-08 00:20] #1289 closed

[2021-04-08 03:28] g1eny0ung opened #1659 "dashboard: can't insert experiment in MySQL NO_ZERO_IN_DATE mode"
## Bug Report

**What version of Kubernetes are you using?**

Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:20:00Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**

**What did you do?**

Helm install with MySQL

[2021-04-08 14:26] Debanitrkl commented on #1628
@STRRL  could you check for the draft PR also after installing AWS CLI the following error turns out.
[code]

[2021-04-09 02:08] STRRL commented on #1628
The log says `jq: command not found`, you should install `jq`.

[2021-04-09 02:58] Debanitrkl commented on #1628
[code]

[2021-04-09 03:04] Debanitrkl commented on #1628
It's working as expected with `trap` in last line but when I get it in the very beginning I get the above mentioned error
[code]

[2021-04-09 08:46] STRRL commented on #1628
I think that issue about webhook's `context deadline exceeded` is not related to `trap`.

[2021-04-09 08:51] STRRL commented on #1628
and I think the `trap` should not be placed before `set`; `set` declare the options of the current shell, it should be executed at first.

[2021-04-09 11:40] jkylling opened #1662 "NetworkChaos partition could allow communication on established connections"
NetworkChaos partitions

## Feature Request

**Is your feature request related to a problem? Please describe:**
We wish to simulate a network partition where pod B can establish connections to pod A, on which both pods can communicate, but pod A cannot establish connections to pod B.

(This requests stems from a production problem we experienced where communication issues from the kubelet to the k

[2021-04-10 06:09] anuragpaliwal80 opened #1664 "Error response from daemon: Cannot kill container: <id>: Container <id> is not running"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of Chaos Mesh are you using?**

`1.1.2` as well as in `1.0.1`

**What did you do?**

**What did you expect to see?**
controller logs:
[code]

`k describe PodChaos -n ap-chaos` shows:
[code]

chaos experiment file:
[code]

Once chaos resource is in `Failed` phase, even if the application pod start running smoothly (

[2021-04-10 06:10] anuragpaliwal80 commented on #1664
One another sort of error with `conatiner-kill` action. Controller logs:

[code]

This is from chaos version `1.0.1`

[2021-04-10 16:08] Gallardot opened #1665 "Dashboard can support accepting cookies from the server side"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If the Dashboard has SecurityMode enabled, the user needs to enter the token manually.But this is not a friendly way to integrate with third-party systems.Because it is not possible to simulate user behavior on the client side.

**Describe the feature you'd like:**

Hopefully Dashboard can support accepting coo

[2021-04-11 04:41] anuragpaliwal80 commented on #1664
`StressChaos` is also having similar problem. Describe the chaos resource:

[code]

[2021-04-11 07:14] jarrodcal opened #1666 "how to build go demo using ptrace lib"
## Question

use github.com/chaos-mesh/chaos-mesh/pkg/time  as lib

write a demo like this:

package main

import (
	"flag"
	"fmt"
	"github.com/chaos-mesh/chaos-mesh/pkg/time"
	"strconv"
)

var pid = flag.String("pid", "", "pid")

func main()  {
	flag.Parse()
	val, err := strconv.Atoi(*pid)
	if err != nil {
		fmt.Println(err)
		return
	}

	err = time.ModifyTime(val, -10000, 0, 1)
	if err != nil {

[2021-04-12 04:00] e06084 opened #1671 "ui: long text is not truncated"
![image](https://user-images.githubusercontent.com/24450527/114339023-e253d580-9b86-11eb-88cc-5fc83fa89382.png)

[2021-04-12 04:52] g1eny0ung commented on #1671
In the recent changes, I have already optimized these two places. I think the screenshot below can show the latest effect:

![image](https://user-images.githubusercontent.com/15034155/114341198-c6066780-9b8b-11eb-87d8-0a45589ab196.png)

These fixes will be released in the next version. I will also cherry-pick them into the old versions (if needed).

[2021-04-12 05:22] YangKeao commented on #1666
There is also a simple demo of using `github.com/chaos-mesh/chaos-mesh/pkg/time` as lib in the chaos mesh repo (the source code located at https://github.com/chaos-mesh/chaos-mesh/blob/master/cmd/watchmaker/main_linux.go). Could you try to clone the `chaos-mesh` and run `CGO_ENABLED=1 go build ./cmd/watchmaker/`? It should compile and generate a binary `watchmaker`.

[2021-04-12 05:33] STRRL commented on #1664
Errors about "container is not running" will occurs when the pod is at "ContainerCreating" phase. We are working on improving the logic. And you could wait until pods are "Running" before injecting the chaos.

[2021-04-12 07:39] YangKeao commented on #1666
It turns out to be the compatibility issue of low version gcc and go. `cgo` requires gcc version >= 4.6

[2021-04-12 08:00] jarrodcal commented on #1666
Thanks，it's ok now!

[2021-04-12 08:00] #1666 closed

[2021-04-12 08:27] cwen0 commented on #1671
@g1eny0ung Does `release-1.1` branch include this fix?

[2021-04-12 08:31] g1eny0ung commented on #1671
I am merging the fixes to the v1.1 branch. I will open a PR later.

[2021-04-12 10:01] #1671 closed

[2021-04-12 12:07] liwanxue opened #1675 "Error while deleting networkchaos"
## Question

When I try delete networkchaos, it failed. Below are informations when I describe this networkchaos.

  Failed Message:  1 error occurred:
                   * admission webhook "vpodnetworkchaos.kb.io" denied the request: rpc error: code = Unknown desc = no running task found: task 7c4f1fea194c06fc543b69b0478141495acb3b17ea6a34bb3eabfde309ceb48c not found: not found

  Scheduler:
Eve

[2021-04-12 12:09] liwanxue commented on #1675
How can I fix it or workaround it quickly? Thanks!

[2021-04-12 12:34] liwanxue commented on #1675
The step I can reproduce and workaround as below. I think it might be a bug.
1.  apply a chaos.
2. some pod which applied this chaos somehow the container is dead, and it will try restart.
3. but because of this chaos, this container can not start.
4. then this error shows up when I try to delete this chaos.

[2021-04-13 00:20] #1262 closed

[2021-04-13 03:33] STRRL commented on #1675
Hi @liwanxue , could you tell us the version of chaos-mesh, kubernetes and your container runtime?

[2021-04-13 05:28] liwanxue commented on #1675
chaos mesh is v1.1.1
k8s: release-0.46.10
chaosDaemon.runtime=containerd

[2021-04-13 07:59] #1539 closed

[2021-04-13 08:08] STRRL commented on #1675
Please make sure that your container is still alive, it mostly like chaos-mesh failed to fetch pid information from your container runtime.

[2021-04-13 08:30] liwanxue commented on #1675
yes. I have to make sure container is alive during failure test.  so, I think it's a bug.

[2021-04-13 08:42] STRRL commented on #1675
Yeah, the reaction with the pod status changes is a big improvement in the 2.0 Roadmap. Please keep looking forward to that. 😁

[2021-04-13 08:48] STRRL opened #1679 "Workflows are denied by webhook "vauth.kb.io""
## Bug Report

`Workflow` is not a type of Chaos, so it does not implement the interface `ChaosValidator`. So all the request about workflow will fail because of that webhook:
[code]

The current implementation about auth depends on the `SelectSpec`, which is not so well.

I think we need another exactly interface to describe the permissions, like:

[code]

Each type of chaos could persist the cur

[2021-04-13 08:57] GillesZhao opened #1680 "Cannot set up "duration" field for "new experiment" of "Pod Kill""
![image](https://user-images.githubusercontent.com/58843253/114525831-02fc5800-9c79-11eb-8da6-9108d711149c.png)

**We cannot find where to fill in the "duration" field.
And if the "duration" equals to "immediate" or nothing filled in (api will get null/nil etc) , the pod chaos-controller-manager-xxxxxxxxx-xxxxx will fail with error crash.**

**And here're some error logs from the pod:**
[code]

[2021-04-13 09:01] STRRL commented on #1679
I think we could bypass this issue by just allowing all the requests about workflow and workflow nodes.

[2021-04-13 09:38] AsterNighT commented on #1680
Hi, thank for reporting this. Can you please provide you chaosmesh version? And how did you create the `podkillchaos` with "duration" equals to "immediate" or nothing filled, By chaos dashboard or `kubectl apply -f`?

[2021-04-13 09:46] GillesZhao commented on #1680
We did it by chaos dashboard, you can see my screenshot for reference. After we filled in the cron expressions we cannot see the "duration" field, and then we click "submit", and we just see duration equals to "immediate" 👍

![image](https://user-images.githubusercontent.com/58843253/114533131-2aa2ee80-9c80-11eb-96c8-fd3752833ace.png)

and then the pod chaos-controller-manager-xxxxxxxxx-xxxxx will

[2021-04-13 09:48] AsterNighT commented on #1680
![image](https://user-images.githubusercontent.com/22937027/114533336-5e7e1400-9c80-11eb-956a-9528cfdd1477.png)
I checked chaos dashboard and seem to find it. Could you please check your chaosmesh version?

[2021-04-13 09:52] GillesZhao commented on #1680
We are using the latest version v1.1.2

[2021-04-13 09:54] GillesZhao commented on #1680
The issue occurs from time to time, sometimes we see the "duration" sometimes it disappeared.

[2021-04-13 16:37] AsterNighT commented on #1680
@g1eny0ung PTAL

[2021-04-14 03:33] WangXiangUSTC commented on #1613
`SelfSubjectAccessReview` can only validate the connection is used, but `SubjectAccessReview` can validate other user

[2021-04-14 06:08] anuragpaliwal80 opened #1684 "admission webhook "vauth.kb.io" denied the request even if user has rights to create chaos resource"
## Bug Report

**What version of Kubernetes are you using?**

`1.19.4`
**What version of Chaos Mesh are you using?**

`1.1.2`
**What did you do?**

Created a cluster role as
[code]

and applied the same for a namespace as:

[code]

The yaml file used to create CR:
[code]

**What did you expect to see?**
User should be able to create the CR in this NS as he is part of the group 105b5320-d368-4bab-8

[2021-04-14 06:31] STRRL commented on #1684
The log says your current user is `https://sts.windows.net/fa7b1b5a-7b34-4387-94ae-d2c178decee1/#SlvPIL-TouTpgZ5pCahgAIOPKTIV2vCuZNTP7OxGxY4`, please make sure your current user is a member of that certain group.

You could also use kubectl to submit a yaml file of `SubjectAccessReview` to check the permission.

[2021-04-14 06:53] anuragpaliwal80 commented on #1684
Yes user is part of that group and `k auth can-i create podchaos -n ap-chaos` shows `yes`

I did not get `You could also use kubectl to submit a yaml file of SubjectAccessReview to check the permission.` Can you please explain ?

[2021-04-14 07:28] STRRL commented on #1684
`k auth can-i` works based on `SelfSubjectAccessReview`, they will do the similar things.

[2021-04-14 07:29] STRRL commented on #1684
I think it might be related to https://github.com/chaos-mesh/chaos-mesh/issues/1613#issuecomment-812417584, I am going to fix that.

[2021-04-14 07:55] GillesZhao opened #1685 "Error messages appear in "network loss" and "container kill" experiments"
![image](https://user-images.githubusercontent.com/58843253/114674085-6f3e9080-9d39-11eb-9740-078cd5b5669f.png)
![image](https://user-images.githubusercontent.com/58843253/114674218-972df400-9d39-11eb-949a-be01a3211d30.png)

Have you guys ever seen the error messages like the screenshots? What does that mean?

chaos-mesh version : v1.1.2

[2021-04-14 09:19] g1eny0ung commented on #1680
Due to the `pod-kill` action will delete the pod immediately, there is no needed to fill the duration field when you create an experiment.

And once the action `pod-kill` or  `container-kill` be selected, the duration field will be hidden automatically. This is an expected behavior.

[2021-04-14 09:21] g1eny0ung commented on #1680
I think we will describe this behavior more obviously, both in the dashboard interface and docs.

[2021-04-14 09:25] GillesZhao commented on #1680
But why the "duration" for pod-kill and container-kill appears and disappears from time to time? And even if the duration field is hidden, and the value will equal to "immediate", then the pod chaos-controller-manager-xxxxxxxxx-xxxxx will fail with error crash, it does not accept the value of "immediate".

[2021-04-14 09:52] g1eny0ung commented on #1680
Aster's screenshot represents a temporary state, he has not yet chosen the final action. Only after the action is selected, the duration field will judge whether to hide according to the selection.

The **Duration immediate** shown on the dashboard is only related to UI. The below is its code position:

https://github.com/chaos-mesh/chaos-mesh/blob/master/ui/src/components/ExperimentConfiguration/

[2021-04-14 09:57] g1eny0ung commented on #1680
@GillesZhao Can you provide the output of `kubectl get StressChaos -n chaos-testing`?

[2021-04-14 10:08] GillesZhao commented on #1680
Could you describe what kind of logs do you want to see, since actually I have no resource name for StressChaos and the namespace chaos-testing?

[2021-04-14 10:27] g1eny0ung commented on #1680
My fault 🤣, the command I want you to execute is `kubectl get StressChaos -A`. I'm just want to see if there has some failed stresschaos. Because I found the issue #802 is similar to your problem.

[2021-04-14 10:39] GillesZhao commented on #1680
Actually we only tried experiments Pod and Network. We never created one for stresschaos.

[2021-04-14 10:46] g1eny0ung commented on #1680
🤔 I may not be able to figure out the problem. @cwen0 @AsterNighT Would u please take a look if you have free time?

[2021-04-14 10:52] anuragpaliwal80 commented on #1684
I tried changing kind to lower i.e. `kind: podchaos` case but the error remain the same.

and `k auth can-i create PodChaos -n ap-chaos` also shows `yes`

[2021-04-14 10:59] STRRL commented on #1684
I am afraid you could not bypass this issue in this way, the kind you specified is not 100% same with the request to the webhook.

`kubectl` have already made the conversation between Kind and Resource, so both `PodChaos`(kind) or `podchaos`(resource) work fine.

[2021-04-14 11:01] anuragpaliwal80 commented on #1684
Yeah I was also thinking the same that it might not be good way to try in lower case as it has so many other flow.
Thanks for clarifying the kubectl flow.

[2021-04-14 12:01] #1613 closed

[2021-04-14 12:01] #1684 closed

[2021-04-15 00:18] #1324 closed

[2021-04-15 02:47] AsterNighT commented on #1680
Yeah I am able to reproduce this.
1. Select `pod kill` and confirm grace period. At this time there's no duration field
2. Cancel the configuration and select something else, like `pod failure`. Now duration should come up.
3. Cancel the configuration, select `pod kill` and confirm grace period again. Duration field won't disappear here.

@g1eny0ung I suppose that'll be some frontend bug?

[2021-04-15 02:50] AsterNighT commented on #1680
But it won't let me pass if I fill in some `immediate` or nothing in the duration field.

[2021-04-15 03:17] Hexilee commented on #1685
It seems to be the same problem with #1618, do you use official images?

[2021-04-15 06:16] YangKeao opened #1693 "Add `Schedule` custom resource to represent cron job"
As discussed in  #1520, a `Schedule` resource is needed to represent a cron chaos.

[2021-04-15 06:17] YangKeao opened #1694 "migrate `GCPChaos` to the new controller implementation"
Migrate `GCPChaos` to the new controller implementation in `nirvana` branch.

[2021-04-15 06:17] YangKeao opened #1695 "migrate `HTTPChaos` to the new controller implementation"
Migrate `HTTPChaos` to the new controller implementation in `nirvana` branch.

[2021-04-15 06:18] YangKeao opened #1696 "migrate `KernelChaos` to the new controller implementation"

[2021-04-15 06:18] YangKeao opened #1697 "migrate `JVMChaos` to the new controller implementation"

[2021-04-15 06:19] YangKeao opened #1698 "Use `Condition` to track the status of a chaos"
Like a `Pod`, use `Condition` to track the current status of a chaos.

[2021-04-15 06:22] YangKeao opened #1699 "Adapt the dashboard for new controller design"
As the `StartTime` and `EndTime` has been removed from the `.Status`, `dashboard` should be modified to adapt this change. It cannot be done until #1693 has been done :(

Most error and steps information is sent through kubernetes events, which could be listened by `pkg/collector`.

[2021-04-15 06:23] YangKeao opened #1700 "Add test for controllers"
A lot of controllers have been added, and they should be fully tested.

- [ ] common
- [x] desiredphase
- [x] finalizers
- [x] schedule #1830

[2021-04-15 07:24] GillesZhao commented on #1685
Could you please recommend an official image for us to build the codes v1.1.2 ?

[2021-04-15 07:27] AsterNighT commented on #1685
Is there any necessity that you build `chaos-mesh` from source code? If not, you can use release with `helm` or use a deploy script directly.

[2021-04-15 07:30] AsterNighT commented on #1685
Can you brief your building steps? The tls part is not in `release 1.1` and this issue is fixed in `master` and `release 1.2`. You are not likely to run into this issue theoretically.

[2021-04-15 07:50] zhangqiongjie commented on #1685
@AsterNighT  Actually, @GillesZhao and me only execute the command "cargo build --release" to generate bin file "toda". First we clone project by git command 'git clone https://github.com/chaos-mesh/toda.git', and then command "cd tuda", finally we follow the prompt of Dockerfile to execute the command "cargo build --release". Finally reported error "# cargo build --release
   Compiling toda v0.2.

[2021-04-15 08:02] Hexilee commented on #1685
@zhangqiongjie `libfuse3` is necessary to build toda, and fuse2 or fuse3 kernel modules are necessary to run it.

[2021-04-15 08:07] zhangqiongjie commented on #1685
Yes, I have complied to install "libfuse3", show below:
[code]

[2021-04-15 08:15] Hexilee commented on #1685
@GillesZhao Currently, we don't consider providing official images based on centos or Redhat. If you need them, we would like to help you.

Firstly, could you provide the commit hash you are using?

[2021-04-15 08:16] AsterNighT commented on #1685
It seems that you are raising a different question here. I suggest you open another issue in [toda](https://github.com/chaos-mesh/chaos-mesh)

[2021-04-15 08:42] YangKeao opened #1705 "Investigate subresource to resolve conflict of multiple controller"
Use subresource may resolve the conflict update of mutliple controller (as controllers manage different fields)

[2021-04-15 09:48] AsterNighT commented on #1705
It seems that `status` subresource is completely independant to the CR. I wonder if it will cause some inconsistency if not handled carefully

[2021-04-15 17:41] YangKeao commented on #1705
Not `status` subresource. It needs a more fine-grained subresource, like a field (e.g. the `.Status.Records` and `.Status.DesiredPhase` can be updated independently to avoid conflict.). I don't know whether it is possible :crying_cat_face:

[2021-04-16 03:00] AsterNighT commented on #1705
I was referring to https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#subresources. So we are talking about different things?

[2021-04-16 03:23] AsterNighT opened #1711 "Refactor `chaosctl` to work with `nirvana`"
Now in `nirvana`, `chaosctl` won't work properly since it rely on the `two phase` logic. It needs to be fixed. I think it's time to give it a total review and see if improvements can be made.

Known issues would be:
- Not very straight forward or useful, there is no script or guideline on how to use it in a bug report.
- Poor parameter passing. Some parameters are passed among modules using global

[2021-04-16 05:29] YangKeao commented on #1705
Oops, so only `.Status` and `.Scale` is supported? I will close this issue sadly :crying_cat_face:

[2021-04-16 05:29] #1705 closed

[2021-04-16 08:53] YangKeao commented on #1182
@fewdan How is it going?

[2021-04-16 12:12] ericjohansson89 opened #1714 "Ability to set annotation on dnsServer"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I am running istio in my cluster and I would like to have sidecars enabled in the chaos controller manager, chaos dashboard and chaos daemon pods. That setup is working fine but when I am trying to run the coredns part of chaos mesh for DNSChaos I am not able to toggle of istio sidecar injection through pod anno

[2021-04-19 05:31] Hexilee commented on #1714
Implemented, you can use it on the latest master branch.

[2021-04-19 05:31] #1714 closed

[2021-04-19 07:12] cwen0 commented on #1452
We have supported this feature in PR #1550

[2021-04-19 07:12] #1452 closed

[2021-04-19 08:38] YangKeao opened #1716 "Investigate global lock of one resource among multiple controllers"
Whether it's possible / needed to add a global lock for one resource among a lot of controllers? With a global lock, the controller can avoid a lot of conflicts.

In one controller, it's serialized by a queue. With a global lock, we can make the whole process on a resource to become serialized.

[2021-04-19 12:49] YangKeao commented on #1716
The problem is that it may block other resources to be reconciled by the controller.

[2021-04-19 12:53] YangKeao commented on #1716
It's impossible.

[2021-04-19 12:53] #1716 closed

[2021-04-20 05:20] YangKeao commented on #1365
If we can setup a service with `externalIPs` to route webhook to the local `controller-manager`, it would be possible to start `controller-manager` with `make run`.

And it also needs to setup the TLS configuration (we cannot mount a secret to local machine)

[2021-04-20 08:02] g1eny0ung commented on #1680
Since there is no feedback for a time, I will close this issue.

The above PR contains a tiny enhancement about the `immediate` note on the detail page. It will be removed when an experiment has no duration field.
a
If you still have some other problems, feel free to open a new issue.

[2021-04-20 08:02] #1680 closed

[2021-04-20 13:37] STRRL opened #1726 "too many required environments to startup a chaos-controller-manager"
## Question

Could we reduce the number of **required** environments for starting up the `chaos-controller-manager`?
It asks me for 4 ENV now: `TEMPLATE_LABELS`, `CONFIGMAP_LABELS`, `TEMPLATE_NAMESPACE`,`CERTS_DIR`, and it lacks the validation of configuration, so I have to append a new ENV each a time then restart for 4 times.

[2021-04-21 05:42] AsterNighT commented on #1726
I knew we could start `chaos-daemon` and `chaos-controller-manager` locally for debugging and developing but I never found any guide on how to configurate it :facepalm:

[2021-04-21 14:05] STRRL opened #1736 "we should determine the minimum supported release version of kubernetes and other components"
Currently, we have not claimed the minimum supported version of kubernetes and Linux kernel, that will bring so many troubles for developing and using Chaos Mesh.

The related components are including but not limited to:
- kubernetes
- linux kernel
- glibc
- (other runtimes)

We are going to make a form for users to collect the information of their kubernetes cluster information.

(link of form is

[2021-04-22 03:16] AsterNighT commented on #1338
Would this be available in `nirvana` @YangKeao ?

[2021-04-22 03:19] YangKeao commented on #1338
With nirvana, it would be easier to implement this feature. But I'm afraid that we don't have time to try until 2.0 release 🤦‍♂️.

[2021-04-22 07:20] milasuperstar commented on #1736
Link to the form 👇

`https://www.surveymonkey.com/r/5VRG3DX`

[2021-04-22 07:53] ericjohansson89 opened #1737 "Ability to set strategy on dashboard deployment"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Dashboard pods stuck in ContainerCreating when using PVC. When I do new deployments and the new Pod ends up on a different node the Pod get stuck in ContainerCreating since kubernetes can not switch which node the PVC is attached to.

**Describe the feature you'd like:**
Allow to set Strategy on the dashboard de

[2021-04-22 13:42] STRRL opened #1742 "Unstable e2e test: memory stress"
## Bug Report

The e2e test case about memory stress is not stable:
https://github.com/chaos-mesh/chaos-mesh/blob/master/test/e2e/chaos/stresschaos/memory.go

We have disabled that case as a temporary solution. https://github.com/chaos-mesh/chaos-mesh/pull/1738

By the logging of e2e tests, the usage of memory does not decrease after recovering the Chaos, and the memory usage of another cgroup whi

[2021-04-23 02:51] #1474 closed

[2021-04-23 06:19] cwen0 commented on #1395
[v1.2.0](https://github.com/chaos-mesh/chaos-mesh/releases/tag/v1.2.0) has been released! This issue will be closed!

[2021-04-23 06:19] #1395 closed

[2021-04-23 08:29] #1506 closed

[2021-04-23 09:55] lcwus2 opened #1746 "Network experiment doesn't work"
## Bug Report

**What version of Kubernetes are you using?**

v1.18.9

**What version of Chaos Mesh are you using?**

v1.1.4

**What did you do?**

1. I create network loss experiment in dashboard, detail experiment yaml:
[code]
2. then start this experiment, return success, but in the pod that was controlled, ` ping www.baidu.com`, still have no loss

**What did you expect to see?**
network loss

[2021-04-23 10:07] Hexilee opened #1747 "add option in chaos-daemon deployment to config fuse-abi version used by io chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

As mentioned in #1503, we downgrade the FUSE-ABI version to 7.19 for compatibility with centos7.5(kernel 3.10). However, it's observed that ABI-7.31 is more high-powered than ABI-7.19 in the newer Linux kernel.

**Describe the feature you'd like:**

We can pack two toda binaries with different ABI versions and

[2021-04-23 14:20] fewdan commented on #1746
[code]
Judging from the above yaml file, this network experiment has been paused?

[2021-04-23 14:30] lcwus2 commented on #1746
I stopped this experiment when I copy this yaml in dashboard...

[2021-04-25 00:20] #1137 closed

[2021-04-25 17:07] storagezhang opened #1749 "StressChaos injects stress report: stress out pod"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"1dd5338295409edcfff11505e7bb246f0d325d15", GitTreeState:"clean", BuildDate:"2021-01-13T13:23:52Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0b

[2021-04-26 08:10] fewdan commented on #1749
Message "stress out pod" is normal and meets expectations. You can exec "kubectl describe stresschaos ctn-cpu-load -n sock-shop" to check the chaos.

[2021-04-27 08:55] hantmac opened #1751 "NetworkChaos has been deleted , but still in dashboard"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

1.20

**What did you do?**

I delete a NetworkChaos but the `NetworkChaos` still showed in dashboard, when I click it the dashboard get an error. See the next pics:

the deleted NetworkChaos still in dashboard :

![image](https://user-images.githubusercontent.com/7600925/116214326-2

[2021-04-28 00:18] #1154 closed

[2021-04-28 09:04] cwen0 commented on #1482
/cc @g1eny0ung

[2021-04-28 10:43] YangKeao opened #1754 "Support Workflow for Nirvana"
Add the `Workflow` object in `Schedule`. There are two things to modify:

1. Modify the definition and types, to make it possible to write a workflow under the `Schedule`
2. Add a function to assert whether `Workflow` has stopped, so that the `gc` controller could remove it.

[2021-04-28 10:47] YangKeao opened #1755 "Add test for `Schedule`"
Add unit test, integration test and e2e tests for `Schedule`.

[2021-04-29 02:10] STRRL commented on #1754
`Workflow` has a condition called `ConditionAccomplished`, I think we could use that to make the assertion.

[2021-04-29 02:57] storagezhang commented on #1749
But it doesn't work. The CPU load has not changed.

[2021-04-29 03:11] AsterNighT commented on #1749
`experiment.chaos-mesh.org/pause: 'true'`

it seems that the chaos is paused?

[2021-04-29 06:53] STRRL opened #1756 "Why does DNSChaos need get/list/watch for services within clusterScoped mode"
## Question

I found a question while reviewing https://github.com/chaos-mesh/chaos-mesh/pull/1725, locate at https://github.com/chaos-mesh/chaos-mesh/blob/c86e97fad6720a2be53204827bc66b656fad8b8a/helm/chaos-mesh/templates/controller-manager-rbac.yaml#L56

Why controller-manager could get/list/watch service **only** with the cluster scoped mode? I think it relates to https://github.com/chaos-mesh/

[2021-04-29 06:53] STRRL commented on #1756
PTAL @WangXiangUSTC

[2021-04-29 08:59] #1742 closed

[2021-04-29 09:35] WangXiangUSTC commented on #1756
It seems that we can remove it from the cluster role, and I take a try, but get an error:
[code]

There are two problems:
1. Use get in code, but require the list privileges, here is the issue https://github.com/kubernetes-sigs/controller-runtime/issues/1220
2. Get services in a namespace, but require cluster privileges, and find a similar issue https://github.com/operator-framework/operator-sdk/i

[2021-04-29 12:32] Muscule commented on #1751
See same bug not only in network chaos.

[2021-04-29 12:35] storagezhang commented on #1749
No, it doesn't mater.
I'll start the experiment manually.

[2021-04-29 20:56] shivanshs9 commented on #1348
@WangXiangUSTC After researching into various ways to solve it, I've got 2 ideas which I'm summarizing:
1. Ideally, there could be a load balancer with SSL Termination in front of Dashboard service. Ingress would solve that, however it's not expected that every cluster will have ingress controller installed beforehand. Moreover, the required ingress controller may be different for different cloud

[2021-05-03 16:48] fewdan commented on #1746
@lcwus2 Sorry for the slow response, does this problem still exist?

[2021-05-04 00:07] #1383 closed

[2021-05-04 06:31] asquare14 commented on #1697
May I work on this @YangKeao

[2021-05-04 10:28] adbjo opened #1772 "Running Chaos on Init Containers"
## Question
Hi,

We have an Init Container that is used to get credentials for services from a secrets manager.
We want to test it by running NetworkChaos experiments on one of the services that uses it, and then kill the pods for this service to see what happens if the Init Container has connection issues when communicating with the secrets manager.

Doing this throws these errors:
`pod not runni

[2021-05-04 12:48] SrushtiPasari-GEP commented on #1462
Unified dashboard is Awaited feature.

[2021-05-04 17:44] fewdan commented on #1772
Yes, this is the expected result. If the pod is not in the running state, it is currently not possible to inject networkchaos.

[2021-05-04 19:05] austinpray-mixpanel commented on #1746
@Icwus2 check that your "target" section is valid. As far as I can tell your experiment in the OP is targeting itself when the target should probably be omitted.

[2021-05-05 00:05] #1364 closed

[2021-05-05 02:32] AsterNighT commented on #1746
As @austinpray-mixpanel mentioned, you should not specify a target or you will get a networkchaos targeting the pod itself. And `mode: all` only indicates that it will work on all pods selected by the `target` part.
Would you try again after deleting the `target` part?

[2021-05-05 07:13] adbjo commented on #1772
I this the expected result for other experiments as well? (StressChaos, TimeChaos, IOChaos, etc.)

[2021-05-05 09:27] AsterNighT commented on #1772
AFAIK, Yes

[2021-05-05 09:34] STRRL opened #1786 "execute `go mod tidy` with e2e-test and api/v1alpha1 during make check"
currently, we have more than one go.mod file, and we should also cleanup these file during `make check`.

[2021-05-05 09:36] STRRL commented on #1786
We could lint like modifications in #1776

[2021-05-06 09:11] YangKeao opened #1794 "Add auth check for nirvana controller"
As described in the code, please add auth check for `Schedule` object.

[code]

[2021-05-06 10:15] Andrewmatilde opened #1796 "Too many duplicate and maybe useless generated k8s yaml file in the chaos-mesh/chaos-mesh."
## Question
There are there copy of crd config file in the repo, which in chaos-mesh/helm/chaos-mesh/crds/ , chaos-mesh/manifests/crd.yaml and chaos-mesh/config/crd/bases/.
![image](https://user-images.githubusercontent.com/32479514/117280957-b847b780-ae95-11eb-82f6-2def5ad41de3.png)

These code generated when we just want to use it , for example yaml used in helm can generate in actions and then

[2021-05-07 00:05] #1408 closed

[2021-05-08 09:28] YangKeao opened #1817 "Support `pause` in Schedule"
`pause` has been supported by the `common` controller. However, it hasn't been supported by the `cron` controller yet.

1. Skip the spawn when it was paused
2. Automatically pause the active objects

The second one could be done by a standalone controller. And the first one should be done inside the `cron` controller.

[2021-05-08 11:40] YangKeao opened #1818 "Support retry in controller nirvana"
In some situation, the nirvana controller may have failed to apply or recover, and retry may get things better. We need to investigate how the backoff is organized (without blocking other events) and how we should implement it in our controllers.

[2021-05-10 03:11] lcwus2 commented on #1746
I try to remove `target` but something wrong as follow:
![image](https://user-images.githubusercontent.com/30100640/117600817-4adea400-b17f-11eb-9bc3-1edbba28d3d3.png)

now my experiment file like this:
[code]
my confusion is that there are two part to set experiment scope? I just want to use `target` to set injected pods scope

[2021-05-10 07:13] YangKeao opened #1821 "Implement migration script from `scheduler: ""` to `Schedule` object"
There is no more `scheduler` field in the specification of `*Chaos` object, so we need to add a script to migration from `scheduler:""` to `Schedule` object.

[2021-05-10 09:06] sathiyajith opened #1822 "context deadline exceeded while deploying network-delay.yaml"
Error:
`Error from server (InternalError): error when creating "network-delay.yaml": Internal error occurred: failed calling webhook "mnetworkchaos.kb.io": Post "https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-chaos-mesh-org-v1alpha1-networkchaos?timeout=5s": context deadline exceeded`
[code]

I installed cert-manager by following steps in this link:
[https://github.com/chaos-me

[2021-05-10 12:12] sathiyajith commented on #1228
Hey @pdorbaisdkt , I got the same error. Can you please tell me what exactly we have to do with the firewall to solve this error?

[2021-05-10 12:41] sathiyajith commented on #1228
Oh gotcha, I turned off the firewall. It worked.

[2021-05-10 13:33] STRRL commented on #1822
HI @sathiyajith , I noticed your comments under https://github.com/chaos-mesh/chaos-mesh/issues/1228#issuecomment-836649643, I think your problem has been resolved. So I'm going to close this PR.

Feel free to reopen it if you still have other questions. 😁

[2021-05-10 13:33] #1822 closed

[2021-05-11 00:05] #1401 closed

[2021-05-11 07:37] YangKeao commented on #1698
It's really needed to add a `Condition` to assert the global status of a chaos.

[2021-05-11 08:54] YangKeao opened #1825 "Investigate meaningful event message"
Investigate structured-log and make it easier to parse for Dashboard.

[2021-05-12 06:39] ojaswa1942 opened #1829 "CRON stops after an error is encountered"
## Bug Report

**Kubernetes Version:**
Client: v1.20.5
Server: v1.20.2

**Chaos Mesh Version**: v1.2.0 (CommitId: e9dc90589310013fbde93a8a5172c08d1091145f)

**What did I do?**
1. Setup a `container-kill` `PodChaos` with a CRON of every 40s.
[code]
2. Monitored pod status and application reachability
3. On unexpected behavior, used `chaos-dashboard` to debug

**What went wrong?**
The PodChaos went

[2021-05-13 03:07] AsterNighT commented on #1693
Why wasn't this issue closed?

[2021-05-13 03:07] #1693 closed

[2021-05-13 03:34] AsterNighT commented on #1821
Does this mean a bash script or sth to modify yaml?

[2021-05-13 03:46] AsterNighT commented on #1754
Would it be a better way to treat `workflow` exactly as if it is a `chaos`, or treat it differently?

[2021-05-13 03:55] g1eny0ung commented on #1829
@fewdan @AsterNighT PTAL when you free.

[2021-05-13 04:20] YangKeao opened #1833 "Add status for every records"
For example, in the `Pod` there is a `containerStatuses`:

[code]

It records the state and coresponding message. Maybe we should also add a message for every record?

[2021-05-13 06:34] lcwus2 opened #1834 "use chart-0.5.0 to upgrade chaos-mesh 1.2.0，controller-manager and dashboard crash"
## Bug Report

**What version of Kubernetes are you using?**

v1.18.9

**What version of Chaos Mesh are you using?**

1.1.4 - 1.2.0

**What did you do?**

download chart 1.2.0 in local，and upgrade `helm upgrade chaos-mesh helm/chaos-mesh --namespace=chaos-testing -f helm/chaos-mesh/values.yaml`

**What did you expect to see?**

**What did you see instead?**
controller-manager’s log：
![image](https

[2021-05-13 07:06] YangKeao commented on #1821
Yes. It should be done in 3 steps:

1. Download and modify all chaos with a scheduler into a `Schedule`
2. Apply new CRD
3. Apply new experiment definition.

[2021-05-13 07:07] YangKeao commented on #1754
I can also add a `ConditionAccomplished` for workflow :smile_cat: to make them the same :smile_cat:

[2021-05-13 07:26] AsterNighT commented on #1825
I'm not sure what does Dashboard need. Maybe we could have a hooked `EventRecorder` to wrap the necessities and make the message structured?

[2021-05-13 08:45] AsterNighT commented on #1829
I tried `container kill` with a cron like `@every 1s` and run into the issue as well. After digging into the code I found that indeed the cron would stop if one of the chaos failed to be applied. Though I'm not sure if this is the expected behavior.

[2021-05-13 09:07] AsterNighT commented on #1834
Would you try running
[code]

[2021-05-13 11:50] fewdan commented on #1834
It seems that the crd of "awschaos" is missing, you can update the crd.

[2021-05-14 01:21] alperkokmen opened #1838 "Seeing error.api.no_cluster_privilege: can't list resource in the cluster when "All" is selected in "Choose namespace""
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
1.2.0

**What did you do?**
I installed chaos-mesh by running the install script with `--template` option and then making some changes to use `CLUSTER_MODE=false`. Dashboard and controller started up fine; but, then in the dashboard UI, I keep getting failed XHR requests (401) and an

[2021-05-14 02:19] AsterNighT commented on #1838
@g1eny0ung PTAL

[2021-05-14 02:54] STRRL opened #1839 "nirvana: waitForApplySync and waitForRecoverSync should be a part of API"
Hi @YangKeao, I noticed that there are some extra `v1alpha1.Phase` declared in the package `controllers`:

https://github.com/chaos-mesh/chaos-mesh/blob/cae993e2ddc4078b03fd8ad18419fbbdd63feabc/controllers/chaosimpl/networkchaos/partition/impl.go#L50-L53

https://github.com/chaos-mesh/chaos-mesh/blob/cae993e2ddc4078b03fd8ad18419fbbdd63feabc/controllers/chaosimpl/networkchaos/trafficcontrol/impl.go

[2021-05-14 02:59] g1eny0ung commented on #1838
After debugging, I think this behavior is a bug. I will remove the `All` option when the `targetNamespace` is set.

[2021-05-14 03:24] AsterNighT commented on #1700
What should we do to `common`? It tries to actually apply chaos and never succeed 🤦 .

[2021-05-14 03:36] AsterNighT commented on #1839
Hmm yes, I suppose `httpchaos` will need this mechanism, too.

[2021-05-14 04:37] g1eny0ung commented on #1838
Finally, after discussing with @WangXiangUSTC, we found that it's related to:

https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/apiserver/experiment/experiment.go#L904

When `clusterScoped = false`, the `listExperiments` API will automatically set the `namespace` by `TargetNamespace` when the namespace query is undefined.

We will unify this behavior in this function: https://github.com/ch

[2021-05-14 05:23] lcwus2 commented on #1834
use chart to update, but containing no crd update?

[2021-05-14 05:42] AsterNighT commented on #1834
FYI, check https://github.com/helm/helm/issues/6581

[2021-05-14 08:51] AsterNighT commented on #1829
in 2.0 we will do an overall refactor upon controllers. The behavior would be like your expectation.

[2021-05-14 10:05] ojaswa1942 commented on #1829
Thanks for the quick response @AsterNighT, really appreciate it. By the way, is there any ETA for 2.0, and if there is some discussion where I can find the planned features/fixes for the release?

[2021-05-15 01:51] alperkokmen opened #1847 "chaos injection fails with: Endpoints "chaos-daemon" not found when TARGET_NAMESPACE is set (CLUSTER_SCOPED=false)"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
1.2.0

**What did you do?**
I installed chaos-mesh by running the install script with `--template` option and then making some changes to use `CLUSTER_MODE=false`. After applying all the manifests, I confirmed that all pods were running and dashboard was available.

[code]

chaos-mesh

[2021-05-16 00:10] #1058 closed

[2021-05-16 00:10] #1422 closed

[2021-05-17 05:46] STRRL opened #1848 "validation: task name of workflow should follow the DNS-1123 rules"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I create the workflow contains a task `serial-A`, it failed to execute that workflow, with log:

[code]

**Describe the feature you'd like:**

Webhook could validate the name of each task, so that issues could be found when submitting the workflow.

**Describe alternatives you've considered:**

**Teachabil

[2021-05-17 06:10] STRRL opened #1849 "helm upgrade: helm upgrade does NOT update the CRD"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Bug reported by @g1eny0ung , when he upgrades the chaos mesh by `helm upgrade`, the CRD is not updated automatically.

**Describe the feature you'd like:**

So is there a way to let helm upgrade could update the CRD as well? 👍

Or we need to write another script and mention it in the document. 👎

**Describe alt

[2021-05-17 06:12] g1eny0ung commented on #1849
Related to https://github.com/helm/helm/issues/6581.

[2021-05-17 07:51] Muscule opened #1851 "User's token expired, and the user can't change it."
## Bug Report

**What version of Kubernetes are you using?**
OpenShift 4.7.0

**What version of Chaos Mesh are you using?**
1.2.0

**What did you do?**
I press "-" near the token. Chaos-Mesh installed with the help of helm.
**What did you expect to see?**
User was deleted.
**What did you see instead?**
Nothing happened. User's token expired, and the user can't change it.

[2021-05-17 09:45] adbjo opened #1852 "NetworkChaos for MQTT"
Hi,

We have a service that connects to an MQTT broker and publishes events.
We are trying to simulate network issues in MQTT using NetworkChaos experiments.

Blocking traffic with Network partition does not do anything, here's the experiment config:
[code]

The service successfully publishes events to the MQTT broker while the experiment is running.
MQTT runs on TCP/IP and should be blocked.
Do y

[2021-05-17 22:36] alperkokmen commented on #1847
I created a simple Go binary and copied it to the `chaos-controller-manager` pod to confirm whether or not it can fetch `Endpoints`.

[code]

using the service account credentials on the `chaos-controller-manager` pod, `chaos-daemon` endpoint can be read. so, i don't think i have a `Role`/`RoleBinding` issue here. is it possible that the `podchaos` executor is running scoped to a different namespa

[2021-05-18 03:41] AsterNighT commented on #1829
There is a `nirvana` branch which we are currently working on for some features and refactors in 2.0 and there's a milestone for that. As for the eta I cannot say it for sure, but I suppose it would be ready around the middle of June.

[2021-05-18 04:15] AsterNighT commented on #1851
PTAL @g1eny0ung ,check https://github.com/chaos-mesh/chaos-mesh/discussions/1846 for a screenshot

[2021-05-18 07:32] AsterNighT commented on #1754
It seems that `ConditionAccomplished` is a condition for `WorkflowNode` rather than `Workflow`, why is it that? Do I have to do one more step to get the entry node in order to get the workflow status?

[2021-05-18 07:36] STRRL commented on #1754
Both Workflow and WorkflowNode have the condition "ConditionAccomplished".

NO. This step is actually made by workflow's controller, https://github.com/chaos-mesh/chaos-mesh/blob/c5c1bac9c9f603f449e986e9b3026ec56bf6dad9/pkg/workflow/controllers/workflow_entry_reconciler.go#L150

[2021-05-18 07:41] AsterNighT commented on #1754
whoops, it seems that `nirvana` is a bit behind `master`

[2021-05-18 08:23] adbjo commented on #1852
Nvm, I used the wrong address for the MQTT broker, the NetworkChaos experiments work :)

[2021-05-18 08:23] #1852 closed

[2021-05-19 08:37] #1627 closed

[2021-05-19 09:08] #1817 closed

[2021-05-19 15:57] YangKeao commented on #1847
Yes! It's exactly the problem :facepalm: .  Moving `endpoints` related rules from `chaos-controller-manager-target-namespace` to `chaos-controller-manager-control-plane` should work fine. I have created a PR #1864 to fix this issue.

Really thanks :beers: .

[2021-05-20 05:10] #1698 closed

[2021-05-20 05:11] #1711 closed

[2021-05-20 05:11] #1755 closed

[2021-05-20 11:20] nupur2030 opened #1869 "Cannot list resource in API group"
## Bug Report

**What version of Kubernetes are you using?**
Server Version: v1.16.15-eks-ad4801

**What version of Chaos Mesh are you using?**
chaos version 3.x

**What did you see instead?**
cannot list resource in API resource

Please refer below snapshot

**Output of chaosctl**

![image](https://user-images.githubusercontent.com/31813709/118968737-d84f9e80-b99e-11eb-976b-157e651e3334.png)
![im

[2021-05-20 16:47] fewdan commented on #1869
Please tell the information about how do you fill in the "duration" field?

[2021-05-21 05:26] #1838 closed

[2021-05-21 09:15] nupur2030 opened #1874 "TLS bad Certificate"
## Bug Report

**What version of Kubernetes are you using?**

Server Version: v1.16.15-eks-ad4801

**What version of Chaos Mesh are you using?**

chaos version 3.x
**What did you do?**

While clicking submit experiment on chaos-dashboard

**What did you see instead?**
certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate auth

[2021-05-21 09:16] nupur2030 commented on #1869
Thanks fewdan,

We have regenerated new token with cluster scope and now i am facing another issue #1874
and in duration i am giving 10s
https://github.com/chaos-mesh/chaos-mesh/issues/1874

[2021-05-21 09:42] #1851 closed

[2021-05-21 09:46] fewdan commented on #1869
@nupur2030
Understand, let me look at #1874.

[2021-05-21 09:59] fewdan commented on #1874
How did you install chaos-mesh? If it is installed via helm, you can try "helm upgrade".

[2021-05-21 13:59] nupur2030 commented on #1874
Does helm upgrade require administrative role? i am unable to upgrade

[2021-05-24 04:05] STRRL opened #1877 "Workflow Webhook Validation: duration in chaos nodes"
## Feature Request

That is actually an unexpected declaration of workflow chaos node:
[code]

Users should not declare another `duration` in the chaos, and currently, we do not have a validator for that. That will cause problems.

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability,

[2021-05-24 20:34] jaysunmah opened #1884 "Network chaos unable to heal if previous container crashes"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

(We're using a docker image that was built and stored within my company's internal docker registry)
[code]
**What did you do?**

We're testing out the `NetworkChaos` resource on one of our pods. For simplicity, this pod has two containers, A and B. Container A is set to auto crash i

[2021-05-24 20:35] jaysunmah commented on #1884
As a follow up question to this issue, can someone clarify the exact behavior of how the chaos-daemon injects these iptable changes onto the containers of a pod? From my understanding, running `nsenter ... ` commands should only affect one container in a pod. However, from the logs it looks like the chaos-daemon only tries to run this command once on a given pod, but it looks like all the containe

[2021-05-25 01:23] Yiyiyimu opened #1885 "bug: iptables error not shown in networkchaos event"
## Bug Report

When apply a `networkchaos` with target, I get the following error in logs of `chaos daemon`:
[code]

But when I describe the networkchaos status, everything looks fine and the error not shown in status or events.

**Another problem** is it seems I lack some kernel config, which result in `--set-class` is missing in `iptables`. Checked [iptables man page](https://linux.die.net/man/8

[2021-05-25 02:58] YangKeao commented on #1885
I guass the compiling option would be `CONFIG_NETFILTER_XT_TARGET_CLASSIFY`

[2021-05-25 03:00] YangKeao commented on #1884
Both containers are affected because they share the same network namespace, and all network operations in this network namespace will affect all of these processes.

[2021-05-25 03:11] jaysunmah commented on #1884
@YangKeao thanks for the insight! so a command such as `nsenter -n/proc/16677/ns/net -- iptables -w -A CHAOS-OUTPUT -j OUTPUT/test_` will affect process pid `16677`'s iptables, along with all the other pod's container process pids that share the same network namespace?

[2021-05-25 03:39] YangKeao commented on #1884
Yes :beers:

[2021-05-25 06:05] STRRL opened #1886 "make the minimum supported kubernetes version be v1.15"
As the title says, we decide to use v1.15.z as the minimum supported version with Chaos Mesh 2.0.

Related modifications should be tracked with this issue.

[2021-05-25 06:55] #1869 closed

[2021-05-25 09:23] Muscule commented on #1851
Installed 1.2.1. Nothing changed - can't remove user with the help of dashboard.

[2021-05-25 10:31] YangKeao opened #1887 "modify examples for nirvana"
Modify the resources under `examples` directory for nirvana.

[2021-05-25 17:53] DARK-art108 commented on #1786
Can I work on this? Please describe a little bit more, What we need to achieve!

[2021-05-25 21:44] Yiyiyimu commented on #1885
Thanks for the help and it works! Just wondered, is there any method to check which config argument is missing in this situation?

[2021-05-26 00:14] #1484 closed

[2021-05-26 02:50] g1eny0ung commented on #1851
I test in my local and can't reproduce this situation. Would u mind open a thread in our slack channel to provide some screenshots so I can determine the problem more accurately?

[2021-05-26 08:46] STRRL commented on #1786
Hi @DARK-art108, I have resolved that lint issue by https://github.com/chaos-mesh/chaos-mesh/pull/1823, and I forgot to close this issue. 😅

I am going to close it now, if you have any brilliant ideas or other questions, feel free to reopen it! 😁

[2021-05-26 08:46] #1786 closed

[2021-05-26 17:18] jaysunmah commented on #1884
hey @YangKeao , bumping this thread. Would you or someone else at chaos-mesh org be able to address the initial problem, which is that I'm unable to cleanup a network chaos if the original container has crashed? Specifically, I believe this is the exact [line of code](https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/chaosdaemon/ipset_server.go#L38) that I'm erroring at, and ideally I'd lik

[2021-05-26 17:21] jaysunmah commented on #1884
I can also help out if needed, I'm having trouble connecting the point of code where this request's containerID is sent to `chaos-daemon-server` in the first place. For example, would you be able to give me a high level walkthrough of what happens when I run `kubectl delete -f chaosnetwork_test.yaml` ? It seems like somehow the containerID is store somewhere in memory with respect to the chaos nam

[2021-05-26 17:22] jaysunmah commented on #1884
Here's my error log stacktrace, with an additional info log that I added to try and debug:
[code]

[2021-05-27 04:00] STRRL opened #1890 "keeping CRD with both apiextensions.k8s.io/v1beta1 and apiextensions.k8s.io/v1"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. As we decided to support kubernetes from v1.15 to the latest (v1.21), and occurs some issue about the CRD.

- We could NOT use `apiextensions.k8s.io/v1` on kubernetes lower than v1.15(include), because it was introduced in v1.16.
- We could NOT use `apiextension.k8s.io/v1beta1` on kubernetes higher than v1

[2021-05-27 08:42] Muscule commented on #1851
Sorry. I chose wrong version to test. It is reakky fixed.

[2021-05-27 08:43] g1eny0ung commented on #1851
Never mind. 😆

[2021-05-27 11:59] AsterNighT commented on #1884
You can, in fact, delete the chaos by mannually removing the finalizer of the chaos. It is a long known bug due to it tries to recover in a deleted container. This is to be fixed in 2.0 release.

[2021-05-27 13:10] YangKeao commented on #1695
close by #1858

[2021-05-27 13:10] #1695 closed

[2021-05-27 13:11] YangKeao commented on #1697
Close by #1871

[2021-05-27 13:11] #1697 closed

[2021-05-27 13:11] #1754 closed

[2021-05-27 13:11] #1825 closed

[2021-05-27 16:07] jaysunmah commented on #1884
@AsterNighT thanks for the suggestion. I was in fact deleting my networkchaos this way for the time being, but I don't believe this actually heals the underlying chaos. I would still need to manually delete and restart the pod, which is something me and my team would prefer to not have to do .

[2021-05-27 22:32] #1885 closed

[2021-05-28 01:21] #1517 closed

[2021-05-31 06:24] YangKeao opened #1905 "Add webhook to avoid modifying spec"
Modifying specification while running a chaos is not supported now. And in nirvana, it will have no effect.

Add a webhook to alert user that it's not allowed to modify spec.

[2021-05-31 06:29] Muscule opened #1906 "More than 1 pod per deployment for chaosmesh"
## Bug Report

**What version of Kubernetes are you using?**
Openshift 4.6

**What version of Chaos Mesh are you using?**
1.2.1

**What did you do?**
Increased quantity of pods in deployment for chaos-controller-manager to two. Launched experiment with 1 pod-kill.

**What did you expect to see?**
2 pods of chaos-controller-manager running, 1 pod killed at a time.

**What did you see instead?**
2 p

[2021-05-31 07:05] YangKeao commented on #1906
We need to enable leader election to support multiple chaos-controller-manager. But I haven't investigated it yet.

[2021-05-31 07:23] Muscule commented on #1906
Can't update cluster automatically with just 1 pod in deployment.

[2021-05-31 13:18] cwen0 commented on #1906
We will trace this feature on this issue #1516

[2021-05-31 15:09] Kalaikkovan commented on #1060
is there any solution to it ?

[2021-06-01 06:32] #1818 closed

[2021-06-01 06:55] fewdan commented on #1874
@nupur2030
I'm sorry to reply you so late. Could you tell me how you installed it before? If it can be installed, the updated permissions are also possible.

[2021-06-01 12:03] STRRL opened #1917 "suspending CI jobs on master temporarily"
As we have almost finished the huge improvement on nirvana, https://github.com/chaos-mesh/chaos-mesh/pull/1908, and it would break the tests for `install.sh` script for a while.

So we will disable "Script Test" and some other CI temporarily, this issue is for tracking.

- PR of disable uploading lastest artifacts: https://github.com/chaos-mesh/chaos-mesh/pull/1915
- and we have disabled the jenki

[2021-06-02 10:29] jujoramos opened #1924 "PodChaos - Pause Container"
## Feature Request

**Is your feature request related to a problem? Please describe:**
No, not a problem but a feature request.

**Describe the feature you'd like:**
It would be really useful to have a chaos scenario that simply pauses a specific container for a specific amount of time, similar to `container-kill` but without killing the container, just pausing it.

**Describe alternatives you've

[2021-06-02 16:58] aido123 opened #1925 "Pause container in Pod Failure from Private Registry"
## Feature Request

**Describe the feature you'd like:**
Currently the pause container used for pod failure is been pulled from gcr.io, but many orgs only allow images to be pulled from their private registries, in fact some orgs has OPA enforcement specifying the repos where images can be pulled from, and so chaos mesh gets blocked from even replacing the container image.

I would like to be able

[2021-06-03 10:19] STRRL opened #1930 "magic value "managed-by" in api/v1aplha1"
here is a magic value "managed-by" at controllers/schedule/cron/controller.go:149, it will be used for listing children elements. It's better to use const.

[2021-06-03 12:12] WangXiangUSTC opened #1931 "create StressChaos with 10000 workers, and can't find stress-ng process in pod"
## Bug Report

**What version of Chaos Mesh are you using?**

v1.2

**What did you do?**

create StressChaos with:

[code]

**What did you expect to see?**

can see stress-ng process in chaos-daemon's pod

**What did you see instead?**

there is no stress-ng process in chaos-daemon's pod, and can see these log in chaos-daemon:

[code]

**Output of chaosctl**

[2021-06-03 12:14] WangXiangUSTC commented on #1931
run `stress-ng --cpu 100000 --cpu-load 100` manual, and will get error logs:

[code]

So it seems that chaos-daemon does not get the error message of stress-ng. Or we can add an adjustment for StressChaos config, `workers` should in (0, 8192)

[2021-06-03 17:16] cwen0 opened #1933 "Check the length of array before using it in `ParseNamespacedName` and `ParseNamespacedNameContainer` functions"
## Bug Report

**What version of Kubernetes are you using?**

`ParseNamespacedName` and  `ParseNamespacedNameContainer` functions don't check the length of the `parts` array before using it, which may panic the whole program when using these two functions  https://github.com/chaos-mesh/chaos-mesh/blob/master/controllers/utils/controller/key.go#L22-L36

[2021-06-04 02:39] fewdan commented on #1930
In the schedule part of the dashboard, I also used "managed-by". If we want to modify it, we have to deal with it together.

[2021-06-04 04:10] #1696 closed

[2021-06-04 05:47] #1905 closed

[2021-06-04 13:30] rbrishabh commented on #1933
I can help with this!

[2021-06-07 07:05] YangKeao commented on #1821
@AsterNighT It seems that we should remove the CRD before applying the new one, because `.spec.names.kind` field is immutable.

![图片](https://user-images.githubusercontent.com/5244316/120973644-c98c2880-c7a1-11eb-9ddd-cba66c9a4ebb.png)

[2021-06-08 05:44] AsterNighT commented on #1821
BTW, are we still planning to provide a script to fetch all resources from the cluster, update them and reapply them?

[2021-06-08 05:49] YangKeao commented on #1821
Yes. But may need to remove the CRD and apply new CRD (but not only update the CRD).

[2021-06-08 05:52] AsterNighT commented on #1821
Remove and reapply seems easy. I'll look into how to do the fetch&apply part.

[2021-06-08 07:46] #1890 closed

[2021-06-09 08:39] STRRL opened #1951 "change Duration in workflow.Template to be Deadline, and optional"
## Feature Request

current definition of workflow Template is:
[code]

we want to change that to:

[code]

Field `Duration` is required, and here is another `Duration` in each type of Chaos (in `EmbedChaos`), which causes confusion.

The purpose of `Template#Duration` are to set the deadline for the serial and parallel node and specify how long will ONE chaos node execute. As the plain Chaos coul

[2021-06-09 09:10] #1847 closed

[2021-06-09 11:22] itaydj opened #1953 "Cant limit chaos mesh to just 2 namespaces in my cluster"
Hi All,
I am setting up ChaosMesh in our cluster but I would like it to apply only to a selected batch of namespaces.
Currently it is only applied to a single namespace using the following values.yml:
[code]
I would like to add a second affected namespace, how should I do it?
tried the below but it didnt go so well:
[code]

Is specifying more than one target namespace even possible?
if so, how can

[2021-06-09 13:07] STRRL commented on #1953
Hi @itaydj, I suggest you:

- install Chaos Mesh with `clusterScoped: true`
- enable `controllerManager.enableFilterNamespace`, ref: https://github.com/chaos-mesh/chaos-mesh/blob/1509ef42ac25cbfbe7993c77bc3b3547cf7d34ba/helm/chaos-mesh/values.yaml#L42
- then execute `kubectl annotate ns <allowed-namespace> chaos-mesh.org/inject=enabled` on each of these 2 namespaces

[2021-06-09 13:21] itaydj commented on #1953
Hi @STRRL

Thanks alot for your quick reply - going to try it and I will update in a bit

[2021-06-09 13:53] nlamirault opened #1955 "Provider Docker arm64 image on each release"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Provide a Docker image for arm64 platform on each release.
There is only a Docker image named `latest-arm` https://registry.hub.docker.com/layers/pingcap/chaos-mesh/latest-arm/images/sha256-a6c497eb81f9284b352611cca5e1df6c6d941dc73daf33662c57b23800042c64?context=explore

**

[2021-06-10 05:41] STRRL commented on #1917
Update: we will disable the "Script Test", https://github.com/chaos-mesh/chaos-mesh/pull/1959

[2021-06-10 06:40] itaydj commented on #1953
Hi Again @STRRL

Just wanted to confirm that your suggested solution worked!
Thanks alot for the help

[2021-06-10 06:40] #1953 closed

[2021-06-11 02:41] #1283 closed

[2021-06-11 05:40] STRRL opened #1963 "cheat sheet of useful commands while developing"
`Makefile` and other scripts under `/hack` are soo complicated!

I always take a long time to find out the correct commands to compile binary,or run a specific e2e testcase. :cry:

I want a `CHEATSHEET.MD` to introduce the commonly used commands while developing and testing.

[2021-06-11 06:43] anuragpaliwal80 opened #1964 "Memory stress is consuming full CPU core"
## Bug Report

**What version of Kubernetes are you using?**

`1.19.4`

**What version of Chaos Mesh are you using?**

`1.1.3`

**What did you do?**

Run memory stress tests:
[code]

**What did you expect to see?**
The CPU should not go up.

**What did you see instead?**
It consume 1 full core CPU and if we increase number of worker, it will consume those many CPU core.

**Output of chaosctl**

[2021-06-11 08:15] AsterNighT commented on #1964
This is a known issue of `stress-ng`. It is caused by frequently write to the memory allocated by `stress-ng`. We are considering, though, using another tool to apply memory stress. Is that it? @YangKeao

[2021-06-11 08:32] YangKeao commented on #1964
Yes. But before doing that, I think we should define the behaviour of "Memory Stress".

Stressing the disk is to read/write the disk. Therefore, defining the "Memory Stress" as writing/reading too much to squeeze the bandwidth of memory cannot be asserted as wrong 🤦‍♂️

But I also believe we should provide a way to eat RAM without costing too much CPU🍻 (and a new tool other than stress-ng is neede

[2021-06-11 09:34] STRRL opened #1965 "network partition not works well with no target specified."
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:18:45Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196

[2021-06-11 12:31] anuragpaliwal80 commented on #1516
We will love to have this feature as we are having large clusters and HA is very much required.

[2021-06-15 03:01] STRRL opened #1968 "Enriching logs in Chaos Mesh Dashboard handler"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There are not enough logs in the backend of Chaos Mesh Dashboard.

For example:

https://github.com/chaos-mesh/chaos-mesh/blob/d0dcca20ddf6da79cf4c2bdb682656f0617c24c3/pkg/apiserver/archive/archive.go#L163-L173

When an error occurs, the detail of the error is only introduced in the HTTP response. It's better t

[2021-06-15 15:11] STRRL opened #1974 "typo: incroeect ENV using in envtest TEST_USE_EXISTING_CLUSTER"
refs to https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/envtest#pkg-constants, the actual usful env is `USE_EXISTING_CLUSTER` not `TEST_USE_EXISTING_CLUSTER`, and we have used the former for a while. :cold_sweat:

[2021-06-16 04:58] AsterNighT opened #1976 "Error while compiling chaos-dashboard"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196

[2021-06-16 08:53] AsterNighT commented on #1976
It can be fixed by deleting `ui/node_modules` and recompile it.

[2021-06-16 08:53] #1976 closed

[2021-06-17 03:06] #1925 closed

[2021-06-17 08:27] g1eny0ung opened #1987 "api: can't fetch a single schedule under security mode"
## Bug Report

**What version of Kubernetes are you using?**

Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.11", GitCommit:"c6a2f08fc4378c5381dd948d9ad9d1080e3e6b33", GitTreeState:"clean", BuildDate:"2021-05-12T12:19:22Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**

**What did you do?**

Fetch a single schedu

[2021-06-17 08:39] cwen0 opened #1989 "Chaos Dashboard: part of the chaos experiment event is missing"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e

[2021-06-17 09:57] YangKeao commented on #1989
The paused `Schedule` will keep pausing the experiment created by it. I think it's the expected behavior.

And what's the connection between pausing and event?

[2021-06-17 13:34] STRRL opened #1992 "Chaos Dashboard: can not show stress chaos as expected"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

fork & branch: https://github.com/g1eny0ung/chaos-mesh/tree/nirvana-ui
commit: ead62cd49a458b5eb698ce49ce193fcf7611cc2a

**What did you do?**

- startup chaos mesh on minikube
- `k apply -f ./examples/burn-cpu.yaml`

**What did you expect to see?**

Could view stress chaos on dashbo

[2021-06-18 02:43] STRRL opened #1993 "I want see controlled Experiment when I viewing Schedule"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

I want to see the "Experiment" created (also controlled/managed) by certain "Schedule" when I viewing at the "Schedule" page.

Also, I want to see the parent "Schedule" when I viewing at the "Experiment"(If this "Experiment" has one parent).

Also, this feature could b

[2021-06-18 02:53] cwen0 commented on #1989
Yes, this is expected behavior, but the dashboard shouldn't report "启动成功".

[2021-06-18 03:00] g1eny0ung commented on #1992
Fixed in 895e2da.

[2021-06-18 03:12] #1987 closed

[2021-06-18 03:26] STRRL opened #1994 "I can not delete timechaos, because the webhook keeps rejecting the update of the finalizer"
## Bug Report

Actually, the affected area is more than deletion. I just find this bug when I try to delete one timechaos.

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

fork & branch: https://github.com/g1eny0ung/chaos-mesh/tree/nirvana-ui
commit: ead62cd

**What did you do?**

I find one timechaos in my cluster:

[code]

It's probably creat

[2021-06-18 03:26] STRRL commented on #1994
Any idea about it? @YangKeao  @AsterNighT

[2021-06-18 03:30] #1992 closed

[2021-06-18 03:59] STRRL commented on #1917
I am going to enable the "Script Test"!

[2021-06-18 04:20] YangKeao commented on #1994
[code]

What the `PodSelector` has done!

[2021-06-18 04:25] YangKeao commented on #1994
Yes. It should have been done in the mutating webhook.

Do you create the `TimeChaos` before setup the `mutating webhook`? As the default value of `namespaces` will be set in the mutating webhook.

[2021-06-18 04:30] YangKeao commented on #1993
Actually, the `active` in the `.Status` of a `Schedule` introduces which experiments are managed by it.

[2021-06-18 04:42] STRRL commented on #1993
Oh, I get that. That field is maintained by "active controller" and ActiveLister, it could stay in sync with the controlled Experiment.

Which way is preferred to use for you? use label selector "managed-by" or use `Status.Active`? @YangKeao

[2021-06-18 07:31] STRRL commented on #1917
recover uploading latest artifacts: https://github.com/chaos-mesh/chaos-mesh/pull/1997

[2021-06-18 08:12] #1951 closed

[2021-06-18 08:34] #1965 closed

[2021-06-18 09:42] #1917 closed

[2021-06-21 05:26] STRRL opened #2003 "the gitVersion is not correct with dash(-) in the tag"
## Bug Report

the output of `chaos-controller-manager version`:

[code]
the expected GitVersion should be `v2.0.0-beta.1`.

related logic is in `hack/version.sh`, which generated that GitVersion from `git commands`.

[2021-06-21 07:57] STRRL commented on #1994
Oh, my bad. That timechaos called `foo1` is a dirty object from some testcase.

I am going to close this issue.

[2021-06-21 07:57] #1994 closed

[2021-06-21 11:08] shivanshs9 commented on #1931
@WangXiangUSTC I can work on it.

[2021-06-21 11:28] #2003 closed

[2021-06-21 11:52] anuragpaliwal80 commented on #1574
Any idea, how should we proceed on this ?

[2021-06-22 03:59] leosunmo commented on #1182
Has anyone tried this on Azure AKS? We're not running any Windows VMs or containers, just the usual Ubuntu NodeGroups on AKS. Having some issues at the moment, and wondering if it's simply not supported since AKS has its own CNI by the looks of it.

[2021-06-22 06:12] YangKeao commented on #1182
@fewdan Do you have plan to test on Azure AKS? When will it be tested?

[2021-06-22 07:32] STRRL opened #2014 "We need use upper case with some name of chaos"
## Question

As https://github.com/golang/go/wiki/CodeReviewComments#initialisms says, we should keep the consistent case with words: AWS, GCP, etc. And we have rename `IoChaos` to `IOChaos`

Related chaos:

- AwsChaos -> AWSChaos
- GcpChaos -> GCPChaos

[2021-06-22 07:32] STRRL commented on #2014
PTAL @fewdan

[2021-06-22 07:42] STRRL commented on #1574
Sorry for the late response, I am going to fix that. :see_no_evil:

[2021-06-22 10:26] fewdan commented on #2014
I agree with you that we should keep the naming style consistent.

[2021-06-23 02:45] #1931 closed

[2021-06-23 03:52] anuragpaliwal80 commented on #1570
The sub task #1558 is still open.

[2021-06-23 09:22] STRRL opened #2018 "pod-failure does not work well with SeccompProfile on kubernetes v1.19+"
## Bug Report

Origin issue: #1574

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

1. start a minikube cluster(version 1.19 +)
2. apply deployment:

[code]

3. apply chaos

[code]

**What did you expect to see?**
PodChaos could be injected as expected.

**What did you see instead?**
PodChaos does not works well, w

[2021-06-23 10:18] Bhumika1997 opened #2019 "Hi I am Unable to launch dashboard for Chos Mesh i ran the command # kubectl port-forward -n chaos-testing svc/chaos-dashboard 2333:2333 bt it is stck over here only not able to access through http://localhost:2333/"
### Discussed in https://github.com/chaos-mesh/chaos-mesh/discussions/1333

<div type='discussions-op-text'>

<sup>Originally posted by **satya-h** December 28, 2020</sup>
Hi,
I am trying to use chaos-mesh for our project. I followed the steps given in documents. It has been installed successfully. All daemon, dashboard, controller pods are in running state. But when I hit the dashboard url it is

[2021-06-24 03:04] fewdan commented on #2019
What is your version of kubernetes and chaos-mesh? Are all pods running normally now?

[2021-06-24 04:01] #2018 closed

[2021-06-24 04:38] Bhumika1997 commented on #2019
![image](https://user-images.githubusercontent.com/33874082/123203397-ea5bba00-d4d3-11eb-8fe5-2969bb8b66c4.png)
![image](https://user-images.githubusercontent.com/33874082/123203498-1b3bef00-d4d4-11eb-9a88-5ea9d822d158.png)

[2021-06-24 07:18] 51n15t9r commented on #1574
We ran into the exact same problem with version 1.21 of chaos-mesh.
Is there a work-around we can use in the meantime?

[2021-06-24 08:19] fewdan commented on #2019
Would you please provide the log of "chaos-controller-manager-7bbxxxxx" ?  In the log of "controller-manager" you can see the version of chaos-mesh.

And would you please provide the log of "chaos-dashboard" too ?

You can get the log by "kubectl logs chaos-controller-manager-xxxx -n your-namespace "  .

[2021-06-24 09:14] Bhumika1997 commented on #2019
Chaos-controller manager logs:
![image](https://user-images.githubusercontent.com/33874082/123236493-78e33200-d4fa-11eb-8a94-2a4c57583b9f.png)

Chaos dashboard logs

[2021-06-24 13:01] cwen0 opened #2029 "Dashboard: describe the "deadline' field format"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Add a description for the "deadline" field format.

![image](https://user-images.githubusercontent.com/22956341/123267050-25d7a200-d52f-11eb-80d1-ec41de0c13fc.png)

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-06-24 13:06] STRRL opened #2030 "use intall.sh to reinstall Chaos Mesh"
## Feature Request

**Is your feature request, related to a problem? Please describe:**

Yes. Related comments: https://github.com/chaos-mesh/chaos-mesh/pull/1866#issuecomment-859236046

After that, we use `kubectl create` instead of `kubectl apply`. And it breaks the operation that we could use `install.sh` to re-install the chaos mesh(though we did not declare we could reinstall by `install.sh`

[2021-06-24 14:25] fewdan commented on #2019
From the log, it seems that the "2333" port is not monitored. Did you "ctrl+c" directly after kubectl portforward?

You can try "kubectl portforward" and press nothing, then visit "localhost:2333" to try?

[2021-06-24 22:34] benbp commented on #1182
I've found a couple things testing Azure AKS with Chaos Mesh:

- Chaos Mesh works fine in my limited testing on stock AKS clusters (which use kubenet by default).
  - FYI clusters on Kubernetes version >=1.19 [use containerd](https://docs.microsoft.com/en-us/azure/aks/cluster-configuration?utm_source=thenewstack&utm_medium=website&utm_campaign=platform#container-runtime-configuration), so the appr

[2021-06-25 01:43] teachersun opened #2032 "网络分区混沌场景，在第一次注入的时候，会告诉那个是source pod，那个是target pod，第二次注入之后，只能看到target pod"
chaosmesh版本：v1.2.0
kubernetes版本：1.21.0
使用的yaml文件如下
apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: network-partition-example
  namespace: test
spec:
  action: partition
  mode: one
  selector:
    labelSelectors:
      "app": "zzweb"
  direction: to
  target:
    selector:
      namespaces:
        - test
      labelSelectors:
        "app": "zzweb"
    mode: one
  duratio

[2021-06-25 02:36] STRRL commented on #2032
我注意到你的 selector 与 target selector 是相同的，而且都为 mode: one，发生这种情况的可能是因为两个 selector 都选中了同一个 pod。

在 source 和 target 都为同一个 pod 的这种情况下，网络分区其实是不会生效的，从直觉上来说你无法对一个节点自己网络分区自己，而且同一个 pod 内的网络通信 **一般** 都会通过 loopback 网卡。

[2021-06-25 04:04] Bhumika1997 commented on #2019
I tried but no luck

![image](https://user-images.githubusercontent.com/33874082/123367864-5acc0f00-d598-11eb-9e56-e99739766701.png)
![image](https://user-images.githubusercontent.com/33874082/123367895-661f3a80-d598-11eb-80c9-c70e12ab4cc3.png)
![image](https://user-images.githubusercontent.com/33874082/123367937-7afbce00-d598-11eb-9aa0-dff75f76a947.png)

[2021-06-25 04:11] STRRL commented on #2019
it seems you execute `kubectl port-forward` on the remote host called `kmaster`, and open browser on your windows. :cold_sweat:

you should use `kubectl port-forward --address=0.0.0.0` and visit `<ip-of-kmaster>:2333` instead.

[2021-06-25 04:22] Bhumika1997 commented on #2019
It worked fine now.
Thanku so much for your help @STRRL

[2021-06-25 04:22] #2019 closed

[2021-06-25 04:38] YangKeao opened #2033 "undo in dashboard has no effect"
## Bug Report

**What did you do?**

1. Install the chaos-mesh with dashboard
2. Step into the dashboard and create a schedule
3. Select the target (networkchaos loss) and fill in schedule specification
4. Undo the target and select networkchaos delay
5. submit

It still submits the loss schedule, but not the delay schedule.

[2021-06-25 05:13] YangKeao commented on #1182
@benbp Thanks for your testing.

:fearful:  It's really amazing that it will break the DNS, as the chaos mesh nearly does nothing on creating (only creates a lot of pods/deployments/deamonsets/webhooks/...), and these components won't do anything while there is no chaos resource.

I will try to investigate and fix these problems on AKS as soon as possible (as the problem seems severe, breaking use

[2021-06-25 05:39] cwen0 opened #2035 "Chaos Dashboard: misordering of schedule object from API"
## Bug Report

**What version of Kubernetes are you using?**

v1.17.2

**What version of Chaos Mesh are you using?**

v2.0.0.beta.1

**What did you do?**

Create many schedule objects

**What did you expect to see?**

The schedule objects from API is ordered by "create time"

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/123375289-1867f980-d5bb-11eb-8d6

[2021-06-25 05:53] #2032 closed

[2021-06-25 07:38] benbp commented on #1182
@YangKeao yeah it doesn't make sense to me why it would either. I did more testing with a simpler Azure CNI-enabled cluster (nothing more than `az aks create -g <group> -n <name> --network-plugin azure`, kubernetes version 1.19.11). In this case, **chaos mesh DID work** just fine. Pod networking was functional, and network chaos experiments also worked when created/deleted. Sorry for raising alarm

[2021-06-25 09:36] Muscule opened #2037 "Network experiment impossible on Istio projects"
## Bug Report

**What version of Kubernetes are you using?**
Openshift 4.6.20

**What version of Chaos Mesh are you using?**
1.2.1

**What did you do?**
I tried to launch network packet loss on istio projects.

**What did you expect to see?**
I expected normal behaviour and sucessfully launched experiment.

**What did you see instead?**
I got an error and experiment did not start.

**Output of cha

[2021-06-25 10:25] jj891070 opened #2038 "why the experiment in gke chaos-mesh that didn't work"
### My gke version: 1.19.10-gke.1600

* I install chaos-mesh seems ok
`
$ curl -sSL https://mirrors.chaos-mesh.org/v1.2.1/install.sh | bash
`

* But running this experiment([official example](https://chaos-mesh.org/docs/user_guides/run_chaos_experiment))
`
$ curl -sSL https://mirrors.chaos-mesh.org/v1.2.1/web-show/deploy.sh | bash
`

* but the dashboard show this error([error image](https://storag

[2021-06-25 10:30] #1772 closed

[2021-06-25 11:13] cwen0 commented on #2038
@jj891070 Hi, the container runtime of your GKE cluster is not docker. Can you make sure what container runtime you are using? At present, Chaos Mesh supports `docker`, `containerd` and `cri-o`, but which need to be configured when to install.

[code]
If you want to use helm, you can refer to this document https://chaos-mesh.org/docs/user_guides/installation#step-2-install-chaos-mesh.

[2021-06-25 11:24] cwen0 commented on #2037
@Muscule Maybe this issue can help your https://github.com/chaos-mesh/chaos-mesh/issues/1228#issuecomment-836649643. Some rules disabled the network from chaos-controller-manager to api-server. The rules may be generated by a firewall or Istio.

[2021-06-25 11:35] #2029 closed

[2021-06-25 11:54] Muscule commented on #2037
I looked through that issue. We do not use firewall. I found out that Istio v1+ does not use iptables.

[2021-06-27 07:55] jj891070 commented on #2038
* Hello @cwen0.  Thanks, It's worked.
* But the experiment is still not working. I found the error log from chaos-controller-manager([error image](https://storage.googleapis.com/test-audere-lab/problem2.png))
`
got runtime.Object without object metadata
`

[2021-06-28 02:47] #1605 closed

[2021-06-28 03:13] STRRL commented on #1993
As https://github.com/chaos-mesh/chaos-mesh/pull/2002 has been merged, events will not be aggregated anymore. I am going to close this issue.

[2021-06-28 03:13] #1993 closed

[2021-06-28 06:49] #1877 closed

[2021-06-28 12:25] Harmattan322 opened #2048 "[CRI-O StressChaos] never found valid cgroup for container id"
## Bug Report

**What version of Kubernetes are you using?**
![image](https://user-images.githubusercontent.com/19413892/123635110-f1603080-d823-11eb-82c8-2c8068926c60.png)

**What version of Chaos Mesh are you using?**
![image](https://user-images.githubusercontent.com/19413892/123635082-e60d0500-d823-11eb-85ae-572b2727de81.png)

**What did you do?**
**oc process chaos-mesh-template.yml** in my n

[2021-06-28 12:26] Harmattan322 commented on #2048
Linked issue: https://github.com/chaos-mesh/chaos-mesh/issues/1495

[2021-06-29 02:44] STRRL commented on #1694
closed by #1936

[2021-06-29 02:44] #1694 closed

[2021-06-29 02:44] STRRL commented on #1821
closed by #1938

[2021-06-29 02:44] #1821 closed

[2021-06-29 02:46] STRRL commented on #1887
closed by #1938, #2012

[2021-06-29 02:46] #1887 closed

[2021-06-29 02:46] STRRL commented on #1833
closed by #1832

[2021-06-29 02:47] #1833 closed

[2021-06-29 09:01] STRRL commented on #1699
closed by #1977

[2021-06-29 09:01] #1699 closed

[2021-06-29 09:21] STRRL opened #2050 "reporting more events on workflow"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. The observation of workflow is not so good.
Although there are conditions for introducing the current state, and object references to the controlled chaos or other object, users still know nothing about when do these things happen.

**Describe the feature you'd like:**

Each event might be emitted for Work

[2021-06-29 09:50] STRRL commented on #2048
Hi @Harmattan322, are you using cgroupv2? I think it might be the reason. I could reproduce this issue on my local machine(with cgroupv2), `kind` cluster.

FYI @YangKeao @AsterNighT

[2021-06-29 12:15] cwen0 commented on #2038
@jj891070 Can you provide more logs and check the if admission webhook is enabled in your environment?

[2021-06-29 17:57] fewdan commented on #2035
Okay, I will deal with this problem.

[2021-06-30 04:48] STRRL commented on #1574
Hi @anuragpaliwal80, @51n15t9r sorry for the late response, we have fixed this issue at #2018 for v2.0 and #2026 for v1.2.

Please upgrade Chaos Mesh to v2.0.0-beta.2 or v1.2.2!

[2021-06-30 05:25] STRRL opened #2051 "workflow: enhance conditionalBranches display on UI"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

I want to see the children nodes of one Task node, for example:

[code]

Both `nginx-kill` and `nginx-failure` should be executed after `customized-task` accomplished. But we could not see these two node on Chaos Dashboard for now.
![image](https://user-images.githubus

[2021-06-30 05:51] Muscule opened #2053 "Archived experiment stays in the list of available ones"
## Bug Report

**What version of Kubernetes are you using?**
Openshift 4.6, Kubernetes 1.19.0

**What version of Chaos Mesh are you using?**
1.2.1

**What did you do?**
I archived an experiment. But it stayed in the list of available to run experiments and can't be deleted.

**What did you expect to see?**
The experiment is archived and disappeared from list of experiments.

**What did you see ins

[2021-06-30 05:52] STRRL opened #2054 "unnecessary wrap for `[]NodeNameWithTemplate` in Dashboard API"
:cold_sweat:  I must be drunk when I wrote these code:

[code]

Structs `NodeSerial` and `NodeParallel` are totally useless. It should be like

[code]

Related test cases and frontend API also need updates

[2021-06-30 06:24] fewdan commented on #2053
Do you mean that the archived chaos still exists in "experiments"? Can you show me a screenshot?

[2021-06-30 06:27] fewdan opened #2055 "when we want to create gcpchaos(or awschaos) in dashboard, hide the selector of pods"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Currently, if we want to create gcpchaos, we will see some selector options (such as pod).

**Describe the feature you'd like:**
we can hide the options.

![image](https://user-images.githubusercontent.com/16437100/123912093-2ea4f980-d9af-11eb-9aa9-70c8fe3d749a.png)

[2021-06-30 06:44] Muscule commented on #2053
![image](https://user-images.githubusercontent.com/14834949/123913759-4072a680-d987-11eb-8b84-379342f0ded4.png)

![image](https://user-images.githubusercontent.com/14834949/123913818-53857680-d987-11eb-9fae-1a0f5d1c3924.png)

![image](https://user-images.githubusercontent.com/14834949/123913861-626c2900-d987-11eb-994b-f740d11dcce8.png)

![image](https://user-images.githubusercontent.com/14834949/1

[2021-06-30 06:48] Muscule commented on #1516
When do you plan to add HA?

[2021-06-30 07:11] fewdan commented on #2053
You can try to see if you can find this chaos through "kubectl"? It may be that the deletion of chaos is blocked for some reason. You can try to force the deletion.

For example, can you "kubectl get xxxChaos -n your-namespace"  and  "kubectl describe xxxChaos xxx -n your-namespace".

If you want to force delete, you can refer to [this](https://chaos-mesh.org/docs/1.0.3/user_guides/run_chaos_exper

[2021-06-30 07:13] Prashanth-BP opened #2057 "Unable to view any Labels in the Dashboard"
Hi Team,
I work on a client project and we have installed the Chaos Mesh on the EKS cluster. There are many namespaces however, we have installed the tool on a NS Called "Services". When we login to the Dashboard, we see the labels and the pods available only under the "Services" Namespace however, we Do not see any Labels or Pod in any other NS and the drop down is blank. We are not able to run a

[2021-06-30 07:19] Harmattan322 commented on #2048
@STRRL, sorry, idk, how to check cgroup version, but i have cri-o container output (v1?):
![image](https://user-images.githubusercontent.com/19413892/123918283-63ec2000-d98c-11eb-9add-25b80412175a.png)

[2021-06-30 08:20] Bhumika1997 opened #2061 "rpc error"
## Question
Hi,
While applying experiment in chaos mesh i am getting an error

An error occurred: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 192.168.0.37:31767: i/o timeout"

Can somebody help me on this?

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s

[2021-06-30 08:30] STRRL commented on #2048
You could figure out using cgroup v2 or not by https://github.com/opencontainers/runc/blob/master/docs/cgroup-v2.md#am-i-using-cgroup-v2

It seems you are using cgroups v1, so there are other reasons.

Could you tell us the more information of kubernetes worker node, like:

- name and version of linux distribution
- linux kernel version
- kernel config, you could fetch this info at `/proc/config.g

[2021-06-30 09:19] Muscule commented on #2053
![image](https://user-images.githubusercontent.com/14834949/123935995-6e62e580-d99d-11eb-8adc-f35f80725fe3.png)

![image](https://user-images.githubusercontent.com/14834949/123935715-25ab2c80-d99d-11eb-86c8-8e274079bb1c.png)

[2021-06-30 09:21] Harmattan322 commented on #2048
@STRRL

1. Linux distribution & kernel version:
![image](https://user-images.githubusercontent.com/19413892/123936081-85093c80-d99d-11eb-9ef6-334e4e1d0f02.png)

2. CRI-O version:
![image](https://user-images.githubusercontent.com/19413892/123936156-981c0c80-d99d-11eb-8d0e-9346c351a74a.png)

3. kerner config (/boot/config-$(uname -r)):
[code]

[2021-06-30 09:26] Muscule commented on #2053
How can I get path to yaml file of particular experiment?

[2021-06-30 09:35] Muscule opened #2063 "Is there any way for cluster admin to see all users, who authorised in chaosmesh?"
Is there any way for cluster admin to see all users, who authorised in chaosmesh?

_Originally posted by @Muscule in https://github.com/chaos-mesh/chaos-mesh/discussions/1894_

[2021-07-01 07:40] fewdan commented on #2053
Sorry, I didn't understand this problem too much.

[2021-07-01 07:44] fewdan commented on #2057
Hello,
When you use the dashboard, did you specify "ClusterScoped"? If there is no special instructions, "ClusterScoped" is turned on by default. Then another question is, when you use the dashboard, does the token you fill in meet the requirements?

[2021-07-01 07:49] fewdan commented on #2061
hello,
would you please add more logs?   For example, you can exec "kubectl logs controller-manager-xxxx -n your-namespace".

[2021-07-01 08:04] Bhumika1997 commented on #2061
E0630 11:05:43.286675       1 reflector.go:156] pkg/mod/k8s.io/client-go@v0.17.0/tools/cache/reflector.go:108: Failed to list *v1alpha1.TimeChaos: the server could not find the requested resource (get timechaos.chaos-mesh.org)
E0630 11:05:44.196264       1 reflector.go:156] pkg/mod/k8s.io/client-go@v0.17.0/tools/cache/reflector.go:108: Failed to list *v1alpha1.NetworkChaos: the server could not fi

[2021-07-01 08:07] Bhumika1997 commented on #2061
![image](https://user-images.githubusercontent.com/33874082/124089392-7be99f80-da71-11eb-916b-996765986224.png)
![image](https://user-images.githubusercontent.com/33874082/124089445-873ccb00-da71-11eb-8b56-a30148af72cd.png)

[2021-07-02 04:24] YangKeao opened #2069 "support cgroup v2"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Maybe related with #2048 . @STRRL has reported that chaos-mesh cannot work on cgroup v2

**Describe the feature you'd like:**

Work on cgroup v2 normally.

**Describe alternatives you've considered:**

The docker, other CRIs and kubernetes have all supported cgroup v2 in these month. We should investigate wheth

[2021-07-02 04:36] YangKeao opened #2070 "Test chaos mesh with chaos mesh"
## Feature Request

Randomly kill target pods/containers or chaos-daemon shouldn't cause any bugs in chaos mesh. All phenomenon should be predictable now. With the newly designed chaos mesh controller, I have enough confidence in running chaos on the chaos mesh platform. And some of these cases could be added to the e2e test.

If the leader election will be supported, the experiment scope can be e

[2021-07-02 04:37] #1292 closed

[2021-07-02 09:07] #1500 closed

[2021-07-02 11:34] Prashanth-BP commented on #2057
Hi, Thanks for getting back to us. The issue is resolved. We realized that we were using an old image that we deployed in our env few months ago. We used the latest helm available on your repository and that sorted everything. Thanks again. However, the above two points you asked will be saved for our future reference incase we have any issues.

[2021-07-02 11:34] #2057 closed

[2021-07-02 11:35] Prashanth-BP commented on #2057
Thanks. Appreciate your quick response.

[2021-07-02 14:40] shib1000 opened #2074 "Extend Pod Chaos to select with additional node filters"
## Feature Request
Add node filtering capability to Pod chaos to allow restriction of Chaos to a specific portion of the compute fleet.

- This would also allow testing use-cases like AZ unavailability

**Is your feature request related to a problem? Please describe:**
- We have services that have HA needs, and testing for AZ unavailability would increase reliability.
- We run multitenant workload

[2021-07-02 19:31] Pantalones411 commented on #1446
I am experiencing the same issue and wondering if there was ever a workaround found for this.

[2021-07-03 05:12] Patil2099 commented on #2054
I would love to take this up.

[2021-07-05 03:15] #2035 closed

[2021-07-06 02:48] cwen0 commented on #2037
@Muscule Have you found the cause of this issue?

[2021-07-06 03:07] WangXiangUSTC opened #2077 "create workflow failed: no such table: workflow_entities"
## Bug Report

**What version of Chaos Mesh are you using?**

d69a37e63aef9296b73b9072089f4be813e6f654

**What did you do?**

create a workflow, and click it to see the detail.

**What did you expect to see?**
can see the detail

**What did you see instead?**

dashboard report a error: error.api.internal_server_error: no such table: workflow_entities

And can see the error log in dashboard:
[code]

[2021-07-06 03:22] STRRL commented on #2077
It might be caused by the outdated Chaos Mesh Dashboard docker image. Please recompile and rebuild the image of Chaos Mesh Dashboard, then take a retry. :)

[2021-07-06 04:24] Bhumika1997 opened #2079 "rpc error"
Hi,
While applying experiment in chaos mesh i am getting an error

An error occurred: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial tcp 192.168.0.37:31767: i/o timeout"

Can somebody help me on this?

[2021-07-06 04:25] Bhumika1997 opened #2080 "Network Experiments Error"
Hi,
while performing network experiments i am getting an error

An error occurred: Internal error occurred: failed calling webhook "vpodnetworkchaos.kb.io": Post "https://chaos-mesh-controller-manager.chaos-testing.svc:443/validate-chaos-mesh-org-v1alpha1-podnetworkchaos?timeout=5s": context deadline exceeded

Can anybody help me on this?

[2021-07-06 04:40] STRRL commented on #2080
Hi @Bhumika1997 , tldr, please make sure that `kube-apiserver` could access the `ClusterIP` of service `chaos-mesh-controller-manager`.

Chaos Mesh depends on "Admission Webhook" feature in Kubernetes. Admission Webhook could be an HTTP endpoint of a kubernetes service, and `kube-apiserver` try to access this endpoint when a CustomResource is created/updated/deleted.

It depends on the way of how

[2021-07-06 04:43] Muscule commented on #2037
I looked through logs of chaos-controller-manager and saw that it takes a long time for controller to create clients on every node of cluster and to launch network-chaos. Because of that, the 5s timeout runs out and the error appears, though the experiment does not always fail - sometimes I just need to wait some more time and not to pay any attention to the error message in the dashboard.

[2021-07-06 04:46] Muscule commented on #2063
Well, then it would be great to have a log-block in the dashboard to see the activities and their initiators.

[2021-07-06 04:47] Muscule commented on #2053
I still didn't manage to find the way to delete this sort of experiment which does not exist in did.

[2021-07-06 04:50] Muscule commented on #2080
Looks like it happens because chaos-controller-manager goes node by node to launch network experiments, and, of course, there is no enough time to launch, so you get this type of error message.

[2021-07-06 05:01] STRRL commented on #2037
The 5s timeout is too short, that sounds awful. Actually we have no enough works on the performance. :(

@Muscule could you tell us the expected number of pods affected by NetworkChaos? About several dozens or hundreds?

[2021-07-06 05:05] STRRL commented on #2080
Yes! Thanks, @Muscule. That issue occurred on https://github.com/chaos-mesh/chaos-mesh/issues/2037.

Same question @Bhumika1997, could you tell us the expected number of pods affected by NetworkChaos? About several dozens or hundreds?

[2021-07-06 05:27] YangKeao commented on #2037
If there are a lot of pods on the same node, we may need to cache the daemon client (for node), but not create one by one for each pods.

[2021-07-06 05:53] STRRL commented on #2053
I think that NetworkChaos is stuck in "Deletion" because the finalizers are not cleaned up.

I am on my way to reproduce that.

[2021-07-06 06:00] cwen0 commented on #2079
@Bhumika1997 The log represented that the chaos-controller-manager can't access chaos-daemon. You can refer to this [FAQ](https://chaos-mesh.org/docs/faqs#q-i-have-deployed-chaos-mesh-and-created-podchaos-experiments-successfully-but-i-still-failed-in-creating-networkchaostimechaos-experiment-the-log-is-shown-below)

[2021-07-06 07:00] STRRL commented on #2053
Hi @Muscule, if you still keep the scene when the error occurred, could provide the output of `kubectl describe -n <ns> networkchaos <name-of-networkchaos>` for us?

[2021-07-06 07:45] Harmattan322 commented on #2048
What about cgroup v1? Any suggestions? :(

[2021-07-06 09:00] jj891070 commented on #2038
Thanks @cwen0. It's like you said it's not enabled, how do I enable admission webhook on gke(v1.19.10-gke.1600)?

* this is chaos-controller-manager error message ([error image](https://storage.googleapis.com/test-audere-lab/chaos-controller-manager.png))

* this is chaos-dashboard error message ([error image](https://storage.googleapis.com/test-audere-lab/chaos-dashboard.png))

[2021-07-06 15:18] Muscule commented on #2037
I found no correlation in quantity of pods.  Perhaps it depends on cluster load. But I managed to reproduce it on 400+ pods, in each pod there were 2 containers.

Unfortunately now I have no opportunity to run experiment again.

[2021-07-07 00:08] #1573 closed

[2021-07-07 02:10] STRRL commented on #1633
Hi @maronghe , do you resolve this issue? :)

[2021-07-07 03:47] #2077 closed

[2021-07-07 03:55] YangKeao commented on #2048
Sorry for the late reply, I will test on OpenShift Kubernetes Engine in a few days, and will give you a response as soon as possible :beers:

[2021-07-07 05:23] chirangaalwis opened #2084 "[Node] Kubernetes Worker Node Level Experiments for Azure based Kubernetes Deployments"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Missing Node level experiments for Azure based Kubernetes deployments

**Describe the feature you'd like:**
This is for requesting Kubernetes Worker Node level experiments for Azure based Kubernetes deployments (e.g. in [AKS](https://azure.microsoft.com/en-us/services/kubernetes-service/)).

The feature should b

[2021-07-07 10:32] STRRL opened #2087 "Update the kind version and the kubernetes version in install.sh with --local kind"
## Feature Request

**Is your feature request related to a problem? Please describe:**

the kind version is too low, and will not work well on kernel 5.12.2 +
because of https://github.com/kubernetes-sigs/kind/issues/2240

and the kubernetes has released lots of new version

**Describe the feature you'd like:**

We could specify a higher version in `install.sh`.

**Describe alternatives you've con

[2021-07-08 06:23] #2050 closed

[2021-07-08 07:34] abnoumaru opened #2091 "Chaos dashboard: Is the Namespace option required when executing AwsChaos?"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Install chaos-mesh by Helm 3. Helm Chart version is, I've tried two versions, v0.5.1 and v0.5.2 .

[code]

Values file is below

[code]

I tried to execute AwsChaos via the Chaos Dashboard.

**What did you expect to see?**

When executing AwsChaos, A Sc

[2021-07-09 00:07] #1576 closed

[2021-07-09 02:31] fewdan commented on #2091
Thank you for your feedback, we will deal with this issue. As I mentioned in issue #2055 , it needs to be revised here.

[2021-07-09 02:59] #2051 closed

[2021-07-09 04:06] Niksko opened #2095 "PSP RoleBinding has hardcoded namespace"
## Bug Report

**What did you do?**
Install chaos mesh with `--set chaosDaemon.podSecurityPolicy=true`, setting the target namespace as `chaos-mesh`.

**What did you expect to see?**

Helm chart installs properly

**What did you see instead?**

Error message from helm controller: `Helm upgrade failed: failed to create resource: namespaces "chaos-testing" not found`

This occurs because of the foll

[2021-07-09 04:46] fewdan commented on #2095
Yes, I think it is more reasonable to set it to ".Release.Namespace".  We will modify "chaos-mesh/helm/chaos-mesh/templates/chaos-daemon-rbac.yaml".

[2021-07-09 05:25] Niksko commented on #2095
I'm happy to provide a PR

[2021-07-09 05:27] Niksko opened #2096 "Daemon PSP needs to allow privileged"
## Bug Report

**What did you do?**
Install chaos mesh using Helm with `--set chaosDaemon.podSecurityPolicy=true`, setting the target namespace as chaos-testing.

**What did you expect to see?**

Daemon pods start

**What did you see instead?**

DaemonSet reports that the PSP was unable to admit the pod.

This is because the PSP doesn't have `privileged: true` set, but the daemon pods have `privil

[2021-07-09 06:37] STRRL commented on #2096
thanks for your contribution! Looking forward to your PR 😊

[2021-07-09 06:43] STRRL opened #2097 "Updated request: update "ScriptTest", rebuild image each time like integration test"
## Question

As we updated the spec of CRD, the script test always fail, because it use the updated CRD in the PR and outdated image on the dog docker hub.

We need rebuild these images each time.

[2021-07-09 08:45] cwen0 opened #2100 "Upgrade admission webhook API version"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Get some `Warning when installing Chaos Mesh by Helm or `install.sh`:

[code]

**Describe the feature you'd like:**

We should upgrade the admission webhook from `admissionregistration.k8s.io/v1beta1` to `admissionregistration.k8s.io/v1`

**Describe alternatives you've considered:**

**Teachability, Documentati

[2021-07-09 09:41] zhqqqy opened #2101 "external target of network chaos support experiment mode"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Pod supports experiment mode strategies under current chaos, such as random one, fixed number and so on. I hope that the external targets under network chaos can also support this mode

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, M

[2021-07-12 03:25] #2095 closed

[2021-07-12 03:40] anuragpaliwal80 commented on #1664
Needs to check if this has been fixed/handled in 2.0 release.

[2021-07-12 09:08] cwen0 opened #2105 "Chaos Dashboard: 404 page not found"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Access Chaos Dashboard and reflash the page

**What did you expect to see?**

The Dashboard is ok

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/125261286-b259d100-e333-11eb-8aee-4cc54e7fa601.png)

**Output o

[2021-07-12 09:57] #2105 closed

[2021-07-12 12:26] Harmattan322 commented on #2048
Found some spam logs (for all cgroups) in daemon pod's node:
[code]

[2021-07-12 12:31] Harmattan322 opened #2108 "[CRI-O NetwokChaos] error while initializing iptables"
## Bug Report

**What version of Kubernetes are you using?**
**What version of Chaos Mesh are you using?**
**What did you do?**
Same (my other issue with absolutely same infrastructure - https://github.com/chaos-mesh/chaos-mesh/issues/2048)

**What did you expect to see?**
Like this pod-fail, but network tests.
![telegram-cloud-photo-size-2-5388808467889894452-y](https://user-images.githubusercont

[2021-07-13 02:44] cwen0 commented on #2108
/cc @YangKeao PTAL

[2021-07-13 03:05] gaoran10 opened #2109 "Create not allowed while CRD is terminating"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**

I'm failed to create an experiment by chaos-mesh dashboard, when I click the submit button, it shows the error message `error.api.internal_server_error: create not allowed while custom resource definition is terminating`.

The runtime is containerd.

The

[2021-07-13 03:25] cwen0 commented on #2109
@gaoran10 Can you check the status of CRD and make sure which CRD is terminating? `kubectl get crd | grep chaos`

[2021-07-13 03:34] gaoran10 commented on #2109
I'm not sure about how to check the status of CRD, this is my chaos-mesh pods.

[code]

[2021-07-13 06:31] cwen0 commented on #2109
@gaoran10 Can you check the status of networkchaos CRD object by `kubectl get crd networkchaos.chaos-mesh.org -o yaml`?

[2021-07-13 06:36] cwen0 commented on #2038
@jj891070 https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#how-do-i-turn-on-an-admission-controller You can refer to this document. `ValidatingAdmissionWebhook` and `MutatingAdmissionWebhook` are required by Chaos Mesh.

[2021-07-13 09:48] gaoran10 commented on #2109
I create a new Kubernetes cluster in Azure, the chaos-mesh could work well.

I think maybe the un-cleared CRD caused this issue. At first, I create chaos-mesh by command `curl -sSL https://mirrors.chaos-mesh.org/v1.2.2/install.sh | bash`, but the runtime is not matched our environments, then I uninstall use command `curl -sSL https://mirrors.chaos-mesh.org/v1.2.2/install.sh | bash -s -- --template

[2021-07-13 10:06] fewdan commented on #2109
Judging from this information, it should be caused by the previous crd not being deleted cleanly.

[2021-07-13 10:51] YangKeao commented on #2038
It seems that at beginning it's enabled (as it's reported that `admission webhook "vpodnetworkchaos.kb.io" denied the request`),  but why it's disabled later?

[2021-07-13 11:28] FingerLeader opened #2110 "Dashboard becomes blank after creating schedule"
## Bug Report

**What version of Kubernetes are you using?**
client:v1.21.2
server:v1.21.2

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
After creating a schedule, the whole page will be a blank, and go back also doesn't work. I must re-enter the address to see the dashboard. And I still can not get details after clicking the schedule I created.

**What did you expect

[2021-07-13 11:41] cwen0 commented on #2110
@FingerLeader Can you provide the definition of the schedule object?

[2021-07-14 00:08] #1582 closed

[2021-07-14 02:04] STRRL commented on #1848
closed by #2028

[2021-07-14 02:04] #1848 closed

[2021-07-14 02:04] STRRL commented on #1679
closed by #1681

[2021-07-14 02:04] #1679 closed

[2021-07-14 03:17] STRRL commented on #2110
Cause by the namething, https://github.com/chaos-mesh/chaos-mesh/blob/491fd55a66f51ec5d31ed9f1a62208b5e0b84efd/ui/src/components/ObjectConfiguration/index.tsx#L30.

It uses `toCamelCase()` for mapping from`TemplateType` to the field name in the spec:

`inSchedule` is `true`, and the `spec.type` is `IOChaos`, after mapping by `toCamelCase`, we get `iOChaos`, but the field name in spec is `ioChaos`

[2021-07-14 06:04] FingerLeader opened #2114 "IO INJECTION's status is always injecting"
## Bug Report

**What version of Kubernetes are you using?**
client:v1.21.2
server:v1.21.2

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I created an IO INJECTION on dashboard without filling in the volume path.
this is my configuration:
[code]
**What did you expect to see?**
The INJECTION's status be running.
**What did you see instead?**
The INJECTION's status is al

[2021-07-14 06:57] FingerLeader opened #2115 "An experiment still shows running without working in a workflow with an earlier deadling"
## Bug Report

**What version of Kubernetes are you using?**
client:v1.21.2
server:v1.21.2

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I add a pod-failure experiment which lasts 1h in workflow which lasts only 20s.

**What did you expect to see?**
The pod-failure ends after workflow ends

**What did you see instead?**
The workflow ends, but pod-failure still shows r

[2021-07-14 09:30] Harmattan322 commented on #2108
Found one more detail:
![telegram-cloud-photo-size-2-5438477423910957879-y](https://user-images.githubusercontent.com/19413892/125598865-f12a1ddd-b66b-4047-9761-38f5f776583c.jpg)
By the way logs of one of the demons:
![telegram-cloud-document-2-5438477423454719325](https://user-images.githubusercontent.com/19413892/125598913-662487d9-682b-4533-b85a-480be8c8f430.jpg)
Any suggestions, how do I fix t

[2021-07-14 13:32] STRRL commented on #2115
This issue is caused by the unexpected PodChaos created **after the deadline exceeds**.

There are 2 related PodChaos: `pod-failure-9gsf5-8g9m4` and `pod-failure-9gsf5-lblrk`, the last one is unexpected, it is the leaked one.

1. `pod-failure-9gsf5-8g9m4` is created at 2021-07-14T06:22:28.810Z
1. `pod-failure-9gsf5-8g9m4` is deleted at 2021-07-14T06:22:48.121Z
1. `pod-failure-9gsf5-lblrk` is creat

[2021-07-15 02:56] FingerLeader opened #2116 "Content error on dashboard in creating a new experiment by YAML."
## Bug Report

**What version of Kubernetes are you using?**
client:v1.21.2
server:v1.21.2

**What version of Chaos Mesh are you using?**
[code]
**What did you do?**
I created a new experiment by YAML on dashboard.
This is my configuration:
[code]

**What did you expect to see?**
Dashboard creates an experiment which excatly same to my YAML.
**What did you see instead?**
It only fill namespace sel

[2021-07-15 03:13] YangKeao commented on #2108
`chaos-daemon` uses 31767 and 31766 ports by default. If these ports are already used on your server, you could install chaos mesh with helm configuration `--set chaosDaemon.httpPort=xxxxx --set chaosDaemon.grpcPort=xxxxx` to use another port.

[2021-07-15 03:21] FingerLeader opened #2117 "Changing definition of an expriment on dashboard failed."
## Bug Report

**What version of Kubernetes are you using?**
client:v1.21.2
server:v1.21.2

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I updated definition of an experiment on dashboard.
This is my configuration:
[code]
I changed rate to 10 kbps
**What did you expect to see?**
The configuration changed.
**What did you see instead?**
The dashboard shows updated succe

[2021-07-15 03:46] fewdan commented on #2117
@FingerLeader

After this [pr](https://github.com/chaos-mesh/chaos-mesh/pull/1926), the spec field of chaos cannot be modified.

[2021-07-15 07:38] cwen0 opened #2118 "Dashboard: create time is empty"
## Bug Report

**What version of Kubernetes are you using?**

1.21

**What version of Chaos Mesh are you using?**

latest

**What did you do?**

Create workflow

**What did you expect to see?**

Show the create time on the Dashboard

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/125748589-10a26e21-2bb9-45e6-a914-df676c2e5042.png)

**Output of chaosctl**

[2021-07-15 07:48] cwen0 opened #2119 "Can't get the status of chaos experiment on chaos detail page"
## Feature Request

**Is your feature request related to a problem? Please describe:**

latest - 2bc0fa815446599852116ac0dfb612f659376745

**Describe the feature you'd like:**

When I create a chaos experiment successfully, I only get the status of this experiment on the list page, like this

![image](https://user-images.githubusercontent.com/22956341/125749766-cca5abfe-e9ff-4233-a5e5-a56922bfe894

[2021-07-15 09:22] shawnho1018 commented on #2038
@jj891070  I could successfully execute it in gke v1.19.10. I encountered your earlier problem since I didn't apply the containerd crd correctly. (I do think the document could be improved a bit to make it more explicit). I found if you apply any networkChaos earlier, those objects will stuck and cannot be removed. I manually edit the object to have it removed (by removing its finalizer value).
![

[2021-07-15 23:07] Hawachurl commented on #1684
I am also getting the same error while using command-line:

[code]

Now when I upload the same yaml file on dashboard and run it using the service account it works perfectly fine.

@STRRL Is there anything that I am doing wrong?
I am the owner of the gcp, is there still any permission that I need to get?

When I run `kubectl auth can-i create podchaos -n default` it shows `yes`

[2021-07-15 23:26] Hawachurl commented on #2038
I am using chaos-dashboard to run this experiment and had same issue.
Installing chaos-mesh in containerd environment fixed the problem for me.

Or so I thought.
The experiment runs without any error but I do not see any change in web-show:
![image](https://user-images.githubusercontent.com/86557959/125869827-c877c267-fb1e-4f61-8626-0266445f7021.png)

I am using the same configuration file as defi

[2021-07-16 09:49] #2118 closed

[2021-07-16 12:45] Bhumika1997 opened #2128 "Installation of Chaos Mesh"
I am getting the status as pending and evicted while installing chaos mesh
Can somebody help me on this?
NAME                                                                READY   STATUS    RESTARTS   AGE
chaos-controller-manager-54c8b4479-dj7gw   0/1     Pending   0          7m13s
chaos-daemon-nhv66                                        0/1     Evicted   0          2m51s

Before asking a questi

[2021-07-17 00:07] #1566 closed

[2021-07-17 00:07] #1505 closed

[2021-07-17 04:05] Hexilee commented on #2128
There may be some overloaded nodes in your k8s cluster, could you provide more information about "chaos-daemon-nhv66" by `kubectl describe`?

[2021-07-18 00:08] #1603 closed

[2021-07-19 07:23] #2119 closed

[2021-07-19 07:46] #2014 closed

[2021-07-20 03:00] jj891070 commented on #2038
It's work.
I change the official yaml provided, it does not bring the value into the --target-ip. But I don't know where it will call for the empty value and how to generate the graphs.
![Screen Shot 2021-07-20 at 10 48 22 AM](https://user-images.githubusercontent.com/25993190/126255185-b50e06ea-a359-4c08-9314-83cd5effef0e.png)

[2021-07-20 07:41] fanglixuezi opened #2134 "Does it support http or other remote access?"
Whether to support remote connection via protocol for pod kill and other pod operatations?

[2021-07-20 09:20] WangXiangUSTC opened #2136 "something wrong when create two task with same name in workflow"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

281484e220b701d27fcf49641076a96d9fb397a8 in platform_dev branch

**What did you do?**

create a workflow with two tasks, and these two tasks have the same name `test`

**What did you expect to see?**
Maybe the dashboard should report an error `the name is duplicate`

**What did you see inst

[2021-07-20 12:22] Hexilee commented on #2134
Do you mean to control the pods in another k8s cluster?

[2021-07-20 14:38] datcu opened #2138 "Getting "rpc error: code = Unknown desc = expected docker:// but got container" error when trying to start any experiment other than "PodChaos""
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892aab98fe339f3bd70e3c470144299398ace", GitTreeState:"clean", BuildDate:"2020-08-13T16:12:48Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.7", GitCommit:"4a4913e7

[2021-07-21 00:07] #1536 closed

[2021-07-21 05:53] #2110 closed

[2021-07-21 08:19] #2114 closed

[2021-07-21 08:27] Hexilee commented on #2138
Hi, it seems you should specify the container runtime in the installation. Could you try to reinstall Chaos Mesh by `curl -sSL mirrors.chaos-mesh.org/v1.2.2/install.sh | bash -s -- -r containerd`?

[2021-07-21 09:14] Harmattan322 commented on #2108
@YangKeao, has been used another (free) ports - no alerts in Daemon Set , but error is the same.
![image](https://user-images.githubusercontent.com/19413892/126463886-36edf593-1665-4d3f-9aa7-8510902c9742.png)

[2021-07-21 11:08] datcu commented on #2138
@Hexilee thanks! I don't get the error anymore after installing using above command. Will close the issue.

[2021-07-21 11:08] #2138 closed

[2021-07-22 00:08] #544 closed

[2021-07-22 07:51] YangKeao commented on #2134
The `chaos-dashboard` has exported an HTTP api to create/remove/list experiments. However, we don't give any guarantee on the compatibility (between versions) of the HTTP API. The most suggested way is still to use kubernetes client to create / remove chaos resource.

Can you tell me the situation? I think in most case, creating experiments through kubernetes http client is enough.

[2021-07-22 08:48] #2115 closed

[2021-07-22 09:10] #2055 closed

[2021-07-22 09:10] #2116 closed

[2021-07-22 09:47] Bhumika1997 commented on #2128
It's working now

[2021-07-22 09:47] #2128 closed

[2021-07-22 09:50] Bhumika1997 opened #2143 "Error in IO Experiments"
While applying IO Injection Experiments i am getting this error
An error occurred: admission webhook "mpodiochaos.kb.io" denied the request: rpc error: code = Unknown desc = Toda startup takes too long or an error occurs: No such file or directory (os error 2)

Can somebody help mw on this?

[2021-07-22 09:55] sanxun0325 opened #2144 "SchedulerSpec undefind"
## Question

SchedulerSpec undefind is prompted during the process of developing new chaos.
reference:https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos
![image](https://user-images.githubusercontent.com/28588342/126621017-d25db3e9-8b89-42ce-9953-4d246801a6e8.png)

I need to customize it？can you give me some reference?

[2021-07-22 13:22] Hexilee commented on #2143
It seems the HookFs does not mount correctly, could you provide the version of Chaos Mesh and the configuration of your experiment?

[2021-07-22 13:31] Hexilee commented on #2144
No, you needn't, the [SchedulerUpdater](https://github.com/chaos-mesh/chaos-mesh/blob/release-1.2/controllers/twophase/update_scheduler.go#L34) will handle it.

[2021-07-22 13:59] sanxun0325 commented on #2144
I'm sorry, I didn't get it, did you say schedulerUpdater will create SchedulerSpec?
when can I get ScheulerSpec，because if I write helloWorldChaos_types i get an error.

[2021-07-22 14:02] YangKeao commented on #2144
This document is out of date for 2.0. I'm writing a new one and here is the [PR](https://github.com/chaos-mesh/website/blob/83d6c65f4b731b94d82d3746a0f0ac9624e04f60/versioned_docs/version-2.0.0/development_guides/dev_hello_world.md)

[2021-07-22 14:17] sanxun0325 commented on #2144
thanks

[2021-07-22 14:17] #2144 closed

[2021-07-23 07:45] STRRL opened #2146 "use code generation and linter tools with docker instead of binary on host"
# Feature Requests

Chaos Mesh need lots of tools for code generation, include:

- controller-gen
- protoc
- kukustomize
- failpoint-ctl

and some other tools as linter:

- revive
- gosec
- goimports

And we will use these binaries that already exist in PATH priority, and try to install with `go get` if it does not exist.

So here are two issues about that:

- if the user already installed a binar

[2021-07-23 07:53] Bhumika1997 commented on #2143
![image](https://user-images.githubusercontent.com/33874082/126752539-56e58409-fc87-4ac9-bd17-eaf3a5cd3ac9.png)

Configuration:

![image](https://user-images.githubusercontent.com/33874082/126752690-bb7f20d9-3c10-4d5d-8d0d-8afd780c6c7f.png)

![image](https://user-images.githubusercontent.com/33874082/126752734-2e48d10d-c2f7-4b04-9068-a96a6f249e77.png)

[2021-07-23 10:59] torblerone opened #2149 "Is it possible to change log mass of chaos components?"
## Question

I wanted to know if it is possible to reduce the logging of chaos components? I just got mail from a colleague that the `DEBUG` logging of e.g. `chaos-controller-manager` is filling up our ELK stack, I would like to be able to control log levels like `DEBUG`, `INFO`, `WARNING`, `ERROR` and `CRITICAL` or something.

Thanks in advance!

**Output of chaosctl**

not relevant.

[2021-07-23 14:15] datcu commented on #1646
@anuragpaliwal80 where should we change the value for this "host_network" parameter? On the chaos-mesh controller?

[2021-07-24 13:52] anuragpaliwal80 commented on #1646
I am not using this parameter any more.

[2021-07-25 14:34] sanxun0325 opened #2150 "Failed to access the dashboard according to the online manual"
## Question

This site cannot be accessed https://2886795273-31111-kira01.environments.katacoda.com.
Do I need to configure hosts?  How to configure the corresponding IP address

![image](https://user-images.githubusercontent.com/28588342/126902834-548bfbf0-57c8-4a85-9587-ec380c8dd347.png)

[2021-07-26 04:50] STRRL commented on #2150
Hi @sanxun0325, this katacoda scenario use NodePort to expose service dashboard, but NodePort is not set **by default**. So you should execute that `kubectl path` to modify the service, make it be exposed on port 3111.

![image](https://user-images.githubusercontent.com/20221408/126934653-4bbbd3f3-f56b-47ac-a990-c779c804dce1.png)

[2021-07-26 05:06] STRRL commented on #2149
Hi @torblerone , thanks for your response! It is definitely a problem! We will fix that soon.

[2021-07-26 12:25] STRRL opened #2152 "HTTPChaos patch response not worked as expected, HTTP Header content-length is not updated"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

my workload and httpchaos is here:

[code]

[code]

apply them into kubernetes,

then `kubectl port-forward <one-of-the-nginx-pod> 8080:80` .

**What did you expect to see?**

`curl localhost:8080` show me `{"hello": "chaos mesh"}`

**What did you see in

[2021-07-26 12:26] STRRL commented on #2152
PTAL @Hexilee @Andrewmatilde

[2021-07-26 20:23] Yiyiyimu opened #2153 "Feature Request: support disk fill chaos"
## Feature Request

**Describe the feature you'd like:**
Hi Community! I noticed `chaosd` have already supported [disk fill](https://github.com/chaos-mesh/chaosd#disk-attack). Are we going to also support it in chaos mesh

---

I noticed there are [conversations in chaosd](https://github.com/chaos-mesh/chaosd/issues/28#issuecomment-802652702). Is there any plan for this~

[2021-07-27 01:52] STRRL opened #2155 "Check Markdown links always fails on master branch"
## Bug Report

It seems https://chaos-mesh.org/blog/how-a-top-game-company-uses-chaosengineering-to-improve-testing not rendered correctly, the `.md` file does exist in `chaos-mesh/website` repo, but that URL path returns 404.

[code]

[2021-07-27 01:52] STRRL commented on #2155
Hi @g1eny0ung , PTAL

[2021-07-27 02:02] STRRL commented on #2153
Hi @WangXiangUSTC , how do you think about it?

[2021-07-27 04:32] #2155 closed

[2021-07-28 00:08] #1642 closed

[2021-07-28 00:08] #1597 closed

[2021-07-28 00:08] #1187 closed

[2021-07-28 03:06] WangXiangUSTC commented on #2153
Yeah, we are plan to implement it in Chaos Mesh

[2021-07-28 07:39] Colstuwjx commented on #1587
How's it going? It's still a pain for all contributors, e.g. why are some tests easily be unstable?

For instance, see jenkins ci [742](https://ci.pingcap.net/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/742/pipeline), it panics due to some iochaos tests failed:

1. at [step 142 line 60](https://ci.pingcap.net/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/742/p

[2021-07-28 08:48] Xushaohong opened #2161 "'vauth.kb.io' not found by server"
## Question
I‘ve installed the k8s ,flannel and chaos mesh. But when I try the chaos experiment, I met the error that
[code]
I also tried the action on the dashboard, the web shows the same problem.
Thus I don't know why vauth.kb.io is not found because I have seen it through
```k8s get ValidatingWebhookConfiguration```

**version info:**
chaos version 1.1.0
k8s version 1.21.2

**Output of chaosct

[2021-07-28 10:00] WangXiangUSTC opened #2162 "reload from a paused experiment, and the new experiment's state is paused too"
## Question

I create a new experiment exp1 by reloading from another experiment exp2, and the exp2's state is paused. After finishing the creation, the exp1's state is paused too, is it reasonable? I think it should run directly.

[2021-07-29 00:08] #1650 closed

[2021-07-29 02:29] STRRL commented on #2161
Hi @Xushaohong, `vauth.kb.io` is the webhook that is supported at v1.2.0, it's one part of `SecurityMode`. So it's not supported in Chaos Mesh v1.1.0.

You might apply some manifest yaml files that belong to v1.2.x (or newer), that's the reason. Please check the image version and WebhookConfiguration is matching or not.

You could upgrade Chaos Mesh to v1.2.3, (or our latest v2.0.0), or remove tha

[2021-07-29 02:40] Xushaohong commented on #2161
Great Thx.
I saw someone said this kind of solution but remained with other issues, so that's why i didn't try it.
Now it's working for me ! Hope the `install.sh` released within the online installation webpage could make a bit more clear on this config~

[2021-07-29 02:41] #2161 closed

[2021-07-29 02:44] STRRL commented on #1749
Hi @storagezhang , did you resolve this issue?

[2021-07-29 02:49] fewdan commented on #2162
Can you take a look at the annotation of the newly created exp2? It looks like it was suspended because the annotation and exp1 are consistent. . .

[2021-07-29 06:49] STRRL opened #2163 "codebase: static interface checks"
## Feature Request

This issue will not introduce any NEW features or any changes to the current architecture. It's only about improving the style of codes, and let it be easier to understand Chaos Mesh's codes.

As [Effective Go/Interface checks](https://golang.org/doc/effective_go#blank_implements) introduced, we do not need to declare explicitly that one struct implements an interface. So that

[2021-07-29 06:51] YangKeao commented on #1587
I have detected a data race in the `bpm.(*blockingBuffer)` in `chaos-daemon`. It may be the problem :cry: . I will try to fix it right now.

[2021-07-29 07:00] WangXiangUSTC commented on #2162
Yeah, that's true, I mean it looks not reasonable, do we need to update the annotation when load from an exit experiment.

[2021-07-29 07:09] fewdan commented on #2162
Well, I understand, this should indeed need to be revised.

[2021-07-29 07:48] AsterNighT commented on #1587
rly? That would be mb for not noticing that while introducing it. But still I cannot see how it could lead to a data race.

[2021-07-29 09:28] Colstuwjx commented on #1587
I think @STRRL 's [comment](https://github.com/chaos-mesh/chaos-mesh/pull/2141#issuecomment-888906707) mentioned in PR might be the root cause.

Besides, the e2e time costs and stability still have room to progress, a long way to go!

[2021-07-29 10:20] Muscule opened #2164 "Missed translation"
## Bug Report

**What version of Kubernetes are you using?**
Openshift 4.8

**What version of Chaos Mesh are you using?**
2.0.0

**What did you do?**
Launched experiment and choose events in menu to the left

**What did you expect to see?**
All page in English
**What did you see instead?**
One column titled in Chinese
**Output of chaosctl**

[2021-07-29 10:21] Muscule commented on #2164
<img width="700" alt="Снимок экрана 2021-07-29 в 13 17 46" src="https://user-images.githubusercontent.com/14834949/127475623-1f47f3e0-b46c-4d83-bdd0-5acd3571fdd2.png">

[2021-07-29 10:45] Muscule opened #2167 "where is the button in v2.0.0?"
where is the button in v2.0.0?

_Originally posted by @Muscule in https://github.com/chaos-mesh/chaos-mesh/discussions/2166_

[2021-07-29 10:50] Muscule commented on #2167
When I create pod-kill it finishes from the very moment of creation.

[2021-07-29 11:59] STRRL commented on #2164
hi @g1eny0ung  PTAL

[2021-07-29 12:14] STRRL commented on #1587
Still no progress yet. :cry:

[2021-07-29 13:02] #2150 closed

[2021-07-30 00:08] #1628 closed

[2021-07-30 09:35] #2164 closed

[2021-07-30 13:12] datcu commented on #2143
Any update on this? I'm encountering the same problem.

[2021-08-02 02:39] FuyuanChu commented on #1684
same problem with @Hawachurl , also a gcp owner, failed to apply podchaos manifest using kubectl.

``kubectl auth can-i create podchaos -n dev`` returns yes but ``kubectl auth can-i create podchaos -n dev --as  user@company.com`` returns no.

user@company is a gcp user account.

more info:

``kubectl auth can-i create deploy -n dev --as user@company.com`` also returns no.

i think maybe there be a

[2021-08-02 04:58] Hexilee commented on #2152
Thx, I think it's a bug as users cannot infer the exact length of the patched body.

[2021-08-02 09:36] Colstuwjx opened #2172 "Be ready for k8s v1.22+"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Since k8s v1.22 is nearly released ( due date: 2021.08.04 ), some API versions would be removed, we should update those resources accordingly. Here are some warning texts I could see when I try to install chaos-mesh v1.2.3:

[code]

**Describe the feature you'd like:**

We need to follow the k8s release plan, a

[2021-08-02 10:12] STRRL commented on #2172
Thanks for noticing. :heart:

We have several issues/PRs for tracing that things:

- https://github.com/chaos-mesh/chaos-mesh/issues/1570
- https://github.com/chaos-mesh/chaos-mesh/pull/1558

I think we could finish that in the next several weeks!

[2021-08-02 10:49] YangKeao opened #2173 "`validate-auth` refuse to create PodChaos in GCP"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

Latest master

**What did you do?**

Create a `PodChaos`

**What did you expect to see?**

The `PodChaos` is created.

**What did you see instead?**

[code]

Creating from the dashboard gives me the same error. But after deleting the `validate-auth`, I can create the `PodChaos`:

[c

[2021-08-02 11:05] YangKeao opened #2174 "Fail to install on GKE auto-pilot cluster"
## Bug Report

GKE auto-pilot cluster cannot add or modify the `mutatingWebhook`, so chaos-mesh failed to install on it.

A temporary solution could be installing chaos mesh without webhook, but for newer version than 2.0 we are not sure whether Chaos Mesh works well without default and validation.

For Chaos Mesh < 2.0, it's impossible to work without webhook.

[2021-08-03 00:08] #1675 closed

[2021-08-03 01:43] STRRL commented on #2174
Just curios, does GKE auto-pilot cluster support API aggregator/`APIService`?

[2021-08-03 01:58] FuyuanChu commented on #2173
maybe returned no with this command:

``kubectl auth can-i create podchaos.chaos-mesh.org -n default --as 'y630357146@gmail.com'``

also encountered this problem, :(

[2021-08-03 03:24] YangKeao commented on #2174
https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-overview#other_limitations

It seems that these limitation makes it hard for `chaos-daemon` to work.

[2021-08-03 03:57] Colstuwjx opened #2176 "codebase: some questions about podxxxchaos"
It's a good design for creating a podxxxchaos to build the bridge for Pod and Chaos object, and I have some questions which are not very clear in my mind.

I do know it's not a good place to ask questions, but I think it would help some new-coming contributors to get a more clear understanding about podxxxchaos:

1. Once chaos, e.g. `NetworkChaos`, has been created, it will create a `PodNetworkCha

[2021-08-03 06:56] WangXiangUSTC commented on #2173
because `y630357146@gmail.com` is your Google Cloud user account, doesn't have the privileges of create chaos. You can check it by run:

[code]

You can see the response is `no`.

You need to bind roles for your user account, for example:

[code]

Then execute the same `kubectl auth` command and will get `yes`:

[code]

And then you can create chaos experiment success.

Refer to https://cloud.goog

[2021-08-03 11:18] Muscule opened #2178 "StressChaos is not injected"
## Bug Report

**What version of Kubernetes are you using?**
OpenShift 4.7 without access to internet

**What version of Chaos Mesh are you using?**
2.0.0

**What did you do?**
Launched StressChaos Schedule
**What did you expect to see?**
Stressng processes in pod and stresschaos running
**What did you see instead?**
StressChaos in state injecting all the time
**Output of chaosctl**

[2021-08-03 12:38] STRRL opened #2179 "bump the version of controller-runtime"
We have not updated the version of several libraries for a long time, as most of those libraries stay at `0.x.x` version, and updating them means bringing many API changes and lots of handwork. And the "dependabot" seems not works well now(still need to profile the problem).

I am trying to bump the version of controller-runtime(and library about kubernetes) from v0.5.0 to the latest version (v0.9

[2021-08-03 18:07] brrusino opened #2181 "Accessing configured Chaos Mesh image version via kubectl"
## Question

A general question that I have not been able to find an answer to - I'm trying to find a reliable way to verify which Chaos Mesh image version is installed and operating in a given cluster. The best way I have found is by pulling one of the Chaos Mesh pods (chaos controller manager, for example) and accessing pod.Spec.Containers[0].Image, which gives a value of "pingcap/chaos-mesh:**v

[2021-08-03 18:18] brrusino opened #2182 "admission webhook "vpodnetworkchaos.kb.io" denied the request: rpc error: code = Unknown desc = expected docker:// but got container"
## Bug Report

**What version of Kubernetes are you using?**
1.19.9

**What version of Chaos Mesh are you using?**
1.1.4

**What did you do?**
Running demo network fault against web-show demo service: https://chaos-mesh.org/docs/1.1.4/user_guides/run_chaos_experiment#step-2-define-the-experiment-configuration-file

**What did you expect to see?**
Indication that the experiment was started successf

[2021-08-03 18:21] brrusino commented on #2182
Confirmed that this worked as expected with 1.18.17 but fails on anything greater than 1.19.x using Chaos Mesh 1.1.4.

[2021-08-04 03:25] YangKeao commented on #2176
Because multiple `NetworkChaos` will control the same `PodNetworkChaos`, the relationship between `NetworkChaos` and `PodNetworkChaos` is not one-to-one, but many-to-many.

No. It's because this controller is used to reconcile `NetworkChaos`, and it cannot handle `PodNetworkChaos` (as the `controller-runtime` even doesn't give you the type of the resource.)

[2021-08-04 04:20] YangKeao commented on #2181
As you said, without knowing the namespace, we cannot give you a script that can work for every users.

The concrete version (with commit hash) is included in the first several lines of logs of every components (like chaos-daemon and chaos-controller-manager)

[2021-08-04 05:03] #1933 closed

[2021-08-04 05:46] STRRL commented on #2182
Hi @brrusino, " expected docker:// but got container" means that your might using `containerd` not `docker` as your container runtime of kubernetes cluster.

If you installed Chaos Mesh by helm at first, you could use `helm upgrade --set chaosDaemon.runtime=containerd` to update the configuration.

[2021-08-04 07:08] Muscule commented on #2178
Chaos not found error

[2021-08-04 07:55] STRRL commented on #2178
Hi @Muscule, thanks for your report!

Could you share the definition of the Schedule for us?

[2021-08-04 10:18] Muscule commented on #2178
​kind: Schedule

apiVersion: chaos-mesh.org/v1alpha1

metadata:

  name: demo-network-stress-memory-label-selected

  namespace: demo-network

spec:

  schedule: '@every 5s'

  startingDeadlineSeconds: null

  concurrencyPolicy: Forbid

  historyLimit: 1

  type: StressChaos

  stressChaos:

    selector:

      namespaces:

        - demo-network

      labelSelectors:

        app: support-tools

[2021-08-04 14:15] semos2k opened #2186 "Installing version 2 error on workflownodes.chaos-mesh.org"
Hi, i have tried to install version 2.0 but the process show the next error: "The CustomResourceDefinition "workflownodes.chaos-mesh.org" is invalid: metadata.annotations: Too long: must have at most 262144 bytes" and the definition yes is too long.

The yml files for install was generated by the command:

`curl -sSL https://mirrors.chaos-mesh.org/v2.0.0/install.sh | bash -s -- --template --runtim

[2021-08-04 18:02] brrusino commented on #2182
Ok, ran the following:
[code]

I am now seeing that of my 3 chaos-daemon pods, only one is able to connect. Example logs from failing pod:
[code]

Assuming I'm missing a configuration of some kind - I'm explicitly using Chaos Mesh v1.1.4 (chart version v0.4.4) because we are using the old Chaos Mesh experiment lifecycle states in our system.

[2021-08-04 22:21] shyamgcpdemo opened #2187 "Admission webhook "vauth.kb.io" denied the request"
## Bug Report

**What version of Kubernetes are you using?**
v1.19.12-gke.2100

**What version of Chaos Mesh are you using?**
v2.0.0

**What did you do?**
I installed Chaos Mesh through helm charts on the Google Kubernetes Cluster. Installation was perfect. I was able to login to Dashboard. I am able to run the pod-chaos tests from the dashboard. However, the same doesn't work from Kubernetes clus

[2021-08-05 00:08] #1685 closed

[2021-08-05 02:58] YangKeao commented on #2173
@WangXiangUSTC However, the "y630357146@gmail.com" is the administrator of this cluster, and after removing the validating webhook, I can create the `PodChaos`.

I will investigate this problem these days.

[2021-08-05 03:01] YangKeao commented on #2187
Maybe it's the same problem with #2173 . A temporary solution could be:

[code]

Then you can create the `PodChaos`. Can you check whether you can really operate on the namesapce `chaos-testing` by running following command?

[code]

[2021-08-05 03:04] YangKeao commented on #2182
[code]

The `chaosDaemon.socketPath` need to be set to the socket path of containerd.

[2021-08-05 03:07] YangKeao commented on #2186
`kubectl apply -f` will result in this problem. You could use `kubectl create -f` instead.

[2021-08-05 05:04] brrusino commented on #2182
Ran the above upgrade setting socketPath, now all chaos-daemon pods are in CrashLoopBackoff with no logs. "kubectl describe pod" gives me this:
[code]

[2021-08-05 05:14] YangKeao commented on #2182
@brrusino

The path `/run/containerd/io.containerd.runtime.v1.linux/k8s.io/eea06aa9f0895a07806ace449c289ace2b246da3c52d2c027e2851b8b45552d3/C:/Program Files/Git/run/containerd/containerd.sock` seems wired.

Can you check the volumes of `chaos-daemon` DaemonSet? The volume "socket-path" should be a `hostPath` whose path is `/run/containerd/containerd.sock`. If it's not, please modify it to the corr

[2021-08-05 05:58] brrusino commented on #2182
This cluster is hosted via Azure Kubernetes Service (AKS) backed by a Linux (Ubuntu) agent pool - here is the daemonset info:
[code]

For some reason whenever I try to set the socketPath to `/run/containerd/containerd.sock` it defaults to this other path.

[2021-08-05 06:24] brrusino commented on #2181
Got it - thanks for the confirmation.

[2021-08-05 06:24] #2181 closed

[2021-08-05 12:20] cwen0 opened #2188 "Failed to create NetworkChaos on Dashbaord"
## Bug Report

**What version of Kubernetes are you using?**

1.7.2
**What version of Chaos Mesh are you using?**

2.0.0
**What did you do?**

* Create a single chaos experiment
* Set network-loss and set filed `loss` to `10ms`
![image](https://user-images.githubusercontent.com/22956341/128348403-97f73056-cd10-420d-8e90-fcb4b5e4a715.png)

* Click `Submit` and return an error
![image](https://user-

[2021-08-05 13:12] anuragpaliwal80 opened #2189 "HttpChaos support for upstream services/endpoints"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Suppose application is making call to some endpoints and we want to check how application behave/handles different kind of responses from upstream endpoints.

**Describe the feature you'd like:**

Services at head layer do multiple calls into backend/other-head services to service a incoming request.  Any of th

[2021-08-05 13:15] anuragpaliwal80 commented on #2189
As far as I know chaos mesh is supporting the following via HttpChaos:
![Screenshot 2021-05-25 at 1 26 41 PM](https://user-images.githubusercontent.com/3283882/128355910-9029c9e7-0988-4e45-b47f-32c6e445a12b.png)

What we also need is:
![Screenshot 2021-05-25 at 1 26 50 PM](https://user-images.githubusercontent.com/3283882/128355969-13c799cd-0723-46e9-8ffe-8d3b72b7746e.png)

[2021-08-05 14:33] shyamgcpdemo commented on #2187
Thanks so much for looking into this issue. I really appreciate your help.

In the meantime, is it possible for you to provide me any command which I can use to trigger the chaos test from the command line? I ask this because the **chaos-dashboard** is able to **run** the chaos tests. However, I want it to be run from command line.

Example -> Let's say, if there is any command to run this as thou

[2021-08-05 16:01] shyamgcpdemo commented on #2187
Thanks for providing the workaround. The experiment works like a charm now from the kubernetes cli. You are amazing! If this can be added to FAQ section in the web-page , it will help lots of people like me. Thanks again so much.

**Below Steps which I did**

kubectl auth can-i create podchaos.chaos-mesh.org -n chaos-testing
yes

$ kubectl delete validatingwebhookconfigurations.admissionregistrati

[2021-08-06 02:59] STRRL opened #2190 "code generation tool "chaos-builder" should ignore the zz_generated.**.go"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When some syntax error occurs in generated file "zz_generated.**.go", "chaos-builder" will not work well.

**Describe the feature you'd like:**
when "walkthrough" the path, ignore the .go file that start with `zz_generated`

**Describe alternatives you've considered:**

No other alternatives yet.

**Teachabilit

[2021-08-06 03:04] YangKeao commented on #2189
@anuragpaliwal80 In the `Image-B`, the `Application` works as  an HTTP Client right?

It can be done in two sides:

1. In the `OUTPUT` part of `Application`
2. In the `INPUT` of the upstream services (just like what the `HTTPChaos` is doing for `Application`)

@Hexilee What's your opinion?

[2021-08-06 05:04] Hexilee commented on #2189
The main problems are:
1. The used TCP port is random in most cases of the client.
2. We cannot mark network packages on the socket without modifying the code of the client.

We can hijack all TCP connections on ports bigger than 1080 to resolve the problems, I think the [PR#10](https://github.com/chaos-mesh/rs-tproxy/pull/10) proposed by @Andrewmatilde can already make it, right?

### Alternative

[2021-08-06 06:28] STRRL commented on #2097
"ScriptTest" is designed to test install chaos mesh with origin remote docker image.

[2021-08-06 06:28] #2097 closed

[2021-08-06 06:45] STRRL commented on #1794
I think we'd better create an Interface like:

[code]

And implement this interface for each chaos, schedule, and workflow kind.

[2021-08-06 20:42] brrusino commented on #2182
Ok, this seems to be a Helm for Windows issue - I ran the same commands in Azure Cloudshell (Bash) and everything worked as expected. @YangKeao, thanks for the help!

[2021-08-06 20:42] #2182 closed

[2021-08-08 12:47] Shatakshi0805 commented on #1930
Hello @STRRL. I would like to take up this issue. I am currently new to Chaos Mesh but really want to contribute. Could you please tell if I have to replace `managed-by` in controller.go with `const` ?

[2021-08-09 02:53] STRRL commented on #1930
Yes! :)

[2021-08-09 04:11] FuyuanChu commented on #1849
@g1eny0ung should chaos-mesh controller manage CRDs' lifecycle since helm only set up initial CRDs to ensure that CRs in charts are installed successfully.

[2021-08-09 07:51] Shatakshi0805 commented on #1930
Thanks for replying. I would like to take this issue. Please assign this to me.

[2021-08-09 08:01] YangKeao commented on #1794
Good! I will do it right now.

[2021-08-09 08:03] YangKeao commented on #1849
A better way is to manage the version of CRDs: start moving forwards from v1alpha1...

[2021-08-09 10:59] Shatakshi0805 commented on #1930
Thanks for replying. Just want to know as I'm a bit confused do I have to change "managed-by" in all the files that exist in api/v1alpha1 folder as well?

[2021-08-09 14:55] #2152 closed

[2021-08-09 17:56] shyamgcpdemo commented on #2178
I am also facing the same issue. I would like to add the error message from the Chaos-Dashboard if it would help.

"Failed to select targets: no record has been selected"

This could be because the containerNames section is populated as null in the yaml (even in the above example).

Is there an interim fix for this? Or should we wait for an official build?

[2021-08-10 03:23] YangKeao commented on #2178
The problem is that the `containerNames` should be `nil`, or `[]string` with meaningful value, but not `[]string{''}`. It could be a bug in JSON deserialization and I remember it has been fixed. @fewdan  Please investigate and fix this problem ?

[2021-08-10 09:05] STRRL opened #2198 "Proposal: Monitoring Metrics about Chaos Mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**
No.

**Describe the feature you'd like:**
Monitoring components of Chaos Mesh by exposing `/metrics` HTTP endpoints with https://github.com/prometheus/client_golang

We already have several metrics in `chaos-controller-manager` and `chaos-daemon`, but it's not enough.

We want to describe our logic pattern and p

[2021-08-10 09:23] aido123 opened #2199 "Enable the ability to configure imagePullSecrets from the values file to pull chaos mesh images from private registries"
## Feature Request

**Is your feature request related to a problem? Please describe:**
When your chaos mesh images reside in a private registry, one may need the ability to configure a docker secret via imagePullSecrets in the helm values file which can be enabled and overridden as required

**Describe the feature you'd like:**
Specify an imagePullSecrets parameter in the values file, which can be

[2021-08-10 09:31] STRRL commented on #2199
Oh! Thanks for the suggestion!

Would you be interesting on make this feature for us? :)

[2021-08-10 09:51] STRRL commented on #2198
Hi @CIPHERTron , this proposal will be available on LFX mentorship 2021 Q3 2021, so I could not just assign this for you right now. :P

Please take a look at the LFX mentorship! Looking forward to your participation!

[2021-08-10 10:02] aido123 commented on #2199
Sure thing, I'm on it.

[2021-08-10 10:36] cwen0 opened #2200 "Release: v2.1.0"
## New Feature & Enhancements

* Ease of use / Observability
  - [x] #2229
  - [x] #2259
  - [ ] Unified restful API. #2218, #2231, #2238
  - [x] Support HTTPChaos and JVMChaos on Dashboard.  https://github.com/chaos-mesh/chaos-mesh/pull/2460 https://github.com/chaos-mesh/chaos-mesh/pull/2529
  - [x] JVMChaos: support dynamic injection (without Sidecar). #2366
  - [x] #2212
  - [x] #2122
  - [x] #

[2021-08-10 10:37] cwen0 opened #2201 "Improve workflow and show the correlation between workflow and specific chaos experiments"

[2021-08-10 10:38] #2201 closed

[2021-08-10 14:08] shardulsrivastava opened #2202 "NetworkChaos delay adds twice latency"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
I installed ChaosMesh using helm chart and installed v2.0.0 of the application.
[code]

after installation, I created a basic Nginx service on the Kubernetes cluster.

[code]
and a NetworkChaos based on the example on this [page](https://chaos-mesh.org/doc

[2021-08-11 07:53] fewdan opened #2205 "Dashboard may be blank"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e

[2021-08-11 07:55] fewdan opened #2206 "create chaos from yaml in dashboard"
## Bug Report

**What version of Chaos Mesh are you using?**
v2.0.0

**What did you do?**
create chaos from yaml in dashboard

**What did you expect to see?**

**What did you see instead?**
![image](https://user-images.githubusercontent.com/16437100/128991483-1fc97ee6-3819-4655-9d14-91669a07cf9b.png)

There are two container_name. One is container_name, and another is container_names.

[2021-08-11 08:02] STRRL commented on #2202
Hi @shardulsrivastava , NetworkChaos affects layer 3 in the OSI model, and HTTP works on TCP, which will send several packets when establishing connection, then send the response, so in this specific scenario you provided, the number of affected packets is not one, but two.

We could see the detail with tcpdump, look at the timestamp of the output:

[code]

[2021-08-11 09:01] shardulsrivastava commented on #2202
@STRRL thanks for the clarification, so latency is added per packet, not on the overall response.
could you please point me to docs with the details of how it works internally?

[2021-08-11 14:33] rrraaa1 opened #2208 "Failed to select targets: no record has been selected during Stress-experiment"
Hi every one I am new to chaos-mesh,I am trying to do stress test but I am getting this error even if I am selecting the target namespace.Can some one pls help me in the same.

kubectl describe stresschaos chaos-kafka-stress-1 -n kafka
Name:         chaos-kafka-stress-1
Namespace:    kafka
Labels:       <none>
Annotations:  <none>
API Version:  chaos-mesh.org/v1alpha1
Kind:         StressChaos
Met

[2021-08-11 16:54] ReigenDing commented on #2190
/assign

[2021-08-12 03:51] #2199 closed

[2021-08-12 05:06] YangKeao opened #2212 "Support using the specific flags to enable/disable the specific controllers and webhooks."

[2021-08-12 06:40] YangKeao opened #2213 "Support using GCP account to access Chaos Dashboard."

[2021-08-12 07:13] PrayagS commented on #2087
Hey @STRRL! May I work on this issue?

From what I understand, we need to bump the default kind version used (`kind_version` in `install.sh`). Please let me know if this is correct or any further work is required.

[2021-08-12 07:21] sergioarmgpl opened #2216 "Development guides for v2.0.0 are not displayed"
## Bug Report: Development guides for v2.0.0 are not displayed

**What did you do?**
I clicked on https://chaos-mesh.org/docs/configure-development-environment

**What did you expect to see?**
The documentation of how to prepare my environment like version  1.2.3

**What did you see instead?**
Edit this page

If I can help, just tell me how. :)

[2021-08-12 16:55] jackwener commented on #2054
/assign

[2021-08-12 17:02] jackwener commented on #2054
I find this issue is stagnat.
Maybe I can try to fix it.

[2021-08-13 04:13] g1eny0ung commented on #2208
Seems related to #2178.

[2021-08-13 05:20] mayankmahajan commented on #2208
@g1eny0ung Thanks for pointing to this.
Now as per the latest [comment](https://github.com/chaos-mesh/chaos-mesh/issues/2178#issuecomment-895698964) i have removed the containernames and tried.

Now i have tried removing the containernames from deployment of stresschaos
[code]
Now the events are coming like this
[code]

[2021-08-13 05:59] mayankmahajan opened #2222 "NetworkChaos: Failed to apply chaos: cannot find daemonIP on node testautomation001-wk-02 in related Endpoints {{Endpoints v1}"
## Bug Report

**What version of Kubernetes are you using?**
v1.21.1+k3s1

**What version of Chaos Mesh are you using?**
2.0.0

**What did you do?**
chaos-mesh is installed using
`helm install chaos-mesh chaos-mesh/chaos-mesh -n=chaos-testing --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/k3s/containerd/containerd.sock --set chaosDaemon.podSecurityPolicy=true`

**What did y

[2021-08-13 06:18] #1475 closed

[2021-08-13 06:50] STRRL commented on #2100
related issue and pr:

- #2179
- #2193
- #1558

[2021-08-13 07:15] g1eny0ung commented on #2208
Can u show me the log of `chaos-controller-manager`? Would like to get some more information.

[2021-08-13 09:50] mayankmahajan commented on #2208
**chaos-controller-manager** logs

`2021-08-13T05:10:15.191Z        DEBUG   controller-runtime.webhook.webhooks     wrote response  {"webhook": "/validate-chaos-mesh-org-v1alpha1-stresschaos", "UID": "xxxx-xxxx-xxxx-xxxx", "allowed": true, "result": {}, "resultError": "got runtime.Object without object metadata: &Status{ListMeta:ListMeta{SelfLink:,ResourceVersion:,Continue:,RemainingItemCount:nil,

[2021-08-13 16:15] sterchelen opened #2223 "Impossible to cancel DNSChaos experiments"
## Bug Report

**What version of Kubernetes are you using?**
`v1.19.8`

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**
`kubectl delete -f dnschaos.yaml`

**What did you expect to see?**
DNSChaos destroyed

**What did you see instead?**
Impossible to cancel DNSChaos, see controller manager output bellow:
[code]

**Output of chaosctl**

Didn't run as this is a DNSChaos an

[2021-08-14 08:52] fewdan commented on #2216
I don't understand your question too much. If my understanding is correct, this part should be no different from version 1.2.3?

[2021-08-14 08:53] fewdan commented on #2222
Can you use "kubectl logs controller-manager-xxx -n your-namespace" to see the log? You can look at what happened during the run that caused this problem.

[2021-08-14 09:41] fewdan commented on #2223
Did the DNS server restart? Can you provide more logs?

[2021-08-14 15:08] WangXiangUSTC commented on #2223
Could you please check is there any error occurred in chaos-daemon's log?

[2021-08-14 16:07] ReigenDing commented on #2163
/assign

[2021-08-14 16:37] ReigenDing commented on #2163
/cc @STRRL Hi, I try to refactor this codebase checks with pr #2224. How can I run the test for it in local env?

[2021-08-15 20:14] sergioarmgpl commented on #2216
Well, the content doesn't appear on the page, is a clean page. @fewdan

[2021-08-16 02:14] STRRL commented on #2163
Hi @ReigenDing , thanks for your contribution.

It seems the integration test is unstable in PR #2224, I will make a retry.

You could just execute `make test` for unit test, it will install related tools automatically.

for integration test and script test, you could take a look on .github/workflows/integration_test.yml.

for e2e test, you could just execute `./hack/e2e.sh`

[2021-08-16 02:28] STRRL commented on #2216
Hi @sergioarmgpl, it seems that url works fine on my machine: https://chaos-mesh.org/docs/configure-development-environment/, :thinking:

Would you mind taking a look again? :heart:

[2021-08-16 02:41] sergioarmgpl commented on #2216
For sure @STRRL, for the version 2.0.0 the following menus in the website appear like the attached image(Just and edit option without content, apparently empty):
- Add New Chaos Experiment Type
- Extend Chaos Daemon interface
- https://chaos-mesh.org/docs/extend-chaosd

![image](https://user-images.githubusercontent.com/26422502/129504061-c8af12f3-e505-4325-b414-7588e7201dbf.png)

[2021-08-16 03:13] fewdan commented on #2216
@sergioarmgpl
Yes, we are still working on the content in this area, and it is blank for the time being.

[2021-08-16 03:25] ReigenDing commented on #2163
Got it, thanks.

[2021-08-16 03:59] ReigenDing commented on #2163
By the way. Could you release `k8s_dns_chaos` version or update image   `pingcap/coredns:latest`.Because there is bug `rpc nil response` with  `k8s_dns_chaso` version `0.2.2` and it has been fixed in newest commit.

[2021-08-16 04:01] tuxknight commented on #2186
it's more complicated to solve this problem when involving DevOps tools such as Argo-CD/helm to manage the deploy of chaos-mesh. Happy to do any testing if it would be helpful.

[2021-08-16 04:04] STRRL commented on #2163
do you mean https://github.com/chaos-mesh/k8s_dns_chaos/pull/17?

@WangXiangUSTC PTAL, do we need to release a bugfix version `0.2.1` for k8s_dns_chaos? :smile:

[2021-08-16 04:07] ReigenDing commented on #2163
Yep!

[2021-08-16 07:35] WangXiangUSTC commented on #2223
seems that duplicate with https://github.com/chaos-mesh/chaos-mesh/issues/1601, I will take a look

[2021-08-16 09:13] WangXiangUSTC commented on #2163
I release v0.2.1 for pingcap/coredns image just now

[2021-08-16 09:24] ReigenDing commented on #2163
Thanks！！I'll make one pr for updating the helm values.yaml later!  right?
https://github.com/chaos-mesh/chaos-mesh/blob/12acd0c293613e85dd53bc245d1247ad65e882c4/helm/chaos-mesh/values.yaml#L269

[2021-08-16 09:27] ReigenDing commented on #2163
Thanks!! I'll make one pr for updating helm values.yaml later!  right?
https://github.com/chaos-mesh/chaos-mesh/issues/2163#issuecomment-899354774

[2021-08-16 09:29] ReigenDing commented on #2163
Thanks!! I'll make one pr for updating helm values.yaml later!  right?
https://github.com/chaos-mesh/chaos-mesh/blob/12acd0c293613e85dd53bc245d1247ad65e882c4/helm/chaos-mesh/values.yaml#L269

[2021-08-16 14:44] WangXiangUSTC commented on #2163
You are right, thanks!

[2021-08-17 03:13] fewdan opened #2227 "Should chaos mesh support modifying chaos spec?"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Because of #1905 , the current chaos mesh does not support modifying the chaos spec.

**Describe the feature you'd like:**

I think it is necessary to modify the spec when running chaos. But will this cause any problems?

@YangKeao Any good ideas?

**Describe alternatives you've considered:**

**Teachability, D

[2021-08-17 03:22] fewdan opened #2228 "Should chaos mesh support predefined functions"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Should chaos mesh support predefined functions?

**Describe the feature you'd like:**

I don't know how to name this module. My thought is whether we can define a chaos in advance on the dashboard, and then wait to run it when we want to run it. Similar to the archive logic, it is equivalent to storing some cha

[2021-08-17 05:25] JuanPabloGarciaMonzon commented on #2198
I have worked with Chaos Mesh in the last semester it's a really interesting technologie, it would be such a great experience to be able to work in this issue and to colaborate with Chaos Mesh.

[2021-08-17 06:36] WangXiangUSTC commented on #2223
https://github.com/chaos-mesh/chaos-mesh/pull/2226, you can use `helm upgrade` with `--set dnsServer.image=pingcap/coredns:v0.2.1` to fix it.

[2021-08-17 07:06] sterchelen commented on #2223
@WangXiangUSTC coredns image upgraded and I confirm that it has resolved this issue 🎉

[2021-08-17 07:29] #2223 closed

[2021-08-17 07:30] WangXiangUSTC commented on #2223
OK, thanks for your feedback

[2021-08-17 08:15] STRRL opened #2229 "Improve workflow: show related chaos experiments and events"

[2021-08-17 08:28] STRRL commented on #2228
What's the difference between "archive" and "predefined chaos"?

[2021-08-17 08:56] fewdan commented on #2228
@STRRL
For "archive", chaos needs to be run (even if it is killed immediately), while "predefined chaos" just defines a yaml and waits for subsequent runs.

[2021-08-17 09:03] fewdan commented on #2208
Can you also provide the chaos-daemon log? Or see if there is any abnormal operation of chaos-daemon (for example, a restart has occurred)?

[2021-08-17 09:50] g1eny0ung opened #2231 "apiserver: adapting to the new utils"
After #2218, some new `utils` were introduced in the codebase, includes:

- common API error handler
- common `gin` related structs and functions, like `utils.Response`

There are still some packages that do not fully use the new utils. Need to be done in the future.

### Progress

- [ ] #2429

[2021-08-17 09:58] g1eny0ung opened #2232 "tests(apiserver, store): need to be enhanced"
After #2218, there still leave some Non-urgent problems with testing:

- Most of the tests in `apiserver` are `panic("implement me")`, so why do we need to test?
- The tests in `store` are full of repetitive code and meaningless tests, and this part needs to be rewritten if you want to have robust code

Need to be done in the future.

[2021-08-17 12:43] g1eny0ung opened #2233 "Proposal: run different CI depending on the modified files"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes, this proposal relates to the long-standing question of why our CI has to be run every time, even if just one `.md` file is modified.

**Describe the feature you'd like:**

Run tests based on the type of change files.

**Teachability, Documentation, Adoption, Migration Strategy:**

https://docs.github.com/e

[2021-08-17 12:44] g1eny0ung commented on #2233
@chaos-mesh/maintainers @chaos-mesh/committers Looking forward to your views.

[2021-08-17 19:08] CIPHERTron commented on #1963
Seems like this would be a great enhancement 😁
I would love to work on it 🚀

[2021-08-18 00:08] #1482 closed

[2021-08-18 02:50] #2091 closed

[2021-08-18 08:54] fewdan opened #2236 "should chaos-mesh upgrade the dependencies of k8s"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Is there a plan to upgrade the dependencies of k8s anytime soon? Seems that it uses a very old version

Proposed by Spiros Oikonomakis  in slack.

![image](https://user-images.githubusercontent.com/16437100/129869024-3bc24077-3912-478b-8f01-53ae00be8ef0.png)

[2021-08-18 12:42] wu-sheng opened #2237 "Add skywalking-eyes for license header check."
## Feature Request

**Is your feature request related to a problem? Please describe:**

This is a general tool for license check.

**Describe the feature you'd like:**

I am asking whether someone could add [skywalking-eyes](https://github.com/apache/skywalking-eyes) as a GHA in the ChaosMesh repo. It provides a very easy way to check license header, and directly tag them on the PR.
Also, in the n

[2021-08-18 13:06] agilob commented on #2100
Will this make chaos-mesh more disposable on a single cluster? Currently it's not possible to install, uninstall and install again it creates cluster wide objects:

│ imported into the current release: invalid ownership metadata; annotation validation error: key \"meta.helm.sh/release-namespace\" must equal \"chaos-mesh\": current value is \"cranky-visvesvaraya-08\""}

validating and mutating webh

[2021-08-18 22:11] anonymousr007 commented on #2198
Hi @STRRL ,I want to work in this issue :)

[2021-08-19 02:14] #2054 closed

[2021-08-19 03:51] g1eny0ung opened #2238 "dashboard: restructure packages in pkg/"
As https://github.com/chaos-mesh/chaos-mesh/pull/2218#issuecomment-900781325 described, we will open a new PR to solve this problem.

[2021-08-19 04:07] milasuperstar commented on #2233
👏 agreed. Ridiculous that when people fix a typo and the whole CI is run...

[2021-08-19 08:04] YangKeao commented on #1963
If you need any help while reading the `Makefile`, feel free to contact me.

The wild usage of `template` in `Makefile` has made it a little hard to understand.

[2021-08-19 10:29] YangKeao commented on #1736
I have run the e2e-test on Cent OS 7 with kernel 3.10.0-514, and it seems that everything works well. It could be a great minimum version.

The 3.10.0-514 is theoretically the oldest version which supports Docker (and other container runtime) if you want to use `overlayfs` storage engine, according to [the document of docker](https://docs.docker.com/storage/storagedriver/overlayfs-driver/). I don'

[2021-08-19 11:08] CIPHERTron commented on #1963
Yeah, the `Makefile` is slightly perplexing but I'll reach out to you in case of any queries. Thank you @YangKeao 🙌🏻

[2021-08-20 00:08] #1756 closed

[2021-08-20 00:08] #1751 closed

[2021-08-20 05:07] YangKeao commented on #2146
I will work on this. `go fmt` has different behavior after upgrading to `1.17` :cry:

[2021-08-20 06:01] STRRL commented on #2100
No.

I think the lack of documents about uninstalling Chaos Mesh is the reason for hard of uninstall/reinstall Chaos Mesh.

I would raise an issue for tracing that.

[2021-08-20 08:47] fewdan commented on #2200
Add ProgressChaos:
    we can kill the specified progress in the container.

[2021-08-20 08:50] g1eny0ung commented on #2227
After our @chaos-mesh/maintainers @chaos-mesh/committers discussion,  **TL;DR, even though we used to support this feature, we have decided not to support it for now.**

In general, the scope of allowed changes is not well defined. Should we allow users to change all the features? Obviously not, if you update the name of chaos, you create new chaos, or if we change the action of a NetworkChaos, it

[2021-08-21 20:49] Cerebus opened #2247 "Support for multiple pod networks"
## Feature Request

Kubernetes can have multiple data planes connecting pods with multiple interfaces (multiple CNIs or instances of a CNI can run in parallel).   Each data plane connects to a pod as an additional interface (eth1 &etc).  It would be great to be able to apply network chaos on these networks.

[2021-08-22 07:28] spirosoik commented on #2236
@fewdan assign this to me

[2021-08-23 02:35] WangXiangUSTC commented on #2247
So maybe we need to add a config for the network interface, does this meet your requirement？

[2021-08-23 11:09] Muscule commented on #1516
up

[2021-08-23 13:05] Cerebus commented on #2247
Yes, as long as the experiment doesn't fail if the interface doesn't exist in a Pod.  The number of interfaces may vary across pods even in the same app.

Configuring by qdisc by CIDR might be useful in addition (but not as a replacement).  Again, no failure if a selected Pod doesn't have an interface in that range.

[2021-08-23 15:03] Cerebus commented on #2247
Oh, and it should work w/ containerd.  Litmus experiments in this area rely on pumba, but pumba + containerd it giving me heartache.

[2021-08-24 01:45] WangXiangUSTC commented on #2247
Why pumba + containerd giving you heartache?

[2021-08-24 02:00] STRRL opened #2248 "borken GitHub Action CI: ci/pull(test)"
failed CI: https://github.com/chaos-mesh/chaos-mesh/pull/2193/checks?check_run_id=3406652575

It seems the download URL of kubebuilder has been broken, I am going to fix that.

[2021-08-24 03:59] STRRL commented on #2248
ref: https://github.com/kubernetes-sigs/kubebuilder/issues/2311#issuecomment-903940052

[2021-08-24 05:14] YangKeao commented on #2247
Because `Pumba` is chaos testing tool for Docker :smile_cat:

[2021-08-24 06:52] #2248 closed

[2021-08-24 11:04] #2179 closed

[2021-08-26 02:50] STRRL opened #2253 "refactoring: call DeepCopy* Methods for v1alpha1.AllKinds()"
We have registered all the chaos into one global map, at https://github.com/chaos-mesh/chaos-mesh/blob/f728fbf63559c8029e0adedf20fba83e2816b419/api/v1alpha1/kinds.go

so we could mapping `Kind` name to the struct by `v1alpha1.AllKinds()[<name-of-kind>]`.

But I find that some usage of is not so correct, we usually forget to `DeepCopy` that struct, and the data of the "previous object" will pollute

[2021-08-26 13:46] #2253 closed, assigned to STRRL

[2021-08-26 16:38] leoncard opened #2256 "Migration of PodChaos and DNSChaos to v2.0.1"
## Bug Report

**What version of Kubernetes are you using?**
1.19.1

**What version of Chaos Mesh are you using?**
2.0.1

**What did you do?**
- Downloaded https://mirrors.chaos-mesh.org/v2.0.0/schedule-migration.tar.gz
- Migrated tests from version v1.1.2 to version v2 using `bash migrate -e`
- Upgraded the CRDs to version 2.0.1. Version 1.1.2 CRDs were completely removed before v2.0.1 were insta

[2021-08-27 04:04] YangKeao opened #2257 "Upload build-env and dev-env to the ghcr.io"
## Feature Request

This feature can be split into several things:

- [x] Support override image registry and project in `Makefile` https://github.com/chaos-mesh/chaos-mesh/pull/2250
- [x] Pull these image from the `ghcr.io` rather than building them from scratch by default #2277
- [x] <del>Run CI without building `ghcr.io` if the specific label is not set</del> #2277
- [x] Automatically upload la

[2021-08-27 08:40] STRRL opened #2259 "Workflow: easily to send HTTP reqeust in task node"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

Workflow provides `Task` node that could let us create any kind of workload. But it is not so easy to configure the `Task` manually.

So I want that feature: we could create `Task` node which sends HTTP requests on Chaos Dashboard without hand-write shell scripts.

Cha