[2020-04-29 15:11] Yisaer commented on #457
Feel free to reopen this issue if you have any question.

[2020-04-29 15:11] #457 closed

[2020-04-29 15:15] HongChenTW commented on #457
Thanks for your explanation.

[2020-04-29 15:16] 5kbpers commented on #458
I guess all the persistent states (data in the disk) could be saved in a shared volume and then we could re-mount the shared volume to recover those states.

And shutdown a node may also make sense to me if we can ensure there is only one pod on the target node (because we may only want to power-off a pod).

[2020-04-29 15:20] 5kbpers commented on #458
I don't know if it is possible to destroy and re-create a container without destroying the pod. 🤣

[2020-04-29 23:07] yeya24 commented on #450
I agree that scheduling logic is complex. But we still need to fix this in the scheduling layer, I guess we don't have other options, right?

I am worried about one case that if one experiment runs at `cron 10s` and we pause it at 9s, then resume it at 9.5s. What about this case? Do you need to resume the current round?

[2020-04-30 03:00] Yisaer commented on #458
We already have Container kill chaos, but I dont' understand the relation between container chaos and power-of chaos.

[2020-04-30 07:51] wwjgit commented on #446
@cwen0 I see. And thanks a lot for the response.

[2020-04-30 16:35] yeya24 commented on #344
@moonspirit Hi, do you mind updating us on the status? Is this issue fixed or still reproducible? If not, I think we can close it.

[2020-04-30 16:43] yeya24 commented on #406
So what's the content of the template `chaosfs-configmap`? It is a configmap which is reusable for all io chaos?

[2020-04-30 16:56] yeya24 commented on #406
Thoughts? @cwen0 @Yisaer @fewdan

[2020-04-30 17:42] yeya24 commented on #406
Do we still need the template? Maybe we can drop the config map by introducing some annotations.

For example:

[code]

The basic idea is similar to the template approach, but since the template is almost the same, maybe it is not necessary

[2020-04-30 20:23] yeya24 commented on #433
Note that since stress chaos is merged, we want to have e2e cases for CPU stress and memory stress as well

[2020-05-03 00:11] #114 closed

[2020-05-03 07:04] HillebrandtOldenberg opened #462 "Make chaos-mesh helm repository"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I don't want to `git clone https://github.com/pingcap/chaos-mesh.git` in order to make Chaos Mesh work. I want to be able to do it over the internet.

**Describe the feature you'd like:**

Make https://github.com/pingcap/chaos-mesh/tree/master/helm/chaos-mesh a [chart repo](https://helm.sh/docs/topics/chart_rep

[2020-05-03 14:18] fewdan commented on #462
@HillebrandtOldenberg
Thanks for your suggestion, we will add this in the future.

[2020-05-06 00:20] #263 closed

[2020-05-06 00:20] #261 closed

[2020-05-06 00:20] #262 closed

[2020-05-06 00:20] #260 closed

[2020-05-06 03:49] cwen0 commented on #406
We may inject the other sidecar container in the future. So I think the template is necessary.

[2020-05-06 10:31] HillebrandtOldenberg opened #463 "iochaos-controller timed out waiting for the condition"
## Bug Report

**What version of Kubernetes are you using?**

Client & server: v1.18.0

**What did you do?**

Followed the [manual](https://github.com/pingcap/chaos-mesh/wiki/Deploy-Chaos-Mesh) and then:

1. `kubectl create ns chaos-testing`
2. `kubectl label ns chaos-testing admission-webhook=enabled`
3. `kubectl annotate ns app-ns admission-webhook.pingcap.com/init-request=chaosfs-etcd`
4. `kube

[2020-05-06 10:38] Yisaer opened #464 "[Fail] [Basic] [TimeChaos] [TimeSkew] [It] [Schedule] e2e is flaky"
## Bug Report

Error happens in e2e:
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/88/pipeline

[2020-05-06 12:29] 5kbpers commented on #458
Some resources like page cache, TCP connections, etc. would not be reclaimed when a node was power off accidentally.

I think it could cover more abnormal situations.

[2020-05-06 13:57] zhouqiang-cl commented on #463
@fewdan is working on this issue

[2020-05-06 14:15] HillebrandtOldenberg commented on #463
Oh, okay, thanks for letting me know! Thanks for all your work!

[2020-05-06 14:15] #463 closed

[2020-05-06 14:49] HillebrandtOldenberg commented on #463
@fewdan Oh yeah, my bad, wrote it badly in the issue, executed it correctly :)

[2020-05-06 15:57] yeya24 commented on #406
What is the content of the template? Is it another configmap? Can you give an example?

[2020-05-06 16:15] yeya24 opened #465 "Use helm3 in E2E test"
## Feature Request

Now in the e2e test, we are using helm 2.9.1 and k8s 1.12.10 as the default. Because of some API compatibility problems, helm2 doesn't work well with k8s version gt 1.16. So we have such code in the script.

[code]

IMO we can use helm3 as the default, then we can simplify the process.

[2020-05-06 16:18] yeya24 commented on #465
Also we are using helm3 as a default in https://github.com/pingcap/chaos-mesh/blob/master/install.sh. It is good to be compatible

[2020-05-06 16:48] #422 closed

[2020-05-07 13:06] cwen0 commented on #344
I think we can close it.

[2020-05-07 13:06] #344 closed

[2020-05-07 17:25] yeya24 commented on #423
Since the previous chaos-dashboard is removed, we can close this issue now.

[2020-05-07 17:25] #423 closed

[2020-05-07 17:26] yeya24 commented on #405
Close this since it is already done in #421

[2020-05-07 17:26] #405 closed

[2020-05-07 20:45] yeya24 opened #468 "Complete the guide about how to observe the result of stress chaos"
## Feature Request

Now we already have a document about stress chaos https://github.com/pingcap/chaos-mesh/blob/master/doc/stress_chaos.md, however, this document doesn't tell much about how to observe the result of CPU stress and Memory stress.

It would be much clear to users if we can enrich the document with the observation part.

[2020-05-07 21:32] yeya24 commented on #464
Fixed in #449

[2020-05-07 21:33] yeya24 commented on #446
Hi @wwjgit , any updates on this? Is this problem still reproducible to you?

[2020-05-07 22:34] vincent178 commented on #193
/pick-up-challenge

[2020-05-08 13:55] yeya24 commented on #464
Close this since #449 is merged.

Feel free to reopen it if this problem still exists

[2020-05-08 13:55] #464 closed

[2020-05-08 17:55] yeya24 opened #474 "Flaky e2e test pod failure"
## Bug Report

See https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/108/

[2020-05-08 18:47] yeya24 commented on #433
Maybe we can combine `Duration` case and `Scheduler` case together. The test cases are very similar. TBH, I think it is okay to have just `Scheduler` case. WDYT @Yisaer

[2020-05-08 19:16] yeya24 commented on #474
I am not very sure about the root cause of this. But as @Yisaer said, we can try to use the e2e test image instead of `nginx:latest` to prevent pulling image from the Internet.

If this is still reproducible, maybe there is something wrong with pod failure.

[2020-05-08 20:49] yeya24 opened #475 "Flaky e2e io delay test"
## Bug Report

See https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/110/pipeline/61

[2020-05-08 21:43] 2020testuser opened #477 "Non-admin user using Chaos-Mesh"
Hi,
Not sure whether the below is really a bug or a feature  request. Please move accordingly if it is not a bug.
Do I need to be a Kubernetes admin user to install Chaos mesh? I'm a non-admin user and wondering whether I can install Chaos Mesh in my own namespace (where I have full access)? Please let me know if this functionality is already available or there is an alternate way to install Chaos

[2020-05-09 00:03] yeya24 commented on #450
I am on it

[2020-05-09 01:47] yeya24 opened #480 "Flaky test ptrace"
## Bug Report

See https://github.com/pingcap/chaos-mesh/pull/478/checks?check_run_id=658150315

[code]

[2020-05-09 01:47] Yisaer commented on #433
It's ok for me to combine the `Schedule`/ `Duration` / `Pause` into one ginkgo item to reduce the duplicated preparing work. @yeya24

[2020-05-09 02:48] huangwei2013 commented on #144
Found what chaos-cpu/memory support

    --vm
    --vm-keep
    --vm-bytes
cpu:
    --cpu
    --cpu-load

What if expect more function of stress-ng？ Is there someway to specify more stress-ng options？

[2020-05-09 02:55] cwen0 commented on #144
@huangwei2013 You can define plenty of stressors by `StressngStresssors`  field, https://github.com/pingcap/chaos-mesh/blob/master/api/v1alpha1/stresschaos_types.go#L63-L70

[2020-05-09 03:07] zhouqiang-cl commented on #477
@cwen0 @Yisaer PTAL

[2020-05-09 03:35] huangwei2013 commented on #144
@cwen0  I have read the code and understand this solution. Just to confirm is there some “cheap way” to make use of more stress-ng options

[2020-05-09 05:20] Yisaer commented on #474
After #476 is merged, If pod failure e2e become stable. we would close this issue.

[2020-05-09 05:37] cwen0 commented on #144
@huangwei2013 Sorry, at present, we only support use this way to make use of more stress-ng options.

[2020-05-09 05:44] cwen0 commented on #477
@2020testuser Sorry, We need to use a Kubernetes admin user to install Chaos Mesh.

[2020-05-09 06:46] Yisaer commented on #477
Currently chaos-mesh required ClusterScope rbac. I think Chaos-mesh also could be running in namespace scoped rbac and Kubernetes admin user is not necessary.

[2020-05-09 12:20] huangwei2013 commented on #144
@cwen0  what about make extend as this format：

Of course it is no  strict enough but more powerful

[2020-05-09 16:32] 2020testuser commented on #477
Thanks! Want to make  sure that non-admin users cannot install it. Will wait for Chaos Mesh Cloud.

[2020-05-09 18:45] fewdan opened #482 "Record chaos events to dbstore"
## Feature Request

In order to complete chaos-server, we need to store relevant information. We need to watch all chaos object and record chaos events to DB store

[2020-05-09 18:48] fewdan opened #483 "chaos server basic API"
## Feature Request

In order to implement chaos server, there are 2 basic APIs.
1. /common/pods/all: Get all pods
2. /common/namespaces/all: Get all namespaces

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-09 18:52] fewdan opened #484 "[API] Get the state of current experiments"
## Feature Request

/experiments/state: Get the state of current experiments

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-09 18:54] fewdan opened #485 "[API] Create new chaos experiment by API"
## Feature Request

1. /experiments/new: Create the experiment

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-09 18:57] fewdan opened #486 "[API] get the list of events"
## Feature Request

/events: Get the list of events.

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-10 14:28] cwen0 commented on #144
@AngleNet How do you think?

[2020-05-11 06:46] Yisaer opened #487 "Support namespace scoped rbac chaos-mesh"
## Description

Currently Chaos-mesh required ClusterScope rbac to run in Kubernetes. However, in some strict environments, we need chaos-mesh run as a namespace-scoped rbac. We want to support namespace scoped rbac chaos-mesh

Close #477

## Score

* 300

## Mentor(s)

* [@yisaer](https://github.com/Yisaer)

Contact the mentors: **#tidb-challenge-program** channel in [TiDB-Operator Community](htt

[2020-05-11 06:50] Yisaer opened #488 "Provide more information after e2e test"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, when e2e test failed, we can't get lots useful information excepting running e2e case locally. This issue is to track the improvement of the e2e test to help developers find error online after e2e test finished.

[2020-05-11 07:18] fewdan opened #489 "[API] get the list of archives"
## Feature Request

/archives/all: Get the list of archives

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-11 07:18] fewdan opened #490 "[API] get report of archives"
## Feature Request

/archives/report

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-11 07:19] fewdan opened #491 "[API] Get the state of history experiments"
## Feature Request

/experiments/history/state: Get the state of history experiments

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-11 07:20] fewdan opened #492 "[API] Get the list of the experiments"
## Feature Request

/experiments/all: Get the list of the experiments

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-11 07:21] fewdan opened #493 "[API] Get detailed information about the given experiment"
## Feature Request

/experiments/detail: Get detailed information about the given experiment

See [here](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#trial) for details

[2020-05-11 19:44] yeya24 opened #494 "Set experiment start time twice"
## Bug Report

In the apply phase of [common controller](https://github.com/pingcap/chaos-mesh/blob/956e7c2ce10ad5ec7324ec311a767e11fdec1137/controllers/common/types.go#L112) and [two-phase controller](https://github.com/pingcap/chaos-mesh/blob/956e7c2ce10ad5ec7324ec311a767e11fdec1137/controllers/twophase/types.go#L180), we will set the experiment start time to `time.Now()` and phase to `Running`.

[2020-05-11 20:06] yeya24 opened #495 "Add event recorder to kernel chaos controller"
## Feature Request

Kernel chaos controller should support event recorder as well just like other controllers.

[2020-05-11 20:45] yeya24 commented on #148
Still valid. But kind of low priority.

[2020-05-12 02:59] yeya24 commented on #355
Assign this to myself since this can be implemented as part of #406

[2020-05-12 03:00] yeya24 commented on #355
/pick-up-challenge

[2020-05-12 03:30] #494 closed

[2020-05-12 08:34] Gallardot commented on #480
maybe the same things
see https://github.com/pingcap/chaos-mesh/pull/461/checks?check_run_id=666279065

[code]

[2020-05-12 09:16] cwen0 opened #498 "Archive deleted experiments and record it to DB store"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We need to record the deleted experiments, and these records will be used by chaos-dashboard

[2020-05-12 12:47] shonge commented on #487
/pick-up-challenge

[2020-05-12 13:18] cwen0 opened #500 "Support to trigger experiment by the special event"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, we support to trigger experiments base on time scheduler, but sometimes we also need to trigger experiments by the special event, for example, we can trigger experiments by other systems

[2020-05-12 13:25] cwen0 opened #501 "Support setting only duration field and not setting cron"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, we both require to set `cron` and `duration` fields when to define chaos experiment, but sometimes, we also just want to set `duration` and not setting `cron`. For example, we just want to inject chaos action once and last a specific time.

[2020-05-12 22:58] yeya24 commented on #487
@Yisaer Is this issue conflict with https://github.com/pingcap/chaos-mesh/issues/355?

[2020-05-12 23:14] yeya24 opened #503 "New info API for chaosfs sidecar"
## Feature Request

The current chaosfs sidecar is just like a black box and it is hard to know its current status. The only way I can come up with is to check its logs. However, this is hard to achieve in E2E test.

Now many flaky IO E2E tests happen because it is hard to know whether the chaosfs recovers the fault or not. It would be nice to have such an `Info` grpc API to get the current status

[2020-05-13 02:56] Yisaer commented on #487
I don't think so. If the chaos-mesh only have the namespaced scope rbac, it should watch the configmaps in the certain namespace with certain labels.

[2020-05-13 02:59] yeya24 commented on #487
Thanks for the clarification. Make sense. So we need something like a `--mode` flag to specify whether chaos mesh is clusterscoped?

[2020-05-13 03:01] Yisaer commented on #487
@yeya24  Exactly.

[2020-05-13 04:25] cwen0 commented on #431
@rbtcollins We have support helm-less install at #466 , So we can close this issue.

[2020-05-13 04:25] #431 closed

[2020-05-13 04:25] pavin commented on #430
I have the same problem.
While following CRDLoadExampleI, I got the below message.

==============
Failure executing: POST at: https://kubernetes.docker.internal:6443/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions. Message: XXXX  in version "v1alpha2" cannot be handled as a CustomResourceDefinition:

[2020-05-13 05:40] rbtcollins commented on #431
Thank you

[2020-05-13 05:45] shonge commented on #487
/give-up-challenge

[2020-05-13 05:46] rbtcollins commented on #431
Rather than using --dry-run, I suggest using 'helm template' which will work consulting what is deployed in a k8s cluster

[2020-05-13 06:11] cwen0 commented on #431
@rbtcollins Thanks for your suggestion.

[2020-05-13 06:29] yujunz commented on #227
Do you have concrete issues for this point? @cwen0

This is done.

[2020-05-13 06:35] cwen0 commented on #431
@rbtcollins #506

[2020-05-13 11:32] Yisaer commented on #503
Good idea. We can also sync the sidecar information into IOChaos Status.

[2020-05-13 14:18] yeya24 commented on #503
IMO the IO chaos status should be separated from the sidecar status. They are two different entities.

[2020-05-13 23:13] yeya24 commented on #491
This is not clear to me. What is the difference between `archive` and `history experiments`? I think they are the same.

[2020-05-14 00:45] yeya24 commented on #503
Actually what I need is just an API to check whether the chaosfs is injected or not and I don't care about the details of injections. So this API only returns a bool value. Is it reasonable? @cwen0 @Yisaer WDYT?

[2020-05-14 02:12] #373 closed

[2020-05-14 05:10] yeya24 opened #509 "Provide a script to install and generate proto files"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There is no such file in Chaos Mesh AFAIK. It would be good if there is one for developers.

[2020-05-14 05:14] Yisaer commented on #503
That's ok to me.

[2020-05-14 05:15] Yisaer opened #510 "Support for release chart resources in CI."
## Feature Request

**Is your feature request related to a problem? Please describe:**

We should add ci action to support chaos mesh release chart resources when chaos mesh released the new version.

[2020-05-15 13:22] #495 closed

[2020-05-15 14:17] yeya24 opened #516 "Add markdown link checker in CI"
## Feature Request

**Is your feature request related to a problem? Please describe:**

From https://github.com/pingcap/chaos-mesh/pull/505#discussion_r425575404, it seems there might be some dead links in our docs.

It would be very nice to have some markdown link check tools like [liche](https://github.com/raviqqe/liche) in our CI to help detect these dead links.

**Describe the feature you'd li

[2020-05-15 23:26] yeya24 commented on #492
Is the `experiment_type` the same as `kind`? If so, maybe it is better to rename this param to `kind` to be more unified among APIs.

[2020-05-18 04:21] #447 closed

[2020-05-18 06:30] #483 closed

[2020-05-18 08:09] cwen0 opened #520 "[API] Update chaos experiment by API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

1. /experiments/edit: Edit the experiment

We need to create chaos experiment by API, [API document](https://app.swaggerhub.com/apis/ChaosMesh/chaos-server/1.0.0#/experiment/patch_experiments_edit)

[2020-05-18 08:48] fewdan commented on #492
@yeya24 I think yes, it can be changed to "kind".

[2020-05-18 13:31] #503 closed

[2020-05-18 13:58] AngleNet commented on #144
@cwen0 Sorry for the late reply.  I think defining another options for each stressor does not have big advantages over defining one `StressngStressors`. We should extend stressor spec with more powerful features via our own definition of stressor not from `stress-ng`.

[2020-05-18 14:23] #484 closed

[2020-05-18 15:04] yeya24 commented on #509
Part of this is done #519

[2020-05-18 18:47] yeya24 opened #521 "Rename status field"
Run the command `kubectl get timechaos -o yaml`, I found that the status field name is `podChaos`. This is not appropriate here. Maybe it is better to be `podRecord` to be consistent with the new chaos server API.

[code]

[2020-05-18 19:26] yeya24 opened #522 "[API] Delete the running experiment"
## Feature Request

`DELETE /experiments/:kind/:ns/:name`

Delete a current experiment specified by its namespace and name.

[2020-05-18 20:55] #482 closed

[2020-05-19 03:44] #498 closed

[2020-05-19 11:40] #406 closed

[2020-05-19 23:04] 2020testuser commented on #477
Closing as go confirmation. Thanks!

[2020-05-19 23:04] #477 closed

[2020-05-20 14:37] yeya24 commented on #475
Seems E2E is much more stable recently. Let's keep this issue open for a week and see if that still reproducible.

[2020-05-20 15:56] #521 closed

[2020-05-20 20:05] #492 closed

[2020-05-21 12:28] jungle-zh opened #533 "io-chaos experiment error : spec.configName: Required value"
## Bug Report

**What version of Kubernetes are you using?**

1.18.2
**What did you do?**

i was doing the experiment in  chaos-mesh/example/etcd
my steps:
1.kubectl  apply -f etcd-configmap.yaml
2  kubectl annotate ns chaos-testing admission-webhook.pingcap.com/init-request=chaosfs-etcd
3 kubectl  apply -f etcd.yaml
4  kubectl apply -f etcd-iochaos.yaml
**What did you expect to see?**
   the etcd

[2020-05-21 12:51] jungle-zh commented on #533
my fault ,I forgot to update the crd

[2020-05-21 12:51] #533 closed

[2020-05-21 13:24] yeya24 commented on #533
@jungle-zh Sorry about that. The new IO Chaos implementation is done but I haven't finished its doc.

Note that if you are using the latest master, in order to use IO Chaos, you must apply the configmap `manifests/sidecar-template.yaml` to the same namespace with your chaos mesh controller.

[2020-05-21 13:58] cosven opened #534 "iochaos-controller timed out waiting for the condition"
## Bug Report

**What version of Kubernetes are you using?**

[code]

chaos-mesh version: I have tried both release-8.0 and master.

**What did you do?**

Same step as #463 said.
I changed namespace `app-ns` to `chaos-testing` in it's third step.

[code]

**What did you expect to see?**
1. iochaos io-delay-example
[code]

[code]

2. there is no sidecar container in etcd pod
[code]

**What did you

[2020-05-21 15:19] yeya24 commented on #485
There are still four kinds of chaos left. Let's split the tasks.

- [ ] TimeChaos
- [ ] IOChaos (Tricky, since this relates to io chaos configuration, but we can leave that part later)
- [ ] KernelChaos (Tricky)
- [ ] StressChaos

[2020-05-21 15:53] cosven commented on #534
Maybe I should apply https://github.com/pingcap/chaos-mesh/blob/master/manifests/sidecar-template.yaml first.

Etcd examples on release-0.8 branch works well will chaos-mesh release-0.8.

[2020-05-21 15:53] #534 closed

[2020-05-21 19:24] yeya24 opened #535 "Kernel chaos nil pointer panic"
## Bug Report

Version

[code]

Error log in Chaos Mesh controller

[code]

Reproduce steps:

1. create chaos mesh

[code]

2. create etcd example

[code]

3. create kernel chaos

[code]

[2020-05-22 07:00] cwen0 opened #539 "Pause chaos experiment by API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We need to support pause chaos experiment by API .

Router: /api/experiments/pause/{kind}/{ns}/{name}

[2020-05-22 08:27] #535 closed

[2020-05-22 12:49] #485 closed

[2020-05-22 14:26] yeya24 commented on #355
Fixed by #502

[2020-05-22 14:26] #355 closed

[2020-05-22 14:38] yeya24 commented on #474
https://internal.pingcap.net/idc-jenkins/blue/organizations/jenkins/chaos-mesh-e2e/detail/chaos-mesh-e2e/228/pipeline/61 This happens again. We should revisit the pod failure code and check the root cause.

[code]

[2020-05-22 14:39] #522 closed

[2020-05-22 14:40] yeya24 commented on #474
PTAL @Yisaer @cwen0  I don't think this is the problem of our E2E test code.

[2020-05-22 19:19] yeya24 opened #543 "Check chaosfs container exist before injecting IO fault"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This problem occurred here #534.

When Chaos Mesh controller tries to inject IO Chaos to the chaosfs sidecar, it just creates a gRPC client to send requests.

However, if the sidecar is not injected in the pod, then this request will always fail and timeout finally.
It is better to have a check mechanism first

[2020-05-22 19:22] yeya24 opened #544 "Support pause chaos for a certain duration"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now Chaos Mesh supports pausing chaos by annotation. However, the pause state is continued forever unless the user removes that annotation.

**Describe the feature you'd like:**

It would be good to support pausing a certain time duration. After that duration, the chaos resumes. The command should be like:

[co

[2020-05-23 00:43] yeya24 commented on #500
Can you explain this request in detail? What is the meaning of `trigger experiments by other systems`? Now Chaos Mesh supports the creation API so I assume we can already achieve this?

[2020-05-23 20:37] yeya24 opened #547 "Injection config is not cleaned up after being deleted"
## Bug Report

The bug is here  https://github.com/pingcap/chaos-mesh/blob/e1f0d1d8b6d996c9314d35fbd008bd880d2dfbd1/cmd/controller-manager/main.go#L275.

If the previous config template is deleted and there is no new injection config, we should set the current injection configs to nil instead of continuing.

[2020-05-24 01:47] yujunz commented on #362
It may worth try some tips and tricks from https://medium.com/windmill-engineering/tips-tricks-for-making-your-golang-container-builds-10x-faster-4cc618a43827 for containerized build of go apps.

[2020-05-24 15:38] #539 closed

[2020-05-25 03:50] #547 closed

[2020-05-25 04:12] #486 closed

[2020-05-25 05:05] yeya24 opened #550 "Support licence check in CI"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Automatically check boiler template in CI. An example is https://github.com/pingcap/tidb-operator/blob/c09f6189840917e6e8c9b7c3e75cccd41ef28b5d/hack/verify-boilerplate.sh

[2020-05-25 07:48] cwen0 opened #552 "Support ArchiveTTL config to GC archive experiments and events"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, we support archive experiments and events, but if it lasts for a long time, the data will become a lot and the old data is meaningless. I think we can support using `archiveTTL` config to control the retention time of archive experiments and events.

[2020-05-25 13:30] Yisaer commented on #474
After https://github.com/pingcap/chaos-mesh/issues/488 is done, we will have logs for the controller-manager after e2e test. Then it would be much clear that why the error happen. @yeya24

[2020-05-25 16:27] yeya24 commented on #552
I think we need two separate flags to control TTL of archives and events.

[2020-05-25 19:51] yeya24 opened #557 "Archive deleted experiments multiple times"
## Bug Report

[code]

Seems the same experiment is stored in the DB several times.

![image](https://user-images.githubusercontent.com/25150124/82839967-1060f600-9e9f-11ea-94aa-ec7a3bd69f63.png)

The cause is that the cleanup of chaos is blocked by the finalized. But since the chaos daemon network problem, the recovery is always failing. But we stored the archive several times.

[code]

[2020-05-26 02:46] cwen0 commented on #557
@yeya24 Can we determine whether the experiment is actually deleted?

[2020-05-26 02:56] yeya24 commented on #557
I am not sure. Maybe @Yisaer knows better.

But IMO we should deal with the finalized problem indeed. If the injected pods are deleted, we should cleanup the chaos.

You can see there are no pods, but all the time chaos is left.

![image](https://user-images.githubusercontent.com/25150124/82855996-e5949300-9eda-11ea-8aff-e0bf4f058d33.png)

[2020-05-26 07:36] #148 closed

[2020-05-26 15:37] yeya24 opened #560 "Support nodeSelector in selector spec"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There is already such a field to filter nodes.
https://github.com/pingcap/chaos-mesh/blob/751ffa3f11806562012ca0f186fffdc92458f85d/api/v1alpha1/common_types.go#L50

However, this field is not used in the code. We should add the implementation to the filter logic

[2020-05-27 13:52] #489 closed

[2020-05-28 00:31] #307 closed

[2020-05-28 00:31] #335 closed

[2020-05-28 03:17] #450 closed

[2020-05-28 11:37] zhanghuidinah opened #569 "Support --grace-period config for pod-kill"
## Feature Request

**Is your feature request related to a problem? Please describe:**
[code]
- for network disconnect，--grace-period=0
- for pod or deploy abnorma by itself, --grace-period>0

[2020-05-29 04:36] yeya24 opened #571 "CI: invalid makefile target goimports"
## Bug Report

See https://github.com/pingcap/chaos-mesh/pull/565/checks?check_run_id=719195154.

We are running `make goimports` here but actually we only have `groupimports` in the makefile https://github.com/pingcap/chaos-mesh/blob/5ead37a9e03827e0e1c9e8a40c6e81210dcd8e95/Makefile#L150

[code]

[2020-05-29 05:14] #493 closed

[2020-05-30 00:21] #179 closed

[2020-05-30 03:02] #362 closed

[2020-05-30 12:47] #571 closed

[2020-06-01 00:22] #327 closed

[2020-06-01 00:22] #341 closed

[2020-06-01 00:22] #243 closed

[2020-06-01 00:54] yeya24 commented on #341
I think this is done since we already have a pod selector.

[2020-06-01 11:43] cwen0 opened #579 "Panic on "/api/experiments/detail/{kind}/{namespace}/{name}""
## Bug Report

**What version of Kubernetes are you using?**

GET "/api/experiments/detail/{kind}/{namespace}/{name}"

[code]

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-06-01 13:36] #579 closed

[2020-06-01 13:57] #550 closed

[2020-06-01 14:08] kapilbalwani opened #581 "pod-kill not working"
2020-06-01T14:01:19.145Z        ERROR   controllers.PodChaos    failed to apply chaos action    {"reconciler": "podchaos", "action": "pod-kill", "error": "no pod is selected"}
github.com/go-logr/zapr.(*zapLogger).Error
        /go/pkg/mod/github.com/go-logr/zapr@v0.1.0/zapr.go:128
github.com/pingcap/chaos-mesh/controllers/twophase.applyAction
        /src/controllers/twophase/types.go:187
github.c

[2020-06-01 14:19] cwen0 commented on #581
@kapilbalwani Hi, Can you provide your chaos config? Judging from this log, no pod was selected, You can check the definition of selectors and make sure that the target pods met the selectors defined in chaos experiment.

[2020-06-03 00:22] #269 closed

[2020-06-03 05:01] #520 closed

[2020-06-04 03:09] AndyXia23 opened #589 "Chaos-controller is crashloopbackoff after old IO configmap is applied"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"archive", BuildDate:"1970-01-01T00:00:00Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"$Form

[2020-06-04 03:12] yeya24 commented on #589
The IO chaos is reimplemented and the new document is here https://github.com/pingcap/chaos-mesh/pull/545.

If you are using the latest chaos mesh controller, please apply the template config in `manifests/sidecar-template.yaml`.

[2020-06-04 03:18] cwen0 commented on #589
@yeya24 I think using the old version of CongiMap should not cause controller-manager `crashloopbackoff`. What do you think?

[2020-06-04 03:19] yeya24 commented on #589
I know the cause and I fixed it. Testing it now.

[2020-06-04 04:12] yeya24 opened #591 "Add an E2E test case to check invalid config template"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Related to #589

**Describe the feature you'd like:**

Part of the cause of #589 is that we don't have enough tests for our code. It would be nice to add an E2E test case to check whether controller manager still works when the injection config or template configs are invalid.

[2020-06-04 11:04] #589 closed

[2020-06-04 13:44] zhouqiang-cl opened #594 "We can add a status `suspend` in dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When a cron chaos not in scheduler, Now it display as finished(but actually not finish, it will start later)
We can add a `suspend` here
![企业微信截图_45fb1ca7-541c-4401-9389-a79ed63f9e0c](https://user-images.githubusercontent.com/23521459/83764480-91449c80-a6ac-11ea-86f9-5f822e659590.png)

**Describe the feature yo

[2020-06-04 15:29] yeya24 commented on #594
The `finished` definition is not clear in Chaos Mesh. For a chaos with `cron`, it will never finish. The entity which finishes is the experiment.

We should add a status for `paused` chaos as well

[2020-06-05 01:01] yeya24 opened #596 "PodKill and ContainerKill should only support schedule mode in frontend"
## Bug Report

1. Choose podkill or container kill in the `Target` page, then click `Next`
![image](https://user-images.githubusercontent.com/25150124/83825081-445dc780-a6a6-11ea-9a8f-341e6f9e78b1.png)

2. It shows `The action you chose must be immediate`. However podkill and container kill only works at schedule mode so https://github.com/pingcap/chaos-mesh/blob/14493ac9df745ba3b223c541c98e52c76e

[2020-06-05 16:00] yeya24 opened #599 "Failed to create containerKill chaos using chaos dashboard"
## Bug Report

**What did you do?**

Try to create a container kill chaos using chaos dashboard.

But I see this action fails because the container_name not set.

![Screenshot from 2020-06-05 11-58-06](https://user-images.githubusercontent.com/25150124/83897712-ecfe3c80-a723-11ea-8f28-081cc133429a.png)

![Screenshot from 2020-06-05 11-58-19](https://user-images.githubusercontent.com/25150124/83897

[2020-06-06 18:28] kapilbalwani commented on #581
-----------------pod-kill-example.yaml----------------------

apiVersion: pingcap.com/v1alpha1
kind: PodChaos
metadata:
  name: pod-kill-example
  namespace: chaos-testing
spec:
  action: pod-kill
  mode: one
  selector:
    namespaces:
      - spedev
    labelSelectors:
      "app": "consent"
  scheduler:
    cron: "@every 1m"

[2020-06-06 19:37] yeya24 commented on #581
@kapilbalwani Seems there is no pod with `app=consent` in ns `spedev`. Could you please check with the command `kubectl get po -n spedev -l app=consent`?

[2020-06-07 04:57] Lucaarioo commented on #430
@HillebrandtOldenberg & @pavin Can you guys check whether CRDs already exists through command line. If they exists try deleteting them and then try to create them with fabric8.

[2020-06-07 06:35] kapilbalwani commented on #581
When i executed this command i got nothing:

-bash-4.2$ kubectl get po -n spedev -l app=consent
No resources found.
-bash-4.2$ kubectl get pod -n spedev -l app=consent
No resources found.

But while checking it through i am getting the output:

-bash-4.2$ kubectl get pods -n spedev|grep consent
consent-67d5659c78-wjvrx                    2/2     Running     0          3m31s

[2020-06-07 17:18] yeya24 commented on #581
Yes, you should add the label `app: consent` to that pod so that it can be selected by the chaos.

[2020-06-07 17:19] #581 closed

[2020-06-07 18:35] kapilbalwani commented on #581
Thanks a lot @yeya24 . Instead added the label which was already there. Working now.

[2020-06-08 00:23] #189 closed

[2020-06-08 03:06] g1eny0ung commented on #596
Solved in #597.

[2020-06-08 03:06] #596 closed

[2020-06-09 06:37] teachersun opened #606 "Application of network-delay-with-target-example.yaml file causes crashloopbackoff in controller-manager in chaosmesh"
The first step is to apply the network network-delay-with-target-example.yaml file
[code]
kubectl apply -f network-delay-with-target-example.yaml
The second step did not produce any chaotic action
[code]
The log information of controller-manager is as follows

[code]

[2020-06-09 13:39] yeya24 commented on #599
This is fixed by #603. Close this now.

[2020-06-09 13:39] #599 closed

[2020-06-09 16:37] yeya24 commented on #606
I cannot reproduce this bug.
Is this the yaml you are using? Looks like there is an indentation problem. Could you please check it with the example here https://github.com/pingcap/chaos-mesh/blob/master/examples/network-delay-with-target-example.yaml?

[code]

[2020-06-09 19:41] yeya24 commented on #606
I can reproduce this bug with that bad yaml now. Seems there are some problems in our validating webhook, bad yaml file like this shouldn't be created at all.

[2020-06-10 01:50] g1eny0ung opened #611 "[Dashboard] enhance form validation (new experiment)"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For now, the chaos dashboard lack form validation when create a new experiment and it's needed to complete it.

**Describe the feature you'd like:**

Like, if we forgot to fill in something, we should tell the user the reason.

**Teachability, Documentation, Adoption, Migration Strategy:**

I already start to w

[2020-06-10 03:17] Gallardot commented on #606
That bad yaml is indented incorrectly? @yeya24
 Maybe the CRD's [controlling-pruning](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#controlling-pruning) feature can fix this. But that's not enough. We need to define which fields are required.

[2020-06-10 06:16] g1eny0ung commented on #594
@zhouqiang-cl In PR #612, I have already added a PAUSED Button to solve this issue.

But as @yeya24 said, the `finish` definition is not clear. We need to change the API code to fully solve this problem.

[2020-06-11 01:40] teachersun commented on #606
I used the new yaml file again, it has been successful, but the previous yaml can not be applied successfully in the unaligned format, it is recommended to optimize it

[2020-06-11 02:47] namco1992 commented on #569
Hello @cwen0 @zhouqiang-cl , I'm new here and I found the project quite useful and fascinating. I would like to try on this issue but I got a few questions:
1. I get the idea of customising grace period for pod-kill, but I didn't get the 2 scenarios @zhanghuidinah described. For the first scenario, should it be network chaos for network disconnection? Do we want to simulate the network disconnecti

[2020-06-11 03:22] cwen0 opened #615 "[API] Support get all labels of the special pods"
## Feature Request

**Is your feature request related to a problem? Please describe:**

![image](https://user-images.githubusercontent.com/22956341/84341042-c3865a80-abd4-11ea-90cd-cdc4c5db201b.png)

We can get all labels of the pods and let users select labels instead of filling one. I think this way is more friendly for users.

**Describe the feature you'd like:**

[code]
**Describe alternatives

[2020-06-11 05:46] cwen0 commented on #569
@namco1992
About the first question, the description from @zhanghuidinah may be confusing.
Normally, when we delete a pod or the pod quits abnormally, the value of `--grace-period` is greater than 0 and Kubernetes will make sure that the pod is actually deleted before deleting this pod object from etcd.
But if we set `--grace-period=0`, Kubernetes will delete this object from etcd directly. this s

[2020-06-11 06:46] namco1992 commented on #569
@cwen0 Thank you for the clarification, I understand it better now. May I take this issue then?

[2020-06-11 06:48] cwen0 commented on #569
@namco1992 Of cause, I will assign this issue to you.

[2020-06-11 15:02] zhouqiang-cl opened #618 "Add events page in http://chaos-mesh.org"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Just like https://db.cs.cmu.edu/events/

[2020-06-11 15:24] yeya24 commented on #615
Why the URL is `URL: /api/common/pods?ns=xxx,xxx`? Is this the same API as `/common/pods`?

[2020-06-11 22:35] yeya24 commented on #488
Does https://github.com/pingcap/chaos-mesh/pull/587 fix this issue?  @Yisaer

[2020-06-11 22:36] yeya24 commented on #475
Seems not reproduced recently. Close this now.

[2020-06-11 22:36] #475 closed

[2020-06-11 22:40] yeya24 commented on #227
This is done. Close now.

[2020-06-11 22:40] #227 closed

[2020-06-11 22:41] yeya24 commented on #420
Since this issue is caused by network issues and is solved already. I will close this now.

[2020-06-11 22:41] #420 closed

[2020-06-11 22:54] yeya24 commented on #557
Do you have a solution for this now? @cwen0 @fewdan

[2020-06-12 02:08] Yisaer commented on #488
Yes, we can close this issue now.

[2020-06-12 02:08] #488 closed

[2020-06-12 06:01] cwen0 commented on #615
Sorry, A typo, `URL: /api/common/labels?ns=xxx,xxx`

[2020-06-12 12:34] yeya24 commented on #615
Ack. But it is also a good idea to put the labels in the `/common/pods` API, since labels are just pods metadata.

[2020-06-15 10:28] Gallardot opened #625 "When helm upgrade, dashboard's env have no effect"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

[code]

**What did you expect to see?**

 pod of chaos-dashboard should restart, chaos-dashboard listen on port 2344

**What did you see instead?**

 pod of chaos-dashboard didn't restart, chaos-dashboard still listen on port 2333

[2020-06-15 10:51] dcalvin opened #627 "Enable web preview on Twitter"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

When tweeting about our website - chaos-mesh.org on twitter, it doesn't have an image in the preview, which is not so eye-catching.

**Describe alternatives you've considered:**

Need to add meta-tags assigned by Twitter.

**Teachability, Documentation, Adoption, Migration

[2020-06-16 00:23] #266 closed

[2020-06-16 03:22] #625 closed

[2020-06-16 23:40] yeya24 commented on #474
After this is merged https://github.com/pingcap/chaos-mesh/pull/585, I hardly see this error. Maybe we can close this issue now

[2020-06-16 23:40] #474 closed

[2020-06-17 00:23] #286 closed

[2020-06-17 06:10] #615 closed

[2020-06-17 10:44] sydnever opened #635 "How fix it :unable to decode "manifests/crd.yaml": no kind "CustomResourceDefinition" is registered for version "apiextensions.k8s.io/v1beta1""
How can i fix it?

![image](https://user-images.githubusercontent.com/2542184/84888617-1fb41780-b0ca-11ea-84ff-8b5d94b49eb4.png)

I am installing chaos-mesh on Centos 7 using minikube and helm

![image](https://user-images.githubusercontent.com/2542184/84888788-6c97ee00-b0ca-11ea-9fb2-e477fd61691c.png)

[2020-06-17 16:01] yeya24 commented on #635
What Kubernetes version are you using? Could you please try
[code]

[2020-06-17 16:17] yeya24 opened #637 "Chaos created from front-end doesn't have labels"
## Bug Report

**What did you do?**

Created a chaos with label specified, but it doesn't have any labels after creation.

![Screenshot from 2020-06-17 12-15-10](https://user-images.githubusercontent.com/25150124/84922759-50795a00-b094-11ea-9258-9c99fa2a84eb.png)

No labels here in the created chaos. Seems a problem at frontend. @g1eny0ung

![Screenshot from 2020-06-17 12-16-29](https://user-image

[2020-06-18 07:20] g1eny0ung commented on #637
Because {app: etcd} is not a valid json and {"app": "etcd"} is.

After #634 merged into master, we can change this ''ugly" JSON input to a label selector. 😢

[2020-06-18 12:58] yeya24 commented on #637
I am wondering if there is a case that we want to create a chaos beforehand, I mean before the creation of the pods we want to test?

[2020-06-18 13:10] yeya24 commented on #637
And again, I test with {"app": "etcd"}, but it still doesn't have the label.

[2020-06-18 13:18] g1eny0ung commented on #637
Oh, know about it, it's the `label selectors` not `labels`...

[2020-06-18 13:20] yeya24 commented on #637
Yeah, sorry... Missed that, thanks!

[2020-06-18 13:21] g1eny0ung commented on #637
Ha, never mind.

[2020-06-18 13:22] g1eny0ung commented on #637
I am not sure, @cwen0 PTAL.

[2020-06-18 13:34] cwen0 commented on #637
This is possible, but we do not recommend this method

[2020-06-18 13:53] yeya24 commented on #637
Yeah, sounds reasonable. I will close this issue now.

[2020-06-18 13:53] #637 closed

[2020-06-18 14:17] #594 closed

[2020-06-19 00:24] #218 closed

[2020-06-20 03:15] Gallardot opened #642 "Fix install.sh after helm update"
If we update the helm of chaos mesh, we should also update the `install.sh`. We already have a  [update_install_script.sh](https://github.com/pingcap/chaos-mesh/blob/master/hack/update_install_script.sh) script to do this.  Integrating this work into CI's `make check` is even more effective.

[2020-06-20 04:40] yeya24 opened #643 "Add an endpoint in Chaos Dashboard for liveness check"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Need an endpoint like `/-/ready` or `/ping` to check whether chaos dashboard is running

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-20 05:00] yeya24 opened #644 "List Events API should support finish time parameter"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-06-20 08:37] fewdan commented on #644
Understand, I will deal with this.

[2020-06-21 03:30] yeya24 commented on #644
I just found that `kind` is not added to events API as well, we should support it

[2020-06-21 03:44] #591 closed

[2020-06-21 15:21] yeya24 opened #645 "Support a limit parameter in events API"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We can have a limit parameter in the events list API. This is useful in the Grafana datasource because we can use this to prevent displaying too many events.

[2020-06-22 12:12] HillebrandtOldenberg opened #648 "Old successful pod-failure action now stuck in "Phase: Waiting""
## Bug Report

**What version of Kubernetes are you using?**

Client & server: v1.18.0

**What did you do?**

Installed chaos-mesh by following the [manual ](https://chaos-mesh.org/docs/installation/installation) until step 3. Next, used fabric8's [kubernetes-client](https://github.com/fabric8io/kubernetes-client) to launch the pod-failure action.

_echo-server-deployment.yaml_
[code]

_pod-failur

[2020-06-22 13:20] #643 closed

[2020-06-22 18:53] yeya24 commented on #430
Hi @HillebrandtOldenberg, I guess this issue is already solved so I am going to close this. If you meet the same problem, feel free to reopen.

[2020-06-22 18:53] #430 closed

[2020-06-23 00:23] #386 closed

[2020-06-23 04:07] fewdan commented on #648
现在修改了状态的名字，“waiting”指的是当前的chaos已经运行完了，等待下一轮的运行。由于你的“cron”设置的是“daily”，所以这个“waiting”状态会保持一天，直到下一次运行。
如果你的“cron”设置的小一点，你就会看到状态“running”和“waiting”的切换。

[2020-06-23 05:24] HillebrandtOldenberg commented on #648
Alright, thanks. A CHANGELOG.md would be nice :)

[2020-06-23 05:24] #648 closed

[2020-06-23 06:08] cwen0 opened #649 "Chaos Dashboard panics on invalid memory address or nil pointer dereference"
## Bug Report

[code]

[2020-06-23 06:54] cwen0 commented on #500
@yeya24 Yes, you are right. I will close this issue.

[2020-06-23 06:54] #500 closed

[2020-06-23 08:38] cwen0 opened #650 "Support injecting fault into Java appliations and JVM"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In many scenarios, users need to inject some faults into the Java applications or the JVM itself. However, Chaos Mesh currently does not support injection for specific java applications or jvm granularity.

**Describe alternatives you've considered:**

* Create a new chaos named `JVMChaos`
* We can use [jvm-san

[2020-06-23 09:00] cwen0 opened #651 "Support injecting an HTTP delay fault or an HTTP abort fault on the special application"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In many scenarios, users need to inject an HTTP delay fault or an HTTP abort fault on the special application. For example, we just want to inject a delay fault on getting `/api/xxx` router.

**Describe alternatives you've considered:**

* Create a new chaos named `HTTPChaos`
* Use [envoy](https://www.envoyprox

[2020-06-23 12:48] yeya24 commented on #651
Any design or ideas currently? I guess this chaos is not compatible with Istio or other service mesh systems?

[2020-06-23 13:37] Yisaer commented on #651
You are right, I think we can tolerate it for now if we try this way.

[2020-06-24 00:24] #407 closed

[2020-06-24 11:59] yeya24 commented on #448
valid

[2020-06-27 13:56] #649 closed

[2020-06-28 06:28] cwen0 opened #657 "Fail to archive experiment"
## Bug Report

When to archive the experiment, we found that the experiment may be deleted by `chaos-operator`, so this action will cause the archive action to fail.

[2020-06-28 06:57] cwen0 commented on #569
@namco1992 How is this issue going? Do you need any help?

[2020-06-29 07:50] namco1992 commented on #569
@cwen0 Hello, I've done the code changes and trying to test it locally, no blocker so far. I will try to wrap it up by today (UTC +8). I will ask in the slack channel if I encounter any issue. Sorry for dragging it so long. Thanks!

[2020-06-30 04:01] monadbobo opened #664 "run chaos failed"
1 Installed chaos mesh with helm 3.0, then all services started up normally.
2 Modify the example in the documentation, then used "kubectl create -f chaos.yaml" Load, then report an error, the error message was :

**Error from server (InternalError): error when creating "chaos.yaml": Internal error occurred: failed calling webhook "mpodchaos.kb.io": Post https://chaos-mesh-controller-manager.chaos

[2020-06-30 04:39] zhouqiang-cl commented on #664
@cwen0 @fewdan PTAL

[2020-06-30 04:39] cwen0 commented on #664
@monadbobo
Can you provide more information about your environment? For example, Kubernetes Version, Helm version and the steps to install Chaos Mesh. In addition, Can you check the MutatingWebhookConfiguration by the following command?

[code]

[2020-06-30 05:50] monadbobo commented on #664
@cwen0

[2020-06-30 05:55] monadbobo commented on #664
@cwen0
Kubernetes Version:

[code]

Helm version:

`version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}`

kubectl get MutatingWebhookConfiguration

[code]

kubectl get MutatingWebhookConfiguration chaos-mesh-sidecar-injector -o yaml

[code]

[2020-06-30 07:04] Gallardot commented on #664
@monadbobo  I see you have cert-manager installed. I want to know how you use Helm3 to install chaos-mesh.

[2020-06-30 09:14] monadbobo commented on #664
I followed the [documentation](https://chaos-mesh.org/docs/installation/installation#install-by-helm) in strict order.

[2020-06-30 09:50] Gallardot commented on #414
merge on #661 , close this

[2020-06-30 09:50] #414 closed

[2020-06-30 11:11] cwen0 commented on #664
@monadbobo Which network plugin is used in your Kubernetes environment? Can you check the master node if install `kubelet`, `flannel`, `docker`, `kube-proxy`? Which may be causing the master node won't be able to access the admission-webhook service.

[2020-06-30 14:19] namco1992 opened #666 "Kind config in kind-cluster-build.sh can't run when the local docker registry is running"
## Bug Report

**What version of Kubernetes are you using?**

1.15.6 which is the default version specified in the script.

**What did you do?**

[code]

**What did you expect to see?**
A new kind cluster should be started.

**What did you see instead?**
[code]

In short, the port 5000 specified in the `extraPortMappings` is conflicted with the local docker registry, it's the same in `install.sh`

[2020-06-30 14:27] namco1992 opened #667 "Makefile default DOCKER_REGISTRY value is empty, breaks the docker build and push locally"
## Bug Report

**What did you do?**

[code]

**What did you see instead?**
Unable to push to docker registry.

**What's the reason?**
According to the [development guide](https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos#make-the-docker-image), the default docker registry should be the local docker registry at localhost:5000, however, the makefile is expecting `DOCKER_REGISTRY` va

[2020-07-01 02:59] cwen0 commented on #666
@namco1992 This a good improvement. Looking forward to your PR!

[2020-07-01 03:25] monadbobo commented on #664
@cwen0 Our Kubernetes environment used the flannel

[2020-07-01 03:27] cwen0 commented on #667
@namco1992 A good catch!

[2020-07-01 08:53] hoang-tranviet commented on #664
I have the same issue with the flannel, but only on OpenStack. The same setup (flannel + chaosmesh) works on bare-metal K8s.
Still not sure it is related to OpenStack + flannel interaction...

[2020-07-01 09:13] monadbobo commented on #664
I'm not using openstack.

[2020-07-01 09:18] hoang-tranviet commented on #664
Ah I see that it works for me if I apply `manifests/crd.yaml`, while it fails if applying the whole `manifests/`. Not sure if it just a random issue or not.

[2020-07-01 13:25] zhouqiang-cl opened #671 "multi network chaos conflicts on same source pod"
**What did you do?**

The two network chaos file
[code]
and
[code]
If apply two file, then only the first works

**What did you expect to see?**
Both works

**What did you see instead?**

[2020-07-02 03:10] zhouqiang-cl commented on #664
@monadbobo Can you add my wechat, my ID is flicker, Seems this is strange
Sorry for late reply

[2020-07-02 03:26] cwen0 commented on #664
Can you check your master node if install `kubelet`, `flannel`, `docker`, `kube-proxy` and provide the start arguments of `kube-apiserver`?

[2020-07-02 03:47] namco1992 commented on #667
@cwen0 Thanks! I will work on this.

[2020-07-02 03:47] namco1992 commented on #666
@cwen0 Thanks! I will work on this.

[2020-07-02 06:32] zhouqiang-cl commented on #666
666

[2020-07-03 13:13] DannyeB opened #676 "NetworkChaos Experiment Inject Latency Between Pod and External Endpoint"
## Feature Request

**Is your feature request related to a problem? Please describe:**
I would like to be able to inject latency between a pod in the cluster and an external endpoint. This might be an externally hosted database or Redis instance etc

**Describe the feature you'd like:**
In the NetworkChaos experiment, I should be able to use an external URL as the target. Any traffic coming from m

[2020-07-03 13:52] nunziox commented on #676
[This is not a contribution]

I was going to open the same issue :) We really would need this as well.

[2020-07-06 00:30] #435 closed

[2020-07-06 00:31] #413 closed

[2020-07-06 07:47] cwen0 opened #677 "Add a document to describe how to define experiment scope"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We need a document to describe how to define the experiment scope

[2020-07-06 09:22] nunziox commented on #676
What is the ETA for this ?

[2020-07-06 13:33] yeya24 commented on #465
Valid. But low priority maybe

[2020-07-07 03:16] #446 closed

[2020-07-07 07:35] YangKeao commented on #676
@nunziox I am working on this issue. I hope it can be merged this week :yum:

[2020-07-07 09:52] #657 closed

[2020-07-08 07:19] YangKeao opened #682 "Empty target will make controller crash"
## Bug Report

I will fix this after #680 merged

[code]

[2020-07-08 10:16] cwen0 commented on #569
This issue has been solved in #663, We can close this issue.

[2020-07-08 10:16] #569 closed

[2020-07-09 04:01] YangKeao opened #684 "Generate protobuf/grpc related files in docker"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Nowadays different developers have different developing environments. The versions of their protoc/proto-gen-go/proto-gen-go-grpc differ, which may have hidden compatibility problems.

**Describe the feature you'd like:**

Generate protobuf/grpc related file in docker, which will give a stable compiling environ

[2020-07-09 08:46] #677 closed

[2020-07-10 08:35] YangKeao opened #687 "[Proposal] Refractor NetworkChaos to support multiple rules at the same time"
Nowadays nearly all `NetworkChaos` cannot work on the same pod #671. That's because the implementation of `NetworkChaos` assumes that there are no other iptables rules and tc rules in this container.

But as a complete system, we should relax this assumption into "there are no other iptables rules and tc rules *not created by chaos-mesh* in this container". `NetworkChaos` could avoid conflict with

[2020-07-10 10:34] nunziox opened #688 "NetworkChaos with target does not inject latency only between source and target pod."
[Not a contribution]

## Bug Report
**What version of Kubernetes are you using?**
v1.16.9-gke.6

**What did you do?**
On my test-bench project I have:
- An Nginx pod (ProxyPod) running on a k8s-cluster-A
- A test pod (TestPod) running on a k8s-cluster-A
- A ServiceA running on a VM outside a k8s-cluster-A
- A ServiceB running on a VM outside a k8s-cluster-A
I would like to inject latency only betw

[2020-07-11 00:31] #434 closed

[2020-07-11 01:27] yeya24 commented on #468
Still valid.

[2020-07-11 06:40] YangKeao commented on #468
I am working on #685 (actually it's waiting for review), so that users can observe the `stress-ng` process easily by `htop` or `ps`.

But I think the document is still needed, because in the parent process of `stress-ng` will be PID 0 in the container, so `htop` will regard it as "kernel threads" and will not show by default. The users have to turn off "hide kernel threads" to see these process.

[2020-07-13 06:31] #644 closed

[2020-07-13 09:19] cwen0 commented on #687
@YangKeao I think this is a good idea. LGTM

[2020-07-13 09:46] #676 closed

[2020-07-13 10:00] YangKeao commented on #682
Already fixed by #680

[2020-07-13 10:00] #682 closed

[2020-07-13 11:38] YangKeao commented on #688
Sorry for the late reply. As I cannot reproduce this problem on my local cluster, I need more information to locate the problem. :cry: But now there isn't any simple way to get them. If you are willing to help us locate the problem, please follow the steps below:

1. Find the node which the test pod running on by `kubectl get pods  -o wide|grep PODNAME`, the 7th column is the node.

2. Find the ch

[2020-07-13 12:00] zhouqiang-cl opened #690 "Uninstall Chaos Mesh failed"
## Bug Report
execute
[code]
report
[code]
there is an `install chaos-mesh: command failed: cat manifests/chaosfs-sidecar.yaml` in it

**What version of Kubernetes are you using?**

**What did you do?**

**What did you expect to see?**
Not report such error
**What did you see instead?**

[2020-07-13 12:02] #560 closed

[2020-07-13 21:16] vburckhardt opened #692 "externalTargets not working as expected with hostnames resolving to multiple ip addresses"
## Bug Report

**What version of Kubernetes are you using?**
1.16

**What did you do?**

network chaos:
[code]

**What did you expect to see?**

kube exec inside the pod, and run ping www.google.com
expecting to see ping delayed consistently for 59s, not delayed for 1s, and so on

**What did you see instead?**

ping delayed only from time to time, inconsistently.

[2020-07-13 21:19] vburckhardt commented on #692
I believe the root of the issue is on that line, returning only one ip from the ns lookup, instead of all of them.  https://github.com/pingcap/chaos-mesh/blob/716d54ed33bdb979db485e2f57f877e3a2772764/controllers/networkchaos/netem/utils.go#L38

A workaround would be to specify multiple ips instead of an host (using ips returned by nslookup)

Also seeing from the logs (notice, one single ip per min

[2020-07-14 00:31] #426 closed

[2020-07-14 01:30] siddontang commented on #650
do we have any guide about how to ingest a sidecar?

[2020-07-14 03:27] YangKeao commented on #692
Oops, sorry for the silly mistake :cry: . I have fixed it in #693

[2020-07-14 03:57] YangKeao opened #694 "Debug information collector for chaos-mesh"
## Feature Request

Nowadays it's really hard to collect debug information for some chaos. For example, the user should follow below four steps to collect debug information #688 :

And it's also hard to write a script to collect the debug information, as there are several nodes affected by one chaos, and some information cannot be collected from CLI (the cli of `containerd` is really feature-poor

[2020-07-14 04:07] zhouqiang-cl commented on #650
Not now, we need add it to https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos#make-the-docker-image /cc @cwen0

[2020-07-14 06:43] #692 closed

[2020-07-14 08:21] #455 closed

[2020-07-14 18:01] #690 closed

[2020-07-15 00:31] #239 closed

[2020-07-15 09:48] nunziox commented on #688
[Not a contribution]

Thanks,
I'll get those info and come back to you asap!

[2020-07-17 08:17] g1eny0ung opened #711 "Get or operate the experiment by UUID"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In order to be able to filter the experiment events correctly, we need to update some APIs. These changes are needed:

- Add `UID` field in `/experiments`
- Replace `/api/experiments/detail/{kind}/{namespace}/{name}` to `/api/experiments/detail/{uuid}`. Same for `start`, `pause` and `delete`.

[2020-07-17 09:20] del-zhenwu opened #714 "How to create PodChaos resources by using kubernates-python sdk"
## Question
just as example shows, the pod spec:
[code]
I can create pod resource by executing cmd: `kubectl apply -f **.yaml`
How can I create this custom resource by sdk(kubernates-python), `client.V1DeploymentSpec, client.AppsV1beta1Deployment` seems to be useless

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K

[2020-07-17 14:49] yeya24 commented on #433
Still valid. Any ideas on how to move this forward? It is not very straightforward to test other chaos.

[2020-07-17 16:52] zhouqiang-cl commented on #714
@del-zhenwu We will take a look

[2020-07-18 00:32] #462 closed

[2020-07-18 06:04] zhouqiang-cl commented on #462
It done here  https://github.com/chaos-mesh/charts

[2020-07-19 06:25] YangKeao commented on #714
[code]

Related functions are listed [here](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md#create_namespaced_custom_object)

[2020-07-20 04:11] YangKeao opened #718 "Tracking issue for supporting multiple rules of NetworkChaos"
This is the tracking issue and discussion board for the implementation of #687

- [x] Refrace `NetworkChaos` to organize iptables rules into chain #721
- [x] Add E2E test for `NetworkChaos`
- [ ] Implement `RawPodNetworkChaos` for single rule #788
- [ ] ~~Fix the [bug](https://github.com/kubernetes-sigs/controller-runtime/issues/845) for controller-runtime (to support kubernetes 1.14)~~
- [ ] Refr

[2020-07-20 05:55] Gallardot commented on #718
@YangKeao I have a workaround on https://github.com/chaos-mesh/chaos-mesh/pull/338#issuecomment-599853819. Do you need `Delete validation` for `Validator` ?

[2020-07-20 06:41] #684 closed

[2020-07-20 07:07] YangKeao commented on #718
Yes. It would be better to have a `DELETE` validation here, but maybe it's not a necessity :thinking: .

[2020-07-20 12:56] nunziox commented on #688
[Not a contribution]

Hi,

I have been debugging this issue and found the origin of the problem.
It seems due to the kind of filter used.
Indeed, It seems that the kind of filter used (tc-ematch extension) to filter by destination ip via the 'basic match' keyword does not properly work on my system (GKE) and cause all the traffic to be directed to the qdisc scheduler class 1:4 attached to the root

[2020-07-20 15:11] fengzixu commented on #516
/assign @fengzixu

[2020-07-20 15:41] yeya24 commented on #516
Haha, `/assign` doesn't work here I think... Let me assign this to you @fengzixu

[2020-07-21 00:32] #458 closed

[2020-07-21 17:41] #711 closed

[2020-07-21 18:16] #490 closed

[2020-07-22 00:32] #465 closed

[2020-07-22 02:35] del-zhenwu commented on #714
Thank you for the details

[2020-07-22 02:35] #714 closed

[2020-07-22 02:54] yeya24 commented on #543
Still good to have.

[2020-07-22 10:11] fredleger opened #727 "can't inject some chaos on k3s"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: v1.15.12
Server Version: v1.17.4+k3s1

**What did you do?**
- installed through helm3 : `helm install chaos-mesh helm/chaos-mesh --namespace=chaos-testing --upgrade --set dashboard.create=true --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/containerd/containerd.sock`
- create a StressChaos (also tr

[2020-07-22 11:37] yeya24 commented on #727
@fredleger Hello, I used k3s to inject chaos before. Here you need to set socket path `chaosDaemon.socketPath` to the socket path for your k3s.

I started k3s using k3d, and the containerd socket path is in `/run/k3s/containerd/containerd.sock`. Would you mind taking a look?

[2020-07-22 17:17] yeya24 commented on #727
Btw thanks for the issue! I believe it is good to document how to use k3s with Chaos Mesh, since it already has many users.

[2020-07-22 20:10] fredleger commented on #727
@yeya24 perfect ! It seems to work a lot better except kernelChaos but i guess this is expected since in ran k3s on ubuntu bionic vm with stock kernel

Thanxs for the support

[2020-07-22 20:10] #727 closed

[2020-07-23 13:27] zhouqiang-cl opened #731 "Add readme about speed installation in China"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Using the image: registry.cn-beijing.aliyuncs.com/tidb/chaos-daemon:latest

[2020-07-24 05:05] zhouqiang-cl opened #735 "Visualization Chaos action"
## Feature Request

Maybe we can do some chaos action by select some pod like https://github.com/spekt8/spekt8

[2020-07-24 06:20] qhh0205 opened #736 "Use controller-runtime client to create PodChaos: no kind is registered for the type v1alpha1.PodChaos in scheme \"pkg/runtime/scheme.go:101\""
## Bug Report

**What version of Kubernetes are you using?**
v1.16.3

**What did you do?**
Hi, folks, I have installed the chaos-mesh in kubernetes, then i use controller-runtime client(sigs.k8s.io/controller-runtime/pkg/client) to creat PodChaos CR, but that report error as following:
[code]

The follwing is the code i use:
[code]

The client init code:
[code]
**What did you expect to see?**
Use

[2020-07-24 08:28] YangKeao opened #737 "memory in StressChaos is virtual memory but not real memory"
## Bug Report

**What did you do?**

Apply StressChaos with memory stressors.

**What did you expect to see?**

Increase the memory usage and cause OOM.

**What did you see instead?**

Increase virtual memory usage, which is not a regular scenario.

[2020-07-24 08:47] fewdan commented on #736
It seems because you did not register "Schema" in the code. You can add "Schema" in the "init()".

For example, you can do something like the following:
[code]

[2020-07-24 08:55] qhh0205 commented on #736
@fewdan Cool! thank you very much!
[code]

[2020-07-24 09:02] #736 closed

[2020-07-24 13:16] yeya24 opened #739 "Add testcases for detecting goroutine leak"
## Feature Request

To prevent bugs similar to the bug in https://github.com/chaos-mesh/chaos-mesh/pull/722 happening again, we should add some testcases with https://github.com/uber-go/goleak to ensure we don't have such problems.

[2020-07-24 13:20] yeya24 commented on #480
Still valid.

[2020-07-24 13:22] yeya24 commented on #509
This is done by #696

[2020-07-24 13:22] #509 closed

[2020-07-27 02:57] zhouqiang-cl commented on #193
Hi, @vincent178 How about the progress now

[2020-07-27 03:00] vincent178 commented on #193
Sorry didn't start work on this, feel free to pick it up. Otherwise I can speed some time this week.

[2020-07-27 03:52] zhouqiang-cl commented on #193
@vincent178 take your time, waiting for your PR😃

[2020-07-27 09:33] del-zhenwu opened #743 "Create networkchaos failed with the reason `i/o timeout`"
## Bug Report

**What version of Kubernetes are you using?**

**What did you do?**

podchaos can run successfully, but it failed when running networkchaos tests, here is the logs displayed on controller pods:
[code]
yaml file:
[code]
**What did you expect to see?**

**What did you see instead?**

[2020-07-27 10:02] YangKeao commented on #743
As I thought there could be two reasons for this error:

1. Some `chaos-daemon` fail to start. You could use `kubectl get pods -n chaos-testing` to check whether every chaos-daemon is running. If someone fails to start, please post the logs and we will try to figure out the reason.

2. The connection between `chaos-daemon` and `controller` is blocked. Do you have any security settings which may bl

[2020-07-27 10:10] del-zhenwu commented on #743
Thanks for your reply.
I have checked the status of the chaos pods, it's all running.
And I can run the same network chaos test at another host successfully.

[2020-07-28 03:29] YangKeao commented on #743
`192.168.1.116:31767` is the default grpc port of chaos-daemon which we set in `hostPort` in chaos-daemon's DeamonSet definition.

The node IP can be verified through `kubectl get nodes -o wide`.

And, you can use `kubectl exec -n chaos-testing -it chaos-controller-manager-POD-NAME -- ping 192.168.99.105` to test whether it is able to send ICMP from controller-manager to this chaos-daemon.

Though

[2020-07-28 05:47] zhouqiang-cl opened #745 "Add helm installation on docs"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Add helm installation on docs, there is only install on kind or minikube

**Describe the feature you'd like:**

As title
**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2020-07-28 05:54] zhouqiang-cl opened #746 "refine docs style like homepage"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The homepage https://chaos-mesh.org/ is beautiful
<img width="1746" alt="截屏2020-07-28 下午1 51 51" src="https://user-images.githubusercontent.com/23521459/88624448-91c04900-d0d9-11ea-9e7c-9d161bccbad6.png">

the docs https://chaos-mesh.org/docs is not such beautiful, I think we can refine it

**Describe the featu

[2020-07-28 07:08] del-zhenwu commented on #743
Thanks, and my issue happened only once, I will follow your advice when it reproduced again

[2020-07-28 10:02] cwen0 commented on #745
https://chaos-mesh.org/docs/installation/installation#install-by-helm

[2020-07-28 11:34] cwen0 commented on #745
We can close it.

[2020-07-28 11:34] #745 closed

[2020-07-28 12:59] zhouqiang-cl opened #748 "Add Chaos Mesh helm file to https://github.com/helm/hub"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When installing Chaos Mesh, need to [add chaos mesh repository to helm repos](https://chaos-mesh.org/docs/installation/installation#step-1-add-chaos-mesh-repository-to-helm-repos).

**Describe the feature you'd like:**

We can add Chaos Mesh helm file to https://github.com/helm/hub.

**Teachability, Documentati

[2020-07-28 13:12] werne2j opened #749 "Add experiment name or Id to experiment list item in the dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:** No

**Describe the feature you'd like:**

It would be nice if the name or id of the experiment would be displayed on the experiment details list item in the dashboard
<img width="1680" alt="Screen Shot 2020-07-28 at 9 10 04 AM" src="https://user-images.githubusercontent.com/5973248/88669802-5b230800-d0b2-11ea-87

[2020-07-28 13:26] g1eny0ung commented on #749
Seems that this problem is related to our API changes. Recently we refactored the API fields to lowercase. But the dashboard has not fully adapted to these changes. I will resolve this problem these two days. Thx for reminding!

[2020-07-29 02:25] #627 closed

[2020-07-30 00:34] #491 closed

[2020-07-30 02:19] g1eny0ung commented on #749
Fixed in #752.

[2020-07-30 02:19] #749 closed

[2020-07-30 03:56] del-zhenwu commented on #743
It reproduced when using burn-cpu, chaos-controller-manager can ping successfully, but telnet the ip port failed.
And I start my app using LoadBalancer service type.

[2020-07-30 03:59] zhouqiang-cl commented on #743
@YangKeao PTAL

[2020-07-30 04:12] del-zhenwu opened #755 "The stress-burn-cpu seems not working"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://github

[2020-07-30 04:14] zhouqiang-cl commented on #755
@AngleNet @YangKeao PTAL

[2020-07-30 05:05] YangKeao commented on #755
What's is `kubectl watch`?

[2020-07-30 05:51] del-zhenwu commented on #755
It's a mistake, cmd is: `watch kubectl top pod `

[2020-07-30 06:07] g1eny0ung commented on #645
Completed, close the issue.

[2020-07-30 06:07] #645 closed

[2020-07-30 06:11] zhouqiang-cl opened #756 "Chaos Mesh not recover after some failuer"
## Bug Report

**What version of Kubernetes are you using?**

<img width="1778" alt="截屏2020-07-30 下午2 08 53" src="https://user-images.githubusercontent.com/23521459/88887111-602cb680-d26e-11ea-9904-b1dff66ac6cc.png">

yaml file is here
[code]

[2020-07-30 07:05] YangKeao commented on #755
I guess that's because `StressChaos` starts in podwise cgroup in default. For example:

The cgroup file for `stress-ng` is
[code]

The cgroup file for docker is:

[code]

But the metric-server (actually `kubelet`) collects metrics per container, so the `kubectl watch pod` won't show the high cpu usage.

Should we add a flag to switch pod-wise injection or container-wise injection? What's your opin

[2020-07-30 07:08] YangKeao commented on #755
Related codes are [here](https://github.com/chaos-mesh/chaos-mesh/blob/64522bfbdd9e49a4b3e8e515f489d87003966d9c/controllers/stresschaos/types.go#L248-L252)

[code]

@cwen0 Is there any benefit to inject stress in pod scope? If not, maybe we should use `ExecStressRequest_CONTAINER`

[2020-07-30 07:20] YangKeao commented on #755
Maybe we should also support injecting stress for a single container, as Kubernetes supports resource limitation per container.

[2020-07-30 07:32] cwen0 commented on #755
Yes, a flag to switch pod-wise injection or container-wise injection is necessary and we also need to support setting the specific container

[2020-07-30 08:08] cwen0 opened #757 "pod-failure action didn't work on dgraph pod"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Apply `pod-failure` action to graph pod

[code]

**What did you expect to see?**

![image](https://user-images.githubusercontent.com/22956341/88897880-92deab00-d27e-11ea-9e61-70d141749af4.png)

**What did you see instead?**

![image](https://user-images.githubusercontent.com/22956341/88897919-a12cc700-d27e-

[2020-07-30 08:20] cwen0 commented on #757
I found that chaos mesh had updated the image of dgraph with a paused image, but the pod wasn't restarted.

![WeChatWorkScreenshot_dae954fa-6af6-44d0-ab50-fee9073967e7](https://user-images.githubusercontent.com/22956341/88898443-4fd10780-d27f-11ea-95c1-a5e5a4b3aa73.png)
![WeChatWorkScreenshot_f7ceead3-edd6-4d94-9397-40bfd6624fd3](https://user-images.githubusercontent.com/22956341/88898455-5495bb80

[2020-07-30 08:48] del-zhenwu commented on #755
So how to stress to the given container currently?

[2020-07-30 09:00] zhouqiang-cl commented on #755
We are now fixing it, about 1 hour later it will be fixed

[2020-07-30 14:22] zhouqiang-cl commented on #755
@del-zhenwu Fixed. can you update chaos-mesh and test it again?

[2020-07-30 15:23] zhouqiang-cl opened #761 "Support install by brew"
## Feature Request

Chaos Mesh can be installed by brew, such as
[code]

[2020-07-30 15:29] yeya24 commented on #761
Umm, I don't know what is this issue for. Since brew is mostly used on mac, do you want to directly run chaos-mesh on mac?

[2020-07-30 15:38] zhouqiang-cl commented on #761
You are right. This issue is not think well, I will think about it later(Now I need to close it)

[2020-07-30 15:38] #761 closed

[2020-07-30 16:19] ming-relax opened #762 "use statefulset + pv by default in chaos-dashboard-deployment.yaml"
## Feature Request

**Is your feature request related to a problem? Please describe:**
chaos-dashboard data is lost when re-install chaos-mesh

**Describe the feature you'd like:**
Just use statefulset + pv by default in chaos-dashboard-deployment.yaml

**Describe alternatives you've considered:**
NA

**Teachability, Documentation, Adoption, Migration Strategy:**
NA

[2020-07-30 16:20] #762 closed

[2020-07-30 16:20] ming-relax commented on #762
chaos-dashboard-deployment.yaml has the suppport for pv already.

[2020-07-30 20:27] vandot opened #763 "Doubled iptables rules when using NetworkPartition action"
## Bug Report

As mentioned [here](https://github.com/ethersphere/beekeeper/pull/30#issuecomment-665741857) we hit a possible bug trying to implement NetworkPartition inside our infra [testing framework](https://github.com/ethersphere/beekeeper).

**What version of Kubernetes are you using?**
[code]

**What did you do?**
Either using [beekeeper](https://github.com/ethersphere/beekeeper/blob/chaos-

[2020-07-31 02:44] cwen0 commented on #763
@vandot Thanks for your feedback, we will take a look ASAP.

[2020-07-31 02:59] YangKeao commented on #763
Are you applying two network partitions on the same pod? If not, I believe #721 will fix this bug (by refining the organization of iptables rules) :beers: .

[2020-07-31 03:10] del-zhenwu commented on #755
yes, this has been fixed.

[2020-07-31 06:14] del-zhenwu commented on #755
My app has been limited to run with 2-cpus, after applying chaos-stress-cpu(ex, 2-workers), There are 3 stress-ng processes running on the container, 2 of them use 100% cpu. If I run my-app and use full of cpus, there would be 400% cpu usage on the container, which is not expected. Any advices can you provide?

[2020-07-31 07:24] YangKeao commented on #755
I cannot reproduce this bug. A pod (running `stress-ng --cpu 1`) limited with 1 cpu was injected stress chaos cpu (with `--cpu 4`), and the full cpu usage of this container is still around `1000m` but not `2000m` or `5000m`.

[code]

The deployment file:

[code]

Do you have any idea on how to reproduce the problems?

[2020-07-31 07:36] del-zhenwu commented on #755
I specified `containerName` in yaml, does it make a difference?

[2020-07-31 08:10] vandot commented on #763
@cwen0 thanks
@YangKeao one NetworkPartition per pod, in this case we are blocking two pods (one NetworkPartition action per pod) but same issues sometimes happen when we are blocking/isolating only one pod. Same behavior is happening using either both, from or to directive. Sometimes two exact iptables rules are applied (same rule applied twice) and when chaos action is removed only one iptables

[2020-07-31 08:37] YangKeao commented on #755
No difference.  My StressChaos yaml file is :

[code]

To verify whether the cgroup is set successfully, you can check the cgroup of these processes (include stress-ng)  in procfs.

[code]

The content of these files should be the same. And you can check whether the `cfs_quote_us` and `cfs_period_us` are set for this cgroup.

[code]

[2020-07-31 10:11] del-zhenwu commented on #755
I test almost the same config.
[code]
[code]

[2020-07-31 11:34] cwen0 commented on #755
@del-zhenwu I also didn't reproduce this issue. Can you check if `limits` fields of application container is defined in the application configuration, like this:

[code]
In addition, If you have defined  `workers`  field in chaos experiment, `options: ["--cpu 4", "--timeout 600"]` is not necessary.

[code]

[2020-07-31 16:56] zhouqiang-cl opened #769 "Orchestrates chaos in experiments"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There may be some mixed chaos, or when one kind of chaos ended, then start another chaos. This will help a lot in some complex environments

[2020-07-31 17:07] zhouqiang-cl opened #770 "Support DNS Chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We can support DNS unavailability. It is useful for internet apps, especially when you create your own DNS server

[2020-08-01 02:30] del-zhenwu commented on #755
Yes, I have checked the config using cmd `kubectl describe pod`,
[code]
still occupy other cpus, not sharing the limited cpus.
[code]
yaml:
[code]

[2020-08-01 03:48] zhouqiang-cl commented on #763
The PR #721 is merged. I will test it today

[2020-08-01 06:54] zhouqiang-cl opened #771 "Network partition failed when mode set to all"
## Bug Report

**What version of Kubernetes are you using?**

controller-manager report
[code]

Chaos-dashboard shows
![企业微信截图_94e6f942-485b-40da-9513-8775a6cca02e](https://user-images.githubusercontent.com/23521459/89096129-b46a9e80-d406-11ea-893f-bd9b2f30a695.png)

**What did you do?**

create busybox statefulset
[code]

network partition yaml
[code]

**What did you expect to see?**

**What did

[2020-08-01 07:16] zhouqiang-cl commented on #763
I test the new implementation of NetworkPartition many times. I did not found the doubled iptables rules issues

But I have found a problem in mode(when mode set to all https://github.com/chaos-mesh/chaos-mesh/issues/771, it has something not expect). others mode is ok @YangKeao

[2020-08-01 14:25] zhouqiang-cl opened #772 "Add github link and website link in dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We can add github link and website link in the dashboard(after Archives)

<img width="1742" alt="截屏2020-08-01 下午10 23 35" src="https://user-images.githubusercontent.com/23521459/89103621-ad16b580-d445-11ea-882b-0e00d7173c60.png">

[2020-08-03 02:24] zhouqiang-cl commented on #743
Are you using kind to start the cluster? @del-zhenwu
In my environment, If I the laptop have high load average, It will have `i/o timeout` even if there is no chaos

[2020-08-03 02:30] vincent178 commented on #193
Hi @cwen0 @zhouqiang-cl , after some investigation, I have two ideas of this task:

## Use go plugin
Go has a way to execute code dynamically with https://golang.org/pkg/plugin/.
A plugin file would looks like:
[code]
My rough idea would be add a new folder under `pkg` called `plugins`, add builtin plugins to it, compile to *.o file and execute in `pkg/utils/selector.go` when end user specify this

[2020-08-03 06:24] del-zhenwu commented on #743
The cluster started and installed on several servers, not the kind mode

[2020-08-03 06:37] YangKeao commented on #193
@vincent178 Thanks for your idea :smile:

I don't think go plugin is a good idea. Here I will list several reasons:

1. The plugin should have the same compiler version with the main binary. It means that if our `controller-manager` is compiled with go 1.14.6, it won't work to compile the plugin with go 1.14.5.

2. Any packages used by both the main binary and plugin must have their version match

[2020-08-03 06:49] YangKeao commented on #755
@del-zhenwu Have you checked the Cgroup configs according to the former discussion?

[2020-08-03 06:52] vincent178 commented on #193
@YangKeao thanks for your reply, the Cons of using go plugins make sense to.

I wonder if we use the binary way, how should this binary deployed into chaos-mesh or k8s clusters?

[2020-08-03 07:03] YangKeao commented on #193
In the same way as how you copy the *.so into the container :sweat_smile:.

Building a new image is one of the approaches, or maybe we can prepare a repo to collect and compress some common "official" plugins.

[2020-08-03 07:11] zhouqiang-cl commented on #743
If you do not apply chaos, did it have `i/o timeout` too? You can just try kubectl commands such as `kubectl get xxx`

[2020-08-03 07:18] YangKeao commented on #743
Do you mean the high cpu load will affect the network condition? I don't know whether there is a connection between the high cpu load and network failing :sweat_smile: .

[2020-08-03 07:34] del-zhenwu commented on #755
cat `/proc/10441/cgroup`:
[code]

[2020-08-03 08:34] zhouqiang-cl commented on #557
I think we can close this issue now.
If there are anything still not works well, please reopen it

[2020-08-03 08:34] #557 closed

[2020-08-03 08:40] zhouqiang-cl commented on #770
There maybe many fault on DNS

- [ ] return wrong IP
- [ ] delay return
- [ ] not resolve domain
- [ ] can not access DNS

[2020-08-03 09:03] vincent178 commented on #193
I see, I was thinking using some k8s way to do it, I think just copy into container is better. Let me think about it, thanks again.

[2020-08-03 09:24] zhouqiang-cl commented on #771
It is fixed

[2020-08-03 09:24] #771 closed

[2020-08-03 09:27] zhouqiang-cl commented on #763
#771 have already been fixed. Could you update and give a try @vandot
Thank you very much

[2020-08-03 10:49] YangKeao commented on #193
@vincent178 Great suggestion! In k8s way, maybe we could provide a configuration file (like a Service in k8s) to setup plugin.

1. The user setups plugin pods and services.

2. Register these pods/services with a "ChaosMeshSelectorPlugin" resource.

3. When the controller needs to call the plugin, communicate with it through Grpc or other Rpc over the network.

This way is much more flexible and e

[2020-08-03 12:35] STRRL commented on #193
I still have a little confusing about why we need a plugin other than label-selector.

For example, a plugin could find out which one is the leader of PD cluster then hint scheduler injecting failures; Or just tag label like `role: leader` to the leader pod, then using a Chaos CRD with label-selector `role: leader`.

[2020-08-04 03:31] YangKeao commented on #193
(I agree with you :sweat_smile: .) @cwen0

[2020-08-04 07:29] zhouqiang-cl commented on #755
@del-zhenwu Cloud you try it again. We think #779 will fix it(we test it in our environment)

[2020-08-04 16:29] zhouqiang-cl opened #784 "Who is using Chaos Mesh"
Chaos Mesh is committed to building a next-generation cloud-native chaos engineering platform and hopes to operate an active and autonomous community. Thank you to everyone who has used or contributed code. The construction of Chaos Mesh platform is inseparable from any contribution of everyone. At the same time, in order to better serve everyone’s business, we also hope to hear everyone’s voice a

[2020-08-04 16:42] cwen0 commented on #193
Compared with writing a separate program to set the label of application, the plug-in has the following advantages:

1. Don't need to deploy and maintain the separate processes, `plugin` is more user-friendly
2. It is easier to develop a chaos mesh plugin compare to a separate process. Because we can provide some functions to help uses to develop plugin, such as `GetPods(), GetNamespace...`
3. The

[2020-08-05 01:50] STRRL commented on #193
Thanks for your explain. It does be helpful to developing with some plugins mechanism.

It seems need a lot of work on this: plugin API, build plugin and how to execute my customized plugin on an already existed chao-mesh.

Expecting for a well-designed plugin framework.😁

[2020-08-05 06:13] qhh0205 commented on #391
@hoang-tranviet @zhanghuidinah @zhouqiang-cl
The same issue to me, does no 31767 port on the node, i don't konw why access node_ip:31767, what's the port used for?
[code]

[2020-08-05 06:21] zhouqiang-cl commented on #391
@YangKeao PTAL

[2020-08-05 06:30] YangKeao commented on #391
@qhh0205 That's because we have set `hostPort` for the DaemonSet.

But it seems that `hostPort` cannot work well in many situations (for example, the firewall on the node may block this connection), maybe we should consider a better & more stable way to communicate with chaos-daemon. @cwen0

[2020-08-05 06:38] qhh0205 commented on #391
@YangKeao I have check the hostPort on the node, no 31767 port listend but the Pod is running. In addition, not the pod_ip:31767 can be accessed:
[code]

[2020-08-05 06:48] qhh0205 commented on #391
Maybe NodePort is more stable.

[2020-08-05 06:55] YangKeao commented on #391
@qhh0205 Yes. `chaos-mesh` only sets `hostPort` in DaemonSet configuration file and expects kubernetes to listen to the port for it. However, `hostPort` feature fails to work in some situations (for example, some extra configuration is needed to enable hostPort on some CNI, as discussed [here](https://github.com/kubernetes/kubernetes/issues/23920)).

A simple and brute-force workaround is to insta

[2020-08-05 07:33] cwen0 commented on #391
We can try `DNS` for `chaos-daemon` 😏

[2020-08-05 07:46] qhh0205 commented on #391
I have set the `hostNetwork: true`, and the port can be accessed, but new error report -_-!, event as following:
[code]
@YangKeao

[2020-08-05 07:55] qhh0205 commented on #391
The following is the NetworkChaos i created:
[code]

[2020-08-05 10:12] YangKeao commented on #391
@qhh0205 It seems that `chaos-mesh`'s GRPC service renames from `chaosdaemon.ChaosDaemon` to `pb.ChaosDaemon`. And the docker image version of your `controller-manager` may mismatch with your `chaos-daemon`'s if you only restart(delete) chaos-daemon pods.

A simple solution is to delete/update `controller-manager`. @cwen0  Do we need any mechanism to detect the mismatch between the versions of the

[2020-08-05 10:50] IamonFireee opened #789 "timeline seems wrong in dashboard"
## Bug Report

**What version of Kubernetes are you using?**

`
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:58:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82d

[2020-08-05 11:05] g1eny0ung commented on #789
感谢反馈👌🏽，这个页面是 experiment detail 页面的 timeline 吗？

如果是的话，还有一点，进入这个页面是否是通过 events 页面的 table，点击 event detail按钮进入的呢？如果是的话，可能是因为实验已经被归档，导致查询不出来，这个问题的修复工作已经在 PR 了。

[2020-08-05 12:11] qhh0205 commented on #391
@YangKeao Thank you very much, you are right, i have change the controller-manager deployment's imagePullPolicy from `imagePullPolicy: IfNotPresent` to `imagePullPolicy: always`, then that worked. I have found that by default, the controller-manager imagePullPolicy is `IfNotPresent` and the chaos-daemon's imagePullPolicy is `Always`. So this will lead the mismatch between controller-manager and ch

[2020-08-05 12:12] IamonFireee commented on #789
yes,I can see the detail page and can enter events detail page, it seems this problem has been fixed and i wiil try this again using the new image, thanks for your reply :)

[2020-08-05 13:18] YangKeao commented on #391
`git blame` showes me that the `imagePullPolicy` has been `Always` by default since 5 monthes ago (#289) 😅

[2020-08-06 03:37] YangKeao opened #791 "Meaningless retry in reconciler"
https://github.com/chaos-mesh/chaos-mesh/blob/8251326fddbf1cc60580da6b0b4d392f4c45f734/controllers/common/types.go#L126-L128

Find this problem while exploring the code. A meaningful conflict retry should be:

1. Fetch the resource

2. Modify the resource

3. Update the resource

If my understanding is correct, only try to update the resource will always be conflict (if it was a conflict for the f

[2020-08-06 03:41] cwen0 commented on #791
@YangKeao Yes, I agree with you.

[2020-08-06 04:10] g1eny0ung commented on #772
Already resolved.

[2020-08-06 04:10] #772 closed

[2020-08-10 03:52] g1eny0ung opened #799 "PodKill will cause unexpected situation"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

I create two experiments. One is `PodKill` random one, another is a simple `NetworkDelay`. In particular, I specifically pointed to a pod for `NetworkDelay` to inject, like `echoserver-7df785b6bb-dnbzg`.

The problem is when the `PodKill` randomly kills the `echoserver` deployment, it will restart with a di

[2020-08-10 09:43] qhh0205 opened #801 "how to get experiment execution history?"
## Question

Hi, folks, i have created the podchaos experiment by client-go, and the experiment execute periodically. But i don't know how to get the history each execution and then  store each execution info to db? Are there any idea?

[2020-08-10 10:43] cwen0 commented on #801
@qhh0205 You can get the latest execution info from the status of chaos object. In addition, you also can get this information from the API of Chaos Dashboard. https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/apiserver/event/event.go#L78

[2020-08-10 11:37] qhh0205 commented on #801
@cwen0 Thx, I have read the code, if not use the dashboard api, i need to record the event by an independent controller to store the event to db(mysql or sqlite)?

[2020-08-10 14:53] vandot commented on #763
@zhouqiang-cl tested with latest chaos-mesh and updated apiVersion (chaos-mesh.org/v1alpha1) while this bug `Doubled iptables rules when using NetworkPartition action` is resolved new one is introduced.
When you apply multiple NetworkPartition actions only last is applied and used

Relevant iptables "logs"

- with two pods blocked (one per action)
[iptable_two_pods.txt](https://github.com/chaos-me

[2020-08-10 15:55] YangKeao commented on #763
@vandot @zhouqiang-cl

Yes, this is the problem I tried to solve in #788.

This PR is currently in review/bug fixing stage. I believe it won't be too long before it gets merged.

[2020-08-10 19:01] fewdan commented on #801
@qhh0205
If you have installed "dashboard", you can enter the pod corresponding to "chaos-dashboard". In the container, you will see a "core.sqlite" file, which can be accessed through sqlite. Through this db, you can read out the events records.
It should be noted that db sets an expiration time.

[2020-08-11 01:16] qhh0205 commented on #801
@fewdan I want to store it in MySQL db, if i don't install dashboard, need to external controller list/watch and store to db?

[2020-08-11 06:09] fewdan commented on #801
@qhh0205 Sorry, this is temporarily unsupported. Now you can only access events information through the dashboard.

[2020-08-11 07:12] leroy-chen opened #802 "dashboard not worked"
## Bug Report

**What version of Kubernetes are you using?**
```kuberctl version```
[code]

**What did you do?**
[code]
**What did you expect to see?**
dashboard work successfully.

**What did you see instead?**
chaos-dashboard seens not worked.
```kubectl get all -n chaos-testing```
[code]

kubectl logs chaos-dashboard-8969d975c-nkwmp -n chaos-testing
[code]

[2020-08-11 07:30] fewdan commented on #802
@leroy-chen
This issue is being processed and will be fixed soon.

[2020-08-11 07:32] qhh0205 commented on #801
Ok, i'll write another controller like collector controller to store events into mysql.

[2020-08-11 07:38] leroy-chen commented on #802
thanks, btw, How can i rollback to the lastest worked version to continue test?

[2020-08-11 08:28] fewdan commented on #802
You can first create an experiment with "kubectl apply -f".

[2020-08-11 08:55] fewdan commented on #802
@leroy-chen Can you provide information about the stresschaos you created?
"kubectl describe StressChaos your-name -n your-namespace"

[2020-08-11 09:13] WangXiangUSTC opened #803 "error: qdisc not exists"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

run network delay and loss chaos on application `web-show`
and check the log by

[code]

**What did you see?**

[code]

all logs:

[chaos-dashboard.log](https://github.com/chaos-mesh/chaos-mesh/files/5055969/chaos-dashboard.log)
[chaos-daemon.log](https://github.com/chaos-mesh/chaos-mesh/files/5055971/chaos

[2020-08-11 14:41] #737 closed

[2020-08-12 01:37] qhh0205 opened #804 "How to execute experiment immediately and execute only once, not cron execute?"
## Question

How to execute experiment immediately and execute only once, not cron execute?

Now it seems that chao-mesh experiment can only be executed by time scheduler(cron), how to execute experiment immediately, i want to manually execute when I need it.

[2020-08-12 01:45] yeya24 commented on #804
@qhh0205  If you don't set the `scheduler` and `duration` field, then the chaos should be a one-off job. Can you please try it?

If that helps then we can close this issue.

[2020-08-12 02:13] qhh0205 commented on #804
@yeya24 Thanks, you are right! But i think duration filed is needed, because i can controller each experiment execution time duration, after the duration the experiment can be recoverd automatically, now the scheduler and duration field must be ignored simultaneously.

[2020-08-12 02:28] yeya24 commented on #804
Yep, I agree with you. Actually I guess https://github.com/chaos-mesh/chaos-mesh/issues/501 is what you want right? If so, we can talk there. :)

[2020-08-12 02:28] yeya24 commented on #501
Help wanted!

[2020-08-12 02:33] qhh0205 commented on #501
+1

[2020-08-12 02:38] yeya24 commented on #804
Close this issue now.

[2020-08-12 02:38] #804 closed

[2020-08-12 07:22] leroy-chen commented on #802
kubectl get StressChaos -n chaos-testing
No resources found.

[2020-08-12 08:57] fewdan commented on #802
@leroy-chen What kind of chaos did you create? Can you provide some other information?

[2020-08-14 08:31] sbaier1 opened #816 "Label selector does not working"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
Installed chaos mesh using the command from the website:
`curl -sSL https://raw.githubusercontent.com/chaos-mesh/chaos-mesh/master/install.sh | bash`

**What did you expect to see?**
In the dashboard, i tried starting an experiment. In the Scope view (and in the Target -> Network -> Partition scenario view),

[2020-08-14 08:47] g1eny0ung commented on #816
The `label selectors` in the scope step won't be created from yourself. The scope means you will apply the experiment into **this scope**.

For example, we can create a test deployment with:

`kubectl create deployment echoserver --image=registry.cn-hangzhou.aliyuncs.com/google_containers/echoserver:1.10`

Then you can select the `label selector` like this image shows:

![image](https://user-image

[2020-08-14 14:11] YangKeao commented on #391
@qhh0205 How is your experience with  `chaos-mesh` ? If this issue has been solved, please close it 😸

[2020-08-18 12:07] #611 closed

[2020-08-18 16:01] ClSlaid opened #823 "Documents could be more friendly for users in mainland China."
As a zero-knowledged beginner it's nice to know such an awesome project. However while closely following your documents, I still have come up with some annoying problems. I think by inserting contents in your documents as below, would surely make your documents more friendly.
# Add Proxy/Mirror Recommendations
*GitHub* is getting less and less accessible in mainland China now. Adding such recommen

[2020-08-19 14:13] zhouqiang-cl commented on #763
@vandot #788 is already merged, could you please update it and give a try? thank you again

[2020-08-19 14:20] zhouqiang-cl commented on #823
@ClSlaid Thank you for your advice, I think it is very necessary. And we will refine the document's structure and try to l10n the document. And then, we will try to make it more smooth  in mainland China(a few days ago, we start to push docker image in aliyun)

[2020-08-19 18:59] alexec opened #824 "networkchaos error: connect: connection refused"
I'm getting the following error:

[code]

[code]

Installed on K3S as follows:

[code]

[2020-08-19 18:59] alexec commented on #824
Ahhh
[code]

[2020-08-19 19:08] alexec commented on #824
K3S uses a different socketPath:

/run/k3s/containerd/containerd.sock not /run/containerd/containerd.sock, so change `install.sh` to:

[code]

[2020-08-19 19:10] alexec commented on #824
[code]

[2020-08-19 19:12] alexec commented on #824
Must add to `podnetworkchaos` to clusterrole to fix that bug:

[code]

[2020-08-19 19:16] alexec commented on #824
[code]

[2020-08-19 19:27] yeya24 commented on #824
Thanks for trying chaos mesh!

[2020-08-19 19:44] alexec commented on #824
I using this script: https://mirrors.chaos-mesh.org/latest/install.sh
I'm currently stuck at the x509 issue.

[2020-08-19 20:01] yeya24 commented on #824
Umm, the script should be same as https://github.com/chaos-mesh/chaos-mesh/blob/master/install.sh. Can you try this script in the master branch?

I just tested it with both kind and k3d, and both worked well.

[2020-08-19 20:06] alexec commented on #824
I'm actually using K3D (which is K3S on Docker). That script has the same issue. As this works on kind, I can use that.

[2020-08-20 02:36] ClSlaid commented on #824
if u are working on a VPS provided by companies, check if your port is opened.

[2020-08-20 02:44] cwen0 commented on #824
This [FAQ](https://chaos-mesh.org/docs/faqs/#q-i-have-deployed-chaos-mesh-and-created-podchaos-experiments-successfully-but-i-still-failed-in-creating-networkchaostimechaos-experiment-the-log-is-shown-below) maybe help you.

[2020-08-20 05:50] vandot commented on #763
@zhouqiang-cl already tested it yesterday, received notification when was merged, and got same result
i will try it once more and collect logs if needed

[2020-08-20 07:39] YangKeao commented on #763
@vandot Thanks for your testing! We may need the version of chaos-mesh to make sure the image is built after this PR is merged. The command below may help you get the information.

[code]

If it was the newest version of the image, there will be a `PodNetworkChaos` resource with the same name as the target pod in the target namespace. The content of it will also help us much.

[2020-08-20 08:03] vandot commented on #763
@YangKeao it looks that is working correctly on local k3s cluster, but now I am having issues installing chaos-mesh on aws eks

If I use (from project folder) to install chaos-mesh
[code]
I get in controllers log
`E0820 07:58:17.093080       1 reflector.go:156] pkg/mod/k8s.io/client-go@v0.17.0/tools/cache/reflector.go:108: Failed to list *v1alpha1.PodNetworkChaos: podnetworkchaos.chaos-mesh.org is

[2020-08-20 08:18] YangKeao commented on #763
@vandot Have you updated the repo? The `helm/chaos-mesh` and `crd.yaml` have been updated to add new resource `PodNetworkChaos`.

[2020-08-20 08:52] vandot commented on #763
@YangKeao yes I updated the repo, there is new resource `PodNetworkChaos`
[code]

[2020-08-20 09:31] vandot commented on #763
@YangKeao definitely something was wrong with CRDs, after I cleaned everything in the cluster installed again in both cases I get same error
`http: TLS handshake error from 10.1.192.184:34520: remote error: tls: bad certificate` with `webhook.certManager.enabled` disabled and enabled

[2020-08-20 10:04] YangKeao commented on #763
@vandot
Can you check whether the `Ca Bundle` is empty (with a placeholder "Cg==") or not? With `webhook.certManager.enabled` disabled, it's expected to be filled by autogenerated content.

[code]

[2020-08-20 12:45] yeya24 opened #831 "Support chaos-dashboard timezone variable in install.sh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There may exist some issues using Grafana plugin when the timezone of the browser and Pod is different.

**Describe the feature you'd like:**

It would be good to support the timezone env variable in install.sh, might be specified by a flag. The command should looks like:

[code]

[2020-08-20 14:22] ClSlaid commented on #802
Have you solved your problem?
I ajusted the script from
[code]
to
[code]
that worked well on my Manjaro Linux.

[2020-08-21 03:36] ClSlaid opened #833 "Why my Chaos Mesh Dashboard is different with shown in docs..."
## Question
Some problems really get me confused...
1. following your [docs](https://chaos-mesh.org/docs/user_guides/run_chaos_experiment), I deployed a network chaos on my VPS, however nothing did happened and the delay remained zero in the charts...
![Screenshot_20200821_112752](https://user-images.githubusercontent.com/44747719/90849214-61e72700-e3a1-11ea-89e5-1039fb1bf0eb.png)
Here are my logs

[2020-08-21 09:56] asos-craigmorten opened #834 "rpc error: code = Unknown desc = process does not have children"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Set up a local Kubernetes cluster using minikube:

[code]

Ran a simple target application:

[code]

Cloned chaos-mesh (latest master) and installed using Helm as per chaos-mesh docs (with dashboard enabled).

[code]

Attempted to run a simple stress test impacting the echoserver's CPU to see how chaos-mesh

[2020-08-21 10:30] cwen0 opened #835 "Add a flag to control if chaos-daemon use `hostNetwork` in `install.sh`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now we can not set `hostNetwork` privileges for `chaos-daemon` when installing Chaos Mesh by [install.sh](https://github.com/chaos-mesh/chaos-mesh/blob/master/install.sh).

**Describe the feature you'd like:**

We can add a new flag such as `host-network`.  If we run

[code]

`install.sh` will open `hostNetwork

[2020-08-24 02:21] leroy-chen commented on #802
I finally get my dashboard worked.
if someone have the same problem, do check if there are some Chaos failed.
[code]
then delete the failed chaos .
[code]
sometimes you will find it  you can't delete it, try the following script to path.
[code]

[2020-08-24 02:21] #802 closed

[2020-08-24 10:32] andrew-whiriskey opened #839 "Internal error occurred: failed calling webhook "mnetworkchaos.kb.io""
## Bug Report

**What version of Kubernetes are you using?**
v1.17.11

Cluster runs on containerd runtime

**What did you do?**
Uninstalled chaos mesh and re-installed the latest release using helm.

- uninstalled using this command: `curl -sSL https://mirrors.chaos-mesh.org/latest/install.sh | bash -s -- --template | kubectl delete -f -`

Installed following the installation documentation:

- add

[2020-08-24 10:47] cwen0 commented on #839
Should be `helm install chaos-mesh chaos-mesh/chaos-mesh --namespace=chaos-testing --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/containerd/containerd.sock`

Otherwise, the local chart files will be used and your repo is old.

[2020-08-24 10:48] YangKeao commented on #839
Are you using the latest chaos-mesh repo (as you are installing chaos-mesh from the local directory)? We have submitted several changes about helm charts in the latest commits. If the version of helm charts and the image mismatch, the error about certificate may occur.

So you have two choices:

1. Use the online repo wich `helm install chaos-mesh chaos-mesh/chaos-mesh ...`

2. Update the local re

[2020-08-24 10:55] andrew-whiriskey commented on #839
Sorry yes I had it pointing towards `chaos-mesh/chaos-mesh`. FYI your installation docs point to `helm/chaos-mesh`

[2020-08-24 10:57] andrew-whiriskey commented on #839
Sorry that was typo, I am using the newest release of the helm charts `v0.1.1`

[2020-08-24 11:25] cwen0 commented on #839
@andrew-whiriskey Can you check `MutatingWebhookConfiguration` by the following commands?

[code]

If you find this `chaos-mesh-sidecar-inject`, just delete it. In addition, If you install Chaos Mesh by helm, you should use `helm delete xxx` command to uninstall it instead of `curl -sSL https://mirrors.chaos-mesh.org/latest/install.sh | bash -s -- --template | kubectl delete -f -`

[2020-08-24 11:38] andrew-whiriskey commented on #839
That fixed the issue! Thanks for the assistance :)

[2020-08-24 11:38] andrew-whiriskey commented on #839
Issue resolved

[2020-08-24 11:38] #839 closed

[2020-08-25 05:32] STRRL commented on #501
Hi @cwen0 , I realize that `cron` and `at` can cover most of scenario, less is more.
So in my new design, there is no any complex things, only adding support for `at`. It will add a new field for `SchedulerSpec` like `At`, and modify two-phase controller for supporting only-one-shot.

Any problem about this design?
I will make a PR in next days.

[2020-08-25 07:23] YangKeao commented on #834
@asos-craigmorten #838 may have solved this problem. Would you update the image and retry?

[2020-08-25 09:00] asos-craigmorten opened #844 "Dashboard helm deployment serves "Dashboard UI is not built. Use `UI=1 make`.""
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

[code]

**What did you expect to see?**

Expected to see working chaos-mesh dashboard. Was working last week so assuming something has gone into `master` recently that has changed this, or CI has failed somewhere.

**What did you see instead?**

Empty UI with text:

[code]

<img width="1552" alt="Screen Sho

[2020-08-25 09:10] cwen0 commented on #844
@asos-craigmorten Sorry for this issue. I am fixing it.

[2020-08-25 10:39] cwen0 commented on #844
@asos-craigmorten Hi, I have pushed a new image. You can run `docker pull pingcap/chaos-mesh:v0.9.0` and rerun chaos-dashboard again.

[2020-08-25 11:31] asos-craigmorten commented on #844
Pulled again and can confirm the dashboard is loading - LGTM!

Nice one @cwen0 💯

[2020-08-25 11:31] #844 closed

[2020-08-25 12:34] asos-craigmorten commented on #834
Can confirm that haven't seen this error again since #838 - nice one @YangKeao

On the other hand, am seeing some different issues where the original `stress-ng` process isn't being killed when using a schedule, so load persists throughout the experiment, and even after it has been paused and/or deleted (archived). See the time for process id 450 below - for something that is meant to be killed af

[2020-08-25 12:34] #834 closed

[2020-08-25 12:36] sbaier1 commented on #816
thanks for the explanation. For some reason, the autocompletion didn't work initially and didn't show any labels / pods. Does work now.

[2020-08-25 12:36] #816 closed

[2020-08-25 13:11] asos-craigmorten opened #847 "StressChaos: stress-ng-cpu process not always being killed despite schedule"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

[code]

Created `stress-cpu.yaml` with the following contents:

[code]

[code]

**What did you expect to see?**

CPU being stressed/burned for the provided duration (`30s`) on a `1m` interval for every Nginx pod in the `nginx` namespace.

**What did you see instead?**

At some point during the experiment we

[2020-08-25 13:43] asos-craigmorten commented on #847
Managed to see it again, though wasn't watching the logs at the exact moment... 🤦

It appears (afaik) to coincide with the `chaos-controller-manager` restarting:

[code]

Before the pod died last time I managed to capture the end of the logs, but not sure it looks very useful, just a panic like mess:

[code]

Here is a snippet of the events:

[code]

I guess it might make sense that a `stress-ng`

[2020-08-25 15:54] YangKeao commented on #847
@asos-craigmorten The `finalizers` will guarantee that the `stress-ng` process will be deleted (at least, chaos-daemon will have tried to do so by sending a SIGTERM) before the `StressChaos` resource was deleted (or the deletion will be blocked).

I have considered about a fallback strategy to use SIGKILL to make sure killing the `stress-ng`, but it will cause `defunct` and orphan processes 😢 , so

[2020-08-26 00:39] #606 closed

[2020-08-26 03:25] Colstuwjx opened #849 "Inconsistent from doc and chart yaml"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**
Install chaos mesh with helm by manually.

**What did you expect to see?**
Just as the doc said, I want to install dashboard as well.

**What did you see instead?**
But I found it only installed daemon and controller-manager:

[code]

And I checked the repo code, it seems that we set the dashboard create opt

[2020-08-26 03:25] YangKeao opened #850 "Certificate error caused by helm upgrade"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

[code]

Then the controller-manager gets certificate error:

[code]

Related with multiple certificate issues these days.

[2020-08-26 03:32] yeya24 commented on #849
I don't find any inconsistency in the document, can you please point me to the doc you mentioned?

I believe it is already clearly mentioned in the installation doc https://chaos-mesh.org/docs/installation/installation#step-3-install-chaos-mesh.

![Screenshot from 2020-08-25 23-30-36](https://user-images.githubusercontent.com/25150124/91252170-03b49e00-e72b-11ea-9120-b9e9b4443631.png)

But I agree

[2020-08-26 03:39] Colstuwjx commented on #849
From the doc page, it told me that expected output would be:

![image](https://user-images.githubusercontent.com/3972545/91252511-507e9000-e790-11ea-9b06-6355aeed71bc.png)

And as you said, there is a note that told us the dashboard is default to false, so I think that the word `Expected output:` and the output result should be updated as well. This is the inconsistency point.

Yes, this is anothe

[2020-08-26 03:44] yeya24 commented on #849
If you think this part is kind of misleading, again feel free to open a pr to update it. I think moving this note to the beginning of step 3 is good enough and clear.

[2020-08-26 04:40] YangKeao commented on #847
Wow! Thank you! I think I have recurrent this problem! Related backtraces are listed here:

[code]

It's a "concurrent map writes". I will analyze and try to fix it right now :crying_cat_face:

[2020-08-26 06:37] YangKeao opened #852 "Reconsider about the logic of retrying"
1. Can every type of chaos fit in the retrying logic?

2. Should we recover before retrying?

3. How often will the error occur?

4. Should we add & remove finalizers more carefully?

[2020-08-26 07:16] fewdan opened #854 "Display the failed log in the dashboard"
## Feature Request

Display the failed log in the dashboard.
Now the log corresponding to chaos cannot be displayed in the dashboard. If the created chaos fails during operation, there is no way to know the reason for the failure. Hope to show the failed log in the dashboard.

[2020-08-26 10:06] #850 closed

[2020-08-27 03:41] 1964405262 opened #859 "The chaosfs-sidecar.yaml is wrong when I use it to do IOChaos experiment"
## Bug Report

I use kubectl with client version v1.18.6 and server version v1.15.0. The branch of chaos-mesh is master.  When I do IOChaos experiment followed by[ this instruction ](https://chaos-mesh.org/docs/user_guides/iochaos_experiment#available-methods) , I found error msg in kube-controller-manager like this:

   E0826 23:04:18.192321       1 replica_set.go:450] Sync "chaos-testing/ioapp-7

[2020-08-27 08:07] cwen0 commented on #859
/cc @yeya24

[2020-08-31 12:47] yeya24 commented on #859
Hello @1964405262, thanks for the issue!

First of all, can you please provide more information about your setup and the yaml you are using? I need to double check the `ioapp` volume.

IIUC, is the `ioapp` volume the datadir volume of your app? If it is this case, then this volume should be added to your application's yaml (deployment/statefulset), and it is not necessary to add it to the template

[2020-09-01 00:45] #635 closed

[2020-09-01 00:45] #618 closed

[2020-09-01 06:59] zhouqiang-cl commented on #763
@vandot hi, is everything ok now?

[2020-09-03 10:44] #755 closed

[2020-09-03 10:45] 1964405262 commented on #859
@yeya24   I checked by deployment yaml file and found that there is no volumeMounts in it .

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ioapp
  namespace: chaos-testing
  labels:
    app: ioapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ioapp
  template:
    metadata:
      labels:
        app: ioapp
      annotations:
        "admission-webhook.chaos-mesh.org/request"

[2020-09-04 08:20] cwen0 commented on #694
I support this feature. We can create a command tool to help us to collect the debug information.

[2020-09-05 04:47] zhouqiang-cl commented on #671
It have been solved

[2020-09-05 04:47] #671 closed

[2020-09-06 01:20] STRRL commented on #487
I am trying to work on this issue.

Here is my idea:
- Make new fields `ClusterScoped` and `Namespace` in struct `ChaosControllerConfig`; `ClusterScoped`(bool) represent that running in cluster mode or not. `Namespace` represent the namespace could injected chaos into.
- Make same above configurations in helm's yaml file
- New validation about configurations: `ClusterScoped`, `Namespace`, `Allowed

[2020-09-07 15:08] namco1992 commented on #666
Not stale, will work on it soon, sorry.

[2020-09-07 15:11] namco1992 commented on #667
Not stale, will work on it soon, sorry.

[2020-09-08 00:44] #448 closed

[2020-09-08 07:03] masayag opened #878 "Specifying fieldSelectors in PodChaos causes an error"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: 4.4.11
Server Version: 4.6.0-0.nightly-2020-08-31-220837
Kubernetes Version: v1.19.0-rc.2+f71a7ab-dirty

**What did you do?**
I used the 'fieldSelectors' in selector element of the PodChaos resource in order to select a pod.

The following request was applied:
[code]
When using kubectl with 'fieldSelectors', the response

[2020-09-08 07:52] fewdan commented on #878
Please wait a while, I will pay attention to this issue.

[2020-09-08 08:14] zhouqiang-cl opened #879 "Adapt Chaos Mesh to Non-K8s Platform"
Since Chaos Mesh is now only supported in cloud-native platform. There are also many requirements in Non-K8s platform。
I think we can adapt Chaos Mesh to Non-K8s platform

The first verion architecture maybe like this
![企业微信截图_615e5d7b-5a9e-4354-9241-4557d1d1ae2a](https://user-images.githubusercontent.com/23521459/92448190-d5cf5f00-f1ea-11ea-9cee-cc5a4a32b32a.png)

We can implement it by the follo

[2020-09-08 08:48] zhouqiang-cl commented on #879
Maybe first we can extract Chaos Daemon to an independent repo, which can support K8s and Non-K8s injection. It will also very helpful if we going to support the K8s node chaos

[2020-09-08 09:17] cwen0 commented on #879
For Non-K8s, the `YAML` is not necessary, so I think we can delete the `chaos-ctl` component in your architecture and just support define chaos experiment on web-ui.

[2020-09-08 09:18] cwen0 commented on #879
This is a good suggestion!

[2020-09-08 09:21] zhouqiang-cl commented on #879
Maybe it will take much time when finish web-ui, before web-ui finished, Do you have any idea about how to trigger the chaos

[2020-09-08 09:27] cwen0 commented on #879
Why not use the time of developing `chaos-ctl` to develop manager(with UI)? Designing a single YAML system is not easy work because we can't reuse the YAML files of Kubernetes!

[2020-09-08 10:04] zhouqiang-cl commented on #879
OK. First, we should refine and extract the chaos-daemon to a signal repo. Then next we can do some chaos just using Chaos Daemon

[2020-09-08 11:04] cwen0 opened #880 "Pod preview didn't work on chaos-dashboard"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Create a pod-kill chaos injection on tidb cluster.

**What did you see instead?**

<img width="1519" alt="WeChatWorkScreenshot_fc99c70d-ee66-481f-9f08-60373ce9af40" src="https://user-images.githubusercontent.com/22956341/92468550-ee00a780-f205-11ea-98bc-e17fd24fee4a.png">
<img width="1002" alt="WeChatWorkSc

[2020-09-08 11:29] #880 closed

[2020-09-08 12:44] yeya24 commented on #878
As I commented on Slack, since `controller-runtime` uses a cached client, we need to create index fields manually when initializing controller.

TBH this approach is not flexible and not scalable, since we cannot create indexes for all the pod fields. We might have two options here:
1. Remove fieldSelector. It is not necessary to have it as we already have some other powerful selectors.
2. Create

[2020-09-08 12:46] yeya24 commented on #878
@masayag Using `metadata.name` here to select pods is not the best option here because pod name changes after restarting. Also you could use `pods` field to specify the pods you want to inject chaos.

[2020-09-08 13:30] yeya24 commented on #879
Might be a good fit for a Community Bridge project. What I can see is that:

1. Chaos-Daemon already supports gRPC API, which works like an adapter with underlying container runtimes. Without k8s, we might need to change some code in the Daemon, but not much I believe.
2. UI and a cli are both a good idea. I'd like to have both as a user. Cli will be good for fast PoC.

[2020-09-08 14:14] fewdan commented on #878
@yeya24
![image](https://user-images.githubusercontent.com/16437100/92487915-7ab85f00-f220-11ea-9a07-f19cb56877c1.png)

I think it is possible to manually initialize the fields in the above figure and add the index into the cache.

[2020-09-08 14:14] fewdan commented on #878
Like this :
[code]

[2020-09-08 14:25] yeya24 commented on #878
Yes, it is doable and I already mentioned it in my previous comment. What I was saying is that this is not really necessary to do and it is hard to find common indexes we want to have.

We already have node filters, namespace filter, phase filters, podsFilter, I believe these filters already cover most cases when selecting pods. For the fields we haven't supported yet, I don't think we want to sel

[2020-09-08 14:37] yeya24 commented on #878
Another option might be to create these indexes. For the filters we have currently like namespaces, pods, phase, we convert them all to fieldSelector in the ListOptions when querying and remove the old logic, which requires manually filtering. This approach might make more sense, but need some more refactoring and I am not sure it is 100% compatible with the current code.

[2020-09-08 14:43] fewdan commented on #878
@yeya24
I understand what you mean. My idea is that there is a bug now, so we should make this fieldSelector usable first, and then discuss refactoring.

[2020-09-08 14:54] yeya24 commented on #878
I am not saying to not fix this:) Just some ideas about this config.

Anyways, feel free to open a pr to fix this. Thanks!👍

[2020-09-08 14:54] yeya24 commented on #878
I am not saying to not fix this:) Just some ideas about this config.

Anyways, feel free to open a pr to fix this. Thanks!👍

[2020-09-08 14:55] fewdan commented on #878
Oh, understand.

[2020-09-08 15:33] zhouqiang-cl commented on #879
Make sense. Maybe it very fit for Community Bridge. @cwen0 what are your opinion

[2020-09-09 03:30] Colstuwjx opened #884 "How to integrate thirdparty service into chaos mesh"
Hi team,

Chaos mesh is a great platform for doing chaos testing, however, it's limited in k8s ecosystem. Just think the following case:

1. we need to do experiment on our services, to confirm multi-idc ha is ready or not;
2. chaos mesh could do pod-kill with web apps on one datacenter ( a.k.a a k8s cluster );
3. we want to make database or redis down for testing the database failover, but **chao

[2020-09-09 03:33] Colstuwjx commented on #884
Related issue: #879 , to be honest, for this issue, I don't want to deploy chaos daemon on my db paas hosts, since we already setup a process for vms ( e.g. using ansible to archive this ).

[2020-09-09 03:53] g1eny0ung opened #885 "Use netlify.toml as the docs preview configuration"
From https://github.com/chaos-mesh/chaos-mesh/pull/875#issuecomment-689284186.

[2020-09-09 04:31] STRRL opened #886 "Refactor selector"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

Currently, we use `SelectorSpec` to describe which objects we want.
It was impelemented in `pkg/utils/selector.go`, as a util function.

It could NOT handle more complex logic in the future.

We need refactor it, designing a more efficient selector.

**Describe alterna

[2020-09-09 05:13] zhouqiang-cl commented on #884
Hi, @Colstuwjx could you add my WeChat, I want to discuss it with you. My WeChat id is flicket

[2020-09-09 06:54] cwen0 opened #888 "Make chaos-daemon can run on non-k8s node and work independently"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This is the first step to let Chaos Mesh adapt the non-k8s platform, the details refer to #879.

**Describe the feature you'd like:**

* We can run chaos-daemon as a DaemonSet on the Kubernetes environment, in addition, we also can run chaos-daemon on VM node(or physical node) and work independently.
* Create a

[2020-09-09 07:14] #849 closed

[2020-09-09 07:35] IamonFireee opened #889 "admission webhook "mpodchaos.kb.io" denied the request"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892aab98fe339f3bd70e3c470144299398ace", GitTreeState:"clean", BuildDate:"2020-08-13T16:12:48Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892a

[2020-09-09 08:20] g1eny0ung commented on #889
The error of `annotation_selectors` should be resolved in https://github.com/chaos-mesh/chaos-mesh/pull/881 at yesterday.

And the error of `cron` I guess because we used cron library is https://pkg.go.dev/mod/github.com/robfig/cron/v3, which doesn't support the year field. You can correct with `0 0 * * *`.

[2020-09-09 08:44] qhh0205 commented on #501
any update? @STRRL @cwen0

[2020-09-09 09:01] STRRL commented on #501
@qhh0205

Just a few days ago, I have a more clearly solution, could avoid making changes on two-phase controller.

I will implement `at` feature via the common Reconciler.

I need more time, please keeping your expectance. :)

[2020-09-09 12:47] Yisaer commented on #886
@Gallardot Thanks for your participation for this issue. As refactoring design need to be discussed first, if you have any ideas, please share the design in the issue or document before starting to code.

[2020-09-10 06:35] zhouqiang-cl commented on #888
In this issue, we can also consider chaos plugins like CNI for kubelet

[2020-09-10 06:38] Gallardot commented on #886
[code]

The pseudocode above, I think we can use a Filter Pattern to refactor this function.
@Yisaer @STRRL @cwen0

[2020-09-10 07:06] Colstuwjx opened #893 "Mode naming made me confused"
## Feature Request

**Is your feature request related to a problem? Please describe:**

For example, for NetworkChaos, there is [network partition example](https://chaos-mesh.org/docs/user_guides/networkchaos_experiment#network-partition-action) in our doc, and we proposed mode and value for controlling the pod target. But I sadly found that we describe the mode with a line word `mode defines the

[2020-09-10 07:13] YangKeao commented on #888
This is not only an issue in chaos-daemon. It's also a big problem for `controller-manager` to define the struct (according to the resource) and watch them on k8s, communicating with the plugin (if you want to use the plugin in k8s scenario, which I think is always on our first priority.).

[2020-09-10 07:15] zhouqiang-cl commented on #888
So. it is can also😃

[2020-09-10 07:36] YangKeao commented on #893
@cwen0 `mode`, `value` and `selectors` are all selector related fields. I think they should be placed in one field (but not 3). This will make the document better to understand and simplify our validator.

Modifying resource definition is not a good idea at this timing (before releasing 1.0), but we should consider it in the later version.

At least, we can refine the document. :smile_cat:

[2020-09-10 08:21] cwen0 commented on #893
@YangKeao I agree with you. @WangXiangUSTC Can you help tp update the document and make it more clear?

[2020-09-11 07:07] Colstuwjx commented on #799
This issue also happens on `NetworkPartition` case, I've been setup a network partition experiment:

[code]

and after the target pods been killed, deployment created new pod, the pod ip changed from:

[code]

to:

[code]

And our ipset rules didn't update:

[code]

Since `NetworkChaos` has the target selectors, we may need to watcg the target pods change in controller-manager and take reaction to

[2020-09-11 07:42] YangKeao commented on #799
Yes. We haven't paid attention to reapply chaos when related pods are deleted. This also makes sense for `StressChaos`, `IoChaos`...

It's really difficult to decide what to do when a pod is killed, especially considering the behavior of not `all` selector. Doing nothing and waiting until the next execution is really a simple but awful solution :crying_cat_face:. But at least, in the next executio

[2020-09-11 09:51] Colstuwjx commented on #799
There are some considerations:

1. we did have pod target selectors, and we did [utils.SelectAndFilterPods](https://github.com/chaos-mesh/chaos-mesh/blob/f886e142ac8d05c47ea54e6b12915727b1a36d32/controllers/networkchaos/partition/types.go#L113) once NetworkChaos resource applied;

2. we could consider to watch POD change and filter the target pods at each time, and we could maintain the pod change

[2020-09-11 10:25] YangKeao commented on #799
@Colstuwjx Consider a situation: if the selector mode is not `all`, but 80 percent. When a selected pod is deleted and a new pod is created, should the new pod be selected? and should chaos-mesh regenerate the content of ipset?

I don't think we should treat `all` mode special :cry:

[2020-09-11 10:29] Colstuwjx commented on #799
It's just a re-balance problem, if a pod is deleted and a new one created instead, NetworkChaos all cares should be `target pods set has been changed`, and yes, it should do reaction and rebalance. WDYT?

[2020-09-12 15:56] #718 closed

[2020-09-12 15:56] #687 closed

[2020-09-13 15:14] yeya24 commented on #878
Great work @fewdan. This should be fixed already and I will close this issue.

[2020-09-13 15:14] #878 closed

[2020-09-14 02:10] Gallardot commented on #650
I'm still working on this issue. Some JVM permissions are bothering me.

[2020-09-14 02:16] STRRL commented on #650
@Gallardot Could you share your idea with us?😁

[2020-09-14 05:17] NarzeusNabartey opened #899 "No Daemon Created"
I have successfully installed Chaos-mesh in my local environment

<img width="559" alt="Screen Shot 2020-09-14 at 1 09 03 PM" src="https://user-images.githubusercontent.com/53075732/93046405-49121e80-f68c-11ea-88bd-3bc825a9a43d.png">

However in my private cluster in cloud chaos-daemon pod didn't spawned.
<img width="542" alt="Screen Shot 2020-09-14 at 1 12 09 PM"
 src="https://user-images.githubu

[2020-09-14 05:47] NarzeusNabartey opened #900 "Illegal Limit Error Message"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc

[2020-09-14 06:19] cwen0 commented on #899
@NarzeusNabartey Can you check the `Taint` on your Kubernetes nodes?  You can refer to https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/. In addition, Can you make sure your Kubernetes nodes allow Daemonset pod to run on them?

[2020-09-14 06:36] YangKeao commented on #900
Can you tell me the version of chaos-mesh? You can get it through:

[code]

[2020-09-14 07:51] NarzeusNabartey commented on #900
Hi YangKeao. Thank you so much for the prompt reply. I upgraded the version to 0.9.1 and is now working. Many thanks.

[2020-09-14 08:11] NarzeusNabartey commented on #899
Hi cwen0. Thank you for your prompt reply. I looked into the daemonset that is supposed to be created in the chaos-testing namespace and i saw this:

<img width="633" alt="Screen Shot 2020-09-14 at 4 10 35 PM" src="https://user-images.githubusercontent.com/53075732/93060554-d724df80-f661-11ea-894e-865f7482eaff.png">

I described it and it has this error:

<img width="1665" alt="Screen Shot 2020-09

[2020-09-14 08:19] YangKeao commented on #900
Great! I will close this issue as it has been solved. If you have more question, feel free to reopen it :smile_cat:

[2020-09-14 08:37] YangKeao opened #902 "Error handling concerning about the side effect of some chaos"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Create and delete a StressChaos at a relatively fast speed.

[code]

[code]

**What did you expect to see?**

No `stress-ng` process is left in the container.

**What did you see instead?**

A lot of `stress-ng` processes are left in the container.

This is caused by the following logic in twophase reconcil

[2020-09-14 08:42] YangKeao commented on #902
A possible solution is to retry and apply the change to the current resource. At least, we should add finalizers to the new resource. We should be careful about any returning which may drop the information about finalizers.

[2020-09-14 10:07] NarzeusNabartey commented on #899
Solved It. I need to privileged scc to default.

[code]

Thank you so much.

[2020-09-14 10:07] #899 closed

[2020-09-14 12:22] NarzeusNabartey commented on #900
Hi YangKeao. The upgrade works in my local environment. However, when i applied it to out devtest environment in cloud, i am getting this error:
<img width="1307" alt="Screen Shot 2020-09-14 at 8 19 08 PM" src="https://user-images.githubusercontent.com/53075732/93085147-b3948000-f6c7-11ea-8b48-36c454218bbf.png">

Thank you for your reply.

[2020-09-14 12:49] Andrewmatilde opened #905 "The config watcher in pkg/webhook is hard to understand"
I think the watcher of sidecar was too heavy to understand. It had written for things far more than watching the config, mainly because the config was rendered from template.

I think render the config in watcher was not a good idea, the render may be moved out  as a single utile , then the chaos or controller may use it.This idea may from istio , but istio has a lot of render functions ,and there

[2020-09-14 12:51] cwen0 commented on #905
@Andrewmatilde We will delete the sidecar in this pr #826

[2020-09-14 13:02] Andrewmatilde commented on #905
@cwen0 Thanks for reply. I am a little confused about how the new iochaos implement works. I am working on HttpChaos it will used sidecar(image of envoy) to transfer the HTTP package. If I could use the same way to instead the sidecar or I could written my own injector implement??

[2020-09-15 02:21] nkguoym opened #907 "question about kubeconfig"
## Question
hi, chaos-mesh team. I am very excited when I find this project. I am very interested in chaos engineering.
But I am confused whether chaos-mesh has been run on production env?  because I think if run it on production env, we need to get the kubeconfig of production k8s cluster(If I understand wrong, correct me).

[2020-09-15 03:50] YangKeao commented on #905
@Andrewmatilde We can switch network namespace manually to replace the sidecar. The only difference between running binary in `chaos-daemon` directly and running binary in the sidecar is that the namespace of them differ.

For a go program, switching namespace internally (through `setns` system call) is a little difficult, so we can use `nsenter`. You can use `bpm` pkg in #826 ([example](https://g

[2020-09-15 03:55] zhouqiang-cl commented on #907
Hi @nkguoym
In some community users (TOP 5 internet company in China) using Chaos Mesh in production env. But most of our community users use it in testing env.

But even in testing env, they also need kubeconfig file(not in kind and minikube env)

[2020-09-15 03:55] Colstuwjx commented on #799
@YangKeao I've been submitted a PR for illustrating my idea, we could talk the implement details in the PR if we think it's a good idea for fixing this issue.

[2020-09-15 04:00] Gallardot commented on #899
Thank you @NarzeusNabartey . We can update this solution to the FAQ for OpenShift users. 😁

[2020-09-15 05:31] YangKeao commented on #900
@NarzeusNabartey Can you give me a longer screenshot (which should contain the backtrace below)?

And the version information of the chaos-mesh installed on this environment could also help a lot. You can get it through:

[code]

Just like what you have done on your local environment.

A possible workaround of this issue could be adding a direction field in the yaml.

[code]

We have set up a webh

[2020-09-15 05:40] YangKeao commented on #900
[code]

This command will show all the mutating webhook installed on the cluster. You can use it to verify whether the webhook of chaos-mesh has been installed on your cluster.

[2020-09-15 06:13] Andrewmatilde commented on #905
@YangKeao Thanks for your rely!! I think that's a great work , I will try it.

[2020-09-15 08:55] Colstuwjx opened #910 "Controller-Manager report inject-webhook channel has closed"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
[code]

**What did you expect to see?**
No errors report

**What did you see instead?**
chaos controller-manager continue to report errors:

[code]

relative issue #156 , but in my case, it didn't restart, just throw errors:

[code]

[2020-09-15 10:46] Colstuwjx opened #912 "Controller-Manager and dashboard crashLoopBackOff via helm install"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
```helm install chaos-mesh chaos-mesh/chaos-mesh --namespace=chaos-testing --set dashboard.create=true```

**What did you expect to see?**
Everything should be running after execute helm install.

**What did you see instead?**

controller-manager and dashboard stuck into Error/CrashLoopBackOff

[code]

and lo

[2020-09-15 10:52] cwen0 commented on #910
@Colstuwjx Thanks for your report, this issue you can refer here https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/webhook/config/watcher/watcher.go#L170. The channel may be closed caused by HTTP timeout, and we will restart watcher. Related issue: https://github.com/kubernetes/client-go/issues/334

[2020-09-15 10:53] cwen0 commented on #912
@Colstuwjx You need to apply the CRD file first. https://chaos-mesh.org/docs/installation/installation#step-2-create-custom-resource-type

[2020-09-15 10:57] Colstuwjx commented on #912
Yes, I've been missing it...
Thanks for your reply!

[2020-09-15 10:57] #912 closed

[2020-09-16 00:45] #664 closed

[2020-09-16 02:03] Colstuwjx commented on #910
Thanks for your reply! Now I learned the background!

BTW, if we confirm this issue, should us change the error level to warning? From now, there are too many such error logs in my controller-manager, and it might be a noise for troubleshooting.

[2020-09-16 02:40] cwen0 commented on #910
@Colstuwjx Yes, `warning` is better! Can you help us fix this issue?

[2020-09-16 02:42] cwen0 commented on #910
@Colstuwjx Our `log` pkg don't support `warning` level, you can set log level by `log.V().Info`

[2020-09-16 03:13] zhouqiang-cl commented on #433
Still valid

[2020-09-16 08:13] NarzeusNabartey commented on #900
Hi YangKeao. This is in our devtest env.

chaos-mesh version:
[code]
Traceback:
<img width="1673" alt="Screen Shot 2020-09-16 at 3 57 32 PM" src="https://user-images.githubusercontent.com/53075732/93309384-0e4bea00-f836-11ea-8f04-e25b3229d225.png">

network-delay.yaml
<img width="473" alt="Screen Shot 2020-09-16 at 3 57 47 PM" src="https://user-images.githubusercontent.com/53075732/93309522-32a7c6

[2020-09-16 08:43] #642 closed

[2020-09-16 09:50] YangKeao commented on #900
@NarzeusNabartey Have you tried deleting and reapplying this networkchaos? It could happen if you have applied this chaos before starting up current version of chaos-mesh.

Does this solution work?

[2020-09-16 10:15] #910 closed

[2020-09-16 21:33] sbhaita opened #918 "Error:Post https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-chaos-mesh-org-v1alpha1-podchaos?timeout=30s: x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "chaos-mesh-controller-manager.chaos-testing.svc")"
## Bug Report

**What version of Kubernetes are you using?**
Kubernes 16.4

**What did you do?**
Installed chaos-mesh with standard installation script
# curl -sSL https://raw.githubusercontent.com/chaos-mesh/chaos-mesh/master/install.sh | bash

Install Chaos Mesh chaos-mesh
customresourcedefinition.apiextensions.k8s.io/httpchaos.chaos-mesh.org configured
customresourcedefinition.apiextensions.k8s

[2020-09-17 02:15] Colstuwjx opened #919 "CI Error: License compliance not happy"
## Bug Report

**What did you expect to see?**
Every PR should pass License compliance check.

**What did you see instead?**
There is license compliance error inside PR, for example, [this one](https://app.fossa.com/projects/git%2Bgithub.com%2Fchaos-mesh%2Fchaos-mesh/refs/branch/master/5e5280e0fbcc9234e3eeda7c66b64980b5f59137), and [this one](https://app.fossa.com/projects/git%2Bgithub.com%2Fchaos

[2020-09-17 03:03] NarzeusNabartey commented on #900
Hi YangKeao. Thank you for your answer. Adding direction: to in my yaml file makes it work.

<img width="315" alt="Screen Shot 2020-09-17 at 11 01 52 AM" src="https://user-images.githubusercontent.com/53075732/93415067-3b9ba500-f8d5-11ea-9533-652e4733664a.png">

Closing this issue. Will keep you guys posted on the progresses that we made. Great Job.

[2020-09-17 03:03] #900 closed

[2020-09-17 03:41] YangKeao commented on #919
I have removed this CI check. The license check is really stupid :angry: : only the maintainer can see the detail of it.

[2020-09-17 10:32] Colstuwjx opened #921 "delete networkchaos object would throw error at each time"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**
applied and deleted networkchaos object ( network-delay-test.yml )

**What did you expect to see?**
No error output, should ONLY print out networkchaos has been deleted.

**What did you see instead?**

At each time I delete the networkchaos object, I could see the following log:

[code]

[2020-09-17 10:37] cwen0 commented on #921
@Colstuwjx Thanks for your report, @WangXiangUSTC is working on it.

[2020-09-17 10:53] zhouqiang-cl commented on #918
@cwen0 @YangKeao PTAL

[2020-09-17 14:28] qhh0205 opened #923 "Experiment event finish_time NULL not update bug when dashboard stop for a while then start"
## Bug Report

**What version of Kubernetes are you using?**
`Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3"`

**What did you do?**
Hello, i have found a bug about event finish_time update, there's a problem in this scenario:
If there are some experiment are running, and the event are stored in database, and the event's finish_time filed are NULL, Now the dashboard(event

[2020-09-17 14:30] qhh0205 commented on #923
@fewdan

[2020-09-17 14:46] fewdan commented on #923
OK, let me see

[2020-09-17 16:37] fewdan commented on #923
https://github.com/chaos-mesh/chaos-mesh/blob/d8b4b11745e6dbbd357340ca127bdfd8265c51f8/pkg/store/event/event.go#L41
@qhh0205
I think it is possible to delete the incomplete (and not running) exp records after starting the dashboard and connecting to the db, as in events.

[2020-09-18 02:15] XGameCloud opened #925 "I can't see latency after I apply network-delay.yaml"
## Question
Env:
  OFF-LINE cluster
  docker: 18.06
  k8s: 1.15.1
  chaos-mesh: v0.9.1
Description:
  I follow the Doc(v0.9.1). At User Guide -> Run Chaos Experiment -> Step 3. I can't see 10ms latency after I use 'kubectl apply -f network-delay.yaml'.
  Here are some info about the whole system.
-------------------------------------------------------------
$ kubectl get nodes
NAME       STATUS

[2020-09-18 02:16] qhh0205 commented on #923
@fewdan Yes, you are right! Now no problem. Good!

[2020-09-18 02:16] #923 closed

[2020-09-18 03:06] cwen0 commented on #925
@XGameCloud Can you check if there is a chaos-daemon pod run on the node with IP `172.16.44.49` ? I guess that your target pod is on the master node and `172.16.44.49` IP belongs to the master node. Your master node doesn't allow to deploy chaos-daemon pod on it during to `Taints` and you can refer this doc https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/ to check your

[2020-09-18 03:25] XGameCloud commented on #925
The hostname of 172.16.44.49 is xcloud49. and Yes, there is a chaos-daemon pod run on 172.16.44.49.
-----------------------------------------------------------------------------
Here is some log.There are so many errors.
2020-09-18T03:03:54.931Z        ERROR   inject-webhook  channel has closed, should restart watcher
2020-09-18T03:03:54.931Z        ERROR   setup   watcher got error, try to restar

[2020-09-18 03:39] cwen0 commented on #925
This watcher will be restarted automatedly and we have used `info` level log instead of `Error` level in latest version. About this issue, maybe this [FAQ](https://chaos-mesh.org/docs/faqs#q-i-have-deployed-chaos-mesh-and-created-podchaos-experiments-successfully-but-i-still-failed-in-creating-networkchaostimechaos-experiment-the-log-is-shown-below) can help you. You can open `hostNetwork` and the

[2020-09-18 05:26] cwen0 commented on #918
@sbhaita I guess that this issue is caused by the old configure of Chaos Mesh. You did not clean up the old version of the configuration. You can run the following commands to reinstall:

[code]

[2020-09-18 06:35] XGameCloud commented on #925
Thanks a lot. I give it a try. 👍

[2020-09-18 13:44] sbhaita commented on #918
Thank you for your feedback...I will give this a try and will get back to you

[2020-09-21 03:28] YangKeao commented on #688
Still valid. After 1.0 release, I will try to test chaos-mesh on GKE (and maybe more cloud services)

[2020-09-21 04:17] yeya24 commented on #543
This is not needed anymore as the new iochaos impl doesn't use a sidecar.

[2020-09-21 04:17] #543 closed

[2020-09-21 07:28] Colstuwjx commented on #925
@cwen0 I've never seen the relative log:

[code]

Are you sure that it's relative to #910 and fixed?

[2020-09-21 07:47] #854 closed

[2020-09-21 08:38] marvinlchen opened #934 "Support injecting faults into native components of Kubernetes."
From the roadmap, v2.0 will develop the feature of "Support injecting faults into native components of Kubernetes".

Why v0.9 cannot do this?
I tried "PodChaos" and it works, but "NetworkChaos" doesn't.

[2020-09-21 08:44] cwen0 commented on #934
@marvinlchen At present, Chaos Mesh relies on Kubernetes, If we run chaos experiment and make the Kubernetes cluster crash, users can't use Chaos Mesh to recover it anymore.

[2020-09-21 08:51] marvinlchen commented on #934
Thanks! But I want to understand why the CRD below cannot be enabled?
Here is the config and log in chaos-controller-manager.
--------------
apiVersion: chaos-mesh.org/v1alpha1
kind: NetworkChaos
metadata:
  name: network-delay-all-kubeproxy.yaml
spec:
  action: delay # the specific chaos action to inject
  mode: all # the mode to run chaos action; supported modes are one/all/fixed/fixed-percent/r

[2020-09-21 10:17] cwen0 commented on #934
@marvinlchen This comment maybe help you https://github.com/chaos-mesh/chaos-mesh/issues/839#issuecomment-679069829

[2020-09-21 15:59] jp-gouin opened #937 "failed calling webhook "mpodchaos.kb.io""
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
I deployed the helm chart of chaos-mesh using the following configuration on GKE :
[code]

**What did you expect to see?**
I expect to have the chart properly deployed and being able to deploy chaos resources.

**What did you see instead?**
Either creating experiment through the UI or using yaml resources i g

[2020-09-21 16:56] nunziox commented on #688
Thanks YankKeao,

also if can be useful.

Here the info you have requested me:

**ipset list output**

[code]

[code]
*qdisc list output*

[code]

*chaos-daemon logs*

[code]

[2020-09-21 22:59] #905 closed

[2020-09-22 03:54] YangKeao commented on #937
The `MutatingWebhookConfiguration` has been renamed to `chaos-mesh-mutation`.

To locate the problem, please provide us more logs in `controller-manager`. You can get it through `kubectl logs -n chaos-testing chaos-controller-manager-xxxxx`.

[2020-09-22 04:41] marvinlchen commented on #934
According to that comment, it may caused by using latest repo.

[2020-09-22 06:00] #934 closed

[2020-09-22 06:56] jp-gouin commented on #937
Hi @YangKeao please find bellow the logs of the pod :
[code]

[2020-09-22 10:21] XGameCloud commented on #925
I am at path: helm/chaos-mesh.
I try to modify the file values.yaml. I modify all the 'hostNetwork=true' and then use 'helm install chaos-mesh chaos-mesh/chaos-mesh --namespace=chaos-testing -f values.yaml'.
Everythings goes well. But, I came out the same error.

[2020-09-22 11:11] XGameCloud commented on #925
I have found a another strange thing.I try to use dashboard and I found I can not use browser to open it. But I can use 'curl' at local to access it.Am I network something wrong?By the way, I can use browser to open the web-show.

[2020-09-23 02:09] zhouqiang-cl commented on #651
reopen

[2020-09-23 02:09] zhouqiang-cl commented on #739
valid

[2020-09-23 02:09] zhouqiang-cl commented on #667
Not stale

[2020-09-23 02:10] zhouqiang-cl commented on #544
Not staale

[2020-09-23 03:41] YangKeao commented on #937
As I know there is nothing strange in your log, though the error is frightening. It seems that the network connection between the Kubernetes api-server and chaos-controller-manager doesn't work well. The Kubernetes api-server tried to send a webhook request to the controller-manager, but the controller-manager doesn't receive it.

You can try to run `curl https://chaos-mesh-controller-manager.chao

[2020-09-23 07:48] Colstuwjx opened #944 "failed to apply action if pod container is not ready"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**
As the example, I created the web-show pods and network-delay-test:

[code]

and while I delete the pod by manually, and pause\resume the chaos:

[code]

**What did you expect to see?**
The newly created pod should be applied the chaos rules.

**What did you see instead?**
The newly created pod didn't apply t

[2020-09-23 07:57] YangKeao opened #945 "Simplify the routine to create a new kind of chaos"
## Feature Request

Developing a new kind of chaos requires writing a lot of duplicated codes and modify many YAML files. And the [document](https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos) doesn't include how to use our `twophase` and `common` reconciler.

We have multiple ways to solve this issue:

- [ ] Simplify the controllers. I have done part of it in #940

- [ ] Develop a

[2020-09-23 07:59] YangKeao commented on #944
Nice catch! This could be a bug in `NetworkChaos` and `IOChaos`. Let me try to reproduce and fix it.

[2020-09-23 08:34] jp-gouin commented on #937
Hi thanks for the reply,

I got something from the curl : `curl https://chaos-mesh-controller-manager.chaos-mesh`
[code]

With the trust of the certificate :
[code]

[2020-09-23 08:48] YangKeao commented on #944
There are two different errors:

1. Fail to recover `web-show-7b477b5c6-jmwfw`. This error is expected because your pod has been deleted. However, this error will not block you from running the following logic.

2. Fail to start network chaos on new pod `web-show-7b477b5c6-s5mmm`. It's not expected. According to the log, the `controller-manager` failed to get the container id. I failed to reproduc

[2020-09-23 09:06] Colstuwjx commented on #944
I think it's quite easy to reproduce, you could try pause the networkchaos first, and delete the pod, while the pod is still in deleting phase, try resume the networkchaos at the same time, and you would meet this issue.

BTW, I also notice that it did have a retry process, unfortunately, I didn't see it fixed by itself. You could tweak the duration to a bigger value, for example:

[code]

and I'v

[2020-09-23 09:14] YangKeao commented on #937
@jp-gouin It seems that the controller-manager works well :disappointed: . Have you tried to create the `PodChaos` later? Maybe when you were creating the PodChaos, the `controller-manager` hasn't started up :facepalm: .

And you can also find some information about the webhook in kubernetes api-server if the log level is high enough, for example:

[code]

[2020-09-23 09:18] Colstuwjx commented on #944
I have a question, for this issue:

1. networkchaos -> paused;
2. pod deleted, and networkchaos paused->running, entered [this stage](https://github.com/chaos-mesh/chaos-mesh/blob/master/controllers/twophase/types.go#L140), and it failed since pod not ready;
3. since the networkchaos result is requeue at the previous step 2, controller entered [the if-else](https://github.com/chaos-mesh/chaos-mesh

[2020-09-23 09:37] WangXiangUSTC commented on #921
fixed in https://github.com/chaos-mesh/chaos-mesh/pull/942

[2020-09-23 09:37] #921 closed

[2020-09-23 09:49] jp-gouin commented on #937
Unfortunatly i get the same error after 1 day.

Could it be related to GKE and the fact that the masters are managed by Google ?

[2020-09-23 10:15] YangKeao commented on #937
No. `chaos-daemon` don't have to connect with Kube api-server. `chaos-daemon` exported a `hostPort` and will be connected from `controller-manager`. And I don't think this issue has any connection with `chaos-daemon`, because it failed even before the custom resources were created.

However, the network flux between `controller-manager` and Kubernetes `api-server` shouldn't be blocked, as they wil

[2020-09-23 10:15] WangXiangUSTC opened #947 "Add test case about using Chaos Mesh to test Etcd"
## Description

Need to add a case about using Chaos Mesh to test Etcd.

## Implementation

Using multiple chaos type to test Etcd, Including but not limited to:

- Pod chaos
- Network chaos
- Stress chaos
- Io chaos

And then record the test scenarios, processes, and result to document. Then commit this document under [multi_data_centers](https://chaos-mesh.org/docs/use_cases/multi_data_centers),

[2020-09-23 10:17] WangXiangUSTC opened #948 "Add test case about using Chaos Mesh to test TiDB"
## Description

Need to add a case about using Chaos Mesh to test TiDB.

## Implementation

Using multiple chaos type to test TiDB, Including but not limited to:

- Pod chaos
- Network chaos
- Stress chaos
- Io chaos

And then record the test scenarios, processes, and result to document. Then commit this document under [multi_data_centers](https://chaos-mesh.org/docs/use_cases/multi_data_centers),

[2020-09-23 10:36] #944 closed

[2020-09-23 10:45] WangXiangUSTC opened #950 "Document: add document about kill container"
## Problem

We lack the document about `Container Kill` in [Pod Chaos](https://chaos-mesh.org/docs/user_guides/podchaos_experiment).

## Description

Add the description of `Container Kill` in [Pod Chaos](https://chaos-mesh.org/docs/user_guides/podchaos_experiment).

## Implementation

Include the sample configuration file of `Container Kill` and some explain, just like `Pod Failure` and `Pod Kill

[2020-09-23 10:50] WangXiangUSTC opened #951 "Document: add some concepts about Chaos Engineering and Chaos Mesh"
## Problem

Now we lack some descriptions about Chaos Engineering and Chaos Mesh in the document, some users may be not familiar with them.

## Description

Add some description for concepts about Chaos Engineering to help users understand the Chaos Mesh.

## Implementation

Add an item Named `Concepts` to the document under [Overview](https://chaos-mesh.org/docs/), and add some description for co

[2020-09-23 10:50] Colstuwjx opened #952 "PR magic words documentation request"
## Question

Kubernetes prow bot offered a [page](https://prow.k8s.io/command-help) for commands, it's very convenient for contributors, I hope we could also have such thing in our doc, maybe CONTRIBUTING.md?

BTW, do we support `/hold` for holding the approved PR? For example, PR #946 is still in-complete, but it has been marked as `can merge`, so the bot merged it soon. If we support `/hold`, we

[2020-09-23 10:53] WangXiangUSTC opened #953 "Document: add a chaos demo in Get Started"
## Problem

Now we only tell users how to install Chaos Mesh in [Get Started](https://chaos-mesh.org/docs/installation/installation), but users may not know how to use it.

## Description

It's better to show a demo about how chaos works in `Get Started`.

## Implementation

[run_chaos_experiment](https://chaos-mesh.org/docs/user_guides/run_chaos_experiment) This document shows how to inject netwo

[2020-09-23 10:56] zhouqiang-cl commented on #952
Yes. I think we need.

[2020-09-24 07:23] g1eny0ung opened #959 "Multiple unexpected events generated after update a experiment"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T21:51:49Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f574309

[2020-09-24 08:05] fewdan commented on #959
Okay, let me take a look.

[2020-09-24 08:24] YangKeao opened #961 "Encapsulate multi-pod chaos"
Many kinds of chaos are sharing the same `Recover` logic. A typical `Recover` function is like below:

[code]

The `Recover` and `cleanFinalizersAndRecover` functions for other reconcilers (such as StressChaos and TimeChaos) even have the same AST :crying_cat_face: . We should encapsulate them into a base struct to avoid the code clone.

Copy & Paste is a shame for a project and programmer :facepa

[2020-09-24 20:04] abhisheknsit opened #964 "Restrict Chaos Injection to the Pods of the same namespace where chaos-experiment is created"
## Feature Request

**Is your feature request related to a problem? Please describe:**
In a multi-tenant cluster, we can't stop tenants from injecting chaos into other tenants namespace.
Creating a chaos-experiment in namespace A, can inject chaos in PODS in namespace B even though the user is not having permission over namespaceB.

**Describe the feature you'd like:**
Limit the pod or k8s object

[2020-09-25 00:48] #468 closed

[2020-09-25 04:34] STRRL opened #966 "Namespace-scoped chaos mode should support multiple namespaces."
## Feature Request

As https://github.com/chaos-mesh/chaos-mesh/pull/872#discussion_r494428425 says, we should support multiple namespaces.

It might act like combining N channel (from each ns) to 1 channel.

Need more thinking and designing. :)

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

*

[2020-09-25 04:40] STRRL opened #967 "Webhook SHOULD reject out-of-ns-scoped within namespace-scoped mode"
## Feature Request

Currently, we implement namespace-scoped mode by only watching target namespace(s). But we do NOT prevent user creating ChaosObejcts in other namespaces.

It's better that we prevent these operations.  It could reduce meaningless chaosobjects and keep workspace clean.

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**De

[2020-09-25 09:18] #959 closed

[2020-09-25 11:04] Yiyiyimu opened #980 "website: one but not three daemon is installed when check status"
## Bug Report

**What version of Kubernetes are you using?**
v1.18.0

**What did you do?**
Following installation guide and successfully installed chaos mesh on kind.

**What did you expect to see?**
When check pod installed by `kubectl get pod -n chaos-testing`, only one daemon is showed like
[code]

But on website, there would be [three daemon running](https://chaos-mesh.org/docs/installation/ge

[2020-09-25 11:08] zhouqiang-cl commented on #980
@Yiyiyimu good catch, would you like to create a pr add a comment or some other fix on the website?

[2020-09-25 11:33] Yiyiyimu commented on #980
Sure I'll fix it tonight

[2020-09-25 11:51] Yiyiyimu opened #981 "website: interactive tutorial typo in step 6"
## Bug Report
In step 6:
1. Define Experiment: the third paragraph repeat the description of NetworkChaos in step 5, while it should be about PodChaos
2. Apply Experiment: the second code block should check PodChaos but not NetworkChaos

[2020-09-25 12:06] zhouqiang-cl commented on #981
@cwen0 PTAL

[2020-09-25 20:59] zhouqiang-cl commented on #980
It is wired, I have three chaos-daemon, @cwen0 PTAL

[2020-09-26 11:25] Yiyiyimu opened #984 "website: go module could not been get without GOPROXY in China"
## Bug Report

**What version of Kubernetes are you using?**
v1.18.0

**What did you do?**

When following https://chaos-mesh.org/docs/development_guides/set_up_the_development_environment/#prepare-the-toolchain to setup development environment, the module "github.com/containerd/cgroups@v0.0.0-20200404012852-53ba5634dc0f" could not been get in China's network environment, at least in my environmen

[2020-09-26 11:56] Yiyiyimu commented on #984
duplicate. closed

[2020-09-26 12:02] Yiyiyimu commented on #984
It is duplication with #434 , but since it's could happens to multiple users, maybe it's better to give guidance on website to users in China.

[2020-09-26 13:08] Yiyiyimu opened #985 "website: change needed in `Develop a New Chaos`"
## Bug Report

**What version of Kubernetes are you using?**
v1.18.0

There are two places need to change:
1. In [Add the chaos object in controller](https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos/#add-the-chaos-object-in-controller), no need to change controller-manager-rbac.yaml anymore, since in #872

2. In [Make the Docker image](https://chaos-mesh.org/docs/development_guid

[2020-09-26 14:16] Yiyiyimu commented on #961
Although it seems not working but still

/assign @Yiyiyimu

[2020-09-26 15:39] Yiyiyimu commented on #985
3. In [Run Chaos](https://chaos-mesh.org/docs/development_guides/develop_a_new_chaos/#run-chaos), in helm v3 the command should change from
[code]
to
[code]

[2020-09-26 17:24] Yiyiyimu commented on #985
**HELP NEEDED**: helm install keeps failing since k8s could not connect to local registry. docker pull from local registry works.
error log:
[code]

[2020-09-26 17:44] Yiyiyimu commented on #985
OK, I finished the new chaos development guidance, and those are all the problems I met. If someone else met the same problem, plz leave comments here to make sure they could be reproduced, so we could fix the error on the website.

[2020-09-27 02:34] cwen0 commented on #980
The number of chaos-daemon depends on how many Kubernetes nodes we have!

[2020-09-27 02:39] cwen0 commented on #980
I will close this issue because this is not a bug. We can add a note to notify users about this.

[2020-09-27 02:39] #980 closed

[2020-09-27 11:23] Yiyiyimu commented on #961
The problem is a bit complicated than I thought, could you give me some guidance or reference @YangKeao ?

Currently I'm trying to passing the dynamic argument (which type of chaos) with an empty interface. But the type assertion
https://github.com/chaos-mesh/chaos-mesh/blob/d94435fdf5e6e4ffe623d43c81eaecb907c668ad/controllers/stresschaos/types.go#L122
could not be implemented dynamically, since `

[2020-09-27 12:04] dsam82 commented on #985
Thanks @Yiyiyimu, I also encountered same problems more or less but it got resolved in the end.

[2020-09-27 15:19] #831 closed

[2020-09-28 01:45] wuxiaohui94 commented on #748
/assign @wuxiaohui94

[2020-09-28 03:03] YangKeao commented on #961
@Yiyiyimu Maybe we could create an interface to replace `interface{}`, and the interface should contain all the necessary methods to run `Recover` and `cleanFinalizersAndRecover` such as `Finalizers()`...

I am working on a code generator for `chaos-mesh`. It seems that we need a lot of getters and setters. However, I haven't found a suitable pkg to do it directly, which quite amazed me.

[2020-09-28 05:23] wuxiaohui94 commented on #953
/assign @wuxiaohui94

[2020-09-28 05:29] cwen0 commented on #925
@XGameCloud Can you check the status of the chaos-dashbaord pod?

[2020-09-28 05:36] cwen0 commented on #925
I don't sure about it. Form the log he provided, I guess that some nodes may be not accessible to the node running controller-manager . @XGameCloud Can you check the network between the nodes and the status of the proxy pods?

[2020-09-28 05:39] cwen0 commented on #918
@sbhaita Is this issue fixed?

[2020-09-28 05:44] cwen0 commented on #981
@Yiyiyimu Can you help us fix it?

[2020-09-28 06:00] cwen0 commented on #964
@abhisheknsit Do you mean that the chaos object only has control over to its own namespace? I think this is just one of the usage scenarios. Sometimes, our target pods may be included in multiple namespaces, such as network partition. We can add a flag to control it, such as we can add a default field `scope: ns` in chaos object.

[2020-09-28 06:03] cwen0 commented on #964
@STRRL @Yisaer What is your opinion?

[2020-09-28 06:26] cwen0 commented on #886
@Gallardot I think it will be a good improvement!

[2020-09-28 06:29] abhisheknsit commented on #964
@cwen0 Yes, the chaos object being able to induce chaos in its own namespace.
We have a multi-tenant cluster, where in we don't trust any other tenant. The tenancy boundary for the tenants are namespaces and we are restricting access to resources via RBAC. We don't want tenant in one namespace be able to induce chaos in some other namespace.

I think a global flag to control should work.

[2020-09-28 06:29] Yiyiyimu commented on #981
@cwen0 Sure. It just I couldn't find the code of katacoda scenarios, could you give me some guide?

[2020-09-28 07:09] YangKeao commented on #981
@Yiyiyimu Thanks :beers: ! You can find the file in https://github.com/javajon/katacoda-courses/tree/master/kubernetes-chaos/chaos-mesh

[2020-09-28 07:09] cwen0 commented on #791
We can remove the `retry.RetryOnConflict` directly.

[2020-09-28 08:50] YangKeao opened #990 "Check whether pod is in `hostNetwork` before applying NetworkChaos"
Applying network chaos on a `hostNetwork` pod is dangerous. We should avoid it through checking before applying.

[2020-09-28 10:02] ari-hacks commented on #951
👋🏾 I'd like to take this one.

[2020-09-28 12:29] ChristopherLenz opened #992 "Ingress of Helm-Chart is referring to wrong service"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff607952a323df90cdc7a335", GitTreeState:"clean", BuildDate:"2020-04-08T17:38:50Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.10", GitCommit:"1bea6c00

[2020-09-28 13:52] Colstuwjx commented on #950
/assign @Colstuwjx

[2020-09-28 16:39] dsam82 commented on #544
I would like to take this issue if anyone else is not working. I've gone through the source code and may need some initial guidance.

[2020-09-28 16:50] yeya24 commented on #544
@dsam82 Sure please go ahead. If you have any questions, feel free to ask here or on our slack channel.

[2020-09-28 17:13] Yiyiyimu commented on #981
Close due to issue fixed.

[2020-09-28 17:13] #981 closed

[2020-09-28 20:09] daftping opened #993 "Update deprecated api group rbac.authorization.k8s.io/v1beta1"
## Bug Report
rbac.authorization.k8s.io/v1beta1 deprecated in v1.8 and will no longer be served in v1.20
There are many reference rbac.authorization.k8s.io/v1beta1 in the code base.

**What version of Kubernetes are you using?**

v1.16

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

[2020-09-29 06:04] #993 closed

[2020-09-29 07:31] Gallardot commented on #992
@ChristopherLenz  Thanks for your report. Can you help us fix it?

[2020-09-29 12:00] #516 closed

[2020-09-29 12:26] zhouqiang-cl opened #998 "There are many deadlink"
## Bug Report
Thank you for @Yiyiyimu 's Markdown check CI
There are many deadlink show in

https://github.com/chaos-mesh/chaos-mesh/runs/1181929929

Some of it like this
[code]
**What did you expect to see?**

**What did you see instead?**

[2020-09-29 12:52] Yiyiyimu commented on #998
Hi @zhouqiang-cl , I'm trying to fix them now :)

Also, we could find there are still many `429 - too many request error` as we talked [before](https://github.com/chaos-mesh/chaos-mesh/pull/987#issuecomment-699647505). Luckily it just [got fixed](https://github.com/tcort/markdown-link-check/pull/106). We'll see if it could work.

[2020-09-29 12:57] zhouqiang-cl commented on #998
Great, thank you , Wu

[2020-09-29 13:24] yeya24 commented on #998
Yep this linter seems also very flaky. Let's see how things go.

[2020-09-29 20:42] mikechengwei opened #1000 "Add pod-notReady experiment"
## Feature Request

**Is your feature request related to a problem?

Now we just provide pod-failure and pod-kill experiment, we can provide pod-notReady experiment that we can take off the Pod traffic and not kill or replace pause image.

**Describe the feature you'd like:**
Yaml like below:
[code]

**Describe alternatives you've considered:**
We can use ['Readiness-gate Feature'](https://kuberne

[2020-09-29 20:44] mikechengwei commented on #1000
/assign

[2020-09-29 20:57] mikechengwei opened #1001 "Add expect features to the experiment."
## Feature Request

**Is your feature request related to a problem? Please describe:

Sometimes, we make an experiment and check whether the status is correct manually. We can add expect features to the experiment.
For example, i want to add an e2e test that check failover mechanism in tidb operator, when one tikv pod down,after 30 minutes,a new tikv data node will join cluster. It is my expected

[2020-09-29 20:57] mikechengwei commented on #1001
/assign

[2020-09-29 21:18] yeya24 commented on #1001
I think this feature is very useful and important. But as far as I can see, the feature's scope is very large. Can you please have a proposal or a more detailed design doc first to describe what are your goals to achieve and your design?

Another thing is that I am wondering whether `expected` should be part of the chaos experiment itself.  Based on the [KISS principle](https://en.wikipedia.org/wi

[2020-09-30 02:56] zhouqiang-cl commented on #1000
I think this feature is very valuable to enhance Chaos Mesh

[2020-09-30 03:13] #990 closed

[2020-09-30 03:20] mikechengwei commented on #1000
Ok, i will finish it.

[2020-09-30 03:21] mikechengwei commented on #1001
Ok , i will submit a proposal.

[2020-09-30 03:49] NarzeusNabartey commented on #925
Hi Guys. I am also experiencing the same issue "no route to host" in one of our namespace.

2020-09-30T03:26:43.240Z	ERROR	controllers.NetworkChaos	error while creating podnetworkchaos	{"reconciler": "networkchaos", "action": "netem", "error": "admission webhook \"vpodnetworkchaos.kb.io\" denied the request: rpc error: code = Unavailable desc = connection error: desc = \"transport: Error while dia

[2020-09-30 04:03] Yiyiyimu opened #1002 "bug: SIG link update needed for ti-srebot"
Thanks for your review. The bot only counts LGTMs from Reviewers and higher roles, but you're still welcome to leave your comments. See the corresponding SIG page for more information. Related SIG: [chaos-mesh]()([slack](https://slack.tidb.io/invite?team=tidb-community&channel=sig-chaos-mesh&ref=github)).

_Originally posted by @ti-srebot in https://github.com/chaos-mesh/chaos-mesh/pull/999#issuec

[2020-09-30 04:05] zhouqiang-cl commented on #1002
@AndreMouche PTAL

[2020-09-30 04:14] zhouqiang-cl commented on #998
Seems still have some flaky link

[2020-09-30 04:50] Yiyiyimu commented on #998
@zhouqiang-cl yes it seems both new filters failed.

I'm thinking to use this to filter out what we don't need:
[code]
The first two are acceptable, but with the third one we'll definitely over-filter some broken links of github. The good news is most of github links work well under my experiment, but still I don't know if that would be acceptable.

[2020-09-30 05:21] zhouqiang-cl commented on #769
valid

[2020-09-30 06:00] 1964405262 opened #1003 "bug: There lacks a } in install.sh"
## Bug Report

**What version of Kubernetes are you using?**
v1.18.6

**What did you do?**
I installed chaos-mesh by running install.sh

**What did you see instead?**
install.sh:行1584: 语法错误: 未预期的文件结尾

After checking install.sh , I found there lacks a } on line 597

[2020-09-30 06:30] NarzeusNabartey opened #1004 "Error in applying crd.yaml"
Hi. I am trying to install this to our other Devtest Environment running with Openshift 3.9. However, i am having an error in installation.

<img width="1678" alt="Screen Shot 2020-09-30 at 2 15 53 PM" src="https://user-images.githubusercontent.com/53075732/94649751-e5445280-0327-11eb-9c55-3231a147f590.png">

My other installation was successful in Openshift 3.11 and my local env.

Many thanks,
Ze

[2020-09-30 06:52] Thearas opened #1005 "./install.sh: line 1584: syntax error: unexpected end of file"
I followed the document and run `./install.sh --local kind`, but got an error:
`./install.sh: line 1584: syntax error: unexpected end of file`
I use [shellcheck](https://github.com/koalaman/shellcheck) to find out the reason:
The right brace of function `install_kind()` is missing.

[2020-09-30 06:57] Thearas commented on #1005
Duplicate of #1003

[2020-09-30 06:59] #667 closed

[2020-09-30 07:10] #1005 closed

[2020-09-30 07:30] WangXiangUSTC commented on #1003
What is the version of Chaos Mesh are you use?

[2020-09-30 07:33] Thearas commented on #1003
The master branch.

[2020-09-30 07:42] zhouqiang-cl commented on #1003
introduce by https://github.com/chaos-mesh/chaos-mesh/pull/955/files#diff-3fbb47e318cd8802bd325e7da9aaabe8L589

[2020-09-30 07:44] WangXiangUSTC commented on #1003
thanks, fixed in https://github.com/chaos-mesh/chaos-mesh/pull/1006

[2020-09-30 07:46] zhouqiang-cl commented on #1004
@yeya24 Could you please help to take a look

[2020-09-30 07:46] zhouqiang-cl commented on #1002
We will remove this 😝

[2020-09-30 08:02] zhouqiang-cl commented on #1003
Fixed, but has a cache, maybe take some time to work

[2020-09-30 10:16] zhouqiang-cl commented on #1003
@1964405262 @Thearas guys，you can try v1.0.0 first

[2020-09-30 10:27] jontutcher commented on #937
@jp-gouin are you running a private GKE cluster by any chance? If so, it's likely you need a Firewall to permit access from the Kube API server through to the nodes the webhook endpoint is running on.

Can't find the GKE docs to hand, but a similar issue is mentioned in the cert-manager docs here for that project: https://docs.cert-manager.io/en/release-0.8/getting-started/webhook.html#running-on-

[2020-09-30 13:28] jp-gouin commented on #937
Hi @jontutcher that was it thanks !
In this particular case we have to extends the firewall rule that allow our nodes to communicate with masters by authrorizing all tcp connections.

I close the issue 👍

[2020-09-30 13:28] #937 closed

[2020-09-30 15:04] Gallardot commented on #1004
@NarzeusNabartey May be you can try this on Openshift 3.9
[code]

refer [feature-gates](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/)

[2020-09-30 15:13] yeya24 commented on #1004
I wouldn't say it is a bug because openshift 3.9 is too old. From what I can find one possible workaround is https://github.com/argoproj/argo-cd/issues/2423#issuecomment-539655175. Can you please take a look?

You can manually install the CRD file https://github.com/chaos-mesh/chaos-mesh/blob/release-1.0/manifests/crd.yaml here.

[2020-09-30 19:35] daftping opened #1007 "Update deprecated api group admissionregistration.k8s.io/v1beta1"
## Bug Report
All WebhookConfigurations [uses v1beta1 API](https://github.com/chaos-mesh/chaos-mesh/search?q=admissionregistration.k8s.io%2Fv1beta1)
Also v1 version of Admission should be used  https://github.com/chaos-mesh/chaos-mesh/search?q=%22admission%2Fv1beta1%22

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals
The admissionregistrat

[2020-10-01 01:50] cwen0 commented on #1007
@daftping Does this upgrading make the Chaos Mesh unavailable in old version Kubernetes?

[2020-10-01 03:10] daftping commented on #1007
@cwen0 Yes, v1 version works only from 1.16. If we still want support Kubernetes version below 1.16 we have some time
because technically support will be dropped only in 1.22.
https://github.com/kubernetes/kubernetes/issues/82021#issuecomment-636873001

[2020-10-01 05:58] NarzeusNabartey commented on #1004
Hi Team. I manually install the crd.yaml. I remove the validation part and it works. Thank you so much. We can close this now.

[2020-10-01 05:58] #1004 closed

[2020-10-01 09:13] #992 closed

[2020-10-01 13:59] Yiyiyimu commented on #961
@YangKeao Sorry I'm a bit occupied these days and failed to reply on time.

Thank you for your suggestions! Learn something new for go!
It just there is some other problem. `Finalizer` and `Annotations` would work well for this situation. But in `recoverPod` used by `cleanFinalizersAndRecover`, there would be variables like `Status` and `Spec` which are chaos(type)-specific, that could not been pu

[2020-10-01 14:03] Yiyiyimu commented on #961
I just notice your PR #940 . I'll try to read it tomorrow and it must be a great reference for this issue.

[2020-10-01 22:00] dsam82 commented on #544
So, got to learn a lot about chaos-mesh from this issue.
Regarding the issue, I still have some doubts regarding the implementation. If we pause the experiment for the duration, then how should we resume it after the duration completes?
Can we set next-recover to `current time + Pause duration` in the [twophase controller](https://github.com/chaos-mesh/chaos-mesh/blob/master/controllers/twophase/t

[2020-10-02 02:36] zhouqiang-cl commented on #1003
Seems the cache has been flushed, so it is worked now, Closing this issue, feel free to reopen it if it still can not work

[2020-10-02 02:36] #1003 closed

[2020-10-02 10:36] #998 closed

[2020-10-02 10:42] zhouqiang-cl commented on #1007
@daftping Thank you, I think we still need to keep v1beta1 for a while

[2020-10-02 10:55] zhouqiang-cl commented on #937
@jontutcher @jp-gouin thank you very much

[2020-10-02 11:03] zhouqiang-cl commented on #953
@wuxiaohui94 thank you ❤️

[2020-10-02 14:20] ari-hacks commented on #951
/assign @ari-hacks

[2020-10-02 15:11] g1eny0ung commented on #885
Of course. We are glad you can help us to done this issue. 😆

[2020-10-03 05:11] Shivansh2407 commented on #885
@g1eny0ung can you please specify, what tech stacks do the docs website use?

[2020-10-03 08:40] Yiyiyimu commented on #1002
Thank you @zhouqiang-cl !

Another problem is that the ti-srebot would jump out every time I make a reply for the code review. I think maybe it could filter out if there is `LGTM` and then decide whether to jump out. Or is it that I missed some registration so it tries to inform me? I'm a bit confused 😕

[2020-10-03 11:56] zhouqiang-cl commented on #1002
No，you did not miss anything，It is a bug of bot 😯，I think it will be fixed after the nation day。I am sorry for the confuse

[2020-10-03 12:15] zhouqiang-cl commented on #925
@cwen0 @YangKeao PTAL

[2020-10-03 12:36] Yiyiyimu commented on #1002
That would be great! Thx!

[2020-10-03 12:36] #1002 closed

[2020-10-03 13:38] cwen0 commented on #925
@NarzeusNabartey Hi, Can you make sure if the node with `controller-manager` pod can access to the node with IP`12.15.62.245`?

[2020-10-04 03:31] #984 closed

[2020-10-04 11:07] Yiyiyimu commented on #694
Hi @YangKeao I tried to get debug info of NetworkChaos and StressChaos, following your steps. But for me, the project still looks like a script, like to use one command instead of several ones. Like for `several nodes affected by one chaos`, we could get the list of the nodes and get the debug info as we do to one node.

The only problem with this is I can't see the extensibility of it... I think

[2020-10-04 15:16] Yiyiyimu commented on #888
Hi @cwen0 , I'm applying community bridge and I'm willing to work on this feature. It would be so useful to inject chaos on applications that not mainly work on k8s, like what I'm doing to APISIX, so this is the feature I would also use.

I think I just figured out how to implement this feature. We don't need to change how to implement chaos, we just need to change its target from pod to non-k8s p

[2020-10-05 02:12] namco1992 commented on #694
Hi @cwen0 @YangKeao, since we are running daemonset with privileged mode and if I understood it correctly, the examples you mentioned (NetworkChaos, StressChaos and IOChaos) are also executed by the daemonset, then is it possible to have the daemonset collect the debug data we need and stream back to the controller through gRPC? I believe this way is extendable and could be helpful if we decide to

[2020-10-05 03:23] Yiyiyimu commented on #694
@namco1992 Integrating with dashboard is really a great idea. That would be much easier to use, especially for complicated situations like one chaos affecting multiple nodes. Also using daemonset to collect debug info is quite promising, since from what we need right now, debug info is usually the config of commands executed by daemonset, so it's very easy to collect them. Actually I don't think w

[2020-10-05 10:32] nunziox commented on #688
Hi,

any ETA for this ?

[2020-10-05 11:23] namco1992 commented on #694
Hello @Yiyiyimu, I think probably the debug mode doesn't have to be always on and most of the time could be just a one-off data collection for getting a snapshot of current status. Another approach could be just return a stream when calling `ChaosDaemonServer`. I think currently we either return empty or just some basic metadata of the chaos. In the future, the streaming could be useful if we want

[2020-10-05 12:54] YangKeao commented on #688
@nunziox We are still on our national days' holiday 😎 (10.1 - 10.8). I will give you an update of this issue during the first week after holiday (and I am thinking about how to implement NetworkChaos without `EMATCH_IPSET` kernel config, if the default image of GKE doesn't ship with it 😢 ).

[2020-10-06 02:17] #789 closed

[2020-10-07 00:51] #731 closed

[2020-10-08 12:02] kapilbalwani opened #1020 "Controller-Manager pod not working"
Pod showing below error and going in Crash loop backoff state:

[k8user@EVRHVFNCLL010 chaos-mesh]$ kubectl get pods -n chaos-testing
NAME                                        READY   STATUS             RESTARTS   AGE
**chaos-controller-manager-5477d979f7-p8m4z   0/1     CrashLoopBackOff   5          4m23s**
chaos-daemon-4xq65                          1/1     Running            0          4m23s
c

[2020-10-08 13:07] #1020 closed

[2020-10-08 13:07] kapilbalwani commented on #1020
Was fixed

[2020-10-09 00:51] #739 closed

[2020-10-09 00:51] #510 closed

[2020-10-09 00:51] #651 closed

[2020-10-09 00:51] #480 closed

[2020-10-09 07:54] YangKeao commented on #694
@namco1992 I don't think streaming debug information (like logs or statistic data) back to controller-manager is a good choice for this issue, because:

1. Controller doesn't have any storage and is still stateless yet. But if the debug information is streamed back, it has to be stored somewhere.

2. The "debug information" for most chaos doesn't change frequently.

IMO, in the first stage of debu

[2020-10-09 07:57] YangKeao commented on #694
@Yiyiyimu The extensibility means the developers could extend the collector simply, when he add a new kind of chaos resource.

[2020-10-09 15:46] mikechengwei opened #1027 "optimize local development install script"
## Feature Request

**Is your feature request related to a problem?
When local development , we need to execute multiple steps install chaos mesh.
I think we can provide a  script that only install once.

**Describe the feature you'd like:**
I merge below steps into `local-up-operator.sh` script.

1. Build the image
2. Load image into Kubernetes nodes
3. Deploy Chaos Mesh

User only need to execut

[2020-10-10 04:14] #835 closed

[2020-10-10 06:26] #666 closed

[2020-10-10 06:40] #951 closed

[2020-10-12 00:53] #746 closed

[2020-10-12 05:49] YangKeao commented on #688
@nunziox I have tried to run `e2e-test` on GKE.

As shown in the test, nearly everything except traffic control with filter works. I checked the kernel config and found that `CONFIG_NET_EMATCH` is not enabled for GKE.

[code]

It seems that I have to find another way to do this thing. A possible solution came into my mind is that:

1. Set mark with iptables

2. Use `tc-u32` filter to filter them o

[2020-10-12 06:46] namco1992 commented on #694
@YangKeao Yes I agree with you, regarding the scope of this issue, streaming back the debug info is not the ideal way. I was trying to shove the live status and reporting into this scenario and it might not be a good idea. 😅

[2020-10-12 15:31] wuxiaohui94 commented on #748
[https://github.com/helm/hub/pull/475](url)
The Helm Hub is going to be deprecated soon,so I add  a repository of Chaos Mesh on https://artifacthub.io/.

[2020-10-13 05:41] NarzeusNabartey commented on #925
Hi Guys. I am very sorry for the late reply. After so many troubleshooting and testing, it seems that at some point communication between namespaces are not automatic by default. I am able to solve this issue using the code below in Openshift 3.11

[code]

This issue is close on my end. Many thanks.

Zeus

[2020-10-13 05:45] #925 closed

[2020-10-14 00:53] #756 closed

[2020-10-14 00:53] #757 closed

[2020-10-14 05:52] YangKeao opened #1047 "Add e2e test for external network delay"
There is no e2e test and documents for external network delay and partition now :facepalm: .

The e2e test could be found in `/test/e2e/chaos/basic.go`. Reading other tests in that file could help accomplish this issue.

[code]

[2020-10-14 06:06] YangKeao opened #1048 "Add e2e test for mix of network delay and partition"
After #1031, add network delay will also run iptables commands, so we need to test whether they can work together.

[2020-10-14 07:55] YangKeao opened #1050 "refine error handling in chaos mesh"
There are a lot of different patterns about the error handling in Chaos Mesh. Sometimes we use `github.com/pkg/errors`. Sometimes we use `errors` in the standard library.

We should agree on one pattern of handling errors and document it to guide programmers.

We can learn a lot from other operators such as `argo` or `etcd-operator` (though it is archived now)

[2020-10-14 15:52] cwen0 opened #1053 "Enable pprof in Chaos Dashboard component"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Sometimes we need to locate some Chaos Mesh issues, such as performance, memory leaks, etc. I think pprof can help us. In addition, we have enabled pprof in other components except chaos-dashboard, so I also need to enable pprof in the chaos-dashboard component.

[2020-10-15 06:53] zhouqiang-cl commented on #748
@wuxiaohui94 thank you

[2020-10-15 08:01] #748 closed

[2020-10-15 08:53] Shaofa opened #1058 "pod chaos-controller-manager and chaos-dashboard CrashLoopBackOff"
## Bug Report

**What version of Kubernetes are you using?**
[code]

**What did you do?**

install chaos-mesh with helm: https://chaos-mesh.org/docs/installation/installation#install-by-helm

**What did you expect to see?**
all pods keep running

**What did you see instead?**
chaos-controller-manager and chaos-dashboard CrashLoopBackOff
[code]

[2020-10-15 12:31] cwen0 commented on #1058
@Shaofa Can you check if all`kube-proxy` pods are healthy? From the log provided by you, the `controller-manager` pod didn't access to `kube-proxy` pod.

[2020-10-16 06:40] Shaofa commented on #1058
there're too many nodes in my cluster, how can i install it on one node

[2020-10-16 07:22] cwen0 commented on #1058
@Shaofa Do you mean that you want to restrict the controller-manager to a specific node? If you want to do it, you can refer to this https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/, set a specific label for the node, and add `nodeSelector` for the controller-manager pod.

[2020-10-16 08:05] BUERCRAZY opened #1060 "Error from server (InternalError): error when creating "network-delay.yaml""
## Question

when I execute "kubectl apply -f network-delay.yaml"
this error occurred:
Error from server (InternalError): error when creating "network-delay.yaml": Internal error occurred: failed calling webhook "mnetworkchaos.kb.io": Post https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-chaos-mesh-org-v1alpha1-networkchaos?timeout=30s: dial tcp 172.31.251.206:443: connect: conne

[2020-10-16 08:27] cwen0 commented on #1060
@BUERCRAZY I think this [FAQ](https://chaos-mesh.org/docs/faqs#q-i-have-deployed-chaos-mesh-and-created-podchaos-experiments-successfully-but-i-still-failed-in-creating-networkchaostimechaos-experiment-the-log-is-shown-below) can help you.

[2020-10-17 06:22] Colstuwjx opened #1067 "Get Started links from README has been broken"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What did you do?**

Click the links from README.md:

[code]

**What did you expect to see?**
Show me the pages.

**What did you see instead?**
Page Not found.

BTW, these two links should be:

[code]

rather than:

[code]

I think this issue should be a good-first-issue for our new-coming contributors.

[2020-10-17 06:58] Colstuwjx commented on #1050
With the upcoming [Go 2 error proposals](https://go.googlesource.com/proposal/+/master/design/go2draft.md), `github.com/pkg/errors` has been moving into maintenance mode.

Therefore, I think it's not a good idea to use this pkg directly, instead, I suggest we make an error pkg, just like argo [did](https://github.com/argoproj/argo/blob/master/errors/errors.go). It's flexible enough for our repo.

[2020-10-17 08:47] Colstuwjx commented on #1048
/assign

[2020-10-17 08:57] Colstuwjx opened #1070 "Multi-DC chaos question"
## Question

I've seen our document about [multi-dc](https://chaos-mesh.org/docs/use_cases/multi_data_centers) or [three-dc](https://github.com/chaos-mesh/apps/tree/master/three-centers) chaos experiment, but they all assumes that the chaos happens on one k8s cluster, which is not applicable to the real world.

The fact is, we may setup one cluster on each dc, and how we make chaos in such environ

[2020-10-17 09:12] Colstuwjx commented on #1053
/assign

[2020-10-17 11:43] Colstuwjx opened #1072 "Make pkg doesn't reference controller gloabl variables (e.g. common.ControllerCfg )"
## Feature Request

**Is your feature request related to a problem? Please describe:**

It's not a good idea to reference controller(a.k.a business code) variables from pkg(a.k.a common libraries), it may introduces cycle imports, and I did find one, the common.ControllerCfg, it has been used by [pkg/utils/selector.go](https://github.com/chaos-mesh/chaos-mesh/blob/212da2d5095666bde793a9b4d636abfc3

[2020-10-17 11:48] Colstuwjx commented on #1072
BTW, there is a [twophase reference](https://github.com/chaos-mesh/chaos-mesh/blob/cf9e1ca11670df27b2b8995b0f4942cf96142330/pkg/router/reconciler.go#L87) which is also a potential cycle import point.

[2020-10-17 12:27] cwen0 commented on #1067
@Colstuwjx Thanks for your report! Can you help us to fix it?

[2020-10-17 12:33] cwen0 commented on #1070
@Colstuwjx You can try to set [ExternalTargets](https://github.com/chaos-mesh/chaos-mesh/blob/master/api/v1alpha1/networkchaos_types.go#L164) for your NetworkChaos.

[2020-10-17 14:15] Colstuwjx commented on #1067
Yes, I have been submitted PR #1073 , and I think the root cause should be that we didn't show the latest content in our website, so our users see out-of-date content, and may misunderstand.

I suggest that we mark #885 as more higher priority, and change to always show the latest content in our website, just like [k/website](https://github.com/kubernetes/website) did.

[2020-10-18 00:57] #743 closed

[2020-10-18 11:24] #1067 closed

[2020-10-19 00:56] #735 closed

[2020-10-19 02:06] BUERCRAZY commented on #1060
Thanks a lot!

[2020-10-19 03:05] #950 closed

[2020-10-19 05:41] YangKeao commented on #1072
Yes. I have faced a lot of cycle import problems while developing #940 :sob:

I felt that the lack of `namespace` is the source of cycle import, because we have to split things into package (which cannot cycle import) in go but cannot split them into `namespace` (which is safe to cycle import).

I don't know whether creating such a lot small packages is a good practice, as it will really bring a l

[2020-10-19 05:51] #985 closed

[2020-10-19 07:04] Colstuwjx commented on #1072
TBH, I'm not clear understand with your so-called `namespace`, if it means package namespace, I suggest we setup some code regulations for it. From now, we add packages under the `pkg` folder as needed, and of course, it may introduce cycle import risks.

There are some suggestions, in my opinion:

1. common libraries could put into `utils` or sth like `lib`, make it as a purge lib;
2. common logi

[2020-10-19 08:24] STRRL commented on #1072
Unfortunately, go does NOT support cycle dependency.

If A imports B and B imports A, then A and B is actually one thing. We could make an interface `I` to describe it.
From another vision, DI/IoC containers could tolerance these bad smells on program's logic. But not for cycle imports, go will throw errors during compling.

As @Colstuwjx says, only well-designed structure could resolve this.

[2020-10-19 10:56] Yiyiyimu opened #1078 "Bug: codedev wrongly use 7e9ff3f as master"
## Bug Report

**What did you do?**
Every PR would have relatively same codecov report. And the reason seems to be that a certain version rather than the current version is used to represent master.

**How to reproduce**
Click link "master" in codedev report

[2020-10-19 12:00] mikechengwei opened #1079 "Time compare bug in twoPhase test"
## Bug Report

**What did you do?**
When i run /run-e2e-test ,the following error occurred
![image](https://user-images.githubusercontent.com/13257127/96447795-0ae8bb80-1245-11eb-8eab-417231ce5b25.png)

Source code:
![image](https://user-images.githubusercontent.com/13257127/96447998-569b6500-1245-11eb-93c4-d70afb1c0924.png)

I think `exp` time and `NextStart` time aren't use same base time, they

[2020-10-20 01:21] alexec commented on #824
Cloning.

[2020-10-20 01:21] #824 closed

[2020-10-20 02:42] vijaynidhi85 opened #1081 "Networkchaos/IOChaos does not seem to do much difference in my setup"
## Bug Report

**What version of Kubernetes are you using?**
[code]
**What did you do?**

1. Install chaosmesh via cli
2. Apply networkchaoss and introduce network latency on a pod for both direction

[code]
$ cat storagechaos.yaml
apiVersion: chaos-mesh.org/v1alpha1
kind: IoChaos
metadata:
  name: io-delay-example
spec:
  action: latency
  mode: one
  selector:
    labelSelectors:
      app: ms-s

[2020-10-20 02:57] qhh0205 opened #1082 "Can anyone explain the meaning of this field in networkchaos, **Correlation**, what's that stand for?"
## Question
Can anyone explain the meaning of this field in networkchaos, **Correlation**, what's that stand for?
https://github.com/chaos-mesh/chaos-mesh/blob/1e6f743e59ae36082ced861e677646a536b7cf5c/api/v1alpha1/networkchaos_types.go#L239
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-mesh.org/docs)

[2020-10-20 03:06] cwen0 commented on #1082
@qhh0205 Hi, `correlation` defines the affinity to the last packet. For example, if we have a correlation of 100, it means the following packets will become in with the previous latency, making it a smooth latency pattern, which means the jitter you set will be ineffective. If it’s 0, it will become totally random and chaotic in the pattern.

![image](https://user-images.githubusercontent.com/2295

[2020-10-20 03:41] qhh0205 commented on #1082
@cwen0 It seems that correlation field and jitter field  have the same function? They both has the same effect.

[2020-10-20 03:56] cwen0 commented on #1082
@qhh0205 I think `correlation` and `jitter` work together, `jitter` controls the range of fluctuations, and then the `correlation` controls the probability. These two fields are inherited from the TC command. https://man7.org/linux/man-pages/man8/tc-netem.8.html

[2020-10-20 04:00] YangKeao commented on #1082
@qhh0205 Here is a description in detail:

For `delay`, this calculation model is quite simple: `((rnd % (2 * sigma)) + mu) - sigma` where the `sigma` is `jitter` and the `mu` is `latency`.

The `rnd` is a standard `u32` random number correlated with last number.

[code]

For `loss`, the calculation model is much more complicated, [here](http://netgroup.uniroma2.it/twiki/bin/view.cgi/Main/NetemCLG

[2020-10-20 04:16] Colstuwjx opened #1083 "Give a convenient way to deploy chaos-dashboard with UI on local"
## Feature Request

**Is your feature request related to a problem? Please describe:**

From [this part](https://github.com/chaos-mesh/chaos-mesh/blob/master/CONTRIBUTING.md#step-3-start-chaos-mesh-locally-and-do-manual-tests), we could get a dashboard image via `make image`, and we could deploy it on kind cluster. However, we didn't deploy the dashboard UI...

how to make it via makefile? `UI=1 m

[2020-10-20 06:33] qhh0205 commented on #1082
ok, thanks！

[2020-10-20 19:37] #1053 closed

[2020-10-21 02:06] mikechengwei commented on #1083
We can add port-forward dashboard ui when PR #1026 merged.

[2020-10-21 02:18] mikechengwei opened #1087 "Mac local development error"
## Bug Report

**What did you do?**
When  local development ,i run make check happen error:

![image](https://user-images.githubusercontent.com/13257127/96665030-9027b980-1386-11eb-8727-d952a84e88c0.png)

bpm.go:

![image](https://user-images.githubusercontent.com/13257127/96665062-a33a8980-1386-11eb-8bfd-350d4cf18469.png)

[2020-10-21 04:18] g1eny0ung commented on #953
🚀 The website was moved to https://github.com/chaos-mesh/website!  Please submit subsequent changes at the new repo.

I will close this issue for now and if there have any questions, feel free to reopen it.