[2021-12-29 02:09] hayorov commented on #2649
Update: works like a charm (aft doc update). Thanks again.

[2021-12-29 02:32] g1eny0ung commented on #2725
Yep, the `podnetworkchaos` is the same name as the injected `pod`.

[2021-12-29 02:39] #2723 closed

[2021-12-29 06:08] YangKeao opened #2730 "`NetworkChaos`, `IOChaos`, `HTTPChaos` should grant the users the ability to resolve an error"
If the user writes a wrong spec, the `Pod*Chaos` will fail to apply, and always return a `FailedMessage`. The `*Chaos` will also print this `FailedMessage` and retry, however, retry will make nothing better.

However, this problem is a little complicated:

1. The record controller doesn't allow recovering from an injecting ("Not Injected") phase. It's because the practice in 1.2.x has proved that

[2021-12-29 06:13] YangKeao commented on #2687
@penghuazhou If the `containerNames` are not specified, only the first container will be injected. Could you check if your pod has multiple containers and the first one is not the one you want to inject?

If there are sidecars or other containers who are the first one, they will be injected.

[2021-12-29 11:38] penghuazhou commented on #2687
Thanks, I have two container.

![image](https://user-images.githubusercontent.com/13001038/147658384-9a121856-c7ed-42fb-85b0-3f1fdb39aa9d.png)

[2021-12-29 12:19] YangKeao commented on #1354
This issue has been fixed since June. Every chaos in container scope is selected with `containerNames: []string` to select multiple containers at the same time :smiley:.

[2021-12-29 12:19] #1354 closed

[2021-12-29 12:21] YangKeao commented on #2687
Oops. It's a mistake on UI. I would modify this note :smiley:

[2021-12-29 23:23] craig-seeman opened #2734 "Add ability to change grpc TLS domain"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently the TLS domain of the grpc server appears to be hardcoded and bound to "chaos-daemon.chaos-mesh.org" via https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/grpc/utils.go#L38

**Describe the feature you'd like:**
It would be nice to refactor this from a constant to a command-line argument for the

[2021-12-30 04:20] WangXiangUSTC opened #2735 "dashboard: edit a created task failed"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.1

**What did you do?**

Create a workflow, fill a task, and want to edit it again

![image](https://user-images.githubusercontent.com/5793595/147721300-5f1fea8f-e9af-4ed8-b0fc-b72b00974445.png)

**What did you expect to see?**

can edit it successfully.

**What did you see instead?**

When click the `edit` button, some error occurre

[2021-12-30 04:39] WangXiangUSTC opened #2736 "dashboard: after submit a parallel task, another same task appeared"
## Bug Report

**What version of Chaos Mesh are you using?**
v2.1

**What did you do?**

create a workflow, with one single task, and one parallel task. After fill the config of parallel task, I click the `submit` button.

**What did you expect to see?**

submit success, and can create another task.

**What did you see instead?**
After I click the `submit` button, another same parallel task occurr

[2021-12-30 06:40] g1eny0ung commented on #2736
It looks like the state is not reset.

[2021-12-30 07:34] acechef opened #2737 "I can't find the way to access the dashboard in the documentation"
I can't find the way to access the dashboard in the documentation at https://chaos-mesh.org/zh/docs/

[2021-12-30 09:21] YangKeao opened #2738 "Document for `BlockChaos`"
Here is the tracking issue for the (future) document of `BlockChaos`.

Related resources:
- RFC: https://github.com/chaos-mesh/rfcs/pull/29

[2021-12-30 09:56] YangKeao commented on #501
Now (after release-2.0). Every `*Chaos` has only duration without cron 😺

[2021-12-30 09:56] #501 closed

[2021-12-30 10:06] #2725 closed

[2021-12-30 13:35] YangKeao commented on #2625
If the former comment doesn't solve your problem. Feel free to reopen this issue.

[2021-12-30 13:35] #2625 closed

[2021-12-30 13:38] YangKeao commented on #688
Though Chaos Mesh has improved a lot in the past year, the underneath mechanism of NetworkChaos doesn't changed too much. I'm not sure whether this problem has been fixed (or it simply disappeared :cry: )

If you have any updates about this issue, feel free to reopen it :smile_cat:.

[2021-12-30 13:38] #688 closed

[2021-12-30 13:57] #2173 closed

[2021-12-30 13:59] YangKeao commented on #2533
If there is not further questions / bug reports, I will close this PR.

Feel free to reopen it (or create a new one), if you are facing any difficulties using Chaos Mesh :smiley_cat:

[2021-12-30 13:59] #2533 closed

[2021-12-30 18:02] #2257 closed

[2021-12-31 00:00] craig-seeman commented on #2734
I might have a 'working' patch for this (Might not be perfect and i'd like some proper feedback) assign to me please? :)

[2021-12-31 03:04] iguoyr commented on #2734
@craig-seeman  Feel free to work with this issue!

And here is a tip that Chaos Mesh use environments more than command-line arguments (https://github.com/chaos-mesh/chaos-mesh/blob/master/helm/chaos-mesh/templates/controller-manager-deployment.yaml#L61).

[2021-12-31 05:37] YangKeao commented on #2387
This issue should have been fixed by #2465

[2021-12-31 05:37] #2387 closed

[2021-12-31 05:49] Andrewmatilde commented on #2737
Users can access dashboard with NodePort function in kubernetes.
Example:
[code]
Users can access dashboard with the NodePort in chaos-dashboard.

[2021-12-31 07:22] STRRL opened #2740 "remove china mainland docker registry mirror in `install.sh`"
## Feature Request

Request:

Remove `docker_mirror` feature and related codes in `install.sh`.

Reason:
- `dockerhub.azk8s.cn`( also `gcr.azk8s.cn` and `quay.azk8s.cn`) could not access with public network anymore, related issue #2294
- After release-2.1, we moved docker images from dockerhub to ghcr.io, there are no other docker registry mirror(s) supporting `ghcr.io` in china mainland right now

[2021-12-31 09:04] YangKeao commented on #2715
I have tried deploy chaos mesh to a minikube cluster on windows, and it seems fine 😄

[2021-12-31 09:06] sbkurahatti commented on #2715
Thank you for your email, I’ll try to install the same today .

On Fri, 31 Dec 2021 at 2:34 PM, YangKeao ***@***.***> wrote:

--

*Thanks & Regards*
*      Shankar*

[2021-12-31 09:29] #2321 closed

[2021-12-31 09:41] #1328 closed

[2021-12-31 09:44] YangKeao opened #2741 "release arm image on pingcap dockerhub"
Now, only `ghcr.io/chaos-mesh/*` supports arm image. We could also upload image to the dockerhub.

[2021-12-31 09:46] YangKeao commented on #1579
Arm environment is officially supported in `ghcr.io/chaos-mesh/chaos-daemon` image (several months ago, sorry I forgot to update this issue 😢 ). If you have any further problem about running Chaos Mesh on arm, feel free to reopen this issue (or create a new one).

[2021-12-31 09:46] #1579 closed

[2022-01-01 04:54] Hexilee commented on #2143
Sorry for the late reply, could you specify the `path` field and try again? According to the [doc](https://chaos-mesh.org/docs/1.1.4/chaos_experiments/iochaos/).

[2022-01-01 04:57] Hexilee commented on #2143
Could you check if the files `/var/logs/line*.log` actually exist?

[2022-01-01 04:59] Hexilee commented on #2143
Sorry for the late reply, could you provide the version of Chaos Mesh, the configuration of your experiment, and the description of target pods?

[2022-01-03 00:12] #2186 closed

[2022-01-03 05:38] Stalkker commented on #2433
I meet the same problem,do you resolve it

[2022-01-03 15:06] craig-seeman opened #2743 "Refactor Request - Daemonset ENV options instead of flags"
## Question

Hello! 😄

While implementing a PR I noted that there is a difference between how the daemon and the controller-manager configurations are loaded. The dashboard and controller-manager both use ENV variables, while the daemon uses command-line flags.

I am wondering, is there a standard that could be agreed upon for controller-manager, daemon and dashboard to always load config variable

[2022-01-04 01:56] jiangyingforSH opened #2744 "target process 3548713 doesn't respond within 10500ms or HotSpot VM not loaded"
/usr/local/byteman/lib/byteman-install.jar
java  -classpath /usr/local/byteman/lib/byteman-install.jar org.jboss.byteman.agent.install.Install -b -Dorg.jboss.byteman.transform.all -Dorg.jboss.byteman.verbose -p 9277 3548713
install com.sun.tools.attach.AttachNotSupportedException: Unable to open socket file /proc/3548713/root/tmp/.java_pid1: target process 3548713 doesn't respond within 10500ms or

[2022-01-04 02:34] WangXiangUSTC commented on #2743
I think the reason for adding command-line flags for chaos-daemon is that could deploy on physical machines, not just on K8s. @YangKeao Could you please explain why do it this way?

[2022-01-04 04:27] Andrewmatilde commented on #2433
We have resolved the problem [here](https://chaos-mesh.org/docs/faqs/#q-daemon-throws-an-error-similar-to-version-141-is-too-new-the-maximum-supported-api-version-is-139).
I suggest you to exec helm install/upgrade with `--set chaosDaemon.env.DOCKER_API_VERSION="1.40"`

[2022-01-04 06:11] YangKeao commented on #2743
I think we haven't considered too much when staring the `chaos-daemon`.

IMO, it would be great to change the daemon from using command-line flags to environment variables (with the help of `envconfig`). The configuration of chaos daemon is not complicated, @craig-seeman would you like to do this refractor for Chaos Mesh?

Another problem is the compatibility. Upgrading through the `helm` don't ha

[2022-01-04 06:18] #2536 closed

[2022-01-04 08:42] WangXiangUSTC commented on #2744
system info:

Linux version 4.19.91-23.al7.x86_64 (mockbuild@koji.alibaba-inc.com) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC)) #1 SMP Tue Mar 23 18:02:34 CST 2021

[2022-01-04 08:48] STRRL commented on #2743
I have no idea about it, we do not maintain pure yaml files and we could not make any guarantee on them. I think we could only provide limited support if users open an issue about their migration.

And how about using `viper` instead of `envconfig` from now?  🤣🤣🤣

[2022-01-04 08:57] STRRL commented on #2556
Hi guys, I just realize that there is a similar situation on https://github.com/containernetworking/cni/issues/785.

CNI v1 used stdio for communication, and they might be going to use gRPC in the future(like CSI). 🤣

And use UnixDomainSocket might bring some trouble with different mount namespace, but I am sure for that we could provide a  useful tool like a "pipe" that could bridge two unix doma

[2022-01-04 09:03] YangKeao commented on #2626
@alelerac Sorry for the late rely. I eventually have some time to work on this issue 😢. This afternoon I tried to setup a postgresql-14 container, and injected IOChaos into it. The default data path is `/var/lib/postgresql/data` and the workload is sysbench oltp read write.

However, the result is that it works fine. Do you have any customized configuration for postgresql? (e.g. set the data direc

[2022-01-04 09:09] WangXiangUSTC opened #2746 "improve the error log of JVMChaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Improve the error log of JVMChaos. When install agent or submit rule failed, will return an error like this:
[code]

Users can't get the useful information from the error log.

[2022-01-04 10:54] imlonghao opened #2748 "DNSChaos: not working when kubeproxy running in ipvs mode"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Normally create a DNSChaos experiment on the web dashboard

Let's say the mode is ERROR and the pattern is `google.com`

**What did you expect to see?**

[code]

`10.173.3.71` is the `chaos-dns-server`'s pod IP

I am expecting to see the chaos DNS serve

[2022-01-04 12:00] YangKeao commented on #2626
I tried to set `-e PGDATA=/var/lib/postgresql/data` for a postgresql container, and this bug is reproduced successfully! And I also checked that #2747 would fix this issue. The next bugfix version (for both 2.0 and 2.1) will fix this bug.

[2022-01-05 02:11] WangXiangUSTC commented on #2748
Yeah, you are right, `chaos-dns-server` will get the IP of the target Pod, and save it into a map. When `chaos-dns-server` receives a DNS request, it will get the source IP of the request, only when the source IP contained in this map(it's from the target Pod) will return an error or wrong IP address.

[2022-01-05 02:15] WangXiangUSTC commented on #2748
This scenario is not supported currently, I'll think about it.

[2022-01-05 03:38] YangKeao commented on #2556
@STRRL

Yes. I can tweak the `nsexec` to let the subprocess inherit some file descriptor.

[2022-01-05 04:04] STRRL commented on #2556
That's interesting, what would you like to use instead of UNIX socket domain for working as "pipe"?

[2022-01-05 05:32] YangKeao commented on #2556
@STRRL Anonymous [pipe](https://man7.org/linux/man-pages/man2/pipe.2.html), but I'm not sure whether it will work. I will try to migrate the jsonrpc over stdio to jsonrpc over pipe (and remove the blocking buffer in bpm), then consider other rpc (like grpc).

[2022-01-05 05:57] iguoyr opened #2749 "support ptrace on arm64"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

support ptrace on arm64 machine

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-01-05 07:25] STRRL commented on #2744
The reason of this issue might be PID of `java` is not 1

[2022-01-05 09:25] torbendury opened #2750 "Supported registries"
## Question

Hello everyone! First of all, thanks for keeping this great project up!

I wanted to ask which container registries you push your Chaos Mesh images to, since DockerHub has changed its terms since january and we want to keep as far away from it as possible. Maybe quay,GCR,...?

Thank you in advance!

[2022-01-05 12:11] serlina commented on #2609
only one pod are selected to be injected a DNS injection

[2022-01-05 12:43] serlina commented on #2609
a work round of this I found is to uninstall DNS Chaos and then re-enable it.

[2022-01-05 14:11] WangXiangUSTC commented on #2609
could you please provide the log of `chaos-dns-server` and `chaos-daemon`?

[2022-01-06 03:16] imlonghao opened #2751 "JVMChaos: byteman inject fail when java pid is not 1"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Create a Java deployment, https://github.com/WangXiangUSTC/byteman-example/tree/main/example.helloworld

But change the Dockerfile to the following one

[code]

Then create a JVMChaos experiment

**What did you expect to see?**

Byteman inject success a

[2022-01-06 05:46] STRRL opened #2752 "Tracking Refine Logging"
## Refine Logging

As mentioned in https://github.com/chaos-mesh/rfcs/pull/28, we're going to migrate loggers to logr.

TODO List:

- [ ] Upgrade controller-runtime to `0.11.0` (relates upgrading logr dependency from 0.4 to 1.2)
- [ ] refine fx dependency injection, inject the root logger
- [ ] WIP: (migrate logger for each go packages)

[2022-01-06 06:25] WangXiangUSTC commented on #2750
We migrate images from docker hub to github docker registry,  you can see this pr https://github.com/chaos-mesh/chaos-mesh/pull/2462

[2022-01-07 00:12] #1968 closed

[2022-01-07 06:23] STRRL commented on #2750
And there are no available docker registry mirrors for `ghcr.io`; related issue: https://github.com/chaos-mesh/chaos-mesh/issues/2740

[2022-01-09 12:11] #2233 closed

[2022-01-09 15:42] g1eny0ung opened #2759 "ci: unable to report the status of required checks"
After #2696 merged, it's still needed to add a **skip** file to finish the status report.

For details, see https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks.

[2022-01-10 05:19] #2342 closed

[2022-01-10 05:48] STRRL commented on #2719
closed by  chaos-mesh/website#212

[2022-01-10 05:48] #2719 closed

[2022-01-10 06:42] STRRL opened #2760 "community: release guideline"
For more transparent community participants, I am working on writing a document for Chaos Mesh contributors about "how to make a new release of Chaos Mesh".

[2022-01-10 09:18] #2710 closed

[2022-01-10 09:33] #2759 closed

[2022-01-10 09:49] #2626 closed

[2022-01-10 09:49] #2688 closed

[2022-01-10 11:00] YangKeao commented on #2748
@imlonghao In cluster traffic shouldn't have been SNATed. Maybe you have enabled `masquerade-all=true` for the `kube-proxy`? Turn off the `masquerade-all=true`, then the dns server can see the pod ip.

[2022-01-10 11:49] #2687 closed

[2022-01-10 22:49] craig-seeman opened #2767 "Refactor Proposal: Helm TLS Cert Generation Option"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Currently the helm repo is setup to only generate TLS certs for the daemonset/controller-manager when the dashboard security is set to true. This should be split off into it's own section.

This will also add support to #2766 in allowing custom names to be defined for the certificates, which will populate the he

[2022-01-10 22:50] craig-seeman commented on #2767
Please feel free to assign to me if this is accepted :)

[2022-01-11 11:04] Andrewmatilde commented on #2767
I don't know if the feature will bring any side-effect . PTAL @STRRL @cwen0.

[2022-01-12 03:17] zhufanqin opened #2776 "Keep the POD in non-running state for a period of time"
## Bug Report
There is a Fault scenario that can keep the POD in non-running state for a period of time, but the fault of POD kill can`t keep the POD in non-running state for a period of time.When try "pod-failure"，the actual failure time is much smaller than the set, which is not ideal。

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you d

[2022-01-12 03:20] #2707 closed

[2022-01-12 03:36] cwen0 commented on #2767
This change will make helm charts more flexible. I approve this request.

[2022-01-12 03:53] YangKeao commented on #2767
It would be great to have this feature implemented. Thank you.

The only concern is about the compatibility with old version config. I don't know what will happen if a user upgrade from an old version (which doesn't have `.Values.chaosdaemon.daemonSecurityMode`) to this version. Will this field be `nil` or the default value? Is there any way to not break the consistency of configuration?

[2022-01-12 04:02] STRRL commented on #2767
The version of our helm chart version is following the Chaos Mesh version. We should better not cherry-pick these changes into release-2.1 and bring them in release 2.2 with migration documentations like https://cert-manager.io/docs/installation/upgrading/upgrading-1.5-1.6/. 🙈

[2022-01-12 05:34] Andrewmatilde commented on #2776
Hi @zhufanqin , I agree with you but I think it is hard to fix it.

[2022-01-12 06:44] YangKeao opened #2779 "Track issue for Refine Error Handling rfc"
This is the track issue for https://github.com/chaos-mesh/rfcs/pull/24 to land the plan:

- [x] Replace most usage of `fmt.Errorf` and `errors` library into `"github.com/pkg/errors".Errorf` (or similar functions) to ensure that most errors contain a stack. https://github.com/chaos-mesh/chaos-mesh/pull/2780
- [ ] Refine errors wrapping between grpc and client
    - [ ] Handle the container not foun

[2022-01-12 06:45] #2641 closed

[2022-01-12 09:09] cwen0 commented on #2776
@zhufanqin Can you provide your configuration of `pod-failure` experiment?

[2022-01-12 09:18] STRRL opened #2783 "CI: `make chaosctl` not configure the correct go version in GitHub Action"
## Bug Report

I found this bug when I working with https://github.com/chaos-mesh/chaos-mesh/pull/2778.

We did not compile `chaosctl` inside `build-env` because users would like to build it on `darwin` or `win`.
https://github.com/chaos-mesh/chaos-mesh/blob/857bcc7645c00cbcd7468ca88ba170dfa3c90739/Makefile#L89-L91

So we should set up the correct go version inside of GitHub Action, but

- integra

[2022-01-12 09:20] STRRL commented on #2783
I would set up go1.17 for `master` and `release-2.1`, go1.15 for branch `release-2.0`

[2022-01-12 09:22] cwen0 commented on #2776
`pod-failure` will use a fake image instead of the target pod container images. This action will maybe cause pod restart. But the restart action maybe spend some time. So your duration and interval are too short, which maybe make the phenomenon is not obvious.

[2022-01-12 10:45] YangKeao commented on #2556
@STRRL I have drafted a proposal about using abstract unix socket to communicate across the namespaces. https://github.com/chaos-mesh/rfcs/pull/34

[2022-01-12 16:34] anuragpaliwal80 commented on #2608
@STRRL So `HTTPS` support will be coming with 2.2 release ? Correct ?

[2022-01-13 03:34] STRRL opened #2788 "can not pass e2e tests on local minikube cluster"
## Question

Hi all, I think e2e test cases could work on any Kubernetes cluster, then I try to execute e2e tests on my local minikube cluster, some of test cases failed.

What I do:
- current work directory: root path of chaos-mesh repo; working with master branch (214c098f44cc26cc91fe98083388bd84013f6864)
-  execute `minikube start --mount --mount-string "$(pwd):$(pwd)"`, and `eval $(minikube -p

[2022-01-13 03:38] STRRL commented on #2788
I am very grateful if you could give me some help. @WangXiangUSTC @Andrewmatilde

[2022-01-13 04:00] STRRL commented on #2776
As [this comment](https://github.com/chaos-mesh/rfcs/issues/33#issuecomment-1010607109) said, you could setup helm chart values `controllerManager.podChaos.podFailure.pauseImage` to another image as the "fake image", and it might reduce the time.

[2022-01-13 05:07] cwen0 commented on #2776
Yes. If you use a fake image that can't be pulled, the pod will turn to `Imagepullbackoff` status after starting `pod-failure` action.

[2022-01-13 06:55] STRRL commented on #2608
YES!

[2022-01-13 11:17] imlonghao commented on #2748
Removing the `--masquerade-all=true` from kube-proxy options work for me.
Thanks.

[2022-01-13 11:17] #2748 closed

[2022-01-13 13:45] STRRL commented on #2788
I think found the reason, it was caused by different CNI. I could resolve this issue by appending `--cni=flannel` with `minikube`.

I think both DNSChaos and HTTPChaos need the source IP for filtering the request should be injected.

[2022-01-13 13:45] #2788 closed

[2022-01-14 04:01] STRRL commented on #2788
The logs of failed DNSChaos are mostly like https://github.com/chaos-mesh/chaos-mesh/issues/2748, but for this issue, it was caused by misconfigured pod networking.

[2022-01-16 16:43] rksharma95 commented on #2740
I am new to this project and would like to work on this issue, I checked `install.sh` we can easily remove it from the FLAGS but at places, it is the part of a conditional statement @STRRL can you help to understand the issue well.

[2022-01-17 03:23] #2660 closed

[2022-01-17 06:47] YangKeao opened #2796 "Timeline dots disappear before the end"
If the page is zoomed (e.g. 80%), the dots in the timeline will disappear before it reaches the end:

For example, the last blue one is disappearing.

![image](https://user-images.githubusercontent.com/5244316/149720612-4e34a3e7-2e2e-4e64-b47c-977b3f3aca01.png)

I have also tried zoom 120%, then it will extend to the outside of the graph:

![image](https://user-images.githubusercontent.com/5244316

[2022-01-17 06:51] STRRL commented on #2740
Hi @rksharma95 I think we could just remove all the codes about `docker_mirror` directly. If some conditional statement using it, just remove it.

[2022-01-17 06:51] STRRL commented on #2740
/assign @rksharma95

[2022-01-17 08:57] #2390 closed

[2022-01-17 13:16] rksharma95 commented on #2740
thanks, I started working on it will submit a PR after I complete it.

[2022-01-18 03:30] STRRL opened #2799 "Tracking issue: create CHANGELOG.md for active branches"
As this RFC https://github.com/chaos-mesh/rfcs/blob/main/text/2022-01-17-keep-a-changelog.md says, we would keep a changelog for chaos mesh in the future :tada:

This is a tracking issue for creating `CHANGELOG.md` for each active branches

- [x] `CHANGELOG.md` for `master` branch https://github.com/chaos-mesh/chaos-mesh/pull/2798
- [x] `CHANGELOG.md` for `release-2.1` branch https://github.com/ch

[2022-01-18 07:50] g1eny0ung opened #2802 "proposal(httpchaos): change `patch.[headers|queries]` from `[][]string` to `map[string][]string`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Related to #2615, it's hard to translate an `[][]string` field into a form field. As you can imagine, it is difficult to nest arrays in the interface.

**Describe the feature you'd like:**

After talking to @Hexilee, we reached a preliminary conclusion: `[][]string` to `map[string][]string`.

With this, we can

[2022-01-18 14:30] kfaseela commented on #2626
@YangKeao : Do we have a release already with this fix?

[2022-01-19 05:37] YangKeao commented on #2310
This issue can be solved (or has been solved) by refining log and error in this semester. See https://github.com/chaos-mesh/chaos-mesh/issues/2752 and https://github.com/chaos-mesh/chaos-mesh/issues/2779

[2022-01-19 05:37] #2310 closed

[2022-01-19 08:18] #2690 closed

[2022-01-19 12:02] STRRL commented on #2802
So an example of  `[["Set-Cookie", "<one cookie>"], ["Set-Cookie", "<another cookie>"]]`, would become `{"Set-Cookie": ["<one cookie>", "another cookie"]}`?

[2022-01-19 12:04] g1eny0ung commented on #2802
Right.

[2022-01-19 12:13] STRRL commented on #2802
I noticed that we use `Vec<(String, String)>` in rs-tproxy, and there's no tuples in go, so we use `[][]string`. 🥲

[2022-01-19 12:22] STRRL commented on #2802
As an addition, you would create struct `Tuple`, `Tuple3` ... `TupleN(embed an array)` like https://projectreactor.io/docs/core/release/api/reactor/util/function/Tuple8.html for programming languages which do not support primitive tuple, instead of treat with `[]string`.

FYI @Hexilee @Andrewmatilde

[2022-01-19 12:25] STRRL commented on #2802
Oh, golang does not support generic type, which means you have to create ad-hoc tuples struct for each type of usage.

[2022-01-19 13:27] Hexilee commented on #2802
I would add a new field like header_map to avoid breaking api.

[2022-01-19 13:30] g1eny0ung commented on #2802
@STRRL 😮 I went and looked at the source code of `rs-tproxy`. I realized if this is just using `Vec<(String, String)>` for headers that can be repeated? Like `Accept` or `Set-Cookie`?

I'm also confused why `RawPatchAction` and `RawReplaceAction` have different types with `headers`? `RawReplaceAction` is `Option<HashMap<String, String>>`.

[2022-01-20 00:13] #2232 closed

[2022-01-20 11:59] YangKeao opened #2811 "preparation for multi-version api"
The Chaos Mesh has stepped too far before adapting the multi-version api. I really regret not doing it earlier 😢 after investigating the roadmap to allow multiple versions api in Chaos Mesh.

On Wednesday and Thursday, I tried to create a new version of some chaos in [YangKeao/chaos-mesh@multi-version-api-attempt](https://github.com/YangKeao/chaos-mesh/tree/multi-version-api-attempt). During this

[2022-01-20 18:30] jdewald opened #2813 "Unable to submit network-bandwidth for PhysicalMachineChaos"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.7", GitCommit:"1dd5338295409edcfff11505e7bb246f0d325d15", GitTreeState:"clean", BuildDate:"2021-01-13T13:23:52Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"23+", GitVersion:"v1.23.1-2+9e8d1bf4219080", G

[2022-01-21 05:42] STRRL commented on #2811
I think we'd better also use the "internal - versioned API" pattern for flexible future in-coming changes like mentioned in https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api_changes.md

[2022-01-21 09:10] WangXiangUSTC opened #2815 "PhysicalMachineChaos: mode not supported"
## Bug Report

**What version of Chaos Mesh are you using?**

master: ea9c6cc646a17fe0912128f157cb1c4983f4ced7

**What did you do?**
create a PhysicalMachineChaos, the YAML file:

[code]

**What did you expect to see?**

Experiment run success.

**What did you see instead?**

see error log in controller manager:

[code]

[2022-01-21 09:49] WangXiangUSTC opened #2816 "PhysicalMachineChaos: spec.mode: Unsupported value: """
## Bug Report

**What version of Chaos Mesh are you using?**

latest master: ea9c6cc646a17fe0912128f157cb1c4983f4ced7

**What did you do?**

create PhysicalMachineChaos in Dashboard

**What did you expect to see?**

create success

**What did you see instead?**

![uWL0YoyUob](https://user-images.githubusercontent.com/5793595/150505311-1bd57e52-ca19-441c-8461-8dc54327adb9.png)

It's because it lack

[2022-01-21 15:45] rksharma95 commented on #2498
i set it up on my local machine and everything is looking fine. can you verify it at your end ?
![chaos-dashboard-screenshot](https://user-images.githubusercontent.com/81104646/150556316-de482bfc-a8fd-4d70-acd6-dc6672a02f03.png)

[2022-01-24 03:19] acechef commented on #2737
thanks

[2022-01-24 03:45] STRRL opened #2818 "Use `chaos-mesh` instead of `chaos-testing` in anywhere"
## Feature Request

**Is your feature request related to a problem? Please describe:**
No.

**Describe the feature you'd like:**
We use `chaos-testing` in most scripts and codes as the namespace which assumed/expected that Chaos Mesh installed. It's a  historical problem and using `chaos-testing` does not properly describe what would Chaos Mesh be expected.

So we propose that use `chaos-mesh` to

[2022-01-24 03:48] STRRL opened #2819 "Remove `namespace` in yaml files under `examples`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

There are many example chaos experiments described in YAML under `/examples`, and many of them were declared with certain `namespace`.

Once `namespace` is introduced in yaml file, we could not use `kubectl -n <namespace>` to "overwrite" it. So I think we'd better remo

[2022-01-24 03:57] STRRL opened #2820 "Use `ghcr.io` instead of `localhost:5000` when building images."
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

When we execute `make`, it would build docker images like `localhost:5000/chaos-mesh/chaos-mesh:latest`.  I want it to be like `ghcr.io/chaos-mesh/chaos-mesh:latest`, which would be the real and final artifacts we would publish and release.

I think the build scripts s

[2022-01-24 04:41] #2383 closed

[2022-01-24 06:28] iguoyr commented on #2737
If the former comment doesn't solve your problem. Feel free to reopen this issue.

[2022-01-24 06:28] #2737 closed

[2022-01-24 08:39] dmallya commented on #2819
Hi,
Sorry I am new to this, do I just delete the ``namespace`` key-value pairs in all the YAML files under ``/examples`` and create a pull request?
Just making sure.

[2022-01-24 08:52] STRRL commented on #2819
Yes. Just make a try! :)

[2022-01-24 10:32] g1eny0ung opened #2822 "Full automation between OpenAPI and front-end"
Starting at #2615, we will fully automate the OpenAPI to UI interface, and **after this issue is closed**, all changes to the API will be automatically applied to the UI without any manual changes.

The process is divided into three steps:

1. OpenAPI to TypeScript API Client and Form Data. #2770
2. Update all API requests with the generated client. #2926
3. Adapt the UI interface with the generat

[2022-01-24 16:19] Prashanth-BP opened #2823 "Unable to run any experiments on Version 1.2.2"
Hi Team,
We  have installed 1.2.2 on AWS EKS and it was running all fine till last Friday. Today, we tried to create and run new experiments however, the tool is able to create the experiments but unable to run any (old or new). It says "Started" on the Dashboard but we do not see any event or are we able to witness anything. We have tried restarting all the Chaos Mesh Services (Controller Manager

[2022-01-25 03:22] #2606 closed

[2022-01-25 03:22] iguoyr commented on #2823
@Prashanth-BP Hi, could you provide some logs of `chaos-controller-manager` and `chaos-daemon`?

[2022-01-25 05:24] dmallya commented on #2819
Created a PR and sent it through!

[2022-01-25 07:57] Prashanth-BP commented on #2823
@iguoyr - Thanks for your swift response. Just couple of points I would like to highlight before I share the logs (point 3 below).
1. The tool is not deployed as straight as it is mentioned in the document. So, if I look at the Namespace into which the tool is deployed, we have 1 - Controller Manager Pod and more than 100 Daemon Pods and 1 Dashboard Pod. Hence, providing logs for each Chaos Daemon

[2022-01-25 08:43] iguoyr commented on #2823
Hi, this error log seems that chaos-controller-manager is missing some permissions, could you try this command `kubectl auth can-i get endpoints --namespace=<chaos-mesh-installed-namespace>`?

[2022-01-25 09:02] #2819 closed

[2022-01-25 09:41] Prashanth-BP commented on #2823
ok, The answer I get is "yes" if I run the above command..

[2022-01-25 10:13] STRRL commented on #2412
I would append "help wanted" and "good first issue" for this issue, I think somebody with familiarity to Kubernetes and Chaos Mesh could resolve this. :heart:

And this changes do not need be cherry-picked to release-2.1 or release-2.0.

[2022-01-25 10:34] Prashanth-BP commented on #2823
-------------------------------------------------------------------------------------------------------------------------------------------
We just got all the services to restart again and the issue seems to persist. I tried a Container Kill but no luck. I have attached a screenshot of the logs from Controller Manager. May be could help.
![chaos_mesh_Scr_Shot](https://user-images.githubuserconten

[2022-01-25 10:51] iguoyr commented on #2823
😢 Oops, sorry! I carelessly missed an important parameter, the complete command should be `kubectl auth can-i get endpoints --namespace=<chaos-mesh-installed-namespace> --as=system:serviceaccount:<chaos-mesh-installed-namespace>:chaos-controller-manager` .

[2022-01-25 12:00] Prashanth-BP commented on #2823
I get :
"Error from server (Forbidden): serviceaccounts "chaos-controller-manager" is forbidden: User <awsuser> cannote impersonate resource "serviceaccounts" in API group " " in the namespace <chaos-mesh-installed-ns>"

[2022-01-25 12:45] dmallya commented on #2818
Created a PR for this, tried to consciously go over what I replaced but might have mistakenly replaced a few. Would be happy to correct any mistakes.

[2022-01-26 04:01] STRRL commented on #2421
Done with #2441

[2022-01-26 04:01] #2421 closed

[2022-01-26 04:03] STRRL opened #2829 "duplicated recipe in makefile"
## Bug Report

When I build chaos mesh on master (646774e4) branch, I saw these warn message:

[code]

the next recipe is introduced by #2742, I think I would fix it .

[2022-01-26 05:28] iguoyr commented on #2823
"Error from server (Forbidden): serviceaccounts "chaos-controller-manager" is forbidden: User cannote impersonate resource "serviceaccounts" in API group " " in the namespace "
I am not sure is it the AWS IAM role that is causing this or is it the Controller Manager permission that is giving this error. Kindly advise!

@Prashanth-BP Hi, maybe you could check `chaos-controller-manager` permissions

[2022-01-26 09:53] STRRL opened #2833 "Example of NetworkChaos with UDP multicast and boardcast"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Honestly, I am not sure about Network Chaos could inject into multicast and broadcast.

**Describe the feature you'd like:**

Provide a minimum example in `/example`, with a simple application that uses UDP multicast or broadcast.

**Describe alternatives you've considered:**

No other alternatives yet.

**Teac

[2022-01-26 13:09] STRRL opened #2835 "i18n: zh-cn translation mismatch, "顺序" or "串行" for "Serial""
## Question

Thanks to @en-jin19, for helping us find a translation mismatch between document site and chaos dashboard i18n files.

When we translate the workflow "serial" node, we use "串行" in document site and use "顺序" in chaos dashboard.

![image](https://user-images.githubusercontent.com/20221408/151168500-6b84a689-a98a-40c5-9f79-a77577f9d82d.png)
![image](https://user-images.githubusercontent.

[2022-01-26 13:42] Prashanth-BP commented on #2823
Thanks @iguoyr - I would check and revert. 👍

[2022-01-27 03:14] g1eny0ung commented on #2835
For now, I prefer `串行` because the parallel is `并行`.

[2022-01-27 05:04] Prashanth-BP commented on #2823
Hi @iguoyr good day! - When I run the above command I get the below error:
**Error from server (NotFound): roles.rbac.authorization.k8s.io "chaos-mesh-controller-manager-control-plane" not found**

Let us know if redeploying the same version (1.2.2) via Helm would help fix this or is there a work around available for this issue? If we redeploy the same version, is there anything we need to take ca

[2022-01-27 05:11] #2829 closed

[2022-01-27 05:12] iguoyr commented on #2823
Error from server (NotFound): roles.rbac.authorization.k8s.io "chaos-mesh-controller-manager-control-plane" not found

Ohh, I forgot to tell you that the name of `chaos-mesh-controller-manager-control-plane` could be changed, the prefix `chaos-mesh` depends on your deploy command(More specifically, the template in helm chart is `{{ .Release.Name }}-chaos-controller-manager-control-plane`), maybe y

[2022-01-27 07:53] Prashanth-BP commented on #2823
So if I look at the RBAC yaml file and see the kind: role for -chaos-controller-manager-control-plane. This is what we see. Check the attached screenshot. If I compare it with your yaml, I do not see "endpoints" mentioned in the resources section for apiGroups. Apart from that, is there anything else missing which is causing this issue? Kindly help us with the fix. Thanks again!

![rbac_controller

[2022-01-27 08:04] iguoyr commented on #2823
@Prashanth-BP  Hi, all the permissions in this yaml file are needed, so I think completing these permissions could solve your problem! BTW, just curious, did someone modify this helm chart (as previous photo), because the original file in our repository is not like this 😢

[code]

[2022-01-27 08:26] Prashanth-BP commented on #2823
Thanks @iguoyr. Yes, I agree, the file was modified at our end by the deployment team as we cater for a Financial Service and because it is related to finance, I am sure you know there are some restrictions while installing 3rd party tools in the Environments :). But honestly, it was all working fine till Friday and not sure what could be reason for changes to happen. Anyways, let me ask the team

[2022-01-28 06:42] STRRL commented on #2198
closed with https://github.com/chaos-mesh/chaos-mesh/issues/2397

[2022-01-28 06:42] #2198 closed

[2022-01-28 06:57] STRRL opened #2842 "Proposal: interactive katacoda playground for various chaos experiment examples"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

Thanks to Jonathan Johnson, contributing us an interactive tutorial for Chaos Mesh: https://chaos-mesh.org/interactive-tutorial/

I think we could also use katacoda playground to introduce each example in https://github.com/chaos-mesh/chaos-mesh/tree/master/examples in

[2022-01-28 07:09] cwen0 opened #2843 "IOChaos: default percent field not work"
## Bug Report

**What version of Kubernetes are you using?**

1.20.0
**What version of Chaos Mesh are you using?**

v2.1.1
**What did you do?**

Create an IOChaos experiment and set the `percent` field empty. According to chaos mesh docs, the default `percent` field is `100`. But when I set it to empty, the chaos action didn't work.

[code]

When I set the `percent` to `100`, this chaos experiment

[2022-01-30 09:36] STRRL opened #2844 "timechaos for gettimeofday has not been ported on arm64"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

master, 27e45d2cdef35a6f03482f2ed76a5e763fe8918a

**What did you do?**

N/A

**What did you expect to see?**

N/A

**What did you see instead?**

Scheduled daily CI failed: https://github.com/chaos-mesh/chaos-mesh/actions/workflows/upload_image.yml

It failed when building chaos-daemon

[2022-01-30 18:48] nmlc commented on #2697
Am I correct to assume, that you guys recognize this as an usability issue and going to fix it?

[2022-02-03 00:11] #2381 closed

[2022-02-03 05:29] STRRL commented on #2420
I am going to close this issue, feel free to reopen it.

[2022-02-03 05:29] #2420 closed

[2022-02-04 12:53] shoffmeister opened #2845 "Rootless k3s - daemon hangs; mounting "/dev/shm" to rootfs at "/dev/shm" caused: operation not permitted: unknown"
## Bug Report

**What version of Kubernetes are you using?**

v1.23.3+k3s1 (k3s - in **rootless** mode)

**What version of Chaos Mesh are you using?**

GitVersion:"v2.1.3", GitCommit:"cbe789587678a5ea28e9b38343d222c1d5ea8657"

**What did you do?**

Follow the QuickStart instructions for k3s to install Chaos Mesh

**What did you expect to see?**

Successfully started Chaos Mesh containers.

**What

[2022-02-04 13:38] shoffmeister commented on #2845
This is indeed tied to k3s **rootless**; turning off the user k3s-rootless.service, starting the (system) k3s-service, then installing following the instructions provided in the Chaos Mesh Quick Start guide yields `Chaos Mesh chaos-mesh is installed successfully` feedback.

[2022-02-04 14:59] shoffmeister opened #2846 "Docs: Discovering the Dashboard"
## Feature Request

The existing (installation) documentation can be blindly followed (happy!) up to the point where the dashboard is mentioned. Please add quick instructions on how to conveniently *locate* the dashboard.

For a simple k3s installation, I chose the route
[code]
yielding
[code]
to successfully arrive at http://localhost:31643/

[2022-02-04 23:38] 870921 opened #2847 "cant run container failure experiment"
## Bug Report

**What version of Kubernetes are you using?**
1.20.9

**What version of Chaos Mesh are you using?**

v2.1.1
**What did you do?**
I tried the experiment numerous time with different pods and combinations
the container kill experiment requires to provide the container name , however when we provide the container name it
throws the error

Failed to apply chaos: rpc error: code = Unknow

[2022-02-06 05:40] FingerLeader commented on #2847
Could you give us the log of controller manager and chaos daemon?

[2022-02-07 01:26] 870921 commented on #2847
[controller2.txt](https://github.com/chaos-mesh/chaos-mesh/files/8011694/controller2.txt)
[daemon1.txt](https://github.com/chaos-mesh/chaos-mesh/files/8011695/daemon1.txt)
[daemon2.txt](https://github.com/chaos-mesh/chaos-mesh/files/8011696/daemon2.txt)
[controller1.txt](https://github.com/chaos-mesh/chaos-mesh/files/8011697/controller1.txt)

Please find the logs

[2022-02-07 02:44] fewdan commented on #2847
"Failed to apply chaos: rpc error: code = Unknown desc = expected docker:// but got container"

[2022-02-07 03:04] STRRL commented on #2845
I am not sure about chaos-daemon could work in a rootless container. 🤔 Give us more time to dive into it.

[2022-02-07 03:28] STRRL commented on #2842
Yeah, that's very interesting when injecting different chaos into different components and the user could "feel" them. 😜

But when providing demonstrations (like katacoda playground) for Chaos Mesh, I still prefer to use metrics (as line chart) to tell the user "something happened, and the side-effect is shown as a line chart with time-series data." 🤔

[2022-02-07 04:13] g1eny0ung commented on #2697
It will be fixed. Thank you for your continued tracking, and we realize that this is a usability issue. ❤️

[2022-02-07 06:15] #2294 closed

[2022-02-07 06:15] #2740 closed

[2022-02-07 06:41] YangKeao opened #2848 "Single binary deployment outside kubernetes environment"
Chaos Mesh supports injecting errors into the physical machine through `PhysicalMachineChaos`. However, deploying it outside the Kubernetes cluster is too hard for users with little experience in Kubernetes. The traditional way to do this is to deploy a `k3s`, and run the chaos mesh controller inside it.

The dependencies and resource consumption can be eliminated further: we don't need the contai

[2022-02-07 07:20] shoffmeister commented on #2845
Thank you :) I understand where you are coming from with respect to rootless.

I think there might be two steps:
a) not hanging dead but make the daemon bounce - this would then emit more (diagnostic) noise, perhaps making discovery of "oops" easier?
b) assess whether rootless (on k3s) is feasible, perhaps with degraded functionality or degraded performance; for developers rootless might be quite

[2022-02-07 18:01] ritikeshgupta commented on #2848
I want to contribute to this project for GSOC 2022, can you guide me on how can I get started with this project?

[2022-02-07 22:21] 870921 commented on #2847
i tried to uninstall and reinstall chaos mesh and the damons are all in the crashed state

Error: failed to create containerd task: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: rootfs_linux.go:76: mounting "/run/containerd/io.containerd.runtime.v1.linux/k8s.io/chaos-daemon/C:/Program Files/Git/run/containerd/cont

[2022-02-08 03:03] #2490 closed

[2022-02-08 03:41] cwen0 commented on #2847
@870921 If the node operating system is not Windows. This may be a Helm for Windows issue. You can refer to this issue https://github.com/chaos-mesh/chaos-mesh/issues/2182.

[2022-02-08 06:45] #2835 closed

[2022-02-08 10:26] anuragpaliwal80 commented on #2608
I am assuming that client-side HTTPChaos will support HTTPS. Correct ? @STRRL

[2022-02-08 10:27] STRRL commented on #2608
PTAL @Hexilee @Andrewmatilde

[2022-02-08 10:33] andylibrian commented on #2567
Sorry for a long inactivity. I now have a chance to work on it. My initial work based on the hello world and pod chaos seems to be working.

So, for this type of chaos (namespace chaos), would `GenericSelectorSpec` be the appropriate selector?

[2022-02-08 12:41] MohammedAbrar opened #2859 "Getting error while creating experiment to fail aks pod."
**What version of Kubernetes are you using?**

 1.20.9

**What version of Chaos Mesh are you using?**

2.1.3

**What did you do?**

_helm repo add chaos-mesh https://charts.chaos-mesh.org/
helm repo update
kubectl create ns chaos-testing
helm install chaos-mesh chaos-mesh/chaos-mesh --namespace=chaos-testing --version 2.0.3 --set chaosDaemon.runtime=containerd --set chaosDaemon.socketPath=/run/con

[2022-02-09 00:12] #2403 closed

[2022-02-09 01:06] cwen0 commented on #2567
@andylibrian I think `GenericSelectorSpec` selector is not appropriate, you can design a specific selector for it. You can refer to https://github.com/chaos-mesh/chaos-mesh/blob/master/api/v1alpha1/physical_machine_chaos_types.go#L91-L112

[2022-02-09 05:03] YangKeao commented on #2425
#2848 describes the same problem. Please discuss in #2848 .

[2022-02-09 05:03] #2425 closed

[2022-02-09 05:30] YangKeao commented on #2848
@ritikeshgupta Thanks for your willingness to contribute to Chaos Mesh.

As this project needs a well understanding of Kubernetes components, source codes, and the architecture of Chaos Mesh, it's not a good issue for a starter. (But of course, I'm here to provide help if needed.)

For anyone who wants to start to contribute to the Chaos Mesh, it would be better to work on [good first issue](https

[2022-02-09 06:06] cwen0 commented on #2859
This is an issue related to the Kubernetes environment. Related issue https://github.com/chaos-mesh/chaos-mesh/issues/1228

[2022-02-09 07:00] andylibrian commented on #2567
Hi @cwen0 , for the specific selector, does this look good?

[code]

My thought was that `GenericSelectorSpec` also contains `Namespaces []string` which could be reused here. But it also contains other selectors (Label, Annotation, Expression), which could be used in namespaces kind too.

[2022-02-09 07:00] g1eny0ung opened #2864 "ci: `make check` in go (verify) takes on more responsibilities"
## Bug Report

After #2696 merged, some script checks were lost. For example, after we update the helm chart, CI will help us check if the current changes are synced to `install.sh`.

After I tried to add back the relevant checks, I found things a bit complicated:

- `make check` is actually a comprehensive check of the entire project, but we are now running it after `go` files have been changed.

[2022-02-09 07:32] cwen0 opened #2865 "Github Action: image build action was broken"
## Bug Report

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

https://github.com/chaos-mesh/chaos-mesh/runs/4926094262?check_suite_focus=true

[code]

**Output of chaosctl**

[2022-02-09 08:02] iguoyr commented on #2865
Duplicate with https://github.com/chaos-mesh/chaos-mesh/issues/2844, and @STRRL already created a pr(https://github.com/chaos-mesh/chaos-mesh/pull/2849) to fix this!

[2022-02-09 08:03] cwen0 commented on #2865
OK, I will close this issue.

[2022-02-09 08:03] #2865 closed

[2022-02-09 08:47] STRRL commented on #2864
I do not get your point. What would we do about it?

IMO, not only `boilerplate`, but also all the linters we used are required to run on the developer's local machine, so `make boilerplate` is required. About the duplication, how about just appending descriptions/comments, or also using `make boilerplate`?

[2022-02-09 09:00] g1eny0ung commented on #2864
#2863 is a real example. Since there are some changes in chart templates, the CI should run the `update_install_script.sh` script as before, and then use `git diff` to check if there should d be new updates.

The `make check` was run unconditionally in the past, so this check is not missing. Now it's only run when `go` files changes.

Oh, this I mean when running on CI. It is related to the first

[2022-02-10 03:10] cwen0 commented on #2507
@WorldVirus Sorry for my late reply! You can take it if you are free.

[2022-02-10 03:27] #1313 closed

[2022-02-10 03:29] cwen0 commented on #1409
Duplicate with #2641

[2022-02-10 03:29] #1409 closed

[2022-02-10 03:33] cwen0 commented on #2498
@rksharma95 Sorry for my late reply! Yes, this issue has been fixed. Thanks for your time.

[2022-02-10 03:33] #2498 closed

[2022-02-10 03:34] cwen0 commented on #2654
This issue was fixed by #2655

[2022-02-10 03:36] cwen0 commented on #2658
Duplicate with https://github.com/chaos-mesh/chaos-mesh/issues/2664

[2022-02-10 03:36] #2658 closed

[2022-02-10 04:09] YangKeao commented on #2513
We have https://chaos-mesh.dev/reference/ now 🥂

[2022-02-10 04:09] #2513 closed

[2022-02-10 05:29] Akshit42-hue commented on #2507
Can I work on this issue @cwen0

[2022-02-10 05:38] cwen0 commented on #2507
Of course! You can start it if you are free. I will assign this issue to you

[2022-02-10 05:41] cwen0 commented on #2659
@STRRL Are you working on this issue?

[2022-02-10 05:48] cwen0 commented on #1465
@STRRL This issue should have been fixed in the latest version. Can we close this issue?

[2022-02-10 08:21] STRRL commented on #2654
closed by #2655

[2022-02-10 08:21] #2654 closed

[2022-02-10 08:29] STRRL commented on #2659
Oops, I would try to fix this PR later. 😅

[2022-02-10 08:37] STRRL commented on #1465
I would make sure of it later.

[2022-02-10 09:50] #1465 closed

[2022-02-10 10:02] STRRL commented on #2659
I could not reproduce this issue on the master branch. I would close it now, feel free to reopen if it happens again.

[2022-02-11 03:09] #2816 closed

[2022-02-11 03:51] STRRL opened #2870 "Refine logging in `pkg/bpm`, move package level variable `log` into struct `BackgroundProcessManager` and `ProcessBuilder` as a field"

[2022-02-11 03:52] STRRL opened #2871 "Refine logging in `pkg/chaosctl`, use `log.NewDefaultZapLogger()` insteadof `klog`."

[2022-02-11 03:52] STRRL opened #2872 "Refine logging in `pkg/chaosdaemon`, move package level variable `log` into struct `DaemonServer` as a field"
I found that package level variable `log` also referenced at many places, I prefer to split them into multiple steps:

- [ ] use `log.L()` instead of package variable `log` https://github.com/chaos-mesh/chaos-mesh/pull/2893
- [ ] move the each reference with `log.L()` into corresponding struct
  - [ ] DaemonServer
  - [ ] Graph
  - [ ] tcClient

[2022-02-11 03:52] STRRL opened #2873 "Refine logging in `pkg/dashboard/apiserver/auth/gcp`, move package level variable `log` into struct `Service` as a field"

[2022-02-11 03:52] STRRL opened #2874 "Refine logging in `pkg/dashboard/apiserver/event`, move package level variable `log` into struct `Service` as a field."

[2022-02-11 03:52] STRRL opened #2875 "Refine logging in `pkg/dashboard/apiserver/experiment`, move package level variable `log` into struct `Service` as a field."

[2022-02-11 03:52] STRRL opened #2876 "Refine logging in `pkg/dashboard/apiserver/schedule`, move package level variable `log` into struct `Service` as a field."

[2022-02-11 03:52] STRRL opened #2877 "Refine logging in `pkg/dashboard/apiserver/workflow`, move package level variable `log` into struct `Service` as a field."

[2022-02-11 03:52] STRRL opened #2878 "Refine logging in `pkg/dashboard/apiserver/utils`, use `log.L()` instead of package level variable `Log`"

[2022-02-11 03:52] STRRL opened #2879 "Refine logging in `pkg/dashboard/collector/server.go`, acquired a logger from constructor `NewServer` and use it as the logger for spawned colletors"

[2022-02-11 03:53] STRRL opened #2880 "Refine logging in `pkg/dashboard/store`, remove logging because it have return the error"

[2022-02-11 03:53] STRRL opened #2881 "Refine logging in `pkg/dashboard/store/metrics`, move package level variable `log` into struct `Collector` as a field."

[2022-02-11 03:53] STRRL opened #2882 "Refine logging in `pkg/dashboard/ttlcontroller`, move package level variable `log` into struct `Controller` as a field."

[2022-02-11 03:53] STRRL opened #2883 "Refine logging in `pkg/metrics`, move package level variable `log` into struct `ChaosControllerManagerMetricsCollector` and `ChaosDaemonMetricsCollector` as a field."

[2022-02-11 03:53] STRRL opened #2884 "Refine logging in `pkg/portforward`, using logger in `portForwarder` instead of using `klog` directlly."

[2022-02-11 03:53] STRRL opened #2885 "Refine logging in `pkg/ptrace`, append `logr.Logger` into func `Trace`, and move package level variable `log` intro struct `TracedProgram` as a field"

[2022-02-11 03:53] STRRL opened #2886 "Refine logging in `pkg/selector/generic/namespace`, refactor these function as method of a Struct, then move package level variable `log` as a field"

[2022-02-11 03:53] STRRL opened #2887 "Refine logging in `pkg/selector/physicalmachine`, refactor these functions as methods of a Struct, then move package level variable `log` as a field"

[2022-02-11 03:53] STRRL opened #2888 "Refine logging in `pkg/selector/pod`, refactor these functions as methods of a Struct, then move package level variable `log` as a field"
- replace with log.L()
- refactor the function to methods

[2022-02-11 03:53] STRRL opened #2889 "Refine logging in `pkg/time`, refactor these functions as methods of a Struct, then move package level variable `log` as a field"

[2022-02-11 03:53] STRRL opened #2890 "Refine logging in `pkg/webhook/config/watcher`, acquired a logger from constructor `New` and use it as the field of `K8sConfigMapWatcher`"

[2022-02-11 03:53] STRRL opened #2891 "Refine logging in `pkg/webhook/inject`, refactor these function as methods of a Struct, them move package level variable `log` as a field"

[2022-02-11 03:53] STRRL opened #2892 "Refine logging in integration tests, use customized logger with GinkgoWriter"
The library `controller-runtime` requires setting a logger (by `log.SetLogger()`) at the first 30s when the application starts, or it would use the default `NullLogSink`. We should also call it in testing codes.

When we test with ginkgo, ginkgo provides a helpful `GinkgoWriter`, which hides the output as default, only prints it when the test failed. We'd better use it to keep our testing output c

[2022-02-13 17:53] lakshya8066 commented on #2892
Hey @STRRL I was going through the `pkg/workflow/controllers/suite_test.go` and i understand that I have to change [this](https://github.com/chaos-mesh/chaos-mesh/blob/4d3bfeda0f2c68c0416cfbf06c132191f751af6a/pkg/workflow/controllers/suite_test.go#L59) function call to `log.NewDefaultZapLogger()`. Should I replace it with a logger like this?
[code]
I am confused about how to test the changes I mad

[2022-02-13 19:19] ggold7046 commented on #2842
Hi, I am new to open source project.  Could anyone guide me how to contribute to this project. I have some knowledge of git, kubernetes,shell

[2022-02-14 02:26] iguoyr opened #2896 "Github Action: action `Upload Image` was broken when building chaos-daemon on arm64"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

master, 4d3bfeda0f2c68c0416cfbf06c132191f751af6a

**What did you do?**

N/A

**What did you expect to see?**
N/A

**What did you see instead?**
the scheduled daily CI failed when building chaos-daemon on arm64: https://github.com/chaos-mesh/chaos-mesh/actions/workflows/upload_image.yml

[2022-02-14 04:17] STRRL commented on #2842
Hi @ggold7046! Thanks for your attention on Chaos Mesh!

Currently, this proposal is selected to be one project for LFX Mentorship Q1-2022. You could apply for it at [here](https://mentorship.lfx.linuxfoundation.org/project/09847d84-5d14-4c05-8644-57cdde5b6466). And the deadline for application is Feb, 15th. ❤️

And there are also many other issues with labels "help-wanted" or "good-first-issue",

[2022-02-14 04:45] STRRL commented on #2892
Oops, I found that `log.NewDefaultZapLogger()` could not replace using `logf` with `GinkgoWriter`.  Thank you for pointing that out. I would change this PR issue and append more descriptions.

We could create another constructor in `pkg/log` with a name like `NewZapLoggerWithWriter` to create a logger with customized `io.Writer`. Then we could call `NewZapLoggerWithWriter` with `GinkgoWriter`, the

[2022-02-14 07:42] STRRL commented on #2659
I would take a look later!

[2022-02-14 08:17] afzal442 commented on #2891
@STRRL, I'm interested, could you make little more clear here which `logging` needs to be refactored?
Do you mean like this as below?
e.g.
https://github.com/chaos-mesh/chaos-mesh/blob/a2854f0e1a74130f8cb304b9036fea0d5eb91c4c/pkg/webhook/inject/command.go#L23
[code]

[2022-02-14 11:06] ggold7046 commented on #2842
Hi @STRRL,
thanks for replying. I have one curiosity. Do we need to make some contribution to this project beforehand to get selected  for LFX mentorship ?
Thanks in advance.  :)

[2022-02-14 16:27] vrublevskyyy opened #2897 "qestions about scheduler"
## Question
Hello

1) If I can add workflow(kind) execution in the scheduler? (I would like to add a few steps to the scheduler notification in slack + chaos test)
2) Can I choose many nodeSecectors zones?

I was trying to add my workflow in schedule:
[code]

[2022-02-14 17:58] kavinarvind opened #2898 "Internal error occurred: failed calling webhook"
Getting this error when trying out any failure-

Error from server (InternalError): error when creating "cpu.yaml": Internal error occurred: failed calling webhook "mstresschaos.kb.io": Post "https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-chaos-mesh-org-v1alpha1-stresschaos?timeout=5s": context deadline exceeded.

Did we have a solution for this issue?  Installation did correct

[2022-02-15 00:12] #2416 closed

[2022-02-15 04:40] STRRL commented on #2891
Hi @afzal442! Thanks for your attention on Chaos Mesh!

Well, the refactor pattern which you used is excelly correct, but this issue only want to refactor about functions which have used `log`, for example, `Inject(res *v1.AdmissionRequest, cli client.Client, cfg *config.Config, controllerCfg *controllerCfg.ChaosControllerConfig, metrics *metrics.ChaosControllerManagerMetricsCollector) *v1.Admissi

[2022-02-15 06:37] Hexilee commented on #2898
Hi, which version of Chaos Mesh are you using? Webhook timeout is a known bug in v1.2.x as we apply chaos by webhook.

[2022-02-15 06:48] Hexilee commented on #2897
1. Yes, you can embed workflow in the scheduler.
2. Yes, you can choose many nodeSecectors zones.

[2022-02-15 06:50] vrublevskyyy commented on #2897
Could you show examples? I didn't find them in the official documentation

[2022-02-15 06:51] afzal442 commented on #2891
thanks @STRRL, for your suggestion. But I wondered how I can move package level variable `log` as a field.

[2022-02-15 06:59] Hexilee commented on #2897
Just use the `Workflow` type in the scheduler:

[code]

[2022-02-15 08:49] afzal442 commented on #2883
@STRRL I would go like this as below
e.g.
https://github.com/chaos-mesh/chaos-mesh/blob/f3e295102dbb5a77f187d825bb1ea9694be6abda/pkg/metrics/chaos-controller-manager.go#L30
[code]

[2022-02-15 08:55] #2648 closed

[2022-02-15 08:55] #2776 closed

[2022-02-15 08:59] #2897 closed

[2022-02-15 09:40] STRRL commented on #2883
Do not do that:
[code]

Please add another parameter in constructor of `ChaosControllerManagerMetricsCollector` instead of assigning value in methods.

[2022-02-15 10:03] afzal442 commented on #2883
Yep @STRRL, gotcha! how I can miss that. Thanks. 😄

[2022-02-15 17:41] basit9958 commented on #2892
Hey @STRRL  can you check if this is the correct way to making a constructor using `zapcore` with custom io.writer can you check

`
func NewZapLoggerWithWriter() logr.Logger {

	var b bytes.Buffer
	bWriter := bufio.NewWriter(&b)

	config := zap.NewDevelopmentConfig()
	config.EncoderConfig.EncodeLevel = zapcore.CapitalLevelEncoder
	config.EncoderConfig.FunctionKey = "function"

	core := zapcore.New

[2022-02-16 00:38] kavinarvind commented on #2898
I am using mesh version 2.1.3. Tried all ways of debugging its not helping. I have to run this in GCP clusters. Any help would be much appreciated!

1. After logging into the cluster through gcloud, Tried to access the UI Dashboard through kubectl port-forward -n chaos-testing svc/chaos-dashboard 2333:2333 and accessed from local host as http://localhost:2333/

2. Used RBAC file as specified to ma

[2022-02-16 02:06] imlonghao opened #2901 "workflows: endless events"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Create a workflow

[code]

**What did you expect to see?**

After the workflow is accomplished, no more event can be generated.

**What did you see instead?**

Events still generate everyday, about 8-12 events per day.

[code]

**Output of chaosctl**

N

[2022-02-16 05:32] Hexilee commented on #2898
Could you provide logs of the chaos-dashboard by ` kubectl logs deployment/chaos-dashboard -n chaos-testing`, please?

[2022-02-16 06:38] STRRL commented on #2901
I think it might relate to the "controller-runtime resync" mechanism, it would resync the objects every 10 hours by default.

"Resync" is a necessary behavior for the operator pattern, we could not disable it.

So I think it's better to add a "shortcut" for emitting events:

- do not emit events again if the node or workflow has already been "accomplished"

[2022-02-16 06:40] STRRL commented on #2901
Hi @imlonghao , do you have interested for help us to improve that? :laughing:

[2022-02-16 07:52] YangKeao commented on #2872
@STRRL, I cannot wait to push forward the implementation of tracing in the chaosdaemon. Reading the log of a big replica (e.g. the test-infra in pingcap) is nearly impossible without the help of the separation of resources. I have done a brief attempt in #2902, but I cannot say it's done well. PTAL.

[2022-02-16 09:17] liu0208xuan opened #2903 "chaos experiment create encounter error for chaos-mesh-controller-manager.chaos-testing.svc no route to host"
chaos-mesh/daemon/dashbord docker image version :v2.0.7
pods status :
![image](https://user-images.githubusercontent.com/15208795/154232939-3d5490fb-27a4-4ced-94f8-6ce40ea91529.png)

but when  apply  nework-delay.yaml :
Error from server (InternalError): error when creating "network-delay.yaml": Internal error occurred: failed calling webhook "mnetworkchaos.kb.io": Post https://chaos-mesh-controll

[2022-02-16 13:24] liu0208xuan commented on #2903
i search my k8s cluster, and not find dns service ， so is't the reason canot parser chaos-mesh.xxx.svc ?

#kubectl version
Client Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.0-beta.0.641+278b3d85713423", GitCommit:"278b3d8571342329cd675613d8d69bca4427b030", GitTreeState:"clean", BuildDate:"2019-04-01T11:10:52Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Serve

[2022-02-16 22:35] kavinarvind commented on #2898
Found 4 pods, using pod/chaos-dashboard-7887bf5fcf-c9rpt
Chaos Dashboard Version: version.Info{GitVersion:"v2.1.3", GitCommit:"cbe789587678a5ea28e9b38343d222c1d5ea8657", BuildDate:"2022-01-27T05:14:56Z", GoVersion:"go1.17.5", Compiler:"gc", Platform:"linux/amd64"}
2022/02/16 20:10:22 [Fx] PROVIDE	context.Context <= main.main.func1()
2022/02/16 20:10:22 [Fx] PROVIDE	*config.ChaosDashboardConfig <=

[2022-02-17 03:23] iguoyr commented on #2823
Maybe you need to provide some logs of chaos-controller-manager again :) It helps us to find the specific problem.

[2022-02-17 04:23] STRRL commented on #2872
What does this mean?

[2022-02-17 06:37] Hexilee commented on #2898
The network conditions between the k8s API server and chaos-controller-manager may not be good, could you provide logs of all controller-manager replicas?

[2022-02-17 09:51] #2650 closed

[2022-02-17 12:55] 011d opened #2908 "can't reinstall after uninstall, crd resoure already exists"
I got an error after executing "curl -sSL https://mirrors.chaos-mesh.org/v2.1.3/install.sh | bash -s -- --docker-mirror".
I have deleted the chaos-testing namespace and reinstalled the same.
Please how can I fix this？

Cannot reinstall after uninstall command 'kubectl delete ns chaos-testing'.
The crd resource is not deleted,and an error occurs when reinstalling.

Steps to reproduce：
[code]

[code

[2022-02-17 13:49] kavinarvind commented on #2898
Sure, is this something you are looking for?

chaos-controller-manager-57995cbd5c-49mkp   0/1     Shutdown   0          2d20h
chaos-controller-manager-57995cbd5c-4h8rf   0/1     Shutdown   0          2d7h
chaos-controller-manager-57995cbd5c-6dgqd   0/1     Shutdown   0          2d20h
chaos-controller-manager-57995cbd5c-7bff7   0/1     Shutdown   0          31h
chaos-controller-manager-57995cbd5c-8

[2022-02-17 14:15] ashishgoyal111 commented on #2608
@STRRL I could see that query param based support is not there in current offering of HTTPChaos. We have a use-case where HTTPChaos is applied only when request received has certain attributes in the query params with certain values. Can you confirm if this feature is also a part of this upgrade? TIA.

[2022-02-17 16:36] mikechengwei commented on #2870
/assign

[2022-02-17 19:44] afzal442 commented on #2891
/assign

[2022-02-17 21:05] kavinarvind commented on #2898
Adding few more details:

I am  using kubectl port-forward to access Dashboard.
 kubectl port-forward -n chaos-testing svc/chaos-dashboard 2333:2333.
http://localhost:2333/

Used the below suggestion in link, but getting permission issues even for Admin user so using the default RBAC while logging into dashboard. Even though its able to lookup all namespaces and labels, its not allowing to execute

[2022-02-18 03:38] g1eny0ung opened #2914 "ui: pod phases should be first letter capitalized"
## Bug Report

As the title. The problem occurs in:

https://github.com/chaos-mesh/chaos-mesh/blob/b4181f4f2ea0b8b8d6763a81d3d6f30afb369365/ui/app/src/components/NewExperimentNext/form/Scope.tsx#L44

[2022-02-18 03:59] g1eny0ung opened #2916 "ci: install.sh test shouldn't run integration tests"
## Question

As the title, this CI should test the installation itself, including installation, uninstallation, reinstallation, etc.

https://github.com/chaos-mesh/chaos-mesh/blob/b4181f4f2ea0b8b8d6763a81d3d6f30afb369365/.github/workflows/script_test.yml#L26

What do you think? @STRRL

[2022-02-18 05:51] STRRL commented on #2908
Hi @011d , removing the namespace of Chaos Mesh installation would not clearly uninstall the chaos mesh. Please follow this documentation [Uninstall Chaos Mesh](https://chaos-mesh.org/docs/uninstallation/) to clean up your cluster.

And we strongly recommend using helm to install the Chaos Mesh.

[2022-02-18 06:29] Prashanth-BP commented on #2823
hi @iguoyr - below is what I see when I describe the Controller-manager-control-plane role
1) kubectl -n services describe role chaos-mesh-chaos-controller-manager-control-plane
Name:         chaos-mesh-chaos-controller-manager-control-plane
Labels:       app.kubernetes.io/component=controller-manager
              app.kubernetes.io/instance=chaos-mesh
              app.kubernetes.io/managed-by=He

[2022-02-18 06:40] Prashanth-BP commented on #2823
Just to add, things were running fine after we added the missing 'endpoints' however, the issue re-occurred when we restarted the Chaos-controller-manager pod. Now the endpoints are there but tests are not executing.. :(

[2022-02-18 06:54] Hexilee commented on #2903
Could you try to access 10.96.123.33 in the pod of the k8s API Server? You can list the pod by ` kubectl get pods -n kube-system | grep apiserver`.

[2022-02-18 07:01] Hexilee commented on #2898
I guess it doesn't matter.

[2022-02-18 08:19] STRRL commented on #2908
**Only** deleting the namespace would not work well, please follow the next several steps to clean up the Chaos Mesh installation. ❤️

[2022-02-18 10:15] Prashanth-BP commented on #2823
+more info:

kubectl get role -n services chaos-mesh-chaos-controller-manager-control-plane --output=yaml

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: "2021-06-23T09:36:35Z"
  labels:
    app.kubernetes.io/component: controller-manager
    app.kubernetes.io/instance: chaos-mesh
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: chaos-mesh

[2022-02-21 02:14] zhuazi opened #2920 "an error will be reported When I use make generate"
version : 2.1.3
Follow the steps of the document. When I use 'make generate', an error will be reported.
doc url : https://chaos-mesh.org/docs/add-new-chaos-experiment-type/

![image](https://user-images.githubusercontent.com/4626297/154877837-73ad585c-b90d-4704-b677-7f97c3b8585a.png)

then

![image](https://user-images.githubusercontent.com/4626297/154877906-24d53783-19fb-4d70-85f6-993985731a67.p

[2022-02-21 02:37] kavinarvind commented on #2898
I am not able to see or get logs.

get pods -n chaos-testing | grep chaos-controller-manager
chaos-controller-manager-57995cbd5c-2wljw   0/1     Shutdown   0          3d6h
chaos-controller-manager-57995cbd5c-49mkp   0/1     Shutdown   0          6d9h
chaos-controller-manager-57995cbd5c-4h8rf   0/1     Shutdown   0          5d20h
chaos-controller-manager-57995cbd5c-4l6lz   1/1     Running    0

[2022-02-21 03:44] iguoyr commented on #2823
@Prashanth-BP Hi, could you try the above command again? And if the result is failed, try to take a look for the rolebinding `kubectl get rolebinding -n <chaos-mesh-installed-namespace> {{ .Release.Name }}-chaos-controller-manager-control-plane -o yaml`.

[2022-02-21 05:33] STRRL commented on #2920
I think this PR could fix this issue: https://github.com/chaos-mesh/chaos-mesh/pull/2600. But it was not cherry-picked into branch `release-2.1` or `release-2.0`.

I think maybe you are not working on the `master` branch. We recommend using `master` branch when you following the docs "Add New Chaos Experiment".

[2022-02-21 06:36] Prashanth-BP commented on #2823
Hi @iguoyr  - The first command throws a Forbidden error that the role i am using cannote impersonate resource "serviceaccount" and the second query results says:

apiversion: v1
items: []
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
Error from server (NotFound): rolebindings.rbac.authorization.k8s.io "{{" not found
Error from server (NotFound): rolebindings.rbac.authorization.k8s.io

[2022-02-21 07:05] liu0208xuan commented on #2903
i search some solution and reinstall chaosmesh , and now the error  msg is :

logging error output: "{\"kind\":\"Status\",\"apiVersion\":\"v1\",\"metadata\":{},\"status\":\"Failure\",\"message\":\"Internal error occurred: failed calling webhook \\\"mnetworkchaos.kb.io\\\": Post https://chaos-mesh-controller-manager.chaos-testing.svc:443/mutate-chaos-mesh-org-v1alpha1-networkchaos?timeout=30s:
dial

[2022-02-21 07:36] Hexilee commented on #2898
Could you try `chaos-controller-manager-57995cbd5c-tdl95 -n chaos-testing`? We have established successful outcomes on GCP, and our webhook shouldn't timeout in a normal network environment.

[2022-02-21 07:41] Hexilee commented on #2898
This is a similar issue in [calico](https://github.com/projectcalico/calico/issues/3809#issuecomment-670149531), you can diagnose the network environment following the reference.

[2022-02-21 07:46] Hexilee commented on #2903
This is a similar issue in https://github.com/projectcalico/calico/issues/3809#issuecomment-670149531, could you diagnose the network environment following the reference?

[2022-02-21 08:58] iguoyr commented on #2823
@Prashanth-BP Yes, `{{.Release.Name}}` actually is a template (I was not sure what name you used to install chaos mesh), `chaos-mesh-chaos-controller-manager-control-plane`  is the right name here.

[2022-02-21 09:58] cwen0 opened #2922 "Dashboard: support TTL for archived schedule and workflow data"
## Feature Request

**Is your feature request related to a problem? Please describe:**

At present, Dashboard supports setting TTL for archived events and experiments, but schedule and workflow do not.  We can extend to this [function](https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/dashboard/ttlcontroller/ttlcontroller.go#L73-L80)  to implement TTL for schedule and workflow data

**Descr

[2022-02-21 12:33] Prashanth-BP commented on #2823
@iguoyr - Here we go .. this is the output.

![IMG_4627](https://user-images.githubusercontent.com/47818191/154955871-70eba2ab-78eb-4ca1-9d63-6a52bdaed780.jpg)

[2022-02-21 12:35] Prashanth-BP commented on #2823
@iguoyr  - some additional help if that helps - If we restart the Controller-Manager pod,  the tests work fine for sometime and then it stops. :(

[2022-02-21 15:02] kavinarvind commented on #2898
Updated all the requested logs below:

kubectl get pods -n chaos-testing | grep

chaos-controller-manager-57995cbd5c-4l6lz   1/1     Running    0          18h

chaos-controller-manager-57995cbd5c-lxt7n   1/1     Running    0          8h

chaos-controller-manager-57995cbd5c-rs2kf   1/1     Running    0          15h

Logs of 1/3 of the running pod:

kubectl logs chaos-controller-manager-57995cbd5c-4

[2022-02-21 15:05] kavinarvind commented on #2898
Logs of 2/3 of the running pod:

kubectl logs chaos-controller-manager-57995cbd5c-lxt7n -n chaos-testing

<<

Controller manager Version: version.Info{GitVersion:"v2.1.3", GitCommit:"cbe789587678a5ea28e9b38343d222c1d5ea8657", BuildDate:"2022-01-27T05:15:02Z", GoVersion:"go1.17.5", Compiler:"gc", Platform:"linux/amd64"}
2022/02/21 06:17:14 [Fx] PROVIDE	*manager.Options <= github.com/chaos-mesh/chao

[2022-02-21 15:06] kavinarvind commented on #2898
Logs of 3/3 of the running pod:

kubectl logs chaos-controller-manager-57995cbd5c-rs2kf -n chaos-testing

Controller manager Version: version.Info{GitVersion:"v2.1.3", GitCommit:"cbe789587678a5ea28e9b38343d222c1d5ea8657", BuildDate:"2022-01-27T05:15:02Z", GoVersion:"go1.17.5", Compiler:"gc", Platform:"linux/amd64"}
2022/02/20 23:02:48 [Fx] PROVIDE	*manager.Options <= github.com/chaos-mesh/chaos-me

[2022-02-21 21:20] igcherkaev commented on #2652
Seeing the same on Kubernetes v1.21.9 and chaos mesh v2.1.3. Does it mean we have to build a custom chaosdaemon image with that line removed?

[2022-02-21 21:43] kavinarvind commented on #2898
Is it something to do with adding any firewall in GCP to open the port for chaos mesh to access from outside?

[2022-02-22 03:02] iguoyr commented on #2823
@Prashanth-BP You could use this command to check version `kubectl exec -n <chaos-mesh-namespace> <chaos-controller-manager-pod-name> -- /usr/local/bin/chaos-controller-manager -version`.

[2022-02-22 03:12] zhqqqy opened #2923 "jvm-chaos shoule add -Dorg.jboss.byteman.compile.to.bytecode"
## Bug Report

**What version of Kubernetes are you using?**
Kubernetes version is  v1.14.10

**What version of Chaos Mesh are you using?**
Chaos Mesh version is 2.1

**What did you do?**
When I inject a fault through jvm-chaos, I inject a toString method, and a StackOverflow error will appear at this time
[code]
Main.Java
[code]
rule.btm
[code]
There is a similar issue documented here : https://d

[2022-02-22 03:20] STRRL commented on #2652
I think it could not works on your situation, because it seems he only enable block io cgroup v2 controlelr.

[2022-02-22 03:23] g1eny0ung opened #2924 "helm: range `env` should support `valueFrom`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes, currently the `env`'s `value` in helm charts doesn't support `valueFrom`, sometimes it's needed if someone wants to pass a `Secret` or `ConfigMap` as the ref.

**Describe the feature you'd like:**

Can generate `valueFrom` to real YAML.

**Describe alternatives you've considered:**

None.

**Teachability,

[2022-02-22 03:49] WangXiangUSTC commented on #2923
Is it return StackOverflow error every time?

[2022-02-22 06:14] zhqqqy commented on #2923
yes

[2022-02-22 06:38] zhuwenxing opened #2925 "How to select pods by labelSelectors with OR grammar?"
## Question

For example, I have to apply the chaos to all pods that belong to a release. But for some reason, we can't find a labelSelectors to get all pods, because labelSelectors works as k1=v1 AND k2=v2 but all pods do not have a common (k,v).

Assume that the pods can be selected with k1=v1 OR k2=v2.

To implement this feature, I have to create a workflow with two parallel child tasks. One is

[2022-02-22 09:54] #2751 closed

[2022-02-22 16:03] alelerac opened #2927 "io delay experiment causes file system corruption and write error into volumePath of zookeeper statefulset pod"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-18T12:09:25Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"ec2760d6

[2022-02-22 17:44] igcherkaev commented on #2652
@STRRL thing is, I didn't explicitly enable cgroup v2, and my k8s clusters are like 4 years old, being upgraded in place over time with kubelet configuration fixed to use cgroupfs, containerd is not set to use systemd's cgroup, etc (everything that the docs say to do to migrate to cgroup v2 I did not do), but somehow inside containers it looks like it's using cgroup v2 (at least based on the mount

[2022-02-22 20:23] igcherkaev commented on #2652
I *think* I got it working with cgroup v2 by slightly patching the `./pkg/chaosdaemon/stress_server_linux.go` file. Problem is - I am not a developer per se, let alone Golang developer, but I'll try to get a PR going...

[2022-02-23 03:10] WangXiangUSTC commented on #2923
It looks more like an infinite loop, `toString` is a common function in java. The `toString` in `Complex` trigger  the byteman's rule, and `toString` function is executed in byteman somewhere, then it trigger the rule again, endless...

You can update the rule.btm file to:

[code]

Only match the `toString` method in `Complex` class.

[2022-02-23 03:31] STRRL commented on #2927
Hi @alelerac , could you provide the log of `chaos-daemon-xx` which is on the same nodes with Pod `zookeeper-zk-0`? ❤️

[2022-02-23 06:25] STRRL commented on #2925
You could set `expressionSelectors` instead of `LabelSelectors`, which supports OR. The usage is mostly like [set-based requirements](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements)

[2022-02-23 07:38] alelerac commented on #2927
Hi @STRRL , log file of chaos-daemon is attached. Many thanks for the quick response.
[chaos_daemon_io_delay_zookeeper.log](https://github.com/chaos-mesh/chaos-mesh/files/8122567/chaos_daemon_io_delay_zookeeper.log)

[2022-02-23 08:00] zhqqqy commented on #2923
the Complex class just a example，as described in this question  https://developer.jboss.org/message/928389#928389 , it should be the problem caused by reflection. If the `-Dorg.jboss.byteman.compile.to.bytecode` parameter is added at startup, the rules will be compiled without reflection, although this makes the first execution of the rule take longer but  subsequent execution should be a lot fast

[2022-02-23 08:00] zhqqqy commented on #2923
the Complex class just a example，as described in this question https://developer.jboss.org/message/928389#928389 , it should be the problem caused by reflection. If the -Dorg.jboss.byteman.compile.to.bytecode parameter is added at startup, the rules will be compiled without reflection, although this makes the first execution of the rule take longer but subsequent execution should be a lot faster.

[2022-02-23 08:29] rksharma95 commented on #2922
I would like to work on this issue.

[2022-02-23 08:45] WangXiangUSTC commented on #2923
I tried to add the `-Dorg.jboss.byteman.compile.to.bytecode` parameter but got the same infinite log. Can you provide the whole bminstall.sh command？

[2022-02-23 09:05] ashishgoyal111 commented on #2608
@Hexilee @Andrewmatilde Could you please help us know if we are planning to have query param based filters for HTTP chaos. Could you also refer us to some PR or proposal/wiki doc for client side(egress) HTTPChaos support.

[2022-02-23 09:05] zhqqqy commented on #2923
[code]
test.btm
[code]

![image](https://user-images.githubusercontent.com/13046318/155288849-df891f77-0e28-4b89-9124-324598ecff49.png)

[2022-02-23 09:18] zhuwenxing commented on #2925
Got it!
It looks like much features are supported in dashboard  UI 😕

[2022-02-23 09:39] iguoyr opened #2929 "Feature: StatusCheck in Workflow"
## Feature Request

**Describe the feature you'd like:**

RFC: https://github.com/chaos-mesh/rfcs/pull/39

**Task Tracking:**

- [x] #2930
- [x] #2968
- [x] #2983
- [x] #3048
- [ ] add e2e tests for status check reconciler
- [ ] chaos-mesh/website#254

[2022-02-23 09:46] iguoyr opened #2930 "Feature: StatusCheck in Workflow, Add `StatusCheck` CRD"

[2022-02-23 10:17] Akshit42-hue commented on #2507
I have to change the template file, am I right @cwen0

[2022-02-23 12:31] liu0208xuan opened #2931 "use hostNetwork pod cannot use chaos-mesh network"
my k8s env version:
  1.13

In my test resources env , all the pods use hostNetwork， when i apply network-chaos， encounter error:

ERROR   records fail to apply chaos     {"error": "It's dangerous to inject network chaos on a pod(default/ps-standby1-16904-16906-18929) with `hostNetwork`"}

so is there any methods to avoid this error ?

thanks !

[2022-02-23 15:48] rksharma95 commented on #2922
hey @cwen0 , I was trying to understand the issue well and went through the codebase and found that the case for adding TTL for `schedule` is pretty straightforward.
In the case of `workflow` as `WorkflowStore` is something different from others. There is no existing functionality of handling the deletion of workflow based on finish time. do we need to implement one for the same?

can you help me

[2022-02-23 18:36] craig-seeman opened #2933 "Closed Request"

[2022-02-23 19:15] #2933 closed

[2022-02-24 03:00] cwen0 commented on #2922
Yes, `DeleteByFinishTime` is needed, you can implement one for `WorkflowStore`.  I will assign this issue to you.

[2022-02-24 03:20] WangXiangUSTC commented on #2923
https://downloads.jboss.org/byteman/4.0.18/byteman-programmers-guide.html#environment-settings
There is a environment setting named `org.jboss.byteman.compileToBytecode`, is it same with `org.jboss.byteman.compile.to.bytecode`?

[2022-02-24 03:55] STRRL commented on #2931
You could enable the networkchaos on hostNetwork by configuring helm charts with `--set controllerManager.allowHostNetworkTesting=true`

[2022-02-24 05:16] iguoyr opened #2934 "Github Action: need to trigger `verify` action when helm chart is modified"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

After https://github.com/chaos-mesh/chaos-mesh/pull/2696 merged

**What did you do?**

In https://github.com/chaos-mesh/chaos-mesh/pull/2921, it adds environments to chaos-dashboard in helm chart, but not modify the `install.sh`.

The problem is that it did't trigger the `verify` Github Act

[2022-02-24 06:31] FingerLeader opened #2936 "Process of memStress should not be created in a stressChaos with only CPU pressure"
## Bug Report

**What version of Chaos Mesh are you using?**
latest

**What did you do?**

Create a streesChaos with only CPU pressure.
**What did you expect to see?**
Process of memStress does not be created.
**What did you see instead?**
Although memStress will exit because of missing parameters, it was created. That's because here are some if-else missing when creating stressores.

[2022-02-24 09:11] ycwdaaaa opened #2938 "error when try to compile chaos-mesh with make command"
just like the title,   there is no more useful information.

kustomize build output/config-v1beta1/default > manifests/crd-v1beta1.yaml
CGO_ENABLED=1 go build -ldflags "-s -w -X 'github.com/chaos-mesh/chaos-mesh/pkg/version.buildDate=2022-02-24T09:01:15Z' -X 'github.com/chaos-mesh/chaos-mesh/pkg/version.gitCommit=bef904904603b8bd81a8bc780bcbf58f3fa1d98c' -X 'github.com/chaos-mesh/chaos-mesh/pkg/ve

[2022-02-24 10:33] STRRL commented on #2938
Could you provide which branch and commit are you using for compiling? :heart:

[2022-02-24 10:55] zhqqqy commented on #2923
yes

[2022-02-24 10:57] ycwdaaaa commented on #2938
Thanks for your reply,  this problem just cannot reproduce,  now I can use make  command to compile chaos-mesh. but when I want to run the dashboard with yarn  start:default command, I got this error:

cainsun@CAINSUN-MB0 ui % yarn start:default
yarn run v1.22.17
error Command "start:default" not found.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

[2022-02-24 12:20] ycwdaaaa opened #2939 "after make command to build image, i got error "Dashboard UI is not built""
Dashboard UI is not built.
Please run UI=1 make.
Run UI=1 make images/chaos-dashboard/bin/chaos-dashboard if you only want to build dashboard only.
(Note: If you only want to build the binary in local, pass IN_DOCKER=1)

[2022-02-24 14:37] #2934 closed

[2022-02-24 18:29] rksharma95 commented on #2922
as we have to delete all the workflows based on finish time. In `DeleteByFinishTime` we are finding all relvent workflows by retrieving the meta-list.

the `DeleteByFinishTime` defined as:

[code]

should I continue with the above implementation?

[2022-02-25 00:15] #2473 closed

[2022-02-25 01:37] #2920 closed

[2022-02-25 01:58] WangXiangUSTC commented on #2923
OK, may you fix this issue? Update this line https://github.com/chaos-mesh/chaos-mesh/blob/bef904904603b8bd81a8bc780bcbf58f3fa1d98c/pkg/chaosdaemon/jvm_server.go#L34

[2022-02-25 03:15] STRRL commented on #2939
Please try `UI=1 make image`.

[2022-02-25 03:21] ycwdaaaa commented on #2939
I just tried, but got this error, do you know how to deal with it ?

$ cd ..; is-ci || husky install ./ui/.husky
husky - Git hooks installed
Done in 335.96s.
cd ui &&\
	yarn build
yarn run v1.22.17
$ yarn workspace @ui/mui-extends build && yarn workspace @ui/app build
$ tsc
$ react-scripts build
Creating an optimized production build...

The build failed because the process exited too early. This

[2022-02-25 03:22] STRRL commented on #2925
I am going to close this issue, feel free to reopen it if you have other questions. :)

[2022-02-25 03:22] #2925 closed

[2022-02-25 03:24] STRRL commented on #2939
It most probably is oom killing happens on nodejs.

I guess you are using "Docker desktop" on macOS (or windows). Please set up more memory for the docker.

[2022-02-25 03:29] ycwdaaaa commented on #2939
yes, i'm using Docker desktop on macOS.  I will  set up memory to 6G and  retry.  thanks very much

[2022-02-25 03:32] STRRL commented on #2939
I am going to close this issue, feel free to reopen it if you still have problem on building chaos mesh! :D

[2022-02-25 03:32] #2939 closed

[2022-02-25 03:57] #2896 closed

[2022-02-25 04:01] ycwdaaaa commented on #2939
just one  more question,  after the command complete,  how can i get the image?  i cannot find the dashbord image built

[2022-02-25 04:41] #2914 closed

[2022-02-25 05:43] #2615 closed

[2022-02-25 06:06] Hexilee commented on #2898
It seems the controller-manager does not receive webhook requests from the k8s API server.

Yes, you should open port 443 of controller-manager service and port 9443 of controller-manager pods, as the k8s API server needs to access them.

[2022-02-25 06:07] #2901 closed

[2022-02-25 06:42] zhqqqy commented on #2923
pr has been submitted ： https://github.com/chaos-mesh/chaos-mesh/pull/2945

[2022-02-25 07:09] STRRL commented on #2588
It seems here is another way to bypass the issue caused by cross-container JVM attach. We are going to make more work in the future. Thanks to our contributors!

[2022-02-25 07:29] cwen0 commented on #2922
Yes, you can continue. In fact, we should not list the metas first and then delete them. If we can delete them directly, it will be better. But If we want to refactor this logic, we should refactor `experimentstore`, `scheduleStroe` together in another single PR.

[2022-02-25 08:47] zhuwenxing opened #2946 "Etcd Pod's statu will be error when inject io latency to etcd"
## Bug Report

**What version of Kubernetes are you using?**

[code]
**What version of Chaos Mesh are you using?**

[code]
**What did you do?**

inject io-latency into etcd pod
yaml config:
[code]

**What did you expect to see?**
io-latency injection success and that takes effect, like command `touch test.txt` need some time to return result

**What did you see instead?**
io-latency injection succ

[2022-02-25 12:01] rksharma95 commented on #2922
Can you share the logic, how I can handle the deletion directly without listing the meta? how can we get access to the `FinishTime` field without a meta list?

[2022-02-25 12:12] cwen0 commented on #2922
You can continue to use `meta` to implement `DeleteByFinishTime`. About the `DeleteByFinishTime` improvement, you can create a new issue to discuss it. You don't need to consider it in this pr.

[2022-02-25 12:15] rksharma95 commented on #2922
Thanks for your feedback. I will open an issue for that.

[2022-02-25 13:27] Ruhika1417 commented on #2507
@Akshit42-hue @cwen0  If I'm not wrong, in templates there are these - rabc.yaml files that you need to change.

[2022-02-26 04:44] cwen0 commented on #2507
@Akshit42-hue @Ruhika1417 This issue is related to UI front-end implementation, I'm not very familiar with this front-end. Can you provide some help? @g1eny0ung

[2022-02-28 01:36] Prashanth-BP commented on #2823
hi @iguoyr - just wanted to know is 2.1.3 the latest version as of today? Kindly advise. Thanks!

[2022-02-28 02:28] STRRL commented on #2938
Please follow the [README](https://github.com/chaos-mesh/chaos-mesh/blob/master/ui/README.md) in `ui` folder,  you should execute `yarn bootstrap` then `yarn workspace @ui/app start:default`.

Please let us know if it works. :heart:

[2022-02-28 02:29] STRRL commented on #2931
I am going to close this issue because we have provided the solution for this question.

Please feel free to reopen this issue if it does not work or you have other questions. :)

[2022-02-28 02:29] #2931 closed

[2022-02-28 04:25] STRRL commented on #2927
Hi @alelerac , I think I could not exactly reproduce this certain issue. Could you tell us more detail about the way to deployment the zookeeper? like the image of containers or the helm charts you used.

I have taken a try with bitnami zookeeper helm charts, I occurred some issues but it does not look like this issue.

[2022-02-28 05:36] g1eny0ung commented on #2507
This is related to [`metav1.TypeMeta`](https://github.com/chaos-mesh/chaos-mesh/blob/799408773657538c3aceb32797baa1756dd79849/pkg/dashboard/apiserver/experiment/experiment.go#L291).

You can see that it is defined as:

[code]

So if you want to change the display order, the best thing to do is to modify the API.

[2022-02-28 08:53] #2820 closed

[2022-02-28 09:42] YangKeao commented on #2946
It seems that this panic happens when the bblot db tries to read data from the file: https://github.com/etcd-io/bbolt/blob/master/db.go#L933

The problem is that I don't know why this read could fail (and the error code). In the view of FUSE, it's a simple read request. I wonder whether the `dmesg` will report this reading failure. It may have some connection with https://github.com/chaos-mesh/tod

[2022-03-01 02:37] zhuwenxing commented on #2946
Hi, you can check the GitHub action workflow https://github.com/milvus-io/milvus/blob/master/.github/workflows/io-latency-chaos-test.yaml.
All steps to reproduce this issue are in this workflow.

You can also check this job https://github.com/milvus-io/milvus/runs/5364301806?check_suite_focus=true to find more details.

Yes， this issue occurs every time

[2022-03-01 03:08] zhuwenxing commented on #2946
As you can see, etcd pod restarted once.
![image](https://user-images.githubusercontent.com/12268675/156097409-1ac39a54-ce18-418e-9efe-aef8971b5363.png)

[2022-03-01 05:44] iguoyr commented on #2823
@Prashanth-BP Yes! You could check versions from [the release page](https://github.com/chaos-mesh/chaos-mesh/releases).

[2022-03-01 06:40] WLBF commented on #1964
@YangKeao  I think a simple program that allocate specific amount  of memory and fill these memory with random bytes to force os allocate same amount of physical memory will do the work.

[2022-03-01 06:45] FingerLeader commented on #2936
This bug has been solved in PR #2918

[2022-03-01 06:45] #2936 closed

[2022-03-01 06:47] cwen0 commented on #1964
Yes, @FingerLeader has developed a simple program to fix this issue in #2383.

[2022-03-01 06:48] YangKeao commented on #1964
@WLBF Yes. https://github.com/chaos-mesh/chaos-mesh/pull/2623 should have fixed this issue.

[2022-03-01 06:48] #1964 closed

[2022-03-01 07:06] g1eny0ung commented on #2938
Sorry, the command in the documentation has not been updated. I'll go update it now.

[2022-03-01 07:14] g1eny0ung commented on #2938
https://github.com/chaos-mesh/website/pull/257

[2022-03-01 08:18] STRRL commented on #2574
I am going to close this issue. Feel free to reopen it.

[2022-03-01 08:18] #2574 closed

[2022-03-01 09:16] kisahm commented on #2697
is there a fix already available?

[2022-03-01 19:00] tanayjha opened #2956 "Chaos Mesh support for windows nodepool"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I have been using the [Chaos Studio](https://docs.microsoft.com/en-us/azure/chaos-studio/) tool to inject fault into my [AKS cluster](https://azure.microsoft.com/en-in/services/kubernetes-service/). For pods on the linux nodepool, all the faults work as expected. However, I also used a [windows nodepool](https:

[2022-03-02 03:01] #2659 closed

[2022-03-02 03:30] g1eny0ung opened #2958 "networkchaos: `partition` is not blocking external domains"
## Bug Report

From https://cloud-native.slack.com/archives/C0193VAV272/p1646139997114759.

[2022-03-02 04:03] YangKeao commented on #2697
@g1eny0ung Do you have any plan/timeline to fix this issue?

[2022-03-02 07:03] YangKeao opened #2962 "dashboard: cannot select container names for stresschaos"
![image](https://user-images.githubusercontent.com/5244316/156311534-96774fed-d48c-4e0f-8d44-faea2cddf384.png)

`containerNames` are supported by the controller, but doesn't appear in the dashboard.

[2022-03-02 07:05] Fengrui-Liu commented on #2521
Hi, I have the same problem. My solution is:

and edit

to

I am not sure about its shortcomings, but it can delete the mistaken chaos experiments

[2022-03-02 07:08] Fengrui-Liu commented on #2572
Hello, my solution is here, hope it can be helpful
https://github.com/chaos-mesh/chaos-mesh/issues/2521#issuecomment-1056415354

[2022-03-02 09:42] #2401 closed, assigned to ReigenDing

[2022-03-02 10:13] STRRL commented on #2871
closed by https://github.com/chaos-mesh/chaos-mesh/pull/2902

[2022-03-02 10:14] STRRL commented on #2870
closed by https://github.com/chaos-mesh/chaos-mesh/pull/2902

[2022-03-02 10:14] #2870 closed

[2022-03-02 10:14] STRRL commented on #2872
closed by https://github.com/chaos-mesh/chaos-mesh/pull/2902

[2022-03-02 10:14] #2872 closed

[2022-03-02 10:15] STRRL commented on #2871
I commented on that on the incorrect palce.  This issue is still open.

[2022-03-02 10:16] STRRL commented on #2889
/assign

[2022-03-02 10:52] alelerac commented on #2927
Hi @STRRL ,

I have attached three files:
- zookeeper.yaml (manifest for zookeeper statefulset)
- io_test.sh  (script which prints directory structure)
- io_delay_zk.yaml (io delay manifest)

How to reproduce:
1) deploy zookeeper statefulset (zookeeper.yaml)
2) run io_test.sh to print directory structure and write file into persistent volume
3) start io delay experiment  (io_delay_zk.yaml)
4) comp

[2022-03-03 05:44] YangKeao opened #2965 "External target negative selection in NetworkChaos"
Support negative selection for `NetworkChaos`. For example:

[code]

Then, this pod can only access the address in `10.0.0.0/8`.

[2022-03-03 06:10] YangKeao opened #2966 "Automatically protection rules for `hostNetwork` scenario"
It seems that the `hostNetwork` security problem is much greater than I thought. As the chaos-daemon runs on the same node as the `hostNetwork` pod, the isolation rules will break the connection between `chaos-daemon` other parts of the cluster, e.g. the `controller-manager`, which means there is no way to recover.

To fix this scenario, it would be better to add a whitelist, and always allow the

[2022-03-03 06:26] YangKeao opened #2967 "Public cloud volume and instance selection"
Thanks for @zjj2wry to provide the suggestion to enhance the `AWSChaos`.

For now, we have to specify the `volumeId`, `instanceId`. If the user is using the [cloud-provider-aws](https://github.com/kubernetes/cloud-provider-aws), the volume and instance can be selected through the PV and Node. For example, the following two selection chains can be useful:

1. Pod -> PVC -> PV -> AWS volume id
2. Po

[2022-03-03 06:41] iguoyr opened #2968 "Feature: StatusCheck in Workflow, Add Dashboard API for StatusCheck"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-03-03 06:46] STRRL opened #2969 "unreadable logging timestamp format in chaos-controller-manager"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

v2.1.3

**What did you do?**

- install Chaos Mesh 2.1.3 by helm
- `k -n chaos-mesh logs -f chaos-controller-manager-67cc5c5776-l7gnp`

**What did you expect to see?**

logging with human-readable timestamp

**What did you see instead?**

[code]

**Output of chaosctl**

#### Steps to f

[2022-03-03 06:48] STRRL commented on #2969
Also occurs on chaos-daemon and chaos-dashboard:

chaos-daemon:

[code]

chaos-dashboard:
[code]

[2022-03-03 07:23] STRRL commented on #2969
Also occurs on chaos-dashboard on master branch.

chaos-daemon on branch master branch is fixed by #2902

We should cherry-pick them into branch release-2.1

[2022-03-03 07:29] STRRL commented on #2969
Relates to https://github.com/kubernetes-sigs/controller-runtime/pull/915, affected controller-runtime > 0.7.0.

Chaos Mesh v2.0.x using controller-runtime 0.5.0, it would not effected.

[2022-03-03 10:45] Hexilee opened #2971 "indicate the changes of HTTPChaos behaviors in docs"
## Document Updating Request

After https://github.com/chaos-mesh/chaos-mesh/pull/2555, the behaviors of HTTPChaos change, the rules apply to both server and client, we should update the docs.

[2022-03-03 13:42] STRRL commented on #2885
Waiting for https://github.com/chaos-mesh/chaos-mesh/issues/2889

[2022-03-03 16:11] craig-seeman opened #2976 "[Feature] Dynamic experiments"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I do know that 'updating' an experiment is not yet implemented and I'm not sure if planned.

However, during experiments on a larger environment, there is a greater chance of the infrastructure changing while the experiment is running. (IE: Node goes down during an experiment, HPA scales up due to chaos causing

[2022-03-04 02:19] #2923 closed

[2022-03-04 02:27] WangXiangUSTC opened #2977 "JVMChaos support inject fault to MySQL"
include latency, throw exception on specified table

[2022-03-04 08:38] STRRL opened #2978 "cgroup v2 support for docker and cri-o"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

After https://github.com/chaos-mesh/chaos-mesh/pull/2928, StressChaos would work well with cgroups v2 and contained.

But it would not work on docker as [this comment](https://github.com/chaos-mesh/chaos-mesh/pull/2928#issuecomment-1049465242) says, and it has not been

[2022-03-04 08:41] alelerac commented on #2927
Hi @STRRL,
please check provided files and instruction on how to reproduce.
Thanks.

[2022-03-04 08:49] STRRL commented on #2927
Thanks! I would take a look!

[2022-03-04 10:50] zhuwenxing opened #2979 "How to verify time offset taking effect?"
## Question

as stated above, we can't `kubectl exec` into the container, and use the output of `date` as the time after chaos?

I set time offset as '-10m', but after timestamps of injecting time offset chaos, the following timestamps in the log is still increasing.

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K

[2022-03-04 10:52] Jorge-Zed opened #2980 "Using GitHub Actions, approach to chaos-mesh installation"
## Question

Hello team,

We have been testing the use of Github Actions to run experiments and we spotted an issue that would like to ask about to understand what is your approach to it.

First time we run our workflow it works perfectly fine, chaos-mesh gets installed and it applies the selected experiments.

We found that the 2nd time we run our github workflow, we receive an error because the

[2022-03-07 00:16] #2222 closed

[2022-03-07 03:09] iguoyr opened #2983 "Feature: StatusCheck in Workflow, Implement StatusCheck Reconciler"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-03-07 05:16] ashishgoyal111 opened #2984 "Schedule doesn't create networkchaos objects"
## Bug Report

**What version of Kubernetes are you using?**
GitVersion:"v1.20.11"

**What version of Chaos Mesh are you using?**
GitVersion:"v2.0.2"

**What did you do?**
Create a yaml file with chaos kind **Schedule**

**What did you expect to see?**
As I provide network-chaos spec inside the schedule, network-chaos objects should be created and chaos should be applied to the pods with the defin

[2022-03-07 05:19] ashishgoyal111 commented on #2984
My yaml files looks like-
[code]

[2022-03-07 14:38] jasonstack commented on #1262
I am having the same `EACCES: Permission denied` on `chaos-daemon.log` with chaos-mesh chart-0.4.1, I believe `privileged` is `true` by default. @YangKeao do you know how to resolve it?

[code]

[2022-03-08 03:23] Hexilee opened #2988 "zero value config of httpchaos replace action cause wrong behavior"
## Bug Report

**What version of Chaos Mesh are you using?**
Latest

**What did you do?**

Apply following config.

[code]

**What did you expect to see?**

HTTPChaos works.

**What did you see instead?**

[code]

**The possible cause**
In https://github.com/chaos-mesh/chaos-mesh/pull/2555, we introduce the chaos-tproxy v0.4.x, which needs a compatibility layer to HTTPChaos config. However, the ze

[2022-03-08 03:25] #2889 closed

[2022-03-08 06:21] #2988 closed

[2022-03-08 07:50] Prashanth-BP commented on #2823
hi @iguoyr - we normally, download the images from Docker hub - https://hub.docker.com/r/pingcap/chaos-mesh/tags
and scan it before deploying the same. However, we do not see the latest version 2.1.3 on Docker but we see 2.0.7. I Just wanted to ask you if 2.0.7 is good enough to help us overcome the above reported issue or would you like to point me to a Docker hub link for 2.1.3? We are ok instal

[2022-03-08 08:02] YangKeao commented on #2979
For example, if process 1 (and its child process) printed log, then the log timestamp would change. A clearer example is that:

[code]

This program (if it was the injectee) will print the modified time

[2022-03-08 08:06] YangKeao opened #2993 "`TimeChaos` strategy to find existing entry always failed"
Reported by @Andrewmatilde

We allocated two mmaps for one timechaos injection. However, these two mmaps will combine into a single entry in the `/proc/PID/maps`, which breaks our strategy to find the existing entry. Then the `TimeChaos` will always allocate a new mmap. Though it will only take 4KB a time, it's still a memory leak.

[2022-03-08 08:34] YangKeao commented on #2984
I think it's the expected behavior of `startingDeadlineSeconds`, though a little wired. The controller will always consider the unscheduled task from the last time it was scheduled to now. If no task has been scheduled, the "last time" would be the creating time of the `Schedule` object.

If the `startingDeadlineSeconds` is provided, it will not consider the scheduled event earlier than `now - sta

[2022-03-08 11:37] jasonstack opened #2995 "IoChaos "EACCES: Permission denied" on chaos-daemon.log"
## Bug Report

**What version of Kubernetes are you using?**
Google Kubernetes Engine (GKE) 1.20

**What version of Chaos Mesh are you using?**
Chart 0.4.1

**What did you do?**
Inject IoChaos

**What did you expect to see?**
IO operation failed

**What did you see instead?**
IO operation didn't fail.

I think `privileged` is default to `true` in `Chart 0.4.1`

From `Chaos-daemon.log`:
[code]

IoC

[2022-03-09 01:46] dcalvin commented on #2980
@WangXiangUSTC @cwen0 PTAL

[2022-03-09 04:30] g1eny0ung commented on #2984
Since I also felt rather vague about the concept of this piece, I also tried to reproduce the process (`schedule: '@every 30s', startingDeadlineSeconds: 5`). Here are the logs:

[code]

Then I went and looked at it against the code, and here are my annotations:

https://github.com/chaos-mesh/chaos-mesh/blob/f52ad7d294fc0a8dba96478555c5c533f8e537d8/controllers/schedule/cron/controller.go#L67

[code

[2022-03-09 05:03] iguoyr commented on #2823
@Prashanth-BP Hi, Chaos Mesh push latest images to `ghcr.io` instead of `docker.io`, you could refer to [this document](https://chaos-mesh.org/docs/offline-installation/#download-chaos-mesh-images).

[2022-03-09 06:00] Prashanth-BP commented on #2823
Thanks @iguoyr  - Unfortunately, there are restrictions to pull the images from the repos other than Docker. Hence, we are going with 2.0.7 which is available in the docker hub. Hope that should be fine!

[2022-03-09 06:09] #2883 closed

[2022-03-09 09:51] g1eny0ung commented on #2995
After reviewing the GKE related documentation, did you add the `--enable-pod-security-policy` when you created the cluster? If so, I think it might be time for @YangKeao to take a look at it. 🤔

[2022-03-09 10:06] Bonitas opened #2998 "Usage of deprecated api for dashboard ingress"
## Bug Report

**What version of Kubernetes are you using?**
1.21.9

**What version of Chaos Mesh are you using?**
2.1.3

**What did you do?**
I deployed chaos mesh via the helm chart.

**What did you expect to see?**
I expected it to use the current version of ingresses

**What did you see instead?**
It deploys an ingress resource with API version extension/v1beta1 (see also https://github.com/ch

[2022-03-09 10:08] Bonitas commented on #2998
I can open a PR for that if you want. Would you suggest to support both versions for downward compatibility or can we just update as networking v1 was already introduced in k8s 1.19

[2022-03-09 10:30] STRRL opened #2999 "different behaviour between memStress and stress-ng after OOM Killing"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

memStress in `master` branch
(using stress-ng with `2.1.1` as controlled group)

**What did you do?**

create a StressChaos with extremely large size aims to oom kill:

[code]

**What did you expect to see?**

`memStress` should act like `stress-ng`:
- keep allocating memory even after

[2022-03-09 10:32] STRRL commented on #2999
PTAL @FingerLeader

[2022-03-09 11:14] FingerLeader commented on #2999
I remember I tested waht you said, and stressChaos still recovered:anguished:, I'll try again later.
To implement the same behavior, `memStress` should work in client–server mode, maybe it is too complicated for a memory allocation program? Here is my past thought  https://github.com/chaos-mesh/chaos-mesh/pull/2623#issuecomment-993328870

[2022-03-09 11:54] STRRL commented on #2999
I think we do not need a client-server model, just keeping n sub-process exist could make that. The main process could use `wait` to suspend util the child process exit.

[2022-03-09 14:20] jasonstack commented on #2995
I don't see any pod security related configs in the script.

Other chaos injection, like NetworkChaos works fine.

[2022-03-10 02:04] jasonstack commented on #2995
This is not true. The `securityContext` doesn't sepecify `privileged`. Aftering changing the chaos-daemon daemonSet to `privileged: true`, the IO chaos is applied successfully.

[2022-03-10 02:57] g1eny0ung commented on #2995
It's good to have it solved. I'll close this issue.

[2022-03-10 02:57] #2995 closed

[2022-03-10 03:25] tesstnew opened #3001 "PhysicalMachineChaos dial tcp xx.xx.xx.xx:xxx : connect: connection refused"
kind: PhysicalMachineChaos
apiVersion: chaos-mesh.org/v1alpha1
metadata:
  namespace: default
  name: cpu
  annotations:
    experiment.chaos-mesh.org/pause: 'true'
spec:
  action: stress-cpu
  address:
    - http://xx.xx.xx.xx
  uid: 8a778c6a-e93a-40b9-b43f-fc04ae7372e0
  stress-cpu:
    load: 20
    workers: 20

version 2.1.3

[2022-03-10 03:31] tesstnew commented on #3001
Failed to apply chaos: : Post "http://xx.xx.xx.xx/api/attack/stress": dial tcp xx.xx.xx.xx:xx: connect: connection refused

[2022-03-10 05:11] jasonstack commented on #2995
for the record, this is the command I used to update privilege:
[code]

[2022-03-10 08:42] tesstnew commented on #2979
same question，View pod log time, time offset takes effect，But enter the pod through kubectl exec, execute date, the time has not changed ，How did you do it??

[2022-03-10 08:59] YangKeao commented on #2979
@tesstnew In short, Chaos Mesh modified the implementation of `clock_gettime` or other functions related to time in the target processes' memory space (for more detail, see [vdso](https://man7.org/linux/man-pages/man7/vdso.7.html)), so only the target processes (and their subprocesses) are modified. The other processes in the same machine could still get the correct time.

The Chaos Mesh doesn't w

[2022-03-10 09:16] tesstnew commented on #2979
@YangKeao  thanks   it might also explain
https://chaos-mesh.org/zh/blog/simulating-clock-skew-in-k8s-without-affecting-other-containers-on-node/

[2022-03-10 09:26] STRRL commented on #886
Lots of days gones, we are still facing this issue. It's not suitable to keep close it.

[2022-03-10 09:46] zhuazi opened #3005 "Where is the code that manager the chaos's life cycle?"
## Question
after looking at the source code,I can't find the code  that use the  parameter 'duration' manager the chaos's life cycle，can  somebody help me？

[2022-03-10 10:44] zhuazi commented on #3005
the entry point for the schedule task that  stops running chaos. is controller? or dashboard?

[2022-03-10 11:02] STRRL opened #3007 "chaosctl might not works with clusterScoped=false"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

master 84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa

**What did you do?**

I found some codes that might contain bugs when I refactor `pkg/selector/pod`:

https://github.com/chaos-mesh/chaos-mesh/blob/84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa/pkg/ctrl/server/k8s-utils.go#L63-L94

At line 65

[2022-03-10 11:02] STRRL commented on #3007
PTAL @Hexilee

[2022-03-10 13:11] #2845 closed

[2022-03-10 19:32] Gearheads opened #3008 "pingcap/coredns is not ARM supported"
## Question
Hello, I am new here, and I was wondering if anyone knew where this image comes from?
https://hub.docker.com/r/pingcap/coredns/tags

My team is looking to leverage the latest version of chaos-mesh within ARM64 architecture, but this image does not support ARM64. Is there another image we should use, or would someone be able to help point me as to where this image gets created?

Also, I

[2022-03-11 05:56] g1eny0ung commented on #3001
The information is a bit scarce, can chaosd's address be accessed directly?

[2022-03-11 06:05] tesstnew commented on #3001
@g1eny0ung thanks ， Intranet address.，   Inaccessible ，
I refer to this question   https://chaos-mesh.org/docs/faqs/#q-i-have-deployed-chaos-mesh-and-created-podchaos-experiments-successfully-but-i-still-failed-in-creating-networkchaostimechaos-experiment-the-log-is-shown-below

chaos-controller-manager ping chaos-daemon  ok

maybe  we can Tencent conference  hahahaha

[2022-03-11 06:14] Hexilee commented on #3007
Reasonable, I'm going to fix it.

[2022-03-11 07:24] g1eny0ung commented on #2998
Definitely! If you can open a PR, we would certainly welcome it. ❤️ Refer to [Supported Releases](https://chaos-mesh.org/docs/supported-releases/), the minimum k8s version we wanna support is `1.15`. So we still need to be backward compatible.

[2022-03-13 12:27] z1cheng commented on #2843
/assign

[2022-03-14 04:08] g1eny0ung opened #3013 "dashboard/core: Data too long for column"
## Bug Report

From: https://cloud-native.slack.com/archives/C0193VAV272/p1646866313110069.

[2022-03-14 05:03] STRRL opened #3015 "Tracking Issue: tidy helm chart"
## Feature Request

Make helm chart easier to use and maintenance.

Steps:

- [x] enriching comments in `values.yaml` https://github.com/chaos-mesh/chaos-mesh/pull/3053
- [x] make chaos-dashboard use another seviceaccount, split from serviceaccount used by chaos-controller-manager https://github.com/chaos-mesh/chaos-mesh/pull/3145
- [x] split cert and webhooks manifests https://github.com/chaos-me

[2022-03-14 07:35] #2930 closed

[2022-03-14 12:33] #3007 closed

[2022-03-14 15:26] basit9958 commented on #2881
/assign

[2022-03-14 20:01] angoothachap commented on #2677
I'm getting this error when I query` /experiments/experimentID `also

[2022-03-15 06:19] Andrewmatilde opened #3021 "Need a `Warning` log func"
I approved the rfc :
[code]

But in real code , I feel wired about the code `logger.V().Info()`.
@STRRL
related : #3002

[2022-03-15 06:21] Andrewmatilde commented on #3005
PTAL @STRRL .

[2022-03-15 06:23] STRRL commented on #3021
We could use `logger.Info()` without `V(0)`.

Or do you think using Info as Warning is weird?

[2022-03-15 06:25] Andrewmatilde commented on #3021
Yes, I think Info as Warning is weird.

[2022-03-15 06:27] STRRL commented on #3005
Hi @zhuazi, we use a series of controllers for the lifecycle of all types of chaos, you could find it in:

https://github.com/chaos-mesh/chaos-mesh/blob/8d8ed48eed82ca60106cf85c84a368bd10f6bc4e/controllers/common/step.go#L26-L28

[2022-03-15 06:35] STRRL commented on #3021
Using `Error` and `Verbosity-levels Info` is another different pattern from the log level with `Error`, `Warning`, `Info`, `Debug`, `Trace`, which we used before.

Using the `Warning` level is actually ambiguous, and actually, no one would read the warning level.

About eliminating the warning level, I think this blog could introduce better than me: https://dave.cheney.net/2015/11/05/lets-talk-abo

[2022-03-15 06:56] Andrewmatilde commented on #3021
I think warning is a debug hint. Meybe a msg : "I don't know how to divide a error situation but there may have error" is better.

[2022-03-15 06:59] #2843 closed

[2022-03-15 07:40] STRRL opened #3023 "Monitoring Chaos Mesh Components Example and Grafana Dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Related to https://github.com/chaos-mesh/chaos-mesh/issues/2198

**Describe the feature you'd like:**

We have appended many useful metrics into each component of Chaos Mesh, I think it's time to:

- provide a grafana dashboard
- provides monitoring example manifests

**Describe alternatives you've considered:*

[2022-03-15 08:16] #3021 closed

[2022-03-15 09:27] #2885 closed

[2022-03-16 03:13] ReigenDing commented on #2958
/assign

[2022-03-16 05:55] iguoyr opened #3026 "Uninstall Chaos Mesh with Chaosctl"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Uninstall chaos mesh manually could lead to various problems, due to missing some steps.

**Describe the feature you'd like:**

Uninstall chaos mesh with chaosctl.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-03-16 06:31] STRRL opened #3027 "avoid missing metrics with Gauge metrics"
## Feature Request

**Is your feature request related to a problem? Please describe:**

When I trying to make the Grafana dashboard for Chaos Mesh, I found that the gauge metric `chaos_controller_manager_chaos_experiments` would not response any data if no experiment was created.

The same situation also happens on other gauge metrics.

**Describe the feature you'd like:**

As the reference [Avoid

[2022-03-16 07:25] zhqqqy opened #3028 "Host failure experiment delete experiment failed"
## Bug Report

**What version of Kubernetes are you using?**

Kubernetes 1.14
**What version of Chaos Mesh are you using?**

chaos-mesh v2.1.3
**What did you do?**

When I injected a stress  experiment and set the duration to 20s, the experiment was not deleted when the 20s time expired
**What did you expect to see?**
kill stress-ng process
**What did you see instead?**
chaosd prompt 404
![image](

[2022-03-16 09:30] ReigenDing commented on #2958
experiment yaml 1
[code]
[code]

experiment yaml 2
[code]

[code]
I think the problem is the prefix of the cname.

[2022-03-16 10:08] STRRL commented on #2646
Hi @hayorov, sorry for the late response.

This issue is mostly caused by unfinished installation/uninstallation. you could use `helm upgrade` but without any changes with `values` for regenerating certs to fix it.

[2022-03-16 10:11] STRRL commented on #2608
Hi! Chaos Mesh would keep forward compatibility with the current/latest and future Kubernetes if there are no breaking changes introduced.

And latest release 2.1.3 also works well on kubernetes v1.23.4.

If you meet any problem, feel free to open an issue!

[2022-03-16 10:31] STRRL commented on #2888
closed by #3002

[2022-03-16 10:31] #2888 closed

[2022-03-16 10:45] STRRL opened #3031 "Refine logging in pkg/webhook, then move package level variable log and authLog as a field"

[2022-03-17 03:59] WangXiangUSTC commented on #3028
I see that the `DELETE` request miss the `uid` information, and the `uid` is generated by webhook, are there some problems with the webhook?

[2022-03-17 06:32] zhuazi commented on #3005
hi @STRRL ，i found these functions has changed the status of chaos，but i didn't find a loop function to watch the Duration of the chaos , Can you show me how it work?

[2022-03-17 09:45] zhqqqy commented on #3028
uid exists, but in metadata instead of spec. I don't know why

[2022-03-17 10:11] zhqqqy commented on #3028
what is the difference between metadata.uid and spec.uid ?

[2022-03-17 11:10] #2924 closed

[2022-03-17 13:50] basit9958 commented on #2887
/assign

[2022-03-17 16:05] ashwinhs commented on #2890
/assign

[2022-03-17 16:57] STRRL commented on #2890
Hi @ashwinhs , I am sorry there is already a PR for this issue, and I forgot to self-assign.... 😭

You could take a look at other issues with good-first-issue, thanks...

[2022-03-17 18:33] basit9958 commented on #2878
should i delete `log.go` file in `pkg/dashboard/apiserver/utils`

[2022-03-17 20:45] ashwinhs commented on #2890
Sure @STRRL . Thanks!

[2022-03-18 02:30] sigezhao opened #3040 "IOChaos latency injected failed to rootfs directory"
root@disk-chaos-test-955984b4d-knzr6:/app# df -h
Filesystem      Size  Used Avail Use% Mounted on
overlay          50G   14G   34G  30% /    **-- 注入这里面的/home/目录不行**
tmpfs            64M     0   64M   0% /dev
tmpfs            31G     0   31G   0% /sys/fs/cgroup
/dev/vdb        9.8G   24K  9.8G   1% /mnt **-- 注入这里面是可以的**
/dev/vda1        50G   14G   34G  30% /etc/hosts
shm              64M     0   6

[2022-03-18 02:44] WangXiangUSTC opened #3041 "JVMChaos: install agent get error `install com.sun.tools.attach.AgentLoadException`"
## Bug Report

**What version of Chaos Mesh are you using?**
2.1.3

**What did you do?**

Execute `bminstall.sh` and `bmsubmit.sh` manually in `chaos-daemon`.

**What did you expect to see?**

Execute these commands success.

**What did you see instead?**

Execute `bminstall.sh` get error:
![15781646969969_ pic](https://user-images.githubusercontent.com/5793595/158927587-7892b392-5ac3-4cab-95ee-32

[2022-03-18 02:47] WangXiangUSTC commented on #3041
It is because the user set the port of JVMChaos to the port `dubbo`(target Java application) used. So install agent failed, and the `bmsubmit.sh` sent a request to `dubbo`, and it is unsupported.

[2022-03-18 02:56] #3041 closed

[2022-03-18 03:13] WangXiangUSTC commented on #3028
The `spec.uid` is used for `chaosd`'s experiment(only for PhysicalMachineChaos), `chaosd` need to locate an experiment information by a `uid`.  The `metadata.uid` is used for all the experiments in Chaos Mesh, it is used for Chaos Dashboard.
By the way, I think we can abandon the `sepc.uid` and use `metadata.uid` later.

[2022-03-18 06:18] YangKeao commented on #3040
Yes. The `volumepath` cannot be the root, because we need to `mount --move` the mountpoint, and it's obvious that we can't move the root mountpoint.

[2022-03-18 06:19] YangKeao commented on #3040
And the `volume_path` should also be a a mountpoint. It seems that the `/home` is not a mountpoint, which is also not allowed.

[2022-03-18 08:06] STRRL commented on #2969
Closed by #2970 #2991 #2985. I think we're ready to release a bugfix release.

[2022-03-18 08:06] #2969 closed

[2022-03-18 08:28] STRRL commented on #2927
Yes, I could reproduce this issue. Still working on fixing it.

Sorry for the late response and  I did not spend enough time on this issue the last few days.

[2022-03-21 02:02] Prashanth-BP opened #3044 "Unable to install 2.1.3"
hi @iguoyr - I am opening a new Issue further to #2823 (unable to run experiments on version 1.2.2). Now, we are trying to deploy 2.1.3 via Jenkins and get the below error. Any help/suggestions would be appreciated. All our activities are stalled due to previous reported issue (#2823) and now this is the new issue. I have attached the snapshot of the error message.

![Error](https://user-images.gi

[2022-03-21 03:54] iguoyr commented on #3044
@Prashanth-BP Hi, could you check the version of chaos-controller-manager image? You could use `kubectl exec -n chaos-testing {chaos-controller-manager-pod-name} -- /usr/local/bin/chaos-controller-manager -version` this command.

[2022-03-21 05:05] Prashanth-BP commented on #3044
hi @iguoyr  - Thanks for your swift response. It shows as chaos-mesh:v2.0.7. So, I assume that we are trying to deploy 2.0.7 and not 2.1.3 however, even if we consider to deploy 2.0.7, why do you think we are getting the above error (mentioned in my previous notes)?  For now, let us consider that we would want to install 2.0.7 and let us know how do we get rid of the above issue. Thanks!

[2022-03-21 05:14] #3013 closed

[2022-03-21 08:34] iguoyr commented on #3044
@Prashanth-BP I think it is caused by the inconsistency between the helm chart version(v2.1.3) and the real component version(v2.0.7) of Chaos Mesh. The error log shows that the controller manager does not support leader election, because this feature only works in v2.1.x version.

If you want to install Chaos Mesh v2.0.7, you could refer to [this document](https://chaos-mesh.org/docs/2.0.7/produc

[2022-03-21 09:04] #2877 closed

[2022-03-21 09:15] Prashanth-BP commented on #3044
@iguoyr  - Thanks for your response. I have tried installing the 2.0.7 (on AWS EKS) after referring the documentation. Now, when I access the Dashboards, I get the attached errors. Unfortunately, I am unable to see any pods if I select any namespace within the Dashboard. Kindly help.
[ERRORS CHAOS MESH DASHBOARD.docx](https://github.com/chaos-mesh/chaos-mesh/files/8314218/ERRORS.CHAOS.MESH.DASHBOA

[2022-03-21 09:26] iguoyr commented on #3044
@Prashanth-BP It looks like the installation is failed, the crds(Custom Resource Definition) of Chaos Mesh are not installed on your Kubernetes cluster. What version of Kubernetes are you using? Do you have any logs when installing Chaos Mesh?

[2022-03-21 09:59] Prashanth-BP commented on #3044
I do not have the logs however, the Kubernetes version is

![image](https://user-images.githubusercontent.com/47818191/159239255-77b37c29-6de0-47ba-9b99-d7b16e497c4c.png)

[2022-03-21 10:23] iguoyr commented on #3044
The version of Kubernetes looks good. How about installing crds manually, could try this command `curl -sSL https://mirrors.chaos-mesh.org/v2.0.7/crd.yaml | kubectl create --validate=false -f -`.

[2022-03-21 11:03] Prashanth-BP commented on #3044
hi @iguoyr - unfortunately, we are not authorized to curl and installing anything in our Environment. Let me try to uninstall and re-install. Meanwhile, is there any alternate fix available that we could apply before deploying (like on helm chart etc ?)

[2022-03-21 11:19] iguoyr commented on #3044
@Prashanth-BP

If installation is successful, the crds will be installed on your cluster, there is no need to install the crds manually. Actually the contents of crd are included in the helm chart templates.

BTW, is it possible that saving the content of the link as a file(this file is only 2.4M) and uploading it to your environment, and then applying it to Kubernetes?

[2022-03-21 13:16] iguoyr opened #3048 "Feature: Implement `StatusCheck` in `Workflow`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-03-22 00:17] #2561 closed

[2022-03-22 09:57] KimDoubleB commented on #2998
Is the PR going on?

`argo-cd` is also written as you suggested. Please refer to it. @Bonitas
- https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/templates/_helpers.tpl#L205-L218
- https://github.com/argoproj/argo-helm/blob/master/charts/argo-cd/templates/argocd-server/ingress.yaml#L7

If the PR is not in progress, please let me know. I'll try to fix it 😃
I hope this issue will be r

[2022-03-22 09:59] Bonitas commented on #2998
Sorry totally missed the reply. Unfortunately I’m quite busy at the moment. Would be super happy if you could take over :)

[2022-03-23 07:50] Prashanth-BP commented on #3044
@iguoyr  - We would like to install v2.1.3 however, the images are unavailable on Docker. Is there anyway you could upload the images for 2.1.3 on docker and let me know? I would ask our deployment team to pull the images from there. That would be a great help if you help us with this. Thanks!

[2022-03-23 08:44] iguoyr commented on #3044
Sorry, we have no plan to push latest images to dockerhub. It's recommended that you pull the image from ghcr first, and push your own image to dockerhub, and you could set custom registry name when installing Chaos Mesh.

[2022-03-24 02:19] STRRL commented on #2927
The reason causes this issue is there are some directories at `/var/lib/zookeeper` in the image `k8s.gcr.io/kubernetes-zookeeper:1.0-3.4.10`. So it seems we should use `-o nonempty` when mounting toda.

[2022-03-24 03:20] serlina opened #3054 "Failed to delete memory-stress experiment"
## Bug Report

**What version of Kubernetes are you using?**
 GitVersion:"v1.21.7"

**What version of Chaos Mesh are you using?**
Chaos-daemon Version: version.Info{GitVersion:"v2.1.3", GitCommit:"cbe789587678a5ea28e9b38343d222c1d5ea8657", BuildDate:"2022-01-27T05:14:55Z", GoVersion:"go1.17.5", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
1, install chaos mesh using
   helm install

[2022-03-24 04:32] Prashanth-BP commented on #3044
hi @iguoyr - Since there was no docker image available on the docker hub, we decided to install 2.0.7 and this is the error we see in Controller manager and Dashboard logs. Kindly help!

![controller-mananger-error](https://user-images.githubusercontent.com/47818191/159842697-1291dc4e-3ee0-40b9-bab0-00dcd4a2c4c3.jpg)

![dashboard-error](https://user-images.githubusercontent.com/47818191/159842719-

[2022-03-24 05:27] iguoyr commented on #3044
It looks the same error as previous(the crds are not installed). Could you try `kubectl get crd | grep chaos-mesh` this command?

[2022-03-24 06:28] Prashanth-BP commented on #3044
ok, here is the output. So, how do we troubleshoot this? Do we need to re-deploy the helm? In the previous communication, you have suggested to save the link as file and then uploading it to the environment and apply to the EKS. Where could we download this link as file? Could you please provide the URL (for v2.0.7)? If re-deploying is the quick solution the let me know.

![crds](https://user-imag

[2022-03-24 06:45] iguoyr commented on #3044
Ohh, I see the crds are installed in `2021-06-xx`, the old version(v1.x.x) of crds are still existing on your Kubernetes cluster, which is not compatible with v2.x.x.

Maybe you need to [uninstall the old version first](https://chaos-mesh.org/docs/next/uninstallation/), and then [re-install Chaos Mesh v2.0.7](https://chaos-mesh.org/docs/2.0.7/production-installation-using-helm/), it could solve th

[2022-03-24 08:34] FingerLeader commented on #3054
Is your stressChaos CRD's state terminating? If so, you can try `kubectl patch crd/stresschaos.chaos-mesh.org -p '{"metadata":{"finalizers":[]}}' --type=merge`. And did stressChaos work during the duration you set? I think chaos-daemon's log may help.

[2022-03-24 08:49] rongGreate opened #3057 "Failed to apply chaos: rpc error: code = Unknown desc = expected containerd:// but got docker"
## Bug Report

**What version of Kubernetes are you using?**

v1.22.3

**What version of Chaos Mesh are you using?**

v2.1.3

**What did you do?**

create JVM experiments

**What did you expect to see?**

experiments can work

**What did you see instead?**
<img width="358" alt="image" src="https://user-images.githubusercontent.com/94539012/159877603-ca40611b-6ac2-46f6-b354-15f720e9b2ff.png">

**Ou

[2022-03-24 09:31] FingerLeader commented on #3054
And according to your YAML file, this experiment will allocate 5*70% of your memory, you may need to pay attention to OOM.

[2022-03-24 11:14] #3031 closed

[2022-03-24 11:32] Prashanth-BP commented on #3044
@iguoyr - I think we have finally managed to install 2.0.7 and things are looking good as of now. We could close both the incidents that I reported. I really appreciate your patience and help in this regard. Let me know if there is any forum I could give the feedback.. 👍 Thanks Again!

[2022-03-24 11:50] #2922 closed

[2022-03-25 04:06] fewdan commented on #3057
It seems that you should specify the container runtime at installation. Can you describe your kubernetes environment (what is your kubernetes container runtime)? And which command did you install chaos-mesh with?

[2022-03-25 04:22] rongGreate commented on #3057
the problem was sloved, now i use `helm repo add chaos-mesh https://charts.chaos-mesh.org`，thanks your reply

[2022-03-25 04:51] iguoyr commented on #3044
Glad to help. I'll close these two issues, feel free to re-open or create new issues if there is any problems.

[2022-03-25 04:51] #3044 closed

[2022-03-25 04:51] #2823 closed

[2022-03-25 07:51] rongGreate opened #3061 "Some error occur, rpc error: code = Unknown desc = exit status 1"
What version of Kubernetes are you using?

v1.22.3

What version of Chaos Mesh are you using?

v2.1.3

What did you do?

create JVM experiments

What did you expect to see?

experiments can work

What did you see instead?

![image](https://user-images.githubusercontent.com/94539012/160077301-3a7acc18-b88f-4561-ba2a-a91008919c13.png)

here is the experiment info:

[code]

i find chaos-controller-ma

[2022-03-25 07:52] rongGreate commented on #3061
`
2022-03-25T07:37:52.570Z ERROR jvmchaos jvmchaos/impl.go:138 uninstall jvm rules {"error": "rpc error: code = Unknown desc = exit status 1"} github.com/chaos-mesh/chaos-mesh/controllers/chaosimpl/jvmchaos.(*Impl).Recover /mnt/controllers/chaosimpl/jvmchaos/impl.go:138 github.com/chaos-mesh/chaos-mesh/controllers/common/records.(*Reconciler).Reconcile /mnt/controllers/common/records/controller.go

[2022-03-25 07:56] rongGreate commented on #3061
[code]

[2022-03-25 07:56] rongGreate commented on #3061
[code]

[2022-03-25 08:18] Hexilee opened #3062 "Feature Tracking: HTTPChaos"
## Feature Request

- [x] server-side HTTPChaos #1858
- [ ] client-side HTTPChaos
	- [x] #2555
	- [ ]  #2971
	- [ ] new options to differentiate client-side from server one.
- [ ] HTTPS support
- [ ] custom body injection plugins
	- [ ] [PENDING] chaos-tproxy implementation https://github.com/chaos-mesh/chaos-tproxy/pull/19

[2022-03-26 00:40] KimDoubleB commented on #2998
@MarkAndersonTrocme Yeap.
I'm a little busy on weekdays, so I'm going to work now.
I'll try it until the weekend :)

[2022-03-26 02:54] 15767637775 opened #3064 "STRESS TEST load over 100 will not take effect"
chaos mesh v2.1.3
dashboard -> STRESS TEST -> CPU -> Load

If I fill in the blank with value over 100, the STRESS TEST will not take effect.
the value's validation is needed.
![image](https://user-images.githubusercontent.com/71695537/160222121-2b590c57-149d-49f1-8e99-aa1ab4a67586.png)

[2022-03-26 02:55] 15767637775 opened #3065 "ContainerName's tip is wrong"
![image](https://user-images.githubusercontent.com/71695537/160222144-28238ddf-4e58-4403-afd8-fb5d7febfc9a.png)
chaos mesh v2.1.3
dashboard -> STRESS TEST -> Container Name.

if it's empty, actually only the default container will be injected.

[2022-03-28 03:19] rongGreate commented on #3061
somebody help me ~

[2022-03-28 05:36] afzal442 commented on #2876
/assign

[2022-03-28 05:37] afzal442 commented on #2875
/assign

[2022-03-28 05:37] afzal442 commented on #2874
/assign

[2022-03-28 05:37] afzal442 commented on #2873
/assign

[2022-03-28 05:48] STRRL opened #3068 "We should provide `dev-env:<branch>` and `build-env:<branch>` for different branches"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes, after upgrading the version of `gqlgen`, we updated `dev-env`, which would failed the CI based on branch `release-2.1`, like

- #3045
- #3059

We could add labels `rebuild-build-env-image` and `rebuild-dev-env-image` as a temporary bypass solution.

**Describe the feature you'd like:**

Specify which tag s

[2022-03-28 06:36] YangKeao opened #3069 "allow to modify the `oom_score_adj` value of the stress process"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I want to use the `StressChaos` to simulate the situation when pod is killed by the oom killer, but I cannot as the `oom_score_adj` of the stress process is higher than the workload (and I don't want to modify the score adj of the target container process).

**Describe the feature you'd like:**

Allow the user

[2022-03-28 11:38] xlgao-zju opened #3072 "Inode of containerd socket in chaos daemon pod is not equal to the Inode on host, after restart containerd"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.15+k3s1", GitCommit:"60f1e80dcb07a32a42688e149778778ffb00ca9a", GitTreeState:"clean", BuildDate:"2021-01-14T22:50:21Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.15+k3s1", GitCom

[2022-03-28 11:39] xlgao-zju commented on #3072
I'd like to file a PR to fix this bug.

/assign

[2022-03-28 11:40] xlgao-zju commented on #3072
cc @track87

[2022-03-28 12:11] FingerLeader commented on #3072
That must be very helpful, if you can fix this bug.

[2022-03-29 00:19] #2599 closed

[2022-03-29 05:22] #3057 closed

[2022-03-29 05:24] Andrewmatilde commented on #3061
PTAL , @WangXiangUSTC

[2022-03-29 05:34] Andrewmatilde commented on #2958
I agree with you.

[2022-03-29 05:35] Andrewmatilde commented on #3065
@15767637775 Thanks for your feedback.
/cc @g1eny0ung  May I assign this task to you?

[2022-03-29 05:36] Andrewmatilde commented on #3064
@15767637775 Thanks for your feedback.
/cc @g1eny0ung May I assign this issue to you?

[2022-03-29 06:38] g1eny0ung commented on #3065
@Andrewmatilde Got it. I'll assign it to myself.

[2022-03-29 06:38] WangXiangUSTC commented on #3061
Could you please check the log of `chaos-daemon`, there may be some useful information.

[2022-03-29 06:46] rongGreate commented on #3061
<img width="737" alt="image" src="https://user-images.githubusercontent.com/94539012/160550116-cd6ef0d1-5bf6-49db-b02d-ab158743d397.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/94539012/160550169-4928e72b-46c5-4be8-8fa3-93108f7984f3.png">

[2022-03-29 06:47] rongGreate commented on #3061
<img width="737" alt="image" src="https://user-images.githubusercontent.com/94539012/160550116-cd6ef0d1-5bf6-49db-b02d-ab158743d397.png">

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/94539012/160550169-4928e72b-46c5-4be8-8fa3-93108f7984f3.png">

[2022-03-29 06:55] rongGreate commented on #3061
sorry, i dont know which one, so i check all of them, but i found that the log seems look the same

[2022-03-29 07:19] WangXiangUSTC commented on #3061
check the chaos-daemon on node `cn-hangzhou.192.168.212.117`, and search `exit status 1` in it's log @rongGreate

[2022-03-29 07:24] imlonghao commented on #2677
I am also having the same issue during `load` and `import` a StressChaos.

[2022-03-29 07:57] rongGreate commented on #3061
i found this below:

[code]

[2022-03-29 09:04] rongGreate commented on #3061
[code]

[2022-03-29 09:05] rongGreate commented on #3061
java version "1.8.0_221"
Java(TM) SE Runtime Environment (build 1.8.0_221-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.221-b11, mixed mode)

thanks your reply

[2022-03-29 10:41] Andrewmatilde opened #3074 "HTTP Chaos : What will happen when HTTP Chaos meet with HTTP redirect?"
## Question
What will happen when HTTP Chaos meet with HTTP redirect?

Whether the redirected request can be caught successfully?

From https://cloud-native.slack.com/archives/C0193VAV272/p1648545366689609

[2022-03-29 11:39] alelerac commented on #2927
Hi @STRRL ,
can you already estimate when a new version with this fix will be released?
Many thanks

[2022-03-30 03:32] cwen0 opened #3075 "GitHub Action: failed to build chaos-kernel"
## Bug Report

[code]

Github action log: https://github.com/chaos-mesh/chaos-mesh/runs/5747522180?check_suite_focus=true

[2022-03-30 03:37] YangKeao commented on #2999
With https://github.com/chaos-mesh/chaos-mesh/pull/3070, the user can avoid the `memStress` being killed by oom killer by setting the `oom_score_adj`. In this situation, I don't think it's still necessary to spawn/respawn subprocesses to eat up the memory. What do you think about it?

[2022-03-30 05:04] wanzirong commented on #2354
The same problem.
I install chaos mesh in minikube and the same error happend when using stresschaos.

The /sys/fs/cgroup directory in the minikube node:
![image](https://user-images.githubusercontent.com/8789010/160754786-37189a3d-5a45-4fc8-933a-5f25a9ebab52.png)
![image](https://user-images.githubusercontent.com/8789010/160755077-2ec3f622-9819-4dd5-83b7-2a4c3c2b890a.png)

The /sys/fs/cgroup/cpu

[2022-03-30 05:52] #2968 closed

[2022-03-30 06:18] FingerLeader commented on #2999
I think it's still necessary, because experiment can not finish properly when OOM unexpectedly happened.

[2022-03-30 06:51] YangKeao commented on #2354
@wanzirong https://github.com/chaos-mesh/chaos-mesh/issues/2978 Support for cgroupv2 is still WIP.

[2022-03-30 07:38] rongGreate commented on #3061
my friend,  waiting your reply

[2022-03-30 11:54] cwen0 commented on #3075
[code]

[2022-03-30 12:10] cwen0 commented on #3075
This issue has been fixed in https://github.com/chaos-mesh/bpfki/pull/1

[2022-03-30 12:10] #3075 closed

[2022-03-31 01:06] wanzirong commented on #2354
@YangKeao thanks for your work !

[2022-03-31 08:55] STRRL opened #3086 "Tracking issue: migrate e2e test from Jenkins to GitHub Actions"
❤️ CNCF provides us with an unlimited quota with GitHub Actions, so we are going to migrate tests and release pipeline from Jenkins to GitHub Action.

steps:

- [x] Setup e2e tests on master branch https://github.com/chaos-mesh/chaos-mesh/pull/2986  https://github.com/chaos-mesh/chaos-mesh/pull/3085
- [x] update tichi/prow bot configuration on master branch https://github.com/ti-community-infra/co

[2022-04-01 00:19] #2595 closed

[2022-04-01 02:25] rongGreate commented on #3061
PTAL

[2022-04-01 02:43] zhuazi opened #3089 "HTTPCHAOS "Failed to apply chaos: rpc error: code = DeadlineExceeded desc = context deadline exceeded""
## Question
hi , when i use the httpchaos  replace , the controller reply "Failed to apply chaos: rpc error: code = DeadlineExceeded desc = context deadline exceeded"
the events
![image](https://user-images.githubusercontent.com/4626297/161184097-3e9c5ae0-1d19-4d57-a2ac-c6a5dfdda051.png)
the controller logs
![image](https://user-images.githubusercontent.com/4626297/161184676-c84cdadf-444f-45a5-9ce

[2022-04-01 03:36] #3068 closed

[2022-04-01 03:55] WangXiangUSTC opened #3092 "controller-manager panic because of nil pointer"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.1.3

**What did you see?**

controller-manager crashloopbackoff

![screenshot-20220401-114309](https://user-images.githubusercontent.com/5793595/161191977-995940a0-19c6-4b86-9cc3-35815f357668.png)

[2022-04-01 04:03] STRRL commented on #3092
Append: Kubernetes 1.21.8

[2022-04-01 04:03] ycwdaaaa opened #3093 "how to exec command in specific node？"
## Question
Hi， I noticed chao-mesh will deploy choas-daemon on every node， I just want to know if I write a new type like kill kubelet or docker， I need to specific one node to execute this command。 How can I do it that only the  specific node‘s chao-mesh will revice request and execute this command？

[2022-04-01 04:10] STRRL opened #3094 "RabbitMQ keeps failing with IOChaos"
## Question

Asked by an adaptor, it is quite weird. RabbitMQ keeps failing when injecting certain IOChaos.

It looks like IOChaos did work well, and the application(rabbitmq) could not tolerate this chaos.

For more detail, see the attachments:

IOChaos:

[code]

[code]

logs:
[chaos-daemon-gzcpb.log](https://github.com/chaos-mesh/chaos-mesh/files/8394618/chaos-daemon-gzcpb.log)

[2022-04-01 04:10] STRRL commented on #3094
It decalres chaos with `schedule: '*/4 11-23 * * *'` and `duration: 60s`, so it would always inject chaos all the time.

[2022-04-01 04:35] ycwdaaaa commented on #3093
sorry to bother you , I just wish to learn how chaos-mesh does.  I found the svc of chaos-daemon is a headless svc.  but still cannot understand how to send request to the  chaos-daemon on the specific node

[2022-04-01 09:10] WangXiangUSTC commented on #3061
I see `EXCEPTION java.lang.UnsupportedOperationException: class redefinition failed: attempted to change the schema (add/remove fields)` is a common error, I search it on Google, one reason may be that another agent has injected the java process, could you please check it?

And I found a little problem in your YMAL file, the exception should be something like `java.lang.RuntimeException("BOOM")`,

[2022-04-01 10:19] ycwdaaaa opened #3095 "get error when use chaosd in dashbord"
Failed to apply chaos: : a secure url should begin with `https` rather than `http`, url: http://192.168.25.81:31767/api/attack/stress

[2022-04-01 12:47] ycwdaaaa commented on #3095
I noticed I need to set she parameter when deploy chaos-mesh. But I got the new error:Failed to apply chaos: : Post "http://159.75.216.174:31767/api/attack/stress": net/http: HTTP/1.x transport connection broken: malformed HTTP response "\x00\x00\x06\x04\x00\x00\x00\x00\x00\x00\x05\x00\x00@\x00"

[2022-04-01 12:53] iguoyr commented on #3093
@ycwdaaaa Hi, you could refer to [this function](https://github.com/chaos-mesh/chaos-mesh/blob/master/controllers/utils/chaosdaemon/chaosdaemon.go#L52), it lists `Endpoints`, and find which IP matches the NodeName of the specific node.

[2022-04-01 12:58] iguoyr commented on #3095
@ycwdaaaa Hi, what version of chaosd and chaos-dashboard do you use? (Do you use the latest version? It seems this issue is related to the configuration of mTLS, which only should happened in the latest version.)

[2022-04-01 13:06] iguoyr commented on #3089
@zhuazi Hi, can you provide more informations about this operation, do you mean updating a HTTPChaos? And what version of Chaos Mesh are you using?

[2022-04-01 13:23] iguoyr commented on #3095
As the problem is solved, I'll close this issue now :)

[2022-04-01 13:23] #3095 closed

[2022-04-01 13:25] ycwdaaaa commented on #3095
Thanks a lot， but now I got another problem.   chaosd throw the error:159.75.220.213 | DELETE   "/api/attack/215b6cc7-0e72-49d4-8cd4-592f60080583"
Error #01: error.api.internal_server_error: record not found

this happened when the chaos-mesh try to recover the experments.

[2022-04-01 13:26] ycwdaaaa commented on #3095
it looks like the uuid is not correct?

[2022-04-02 02:35] rongGreate commented on #3061
OK,  let me check it,  on the log maybe i found the wrong log

[2022-04-02 05:59] YangKeao commented on #2741
We don't publish further image on the docker hub, so this issue can be closed

[2022-04-02 05:59] #2741 closed

[2022-04-02 06:00] YangKeao commented on #2715
I'll close this issue as it's stale. If you have any further problem, feel free to reopen it 🍻

[2022-04-02 06:00] #2715 closed

[2022-04-02 08:32] #3086 closed

[2022-04-04 14:52] Gearheads commented on #3008
hi @WangXiangUSTC, please let me know if there is anything I can do to help.

I noticed this repository exists, and I am guessing this is where the image comes from: https://github.com/chaos-mesh/k8s_dns_chaos? Unfortunately, I do not see where/how the image gets created.

[2022-04-05 12:47] zhuazi commented on #3089
hi，I cloned the code from the master，It should be 2.1.3 , and I didn‘t update the HTTPCHAOS.

[2022-04-05 14:24] Oro opened #3099 "helm-chart deployment with cert-manager, after 90 days cert is invalid"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**
[code]

**What did you do?**

[code]
(Only the certmanager part is relevant)

**What did you expect to see?**
After 90 days, chaos CRDs should be deployable
**What did you see instead?**
After 90 days, chaos CRDs can no longer be deployed with following error
[code]

My guess is that

[2022-04-05 14:29] DaivikDave commented on #2884
/assign

[2022-04-06 02:50] xlgao-zju opened #3100 "cpu stress can not reach pod limit in some situation"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.15+k3s1", GitCommit:"60f1e80dcb07a32a42688e149778778ffb00ca9a", GitTreeState:"clean", BuildDate:"2021-01-14T22:50:21Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.15+k3s1", GitCom

[2022-04-06 02:51] xlgao-zju commented on #3100
I will file a PR to fix this

/assign

cc @FingerLeader @STRRL

[2022-04-06 03:58] STRRL commented on #2927
I think we could release a bugfix/patch version 2.1.x in the next 2 weeks.

[2022-04-06 04:33] STRRL opened #3101 "CONTRIBUTRING.md need updates"
There are several things needs updates:

- We have more efficent ways to run Chaos Mesh locally instead of using `kind`, like start cluster with minkube then use docker inside of minikube.
- the usage of `make check` and when to use it to fix the checking `CI(verify)`

[2022-04-06 04:36] iguoyr commented on #3099
@Oro Hi, thanks for reporting this issue! It looks like an inevitable problem. Do you have any interest in helping to fix this problem?

[2022-04-06 05:16] Andrewmatilde commented on #3089
Hi @zhuazi ,  thanks for your feedback. I am sorry that it seems you should use the master brench or wait for the 2.2.X . The HTTP-Chaos was failed to cherry-pick and fix this problem now.

[2022-04-06 05:38] Oro commented on #3099
Sure, should be easy enough. How should it be implemented? User configuration, one for CA duration and one for cert duration, default to 10 years and 5 years? That is probably the most straight-forward backwards-compatible fix.

NB: I have just stumbled across https://github.com/chaos-mesh/chaos-mesh/issues/2767 , meaning that (probably//hopefully if the full chain is checked) the same issue happe

[2022-04-07 06:06] #3100 closed

[2022-04-07 10:26] #3072 closed

[2022-04-07 12:40] iguoyr commented on #3089
@zhuazi I close this issue for now, if you have any other problems, feel free to open new issues :)

[2022-04-07 12:40] #3089 closed

[2022-04-07 13:56] iguoyr commented on #3099
@Oro Hi, sorry for the late reply, I think set the default duration of CA and cert at 5 years is a good idea, which is the same strategy as [using helm template to generate certs](https://github.com/chaos-mesh/chaos-mesh/blob/v2.1.4/helm/chaos-mesh/templates/secrets-configuration.yaml#L16) (both 5 years).

It looks like #2767 is irrelevant to this issue, it would like to split the original configu

[2022-04-07 19:25] MarkAndersonTrocme commented on #1665
I just did some testing and I have almost got it working. I am using oauth2-proxy so I am setting these annotations in the ingress of chaos-mesh:

[code]

After I login I am prompted to enter an RBAC token, here I can just enter anything I want (test, test) and I am able to use the dashboard as I am setting the `Authorization` header at the ingress level.

Is it possible to implement a flag to sim

[2022-04-08 03:42] Gallardot commented on #1665
@MarkAndersonTrocme
I don't know the details of this part, so there may be more changes to be made. But I agree with you.  The current implementation is not very friendly for third-party system authentication integration.

WDYT. @cwen0 @g1eny0ung

[2022-04-08 08:07] #3069 closed

[2022-04-08 10:32] g1eny0ung commented on #1665
Here's my take on the issue:

## TL;DR

it's ok to support this. But there is not yet a definitive answer to how to achieve it.

## Details

Since we currently support two ways to perform authorization: `RBAC (bare)` or `Google OAuth (GCP)`, one needs you to input a token manually, this is nearly the same as the login view as Kubernetes dashboard, then we save it into `localStorage` for the next u

[2022-04-08 19:02] MarkAndersonTrocme commented on #1665
@g1eny0ung

Is there not a simpler approach although a bit more hacky. The kubernetes-dashboard supports a feature to "enable skip login" which allows you to skip the login page. If something like that was implemented you would be able to hit "Skip" and it would log you in but you would not be able to do anything unless you had an `Authorization` header set with a token.

This would mean anyone th

[2022-04-11 02:56] #2882 closed

[2022-04-11 05:35] STRRL commented on #3092
This issue occurs with the invalid definition of `Task`, like:
[code]

We should append the logic of validation webhooks

[2022-04-11 06:46] iguoyr opened #3112 "Optimize the handler in Workflow"
## Feature Request

**Is your feature request related to a problem? Please describe:**

If we want to get an object by labels from kube-apiserver, we could only use `LIST` API which will return an array (even we can be sure that there is only one object).

Now we simply remove "the redundant objects" which should not exist in the normal situation, but it's not elegant, perhaps there is a better so

[2022-04-11 08:54] WangXiangUSTC opened #3113 "DNSChaos: e2e test is not stable"
![image](https://user-images.githubusercontent.com/5793595/162701089-a247bf8d-d34e-4f61-ab38-5de04e817c28.png)

[2022-04-11 09:37] iguoyr opened #3114 "Shutdown the statuscheck manager when the controller-manager loses its leadership"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

After #3037

**What did you do?**

**What did you expect to see?**

Resolve the leadership of controller-manager on statuscheck manager. When controller-manager lost the leadership, the statuscheck manager should also be closed/shutdown.

**What did you see instead?**

**Output of chaosctl*

[2022-04-12 07:31] zhuazi opened #3122 "networkchaos delete fail"
version 2.1.3
the networkchaos  Injection failed , then i can't delete the experiment，The guess is that one failed experiment affected all subsequent experiments。
![image](https://user-images.githubusercontent.com/4626297/162904786-fd99442c-fc93-4fc9-821e-b36d5d1cc4ea.png)
![image](https://user-images.githubusercontent.com/4626297/162905731-7d8fed17-6daf-48bc-b006-8b1b99662a73.png)

[2022-04-12 08:26] cwen0 commented on #3122
1. If the experiment can't be deleted, you can use the following command to force delete it:

[code]

For more info refer to https://chaos-mesh.org/docs/run-a-chaos-experiment/

2. Chaos Mesh is not allowed to inject network chaos on `hostNetwork` pods by default. Because `hostNetwork` pod will use the network interface of nodes directly and injecting network chaos on this interface is very danger

[2022-04-12 09:56] cwen0 commented on #3122
This injection action was failed, and chaos mesh didn't know why it failed and not sure if some chaos rules has been injected to the target pod. So chaos mesh requires users to handle this error and recover it manually. If users make sure that the chaos was not working, chaos mesh provides a way to force recover it, like it:

[code]

Or you can just empty the finalizers of the chaos object directl

[2022-04-12 14:53] zhuazi commented on #3122
hi @cwen0 , where is the code to change the 'networkchaos record Phase' from "Not Injected/Wait" to  "Injected" ? i want to check whether there is a way to avoid this .

[2022-04-13 05:07] cwen0 commented on #3122
`NetworkChaos` will apply chaos configuration to `PodNetworkChaos` and wait for this `PodNetworChaos` to inject the failure into the target pod. You can find the implementation logic here:
https://github.com/chaos-mesh/chaos-mesh/blob/master/controllers/chaosimpl/networkchaos/trafficcontrol/impl.go#L58-L176

Here is the `phase` conversion logic:
https://github.com/chaos-mesh/chaos-mesh/blob/master

[2022-04-13 05:22] #3064 closed

[2022-04-13 06:55] zhuazi commented on #3122
hi @cwen0  Thank you for your patient answer, I still have a few questions
    Who let networkchaos repeatedly add to the informer workqueue? I checked the code and didn't find out who changed the state of networkchaos to enable him to enter the informer workqueue.
    There are too many asynchronous operations in the code of chaomesh, so I can't see a completed process. thx.
..

[2022-04-13 07:40] ShangfengDing opened #3124 "Add new Experiment HelloWorldChaos failed"
## Bug Report

**What version of Chaos Mesh are you using?**
release-2.1
commit 2d200a0d2ed2e4e9f689355a86430da5c2743de9

**What did you do?**
I follow the guide https://chaos-mesh.org/zh/docs/add-new-chaos-experiment-type/ add HelloWorldChaos

**What did you expect to see?**
In step one, I new helloworldchaos_types.go in api/v1alpha1 and then run make generate.
I expect to see all code generate s

[2022-04-13 09:34] ThreadDao opened #3126 "Created a physical disk experiment and it didn't work"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

Controller manager Version: version.Info{GitVersion:"v2.1.3", GitCommit:"cbe789587678a5ea28e9b38343d222c1d5ea8657", BuildDate:"2022-01-27T05:15:02Z", GoVersion:"go1.17.5", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**

1. Install chaosd on physical  machine
2. Deploy chaos-me

[2022-04-13 11:23] xlgao-zju opened #3127 "more clear status to tell if the experiment succeed"
## Feature Request

**Is your feature request related to a problem? Please describe:**

from existing status, we can hardly to tell if the experiment succeed, or just duration exceeded. e.g.
[code]

if we do not see the events, we may not know if the record had been injected in the duration.

**Describe the feature you'd like:**

we need a clearer way to know if the record had been injected in the

[2022-04-13 11:24] xlgao-zju commented on #3127
/cc @cwen0

[2022-04-13 11:24] xlgao-zju commented on #3127
/cc @track87

[2022-04-13 11:32] xlgao-zju commented on #3127
for now, I think we need to find the proper way to expose more details of status. and when we find the way, I'd like to file a PR to close this issue. :)

[2022-04-13 11:51] ShangfengDing commented on #3124
zz_generated.deepcopy.go seems to be no change after the make generate command.

[2022-04-13 11:58] cwen0 commented on #3122
If the object was updated, it will be re-queued and the network `Reconcile` function would be called.

[2022-04-13 14:52] leoncard opened #3129 "NetworkChaos with IPVS"
## Bug Report

**What version of Kubernetes are you using?**
1.23.4

**What version of Chaos Mesh are you using?**
2.1.4

**What did you do?**

Chaos Mesh was installed with
helm upgrade --install chaos-mesh chaos-mesh/chaos-mesh --version 2.1.4 --namespace chaos-testing --set dashboard.create=true --set dashboard.securityMode=false --set dnsServer.create=true --set chaosDaemon.env.DOCKER_API_VERS

[2022-04-13 15:19] ThreadDao commented on #3126
/type bug

[2022-04-13 15:31] ThreadDao commented on #3126
/assign @cwen0

[2022-04-14 02:37] cwen0 commented on #3126
@ThreadDao Can you check the log of chaosd and make sure the chaosd IP address is right?

[2022-04-14 03:06] #2879 closed

[2022-04-14 03:22] #3099 closed

[2022-04-14 03:46] xlgao-zju commented on #3127
for now, the state machine of record phase is:
<img width="377" alt="image" src="https://user-images.githubusercontent.com/1636894/163309824-34f4e2a2-79ff-4b1c-a085-5f2146487db1.png">

in order to know if the record succeed, we can also add a new phase called `Recovered`. then the new state machine will be like this:
<img width="597" alt="image" src="https://user-images.githubusercontent.com/16368

[2022-04-14 03:54] xlgao-zju commented on #3127
/cc @YangKeao

[2022-04-14 04:26] YangKeao commented on #3129
AIK the ipvs shouldn't affect the connection between two pods, so I have two more things to confirm:

1. Will this configuration work without "target"? For example:
[code]
   Without the `target`, the `loss` don't need iptables to match the ipset and filter the packets.

2. I guess the target is somehow `DNAT`ed, and the filter table cannot see the correct target ip. I don't know why the target wi

[2022-04-14 04:55] cwen0 commented on #3127
@xlgao-zju In the new state machine of the record phase, you remove `Not Injected/*`, which is required by `NetworChaos`.

[2022-04-14 05:09] xlgao-zju commented on #3127
<img width="576" alt="image" src="https://user-images.githubusercontent.com/1636894/163317637-6603bca1-410a-421a-8515-0fcc945e978a.png">

@cwen0 you are right, how about this version of state machine?

[2022-04-14 05:26] YangKeao commented on #3127
It sounds good. The `Not Injected` and `Recovered` are actually the same during execution. But I still have another concern:

If the user pause and restart the chaos, and unfortunately, this injection failed. He can still not tell whether it's failed or expired after the duration.

[2022-04-14 06:16] #2927 closed

[2022-04-14 07:05] iguoyr opened #3134 "Ensure the pull request update the `CHANGELOG.md`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now Chaos Mesh require the pull request to [append a changelog to `CHANGELOG.md`](https://github.com/chaos-mesh/rfcs/blob/main/text/2022-01-17-keep-a-changelog.md), but we often forget this step. 😿

**Describe the feature you'd like:**

Check this step in Github Actions.

If a pull request want to be merged, it

[2022-04-14 08:12] xlgao-zju commented on #3127
@YangKeao  when we resume the experiment, we can move the state from `Recovered` to `Not Injected`. so the state machine will be like this:

<img width="678" alt="image" src="https://user-images.githubusercontent.com/1636894/163342862-d5cd45b2-d301-4a89-a251-483942200c26.png">

[2022-04-14 08:17] xlgao-zju commented on #3127
/assgin

[2022-04-14 08:17] xlgao-zju commented on #3127
/assign

[2022-04-14 08:30] xlgao-zju commented on #3127
I will file a PR soon, according to this state machine :)

[2022-04-14 08:46] MUCZ opened #3137 "Support for Injection of user-defined `tc` commands"
I want to use linux tc's tools for more advanced control of the network for the purpose of injecting chaos into cluster, such as that for pod a, add 100ms delay for IP A traffic and 200ms delay for IP B traffic.
I know how to implement this on a single machine with tc, but I want to integrate this feature into chaos testing framework of chaos mesh.

But currently, with Chaos Mesh I can only add la

[2022-04-14 09:10] cwen0 commented on #3137
1. @MUCZ You can set the `Target` field, which is used in combination with direction, making Chaos only effective for some packets. For more details refer to https://chaos-mesh.org/docs/simulate-network-chaos-on-kubernetes/.  Here is an example:

[code]

[code]
For this case, you can create two networkchaos experiments and defined both on one workflow. One networkchaos uses `192.168.2.219 # IP A`

[2022-04-14 09:34] #3048 closed

[2022-04-14 09:45] MUCZ commented on #3137
Thank you for such a quick reply, your answer did help me!

[2022-04-14 09:45] #3137 closed

[2022-04-14 09:49] STRRL commented on #2084
closed by https://github.com/chaos-mesh/chaos-mesh/pull/2821

[2022-04-14 09:51] STRRL commented on #2636
closed by #2640

[2022-04-14 09:51] #2636 closed

[2022-04-14 10:44] leoncard commented on #3129
Hello, thanks for replying. That does work with direction `to`, which is good :) but it blocks all connections for busybox.

Is there a way to block the connections for a particular application like what we were trying to do before with busybox and myapp?

# Tcpdump output

Thats the output we have when trying to run **with** the target block

[code]

And thats the tcpdump output **without**  the

[2022-04-14 16:14] YangKeao commented on #3129
@leoncard How did the `busybox` connect to `myapp`? According to the `tcpdump`, it seems that the `busybox` is connecting `myapp` through service? The `NetworkChaos` will only have effect for `POD-POD` connection (when specified the target). Considering this, it's quite surprising that it will work under iptables mode 😮 .

I believe setting `target` to a service is on our roadmap (@STRRL right?),

[2022-04-15 03:36] #2084 closed

[2022-04-15 03:37] STRRL commented on #2231
Hi @g1eny0ung , maybe we could close this issue? Or remove it from "Release 2.2" milestone?

[2022-04-15 03:38] STRRL commented on #2601
Could https://github.com/chaos-mesh/chaos-mesh/pull/3009 close this issue?

[2022-04-15 03:38] #2983 closed

[2022-04-15 03:40] STRRL commented on #2635
It seems we would not keep on multi-group kubernetes API in the next milestone, and there is no urgent requirement to change the multi-group API.

So I would move this issue to the next release milestone.

[2022-04-15 03:42] YangKeao commented on #2601
Partially. I think the deprecation policy is also one part of this issue :thinking:

[2022-04-15 06:42] Hexilee commented on #3127
@xlgao-zju  Hi, in my understanding, the phase `Recovered` and `Not Injected` represent the same meaning for the state machine, but a new variant with the same meaning will make the logic confusing.

If you just want to know if the experiment has injected successfully, how about adding a `inject counter` field to count the injection times?

[2022-04-15 07:11] xlgao-zju commented on #3127
@Hexilee

`NotInjected` means the target is not injected yet. the controller could call "Inject" on the target
`Recovered` means the target had been injected and recovered successfully. for now, when we resume a paused experiment, the `Recovered` phase will step to `Not Injected`.  and only when state steps from `Recovered` to `Not Injected`, the controller could call "Inject" on the target

witho

[2022-04-15 07:11] FingerLeader commented on #2999
With #3070 , `memStress` can work properly except for setting `--size`  exceeds the system limit. To solve this problem, we can just ignore the process not found error when recovering stressChaos, or let `memStress` forks subprocesses to avoid main process being killed. Overall, all that is needed now is for the chaos to recover properly without any actual functional changes.

[2022-04-15 07:37] g1eny0ung commented on #2231
@STRRL As the API is still in an unstable status, I agree to close this issue temporarily. If we need to revisit something relevant in the future, It's not too late to quote this issue again.

[2022-04-15 07:37] #2231 closed

[2022-04-15 07:38] FingerLeader commented on #2999
In my opinion, ignoring the process not found error is enough because the streeChaos in fact recovered.

[2022-04-15 09:25] Hexilee commented on #3127
The `phase` is mainly read by the state machine, I think `Recovered` and `Not Injected` should be the same state if the state machine does nothing during the state conversion.

We can add a counter for each record, then we can know if the record has been injected successfully.

[2022-04-16 11:07] ThreadDao commented on #3126
@cwen0 Thanks your reply. I refer to the suggestion of this issue https://github.com/chaos-mesh/chaosd/issues/141 to change the port 31767 to other and it succeeds

[2022-04-16 14:55] ThreadDao opened #3142 "Do we support defining scheduling rules or creating workflows for experiments of type PhysicalMachineChaos?"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2022-04-16 14:56] ThreadDao commented on #3142
/type question

[2022-04-17 11:01] Hexilee commented on #3142
Hi, which version of Chaos Mesh are you using? The v2.1.x should support it.

[2022-04-18 02:44] iguoyr opened #3144 "Specify image tags in e2e tests when installing Chaos Mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

e2e tests are failed in https://github.com/chaos-mesh/chaos-mesh/actions/runs/2171955778, because I modified the image version in helm chart to '2.1.5', and the image tag(2.1.5) was not exist in 'ghcr.io/chaos-mesh/chaos-mesh'.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

[2022-04-18 02:46] ThreadDao commented on #3142
v2.1.3
In this case, can you please take a look at where the yaml file I mentioned above is wrong?

[2022-04-18 03:49] Hexilee commented on #3142
I figured it out, please try `physicalmachineChaos` instead of `physicalMachineChaos`.

[2022-04-18 03:54] Hexilee commented on #3142
We will fix it after the multi-version API is supported.

[2022-04-18 06:45] Hexilee opened #3146 "Fix typos of current API after multi-version API is supported"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, there are some typos in API like issue #3142.

**Describe the feature you'd like:**

We should fix these typos in the new version, and provide a converter for them.

**Describe alternatives you've considered:**

Just fix them and deprecate the old version.

**Teachability, Documentation, Adoption, Mi

[2022-04-18 07:12] #3144 closed

[2022-04-18 09:15] ThreadDao commented on #3142
I took your advice and it worked. thank you very much

[2022-04-18 10:06] #3142 closed

[2022-04-18 13:19] Hexilee opened #3153 "replace the ti-srebot with ti-chi-bot"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The old ti-srebot cannot work when cherry-picking conflicts.

**Describe the feature you'd like:**

Replace the ti-srebot with ti-chi-bot.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-04-19 02:44] WangXiangUSTC opened #3155 "create JVMChaos in workflow failed"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.1.3

**What did you do?**

create JVMChaos in workflow

**What did you expect to see?**
create success

**What did you see instead?**

failed, the error logs:

[code]

[2022-04-19 02:56] xlgao-zju commented on #3127
@cwen0 @STRRL @YangKeao @Hexilee

since k8s event ttl is a little short, we can put the essential events in the status. and in order to know the sum of injection and recovery, we can add the `injectedCount` and `recoveredCount`.

and then the status will be like this:
[code]

[2022-04-19 03:38] xlgao-zju opened #3157 "specify the container we wanna inject"
## Feature Request

**Is your feature request related to a problem? Please describe:**

if a pod has more than one container, we will inject the first container.

**Describe the feature you'd like:**

add a field to specify the container we wanna inject. and we can still chose the first container by default.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Mi

[2022-04-19 03:38] xlgao-zju commented on #3157
/cc @track87

[2022-04-19 07:30] dongbaolei opened #3158 "Failed to apply chaos: It's dangerous to inject network chaos on a pod(7c8f65449-kxsxs) with `hostNetwork`"
## Bug Report

![image](https://user-images.githubusercontent.com/17330046/163949439-df443062-c9a3-494e-a53f-a55a4c23ee28.png)

[2022-04-19 07:56] YangKeao commented on #3158
Chaos Mesh doesn't allow to inject network chaos for a pod with host network, because it may affect other programs on the same machine (include the Chaos Mesh itself, which will make it unrecoverable). This protection can be removed by setting `controllerManager.allowHostNetworkTesting` to true, but it's **dangerous**.

[2022-04-20 06:47] BonjourGit opened #3160 "Test verdict for the system under test"
Hi,

Does chaos-mesh provide test verdict for the system under test?

It is understood that the chaos tests provide the "Status" (Paused, Selected, AllInjected, AllRecovered) and "Events" via "kubectl describe" or chaos dashboard.
However, it appears to be an indicator of the status of the chaos test itself, i.e. how the test itself proceeds and the events associated with the test. Is the understa

[2022-04-20 06:56] Hexilee commented on #3160
I'm sorry that Chaos Mesh doesn't provide build-in effects observation currently. However, we are planning to provide it in the future version. Here is a relevant [discussion](https://github.com/chaos-mesh/chaos-mesh/discussions/3012), you are welcome to talk about your requirements and advice!

[2022-04-20 07:08] STRRL opened #3161 "Failed CI: markdown link check"
## Bug Report

**What version of Kubernetes are you using?**

N/A

**What version of Chaos Mesh are you using?**

N/A

**What did you do?**

N/A

**What did you expect to see?**

N/A

**What did you see instead?**

https://github.com/chaos-mesh/chaos-mesh/runs/6090537023?check_suite_focus=true
https://github.com/chaos-mesh/chaos-mesh/runs/6090451208?check_suite_focus=true

and so on.

CI "markdown

[2022-04-20 07:27] STRRL commented on #3062
We are still working on the TLS part, so I am afraid that we would not bring HTTPCHaos with TLS support in Release 2.2.

[2022-04-20 07:35] #3161 closed

[2022-04-20 07:36] Hexilee commented on #3062
Yes, I'm sorry about that.

[2022-04-20 07:37] Hexilee commented on #3062
Yes, I'm sorry for removing it from the v2.2 milestone.

[2022-04-20 08:02] #3134 closed

[2022-04-20 08:35] YangKeao commented on #3127
LGTM.

@STRRL How do you think?

[2022-04-20 08:49] Hexilee commented on #3127
LGTM

[2022-04-20 09:27] STRRL commented on #3127
Basically LGTM! Awesome!

There are two fields called `type` and `stage`. I did not figure out what do they mean. 🤣 Maybe we need more detailed descriptions when we implement them. ❤️

[2022-04-20 09:31] STRRL opened #3165 "tests: test cases under `api/v1alpha1` are not included in CI checks."
## Bug Report

As https://github.com/chaos-mesh/chaos-mesh/pull/3037#issuecomment-1090271651 says.

They are not included in any CI checks.

[2022-04-20 09:33] STRRL commented on #3165
Maybe let `make test` to cover it.

[2022-04-20 09:39] STRRL commented on #2566
Maybe the situation is worse than we recognize, there are hundreds of vulnerabilities (425 with v2.1.5) in our container images.

https://artifacthub.io/packages/helm/chaos-mesh/chaos-mesh?modal=security-report

[2022-04-20 10:05] Hexilee opened #3166 "Add e2e tests for the dashboard frontend"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Bug #2816 was likely to be found if we have e2e tests for the dashboard frontend.

**Describe the feature you'd like:**

We can add e2e tests for the dashboard frontend based on puppeteer or selenium.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-04-21 00:20] #2738 closed

[2022-04-21 03:47] STRRL commented on #2601
Release 2.2 would not introduce any changes to Kubernetes CRD API.

I would move this issue out of milestone "Release 2.2"

[2022-04-21 04:16] STRRL opened #3167 "How about avoiding using "SecurityMode", it is kind of ambigous."
## Question

There are soo many words in the configuration introduced as `<something>SecurirtyMode`, and they require different integration for different features, relates to RBAC of Kubernetes and in-application RPC security.

[2022-04-21 05:06] STRRL opened #3169 "New minimum supported kubernetes version as kubernetes 1.19"
previous: https://github.com/chaos-mesh/chaos-mesh/issues/1886

Kubernetes 1.15 became EOL at 2020, May (2 years ago).

Keeping the support for the old Kubernetes version would lead to more cost on maintenance compatibility codes.

We should decide the next minimum supported Kubernetes version.

[2022-04-21 05:09] anuragpaliwal80 commented on #3062
So can I assume active work to enable this TLS feature will be continued in this area and it will not be paused/dropped?
We especially look for HTTPS support for egress calls.

[2022-04-21 05:22] #2881 closed

[2022-04-21 05:38] Hexilee commented on #3062
Hi, this feature will not be dropped but may be pending. Our team will discuss the work for this quarter today, then I will reply to you after the decision is made.

[2022-04-21 07:37] Hexilee commented on #3062
@anuragpaliwal80  We decide to work on this feature for this quarter.

[2022-04-21 08:38] anuragpaliwal80 commented on #3062
Thanks for the update and for making it part of active development.

[2022-04-21 10:13] STRRL opened #3172 "Release Cycle for Chaos Mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

YES. The current state of release policy is not satisfactory.

Chaos Mesh is still a fresh opensource project, we have tried to make effort to bring our work to the adopters regularly and stably.

BUT:

- Chaos Mesh 2.1.0 was released on Nov 30, 2021; (the last minor release)

It has been about **5 months** sin

[2022-04-21 12:24] YangKeao opened #3173 "Native ARM64 CI/CD"
Thanks for CNCF, we got a powerful ARM64 machine and bootstrapped some github action runner. Now we can add / migrate some building / testing tasks to the native environments :smile:.

- [ ] Add integration test / unit test for arm
- [ ] Add format check for arm
- [ ] Migrate the nightly image release to the arm (or possible release image for every commit in master)

[2022-04-22 05:49] STRRL opened #3176 "Backoff with the failure of chaos apply and recover"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. As [this comment](https://github.com/chaos-mesh/chaos-mesh/pull/3170#issuecomment-1105988653) says, we have no explicitly retry/backoff policy when the chaos experiment failed to Apply/Recover.

**Describe the feature you'd like:**

Introduce a proper backoff policy when chaos failed to Apply/Recover.

**D

[2022-04-22 06:19] cwen0 commented on #3126
OK! I will close this issue. If you have a new issue, reopen it.

[2022-04-22 06:19] #3126 closed

[2022-04-22 06:33] YangKeao commented on #3167
(Then rename to "hardened mode" :crying_cat_face:  )

[2022-04-22 06:44] STRRL commented on #3167
IMO both "hardened" and "security" would not make people know what it effects.

How about naming it with what actually it controls?

For example:
- gcpSecurityMode -> gcpOIDCIntegration
- dashboard.SecurityMode -> dashboard.userRBAC
- controllerManager.chaosdSecurityMode -> controllerManager.chaosd.mtls.enabled
- ....

[2022-04-22 10:52] #2876 closed

[2022-04-24 04:14] STRRL commented on #2799
The "Release Guide" requires more updates except for CHANGELOG, so it is not suitable to keep tracking that PR in this issue.

I am going to close this issue.

[2022-04-24 04:14] #2799 closed

[2022-04-24 09:51] lklkxcxc opened #3180 "The load stress did not work"
## Question
Could not found kubernetes pod and namespace workload increase when was stressing test case：
[code]
chaos-daemon logs:
[code]
**Output of chaosctl**

[2022-04-24 12:14] #3165 closed

[2022-04-25 02:44] STRRL commented on #3180
hi @lklkxcxc , there is a invalid value in your stress chaos spec:

[code]

the `size` could not be the percentage, it should be a certain size like `512MiB`, `1GiB`.

[2022-04-25 03:43] lklkxcxc commented on #3180
thanks @STRRL ! I have set memory value in stress chaos spec which did not work.
[code]

[2022-04-25 04:29] STRRL opened #3183 "Tracking Issue: prepare for release 2.2.0, feature status"
We are going to release Chaos Mesh 2.2.0, we would cut the branch release-2.2 from master later, and there are still several uncompleted codes that exist on master, we should prune them.

Uncompleted features should be carried with 2.2.0:

- https://github.com/chaos-mesh/chaos-mesh/pull/2992
- https://github.com/chaos-mesh/chaos-mesh/issues/3015
- https://github.com/chaos-mesh/chaos-mesh/pull/3185

[2022-04-25 05:07] #3074 closed

[2022-04-25 05:08] #2993 closed

[2022-04-25 07:09] xlgao-zju commented on #3176
@STRRL  since if we set `Requeue = true`, the controller-runtime will do a  exponential backoff automatically, you mean we need a customized backoff?

something like we calculate the `RequeueAfter` and use it instead of `Requeue = true`?

[2022-04-25 13:51] #2783 closed

[2022-04-25 13:56] STRRL commented on #1322
It seems that chaosd would be the alternative solution for VM, bare metal machine,s and other container environments without being orchestrated by Kubernetes.

I am going to close this issue,

[2022-04-25 13:56] #1322 closed

[2022-04-25 13:58] STRRL commented on #1397
Currently, there is no unnecessary global variable and `init` functions existed in chaosctl. :partying_face:

I am going to close this issue.

[2022-04-25 13:58] #1397 closed

[2022-04-25 14:02] STRRL commented on #1301
I think this feature has been supported in after v2.0.0, <Any>Chaos only holds `duration`, and the CRD `Schedule` would hold the `cron`

I am going to close this issue.

[2022-04-25 14:02] #1301 closed

[2022-04-25 14:03] STRRL commented on #1645
We have some integration tests for JVMChaos, it would be helpful :) see #2366

I am going to close this issue.

[2022-04-25 14:05] STRRL commented on #1365
This issue still exists. I would add this as a backlog and mark it as "help-wanted".

Any fancy tools which could improve the development/debugging experience are welcome.

[2022-04-25 14:10] STRRL commented on #2521
Force deleting IOChaos/NetworkChaos CustomResource does not mean the chaos experiments are recovered properly.

Now (2022-04-25), we still have not resolved this issue.

[2022-04-26 00:20] #2743 closed

[2022-04-26 03:09] STRRL opened #3188 "[Feature Request] Artifact Hub friendly helm charts"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**
[Artifact Hub](https://artifacthub.io/) is the successor of [helm/charts](https://github.com/helm/charts), it works as the marketplace for providing various kubernetes-related and container-imaged "artifacts", like helm charts, container images, kubectl krew plugins, et

[2022-04-26 06:02] BonjourGit commented on #3160
@Hexilee @iguoyr

Thank you for the input. Adding my two cents.
IMO the system observability along with running Chaos Mesh could possibly be considered in two distinctive layers.

1. Kubernetes Layer
At the Kubernetes layer, compare the infrastructure status from Kubernetes point of view before & after chaos mesh testing.
Since it does not depend on specific cloud application under test, Chaos mes

[2022-04-26 09:19] Hexilee opened #3191 "pkg/time cannot compile on arm64"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

mater branch

**What did you do?**

make image

**What did you expect to see?**

success

**What did you see instead?**

[code]

**Output of chaosctl**

[2022-04-26 09:39] g1eny0ung commented on #2822
Since the second step is a separate step, it doesn't affect release `2.2`. So I changed the millstone of this issue to `2.3`.

[2022-04-26 09:54] STRRL commented on #3191
Maybe https://github.com/chaos-mesh/chaos-mesh/pull/3088 could resolve it in another way?

FYI @Hexilee @Andrewmatilde

[2022-04-26 14:37] arun-022 opened #3195 "JVMChaos stress experiment throws exception"
## Bug Report

**What version of Kubernetes are you using?**
1.22.4

**What version of Chaos Mesh are you using?**
2.1.5

**What did you do?**
Installed chaos-mesh and then ran a jvmchaos stress experiment. The experiment perpetually is in the initialized status.

**What did you expect to see?**
OOM errors in the target pod

**What did you see instead?**
No change in pods

2022-04-26T14:18:55.734Z

[2022-04-26 14:54] wangjuan1228 opened #3196 "Simulate Stress Scenarios-cpu stress，events show “Failed to apply chaos: rpc error: code = Unknown desc = Error response from daemon: client version 1.41 is too new. Maximum supported API version is 1.40”"

[2022-04-26 14:59] #3196 closed

[2022-04-26 14:59] STRRL commented on #3195
Hi @arun-022 , I noticed the error message: "com.sun.tools.attach.AgentInitializationException: Agent JAR loaded but agent failed to initialize";

Could you provide:
- the JVMChaos resource as yaml file
- JVM kind and version of chaos inject target application
- what exactly the application is (if this application is available as public)

to us?

[2022-04-26 15:03] arun-022 commented on #3195
JVMChaos Yaml file

apiVersion: chaos-mesh.org/v1alpha1
kind: JVMChaos
metadata:
  name: jvm-stress
  namespace: chaos-testing
spec:
  action: 'stress'
  cpuCount: 1
  mode: all
  containerNames:
    - web-tomcat
  selector:
    namespaces:
      - tip-acc
    labelSelectors:
      'app': 'web'

The target is an application running in tomcat on openjdk version 11.0.13

[2022-04-27 00:22] #2744 closed

[2022-04-27 05:58] STRRL commented on #3005
Sorry for the late response, the "controller" called `desiredphase` would use the current time, creation timestamp, and field `duration` to determine  "should the chaos experiment effect right now or not"

[2022-04-27 08:02] RoyceShen1 commented on #2669
just curious, how did you manage to make it work?  by changing root URL variable in helm value file?

[2022-04-27 09:03] Andrewmatilde commented on #2295
I will work on it.

[2022-04-27 09:03] #3191 closed

[2022-04-27 09:34] STRRL commented on #2295
There existed some related works: https://github.com/chaos-mesh/chaos-mesh/pull/2932;

This PR could support filtering **TCP** traffic with IPCIDR and port;

[2022-04-27 09:35] STRRL commented on #2295
Please create a feature request issue before really work do it, also RFC if necessary;

[2022-04-27 10:48] Andrewmatilde commented on #2295
I will create a feature request issue.

[2022-04-28 07:55] STRRL opened #3198 "Enhancement: use different configurable CA and cert keypair for "CRD webhook", "chaos-daemon mtls" and "chaosd mtls""
## Feature Request

**Is your feature request related to a problem? Please describe:**

no.

**Describe the feature you'd like:**

refer: https://github.com/chaos-mesh/chaos-mesh/pull/3159#discussion_r857093223

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2022-04-28 07:55] STRRL commented on #3015
I am going to close this issue with successor: https://github.com/chaos-mesh/chaos-mesh/pull/3159

[2022-04-28 09:26] 030 commented on #3188
Related: https://github.com/chaos-mesh/charts/issues/3

[2022-04-29 03:42] STRRL opened #3199 "[Enhancement] refine logging with Error level"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Not kind of a problem;

**Describe the feature you'd like:**

Do not log the error in the Error level if we already resolved it in other ways or return it; using debug level (`L(1).Info()`) instead

Bad example:

https://github.com/chaos-mesh/chaos-mesh/blob/804b9a7e7b2fe3f01e12927a917baac9e53172a8/controllers/

[2022-04-29 07:01] Andrewmatilde opened #3200 "Code of NetworkChaos is hard to read."
I'm trying to add source pod port filter for NetworkChaos, I find it is hard to understand the whole processing.
I list something may confusing maintainers here :

1.  Implicit status check:  We use a lot of para with type string or raw string (like ".Target") to check function status.I have copied some example here. We can hardly know what the status is .
[code]
We can hardly know what "." ".Targ

[2022-04-29 07:10] #2608 closed

[2022-04-29 07:10] #3183 closed

[2022-04-29 07:10] #3015 closed

[2022-04-29 07:11] STRRL opened #3202 "Tracking issue: Going to release 2.2.0"
TODO:

- [ ] prune block chaos
- [ ] bump version to 2.2.0
- [ ] create release on github
- [ ] publish helm chart

[2022-04-29 07:38] #2929 closed

[2022-04-29 08:27] Andrewmatilde opened #3204 "Bug: Network Partition with both target & external target will block from target to external target"
## Bug Report

**What version of Chaos Mesh are you using?**
master

**What did you do?**
apply network chaos like :
[code]

**What did you expect to see?**

curl www.baidu.com in e2e-help1 works.

**What did you see instead?**

curl www.baidu.com in e2e-help1 failed.

[2022-04-29 10:53] STRRL opened #3209 "should respect rebuild xxx images label with e2e tests"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

**Output of chaosctl**

[2022-04-29 11:05] STRRL opened #3210 "`make check` does not respect the env-images.yaml"
## Bug Report

could reproduce with `make clean images/dev-env/.dockerbuilt`;

it would always pull `ghcr.io/chaos-mesh/dev-env:latest`

[2022-04-29 12:02] Hexilee opened #3212 "chaosctl release v2.2.0"
## chaosctl v2.2.0

- [x] #2950
- [x] #3056
- [x] #2992
- [ ] detailed documents

[2022-04-29 13:39] STRRL commented on #3209
## Bug Report

refer: https://github.com/chaos-mesh/chaos-mesh/pull/3208

When releasing 2.2, the changes on env-images.yaml would let CI use `ghcr.io/chaos-mesh/build-env:release-2.2`. But `rebuild-env-image` not works in e2e test. So it failed.

[2022-04-30 00:22] #2750 closed

[2022-04-30 00:22] #2664 closed

[2022-05-01 15:23] DaivikDave commented on #3210
I can work on it.

[2022-05-01 15:23] DaivikDave commented on #3210
/assign

[2022-05-02 05:25] STRRL opened #3215 "`make test` would failed when `make failpoint-disable`"
We execute `make test` with `RUN_IN_DEV_SHELL`, which introduces running inside of docker container.

But the last command `make failpoint-disable` also requires docker, which does not existed in the dev-env

[2022-05-03 13:09] DaivikDave commented on #3215
I can take this issue.

[2022-05-03 16:00] alelerac opened #3217 "directory "_chaosfs__zookeeper__" not removed after iochaos experiment is finished and deleted"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-18T12:09:25Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"ec2760d6

[2022-05-04 04:46] ycwdaaaa opened #3219 "I want write a book about chaos-mesh"
I'm planing to write a book about how to test product in k8s. so in a section i will introduce how to add new type of chaos exeperiment in chaos-mesh. is that ok for you guys?

[2022-05-04 20:59] kavinarvind opened #3220 "Chaos Mesh Runtime issue"
## Bug Report

**What version of Kubernetes are you using?**
1.23

**What version of Chaos Mesh are you using?**
Chaos mesh 2.1.3 and also tried 2.1.5

**What did you do?**

1. Installed Chaos mesh as a docker runtime
2. When tried with few experiments got error, Expected containerd, got docker
3. Reinstalled chaos mesh as containerd installation
4. Injected chaos it works well but next day again

[2022-05-05 01:53] g1eny0ung opened #3221 "ui(workflow): remaining new features in next `New Workflow`"
After #3185, there has still some unfinished things about the next generation `New Workflow` in UI:

- [x] #3253
- [x] #3623
- [x] #3420
- [x] #3224
- [x] #3364
- [x] #3365

I will address these and some other potential things in the future.

[2022-05-05 02:53] cwen0 commented on #3219
@ycwdaaaa Great! This is good news! If you need any help, please free to create an issue or send your question to the slack channel. We will give you feedback asap!

[2022-05-05 06:24] cwen0 commented on #3220
@kavinarvind Can you make sure if container runtime is containerd? From the error message, the container runtime is docker.

[2022-05-05 09:35] STRRL opened #3222 "HTTPChaos not works with minikube"
## Bug Report

I failed to inject HTTPChaos on minikube with docker driver, I think it relates to kernel version/kernel module. HTTPChaos works well with minikube with KVM driver.

Which kernel modules are required for HTTPChaos?

**What version of Kubernetes are you using?**

minikube with docker driver
host: Linux giu 5.17.5-arch1-1

[code]
**What version of Chaos Mesh are you using?**

2.2.0

*

[2022-05-05 09:35] STRRL commented on #3222
/cc @Andrewmatilde @Hexilee

[2022-05-05 09:44] STRRL commented on #3217
I think that is **in expectation**. Currently, chaos-daemon (in detail `toda`) would not remove the directory `__chaosfs__<origin-name>__`, but only umount from it, and it's enough to let the injected process be recovered from chaos experiment.

I think it could be an enhancement. Do you have interests to help us to make it? :D @alelerac

[2022-05-05 12:53] ycwdaaaa commented on #3219
Thanks a lot ~  I will contact you guys when I need help.

[2022-05-05 18:12] kavinarvind commented on #3220
When i checked using kubectl get nodes -o wide, i could see few pods have their nodes in docker runtime and few have in containerd.

<img width="654" alt="image" src="https://user-images.githubusercontent.com/61953863/166986639-33703476-a25a-412c-93f2-854ce5fd4f19.png">

[2022-05-06 03:08] STRRL commented on #3220
Chaos Mesh does not support setting up different Container Runtimes in one cluster.

Because we only use one daemonset for bootstrapping chaos-daemon.

I think manually set up chaos-daemon for different nodes with the proper configuration could resolve that.

Do you interest in that? ❤️ @kavinarvind

[2022-05-06 04:49] g1eny0ung opened #3224 "fix(workflow-ng): isolate `target` field and `Scope` when creating `NetworkChaos` in UI"

[2022-05-06 06:15] STRRL commented on #3222
relates to https://github.com/chaos-mesh/chaos-tproxy/issues/31

[2022-05-06 06:16] STRRL commented on #3222
@Andrewmatilde @Hexilee  What should I do ?

[2022-05-06 06:31] Andrewmatilde commented on #3222
Chaos-Tproxy need to read /lib/modules from the root linux fs and Broute must supportted in linux kernel.
We have mount /lib/modules from root linux to chaos-daemon, please ensure minikube system have /lib/modules first.

[2022-05-06 06:37] Andrewmatilde commented on #3222
I think some linux network infrastructure may also have some problems on IPTABLES_MANGEL.

[2022-05-06 07:12] STRRL commented on #3222
after install the `ebtables` then execute `modprobe ebtables`, I could resolve this issue

[2022-05-06 07:12] #3222 closed

[2022-05-06 13:36] sterchelen commented on #2409
Hi @WangXiangUSTC,
Could you share the implementation you have been thinking about to fix this issue? This way, we might be able to help you develop it.

[2022-05-07 06:51] YangKeao commented on #1629
Closed by  #1477

[2022-05-07 06:51] #1629 closed

[2022-05-07 08:23] WangXiangUSTC commented on #2409
That's great! You can see the code here https://github.com/chaos-mesh/chaos-mesh/blob/84e432d6d2aa03108577b4c2c6ec2e9d68ffbffa/controllers/chaosimpl/dnschaos/types.go#L64

The logic is:
1. Find the DNS server
2. Send a gRPC request to the server's cluster IP, and only one chaos DNS pod behind the server receive the request

I think the easiest way is to change the logic to:
1. Find all the Pods be

[2022-05-07 12:34] etigerstudio opened #3249 "`containerNames` field in `NetworkChaosSpec` is documented but not implemented"
Hi, I'm seeking to inject a network fault(e.g. delay) to one specific container in a pod(there are more than one containers in this pod).

According to [v2.1.5 doc](https://chaos-mesh.org/docs/simulate-network-chaos-on-kubernetes/), a field named `containerNames` is supposed to act as a container selector for a network fault. However, it turns out that there's no such field in [NetworkChaosSpec](h

[2022-05-08 03:13] Andrewmatilde commented on #3249
Sorry, this is a doc fault. NetworkChaos cannot inject fault into one container. I guess `containerNames` field will not be implemented because every container inside one pod share the network device & IP & mac. So we can hardly divide two container in network layer.
In future, I plan to add port filter for Network Chaos and you can add a port filter for one container in server side. Port filter i

[2022-05-08 04:10] STRRL opened #3250 "[Enhancement] Refine the codes about records and reconcile"
PR #3170 wants to set up the Status sub-resource for XXXChaos resources. And I/we were trapped with the logic of when to reconcile and update records.

So I think it's time to make it clear about

- how do we actually manage the chaos resources and PodXXChaos resources
- what's the relationship between records and PodXXXChaos, and how do we control them(podxxxmanager and txns)
- which kind of reco

[2022-05-08 04:58] shukawam commented on #1182
please add Oracle Cloud Infrastructure OKE to list :)

[2022-05-08 11:59] etigerstudio commented on #3249
Glad to hear from you!

Now I see it's hard to specify a container to inject faults because containers in a pod share one network device.
I'm interested in the port filter you mentioned. Currently I could only successfully specify external target by passing a domain name(baidu.com) or IP address(127.0.0.1). However I don't know how to use the port filter because I tried "127.0.0.1:8080" but that d

[2022-05-08 12:49] Andrewmatilde commented on #3249
I don't understand why external target with 127.0.0.1:8080 failed yet. I think it may be related with some ipset problem, but external target works well on port filter with www.baidu.com:80 or www.baidu.com:443 in client side.

[2022-05-08 12:54] Andrewmatilde commented on #3249
PTAL for external target : 127.0.0.1:8080 @STRRL @YangKeao .

[2022-05-08 13:27] etigerstudio commented on #3249
I just tested external target "www.baidu.com:80" & "www.baidu.com:443", but both didn't worked. And external target
 "www.baidu.com" did work(of course both port 80 & 443 are affected).
Could it be that port filters for external target is not supported yet?

[2022-05-09 00:52] Andrewmatilde commented on #3249
I have checked the iptables & ipset , so then I found that may because the DNS of "www.baidu.com" is not stable . NetworkChaos can only filter part of IPs through DNS. If you try to make HTTP connection more times ,Networks may works.

![image](https://user-images.githubusercontent.com/32479514/167323391-0b37a657-b9e2-4065-a386-d26cead693d3.png)
In this situation, I can only get www.baidu.com from