[2021-08-29 18:00] yishaihl commented on #2186
it's true i had to exclude this CRD from argocd and deploy it manually to be able to sync properly.

[2021-08-30 05:07] YangKeao commented on #2247
Are you using CNI-Genie to adapt multiple CNI plugin in the same kubernetes cluster?

[2021-08-30 05:52] #2136 closed

[2021-08-30 05:52] #2188 closed

[2021-08-30 05:52] #2205 closed

[2021-08-30 05:52] #2206 closed

[2021-08-30 14:47] Cerebus commented on #2247
I'm actually using [meshnet-cni](https://github.com/networkop/meshnet-cni) to run routed network emulations b/c it only emulates point to point links, which is 90% of what I need, but the Topology CRD is a pain to work with.  I started to look at multus.  I'll check out cni-genie.

I *think* multus will actually annotate Pods with all the attachment data.

[2021-09-01 00:09] #1746 closed

[2021-09-01 04:16] STRRL opened #2267 "I can not setup "Schedule: @every 10s" for PodChaos with pod-kill and contaienr-kill"
## Bug Report

**What version of Kubernetes are you using?**

minkube 1.21
[code]

**What version of Chaos Mesh are you using?**

master branch
[code]

**What did you do?**

I am trying to create `Schedule` with pod-kill on Chaos Dashboard.

**What did you expect to see?**

The `Schedule` could be created as expected.

**What did you see instead?**

Here is nowhere to set up field `schedule`, so I

[2021-09-01 04:23] STRRL commented on #2267
hi @g1eny0ung , I think I found the reason:

https://github.com/chaos-mesh/chaos-mesh/blob/86165967fe76d857cda53cb30c5057e3c367af26/ui/src/components/NewExperimentNext/Step2.tsx#L22-L28

https://github.com/chaos-mesh/chaos-mesh/blob/86165967fe76d857cda53cb30c5057e3c367af26/ui/src/components/NewExperimentNext/Step2.tsx#L155-L160

I think hte  "Scheduler" components should always show. But it was co

[2021-09-01 04:25] STRRL commented on #2267
PTAL @g1eny0ung

[2021-09-01 06:29] kxzonly opened #2268 "2.0.0 and newer helm can't support older k8s(1.13)?"
## Question

when I used helm install version 2.0.0 , i got an error .
"no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1""

i search on github,
Such as   https://github.com/operator-framework/operator-lifecycle-manager/issues/1818
i get this conclusion

It's not supported apiextensions.k8s.io/v1 CRD ,because i used olded k8s(1.13.3),it only supported apiextensions

[2021-09-01 07:29] Andrewmatilde commented on #2268
Hi, maybe you can use apiextensions.k8s.io/v1beta1 CRD in https://github.com/chaos-mesh/chaos-mesh/blob/release-2.0/manifests/crd-v1beta1.yaml. I found quick installation script had considered it.

[2021-09-01 07:42] kxzonly commented on #2268
ok,thanks ,i try it

[2021-09-01 07:44] shanishmohan commented on #1664
any suggestion on this error ?? i am trying to run network delay chaos

[code]

[2021-09-01 12:56] #1794 closed

[2021-09-01 16:44] faraktingi opened #2270 "NetworkChaos event problem - unable to flush ip sets for pod..."
## Bug Report

**What version of Chaos Mesh are you using?**

Controller manager Version: version.Info{GitVersion:"v2.0.0", GitCommit:"8055e259680adbedd728ca121b33ce2f94f72aac", BuildDate:"2021-07-23T07:27:10Z", GoVersion:"go1.15.11", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**

- Trying to perform NetworkChaos within an Openshift 4.6 project hosted in a multi-zone cluster environ

[2021-09-02 02:53] gaoran10 commented on #2109
@fewdan Yes, maybe the previous CRD didn't delete completely. I re-install the chaos-mesh and I didn't find this issue again. I close this issue first.

[2021-09-02 02:53] #2109 closed

[2021-09-02 03:12] #2267 closed

[2021-09-02 03:12] fewdan commented on #2270
Oh, this is because your container runtime is cri-o, but when chaos-mesh is installed, the default chaos-daemon runtime is docker, which causes this error.

You can reinstall chaos-mesh, but use this command to install :
[code]

[2021-09-02 05:27] #2190 closed

[2021-09-02 05:40] #1548 closed

[2021-09-02 06:07] iguoyr commented on #1974
/close pr has been already merged.

[2021-09-02 06:35] faraktingi commented on #2270
Thanks for your message fewdan.

Can I just execute the command as-is in my existing installation or should I need to uninstall or perform something else before?

I appreciate your help.

Fabien

[2021-09-02 07:04] fewdan commented on #2270
@faraktingi
Thanks. You should uninstall chaos-mesh, then install it....

[2021-09-02 07:08] YangKeao commented on #1974
/close

[2021-09-02 07:08] YangKeao commented on #1974
/close

[2021-09-02 07:14] iguoyr commented on #1974
/close

[2021-09-02 07:14] #1974 closed

[2021-09-02 07:47] kxzonly commented on #2268
resolved，and close

[2021-09-02 07:47] #2268 closed

[2021-09-02 07:57] GoneLikeAir opened #2272 "dose networkchaos support to drop the packages that send to a specific port ?"
Hi, dose networkchaos support to drop the packages that send to a specific port ?

For example, I want to run iptables command like this,  how can I do it via networkchaos:
iptables -A OUTPUT -p tcp --dport 5805 -j DROP

[2021-09-02 08:48] Andrewmatilde commented on #2272
I have not found it. But I think it could be inject manually using 'ip netns exec'.

[2021-09-02 09:47] GoneLikeAir commented on #2272
Got it, I will try it later. Thanks a lot.

[2021-09-02 09:50] Andrewmatilde opened #2273 "Dashboard: Panic: runtime error: invalid memory address or nil pointer dereference"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"

**What version of Chaos Mesh are you using?**
latest / commit: 00ca86a059041aadf0329648d8cb4cc

[2021-09-02 13:14] #2146 closed

[2021-09-02 15:06] faraktingi commented on #2270
Thanks a lot, I did that and now all works correctly.

I'd like to mention juts one thing about uninstalling part: When I performed the uninstallation everything worked correctly but I noticed that  the chaos-mesh Dashboard route was not removed from the project.

Thanks for your help.
I think that you can close this issue now.

Fabien

[2021-09-02 15:34] #2270 closed

[2021-09-03 00:08] #1839 closed

[2021-09-03 00:08] #1834 closed

[2021-09-03 06:51] YangKeao commented on #1516
@iguoyr Could it land before release 2.1? It would be really awesome.

[2021-09-03 07:36] iguoyr commented on #1516
@YangKeao yes! I will start to work on it soon.

[2021-09-06 03:06] WangXiangUSTC opened #2278 "admission webhook "vauth.kb.io" denied the request: kind Schedule is not support"
## Bug Report

**What version of Chaos Mesh are you using?**

master branch, afe07f020615b724447082c3ad39155b822e8c35

**What did you do?**

kubectl apply -f schedule-podchaos.yaml

**What did you expect to see?**

create success

**What did you see instead?**

Error from server: error when creating "schedule-podchaos.yaml": admission webhook "vauth.kb.io" denied the request: kind Schedule is not

[2021-09-06 10:46] #2278 closed

[2021-09-06 11:37] agilob commented on #2222
Unable to create traffic loss or delay on 2 different deployments/pods

[code]

[2021-09-06 11:38] agilob commented on #2222
Same on stress test, cant inject CPU stress, same errors

[2021-09-06 11:41] agilob commented on #2222
Paused experiments still produce these logs

[2021-09-06 11:46] sfc-gh-ddebny opened #2280 "del"
x

[2021-09-06 11:53] #2280 closed

[2021-09-06 11:55] debek opened #2281 "Can't apply CRD Chaos-mesh 2.0.1 because of workflownodes"
## Bug Report
I can't APPLY CRD for chaos-mesh 2.0.1

**What version of Kubernetes are you using?**
[code]
**What version of Chaos Mesh are you using?**
2.0.1

**What did you do?**
kubectl apply -f crd.yaml

**What did you expect to see?**
I want apply CRD

**What did you see instead?**
Error:
`The CustomResourceDefinition "workflownodes.chaos-mesh.org" is invalid: metadata.annotations: Too long:

[2021-09-07 03:29] fewdan commented on #2281
@debek
You can use "kubectl create -f" instead of "kubectl apply -f".

[2021-09-07 07:24] agilob commented on #2222
I've found the issue, attacked pod needs to be on the same node as chaos daemon or chaos controller. I setup node affinity and tolerations to control it

[2021-09-07 09:18] debek commented on #2281
Why we have this issue? ArgoCD use "Apply" instead of "Create".
With manually "Create" it works.

[2021-09-07 10:40] STRRL commented on #2281
Actually, it's the restriction of Kubernetes:

[code]

When you use `kubectl apply -f`, kubectl try to create the object with annotation `last-applied-configuration`, with the full content of the crd.

The root cause of this issue is the huge generated CRD file, including description and validation. And WOrkflowNode could embed an entire definition of `Container`, which makes the CRD larger.

I th

[2021-09-07 10:49] STRRL commented on #2222
Hi @agilob, we use privileged pods called `chaos-daemon` to inject network chaos, and `chaos-daemon` pods are delivered as DaemonSet. Chaos Mesh assumes that `chaos-daemon` should run on all of your Nodes.

And we use a headless service for service discovery of `chaos-daemon`, the error message "cannot find daemonIP on node ip-10-201-32-231.eu-west-1.compute.internal" means Chaos Mesh failed to fi

[2021-09-07 12:45] agilob commented on #2222
We run chaos mesh as non-privileged and namespace-scoped, our compliance won't let us run it on wider scale with "root" access.

Status is "Running"

That's another thing that we can't do, we restricted where c-d can run to selected nodes, won't let it run on 500+ nodes to run basic experiments to find out whether chaos-mesh is suitable for our needs.

[2021-09-07 13:48] #2238 closed

[2021-09-07 14:26] Muscule commented on #2178
Is it possible to get info about when this problem will be fixed?

[2021-09-07 17:54] RenxuanW opened #2283 "Is Namespace selector too heavy?"
## Question

We have 4 namespaces (say, n1-n4), each has 10-20 pods. We are trying to inject network larencies between <n1, n3>, <n1, n4>, <n2, n3> and <n2, n4>. We are using the [Namespace selector](https://github.com/chaos-mesh/chaos-mesh/blob/8bb47bce8769/api/v1alpha1/selector.go#L44). We find that the first experiment can be injected pretty quick. The second injection always time out. Is Names

[2021-09-08 00:08] #1829 closed

[2021-09-08 02:45] STRRL commented on #2283
Hi @RenxuanW, which version of Chaos Mesh are you using? And could you provide the definition (in YAML) of each chaos experience? I could not get what the "first experiment" and `second injection` actually are. :heart:

[2021-09-08 02:55] STRRL commented on #2281
I am going to close this issue. Feel free to reopen it :smile_cat:

[2021-09-08 02:55] #2281 closed

[2021-09-08 03:31] anuragpaliwal80 commented on #2186
We need fix for this as applying manually or via create command is not an option for us.
@YangKeao Can you please help us out ?

[2021-09-08 04:47] STRRL commented on #2186
Hi @anuragpaliwal80 and @debek, I noticed that there is a related issue: https://github.com/argoproj/argo-cd/issues/2730

Enable `REPLACE` on ArgoCD could be a temporary bypass solution, it will use `create` if object not exists, and `replace` if object already exists.

[2021-09-08 05:58] YangKeao commented on #2281
Argo has an issue https://github.com/argoproj/argo-cd/issues/820 to track the problem. It seems to have been fixed by setting `"argocd.argoproj.io/sync-options": "Replace=true"`

[2021-09-08 06:19] anuragpaliwal80 commented on #2186
@STRRL We are not using argo for our cluster as of now. We just apply the k8s yaml files during our cluster upgrade, that's all.

[2021-09-08 08:03] STRRL opened #2285 "Workflow: easily execute shell /python/other.. secripts in task node"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

Similar to #2259。

Workflow provides `Task` node that could let us create any kind of workload. But it is not so easy to configure the `Task` manually.

So I want that feature:  we could create `Task` node which sends execute scripts on Chaos Dashboard only with upload

[2021-09-08 13:04] nlamirault commented on #1955
any news ?

[2021-09-08 17:54] RenxuanW commented on #2283
Hi @STRRL, thank you for your response! We are using chaos-mesh v1.2.3. By `first` and `second`, I just mean network latencies between <n1, n3> and <n1, n4>, respectively.

The yaml contents are
[code]
and
[code]
Looks identical expect for the namespace.

[2021-09-08 18:14] sarathkgit opened #2286 "Facing issue like "The PodChaos 'pod-kill-example' is invalid: status.phase: Required value""
## Bug Report

**What version of Kubernetes are you using?**
Am running Kubectl version: 1.21

**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"v2.0.1", GitCommit:"2989e66ed8cla9815cba025664a72ed59422c73d", BuildDatw:"2021-08-26T10:04:06Z", GoVersion:"go1.15.11",Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
I have installed Chaos-mes

[2021-09-08 18:22] mladedav opened #2287 "Docs on NetworkChaos Bandwidth example provide incorrect yaml file"
## Question
When deployed as is the error is
[code]

If I add the fields `buffer` and `limit` it does work, but `limit` is not even documented.

Version of chaos mesh and the documentation are both 2.0.1.

[2021-09-08 20:15] RenxuanW commented on #2283
I found an error in the logs:
[code]
Sorry I have to mask the value because it's confidential, but the root cause is found. Thank you for your help, I'm closing this issue now.

[2021-09-08 20:15] #2283 closed

[2021-09-09 00:10] #1700 closed

[2021-09-09 00:10] #1472 closed

[2021-09-09 03:28] fewdan commented on #2286
Can you provide more logs of controll-manager?
You can exec "kubectl logs control-manager-xxxxxxxx -n chaos-testing".

[2021-09-09 03:33] fewdan commented on #2287
Thanks for your feedback, we will revise the document.

[2021-09-09 03:58] sarathkgit commented on #2286
![logs](https://user-images.githubusercontent.com/39150187/132620102-8c2cbe67-5fca-4626-9e69-aa620325986c.jpeg)
These are the logs

[2021-09-09 04:52] #2256 closed

[2021-09-09 05:57] YangKeao commented on #1955
I will work on this issue. Some dependencies have provided an arm64 binary, so it wouldn't be too difficult to build an arm image.

[2021-09-09 06:50] nlamirault commented on #1955
Great ! @YangKeao

[2021-09-09 08:27] PrayagS commented on #2163
@ReigenDing Can you please let me know if you're working on the remaining changes? If not, I'd like to take this up.

[2021-09-09 08:44] mladedav commented on #2287
@fewdan and if you don't mind me highjacking this issue for further documentation error, on the page
https://chaos-mesh.org/docs/run-a-chaos-experiment/
there is `kubectl annoate` instead of anno**t**ate (missing t)

[2021-09-09 08:50] mladedav commented on #2227
And if there is a need or we want to test different values of chaos spec, what is the preferred solution? Create multiple chaos specs and pause/resume them? Delete old specs and create new ones?

[2021-09-09 14:18] fewdan commented on #2287
Okay, thank you.

[2021-09-10 08:26] anuragpaliwal80 commented on #1964
FYI... The fix is still pending.

[2021-09-10 08:54] fewdan commented on #2178
This issue was fixed in #2245  , so I closed this issue. If there is a problem, you can reopen this issue at any time.

[2021-09-10 08:54] #2178 closed

[2021-09-11 04:45] cwen0 opened #2294 "`install.sh --docker-mirror` not work"
## Bug Report

**What version of Kubernetes are you using?**

v1.7.2

**What version of Chaos Mesh are you using?**

v2.0.0

**What did you do?**

use `install.sh` to install chaos-mesh

**What did you expect to see?**

Install chaos mesh successfully

**What did you see instead?**

[code]

**Output of chaosctl**

[2021-09-11 05:35] cwen0 commented on #2273
@Andrewmatilde This issue has been fixed in #2218, so I close it now.

This issue was caused by the that we used the type before checking the result of type assertion. If type assertion returns false, the progress will panic. https://github.com/chaos-mesh/chaos-mesh/blob/00ca86a059041aadf0329648d8cb4cc96e94757c/pkg/collector/event_collector.go#L57-L60

fixed:

https://github.com/chaos-mesh/chaos-m

[2021-09-11 05:35] #2273 closed

[2021-09-11 12:53] FingerLeader opened #2295 "Expand NetworkChaos to support src/dst ports."
## Feature Request

**Describe the feature you'd like:**
NetworkChaos doesn't support src/dst ports, and some users need this feature. We may work on it in a feature version.

[2021-09-13 06:03] fewdan commented on #2294
Are you using Chinese IP? It looks like this is the problem:
"ACR does not provide public anonymous access functionality on Azure China, this feature is in public preview on global Azure."

related issue:
https://github.com/Azure/container-service-for-azure-china/issues/60

[2021-09-13 06:08] fewdan commented on #2227
Yes, I think the current plan is: create chaos with different specs, and compare these chaos.

[2021-09-13 06:56] anuragpaliwal80 commented on #2186
@STRRL @YangKeao Just want to know do you guys have any plan to fix this issue so that we can plan 2.x upgrade activity tasks accordingly.  Thanks in advance.

[2021-09-13 06:58] anuragpaliwal80 commented on #2186
Or this is any k8s side issue which can't be fixed from chaos mesh side.

[2021-09-13 07:26] STRRL commented on #2186
We do not have a plan to "fix" this issue recently, it relates to the upstream issues. And only make modification on Chaos Mesh for resolving that needs lots of effort: we need to restructure our CRD entirly, especially the validation part.

You could use `kubectl create -f` and enable `Replace` on ArgoCD for bypassing this issue. :D

[2021-09-13 07:37] anuragpaliwal80 commented on #2186
Got it. Thx for the update @STRRL

[2021-09-13 07:59] yishaihl commented on #2186
@STRRL hey unfortenitly the 'Replace' flag in ArgoCD creates new issue as you can see here:
[https://ibb.co/DChHkPR]

[2021-09-13 08:06] STRRL commented on #2186
how about taking a try with `--force`?

[2021-09-13 09:21] STRRL commented on #2172
As https://github.com/chaos-mesh/chaos-mesh/pull/2292 has been merged! I think we're ready for k8s v1.22! :heart:

[2021-09-13 09:33] Colstuwjx commented on #2172
How about add a new version k8s cluster into the [CI script](https://github.com/chaos-mesh/chaos-mesh/blob/f728fbf/ci/pingcap_chaos_mesh_build_kind.groovy#L253), or just replace the v1.20, to guarantee this.

[2021-09-13 10:14] STRRL commented on #2172
On the way! ❤️❤️

[2021-09-13 10:56] yishaihl commented on #2186
@STRRL i'm using declarative argo manifest and unfortunately i didn't found a way to add  'FORCE" operation there ..unless you know how can i declare it?

[2021-09-13 21:12] andrewgkew opened #2300 "Failed to apply chaos: unable to flush ip sets for pod"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.8", GitCommit:"fd5d41537

[2021-09-14 03:28] iguoyr commented on #2300
@andrewgkew Hi, could you follow these suggestions, we need more information about the issue, thx.
1. get the node which the pod running on `NODE_NAME=$(kubectl get pod -n $POD_NAMESPACE quadbrew-api-7594646c8b-qdj6n -o jsonpath='{.spec.nodeName}')` (replace real namespace with `$POD_NAMESPACE`)
2. get the chaos-daemon pod `CHAOS_DAEMON_POD=$(kubectl get pod -n chaos-testing --field-selector=spec.

[2021-09-14 10:21] andrewgkew commented on #2300
Hi @iguoyr

1. Chaos Daemon logs
[code]

2. Pod yaml

[code]

[2021-09-14 15:39] faraktingi opened #2305 "Problem when running IOChaos"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.5", GitCommit:"e6503f8d8f769ace2f338794c914a96fc335df0f", GitTreeState:"clean", BuildDate:"2020-06-26T03:47:41Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0+4c3480d", GitCommit:"

[2021-09-14 20:44] andrewgkew opened #2306 "Chaos Dashboard cant create an experiment due to no namespace or label selectors"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.8", GitCommit:"fd5d41537

[2021-09-14 21:14] andrewgkew commented on #2306
Following the interactive demo too I also tried adding the RBAC permissions and generating a token and applying that too but no luck

[code]

[code]

[2021-09-15 02:36] iguoyr commented on #2300
@andrewgkew Hi, I noticed these logs:
[code]
Maybe you didn't specify the containerd runtime when you installed Chaos Mesh, and Chaos Mesh uses docker by default, which doesn't match the runtime with pod(`containerd://813e0ebdc5c74c3d9ca3be49f224f16dd224603c87e474d544e6bee820feb9ee`).

To solve the problem, you can first uninstall Chaos Mesh using `helm uninstall chaos-mesh -n chaos-testing` (http

[2021-09-15 02:45] STRRL commented on #1886
We need to specify the minimum supported kubernetes version on the document when release.

[2021-09-15 03:03] iguoyr commented on #2306
@andrewgkew Hi, is the `default` namespace your target namespace? I noticed that the role and the rolebinding you posted only work in `default` namespace, which means that the dashboard can only fetch resources(like labels or pods) in `default` namespace.

[2021-09-15 03:14] iguoyr commented on #2305
@faraktingi Hi, could you follow these suggestions, we need more information about the issue, thx.
1. the chaos-daemon endpoint info `kubectl get ep -n chaos-testing chaos-daemon -o yaml`
2. the chaos-daemon pod info `kubectl get pod -n chaos-testing -l app.kubernetes.io/component=chaos-daemon
 -o wide`

[2021-09-15 03:27] iguoyr commented on #2306
@andrewgkew And if you want to have access cluster-wide, try to use clusterRole and clusterRoleBinding which maybe a better choice :)

[2021-09-15 03:36] fewdan commented on #2287
The document has been updated, so close this issue.

[2021-09-15 03:37] #2287 closed

[2021-09-15 06:12] STRRL commented on #2163
It seems @ReigenDing is not working on that now. Feel free to take this.

[2021-09-15 06:21] iguoyr commented on #2286
@sarathkgit Hi, I think it may be that the version of PodChaos CRD does not match the version of chaos-controller-manager, and could you follow these suggestions, we need more information about the issue, thx :)
1. provide the step that how you installed Chaos Mesh, maybe by helm or install.sh (include the version of the script), and provide the detailed command is better
2. the PodChaos CRD `kube

[2021-09-15 06:34] iguoyr opened #2309 "NetworkChaos: Failed to recover chaos: strconv.ParseFloat: parsing "": invalid syntax"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

Controller manager Version: version.Info{GitVersion:"v2.0.0", GitCommit:"8055e259680adbedd728ca121b33ce2f94f72aac", BuildDate:"2021-07-23T07:27:10Z", GoVersion:"go1.15.11", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**

installed chaos-mesh and tried to run a simple delay tes

[2021-09-15 07:28] iguoyr opened #2310 "Enriching error logs in chaos-controller-manager"
## Feature Request

**Is your feature request related to a problem? Please describe:**

There are not enough logs in the chaos-controller-manger.

for example:
[code]

The error log is printed without details, we cannot know the original error context, including the point at which the error occurred and the object of the error(like the chaos name or other detail info)

**Describe the feature you'd

[2021-09-15 07:42] PrayagS commented on #2163
Sounds good. I'll get started then.

[2021-09-15 07:42] PrayagS commented on #2163
/assign

[2021-09-15 07:47] andrewgkew commented on #2300
@iguoyr - this is perfect thank you I re-installed it using containerd runtime and its all now working :D thank you

[2021-09-15 07:51] andrewgkew commented on #2306
@iguoyr - thanks for the tip on setting Custer roles instead.

I tried the following and it didnt work

[code]

Then got the token and add it in the settings field in the dashboard and still nothing in the drop down.
I got the CRDs to work when using kubectl which is great just want it to work through dashboard now if possible please

Can you help?

[2021-09-15 08:40] iguoyr commented on #2306
@andrewgkew This is a bit strange, is there any information in the drop down box `choose namespace` in the top-right corner of the page? And it is better if you can provide detailed screenshots :)

[2021-09-15 08:45] iguoyr commented on #2300
Great! I close this issue now, if there is any other question feel free to reopen it.

[2021-09-15 08:45] #2300 closed

[2021-09-15 08:51] andrewgkew commented on #2306
@iguoyr this is what the top namespace dropdown looks like

![image](https://user-images.githubusercontent.com/2614141/133402270-77478f58-c96a-4da4-b268-937a31ee1cfa.png)

Also the scope box at the bottom looks like its flashing all the time

![image](https://user-images.githubusercontent.com/2614141/133402374-682399e2-a2b6-4981-b167-726a8a5e033a.png)

And when I try start an experiment via the UI

[2021-09-15 08:52] andrewgkew commented on #2306
Also I added my token in the settings section but when I go back to it its gone

![image](https://user-images.githubusercontent.com/2614141/133402657-fa3ba35c-e87a-4825-9f38-a11f00b861f8.png)

[2021-09-15 09:06] faraktingi commented on #2305
Thanks for your help @iguoyr .
Here are the commands result:
1. `kubectl get ep -n chaos-testing chaos-daemon -o yaml`

2. `kubectl get pod -n chaos-testing -l app.kubernetes.io/component=chaos-daemon -o wide`

[2021-09-15 09:26] iguoyr commented on #2305
@faraktingi It's strange that there is no chaos-daemon pod in `chaos-testing` namespace, please provide more info to find the reason, thx.
1. the chaos-testing namespace pod `kubectl get pod -n chaos-testing -o wide`
2. the chaos-daemon daemonset `kubectl describe ds -n chaos-testing chaos-daemon`

[2021-09-15 09:30] faraktingi commented on #2305
1. `kubectl get pod -n chaos-testing -o wide`

[code]

2. `kubectl describe ds -n chaos-testing chaos-daemon`

[code]

[2021-09-15 09:32] faraktingi commented on #2305
Perhaps we need to perform this command:

`oc adm policy add-scc-to-user privileged system:serviceaccount:chaos-testing:chaos-daemon`

What do you think?

[2021-09-15 09:55] g1eny0ung commented on #2306
It looks like the namespaces are not being fetched. This request `/common/chaos-available-namespaces` should give an error.

[2021-09-15 10:00] YangKeao commented on #2305
Yes, as described in the [FAQ](https://chaos-mesh.org/docs/next/faqs/#q-while-trying-to-install-chaos-mesh-in-openshift-the-problems-regarding-authorization-blocked-the-installation-process)

[2021-09-15 10:08] faraktingi commented on #2305
now I have:
$ `kubectl get pod -n chaos-testing -l app.kubernetes.io/component=chaos-daemon -o wide`
[code]

[2021-09-15 10:11] iguoyr commented on #2305
@faraktingi Great! And try to run I/O latency chaos again, is there still having problems?

[2021-09-15 10:29] andrewgkew commented on #2306
Thanks @g1eny0ung any ideas on how to solve this? I just did a standard helm install. Am I missing some configuration maybe an override in values file?

[2021-09-15 10:38] faraktingi commented on #2305
yes i restarted it and got this error now:
[code]

[2021-09-15 10:54] faraktingi commented on #2305
this command:
`./chaosctl debug iochaos -n chaos-testing`
gives:
[code]

[2021-09-15 12:19] faraktingi commented on #2305
any idea please?

[2021-09-15 12:34] iguoyr commented on #2305
@YangKeao It's seems like a issue with `toda`, could you help with this?

panic: runtime error: invalid memory address or nil pointer dereference

Sorry, it's seems like that `chaoctl` has some problem to debug iochaos, I'll create a pr to fix it.

[2021-09-16 00:09] #1884 closed

[2021-09-16 02:23] g1eny0ung commented on #2306
You can open the browser devtools to check the request and deduce the cause of the error.

[2021-09-16 04:05] zhuwenxing opened #2312 "Can't create chaos scheduler for every second level"
## Bug Report

**What version of Kubernetes are you using?**

client v1.20.0
server v1.21.2
**What version of Chaos Mesh are you using?**

v2.0.1
**What did you do?**

Create a pod kill scheduler for every 2s
**What did you expect to see?**
Create success
**What did you see instead?**
Report error
[code]
**Output of chaosctl**

[2021-09-16 05:47] iguoyr opened #2313 "chaosctl debug iochaos failed"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

As the https://github.com/chaos-mesh/chaos-mesh/issues/2305 reported, `chaosctl debug iochaos` cannot work.

**What did you expect to see?**
`chaosctl debug iochaos` can print the right result.

**What did you see instead?**
output of `./chaosctl debug iochaos -n chaos

[2021-09-16 05:56] iguoyr opened #2314 "envtest starts testing before controller startup is complete"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

Run CI `make test` step

**What did you expect to see?**
envtest starts testing after controller startup is complete

**What did you see instead?**
https://github.com/chaos-mesh/chaos-mesh/pull/2291/checks?check_run_id=3608447382#step:5:509

[code]
**Output of chaosctl

[2021-09-16 06:33] YangKeao commented on #2187
As the document has been added to https://github.com/chaos-mesh/website/pull/129, this PR will be closed. If you have any question, feel free to reopen the issue (if related), or create a new one.

[2021-09-16 06:33] #2187 closed

[2021-09-16 09:35] YangKeao commented on #2305
@faraktingi Have this pod opened a lot of file? If the process has opened a lot of files, it may take too long for the `IOChaos` to inject and will throw this error.

[2021-09-16 12:08] faraktingi commented on #2305
Thanks for your message @YangKeao.

Have this pod opened a lot of file?

Here is the result of the following command:
`kubectl exec -it mq-ddd-qm-dev-ibm-mq-0  -- /bin/sh -c 'ulimit -a'`

[2021-09-16 12:23] faraktingi commented on #2305
As an additional information I can provide that I get the same error with several others pods in different namespaces:

[2021-09-16 12:58] YangKeao commented on #2305
Could you provide the log of the `chaos-daemon` on related node while injecting an `IOChaos`? If the process hasn't opened many files, the log wouldn't be long (as it will print 2-3 lines of log per file). It would help us to identify the problem.

[2021-09-16 13:21] faraktingi commented on #2305
hi
in my chaos-mesh daemon pod logs I have this:

[code]

[2021-09-16 13:31] faraktingi commented on #2305
Sorry I made several attempts but in my previous one is the last with a /tmp folder....

[2021-09-16 14:09] andrewgkew commented on #2306
@g1eny0ung - sorry it was my mistake, I had an issue with my ingress for the dashboard

I fixed that and now when I go to the dashboard first time I am asked for the token, I apply my token and I am now able to see all my namespaces as expected

Thanks for your help

[2021-09-16 14:20] debek opened #2316 "x509: certificate relies on legacy Common Name field, use SANs or temporarily enable Common Name"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427deg7cac1e9fadd4aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:52:14Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.13-eks-8df270", GitCo

[2021-09-17 02:26] #2306 closed

[2021-09-17 02:43] iguoyr commented on #2316
@debek Hi, could you provide more info about `chaos-mesh.yml` which is used by `kubectl create -f chaos-mesh.yml`? For example, the content of this file or where you got this file.

[2021-09-17 04:18] YangKeao opened #2317 "Shrink the size of `build-env` and `dev-env`."

[2021-09-17 04:26] FingerLeader opened #2319 "StressChaos configured for CPU load only makes services in the same namespace unaccessible."
## Bug Report

**What version of Kubernetes are you using?**
v1.21

**What version of Chaos Mesh are you using?**
latest

**What did you do?**
I created a stressChaos configured for CPU load only.

**What did you see?**
All services in the namespace which stressChaos injected are inaccessible, and according to the event information, the experiment worked. But if I creat a stressChaos configured fo

[2021-09-17 04:39] FingerLeader opened #2320 "Label selectors on dashboard don't work."
## Bug Report

**What version of Kubernetes are you using?**
v1.21

**What version of Chaos Mesh are you using?**
 Image:         pingcap/chaos-dashboard:latest
    Image ID:      docker-pullable://pingcap/chaos-dashboard@sha256:4a15e5b31e921b5c2f13fa123b9c138db3cf0074057ecc2fd1fca421266c0a88

**What did you do?**
I created an expriment on dashboard.

**What did you expect to see?**
After selectin

[2021-09-17 06:10] likangjian01 opened #2321 "StressChaos doesn't work in intranet"
deployed in offline enviroment, it seems to fail to inject a cpu_burn into specific pod

![c8b34a003429d06382db5da1d306ed3](https://user-images.githubusercontent.com/60882548/133732266-c5b3959a-41c8-4fa2-afcb-134d8ddf9ca1.jpg)
![d596792e998dd33f663dafa8ceeecd4](https://user-images.githubusercontent.com/60882548/133732765-56da3f2d-ab9b-456d-9549-198b38512228.jpg)

there is no stress-ng-cpu process

[2021-09-17 06:44] likangjian01 commented on #2321
What may be the possible cause？

[2021-09-17 07:31] Hexilee commented on #2313
Hi, we are refactoring chaosctl in #2243, this issue will be outdated.

[2021-09-17 07:32] faraktingi commented on #2305
Hello @YangKeao,

Let me know if the logs I sent Yesterday are the one you asked for and if I need to provide something else please.

I appreciate your help on this problem.

Best,
Fabien

[2021-09-17 08:02] YangKeao commented on #2305
Yes! Really Thanks for the log. I have located the error https://github.com/chaos-mesh/toda/blob/master/src/mount.rs#L40 . The chaos mesh is trying to execute `mount --move /tmp /__chaosfs__tmp__` but got an error. However, the frustrating thing is that the log doesn't give me an error number of the syscall :cry: . Could you try to run `mkdir /tmp/__chaosfs__tmp__ && mount --move /tmp /tmp/__chaos

[2021-09-17 08:12] faraktingi commented on #2305
here are results of the commands above:

sh-4.4$ `mkdir /tmp/__chaosfs__tmp__ && mount --move /tmp /tmp/__chaosfs__tmp__`

I do not have root password.

sh-4.4$ `findmnt -o TARGET,PROPAGATION /`

[2021-09-17 08:48] YangKeao commented on #2305
Can you provide the definition of the pod (after hiding the sensitive information, if you have any security concern)? Or could you try to deploy a simple application (e.g. a sleeping ubuntu image with `emptyDir` volume) and inject `IOChaos` into it?

It would be even better to deploy a priviledged sleeping ubuntu, and you will be able to run the former `mount` command in it.

[2021-09-17 09:26] faraktingi commented on #2305
Here is the definition of the pod I'm trying to inject I/O chaos:

[code]

Can you provide me informations about how to perform those operations please?

[2021-09-17 10:51] faraktingi commented on #2305
Hello,

I have created a new namespace and then created the following Pod:

Then I create a new I/O experiment on Volume Path: /data/demo

I only got this error:
`Failed to update conditions: Operation cannot be fulfilled on iochaos.chaos-mesh.org "iotest4": the object has been modified; please apply your changes to the latest version and try again`

And I think that the experiment passed at the e

[2021-09-17 11:04] faraktingi commented on #2305
Additional information about MQ pod:

Hi @YangKeao here is some additional definition I did not send to you earlier but you could see the security context of the Pod. Just note that I have also performed the test with chaos-mesh pod (from chaos-mesh testing project) and I got same error.

[2021-09-17 12:12] YangKeao commented on #2305
Thanks for your reply! The error "Failed to update conditions" doesn't matter. If there are not other error, and there are events like "Successfully apply chaos for NAMESPACE/PODNAME", the injection works well. You can check the latency by running `ls -lah` or other commands under that folder, and see whether it becomes slow.

During the injection, there is a file system (called `toda`) mounted at

[2021-09-17 13:17] faraktingi commented on #2305
@YangKeao
Ok so that worked for this test giving more privileges to the security pod. But that it's not an option for me to change the pod security privileges.

What is the option we have in such case? Is it something no need to investigate deeply from your side?

[2021-09-17 13:59] YangKeao commented on #2305
I don't know why the priviledge of target pod will affect the execution of Chaos Mesh, as Chaos Mesh runs all injection under its own user and container (by switching namespaces / cgroups) (and the `chaos-daemon` is "priviledged"). The OpenShift seems to have a lot of security protection (e.g. scc, SELinux ... ), and the users of Chaos Mesh on OpenShift have reported many different problems :cryin

[2021-09-17 14:20] YangKeao opened #2322 "Run CI to build image if the related `Dockerfile` changed."

[2021-09-17 14:32] faraktingi commented on #2305
Sure @YangKeao

Yes I was able to perform some NetworkChaos experiments successfully.

Many thanks for your help again.
Fabien

[2021-09-17 16:18] Yiyiyimu opened #2323 "Bug: installation from latest install.sh would fail after #2235"
## Bug Report

**What version of Kubernetes are you using?**
1.21.4

**What version of Chaos Mesh are you using?**
lastest

**What did you do?**
Install chaos mesh with latest `script.sh` in CI, which results in
[code]
The failure started from 4 hours ago (around 20:00 GMT+8), so I guess it might relate to #2235.

And here is the log:

[cm-error.log](https://github.com/chaos-mesh/chaos-mesh/files/

[2021-09-18 03:51] STRRL commented on #2323
I noticed that in controller-manager's log:
[code]

We introduced a new CRD `PhysicalMachineChaos`, and you need to manually update the CRD.

[2021-09-18 10:10] #2312 closed

[2021-09-19 22:19] Yiyiyimu commented on #2323
Thanks for the reply @STRRL!

Actually I install chaos mesh in a brand new environment (in CI) so I think CRD is directly installed with `install.sh` and the problem might not relate to the update.

CI script: https://github.com/apache/apisix/blob/release/2.9/.github/workflows/chaos.yml#L73

[2021-09-21 00:09] #1874 closed

[2021-09-21 07:19] faraktingi commented on #2305
hello @YangKeao

How are you doing?

Any news regarding this issue please?

Thanks Fabien.

[2021-09-21 15:23] craig-seeman commented on #2295
To help with some discussion, I'm a bit curious what would be better for formatting the yaml for this?

A: (could be more customizable, allowing for custom port per target address, but more annoying to create for the end user):
[code]

B. Bit of a refactor, allowing groups of addresses for a rule, allowing multiple rulesets):
[code]

C. (Most like current layout):
[code]

[2021-09-22 02:50] #1930 closed

[2021-09-22 04:48] STRRL commented on #2323
tldr; please retry it, I think it should work now.

`install.sh` use CDN to deliver the `crd.yaml` files, maybe it did not update at first. Anyway, `install.sh` works fine on my machine now. :)

[2021-09-22 04:52] #1516 closed

[2021-09-22 08:43] WangXiangUSTC opened #2329 "unable to set the pod's phase in `Phase Selectors`"
## Bug Report

**What version of Chaos Mesh are you using?**

latest master, commit: 1b8447ad561c0ff4cd86fcbd688bee7f3e61058a

**What did you do?**

create new experiment, and try to set the pod's phase in `Phase Selectors`

**What did you expect to see?**

set success

**What did you see instead?**

unable to set, and can see the error:

![image](https://user-images.githubusercontent.com/5793595/

[2021-09-22 09:26] #2329 closed

[2021-09-22 10:52] #2163 closed

[2021-09-22 11:06] YangKeao commented on #2200
Do you mean `Process`?

[2021-09-22 12:00] Muscule commented on #664
I have the same issue. Openshift 4.7

[2021-09-22 12:17] Muscule commented on #664
This didn't help.

[2021-09-23 02:53] cwen0 opened #2331 "networkchaos: the network delay of injection is unstable"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

v2.0.1

**What did you do?**

1. run networkchaos experiment: delay: 300ms, jitter: 20ms, corr: 55%

**What did you expect to see?**

Using ping to test the network, the delay should be arount 300ms

**What did you see instead?**
![image](https://user-images.githubusercontent.com/22956341/1

[2021-09-23 02:57] cwen0 commented on #2331
This issue is caused by the bug of TC jitter in kernel 4.15 https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1783822
![image](https://user-images.githubusercontent.com/22956341/134448484-82f046b3-12d9-469a-b6b8-ffb455f4daa9.png)

You can try to remove the `jitter` configuration or upgrade the kernel version.

[2021-09-23 08:38] YangKeao opened #2334 "Container is not running will block the recovering"
## Bug Report

The `chaos-daemon` will return an error when it fails to get `pid` from `container id`. Usually, it means the docker container is not running, and is stopped or restarting. However, it will block the recovering process, and the user need to remove the finalizer and remove the chaos resource manually.

The problem is that, why the container is not running, but the pod doesn't represe

[2021-09-23 13:09] STRRL commented on #1570
closed by #1558

[2021-09-23 13:09] #1570 closed

[2021-09-23 15:27] Yiyiyimu commented on #2323
It also works on my side. Thank you @STRRL!

[2021-09-23 15:27] #2323 closed

[2021-09-26 03:21] #2331 closed

[2021-09-26 03:28] cwen0 commented on #2321
@likangjian01 Can you check if your Kubernetes cluster enable admission-webhook? https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

[2021-09-26 07:16] likangjian01 commented on #2321
well, i have found a similar issue which has been closed in #2178，seemingly a bug in JSON deserialization. Thanks

[2021-09-27 01:55] STRRL commented on #2257
Could we also move image `pingcap/chaos-mesh:latest` to `ghcr.io/chaos-mesh/chaos-mesh:latest`?

[2021-09-27 04:05] 15767637775 opened #2341 "unknown field "duration""
## Question

https://chaos-mesh.org/website-zh/docs/run-chaos-experiments-in-serial-or-parallel/#%E4%B8%B2%E8%A1%8C%E8%BF%90%E8%A1%8C%E5%AE%9E%E9%AA%8C

kubectl apply -f try-workflow-serial.yaml

error: error validating "try-workflow-serial.yaml":
error validating data: [ValidationError(Workflow.spec.templates[0]):
unknown field "duration" in org.chaos-mesh.v1alpha1.Workflow.spec.templates, Valida

[2021-09-27 06:51] iguoyr opened #2342 "Make `Makefile` easier to read"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The `Makefile` is a little hard to read now, for example:

* lack of help document
* the `eval` function is not easy to understand
* It's more difficult to use conditional statements in `Makefile`, such as `switch`

**Describe the feature you'd like:**

We can improve the readability by the following methods:

[2021-09-27 07:01] Hexilee commented on #2341
Hi, is the `try-workflow-serial.yaml` exactly the same with https://chaos-mesh.org/website-zh/docs/run-chaos-experiments-in-serial-or-parallel/#%E4%B8%B2%E8%A1%8C%E8%BF%90%E8%A1%8C%E5%AE%9E%E9%AA%8C ?

[2021-09-27 07:12] Hexilee commented on #2342
I think documents may be helpful, but bash scripts are also not easy enough to read.

[2021-09-27 09:14] iguoyr commented on #2342
I mean use `bash` on some complex logic, for example:
* the condition statement, `Makefile` can only support `ifeq` and `ifdef`
* the escape character `$` and `$$` and `$$$$`, it is quite confusing to know when to use which one
* the combination of `eval`, `call` and `xxx_TEMPLATE` is less intuitive than `function`(or `method`), but this is actually not very important, we could use documents to de

[2021-09-27 10:33] faraktingi commented on #2305
Hello @YangKeao - Do you think I could have an update on this issue soon please?

Thanks for your help,
Fabien

[2021-09-27 12:36] YangKeao opened #2343 "Creating `StressChaos` on dashboard will cause unexpected arguments"
Creating `StressChaos` on dashboard will generate such spec:

[code]

However, the behavior of  `memory: workers: 0` and `memory: nil` is different. For `memory: workers: 0`, the `stress-ng` will be passed arguments `--vm 0 --vm-keep`, and will spawn a lot of workers to eat memory. For `memory: nil`, the `stress-ng` will not have related arguments.

The implementation of `StressChaos` should ignor

[2021-09-27 22:53] aangoulvant opened #2344 "Cannot install Chaos Mess with helm"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.4", GitCommit:"3cce4a82b44f032d0cd1a1790e6d2f5a55d20aae", GitTreeState:"clean", BuildDate:"2021-08-11T18:16:05Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a1914

[2021-09-28 01:30] 15767637775 commented on #2341
the "duration" does not work

[2021-09-28 04:20] Hexilee commented on #2344
Hi, I am sorry that Chaos Mesh v2.0.1 does not support Kubernetes v1.22. However, the Chaos Mesh v2.0.2 is ready to be released, which will support Kubernetes v1.22. Thanks for your report.

[2021-09-28 04:34] Hexilee commented on #2341
Hi, I am sorry that docs are outdated, could you try `deadline` instead of `duration`? We are going to update the docs.

[2021-09-28 06:27] STRRL opened #2348 "Use SemVer in helm chart"
## Bug Report

We use version as `v2.0.1` in the helm `Chart.yaml`, and actually `v2.0.1`(with prefix `v`) is NOT a valid SemVer, ref: https://semver.org/#is-v123-a-semantic-version

We should use a version like `2.1.0` in the future.

[2021-09-28 08:17] ashishgoyal111 opened #2350 "Invalid value: "IOChaos": field is immutable"
While upgrading from 1.x version to 2.0.1, when crd is applied using **kubectl apply command**, it gives following errors-

`Resource: "apiextensions.k8s.io/v1, Resource=customresourcedefinitions", GroupVersionKind: "apiextensions.k8s.io/v1, Kind=CustomResourceDefinition"
Name: "iochaos.chaos-mesh.org", Namespace: ""
for: "crd/crd-2.0.1.yaml": CustomResourceDefinition.apiextensions.k8s.io "iochaos

[2021-09-28 08:52] iguoyr opened #2351 "Adjust chaos-builder markers"
## Feature Request

**Is your feature request related to a problem? Please describe:**

We have two markers `+chaos-mesh:oneshot` and `+chaos-mesh:base` in `chaos-builder` now, however the marker `+chaos-mesh:base` is too general, and some custom resource maybe not an experiment, for example `PhysicalMachine`, which is a static config. So I want to adjust `+chaos-mesh:base` to only have the basic

[2021-09-28 08:59] YangKeao commented on #2351
`podnetworkchaos` and `podiochaos` will also benefit from this proposal, as they initialized manually :crying_cat_face:

[2021-09-28 12:56] aangoulvant commented on #2344
Thanks a lot for pointing this out! Closing.

[2021-09-28 12:56] #2344 closed

[2021-09-29 03:03] 15767637775 commented on #2341
ok，thx.

On Tue, Sep 28, 2021 at 12:34 PM xixi ***@***.***> wrote:

[2021-09-29 06:14] anuragpaliwal80 commented on #1574
Closing this issue, will check with action in future.

[2021-09-29 06:14] #1574 closed

[2021-09-29 06:43] Hexilee commented on #2350
Hi, are you following the steps in [upgrade guide](https://chaos-mesh.org/docs/upgrade-to-2.0/)?

[2021-09-29 06:54] #2343 closed

[2021-09-30 03:39] ashishgoyal111 commented on #2350
@Hexilee currently we are doing it through kubectl apply commands, let me check the guide and get back.

[2021-09-30 13:07] ashishgoyal111 opened #2354 "Getting error "desc = cgroups: cgroup deleted" while applying stresschaos"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.8", GitCommit:"55759354

[2021-10-01 06:01] ashishgoyal111 opened #2355 "Getting "unable to get chaos" error log while deleting schedule"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.8", GitCommit:"55759354

[2021-10-01 06:12] ashishgoyal111 opened #2356 "How to get unique number of NetworkChaos requests from logs"
## Bug Report

What version of Kubernetes are you using?
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.8", GitCommit:"5575935422cc

[2021-10-01 13:55] cwen0 commented on #2356
@ashishgoyal111 You still can use this message to get per networkchaos object.

[code]

output:

![image](https://user-images.githubusercontent.com/22956341/135631829-766078e2-660e-4df2-b689-5f789f3a56a1.png)

[2021-10-01 14:29] cwen0 commented on #2354
@ashishgoyal111 Can you provide the log of the chaos-daemon belong to 'ip-10-79-147-151.ec2.internal' node?  Can this issue be reproduced stably? You can try to delete the chaos-daemon pod belong to 'ip-10-79-147-151.ec2.internal' node and let it recreate a new one.

[2021-10-02 09:14] madrigal1 commented on #2237
hey would be interested in working on this

[2021-10-04 04:29] ashishgoyal111 commented on #2354
Thanks @cwen0 for taking this up. I was not able to take logs of daemon because log stream closed with saying "Unexpected EOF". I killed the corresponding daemon pod and it was re-created but the same error is always reproducible.
**Controller logs-**

2021-10-04T04:22:38.281Z	INFO	records	apply chaos	{"id": "ns-personal-ashigoya/dep1-b69bdd469-8qlmp/kd1"}
2021-10-04T04:22:38.281Z	INFO	controller-

[2021-10-04 05:03] PrayagS commented on #1047
Isn't this test already implemented in [`e2e-test/e2e/chaos/networkchaos/network_delay.go`](https://github.com/chaos-mesh/chaos-mesh/blob/master/e2e-test/e2e/chaos/networkchaos/network_delay.go)? Or is it still incomplete? If yes, what tasks are still left to complete?

[2021-10-04 13:04] ashishgoyal111 commented on #2354
@cwen0 we are seeing some errors when daemon pod comes up-

2021-10-04T04:18:32.718Z	INFO	chaos-daemon	grant access to /dev/fuse
2021-10-04T04:18:32.719Z	ERROR	chaos-daemon	fail to grant access to /dev/fuse	{"error": "open /host-sys/fs/cgroup/devices/kubepods/burstable/pod9d714242-fe6c-482c-9fc4-a251016341ca/58b866dde4f70fb1d5904b4fc5511c6ded9824d35c45fca4fa13881952c672c7/devices.allow: no such fi

[2021-10-04 20:26] kevholmes commented on #2237
/assign

[2021-10-05 03:59] ashishgoyal111 commented on #2356
we are facing some other issues which are being discussed at https://github.com/chaos-mesh/chaos-mesh/issues/2354. Will try once experiments start working.

[2021-10-05 14:48] Muscule opened #2359 "Webhook gets empty response"
## Bug Report

**What version of Kubernetes are you using?**
OpenShift 4.7.22 Kubernetes v1.20.0

**What version of Chaos Mesh are you using?**
2.0.1

**What did you do?**
I tried to create pod-kill experiment.

**What did you expect to see?**
Experiment started succesfully. ChaosMesh kills pods in namespace.

**What did you see instead?**
error.api.internal_server_error: Internal error occurred:

[2021-10-06 09:26] ashishgoyal111 opened #2360 "Prometheus analysis for chaos-mesh 2.0"
## Question
For prometheus analysis, we were using the following query to find **Avg. time(in seconds) an item/observation stays in workqueue before being requested** in chaos-mesh 1.x version
 for podchaos

but in 2.0 version, we have this metric available for different values of name like podchaos-condition, podchaos-desiredphase, podchaos-finalizers etc.

Could you help us understand these?

[2021-10-06 11:32] ashishgoyal111 commented on #2354
@cwen0 could you find the cause if the issue. It is blocking us from trying out chaos-mesh further.

[2021-10-08 04:37] Hexilee commented on #2359
Sorry for the late reply. Could you provide logs from the chaos-controller? You can list the components by ` kubectl get pods --namespace chaos-testing -l app.kubernetes.io/instance=chaos-mesh`.

[2021-10-09 03:53] WangXiangUSTC opened #2365 "refine JVMChaos with byteman"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now JVMChaos implement with [chaosblade-exec-jvm](https://github.com/chaosblade-io/chaosblade-exec-jvm), which lack
detailed documentation, and require sidecar, all together make it difficult for users to use.

**Describe the feature you'd like:**

refine it with byteman, which has a detailed document https://d

[2021-10-09 10:50] YangKeao commented on #2342
One more positive evidence for `bash` script is that, the intention of `Makefile` is really limited, which makes it really hard to read the embedded `if` expression.

[2021-10-10 09:43] noamzafrir opened #2367 "Creating a scheduled HTTP failure"
Hello,
I'm trying to create a scheduled HTTP failure.
When using the example from https://chaos-mesh.org/docs/simulate-http-chaos-on-kubernetes I am getting the following type of error:
**error: error validating "chaos-mesh-experiments/http_failure.yaml": error validating data: ValidationError(HTTPChaos.spec): unknown field "scheduler" in org.chaos-mesh.v1alpha1.HTTPChaos.spec; if you choose to ig

[2021-10-11 07:16] noamzafrir commented on #2367
Thank you for this response.
I tried to apply HTTP failure according to the example in the link you've provided. The example in the link is for NetworkChaos so I had to convert it to HttpChaos. This is how my YAML looks like:

![image](https://user-images.githubusercontent.com/44802697/136747959-fc72e376-c61f-4d75-b517-1f174d439026.png)

And this is the error I am getting:
**Error from server (Int

[2021-10-11 08:09] #1955 closed

[2021-10-11 08:29] noamzafrir commented on #2367
My K8S version is 1.22.2. This is the output of "kubectl version":
**Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildDate:"2021-09-15T21:38:50Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8

[2021-10-11 09:37] Muscule commented on #2359
v1.21.1

[2021-10-11 11:00] xchnshi opened #2372 "any plan on physical node test support from chaos dashboard"
## Question
Is there any plan on Dashboard to support test toward physical node? since there's already chaosd and service mode for api calling.
And if plan settled, the rbac user like k8s token to control the testing on different physical node would be great.

[2021-10-12 01:39] xchnshi commented on #2372
already find the plan on v2.1, close the issue.

[2021-10-12 01:39] #2372 closed

[2021-10-12 05:14] ashishgoyal111 commented on #2356
Thanks @cwen0! We are to see the logs now.

[2021-10-12 05:18] ashishgoyal111 commented on #2360
Thanks a lot @STRRL ! We are still in progress mode and exploring the useful metrics and don't have grafana dashboard handy as of now.
One metric that we are looking forward to get from prometheus is the latency of a chaos-mesh request that is the delay between when the request was submitted to the system and when it was processed. Could you help how can we get this for different chaos kinds like

[2021-10-12 07:05] YangKeao opened #2376 "Fail to load from archive"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

I'm testing #2243

**What did you do?**

Submit a `NetworkChaos` -> archive it -> New Experiment/Load From -> select the archive and the page got blank.

The console gives me the error: `Error: Minified Material-UI error #2; visit https://material-ui.com/production-error/?code=2 for

[2021-10-12 07:18] STRRL commented on #2360
Unfortunately, Chaos Mesh does not provide a metric that exactly tells us "how long does it take for applying a (certain)chaos on your cluster" now. 😅

But I think we could observe the unexpected issues by metrics about `workqueue`(just like your practices in this issue ) provided by controller-runtime, not only `queue_duration_seconds`, but also `work_duration_seconds`\`unfinished_work_seconds` a

[2021-10-12 09:01] Andrewmatilde opened #2381 "Add storage to chaos-mesh chaosdaemon."
## Feature Request

I am working on sync chaosd to chaos-mesh these days, and I find it is hard to add recover process to chaos in chaos-mesh which is common in chaosd. Such as recover time skew or disk attack , and even network chaos has the same problem.
I think the main difference between chaosdaemon & chaosd is the storage part.

**Describe the feature you'd like:**

So I want to add a local d

[2021-10-12 09:09] Andrewmatilde opened #2382 "Chaosdeamon api of networkchaos failed in Debian."
## Bug Report
Chaosd use chaosdeamon to implement the network attack , and meet problem in Debian because the error handling in network chaos.

**What version of Chaos Mesh are you using?**

I think this problem may happen in all version of Chaos Mesh

**Reason**
Chaosdaemon use error message ['iptables: Chain already exists.'](https://github.com/chaos-mesh/chaos-mesh/blob/master/pkg/chaosdaemon/i

[2021-10-12 09:30] FingerLeader opened #2383 "Create a program to replace stress-ng to realize mem stress"
## Feature Request

**Describe the feature you'd like:**
Because stress-ng realize memory stress by applying read and write pressure instead of occupying memory space, a program which purely occupies memory space is need to generate a memory StressChaos.

**Describe alternatives you've considered:**
Maybe it's a program that uses mmap's system call to allocate memory space.

[2021-10-13 03:50] iguoyr opened #2387 "Schedule is not working as expected with pod-kill sometimes"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**

pod will be killed at every schedule time

**What did you see instead?**

there is no pod killed after a while (maybe 1-2min)
[code]

schedule detail
[code]

chaos-controller-manager log
[code]

**Output of chaosctl**

[2021-10-13 05:57] Andrewmatilde commented on #2382
I will make a PR for it soon.

[2021-10-13 10:27] Hexilee opened #2388 "gopsutil-v2.20.5+incompatible causes bugs"
## Bug Report

Currently, the dependency of gopsutil-v2.20.5+incompatible results in the [building fails](https://github.com/kubernetes/minikube/issues/10101) on Apple M1. We can upgrade gopsutil to v3.x.x to fix this bug.

Another bug we met is the unstable create time of process. Two results of `*Process.CreateTime()` may be different by 1s error, I guess it's caused by float calculating. It cau

[2021-10-15 04:41] #2322 closed

[2021-10-15 05:40] iguoyr opened #2390 "support physical machine auth"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

https://github.com/chaos-mesh/rfcs/pull/22

chaos-mesh:
Since https://github.com/chaos-mesh/chaos-mesh/pull/2391 has label `size/XXL`, which is quite hard to review, I decide to split it into the following part.
- [x] add `genericSelector` struct https://github.com/chaos-me

[2021-10-15 07:38] STRRL commented on #2100
closed by https://github.com/chaos-mesh/chaos-mesh/pull/2292

[2021-10-15 07:40] #2100 closed

[2021-10-15 09:07] WangXiangUSTC opened #2392 "deploy chaosd automaticly when registry"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now we need to start chaosd in physical machine, and then registry in dashboard.

**Describe the feature you'd like:**

Registry in dashboard with a IP and other information, then chaos-mesh deploy chaosd in that physical machine automaticly.

**Describe alternatives you've considered:**

the security and autho

[2021-10-15 17:09] craig-seeman commented on #2383
Possible Feature Ideas - Different modes:

Instant allocation - Instantly allocate specified amount of memory
Gradual allocation - Let user specify time that the program will slowly allocate memory to help simulate a memory leak (Example, during value specified minutes, slowly grow to specified memory size|. Over 10 minutes, grow from 0kb to 2GB)

[2021-10-16 02:01] denitiu commented on #1099
Is there any work done on this direction, to have this chaos test available?

[2021-10-18 03:18] Hexilee commented on #2359
I reproduced this issue. It seems you installed newer CRDs instead of v2.0.1, could you try to uninstall chaos-mesh(`kubectl delete ns chaos-testing`) and [reinstall](https://chaos-mesh.org/docs/production-installation-using-helm/) it?

[2021-10-18 03:29] it2911 opened #2393 "Show more status of Chaos Mesh component status Information on Dashboard page"
## Feature Request

**Is your feature request related to a problem? Please describe:**
The chaos mesh running status is unknow.

**Describe the feature you'd like:**
When chaosmesh-deamonset and chaosd run the node on Target Cluster.
The chaosmesh-deamonset and chaosd should be report the component and node status to controller.
And those information should be showed on the dashboard to let the us

[2021-10-18 10:39] noamzafrir commented on #2367
To add more info, this is the logs that are generated in the Chaos Mesh controller when I try to apply the non-scheduled HTTP chaos:
**2021-10-18T10:33:50.320Z	DEBUG	controller-runtime.webhook.webhooks	received request	{"webhook": "/mutate-chaos-mesh-org-v1alpha1-httpchaos", "UID": "80f0283b-e581-4d86-9cc5-ed4b28b3a621", "kind": "chaos-mesh.org/v1alpha1, Kind=HTTPChaos", "resource": {"group":"chao

[2021-10-18 14:28] pdmelon opened #2395 "After pausing a chaosExpricement,edit yaml file .not work"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

2.0.2

**What did you do?**

![image](https://user-images.githubusercontent.com/7107426/137750887-3126e260-be74-4779-a98c-16a8ce98c81a.png)

**What did you expect to see?**

**What did you see instead?**

**Output of chaosctl**

[2021-10-19 02:34] #2376 closed

[2021-10-19 04:04] Hexilee commented on #2367
Hi, for the non-scheduled HTTP chaos, could you try to create it in another name? It seems there is already a HTTP chaos named `test-http-chaos`, which cannot be updated.

For the scheduled HTTP chaos, could you describe the `podhttpchaos` that have the same name with your target pods?

[2021-10-19 09:42] Hexilee commented on #2359
Yes, could you please delete CRDs and try again?

[2021-10-19 10:00] TangliziGit opened #2397 "Add monitoring metrics about Chaos Mesh"
## Feature Request

**Is your feature request related to a problem? Please describe:**

More metrics are needed for improving the observability of chaos-controller-manager, chaos-daemon, and chaos-dashboard. Now, we already have several metrics in chaos-controller-manager and chaos-daemon, but it's not enough.

**Describe the feature you'd like:**

There is an RFC describing the feature in detail:

[2021-10-19 10:40] adengdai opened #2398 "Helm install chaos-mesh failed"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

**Output of chaosctl**

[2021-10-19 10:41] #2398 closed, assigned to nobody

[2021-10-19 10:41] adengdai opened #2399 "d"
## Bug Report

**What version of Kubernetes are you using?**
ds

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

**Output of chaosctl**

[2021-10-19 10:41] #2399 closed, assigned to nobody

[2021-10-19 10:44] adengdai opened #2400 "Helm install chaos-mesh failed"
## Bug Report

**What version of Kubernetes are you using?**
I used minikube to create the Kubernetes, the version is 1.22.2

**What version of Chaos Mesh are you using?**
When I trying to run the command "helm install chaos-mesh chaos-mesh/chaos-mesh -n=chaos-testing", it shown me this error: Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: [unable to recogniz

[2021-10-19 15:10] ytfrank opened #2401 "TimeChaos does not work for java process"
## Bug Report

**What version of Kubernetes are you using?**
1.19.3,  the os of the node is CentOS Linux release 7.9.2009 (Core).

**What version of Chaos Mesh are you using?**
2.0.3

**What did you do?**
try testing TimeChaos for our java(tomcat) process in the pod, but it seems not work.

$ cat time-shift-test2.yaml
apiVersion: chaos-mesh.org/v1alpha1
kind: TimeChaos
metadata:
  name: time-shift

[2021-10-20 06:20] Andrewmatilde commented on #2401
I think `JVMChaos` may be an alternative in this situation.

[2021-10-20 08:26] zhqqqy opened #2403 "add resubmit function in workflows"
## Feature Request

**Is your feature request related to a problem? Please describe:**

- When I create a workflow, I found only one of Archives function in the workflow of chaos-dashboard. If I want to run again just workflow, i have to create a new workflow , so let me experience is not very greate, because I just want to re-execute the already existing workflow.
- I can't observed the error log

[2021-10-20 08:49] ytfrank commented on #2401
Now we need time skew in all of the pods in the same namespace, so TimeChaos works for java may be proper.
Meanwhile, JVMChaos with byteman will be very useful for us too. Looking forward to it!

[2021-10-20 09:50] Muscule commented on #2359
I uninstalled chaos-mesh, deleted all CRDs, installed v2.0.3 and got the same error.

[2021-10-20 13:15] Hexilee commented on #2359
Could you please describe the ValidatingWebhookConfiguration by `kubectl describe ValidatingWebhookConfiguration chaos-mesh-validation`?

[2021-10-21 07:22] YangKeao commented on #2387
While investigating this problem, I got some wired log:

[code]

The two iteration of `records-controller` gets different records. The only possible reason is that the records are modified inside the "retry".

[2021-10-21 08:10] STRRL opened #2407 "Workflow Task still be success with a failed workload Pod"
## Bug Report

**What version of Kubernetes are you using?**
*

**What version of Chaos Mesh are you using?**
All 2.x versions should be affected.

**What did you do?**

Create a workflow that contains a task with a not-existed image.

**What did you expect to see?**
WorkflowNode should be failed because the pod not execute.

**What did you see instead?**
WorkflowNode turns to succeed.

**Output o

[2021-10-21 12:51] noamzafrir commented on #2367
Hi @Hexilee,

As for the non-scheduled HTTP chaos, it is possible that you are right. I tried applying it again today and it worked. Since it has been a few days since I last tried to apply it, and since I reset my environment a few times since then, it is possible that a few days ago I already had an HTTTP chaos test with the same name.
To avoid this problem I will make sure I delete the HTTP cha

[2021-10-22 13:14] gmiam opened #2409 "DNSChaos experiment don't work as intended when multiple chaos-dns-server pods are available"
## Bug Report

**What version of Kubernetes are you using?**
kubernetes v1.21

**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"v2.0.0", GitCommit:"8055e259680adbedd728ca121b33ce2f94f72aac", BuildDate:"2021-07-23T07:27:10Z", GoVersion:"go1.15.11", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
A bit of context:
We generate an outage o

[2021-10-25 17:05] craig-seeman opened #2412 "Validating Webhook Name Inconsistencies"
## Feature Request

**Is your feature request related to a problem? Please describe:**
Problem : The webhook `validate-auth` is too generic in naming and does not match that of the other hooks in the project. Example: `chaos-mesh-mutation`.

**Describe the feature you'd like:**
Refactor codebase / helm charts to reflect consistency in naming around the `validate-auth` webhook name. Should probably

[2021-10-26 04:18] chamilzr opened #2413 "NetworkChaos unable to flush ip sets for pod"
## Bug Report

**What version of Kubernetes are you using?**
v1.14.1

**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"master-g72d2bc17febc7f", GitCommit:"72d2bc17febc7f2a4a10c97417f11c5eb1d86a13", BuildDate:"2021-09-27T04:43:36Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
kubectl  apply -f network-delay.yam

[2021-10-26 06:15] STRRL opened #2416 "unstable intergration test for workflow"
## Bug Report

**What did you do?**

Run GitHub Action Integration Test for each PR.

**What did you expect to see?**
All test cases could be passed stable.

**What did you see instead?**
Some time-related assertions are not stable.

**Output of chaosctl**

[2021-10-26 08:50] mayocream opened #2418 "Swagger API Semantic error"
## Bug Report

**What version of Kubernetes are you using?**

none

**What version of Chaos Mesh are you using?**

latest

**What did you do?**

Swagger API

**What did you expect to see?**
Swagger API correct

**What did you see instead?**
Swagger API wrong

**Output of chaosctl**

...

![image](https://user-images.githubusercontent.com/35420264/138843883-78d00a6a-ee24-485e-aff4-2373fef746d3.png)

[2021-10-26 08:50] fewdan opened #2419 "makefile: error when creating a new CRD"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.10-dispatcher", GitCommit:"f5757a1dee5a89cc5e29cd7159076648bf21a02b", GitTreeState:"clean", BuildDate:"2020-02-06T03:31:35Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"darwin/amd64"}

**What version of Chaos Mesh are you using?**
latest

**What did you do?**
c

[2021-10-27 01:20] Ai-yoo opened #2420 "chaos-controller-manager containter failed to activate！"
chaos-controller-manager pod is CrashLoopBackOff！use decribe pod get ”Back-off restarting failed container“，use logs -f pod get this information：

2021/10/27 01:06:51 [Fx] fx.Invoke(github.com/chaos-mesh/chaos-mesh/pkg/workflow/controllers.BootstrapWorkflowControllers()) called from:
github.com/chaos-mesh/chaos-mesh/controllers.init
	/mnt/controllers/fx.go:67
runtime.doInit
	/usr/local/go/src/runt

[2021-10-27 06:51] STRRL opened #2421 "support kubernetes v1.22 with Chaos Mesh v2.0.x"
## Feature Request

We have upgraded the version of kubernetes libraries for the latest model definition of webhook registration and admission. And the updates is hard for cherry-picking on branch release-2.0.

I think maybe only updating the webhook registration's apiversion to v1 and still using v1alpha1's admission model could work with release-2.0.

[2021-10-27 07:49] ashishgoyal111 opened #2422 "Usage of different certificates"
## Question

Could you please help me understand the usage of different secrets/certificates being used in chaos-mesh resources. I can see the following resources being created for chaos-mesh deployment on cluster-

1. Secret named **chaos-mesh-webhook-certs**
2. Secret named **chaos-mesh-daemon-certs**
3. Secret named **chaos-mesh-daemon-client-certs**

Please help me understand or refer me to a

[2021-10-27 17:45] craig-seeman opened #2423 "Implement killswitch for currently running and preventing future experiments"
## Feature Request

**Is your feature request related to a problem? Please describe:**
N/A

**Describe the feature you'd like:**
It would be nice to have a way to stop and prevent any/all experiments from being ran. During times of *REAL* outages occurring, it would be useful to have an automated way to stop any currently running and prevent new experiments from being launched.

**Describe alterna

[2021-10-28 04:33] lulululululu55555 opened #2424 "pod controller-manager and dashboard are CrashLoopBackOff!"
## What version of Kubernetes are you using?
    v1.16.0
## what did I do?
install chaos-mesh v1.1.0
install offline as the documentation v1.2.3
## what happened?
chaos-controller-manager and chaos-dashboard are crashLoopBackOff

    [root@node153 chaos-mesh-1.1.0]# kubectl get po -n chaos-testing
    NAME                                        READY   STATUS             RESTARTS   AGE
    chaos-c

[2021-10-28 08:11] #2424 closed, assigned to nobody

[2021-10-28 10:22] YangKeao opened #2425 "Simpler way to deploy chaos mesh outside the kubernetes"
The Chaos Mesh is able to manage `PhysicalMachineChaos`, which means the users may want to manager the `chaosd` servers through Chaos Mesh, but don't have a kubernetes cluster. The simplest way to migrate chaos mesh from kubernetes cluster to a bare metal world is to pack them together. A simplest chaos mesh controller needs these things to work:

1. Kubernetes api server.
2. Kubernetes controller

[2021-10-28 10:32] YangKeao opened #2426 "Publish image in pull request"
Should we add a github action to build and upload image for a pull request?

Then the github action builds the image and upload to `ghcr.io/chaos-mesh/chaos-mesh/chaos-daemon:pr-xxxx`? It sounds really cool!

The problem is that the workflow reuse mechanism of github is not good. It has to specify a yaml file in a git ref (like a branch name). Tonight I have tried to setup such a github action, bu

[2021-10-28 11:30] YangKeao opened #2427 "Random selection for physicalmachine selector"
The `physicalmachinechaos` cannot select a random target like other chaoses. (BTW, it seems that the `GCPChaos`, `AWSChaos`... have the same issue)

[2021-10-29 09:14] Andrewmatilde opened #2433 "Error response from daemon: client version 1.41 is too new. Maximum supported API version is 1.40"
## Bug Report

**What version of Kubernetes are you using?**
v1.20.4
**What version of docker are you using?**
[code]

**What version of Chaos Mesh are you using?**
master

**What did you do?**
Apply io chaos on tikv.

**What did you expect to see?**
No error.
**What did you see instead?**
On chaos-daemon.
[code]

[2021-10-29 09:21] WangXiangUSTC opened #2434 "PhysicalMachineChaos support multipe records"
## Bug Report

**What version of Chaos Mesh are you using?**
a5589134dd2a9735cecd627d34c55582f3dc6aee

**What did you do?**

Create a PhysicalMachineChaos with more than one chaosd, and one chaosd run chaos failed, and then recover this experiment.

**What did you expect to see?**

Can recover success

**What did you see instead?**

Recover success, but fault in some chaosd is not recovered. Physi

[2021-11-01 00:11] #2048 closed

[2021-11-01 03:08] WangXiangUSTC opened #2436 "ClusterRule was created even after setting `clusterScoped=false`"
## Bug Report

**What version of Chaos Mesh are you using?**
master branch, commit a558913

**What did you do?**

install Chaos Mesh with `clusterScoped=false`

**What did you expect to see?**
No ClusterRule was created.

**What did you see instead?**

can see a ClusterRule `chaos-mesh-chaos-controller-manager-cluster-level` created

[2021-11-01 03:30] WangXiangUSTC opened #2437 "leaderelection: error initially creating leader election record"
## Bug Report

**What version of Chaos Mesh are you using?**
master branch, commit https://github.com/chaos-mesh/chaos-mesh/commit/a5589134dd2a9735cecd627d34c55582f3dc6aee
**What did you do?**

install Chaos Mesh with `clusterScoped=false controllerManager.targetNamespace=busybox `

**What did you expect to see?**

Chaos Mesh run success.

**What did you see instead?**

see some error in controlle

[2021-11-01 04:41] #2433 closed

[2021-11-01 04:44] Andrewmatilde opened #2438 "Iochaos work failed!"
## Bug Report

**What version of Kubernetes are you using?**
v1.20.4
**What version of docker are you using?**
[code]

**What version of Chaos Mesh are you using?**
master

**What did you do?**
Apply io chaos on tikv.

**What did you expect to see?**
No error.
**What did you see instead?**
On chaos-daemon.
[code]

[2021-11-01 07:45] STRRL opened #2440 "providing additional printer columns for each chaos"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

providing additional printer columns for each type of Chaos.

When I execute `kubectl get podchaos` it will only give me names, I think we could give more useful information with `kubectl get`

**Describe alternatives you've considered:**

No alternatives yet.

**Teach

[2021-11-01 08:04] STRRL commented on #2084
hi @fewdan, how's going on? :D

[2021-11-02 01:20] eLife-long opened #2443 "yaml update fail"
## Bug Report

**What version of Kubernetes are you using?**
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-13T11:23:11Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.13", GitCommit:"39a145c

[2021-11-02 02:05] WangXiangUSTC commented on #2443
Which field did you update?

[2021-11-02 02:17] eLife-long commented on #2443
duration，
for example，change 30s to 31s and click the update button
F5 refresh，auto restore to 30s

Google Chrome，version:95.0.4638.54       64bit

[2021-11-02 02:20] WangXiangUSTC commented on #2443
OK, I will try it

[2021-11-02 02:31] eLife-long commented on #2443
OK

[2021-11-02 02:41] WangXiangUSTC commented on #2443
I confirm that we do not support modifying the configuration under spec at present. We will delete the `update` button and add it after modifying the experimental configuration is supported

[2021-11-02 02:46] eLife-long commented on #2443
OK!
Hope to support as soon as possible, which will provide convenience for us

[2021-11-02 03:05] WangXiangUSTC commented on #2443
https://github.com/chaos-mesh/chaos-mesh/issues/2227
We have an issue to discuss this feature

[2021-11-02 06:45] Mountaincnc opened #2445 "IOChaos unavailable toda startup takes too long or an error occurs source: xxxx target: __chaosfs__xxxx__"
## chaos-mesh version
[code]

## k8s version
[code]

## question
[code]

## iochaos yaml
[code]

## deployment yaml
[code]

## logs
### chaos-controller-manager
[code]

### chaos-daemon
[code]

[2021-11-02 07:41] YangKeao commented on #2445
Could you provide more logs for `chaos-daemon` (before the `{"jsonrpc":"2.0","result":"source: /tmp, target: /__chaosfs__tmp__","id":1}`?)

[2021-11-02 08:00] eLife-long commented on #2443
OK

[2021-11-02 09:46] Mountaincnc commented on #2445
[code]

[2021-11-02 10:25] Hexilee opened #2448 "support HTTPChaos experiment type in dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-11-02 10:29] Hexilee opened #2449 "applied chaos cannot be recovered if the CR is deleted before adding finalizers"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

1.2.x and 2.0.x

**What did you do?**

Delete an XXXChaos instance.

**What did you expect to see?**

All injected faults are recovered.

**What did you see instead?**

CR is deleted, by faults are still injected.

**Possible Reasons**

In the 1.2.x case, if the chaos is being reconciled an

[2021-11-02 10:43] YangKeao opened #2450 "nightly build failed"
As the build server from PingCAP doesn't start docker daemon with experiment feature, it cannot build chaos-mesh with `--platform`. The nightly build has failed for a month.

[2021-11-02 10:57] g1eny0ung opened #2451 "Dashboard assets are not packaged correctly"
~~Some path updates may be missing in #2274.~~

[2021-11-02 11:08] cwen0 opened #2452 "failed to parse empty duration when creating a single experiment"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

latest
[code]

**What did you do?**

Create a Networchaos experiment without duration on Chaos Dashboard

![image](https://user-images.githubusercontent.com/22956341/139835440-a4020f62-fae4-4895-93be-0e48d7f99dfb.png)

[code]

**What did you expect to see?**

All is OK!

**What did

[2021-11-02 11:22] cwen0 opened #2453 "parse correlation field error:`strconv.ParseFloat: parsing "": invalid syntax` when creating workflow"
## Bug Report

**What version of Kubernetes are you using?**

[code]

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Create a workflow on Dashboard, but no workflow can't be found when this workflow was submitted.

**What did you expect to see?**

All is OK!

**What did you see instead?**

No workflow can't be found when this workflow was submitted and chaos-dashboard

[2021-11-02 11:56] YangKeao commented on #2445
Wow! I noticed the problem is that the `volumePath: /tmp` is not set to a volume, but it needs to be a volume mountpoint.

The easiest way to solve the problem is to mount an `emptyDir` volume in your deployment. [Here](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir) is an example.

[2021-11-02 11:57] YangKeao commented on #2445
The `source: /tmp, target: /__chaosfs__tmp__` is an error message :cry:. Really hard to find :smile: . It means that the daemon is trying to `mount --move /tmp /__chaosfs__tmp__`, but it failed. In this case, if the `/tmp` is not a mount point (volume), it will fail.

[2021-11-02 14:58] STRRL commented on #2453
I use `git bisect` and find that this issue might be caused by https://github.com/chaos-mesh/chaos-mesh/pull/2371 .

It does not relate to https://github.com/chaos-mesh/chaos-mesh/issues/2309;

[2021-11-03 02:31] Mountaincnc commented on #2445
Thank you！It started running

[2021-11-03 02:31] #2445 closed

[2021-11-03 06:24] g1eny0ung commented on #2451
After investigation, this is related to CI.

[2021-11-03 07:49] #2451 closed

[2021-11-03 08:19] #2453 closed

[2021-11-03 11:43] Hexilee opened #2461 "dashboard/experiments: support multi-map generating in the label fields"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now the label fields of the experiments do not support generating multi-value maps.

**Describe the feature you'd like:**

Support multi-map generating in the label fields.

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-11-03 12:49] STRRL commented on #2452
I can not reproduce it from neither `d0739a11c8e184` nor current master `10addb4e3bd7`, with neither `kubectl -f <chaos>.yaml` and using chaos dashboard. 🥲🥲🥲

More information is required.

[2021-11-03 15:38] craig-seeman opened #2463 "Database Password Logged on Error When Using DSN"
## Bug Report

**What version of Kubernetes are you using?**
1.19

**What version of Chaos Mesh are you using?**
2.0.2

**What did you do?**
Setup DSN with password and connected to a mysql server that didn't have correct setup, resulting in error connecting.

**What did you expect to see?**
A normal error message about not being able to connect.

[code]
**What did you see instead?**
Error message

[2021-11-03 17:18] craig-seeman opened #2464 "Dashboard MySQL 8 Bootstrapping Issue In Workflows"
## Bug Report

**What version of Kubernetes are you using?**
1.19

**What version of Chaos Mesh are you using?**
2.0.2

**What did you do?**
Tried using mysql 8.0 version for backend database

**What did you expect to see?**
Successful database bootstrapping

**What did you see instead?**
[code]

[2021-11-03 17:53] craig-seeman commented on #2464
Issue possibly exists:

`vendor/chaos-mesh/pkg/core/workflow.go`

Possible fix by adding `type:blob` to the gorm definition:

[code]

[2021-11-04 03:16] WangXiangUSTC commented on #2463
Yeah，the account and password is sensitive information, we should not show them in the log, I will modify it.

[2021-11-04 03:16] g1eny0ung commented on #2420
Please use `ghcr.io` images currently like `ghcr.io/chaos-mesh/chaos-mesh/chaos-mesh`. We will be syncing the latest images to Docker Hub shortly.

[2021-11-04 03:19] WangXiangUSTC commented on #2464
Do you willing to fix this issue? I see you have already provided the solution.

[2021-11-04 09:21] Ai-yoo commented on #2420
Ok，Thanks！Wait a moment for me to try, the scene at that time is gone

[2021-11-04 14:46] nlamirault commented on #1955
@YangKeao Do you know when new Docker images will be available ? on next release ?

[2021-11-04 14:51] YangKeao commented on #1955
For release version,  yes, the next release (in one or two weeks, I think) will include an arm image.

Meanwhile, the (nightly built) arm docker image has already been available on `ghcr.io/chaos-mesh/chaos-mesh`, like `ghcr.io/chaos-mesh/chaos-mesh/chaos-mesh:latest` and `ghcr.io/chaos-mesh/chaos-mesh/chaos-daemon:latest`...

#2462 is to make them the default image of our helm chart.

[2021-11-04 20:03] craig-seeman commented on #2464
Absolutely! Please feel free to assign this to me @WangXiangUSTC :) I will run through the testing workflows - I only tested to see if it fixed the error happening.

Sadly, though, it seems the version of mysql this affects has issues later on with the time 00-00-0000 bug #1659 But this will get the project closer to running under mysql 8.0

[2021-11-05 03:08] cwen0 commented on #2452
@STRRL Thanks for your reply! I found this issue has been fixed in the latest version. Just a suggestion, If we don't set `duration`, we can delete this field on the YAML file directly instead of setting it empty.
![image](https://user-images.githubusercontent.com/22956341/140451781-5dfb22c1-4122-4729-9530-1c4a8839b1bb.png)

@g1eny0ung PTAL

[2021-11-05 03:42] WangXiangUSTC commented on #2464
Thanks, already assigned it to you.

[2021-11-05 08:30] zhufanqin opened #2473 "A suggestion for chaosd host failure"
## It is expected that the host failure of Chaosd can be fully automated. For example, it can automatically start up after shutdown at a specified time

[2021-11-05 10:16] STRRL opened #2475 "images: short the image name"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Currently, we publish our docker images like:
- `ghcr.io/chaos-mesh/chaos-mesh/chaos-mesh:latest`
- `ghcr.io/chaos-mesh/chaos-mesh/chaos-dashboard:latest`
- etc.

The disadvantages are:
- the name pattern is not the familiar `<container-registry>/<owner>/<project>:<tag>` style
- might have compatibility issues

[2021-11-05 10:22] STRRL opened #2476 "bad images left in install.sh"
## Question

Although there is a pr for migrating from dockerhub to ghcr.io in helm charts, there are still some old images left in instasll.sh.

https://github.com/chaos-mesh/chaos-mesh/blob/0d683c66c83874ff2e05f57b66cb30de3470c6fb/install.sh#L632-L634

These images are used to load images into the local kind cluster.

I am not sure it still makes sense but the appearance of the old `pingcap/chao

[2021-11-05 10:47] STRRL opened #2477 "helm charts: unexpected image name splicing"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes.

`make install` could not works well on the current master (bfee6297966fb7c38aa28e38db97f3670ea46135), after #2462 merged.

After we migrated the docker images from dockerhub to `ghcr.io`,  the way to render the image name is not suitable anymore, because the `ghcr.io` repository domain has been brought by

[2021-11-05 11:34] STRRL commented on #2477
## Pattern A:
Remove `registry` directly, only use `image`.

If user use
[code]
before, he should use
[code]
after the updates.

Many flags need to be set, but if the user using a `values.yaml` to setup the helm installation, the operation is not so different.

Well-known projects use this pattern:
- most of bitnami images: https://github.com/bitnami/charts
  - bitnami/nginx https://artifacthub.io

[2021-11-05 11:52] cwen0 commented on #2477
I prefer pattern A.  This pattern is more simple.

[2021-11-05 12:15] ChanKunggc opened #2478 "podnetworkchaos fail to update {"error": "the server could not find the requested resource (put podnetworkchaos.chaos-mesh.org xxx)"}"
## Bug Report

**What version of Kubernetes are you using?**

v1.14.3
**What version of Chaos Mesh are you using?**

v2.0.3
**What did you do?**

just make network loss experiment
![image](https://user-images.githubusercontent.com/56463479/140507723-3be46876-c8bd-4ff5-b8bd-9ce764910f63.png)
print this error both of experiment start and  archive action。
![image](https://user-images.githubuserconten

[2021-11-05 12:23] STRRL opened #2479 "get hanging when build chaos-kernel image"
## Bug Report

The GitHub Action for building images failed because of timeout(I guess): https://github.com/STRRL/chaos-mesh/runs/4115356955?check_suite_focus=true

![image](https://user-images.githubusercontent.com/20221408/140509377-676cb46d-25a2-4151-93d2-6b9f83d0d299.png)

I am trying to build the `chaos-kernel` image with `make clean image-chaos-kernel`, it also get stucked with `apt install`

[2021-11-05 13:50] STRRL opened #2483 "build chaos-kernel images for latest and release"
## Question

we forget that building `chaos-kernel` images on release, and there are several issues when building on GitHub Action.

Here is a track issue:

- related issues: https://github.com/chaos-mesh/chaos-mesh/issues/2479, pr: https://github.com/chaos-mesh/chaos-mesh/pull/2480
- build chaos-kernel on release-2.0: https://github.com/chaos-mesh/chaos-mesh/pull/2481
- build chaos-kernel on mast

[2021-11-05 15:18] ReigenDing commented on #2440
/assign

[2021-11-07 02:48] ReigenDing commented on #2440
Hi, this issue is not clear, right? I have tried this display column.
[code]
Actually, I do not know what is desired to display.

[2021-11-07 12:55] STRRL commented on #2440
Yes, the "desired fields to display" is not determined now. But I think there are some common meaningful fields, like `action` and `duration`.

I think we could add these columns at first. Then let us discuss the customized display for each type of chaos. :D

[2021-11-08 03:10] iguoyr commented on #2477
cilium https://artifacthub.io/packages/helm/cilium/cilium?modal=template&template=cilium-nodeinit/daemonset.yaml

@STRRL Hi, it has some errors here, *traefik* is belong to patternB, and *cilium* is belong to patternC. BTW, reading the `value.yaml` and `xxx.tpl` is the best way to figure it out :)

And about patternA, it's applicable to charts with single service component, while patternB is more

[2021-11-08 05:06] Andrewmatilde commented on #2478
Hi @ChanKunggc , could you give some info about the work status or error log of chaos-daemon ?

[2021-11-08 05:51] STRRL commented on #2475
I move this issue to milestone 2.2, because it miss the release train for 2.1

[2021-11-08 06:29] Hexilee commented on #2477
I prefer pattern B as `registry` is an appropriate abstraction. Pattern A or pattern C is more appropriate only when we plan to publish images to different registries.

[2021-11-08 06:57] ReigenDing commented on #2440
Ok， I will add `action` and `duration` first.

[2021-11-08 07:32] ashishgoyal111 commented on #2422
Thanks for clarifying.

[2021-11-08 07:32] #2422 closed

[2021-11-08 08:05] cwen0 commented on #2475
@STRRL I found this feature has been merged in master.  v2.1 branch will be checkout from the master branch, and this feature also will be included in v2.1 branch.

[2021-11-08 08:09] #2407 closed

[2021-11-08 08:11] STRRL commented on #2475
oops! I comment and operate with the wrong issue. 😂   I want to move https://github.com/chaos-mesh/chaos-mesh/issues/2314 into release 2.2

[2021-11-08 09:51] ashishgoyal111 opened #2490 "Impact of SecurityMode flag"
## Question

Can you please me understand the importance of **SecurityMode** flag. Also, what will be the security impacts if we set this flag to **False** in our chaos-mesh 2.0 installation.
Please refer me the document related to this if this is already addressed.

**Output of chaosctl**
NA

[2021-11-08 11:22] chirangaalwis commented on #2400
@YangKeao when will this be released?

[2021-11-08 13:46] cwen0 opened #2491 "Github Action: fail to build image"
https://github.com/chaos-mesh/chaos-mesh/runs/4134396825?check_suite_focus=true

![image](https://user-images.githubusercontent.com/22956341/140752901-8ad232f4-340e-4b5a-80cb-204e04ae11c5.png)

[2021-11-09 00:10] #2038 closed

[2021-11-09 01:37] kz2318nkd opened #2492 "unable to create a new plan"
## Bug Report

**What version of Kubernetes are you using?**
1.13.3

**What version of Chaos Mesh are you using?**
2.0.3

**What did you do?**
create a scheduler task
![image](https://user-images.githubusercontent.com/56473340/140845751-35f7888e-4bef-42a5-87e5-9380628f8901.png)

**What did you expect to see?**
created successfully

**What did you see instead?**
can't save it successfully

**Output

[2021-11-09 04:02] cwen0 commented on #2490
@ashishgoyal111 This `SecurityMode` flag is used to control permission authentication. If you set it to `False`, you can use chaos dashboard without any limit. More info refers to https://chaos-mesh.org/docs/manage-user-permissions/#enable-or-disable-permission-authentication

[2021-11-09 04:50] STRRL commented on #2477
I would work on pattern B from the above comments. :D

[2021-11-09 05:15] #2491 closed

[2021-11-09 07:57] Andrewmatilde commented on #2492
Hi @kz2318nkd , could you give more information about the network delay part? It seems I couldn't recurrent the problem.

[2021-11-09 09:03] kz2318nkd commented on #2492
![image](https://user-images.githubusercontent.com/56473340/140893381-19ce5897-a5f6-4d39-9222-038208a62ebb.png)
I copied the sample code in this page:"https://chaos-mesh.org/zh/docs/define-scheduling-rules/" and use the 'BY YAML' function and save it,But still the same error is reported. It seems that this plan function cannot be used?

[2021-11-09 10:49] cwen0 opened #2498 "Dashboard: show chaos mesh icon in the browser tab"
![image](https://user-images.githubusercontent.com/22956341/140910180-24f26c18-cce4-4717-a0d2-6567c99fe672.png)

[2021-11-09 11:56] STRRL commented on #2479
closed by #2488 and #2481

[2021-11-09 11:56] #2479 closed

[2021-11-09 12:13] STRRL commented on #2483
closed by #2481 and #2488

[2021-11-09 12:13] #2483 closed

[2021-11-09 12:19] #2365 closed

[2021-11-09 13:47] #2450 closed

[2021-11-10 03:51] iguoyr opened #2503 "ui: duplicate names detected"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

this issue is related to https://github.com/chaos-mesh/chaos-mesh/pull/2308

**What did you do?**

1. create a new workflow
2. create a `httprequest` task, submit it
3. back to edit this `httprequest` task, submit it again, and dashboard will show this error message

**What did you expect t

[2021-11-10 06:54] iguoyr opened #2504 "workflow ui: unwanted content is auto-filled in task node"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

this issue is related to https://github.com/chaos-mesh/chaos-mesh/pull/2308

**What did you do?**

1. create a new workflow
2. create a httprequest task, submit it
3. dashboard will show the next task node which is auto-filled with `httprequest` type and the same content as the previous nod

[2021-11-10 06:56] STRRL commented on #2202
I am going to close this issue because of the solved question.

Feel free to reopen it. 😄

[2021-11-10 06:56] #2202 closed

[2021-11-10 07:48] iguoyr opened #2505 "workflow ui: http request task does not need task number input-box"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

this issue is related to https://github.com/chaos-mesh/chaos-mesh/pull/2308

**What did you do?**

1. create a new workflow
2. create a 'task' type task node
3. change the task type to 'httprequest', then the task number input-box is still on the page

**What did you expect to see?**
the ta

[2021-11-10 07:56] iguoyr opened #2506 "workflow: config the value of curl image"
## Feature Request

**Is your feature request related to a problem? Please describe:**

This issue is related to https://github.com/chaos-mesh/chaos-mesh/pull/2308. In this pull request, the value of curl image is always `curlimages/curl:7.78.0`, which is not convenient for users in offline environment.
https://github.com/chaos-mesh/chaos-mesh/blob/1e982bdd1c87d521063512c8e05c28ccb788e3ce/pkg/curl

[2021-11-10 10:01] chirangaalwis commented on #2084
Hi folks, any update on this?

[2021-11-10 12:39] cwen0 opened #2507 "Dashboard: format YAML file"
## Feature Request

**Is your feature request related to a problem? Please describe:**

latest, v2.0.x

**Describe the feature you'd like:**

As usual, we use the following format to define chaos object:
[code]

Define `apiVersion` and then `kind`, but the YAML file download from Chaos Dashboard got the wrong order:

![image](https://user-images.githubusercontent.com/22956341/141114573-e21127e1-fb

[2021-11-10 13:06] cwen0 opened #2508 "Dashboard: load schedule experiment object from archives"
## Feature Request

**Is your feature request related to a problem? Please describe:**

latest, v2.0.x

**Describe the feature you'd like:**

I can find `schedules` object on the archives page, but I can't load it when creating a new one.

![image](https://user-images.githubusercontent.com/22956341/141118233-6dc5ddd6-6b33-4fa8-94d6-5392f4898bc3.png)

![image](https://user-images.githubusercontent.

[2021-11-10 13:16] cwen0 commented on #2508
@g1eny0ung I think `LOAD FROM` feature is imperfect yet. We have some TODOs.
1. support loading the whole workflow.
2. only show the `schedules` when loading `schedules`.

[2021-11-10 13:22] g1eny0ung commented on #2508
Yep, the first function is needed when you want to reuse a big workflow sometimes. I will support it ASAP.

And the second is easier to fix, I will do this first.

[2021-11-11 04:47] YangKeao opened #2513 "generate api reference document from code and comments"
Chaos Mesh needs something similar with https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/

[2021-11-11 07:49] #2437 closed

[2021-11-11 08:17] STRRL opened #2516 "uesless "rollme" for chaos-dashboard"
We set up `rollme` in the annotations of deployment `chaos-dashboard`. But it looks useless, because `chaos-dashboard` does not need to load any secret or configmap that might be changed after `helm upgrade` so we do not need to set up roll deployments for it.

[2021-11-11 10:07] zhoufeitest opened #2520 "attrOverride can't delete"
<img width="784" alt="图片" src="https://user-images.githubusercontent.com/94110498/141279306-61c460fc-b6e6-493d-9bf9-1a7bb7d5f792.png">

[2021-11-11 12:39] uglthinx commented on #2285
How do I execute a shell command in a pod in release2.0.3?

[2021-11-11 15:44] Andrewmatilde commented on #2520
Hi @zhoufeitest , could you give more info about the experiment , such as the yaml or message on dashboard?

[2021-11-11 15:48] Andrewmatilde commented on #2520
I think the problem may related to #2449 .

[2021-11-12 00:10] #2134 closed

[2021-11-12 02:33] zhoufeitest commented on #2520
@Andrewmatilde
apiVersion: chaos-mesh.org/v1alpha1
kind: IoChaos
metadata:
  name: io-attr-dataset
  namespace: default
spec:
  action: attrOverride
  mode: all
  selector:
    labelSelectors:
      app: bml-dataset
  volumePath: /home/bml/storage/mnt
  path: /home/bml/storage/mnt/**/*
  attr:
    perm: 72
  percent: 10
  duration: "60s"
  scheduler:
    cron: "@every 2m"

[2021-11-12 02:37] zhoufeitest commented on #2520
@Andrewmatilde use iochaos all case can't delete
now i must delete the pod which iochaos apply , then the iochaos can delete ok

[2021-11-12 03:26] STRRL opened #2521 "Can not delete IOChaos with bad volumePath"
## Bug Report

**What version of Kubernetes are you using?**

kubernetes v1.22.3

**What version of Chaos Mesh are you using?**

Chaos Mesh v2.0.3

**What did you do?**

create these items:

[code]

[code]

Then try to delete the IOChaos.

**What did you expect to see?**

The incorrected IOChaos could be deleted.

**What did you see instead?**

I can not delete the IOChaos, stuck with `kubectl del

[2021-11-12 03:28] STRRL commented on #2521
I think after the user creates an incorrect IOChaos, and the user could not delete it, which is unreasonable

[2021-11-12 03:48] Andrewmatilde commented on #2520
@zhoufeitest Thanks for your reply, could you give more info such as logs in chaos-daemon and volumpath of pod.
Get chaos-daemon logs example:
[code]
Get pod volumpath example:
[code]

[2021-11-12 03:53] Andrewmatilde commented on #2521
Related issue #2520 .

[2021-11-12 05:25] STRRL commented on #2492
Hi @kz2318nkd, Chaos Mesh 2.0 is NOT supported on Kubernetes v1.13. (I think it relates to the migration from OpenAPI v2 to v3.) And Kubernetes 1.15 is the minimum supported version. Please consider upgrading the Kubernetes cluster.

A kindly suggestion, please upgrade the Kubernetes, and 1.13 has been NOT maintained almost 2 years ago, there are so many enhancements and security patches missed. :

[2021-11-12 05:28] STRRL commented on #2084
This feature is not going to be introduced with release v2.1 recently. I think we could finish that in the next ongoing release, v2.2.
I am sorry for that message.

[2021-11-12 05:53] zhoufeitest commented on #2520
@Andrewmatilde @YangKeao
<img width="1191" alt="图片" src="https://user-images.githubusercontent.com/94110498/141416976-1288e9a9-7c42-4591-be55-fba607483254.png">
 kubectl get pod dataset-567d694769-vkq4d -o yaml | grep -A 10 volumeMounts
    volumeMounts:
    - mountPath: /home/abc/storage/mnt
      mountPropagation: HostToContainer
      name: storage
    - mountPath: /home/abc/dataset/log
      n

[2021-11-12 06:02] zhoufeitest opened #2523 "use podchaos kill container, set duration, but pod fail time not the duration time,"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

1.0.3
**What did you do?**

**What did you expect to see?**
i want to the pod can fail durtation time i set
**What did you see instead?**

**Output of chaosctl**

[2021-11-12 07:15] STRRL commented on #2504
I found that issue occurs on not only HTTPRequest but also on another types of template.

And it only happens when index > 2.

Still profiling this bug.

[2021-11-12 10:02] STRRL commented on #2504
It seems this element is not re-rendered when a new template appending.

https://github.com/chaos-mesh/chaos-mesh/blob/90bb30d62469e948b4ae8a563bd4ea151609b81e/ui/src/components/NewWorkflow/index.tsx#L229

Do you have any idea about that? @g1eny0ung

[2021-11-14 08:59] FingerLeader commented on #2523
Do you have more information about your problem? Acctually, I don't know the exact problem you have, you can give us your defination of experiment or other things which can show the experiment work differently from your expection.

[2021-11-14 15:29] kz2318nkd commented on #2492
Ok, thank you very much for your answer. The k8s version of our current product integration has always been 1.13, which is relatively old and has lasted for several years. I have to communicate with the development classmates about this upgrade issue. It is estimated that it is more difficult. Maybe they are worried that the underlying upgrade will affect the business. Haha, in short, thank you ag

[2021-11-15 02:47] zhoufeitest commented on #2523
@FingerLeader
apiVersion: chaos-mesh.org/v1alpha1
kind: PodChaos
metadata:
  name: pod-failure-dataset
  namespace: default
spec:
  action: pod-failure
  mode: one
  duration: "30s"
  selector:
    labelSelectors:
      "app": "dataset"
  scheduler:
    cron: "@every 1m"

i want pod fail 30s, but not 30s, sometimes 1-2s pod would runing

[2021-11-15 03:53] #2464 closed

[2021-11-15 06:50] FingerLeader commented on #2523
I think your problem is the same as [#446](https://github.com/chaos-mesh/chaos-mesh/issues/446), @cwen0 's [replay](https://github.com/chaos-mesh/chaos-mesh/issues/446#issuecomment-621059257) explained why your pod is still running. Maybe you can update Chaos Mesh to solve this.

[2021-11-15 08:39] zheyu001 commented on #2222
Probably one workaround is adding taints to your node and update chaos-mesh DS to tolerant specific taints, this way can reduce the blast radius of your chaos-mesh experiment. Actually this even can be the reason why you are seeing this message, as by default chaos-ds won't tolerant any taints.

[2021-11-15 08:56] zheyu001 opened #2527 "Network attacks, how does chaos-mess restrict blast radius of specific pods."
## Question
Hi there,

I'm wondering for networks attacks experiment, how does chaos-mess restrict blast radius of specific pods?

My current understanding is: chaos-mesh created a daemon pod on each legal node, and this daemon pod takes over the network device of labeled pod. But for example, if I'm doing a network bandwidth experiment, what exactly action does daemon pod do to limit ? Does it sp

[2021-11-16 00:10] #1747 closed

[2021-11-16 10:04] YangKeao opened #2530 "Widely usage of `iptables` may cause timeout"
We need to take a deeper look at the `iptables` lock mechanism:

[code]

It takes really a long time to finish these requests, and finally causes timeout in controller. The default grpc timeout is `1m` in Chaos Mesh.

[2021-11-16 11:32] azasa opened #2531 "How I can i use label selectors with an OR"
## Question

We have a system with a long list of pods and some of these pods when killed come up with a new extension in their names.
We wanted to schedule a workflow that can generate pod s faults by killing pods.
In addition we want to select most of the pods in the namespace but a few should be considered as an exception and should not be killed.
We didn't find any documentation around how to

[2021-11-16 12:22] FingerLeader commented on #2527
Hi, @zheyu001 , sorry for the late response.

Chaos Daemon will use `nsexec` to enter the target Pod's network namespace and then use `tc` to add limitation.

Chaos Daemon will only effect the target Pod's virtual NIC, so other Pods' network can work properly. Each Pod can be treated like VM, but all containers within a Pod share a same network namespace.

[2021-11-17 02:18] zheyu001 commented on #2527
Thanks for the info @FingerLeader ! That's really helpful.
Since chaos-deamon directly interact with pods virtual NIC, I guess it will never flood the whole network in order to generate a traffic chaos. Is this assumption correct?

If so, I can understand tc can shape traffic by manipulate qdisc, but how about network delay chaos?

[2021-11-17 06:47] FingerLeader commented on #2527
I'm glad it helps you.

You are right, only processes in the target processes will be affected.

We also use `tc` to add network delay. Actually, most networkChaos use `ipset` and `iptables` to filter network traffic, and then use `tc` to simulate chaos.

[2021-11-17 08:00] FingerLeader commented on #2531
Hi, @azasa , sorry I don't understand your requirements clearly. Do you mean that your Pods which should not be killed already have a special label and you want to filter them manually or you want Chaos Mesh recognize this kind of Pods automatically and when killing them the system would throw an exception.

[2021-11-17 08:06] serlina opened #2533 "time chaos doesn't work on k8s pod"
## Bug Report

**What version of Kubernetes are you using?**
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", GitCommit:"7a576bc3935a6b555e33346fd73ad77c925e9e4a", GitTreeState:"clean", BuildDate:"2021-07-15T20:56:38Z", GoVersion:"go1.15.14", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**
chaos mesh 2.0.4
https://chaos-mesh.org/docs/p

[2021-11-17 13:14] STRRL commented on #2530
Just curious, how many rules exist in that chain? Does the time-cost relate to the count of rules in the iptables chain?

[2021-11-17 13:17] STRRL commented on #2492
Thanks for your response, you're so welcome, @kz2318nkd!

I am going to close this issue, feel free to reopen it. :D

[2021-11-17 13:17] #2492 closed

[2021-11-17 13:19] #2475 closed

[2021-11-17 13:25] Hexilee opened #2536 "chaos-tproxy process not found after chaos-daemon restarting"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.0.x

**What did you do?**

Restart chaos-daemon.

**What did you expect to see?**

HTTPChaos works well.

**What did you see instead?**

Events of PodHTTPChaos:

[code]

**The Cause and Solutions**

As the chaos-tproxy supports configuration hot-reload, we keep the tproxy processes alive once it's created, and store the pid in the st

[2021-11-17 13:28] Hexilee commented on #2367
Hi, are you still trapped in this issue? Here is the possible [reason](#2536).

[2021-11-17 13:37] noamzafrir commented on #2367
Hi @Hexilee,
I was occupied with some other tasks lately but I definitely still want to resolve this issue.
Thanks for this link. I will take a look.

[2021-11-18 00:11] #2167 closed

[2021-11-18 00:11] #2162 closed

[2021-11-18 00:11] #1749 closed

[2021-11-18 03:37] #2463 closed

[2021-11-18 04:03] STRRL opened #2537 "Unexpected successful Workflow creation with incorrect content"
## Bug Report

**What version of Kubernetes are you using?**

No relation with kubernetes version

**What version of Chaos Mesh are you using?**

Master branch, but it also affected `release-2.0`

**What did you do?**

- Create a workflow on dashboard, filling `10ms` for NetworkChaos, action `Loss`, in field `Loss`. It is the invalid value for `Loss`.
- Create/Submit this workflow.

**What did you

[2021-11-18 04:09] #2516 closed

[2021-11-18 04:10] STRRL commented on #2503
This issue is not introduced by  #2308, it has been also existed for a while, like #2504.

I think we would fix it in the next PRs, but not #2308.

[2021-11-18 04:11] STRRL commented on #2505
This issue could be fixed with c8ffc90 in #2308

[2021-11-18 04:39] #2476 closed

[2021-11-18 04:39] #2477 closed

[2021-11-18 07:11] YangKeao commented on #2533
`TimeChaos` will only affect the running process (at the time when it's injected) in the pod. The process executed later (like the `date` command in your example) will not be affected.

[2021-11-18 10:39] YangKeao commented on #2530
They are all small (no more than 5 or 10 rules, maybe some of them are 0). I think the time is related with the lock inside the iptables (or netfilter), if the network load is really heavy.

And also, I don't know whether this lock is process level, namespace level or system level. Need further investigation.

[2021-11-18 11:02] YangKeao commented on #2531
I think he want to exclude some pods from the selection.

AFAIK, there is no way to do so. Chaos Mesh doesn't support [`matchExpressions`](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#resources-that-support-set-based-requirements). @iguoyr Do you have any opinion on supporting set based requirements?

[2021-11-18 13:21] Muscule commented on #2359
I have no opportunity to follow the guide. Cluster is in intranet and has no connection to internet.

[2021-11-18 13:46] azasa commented on #2531
Exactly , I want to exclude some pods from selection. It could be very useful. maybe it could be done with  an exclusion list to add on the same page of the selector

[2021-11-18 16:52] YangKeao commented on #2531
Oops! Sorry for the misleading. It seems that the `matchExpressions` has been supported by Chaos Mesh :cool: ! You can find the document [here](https://chaos-mesh.org/docs/next/define-chaos-experiment-scope/#expression-selectors).

For example:

[code]

It can select the pods with label `tier: cache` and without label `environment: dev`

[2021-11-19 06:06] serlina commented on #2533
@YangKeao , Thanks for your reply, but I thought the " **### timeOffset: '-60m**' " will affect the time in the container , It will produce an offset of one hour. so I just checked this using date command
But from what you said, it will only affect the running process,  when I run the timechaos, there are several processes in the pod, and then how to check whether it worked or not?

[2021-11-19 06:54] serlina commented on #2533
@YangKeao
I created a busybox container, and want to see what will happen if we use the timechaos injection, details are as below:

"""
apiVersion: apps/v1
kind: Deployment
metadata:
  name: busybox-deployment
  labels:
    app: busybox
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: busybox
  template:
    metadata:
      labels:
        app: busybo

[2021-11-19 09:04] chamilzr commented on #2413
@g1eny0ung Is there any update for this issue?

[2021-11-19 09:36] g1eny0ung commented on #2413
After I asked other maintainers, they say maybe the problem is that the client used by `chaos-daemon` is too old. But I see that you are using the image built from the master branch, the latest `chaos-daemon` image should already support the Docker API `1.41`. What version of docker are you using?

[2021-11-19 10:11] #2508 closed

[2021-11-21 01:39] chamilzr commented on #2413
@g1eny0ung Docker version 18.09.9, build 039a7df9ba

[2021-11-21 09:51] g1eny0ung commented on #2413
@chamilzr I submitted a PR to fix this issue, which allows users to run the latest chaos daemon without upgrading the version of docker.

[2021-11-22 04:02] STRRL opened #2545 "TimeChaos should be injected into all the process in the target PID namespace"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes.

- I use `kubectl exec` to run a long-term running process inside of a pod
- Then inject TimeChaos into that pod
- the process started by `kubectl exec` is not affected.

**Describe the feature you'd like:**

TimeChaos should affect that process started by `kubectl exec`

**Describe alternatives you've con

[2021-11-22 06:31] #2413 closed

[2021-11-22 06:50] YangKeao commented on #2533
The most common way to verify the injection is to setup an application who gets the time and print. For example:

[code]

This program will print the time every seconds. If this container is injected with a `TimeChaos`, it will print a wrong time.

[2021-11-22 06:53] YangKeao commented on #2533
Yes. The `date` is a process who starts later than the chaos injecting, so it will not be affected. Chaos Mesh doesn't track every newly created program.

I have though about tracking every newly created process. However, the implementation will be ugly (like hooking `fork/exec` system call) and it seems that there are not strong requirement for this feature, so it's finally not implemented.

[2021-11-22 08:53] Hexilee commented on #2359
Well, could you download https://mirrors.chaos-mesh.org/v2.0.4/install.sh manually (or copy and paste)? And what steps do you install Chaos Mesh offline? Have you followed the https://chaos-mesh.org/docs/offline-installation?

[2021-11-22 09:49] Hexilee opened #2549 "helm: api group `cert-manager.io/v1alpha2` not served in cert-manager v1.6"
## Upgrade Dependencies

The API group `cert-manager.io/v1alpha2` is not served in cert-manager v1.6, we should upgrade it to `cert-manager.io/v1` in helm templates.

[2021-11-22 10:15] #2537 closed

[2021-11-22 10:38] cwen0 opened #2551 "Dashboard: sort workflow list"
## Feature Request

**Is your feature request related to a problem? Please describe:**

![mn3wVJRa4h](https://user-images.githubusercontent.com/22956341/142846415-ca2c8131-d0c2-4087-a515-e860ee966ec5.png)

I think this workflow should be displayed in the order it was created, with the most recently created being displayed at the top

[2021-11-23 02:43] #2213 closed

[2021-11-23 19:55] craig-seeman opened #2556 "Refactor request - Don't use cryptocurrency libraries"
## Feature Request

I was looking at dependencies and noticed chaos-mesh uses the ethereum library for json rpc communication in the iochaos_server. I am wondering if someone could refactor the logic within to be similar to httpschaos_server.go. It appears that httpchaos_server is using http calls over STDIO, and I am wondering if the same method could be used (with a timeout) in iochaos, instead

[2021-11-23 22:00] craig-seeman commented on #2556
Actually looking at this, :( it will probably require a refactor on toda.. I see that https://github.com/chaos-mesh/rs-tproxy is using http calls to do live reload and such, I wonder how hard it would be to refactor that as well.. though it seems like quite some work..

[2021-11-23 23:31] craig-seeman commented on #2285
I'm wondering, before more things like this are implemented, is it going to be possible to disable certain experiments (such as this)? I would not want users to be able to execute arbitrary commands within the containers.

[2021-11-24 00:10] #2176 closed

[2021-11-24 02:17] cwen0 opened #2557 "Dashboard: show the status and event when clicking the step details on the workflow diagram"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

Show the status and event when clicking the step details on the workflow diagram

[2021-11-24 02:37] #2505 closed

[2021-11-24 03:55] YangKeao commented on #2556
@Hexilee How do you think about it? I forgot the reason why we choose jsonrpc but not http for toda 😢

[2021-11-24 05:53] Hexilee commented on #2556
I prefer HTTP over stdio, but at that time we were refactoring IOChaos, @AsterNighT thought HTTP is much more complex than jsonrpc.

[2021-11-24 05:53] Hexilee commented on #2556
I prefer http over stdio, but at that time we were refactoring IOChaos, @AsterNighT thought http is much more complex than jsonrpc.

[2021-11-24 06:15] Colstuwjx commented on #2556
How about make a chaos-mesh version codec for stdio? We could directly use go official version [jsonrpc](https://pkg.go.dev/net/rpc/jsonrpc), and make a stdio conn codec for it, like go-ethereum [did](https://github.com/ethereum/go-ethereum/blob/master/rpc/stdio.go#L36).

[2021-11-24 06:33] YangKeao commented on #2556
Go official jsonrpc only supports jsonrpc 1.0. On the other side, no rust crates supports jsonrpc 1.0, that's why we are using the jsonrpc from ethereum now.

[2021-11-24 09:10] STRRL opened #2559 "Field Validation on Chaos Dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**

No.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-11-24 09:36] STRRL commented on #2229
closed by #2275

[2021-11-24 09:36] #2229 closed

[2021-11-24 09:37] STRRL commented on #2259
closed by #2308

[2021-11-24 09:37] #2259 closed

[2021-11-24 13:34] craig-seeman commented on #2556
An interesting idea could be to use grpc over stdio. Since much of the internals of chaos-mesh already utilize grpc. Through some quick searching, it seems that there may be some support for this in rust and other languages (over stdio); meaning it could be a language agnostic decision.

However I feel bad suggesting all these things to redo so much work that @AsterNighT and you all have put into

[2021-11-24 13:47] craig-seeman commented on #2556
An interesting idea could be to use grpc over stdio. Since much of the internals of chaos-mesh already utilize grpc. Through some quick searching, it seems that there may be some support for this in rust and other languages (over stdio); meaning it could be a language agnostic decision.

However I feel bad suggesting all these things to redo so much work that @AsterNighT and you all have put into

[2021-11-24 14:33] #2448 closed

[2021-11-24 16:03] noamzafrir opened #2561 "Sporadic error: Cannot update chaos spec"
## Bug Report

**What version of Kubernetes are you using?**
1.21

**What version of Chaos Mesh are you using?**
2.0.2

**What did you do?**
Applying pod-kill and pod-failure

**What did you expect to see?**
The failure being applied on the pod.

**What did you see instead?**
I am **sporadically** getting the following error (it can happen on both types of failures: pod-kill, pod-failure)
Error fr

[2021-11-24 16:35] Hexilee commented on #2556
I think http just works well in this case, and gRPC is too complex (which is based on http).  We can reimplement the stdio communication as same as HTTPChaos.

[2021-11-24 21:59] craig-seeman commented on #2556
I was wondering about that, I really don't mind the jsonrpc workflow, but perhaps it would be very simple to just implement basic json client for the time being without a full entire standard and jsonrpc client

(Basically just send and parse json over the stdio ourselves). In the daemonset as you said, we could just send manual encoded message such as this https://github.com/chaos-mesh/toda/blob/

[2021-11-25 03:04] STRRL commented on #2434
closed by #2499

[2021-11-25 03:04] #2434 closed

[2021-11-25 03:22] iguoyr commented on #2561
{"metadata":{"annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{"apiVersion":"chaos-mesh.org/v1alpha1","kind":"PodChaos","metadata":{"annotations":{},"name":"pod-kill-test","namespace":"chaos-testing"},"spec":{"action":"pod-kill","mode":"one","selector":{"labelSelectors":{"service":"flow-m1-fyykae-m1-fyykae"},"namespaces":["default"]}}}\n"}},"spec":{"selector":{"labelSelectors":{"

[2021-11-25 03:42] YangKeao commented on #2556
This is an error message when it tries to move the mount point from `/app` to `/app/__chaosfs_test__` but failed. (However, the error message is not encoded well. The errno and detail message lost 😢 )

From experience, the most common problem is that the `/app` doesn't exist, or the parent mount of `/app` has propagation type MS_SHARED.

[2021-11-25 04:09] g1eny0ung commented on #2452
This was fixed in #2511. All empty fields are now removed before committing.

[2021-11-25 04:09] #2452 closed

[2021-11-25 05:39] noamzafrir commented on #2561
Hi @iguoyr
Thank you for your quick response.
I see the error on my terminal. I have a "runner" that invokes cli commands and if there's an error it returns the error's info.
Specifically here I invoked "kubectl apply -f"
I am not working with the chaos dashboard at all.

[2021-11-25 06:12] iguoyr commented on #2561
It seems like the PodChaos named `pod-kill-test` already exists in your kubernetes cluster, and Chaos Mesh don't support to modify the spec of chaos object for now, so you'll see this error info. For more details, you could read this issue(https://github.com/chaos-mesh/chaos-mesh/issues/1905).

[2021-11-25 06:16] iguoyr commented on #2561
If so, you could clean the old PodChaos first (using `kubectl delete podchaos <podchaos-name> -n <podchaos-namespace>` or `kubectl delete -f <podchaos-filename>`) and then re-apply the resource to cluster.

[2021-11-25 07:10] noamzafrir commented on #2561
Yes, I'm aware of the limitation that it's not possible to modify existing test, but I think that wasn't the case here.
Any additional information I can provide you next time it happens to verify the root cause of this problem?

[2021-11-25 08:45] iguoyr commented on #2561
Sorry, I misunderstand the problem 😢 . If it happens next time, you could put chaos-controller-manager logs in this issue(using `kubectl logs -n <chaos-mesh-namespace> <chaos-controller-manager-pod-name>`), it's helpful to find root cause. :)

And just in case, put the result of `kubectl get podchaos -n <podchaos-namespace>` and the manifest file content of podchaos would be better. (This message

[2021-11-25 09:30] lipovsek commented on #1478
hi, I'd like to implement this feature and already have experience with validating GPUs and stress testing them. I'm also familiar with go and k8s so implementation shouldn't be an issue, unless I will discover some other blocker.

[2021-11-25 13:12] iguoyr commented on #1478
@lipovsek Hi, feel free to work on this issue, and before you implement the feature, it's better to write the idea of how the feature would be implemented into [rfc](https://github.com/chaos-mesh/rfcs) document :D

[2021-11-26 06:00] YangKeao opened #2566 "`trivy` gets a lot of potential security issues"
## Bug Report

Running `trivy image ghcr.io/chaos-mesh/chaos-daemon:latest` gets a lot of security issues. I have taken a look at the list, and they are not that kind of security issue that could be utilized to attack the user of Chaos Mesh, but they are still potential to cause misbehavior or bugs of Chaos Mesh.

There are two possible solutions:

1. Upgrade the `debian:buster-slim` to `debain:bu

[2021-11-26 09:25] andylibrian opened #2567 "NamespaceChaos - namespace-deleted"
## Feature Request

**Is your feature request related to a problem? Please describe:**

I would like to run a chaos test where namespaces are deleted. I use GitOps and I would expect that the namespace and the resources inside it would be recreated shortly.

**Describe the feature you'd like:**

I would imagine a kind of "NamespaceChaos":

[code]

**Teachability, Documentation, Adoption, Migration

[2021-11-26 09:27] andylibrian commented on #2567
If this receives good feedback, I'm interested in contributing code to implement it.

[2021-11-26 10:10] cwen0 commented on #2567
@andylibrian `namespace deleted` action is easy, but recover action is difficult! How do you think about this?

[2021-11-26 10:14] andylibrian commented on #2567
Hi @cwen0 Sorry if my description isn't clear. In my scenario, the recovery would be handled by the GitOps engine (fluxcd). It continuously sync the cluster state from a git repo. That doesn't need to be implemented in chaos-mesh.

[2021-11-27 13:12] TangliziGit opened #2569 "Some port configurations in helm templates are hardcoded"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Some port configurations in helm templates `/helm/chaos-mesh/templates/controller-manager-deployment.yaml` are hardcoded:
[code]

**Describe the feature you'd like:**

These port configurations should be exposed at the helm `values.yaml` level for users to customize them, like chaos-dashboard:
[code]

**Describ

[2021-11-28 07:57] noamzafrir commented on #2561
OK, will do.
Where is the manifest file located?

[2021-11-29 00:11] #1849 closed

[2021-11-29 02:31] #1886 closed

[2021-11-29 02:31] #2172 closed

[2021-11-29 02:34] cwen0 commented on #2569
@TangliziGit This is a good suggestion! Do you want to try to work on this issue?

[2021-11-29 02:45] ChanKunggc commented on #2478
Sorry,i didn't see the comment.
Now i try a new network chaos ,it.s worked,but the status may be not correct.
network chaos status
![image](https://user-images.githubusercontent.com/56463479/143800263-b8ba5bdd-2769-4059-a981-722efbbead3f.png)
the daemon logs
![image](https://user-images.githubusercontent.com/56463479/143800386-c23c61e3-7c5f-44d8-81a1-4cef0d2a8d84.png)

[2021-11-29 02:51] #2549 closed

[2021-11-29 03:05] cwen0 commented on #2567
@andylibrian Cool! You can try to implement this feature by `oneshot` experiment. https://github.com/chaos-mesh/chaos-mesh/blob/master/api/v1alpha1/podchaos_types.go#L24

[2021-11-29 03:10] iguoyr commented on #2561
It's the file that `kubectl apply -f <file>` using, it depends on your specific command :)

here is an example of manifest file from [Chaos Mesh documents](https://chaos-mesh.org/docs/simulate-pod-chaos-on-kubernetes/#pod-failure-example):
[code]

[2021-11-29 03:30] TangliziGit commented on #2569
@cwen0 OK, should I also expose the hosts? For example, `MetricsAddr` can be modified to `MetricHost` and `MetricPort`. And expose `METRIC_HOST` and `METRIC_PORT` in helm `values.yaml`.

[2021-11-29 06:13] iguoyr commented on #2478
@ChanKunggc Hi, could you try this command `kubectl get podnetworkchaos <pod-name>` (for example, in the previous picture, it could be `kubectl get podnetworkchaos oom-test-78889d8c6c-j48l8`)?

[2021-11-29 07:35] STRRL opened #2572 "Unable to delete bandwidth NetworkChaos with bad minburst"
## Bug Report

**What version of Kubernetes are you using?**

kubernetes 1.22.3

**What version of Chaos Mesh are you using?**

master, 9a71f58fd8ea54267796bab16ce0f78b3eabcf34

**What did you do?**

workload:

[code]

NetworkChaos:

[code]

Notice that `minburst: 0` would setup `mtu 0` with the`tc-tbf`, which is **invalid**.

Then I try to delete this NetworkChaos.

**What did you expect to see?*

[2021-11-29 08:05] STRRL commented on #2572
Due to

https://github.com/chaos-mesh/chaos-mesh/blob/9a71f58fd8ea54267796bab16ce0f78b3eabcf34/controllers/common/controller.go?_pjax=%23js-repo-pjax-container%3Afirst-of-type%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%3Afirst-of-type%2C%20%5Bdata-pjax-container%5D%3Afirst-of-type#L123-#L126

One chaos could not be recovered from "Injecting behavior", or in

[2021-11-29 08:32] ivgenis opened #2574 "Swagger API not appears in Dashboard"
Hi, I've upgraded to v2.0.5.
In my previous version (it was v0.3.1 I think) There was a link to swagger API from the Chaos Dashboard.
In the new version I can't find it in the Dashboard.
Is it still exists?
Thanks

[2021-11-29 09:29] #2569 closed

[2021-11-29 10:07] noamzafrir commented on #2561
Understood.
I will update as soon as it happens again.
Thanks.

[2021-11-29 10:47] ChanKunggc commented on #2478
@iguoyr
![image](https://user-images.githubusercontent.com/56463479/143854322-a017fafd-419e-4130-8a96-ffac060c2183.png)

[2021-11-29 14:21] craig-seeman commented on #2566
@YangKeao Have you tried to add a `apt-get upgrade -y` directly after the `apt-get update` in the dockerfile(s) on a build and then try another scan? I'm curious if it will have some positive effects as well.

[2021-11-29 15:21] craig-seeman commented on #2556
Now that I'm thinking on it, perhaps this could be possibly an RFC to allow for future ease of adding similar attack functionality?

[2021-11-29 15:45] Hexilee commented on #2556
I think it's a detail about special implementation, which depends on programming languages and platforms. An RFC may be unnecessary, I would like a detailed tutorial or SDKs between Golang and Rust applications.

[2021-11-29 16:24] craig-seeman commented on #2530
Curious, after looking around online, it seems that iptables may use dns lookups when applying.

Is it possible that the attack starts before being fully applied? (In that case, in the attack, is it starting to affect the DNS lookups, causing those to slow down, causing iptables changes to slow down?)

[2021-11-29 16:35] craig-seeman commented on #2556
Makes sense. It would just be some ways to say 'if you create a separate binary or script and want to communicate to it, stdio http is the standard built into chaos-mesh'

The reason I was wondering this is because it would be interesting approach to have ALL attacks happen in the same way the toda/tproxy is written.

This would result in the daemonset launching each attack that is self-contained

[2021-11-29 16:48] craig-seeman commented on #2556
Makes sense. It would just be some ways to say 'if you create a separate binary or script (any language) and want to communicate to it, stdio http (or whatever is chose) is the standard built into chaos-mesh'

[2021-11-30 03:40] STRRL opened #2577 "Metrics on the time cost when executing `iptables`, `tc`, `ipset`"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Yes. The execution for `iptables` (and other commands) is quite slow sometime.

**Describe the feature you'd like:**

ref: https://github.com/chaos-mesh/chaos-mesh/pull/2540#pullrequestreview-809756739

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-11-30 03:44] iguoyr commented on #2478
Hi, there are a few things that I want to check:
1. How many etcd instance in your cluster? If more than one instance, could you help to verify that the data is consistent? If the data in etcd cluster is inconsistent, it can lead to this problem.
2. Does this error occur frequently, does it keep recurring steadily or does it recur occasionally?

[2021-11-30 05:33] YangKeao commented on #2566
No. I have checked the version of "curl" (which is the source of a "CRITICAL" error) is the newest as described in the [registry](https://packages.debian.org/search?searchon=sourcenames&keywords=curl). (However, the two versions of "curl": `7.64.0-4+deb10u2` and `7.74.0-1.3` have different "CRITICAL" problems 😿

[2021-11-30 05:36] cwen0 opened #2578 "Operation cannot be fulfilled on podchaos.chaos-mesh.org \"pod-kill-1\": the object has been modified; please apply your changes to the latest version and try again"
## Bug Report

**What version of Kubernetes are you using?**

v1.20.1

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

Create a podChaos chaos experiment and recover it.

**What did you expect to see?**

All is OK!

**What did you see instead?**

[code]

**Output of chaosctl**

[2021-11-30 05:38] cwen0 commented on #2574
@ivgenis The API page was hidden. You can open URL "host:port/api/swagger/index.html" to access it.

[2021-11-30 05:50] Andrewmatilde opened #2579 "Add a typed go-client with code generator for Chaos-mesh."
## Feature Request

**Is your feature request related to a problem? Please describe:**
May related

**Describe the feature you'd like:**

Use code generator( some customized changes are necessary) to generate and maintain a typed go-client.
**Describe alternatives you've considered:**

If go template release ,we can use it to simply rewrite a client for all chaos types.

[2021-11-30 08:02] g1eny0ung commented on #2413
Updated to documentation: https://chaos-mesh.org/docs/next/faqs/#q-daemon-throws-an-error-similar-to-version-141-is-too-new-the-maximum-supported-api-version-is-139.

[2021-11-30 08:30] lklkxcxc opened #2583 "模拟loss网络故障后抓包容器网卡未看到丢包"
## Question
模拟loss网络故障，tcpdump抓包容器eth0网卡，没有看到很多丢包的现象，请问是正常的吗？
 mode: one
  action: loss
  duration: 10m
  loss:
    loss: '1'
    correlation: '0'
  direction: to
chaos-mesh版本为: 2.0.5

[2021-11-30 09:10] ChanKunggc commented on #2478
1、 3 instance that i have .
2、 it does inevitable that i think. does the CRD version caused the effort ?

now i try again.  same as first result.
![image](https://user-images.githubusercontent.com/56463479/144016727-cc443999-ac9f-4937-99ee-722ac0efad05.png)
![image](https://user-images.githubusercontent.com/56463479/144017014-c0583724-8101-435a-ad7b-8967c66aefb1.png)
![image](https://user-images.g

[2021-11-30 09:28] ChanKunggc commented on #2478
i updated every  CRD yaml  in 'helm/crd' to 'apiextensions.k8s.io/v1beta1'. in 1.14 ,we don‘t have 'apiextensions.k8s.io/v1'.

[2021-11-30 10:06] STRRL commented on #2572
@YangKeao Any idea about that?

[2021-12-01 03:58] iguoyr commented on #2478
Could you check the crd of podnetworkchaos using `kubectl get crd podnetworkchaos -o yaml`? Maybe the `status` of podnetworkchaos has some problems.

[2021-12-01 05:48] ChanKunggc commented on #2478
i tried in k8s 1.19.9. and k8s 1.21.0 ,it injected.
'v1beta1' in  k8s 1.14.3
![image](https://user-images.githubusercontent.com/56463479/144177043-b725acf9-dc6d-417c-99c1-777d1d30411d.png)
'v1'   in k8s 1.21.0
![image](https://user-images.githubusercontent.com/56463479/144177688-92442c04-7fce-444f-b1b0-5af60c0c2cf8.png)
complete yaml
[v1.log](https://github.com/chaos-mesh/chaos-mesh/files/7631137/

[2021-12-01 06:25] cwen0 commented on #2583
@lklkxcxc `loss: '1'` represents the percent of network loss is 1%.

[2021-12-01 07:18] iguoyr commented on #2478
@ChanKunggc How did you install the v1alpha1 crd in kubernetes v1.14?

I tested it on my local cluster (kubernetes v1.14), it should return the result likes:

[code]

Here, the `subresources` field is important, if crd have not declare the `subresource` field, it will produce this error `the server could not find the requested resource` when updating the `status` field.

[code]

[2021-12-01 08:19] cwen0 commented on #2200
This version was released! So I will close this issue.

[2021-12-01 08:19] #2200 closed

[2021-12-01 09:05] STRRL commented on #2478
Hi @ChanKunggc, maybe you could try this: https://github.com/chaos-mesh/chaos-mesh/blob/v2.0.3/manifests/crd-v1beta1.yaml, instead of manually updating.

[2021-12-01 09:41] lklkxcxc commented on #2583
@cwen0 Set loss to 99 .Tcpdump failed to see a large number of lost packets, resulting in retransmission. Great tool anyway!

[2021-12-01 09:41] #2583 closed

[2021-12-01 11:37] ChanKunggc commented on #2478
my fault ..... , it does work now

[2021-12-01 11:37] #2478 closed

[2021-12-01 11:56] cwen0 commented on #2400
@chirangaalwis Sorry for my late reply! Chaos Mesh v2.1.0 has been released. You can follow the docs https://chaos-mesh.org/docs/production-installation-using-helm/ to install chaos mesh. I will close this issue now. If you have new issue, free to reopen it.

[2021-12-01 11:58] adengdai commented on #2400
Thank you so much for reply！
I will try it tomorrow.
Sincerely

发自我的iPhone

------------------ Original ------------------
From: CWen ***@***.***&gt;
Date: Wed,Dec 1,2021 7:56 PM
To: chaos-mesh/chaos-mesh ***@***.***&gt;
Cc: adengdai ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [chaos-mesh/chaos-mesh] Helm install chaos-mesh failed (Issue#2400)

[2021-12-01 13:37] #2400 closed

[2021-12-01 14:26] haizi-cui opened #2588 "JVMChaos: target process doesn't respond within 10500ms or hotspot vm not loaded"
The error is shown below：
![image](https://user-images.githubusercontent.com/63744634/144251968-8752a899-e712-4fd4-983e-4ee10c17256d.png)

[2021-12-02 02:49] kxzonly opened #2589 "helm install error（when i use pvcs，it occured）"
## Bug Report

**What version of Kubernetes are you using?**
1.19.8
Actually，it will occur at any version

**What version of Chaos Mesh are you using?**
2.1.0

**What did you do?**
when i change pvc config ，helm install failed
当我开启helm脚本中的pvc配置时，将会出现此问题
Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: apiVersion not set
![image](https://u

[2021-12-02 03:27] cwen0 commented on #2589
@kxzonly Thanks for your report! You can remove `-` to fix this issue.  https://github.com/chaos-mesh/chaos-mesh/blob/master/helm/chaos-mesh/templates/chaos-dashboard-pvc.yaml#L16-L17

Fixed code :

[code]

Can you create a pr to fix it?

[2021-12-02 03:45] WangXiangUSTC commented on #2588
Would you please check the permissions of this file? Which user started the Java process?

[2021-12-02 06:19] kxzonly commented on #2589
OK,I forked code and fix it now

[2021-12-02 07:34] kxzonly commented on #2589
@cwen0 I finished pr #2591 ,Can I close this issue or trans to you?

[2021-12-02 07:52] cwen0 commented on #2589
@kxzonly When pr #2591 merged, this issue will be closed automatically.

[2021-12-02 09:03] #2589 closed

[2021-12-02 11:39] haizi-cui commented on #2588
No .java_ Pid25385 file

[2021-12-02 12:30] haizi-cui opened #2593 "After setting the corresponding permission, it still cannot be deleted, and the prompt "error. API. No_cluster_privilege: can't patch resource in the cluster" appears"

[2021-12-03 03:27] WangXiangUSTC commented on #2593
OK, I have reproduced the problem, using the ServiceAccount of a namespace to delete archived experiments will cause this error. I will fix it

[2021-12-03 04:11] FingerLeader opened #2594 "`make generate should` not depend on `make generate-ctrl`"
## Bug Report

**What version of Chaos Mesh are you using?**
latest
**What did you do?**
I tried to use `make generate` to generate `zz_generated.deepcopy.go` after changing a struct in `stresschaos_type.go`.

**What did you expect to see?**
New `DeepCopyInto` method be generated.

**What did you see instead?**
![image](https://user-images.githubusercontent.com/43462394/144543732-80a0fc1e-1bed-4ed

[2021-12-03 05:46] iguoyr commented on #2594
related to https://github.com/chaos-mesh/chaos-mesh/issues/2419 :)

[2021-12-03 06:49] STRRL commented on #2556
Why not UNIX domain socket? 🤔

[2021-12-03 06:51] YangKeao commented on #2556
`toda` needs to communicate cross the mnt namespace, which is not possible (AFAIK) through unix domain socket.

[2021-12-03 06:58] STRRL commented on #2348
closed by  #2396

[2021-12-03 06:58] #2348 closed

[2021-12-03 07:06] #2443 closed

[2021-12-03 07:11] WangXiangUSTC commented on #2436
Chaos Mesh requires a ClusterRule to install, can't ignore this Rule.

[2021-12-03 07:11] #2436 closed

[2021-12-03 07:51] Colstuwjx commented on #2556
BTW, It's not about how to do ipc communication, the problem is that, which communication protocol is the best choice.

For now, IOChaos server forked a sub process to run toda, and toda is running into the container's mnt namespace, IOChaos server communicates with toda via the toda process' stdio since pid namespace isn't isolated. I think it's a pretty good solution.

The problem is, in golang,

[2021-12-03 07:57] WangXiangUSTC commented on #2593
It seems that `/api/archives/` doesn't take the `namespace` parameter, so the dashboard backend treats it as a cluster request.

[2021-12-05 11:04] ivgenis opened #2595 "Network chaos workflow fails to run (but pod chaos running successfully)"
## Bug Report

**What version of Kubernetes are you using?**
1.20

**What version of Chaos Mesh are you using?**
2.0.5

**What did you do?**
Installed chaos mesh with helm, overriding with this values file:

[code]

Running the following workflow:

[code]

**What did you expect to see?**
Network chaos delay running as expected

**What did you see instead?**

From chaos controller manager:

[code]

[2021-12-06 00:11] #2216 closed

[2021-12-06 03:12] YangKeao commented on #2438
This issue has been fixed by https://github.com/chaos-mesh/chaos-mesh/pull/2544

[2021-12-06 03:12] #2438 closed

[2021-12-06 04:12] Hexilee commented on #2595
It seems the target pods are not running, could you check if all of the target pods are running by `kubectl get pods -n dm-fb-datac-3180`?

[2021-12-06 06:59] ivgenis commented on #2595
Yes it is running as expected.

NAME                                        READY   STATUS    RESTARTS   AGE
chaos-controller-manager-6b965b9ffd-g9rt8   1/1     Running   0          20h
chaos-daemon-2v4km                          1/1     Running   0          20h
chaos-daemon-rqjqt                          1/1     Running   0          20h
chaos-daemon-v5pjc                          1/1     Running

[2021-12-06 07:18] zheyu001 opened #2599 "Enable object selector for permission control."
## Feature Request

**Describe the feature you'd like:**
Currently chaos-mesh support namespace filtering which is pretty good. We are wondering is there any chance chaos-mesh can extend this one step further by ~~using object selector while injecting daemon set~~ implicit label checking.

I know currently when schedule an experiment, I can use label selector and etc. But goal of this request is t

[2021-12-06 07:19] Hexilee commented on #2595
The "target pods" that I mean are the pods you want to inject (the pods in namespace dm-fb-datac-3180).

However, as you inject pod chaos at the same time, things are clear. The status of target pods should be `Running` when network chaos is being injected.

[2021-12-06 07:22] ivgenis commented on #2595
Yes the target pods are all in "Running" status when trying to inject the network chaos.

[2021-12-06 07:39] ChanKunggc commented on #2200
hi，which hub could pull the v2.1.0 images ?  Docker hub  don‘t have v2.1.0 .

[2021-12-06 07:40] #2527 closed

[2021-12-06 07:48] YangKeao opened #2601 "setup framework to support multiversion api and define the compatibility"
Now all chaos mesh resources are using `chaos-mesh.org/v1alpha1`, we should setup a framework to support multiversion api (and specify a storage version), and write a guide to describe how to add a new version of resource in Chaos Mesh.

[2021-12-06 09:27] YangKeao opened #2602 "standarlize the error, log and trace infrastructure"
Chaos Mesh needs a standard error, log and trace infrastructure or guide to help developers to find bugs / write elegant codes

[2021-12-06 12:26] Hexilee commented on #2595
Is the pod chaos still running after the network chaos is applied?

[2021-12-06 13:01] Hexilee commented on #2599
Does it mean users need to label all pods they want to inject? I think users can add `objectSelector` manually in admission webhooks by their requirements.

[2021-12-06 15:32] yehiyam opened #2603 "helm install ingress issue"
## Bug Report

**What version of Kubernetes are you using?**
1.1.9.13

**What version of Chaos Mesh are you using?**
v2.1.0

**What did you do?**
Installed with the helm chart and setting `dashboard.ingress.enabled=true`
**What did you expect to see?**
Ingress should be created
**What did you see instead?**
Ingress object has invalid syntax due to missing apiVersion

It looks like https://github.d

[2021-12-07 02:37] zheyu001 commented on #2599
Forgive my wordings. I just realized the real thing I'm requesting is: chaos-mesh should allow user to configure whether allowing all pods to run experiment or only pods with chaos-mesh label can run, it doesn't necessarily means DS injection.
The chaos-mesh label should be added by users explicitly, this means users aware their pods are at risk and should pay attention to them. It also means user

[2021-12-07 02:41] #2603 closed

[2021-12-07 02:54] Hexilee commented on #2599
I think I understand your requirements, but I prefer a build-in label to protect pods as the `objectSelector` supports the `NotIn` operator.

For example, add the following `objectSelector` in the admission webhooks configuration:

[code]

Then, team A can protect their pods from experiments by adding the label `app.chaos-mesh.io/injection: protected`.

[2021-12-07 04:26] zheyu001 commented on #2599
If I want to upgrade chaos-mesh to new version in future, will this change be override?

[2021-12-07 05:53] ashishgoyal111 opened #2606 "Schedule with default value of concurrencyPolicy is not working as expected"
## Bug Report

**What version of Kubernetes are you using?**
GitVersion:"v1.20.11"

**What version of Chaos Mesh are you using?**
GitVersion:"v2.0.2"

**What did you do?**
Chaos-mesh documentation says default value of concurrencyPolicy is Forbid but when this field is not provided, things don't work the expected way. Consider an every minute schedule with network-delay of 70s. As default value of

[2021-12-07 05:56] ashishgoyal111 commented on #2606
Experiment yaml file-
apiVersion: chaos-mesh.org/v1alpha1
kind: Schedule
metadata:
  namespace: some_value
  name: network-delay-schedule
spec:
  schedule: '* * * * *'
  historyLimit: 2
  # concurrencyPolicy: "Allow"
  # startingDeadlineSeconds: 15
  type: 'NetworkChaos'
  networkChaos:
    action: delay
    mode: all
    selector:
      namespaces:
        -  some_value
      labelSelectors:

[2021-12-07 06:02] ashishgoyal111 opened #2607 "Schedule with default value of historyLimit is not working as expected"
## Bug Report

**What version of Kubernetes are you using?**
GitVersion:"v1.20.11"

**What version of Chaos Mesh are you using?**
GitVersion:"v2.0.2"

**What did you do?**
historyLimit is not required field. But if we don't provide this with every minute schedule having pod-kill action, pod-kill is not at all applied.

**What did you expect to see?**
pod-kill experiments should be created and appl

[2021-12-07 06:03] ashishgoyal111 commented on #2607
Experiment yaml file-

apiVersion: chaos-mesh.org/v1alpha1
kind: Schedule
metadata:
  namespace: some_value
  name: pod-kill-schedule
spec:
  schedule: '* * * * *'
  concurrencyPolicy: 'Forbid'
  type: 'PodChaos'
  podChaos:
    action: pod-kill
    mode: all
    gracePeriod: 0
    selector:
      namespaces:
        - some_value
      labelSelectors:
        some_key: some_value

[2021-12-07 06:31] Hexilee commented on #2599
I'm going to talk about it with my team this week, then I will update the decision and progress in this issue.

[2021-12-07 07:12] zheyu001 commented on #2599
Sure. Thanks a lot!

BTW, [this thread](https://github.com/chaos-mesh/chaos-mesh/issues/2222) basically is concerning about similar issue:

[2021-12-07 08:25] STRRL opened #2608 "Release v2.2.0"
Here is the tracking issue for the next Chaos Mesh release: v2.2.0.

Feel free to comment suggestions and ask anything in this issue. :smile:

Note: We are sliting this to-do list, moving part of them(marked with strikethrough) into the next minor release (v2.3.0).

## New Features && Enhancements

- [ ] ~Telemetry and Analytics, maybe using https://opentelemetry.io/~
- [x] P1 Azure Chaos
  - [x]

[2021-12-07 08:33] serlina opened #2609 "DNS Chaos injection Failed to apply chaos: rpc error: code = DeadlineExceeded desc = context deadline exceeded"
## Bug Report

**What version of Kubernetes are you using?**

Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", GitCommit:"7a576bc3935a6b555e33346fd73ad77c925e9e4a",

**What version of Chaos Mesh are you using?**

2.1.0

**What did you do?**

when I use DNS chaos mesh, sometimes it is successful,  while sometimes, it will not be injected, and report below error
"
 Normal

[2021-12-07 08:34] serlina commented on #2609
sometimes, re-apply the DNS chaos injection will fix the issue, but sometimes it won't work

[2021-12-07 09:21] WorldVirus commented on #2507
Hi,
Can I try to take the issue ?

[2021-12-07 11:06] STRRL commented on #2556
Why not gRPC? 🙈

[2021-12-07 11:11] Hexilee commented on #2556
gRPC is based on HTTP, and HTTP meet all requirements in this case.

[2021-12-07 12:00] ivgenis commented on #2595
Yes - I just validated it again. Same selectors that choose the same pods. Network chaos failed to run, and then pod chaos runs successfully.

[2021-12-07 14:32] chenhy97 opened #2611 "Issue about gRPC chaos"
The roadmap shows that chaos-mesh has supported gRPC chaos.
However, I can only find the HTTPChaos guidance in the docs.
Are there any example about how to use gRPC chaos with chaos-mesh?

[2021-12-07 15:45] ReigenDing commented on #2401
/assign

[2021-12-08 00:11] #2208 closed

[2021-12-08 02:43] Hexilee commented on #2611
Sorry, the roadmap is wrong, we do not support gRPC chaos now.  We will support it after https://github.com/chaos-mesh/rs-tproxy/pull/19 is complete.

[2021-12-08 02:59] Hexilee commented on #2595
Could you pause pod chaos and run network chaos again? They cannot be applied to the same pods at the same time.

[2021-12-08 03:04] WangXiangUSTC commented on #2609
Hi, could you please provide the log of `chaos-dns-server` under namespace `chaos-testing` when getting the `DeadlineExceeded` error? And how many pods are selected in your DNS experiment?

[2021-12-08 07:49] #2611 closed

[2021-12-08 07:57] Hexilee opened #2614 "upgrade version to v2 as go modules"
## Feature Request

**Describe the feature you'd like:**

Chaos Mesh v2 breaks the APIs, we should indicate to users and `pkg.go.dev` that v2 is an incompatible version from v1. We have 3 schemes to upgrade it.

#### Abandon v1
If we decide to never support v1 anymore, we can just replace the path prefix `github.com/chaos-mesh/chaos-mesh` with `github.com/chaos-mesh/chaos-mesh/v2` in all `go.mod`

[2021-12-08 08:00] g1eny0ung opened #2615 "feat: openapi to typescript schemas"
## Feature Request

**Is your feature request related to a problem? Please describe:**

The chaos types are split between the front-end and back-end, and we can‘t reuse types that have already been defined.

This leads to several problems:

1. The front-end needs to be manually synchronized when there is an update to the type definition.
2. As **`1`** continues to emerge, there are more and more t

[2021-12-08 08:04] Hexilee opened #2616 "release api/v1alpha1 in independent version"
## Feature Request

**Is your feature request related to a problem? Please describe:**

In Chaos Mesh v2, we split `api/v1alpha1` as a sub-package but have not released it independently for it.

**Describe the feature you'd like:**

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-12-08 08:28] Hexilee commented on #2614
Latest decision: split independent sub-package as needed like the `api/v1alpha1`

[2021-12-08 11:13] #2449 closed

[2021-12-08 16:16] STRRL commented on #2615
I also found a library called `openapi-generator-cli`, it seems it's the official cli tool.

[2021-12-09 13:40] chenpfeisoo opened #2625 "Failed to apply chaos: rpc error: code = Unknown desc = Error response from daemon: client version 1.41 is too new. Maximum supported API version is 1.40"
![image](https://user-images.githubusercontent.com/18147157/145406787-5c003fd8-c647-47bc-add4-c3d2b16fe30c.png)

![image](https://user-images.githubusercontent.com/18147157/145406727-0e186a7c-359a-4a53-af1d-5dcca7fb9c65.png)

[2021-12-09 20:06] alelerac opened #2626 "io-delay experiment causes read error from specified volumePath and as consequence PostgreSQL restart"
## Bug Report

**What version of Kubernetes are you using?**

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:56:40Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"ec2760d6

[2021-12-10 02:55] WangXiangUSTC opened #2627 "HTTPChaos dashboard: support use plaintext for replace body"
## Feature Request

**Is your feature request related to a problem? Please describe:**
![image](https://user-images.githubusercontent.com/5793595/145509272-64a7545b-e02b-466b-bd09-b8c0f9665743.png)
Users need to calculate the base64 value and then fill it here

**Describe the feature you'd like:**

Users can fill it with plaintext, and Chaos Mesh calculate the base64 value automatically

[2021-12-10 03:10] WangXiangUSTC opened #2628 "Dashboard: default selector mode is one"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.1.0

**What did you do?**
create an experiment, and set the namespace selector, we can see that all the pod is selector

![image](https://user-images.githubusercontent.com/5793595/145510708-7fb3c384-8754-41aa-83ec-959fd6ea9a23.png)

**What did you expect to see?**
all the pods are selector

**What did you see instead?**
After submitt

[2021-12-10 03:28] WangXiangUSTC opened #2629 "Dashbaord load archived HTTPChaos loss some config"
## Bug Report

**What version of Chaos Mesh are you using?**
v2.1

**What did you do?**
archive an HTTPChaos experiment, and create a new one load from it.

**What did you expect to see?**
load success and all config is same with the old one

**What did you see instead?**
the action and config of this action is not load

![image](https://user-images.githubusercontent.com/5793595/145512400-2ca4697e

[2021-12-10 04:03] WangXiangUSTC opened #2630 "HTTP task in workflow: Supports sending requests at intervals"
## Feature Request

**Describe the feature you'd like:**

I want to use HTTP Tasks to verify the effects of experiments, such as sending requests to the application's /health interface. But workflow doesn't support it now.

For example, create a parallel task, experiment and HTTP task run parallel, the HTTP request may run before the experiment; If use serial task, HTTP task will run after experim

[2021-12-10 05:29] Hexilee commented on #2625
Please refer to https://chaos-mesh.org/zh/docs/faqs/#q-daemon-throws-an-error-similar-to-version-141-is-too-new-the-maximum-supported-api-version-is-139, is this problem resolved?

[2021-12-10 05:52] ivgenis commented on #2595
I ran the following in a serial workflow, so that each one ran after the previous was finished with its deadline:

1. network chaos -> failed to run chaos ("Failed to apply chaos: pod not running")
2. pod chaos -> chaos ran successfully
3. network chaos again ->failed to run chaos ("Failed to apply chaos: pod not running")

[2021-12-10 12:40] anuragpaliwal80 commented on #2608
So all this new cool stuff is coming with `2.2.0` ?

[2021-12-10 16:24] lovelybowen opened #2632 "使用JVMChaos作用于SpringBoot APP异常"
## Question
版本：chaos-mesh v2.1.0

操作步骤：
1、在chaos-dashboard页面添加JVMChaos，配置如下：

kind: JVMChaos
apiVersion: chaos-mesh.org/v1alpha1
metadata:
  namespace: dev
  name: aaada
  annotations:
    experiment.chaos-mesh.org/pause: 'true'
spec:
  selector:
    namespaces:
      - dev
    labelSelectors:
      app: coupon-demo
  mode: one
  action: exception
  name: aaada
  class: CouponManageController
  me

[2021-12-11 04:13] lovelybowen commented on #2632
之前用的是open-jdk:8u302的镜像，就会注入不了JVMChaos。刚试了下，用的demo(https://github.com/WangXiangUSTC/byteman-example/blob/main/example.helloworld/Dockerfile)中的镜像，是可以正常注入JVMChaos了。

[2021-12-11 04:14] #2632 closed

[2021-12-13 02:39] STRRL commented on #2608
No, the roadmap is still updating, it might remove some items. our team evaluates workloads in the next several months, it would be finished in one or two weeks. Please keep looking forward to Chaos Mesh 2.2.0.

[2021-12-13 02:51] WangXiangUSTC commented on #2632
Hi, the error `attempting to load Byteman agent more than once` means have already loaded Byteman agent success, can't load again, and Chaos Mesh will ignore this error, So maybe it is not the real problem. Do you run success on your SpringBoot APP later?

[2021-12-13 06:59] iguoyr opened #2634 "timechaos support arm64"
## Feature Request

**Is your feature request related to a problem? Please describe:**

**Describe the feature you'd like:**

run TimeChaos experiment on arm64 machine

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-12-13 07:18] iguoyr opened #2635 "support multi-group api"
## Feature Request

**Is your feature request related to a problem? Please describe:**

Now all chaos mesh resources are using `chaos-mesh.org` group, we should re-structure `api/v1alpha1` package to support multi-group API, for example, new crd `PhysicalMachine` should exist in the group like `extensions.chaos-mesh.org` or `resources.chaos-mesh.org`.

**Describe the feature you'd like:**

**Descr

[2021-12-13 07:38] YangKeao opened #2636 "refractor build script"
Here is a tracking issue for the implementation of https://github.com/chaos-mesh/rfcs/pull/27, and the roadmap:

- [ ] Add a script to rewrite the `COMPILE_GO_TEMPLATE`, `IMAGE_TEMPLATE` and `BUILD_IN_DOCKER_TEMPLATE` #2640
- [ ] Manage the lifecycle of `build-env` and `dev-env` (check whether they are outdated and needed to update)
- [ ] Review the scripts inside `./hack`, maybe some of them is n

[2021-12-13 10:33] anuragpaliwal80 commented on #2608
Ok. Thanks for update. I will vote for the HTTP one (if possible).

[2021-12-13 12:42] cwen0 opened #2639 "Add a FileChaos types to simulate files broken"
## Feature Request

**Describe the feature you'd like:**

Create a chaos experiment to simulate some files broken.

 Chaos actions:
* Delete files
* Rename files
* Append data to file
* chmod files
* Create files
* ...

**Describe alternatives you've considered:**

**Teachability, Documentation, Adoption, Migration Strategy:**

[2021-12-14 08:05] cwen0 opened #2641 "Some specified chaos experiment returns "not found" on Chaos Dashboard"
## Bug Report

**What version of Kubernetes are you using?**

v1.22

**What version of Chaos Mesh are you using?**

master-g63345a39946779

**What did you do?**

A chaos experiments always keep the `Injecting` status and return a `not found` error when clicking it.
![image](https://user-images.githubusercontent.com/22956341/145957307-3bc9416d-999f-4367-95b2-d0aa84d28f33.png)

Then click the `Archi

[2021-12-14 09:01] milasuperstar opened #2643 "Inaccurate title for non-K8s chaos experiments on Chaos Dashboard"
## Feature Request

**Is your feature request related to a problem? Please describe:**
The button for non-K8s chaos experiments on Chaos Dashboard is inaccurate.  And "Physic" doesn't correspond with the naming convention on the docs site.
![image](https://user-images.githubusercontent.com/72733948/145965876-8a93b464-9ac3-466c-bbfb-0dd205ac344c.png)

**Describe the feature you'd like:**
Rename the

[2021-12-14 10:02] cwen0 commented on #2643
How about renaming it to 'Hosts"?

[2021-12-14 12:40] ChanKunggc opened #2644 "does new experiment will generate new Deepcopy file when execute make generate？"
## Question

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-mesh/chaos-mesh/issues?utf8=%E2%9C%93&q=is%3Aissue)
- Read the documentation:
  - [Chaos Mesh Readme](https://github.com/chaos-mesh/chaos-mesh)
  - [Chaos Mesh Doc](https://chaos-

[2021-12-14 13:42] ChanKunggc commented on #2644
‘2.0.3’ is succeed,but ‘2.1.0’ couldn't.

[2021-12-14 13:44] ChanKunggc commented on #2644
@YangKeao @iguoyr

[2021-12-14 13:54] hayorov opened #2646 "helm upgrade leads to Unavailable desc = connection error: desc = "transport: authentication handshake failed: x509: certificate signed by unknown authority"
## Bug Report

**What version of Kubernetes are you using?**
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", GitCommit:"454b5b515582f8ac8419435dc9c230fc97fb844b", GitTreeState:"clean", BuildDate:"2021-11-01T19:59:05Z", GoVersion:"go1.15.14", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**
2.1.1

**What did you do?**
Official helm + dn

[2021-12-14 14:00] YangKeao commented on #2644
It should! (and it's a bug not to generate). I'm not sure whether you are facing the same problem as #2594 and #2419. If so, I've already submit a PR #2600 to fix this problem (however, there are still some confusing CI errors left)

[2021-12-15 02:47] hayorov commented on #2646
UP: It's a 100% helm update-related issue

## Workaround: helm delete & fresh install.

## How to reproduce:
1. Install chaos-mesh with (default) dnsServer.create=false
2. Run helm upgrade with dnsServer.create=true
3. cert issue for the DNS experiment

[2021-12-15 02:52] #2643 closed

[2021-12-15 03:53] ChanKunggc commented on #2644
i resolved yesterday ，same as #2594 problem，it took me a long long time. 心累- -
![image](https://user-images.githubusercontent.com/56463479/146119747-fa891a63-bdef-4571-af9a-fb71184484c4.png)

[2021-12-15 04:36] STRRL commented on #2646
That's a little weird. Do you mind telling us the detail you updated the Chaos Mesh? Do you enable `cert-manager` related features when you install Chaos Mesh? It would make huge help for profiling potential bugs. :heart: :heart: :heart:

I took a try with upgrading Chaos Mesh from v2.1.0 to v2.1.1 (on local minikube cluster) without `cert-manager`, it works well.

I guess that the reason is mostl

[2021-12-15 04:51] hayorov commented on #2646
Hello, @STRRL sure,

Some env info:
- AKS cluster
- no cert-manager installation
- psp

( i've just reproduced it)
The scenario:

- Install chaos-mesh with helm chart

[2021-12-15 05:15] STRRL opened #2648 "ambiguous pod-failure when "command" not configured in the container spec"
## Bug Report

I am not sure about this is the expected behavior.

**What version of Kubernetes are you using?**

No relation to Kubernetes version.

**What version of Chaos Mesh are you using?**

No relations to Chaos Mesh version.

**What did you do?**

I create a deployment by

[code]

Then I want to inject `pod-failure` PodChaos into all the pods:

[code]

**What did you expect to see?**

All

[2021-12-15 05:46] hayorov opened #2649 "jvmchaos install jvm rules failed with {"error": "rpc error: code = Unknown desc = exit status 1"}"
## Bug Report

**What version of Kubernetes are you using?**
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.9", GitCommit:"454b5b515582f8ac8419435dc9c230fc97fb844b", GitTreeState:"clean", BuildDate:"2021-11-01T19:59:05Z", GoVersion:"go1.15.14", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**
2.1.1

**What did you do?**
Follow the guide/e

[2021-12-15 05:49] hayorov commented on #2646
UP: not related to DNS, any meaningful helm update leads to such an issue.
W/A helm delete && helm update --install

[2021-12-15 09:47] Hexilee opened #2650 "subprocesses of chaos-daemon cannot gracefully stop"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.x.x

**What did you do?**
delete or upgrade chaos-daemon.

**What did you expect to see?**
all injected faults are recovered after chaos-daemon stops.

**What did you see instead?**
some faults (like http chaos) are not recovered.

**The Reason**
I found subprocesses of chaos-daemon are killed forcibly by the `runc`:

![image](https:

[2021-12-15 14:17] ChanKunggc opened #2651 "apply fail: fail to set routes: code: 2, msg: iptables v1.8.2 (legacy): Couldn't load match `socket':No such file or directory Try `iptables -h' or 'iptables --help' for more information."
## Bug Report

**What version of Kubernetes are you using?**

1.14.4
**What version of Chaos Mesh are you using?**

2.1.0 made by myself
**What did you do?**

add httpchaos
**What did you see instead?**
![image](https://user-images.githubusercontent.com/56463479/146202297-dfb54631-35a6-4788-9535-3763dc448a57.png)
**Output of chaosctl**

yaml
![image](https://user-images.githubusercontent.com/56463

[2021-12-15 14:23] ChanKunggc commented on #2651
Hi @Andrewmatilde ,Is this problem related to kernel modules in physical machine ?

[2021-12-15 14:39] seriousgong opened #2652 "Failed to apply chaos: rpc error: code = Unknown desc = controller is not supported"
## Bug Report

**What version of Kubernetes are you using?**

1.14.3
**What version of Chaos Mesh are you using?**

2.1.0 made by myself
**What did you do?**

add  stresschaos
**What did you see instead?**
![image](https://user-images.githubusercontent.com/56463479/146206351-58fee1d8-7d99-499d-8056-9bcfd57a4efa.png)

**Output of chaosctl**

yaml
![image](https://user-images.githubusercontent.com/5

[2021-12-15 15:27] ChanKunggc commented on #2649
same problem .
here is daemon log，what about  you ? @hayorov
![image](https://user-images.githubusercontent.com/56463479/146214737-f54672a5-cc7c-4820-afe4-084ee4c9c996.png)

[2021-12-15 15:56] #2419 closed

[2021-12-15 15:56] #2594 closed

[2021-12-15 15:56] #2644 closed

[2021-12-15 17:56] Andrewmatilde commented on #2651
Do you mind telling us your Linux distribution & it's version?

[2021-12-16 02:58] cwen0 opened #2654 "Chaos Dashboard panic when creating new chaos experiment"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**

**What did you do?**

**What did you expect to see?**

**What did you see instead?**

![27641639493373_ pic_hd](https://user-images.githubusercontent.com/22956341/146300040-e6078675-7435-449a-aa74-1f22e060e758.jpg)

**Output of chaosctl**

[2021-12-16 03:22] STRRL commented on #2654
Affected version: 2.0.5

[2021-12-16 05:05] Andrewmatilde commented on #2651
@ChanKunggc , thanks for your reply.
Can you run command :
[code]
in your physical machine?
If the command returns error, I think the problem may also be related to some missing parts in kernel , because the iptables socket extension works well on my centos 7.3 with kernel version 3.10.0-1127.19.1.el7.x86_64.
If it works the problem is caused by `HTTP Chaos didn't mount /lib/modules in to chaos-da

[2021-12-16 05:15] Andrewmatilde commented on #2650
@YangKeao ,does iochaos have the same problem?

[2021-12-16 05:45] ChanKunggc commented on #2651
this command didn't success.
`iptables -t mangle -A DIVERT -p tcp -m socket -j DIVERT`
![image](https://user-images.githubusercontent.com/56463479/146315122-cdcda1f1-cb38-40c9-8e55-5be686c8a049.png)

[2021-12-16 06:13] Andrewmatilde commented on #2651
Sorry , that's my fault `iptables -t mangle -A DIVERT -p tcp -m socket -j DROP ` may work.

[2021-12-16 06:19] ChanKunggc commented on #2651
@Andrewmatilde
![image](https://user-images.githubusercontent.com/56463479/146318418-0fb48f54-e195-4b2a-8db5-52c835269cd7.png)

[2021-12-16 06:21] Andrewmatilde commented on #2651
Do you mind telling us your iptables version?

[2021-12-16 06:28] ChanKunggc commented on #2651
@Andrewmatilde
![image](https://user-images.githubusercontent.com/56463479/146319597-3f1525be-87a0-4cc4-a499-488179e52148.png)

[2021-12-16 06:29] ChanKunggc commented on #2651
@Andrewmatilde
![image](https://user-images.githubusercontent.com/56463479/146319715-eabf0d0f-58f0-4fe0-af96-e6c201ccc072.png)

[2021-12-16 06:33] Andrewmatilde commented on #2651
![image](https://user-images.githubusercontent.com/32479514/146320022-81c9b124-dded-4bc8-bd55-c02d67b86476.png)
@ChanKunggc , I tihnk the problem may caused by some missing parts in your kernel.

[2021-12-16 07:44] #2607 closed

[2021-12-16 09:47] cwen0 opened #2658 "HTTPChaos: HTTP request was blocked after recovering chaos experiment"
## Bug Report

**What version of Kubernetes are you using?**

1.20.1

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

* Create an HTTPChaos with response patch action
* Recover this chaos experiment
* Use `curl` command to check application

**What did you expect to see?**

[code]

**What did you see instead?**

CURL command was blocked.

![L33Y2NE6qX](https://user-ima

[2021-12-16 09:50] cwen0 opened #2659 "Invalid `GitVersion`: "v0.0.0-master+$Format:%h$""
## Bug Report

**What version of Kubernetes are you using?**

1.20.2

**What version of Chaos Mesh are you using?**

[code]

**What did you do?**

**What did you expect to see?**

v0.0.0-master-`commit`

**What did you see instead?**

v0.0.0-master+$Format:%h$

**Output of chaosctl**

[2021-12-16 09:53] cwen0 commented on #2641
Dashboard log:

[code]

[2021-12-16 11:07] Muscule commented on #2359
Yes, I can, but script tries to download different yamls from internet, and the server is in intranet. Yes, I follow exactly that guide.

[2021-12-16 11:19] Hexilee opened #2660 "bpm runs into deadlocked once errors occur in applying config of HTTPChaos"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.x.x

**What did you do?**

Encounter any errors in applying the config of HTTPChaos .

**What did you expect to see?**

HTTPChaos works after retrying or fixing config.

**What did you see instead?**

The `bpm` runs into deadlocked

**Reason**

The bpm will try to get an identifier lock when a subprocess starts (the instance is 0) an

[2021-12-16 11:28] Hexilee opened #2661 "usages of bpm identifier conflict between HTTPChaos and IOChaos"
## Bug Report

**What version of Chaos Mesh are you using?**

v2.x.x

**What did you do?**

Inject HTTPChaos and IOChaos into the same Pod

**What did you expect to see?**

They both work

**What did you see instead?**

The late applying will block

**Reason**

The HTTPChaos and IOChaos use the same identifier (container id) in bpm

**Solutions**
1. Add different prefix for identifier (toda/tproxy

[2021-12-16 14:15] Muscule opened #2662 "Absence of translation into English"
## Bug Report

**What version of Kubernetes are you using?**

**What version of Chaos Mesh are you using?**
2.0.5

**What did you do?**
Clicked Events in the left.

**What did you expect to see?**
Everything in English
**What did you see instead?**
One column is titled in Chinese

**Output of chaosctl**

![Снимок экрана 2021-12-16 в 17 14 55](https://user-images.githubusercontent.com/14834949/1463

[2021-12-16 14:18] Muscule commented on #2359
Installed version 2.0.5. The error does not appear any more.

[2021-12-16 14:18] #2359 closed

[2021-12-16 14:26] STRRL commented on #2651
Is it possible to provide a list of kernel modules required by Chaos Mesh? IIRC, @YangKeao have made a list for that, but I could not find it on our document site.

[2021-12-16 14:29] STRRL commented on #2650
I think the SIGKILL is sent by kernel, related to the pid cgroup controller. IIRC, kernel would send SIGKILL to all the processes in a pid namespace, if PID 1 has exited.

[2021-12-16 14:31] Andrewmatilde commented on #2651
I think the problem may not caused by a leak of kernel modules, but some code inside the kernel modules is not compiled well or some other problem.

[2021-12-16 14:37] YangKeao commented on #2651
I guess the related config (and module) is `CONFIG_NETFILTER_XT_MATCH_SOCKET`, and I'm not sure whether it's included by the package `kernel-modules-extra` (but in most case, it is).

[2021-12-16 14:38] STRRL commented on #2649
OH! I found that this document is OUTDATED! It is still a guide for the old implementation.

We would update it ASAP!

PS: Maybe you could use Google Translator with https://chaos-mesh.org/zh/docs/simulate-jvm-application-chaos/, we're very sorry for that, again. :cold_sweat:

[2021-12-16 17:40] Andrewmatilde opened #2664 "Pod Network block for a few seconds after pause or stop HTTP Chaos(Master)"
## Bug Report

**What version of Chaos Mesh are you using?**

master

**What did you do?**

Inject HTTPChaos into a Pod & pause it

**What did you expect to see?**

Network works well just after HTTPChaos paused.
**What did you see instead?**

Pod Network block for a few seconds

**Reason**

1. The recovering of tproxy will clear arp rules of  the target pod.
2. The auto recover of arp rules in co

[2021-12-17 02:25] ChanKunggc commented on #2651
@YangKeao It may be caused by [Tencent kernel ](https://github.com/Tencent/TencentOS-kernel) that i guess .
Can you give me some opinion ? like some ways of  check kernel modules or else .

[2021-12-17 02:29] cwen0 commented on #2664
Same to https://github.com/chaos-mesh/chaos-mesh/issues/2658 ?

[2021-12-17 03:11] ChanKunggc commented on #2651
may be `CONFIG_NETFILTER_XT_MATCH_SOCKET` and `NETFILTER_XT_TARGET_TPROXY`  are missing ,  [kernal-doc](https://www.kernel.org/doc/Documentation/networking/tproxy.txt)
![image](https://user-images.githubusercontent.com/56463479/146482139-3f595364-069f-4f05-b529-d9f1d74fbd3a.png)
and Tencent kernel didn't set in [default-config](https://github.com/Tencent/TencentOS-kernel/blob/0f77c3ff8f15da8a3a733

[2021-12-17 03:42] YangKeao commented on #2651
😢 A better way to check kernel config is `zcat /proc/config.gz`. If `/proc/config.gz` doesn't exist, you can find some `config-` files under `/boot`, which may contain the kernel config. I have checked this config is `CONFIG_NETFILTER_XT_MATCH_SOCKET=m` on centos 7, which means it's compiled as module.

@Andrewmatilde @Hexilee I wonder why httpchaos needs to `-m socket`?

[2021-12-17 04:38] STRRL commented on #2664
It seems this issue did not occur on my machine before.🤔 When I remove a httpchaos (body replace within demo), it could be recovered quickly, as I could fetch the origin response body in one second.

[2021-12-17 05:24] Andrewmatilde commented on #2664
Yes, a duplicate issue.

[2021-12-17 05:28] Andrewmatilde commented on #2664
The problem cannot be reproduced stably because the arp frequency is not stable.

[2021-12-17 05:50] Andrewmatilde commented on #2651
HTTPchaos need both `CONFIG_NETFILTER_XT_MATCH_SOCKET` & `NETFILTER_XT_TARGET_TPROXY` , HTTPChaos implement the  proxy function base on [linux transparent proxy](https://www.kernel.org/doc/Documentation/networking/tproxy.txt) tech.

[2021-12-17 06:15] haizi-cui commented on #2588
Solution：Because the host kernel version is too low, the experiment is normal after upgrading to 4.2

[2021-12-17 06:20] WangXiangUSTC commented on #2588
The reason was that the Java Attach API involved a bug in the container, which was then fixed using Linux kernel 4.1 features
https://bugs.openjdk.java.net/browse/JDK-8179498

[2021-12-17 07:01] pengliangyou opened #2669 "how could i change the root url of dashboard?"
## Question
Thanks , i want to change the root url of dashboard , how could i do this change? thanks very much
ex. 127.0.0.1:2333  -> 127.0.0.1:2333/chaos-mesh/

[2021-12-17 07:03] STRRL commented on #2636
👏 https://github.com/chaos-mesh/chaos-mesh/issues/2640

[2021-12-17 07:45] penghuazhou opened #2670 "It throw error message "error while setting global tc", but it be ok when i restart pod and execute it again"
## Bug Report

**What version of Kubernetes are you using?**
1.20.4-aliyun.1

**What version of Chaos Mesh are you using?**
Controller manager Version: version.Info{GitVersion:"v2.1.1", GitCommit:"4ebd7a21520305bd0cf38e228f84ebc639aab994", BuildDate:"2021-12-10T10:27:29Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
It throw error message "error while setting

[2021-12-17 10:46] pengliangyou commented on #2669
ignored

[2021-12-17 10:46] #2669 closed

[2021-12-20 03:04] STRRL commented on #2670
Here I noticed a invalid command generated: `tc qdisc add dev eth0 root handle 1: netem `, I would profile the issue.

[2021-12-20 03:53] cwen0 commented on #2641
Chaos Dashboard pod was recreated, and then chaos experiments had nothing updated. So the chaos experiment record won't be stored in Chaos Dashboard. When users want to delete this experiment, the chaos dashboard will search in Chaos Dashboard Database, and then `not found` will be returned.

[2021-12-20 03:56] penghuazhou commented on #2670
thanks

[2021-12-20 08:54] pengliangyou opened #2677 "failed to create a exam by yaml! thanks"
## Bug Report

**What version of Kubernetes are you using?**
minikube

**What version of Chaos Mesh are you using?**
latest

**What did you do?**
i create a examination by yaml and get a "white page"
react-dom.production.min.js:216 TypeError: Cannot read properties of undefined (reading 'categories')
    at uo (Step1.tsx:187:39)
    at ia (react-dom.production.min.js:157:137)
    at Hs (react-dom.

[2021-12-20 08:59] g1eny0ung commented on #2629
After my investigation, this is due to currently we use an `action` key to distinguish a specific fault, but `HTTPChaos` doesn't have it.

Due to solve this problem, I think there are two ways:

1. Add extra `action` key in `HTTPChaos`.
2. Use a function to generate an `action` key:
    - Default use: `x => x.action`.
    - Allow passing a custom `map` function.

What do u think? @WangXiangUSTC @H

[2021-12-20 09:02] STRRL opened #2678 "fix codecov for each branch"
The codecov has been misconfigured on this repo for a long time.

It seems there exists a CI job to upload the coverage data to the codecov, but unstable.

 I think we could set up another GitHub Action for this thing.

[2021-12-20 09:43] YangKeao commented on #2677
@g1eny0ung PTAL

[2021-12-21 03:00] STRRL opened #2682 "refactor proposal: move webhooks out of `api/v1alpha1` and `api/webhook`"
The codes about webhooks are located in several places:

- defaulter/validator(works inside of webhook) registered for certain types, in `api/v1alpha1/genericwebhook`
- webhook for each type of Custom Resource struct, in `api/v1alpha1`, like `api/v1alpha1/podchaos_webhook.go`
- functional webhooks, in `api/webhook`;

I think webhook is not a part of the API definition, so I propose that move them

[2021-12-21 06:41] STRRL opened #2683 "record and show readiness for chaos experiment affected pods"
## Feature Request

**Is your feature request related to a problem? Please describe:**

YES. This is a critical missing feature in chaos-mesh.

We have nowhere to show the "status" of the affected pods, people need to use their own monitoring system to monitor the status of the application.

I think we could take a try at collecting data and show them on chaos dashboard.

**Describe the feature yo

[2021-12-21 08:11] penghuazhou commented on #2143
@cwen0, I'm encountering the same problem, it is a bug?

## Bug Report
1.20.4-aliyun.1

**What version of Kubernetes are you using?**
Controller manager Version: version.Info{GitVersion:"v2.1.1", GitCommit:"4ebd7a21520305bd0cf38e228f84ebc639aab994", BuildDate:"2021-12-10T10:27:29Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}

**What version of Chaos Mesh are you using?**

**What

[2021-12-21 08:22] YangKeao commented on #2388
For the second problem, I have submitted a fix https://github.com/shirou/gopsutil/pull/1204

[2021-12-21 08:37] #2551 closed

[2021-12-21 08:37] #2628 closed

[2021-12-21 09:10] YangKeao commented on #2641
It seems that the collector will reconcile all existing request at first, and I cannot reproduce this problem in my development environment with following steps:

1. create a continuous network chaos
2. this networkchaos steps into running phase
3. delete the dashboard pod, a new one will be created
4. click `Archive` button.

It works well.

[2021-12-21 09:11] YangKeao commented on #2641
Is there any error related with collector reported in the log?

[2021-12-21 09:31] #2388 closed

[2021-12-21 09:46] STRRL commented on #2670
Are there any other networkchaos exist in your kubernetes cluster when this bug occurs?

And could you share logs of `chaos-controller-manager` with us? That would be helpful. :heart:

[2021-12-21 09:52] STRRL commented on #2652
Hi @ChanKunggc , are you using cgroup v2? Currently StressChaos does not work well with cgroupv2. :sob:

[2021-12-21 09:54] penghuazhou commented on #2670
@STRRL, no other networkchaos. It happen accidental, when it happen again. I will  share logs of chaos-controller-manager to you.

[2021-12-21 09:59] STRRL commented on #2670
Thanks a lot.

I could not reproduce this issue on my local machine. And it's also very helpful if you could give us the status of target pods with `app: productpage`.

[2021-12-21 10:02] STRRL commented on #2670
Here is obvious information that chaos daemon received a weird TCs request:

[code]
That should not happen;

The expected TCs request should be like:

[code]

FYI: @YangKeao @Hexilee @Andrewmatilde , maybe you have some idea about that. :heart:

[2021-12-21 10:06] YangKeao commented on #2670
Could you provide the `PodNetworkChaos` which has the same name of the pod? (e.g. for pod "ns-a/pod-b", use `kubectl get podnetworkchaos -n ns-a pod-b -o yaml`

I guess the `PodNetworkChaos` is somehow dirty.

[2021-12-21 10:52] Fengrui-Liu opened #2686 "In docker desktop with wsl2 backend, Failed to apply chaos: unable to set tcs for pod"
## Question

Hello everyone!
I deploy chaos mesh on my own PC, when I inject network related chaos, error message

    Failed to apply chaos: unable to set tcs for pod ****

<img width="205" alt="image" src="https://user-images.githubusercontent.com/10344448/146915833-d2301c6b-e9ca-44bb-a4a2-283190818a9b.png">

I search related doc and question, find out that it requires [NET_SCH_NETMEN](https://c

[2021-12-21 11:06] penghuazhou commented on #2670
[code]

![image](https://user-images.githubusercontent.com/13001038/146919690-6a6d477d-18c4-4ed6-bef7-2652fb0f9e76.png)

![image](https://user-images.githubusercontent.com/13001038/146919568-1d89941d-b805-441a-965c-34c0b6df7159.png)

[2021-12-21 11:43] cwen0 commented on #2641
I didn't find the related error info in the dashboard log.

![image](https://user-images.githubusercontent.com/22956341/146924693-df01c255-4d38-4006-b4f7-1e76c810e65c.png)

[dashboard.log](https://github.com/chaos-mesh/chaos-mesh/files/7755019/dashboard.log)

[2021-12-21 12:05] penghuazhou opened #2687 "k8s: Simulate Time Faults can not work"
## Bug Report

What version of Kubernetes are you using?
1.20.4-aliyun.1

What version of Chaos Mesh are you using?
Controller manager Version: version.Info{GitVersion:"v2.1.1", GitCommit:"4ebd7a21520305bd0cf38e228f84ebc639aab994", BuildDate:"2021-12-10T10:27:29Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**

[code]

![image](https://user-images.githubusercon

[2021-12-21 13:39] ChanKunggc commented on #2651
Hi @STRRL  , I try to recompile kernel ，and patch `xt_socket.ko  xt_TPROXY.ko` ，it worked ! 　
![image](https://user-images.githubusercontent.com/56463479/146939330-2ba0775b-18aa-488c-a95e-9bd1d0ff5681.png)

[2021-12-21 14:26] alelerac opened #2688 "fix for bug #2626 in next chaos-mesh release ?"
## Question
Hi,
I would appreciate if you can already indicate if bug reported in  https://github.com/chaos-mesh/chaos-mesh/issues/2626 will be fixed in the next chaos-mesh release.
Thanks!

Before asking a question, make sure you have:

- Reviewed relevant Kubernetes information: Google your error messages and look at K8s docs.
- Searched open and closed [GitHub issues](https://github.com/chaos-m

[2021-12-22 01:53] penghuazhou opened #2689 "IOChaos can not delete or pause."
## Bug Report

What version of Kubernetes are you using?
1.20.4-aliyun.1

What version of Chaos Mesh are you using?
Controller manager Version: version.Info{GitVersion:"v2.1.1", GitCommit:"4ebd7a21520305bd0cf38e228f84ebc639aab994", BuildDate:"2021-12-10T10:27:29Z", GoVersion:"go1.16.7", Compiler:"gc", Platform:"linux/amd64"}

**What did you do?**
kind: IOChaos
apiVersion: chaos-mesh.org/v1alpha1
m

[2021-12-22 02:48] #2651 closed

[2021-12-22 03:07] Fengrui-Liu commented on #2686
https://github.com/microsoft/WSL/issues/6065

https://docs.microsoft.com/en-us/windows/wsl/wsl-config#wslconfig

https://github.com/chaos-mesh/chaos-mesh/issues/1389

[2021-12-22 03:07] #2686 closed

[2021-12-22 03:48] YangKeao commented on #2670
It seems that the `PodNetworkChaos` is clean. But the chaos-daemon received `tcs:{netem:{}}`. Did the `NetworkChaos` work fine now? Or is this issue reproducible?

Maybe the next time this problem bothers you, the `PodNetworkChaos` would show the problem. We can also add an insurance to filter out empty rules in chaos-daemon (but I don't think it's a good solution 😢 )

[2021-12-22 04:33] #2689 closed

[2021-12-22 04:36] penghuazhou commented on #2670
It not happen again. When it happen again, I will share logs to you.

[2021-12-22 05:35] ChanKunggc commented on #2652
Hi @STRRL , actually we use  blkio  with cgroupv2 ,but  delete  this line https://github.com/chaos-mesh/chaos-mesh/blob/802bf850e3e852b2aecc88400f9b5c66cfab9e9c/pkg/chaosdaemon/cgroups/utils.go#L41
it work well , so i think that is doesn't matter.

[2021-12-22 06:16] ChanKunggc opened #2690 "JVM chaos failed : install com.sun.tools.attach.AgentLoadException: 0"
## Bug Report

**What version of Kubernetes are you using?**

1.14.3
**What version of Chaos Mesh are you using?**

2.1.0 made by myself
**What did you do?**

add  jvm  chaos with gc action
**What did you expect to see?**
inject success
**What did you see instead?**
inject failed.
**Output of chaosctl**

target jvm is oracle jdk 1.8.0_201-b09
![image](https://user-images.githubusercontent.com/5646

[2021-12-22 06:36] ChanKunggc commented on #2690
Hi @WangXiangUSTC ,is it caused by this [question](https://stackoverflow.com/questions/54340438/virtualmachine-attach-throws-com-sun-tools-attach-agentloadexception-0-when-usi) ?

[2021-12-22 06:36] STRRL opened #2691 "image-chaos-kernel build failed"
## Bug Report

The daily image build failed because of image-chaos-kernel.

Related GitHub Action: https://github.com/chaos-mesh/chaos-mesh/actions/runs/1608049522

[2021-12-22 06:37] #2678 closed

[2021-12-22 06:38] STRRL commented on #2691
Maybe some changes on https://github.com/iovisor/bcc.git, and we still use the latest version.

We should decide to use a tagged version to use.

[2021-12-22 06:49] STRRL commented on #2688
Hi @Hexilee  PTAL

[2021-12-22 09:16] nml11c opened #2697 "Change root path in chaos-mesh dashboard"
## Question

I want to host dashboard under `<common-fqdn>/chaos-mesh`, instead of `<unique-fqdn-for-chaos-mesh>/`. Is it possible to achieve?

[2021-12-23 00:12] #2272 closed

[2021-12-23 00:12] #1664 closed

[2021-12-23 02:44] cwen0 commented on #2641
The issue was caused by that chaos experiments being blocked by delete action, and then chaos dashboard restarted and the collector will ignore the deleting chaos experiment.

[2021-12-23 03:35] YangKeao commented on #2687
Are you injecting a time chaos to a Java application? Here is a same issue: https://github.com/chaos-mesh/chaos-mesh/issues/2401 .

@ReigenDing is working on this 😄

[2021-12-23 05:11] #2691 closed

[2021-12-23 06:31] WangXiangUSTC commented on #2690
I've reproduced the problem. I'll look into it

[2021-12-23 07:03] WangXiangUSTC commented on #2690
seems that the agent is loading success but return error, can ignore it here just like other errors https://github.com/chaos-mesh/chaos-mesh/blob/45feccd5db9731a761ac1ce817708711dd539a56/pkg/chaosdaemon/jvm_server.go#L92. I will fix it

[2021-12-23 07:36] #2397 closed

[2021-12-23 09:09] penghuazhou commented on #2687
@YangKeao,
I alse can not work to a python or a go application.

[code]

[2021-12-23 09:34] YangKeao commented on #2697
As I know, the dashboard frontend cannot work on a subpath. @g1eny0ung Am I correct?

[2021-12-23 09:35] lddlww opened #2707 "does test environment dashboard could add user token permission?"
when use k3s environment, installing chaos-mesh, i can't find ```add user token``` option in settings on dashboard；how can i set ```user token``` in k3s environment？

version:
[code]

[2021-12-23 09:41] YangKeao commented on #2687
I will test it on python application these days, but it should (and has been tested to) work on a go application. Could you share the go application source code (only the getting time part is enough) and the pod configuration?

It would be better to share the log of the chaos-daemon (which is on the same node with the injected pod) with us, so that we can identify the problem faster.

[2021-12-23 09:58] g1eny0ung commented on #2697
@YangKeao Can this be solved by configuring ingress?

https://github.com/chaos-mesh/chaos-mesh/blob/master/helm/chaos-mesh/values.yaml#L298

But I haven't tried this configuration.

[2021-12-23 09:58] YangKeao commented on #2707
As I know, multi-user support has been removed in v2.1.0. If you have enabled the dashboard securityMode (which is the default), you will need to input the token the first time you login to the dashboard. And you can logout in the settings.

Do you need the multi-user support in dashboard? Can you describe the scenario you are using this feature?

[2021-12-23 09:59] YangKeao commented on #2707
BTW, @g1eny0ung It seems that [the document](https://chaos-mesh.org/docs/manage-user-permissions/) needs to be updated

[2021-12-23 10:00] g1eny0ung commented on #2707
Good catch. I will update it soon.

[2021-12-23 10:08] YangKeao commented on #2687
I have checked the following python script could be injected well:

[code]

Can you share the python application you are using?

[2021-12-23 10:12] lddlww commented on #2707
@YangKeao thanks for your reminder，i don't need multi-users，just want use one user to login dashboard in my test environment ；i will try again later

[2021-12-23 10:13] YangKeao commented on #2697
@g1eny0ung Will the frontend work? (considering the frontend route or something).

I think the backend is never a problem (there are tons of ways to rewrite/proxy the http request.)

[2021-12-23 10:15] YangKeao commented on #2707
BTW. If you are installing Chaos Mesh by `install.sh`, this feature is not enabled too. It would be better to install with `helm`.

[2021-12-23 10:21] lddlww commented on #2707
ok，thanks

[2021-12-23 10:27] g1eny0ung commented on #2697
Yep. The backend request is easy to rewrite. The key to the problem is front-end routing.

The frontend will redirect the root path to `/dashboard`, so I think if you access `/dashboard` directly there will be no problem.

[2021-12-23 13:35] ChanKunggc commented on #2690
@WangXiangUSTC  OK,i will remake daemon image  with your  commitment

[2021-12-24 02:57] #2649 closed

[2021-12-24 03:38] STRRL opened #2710 "CI upload_env_image failed on master branch"
## Bug Report

Failed CI: https://github.com/chaos-mesh/chaos-mesh/actions/runs/1615691618

It was breaked by #2582 , `IMAGE_DEV_ENV_TAG` and `IMAGE_BUILD_ENV_TAG` are forced set to `latest`. It would ignore the env `IMAGE_TAG` which are `latest-amd64` or `arm-64`

I would fix this issue in several steps:

- [ ] ~~update upload_env_image.yml with specified tag by `IMAGE_DEV_ENV_TAG` and `IMAGE_BUI

[2021-12-24 05:39] #2661 closed

[2021-12-24 05:42] YangKeao commented on #2682
I agree with you. When I was splitting the `api/v1alpha` package, I really want to move the webhook part out of it.

However, the problem is that the `controller-runtime` requires the `apiType` to implement `Defaulter` and `Validator` (bad design!).

Here is the code we used to register to webhook:

[code]

And this is how it's implemented inside the controller-runtime:

[code]

Though, we could r

[2021-12-24 06:08] STRRL commented on #2649
Hi @hayorov , the doc has been updated, you could take a try on JVMChaos :D

[2021-12-24 10:39] sbkurahatti opened #2715 "offline installation on windows"
while installing -"helm install chaos-mesh helm/chaos-mesh -n=chaos-testing --set images.registry=localhost:5000"
facing this  - Error: failed to download "helm/chaos-mesh" (hint: running `helm repo update` may help)
updated repo as well . but issue remains same . i'm working for some organization and my current user story depends on this .

[2021-12-24 11:16] hayorov commented on #2649
many thanks, @STRRL I'll follow the doc and make an update here shortly.

[2021-12-24 19:55] linkingli opened #2716 "cant create dnschaos when use runtime client"
## Question

When I tried to create DNschaOS using Runtime, chaos didn't seem to be registered in k8S Scheme,

I can not create DNschaos, any good ideas？the following is my details
[code]
![image](https://user-images.githubusercontent.com/28832157/147370763-5c48b48f-dfed-4063-bd6c-51175cb88166.png)
![image](https://user-images.githubusercontent.com/28832157/147370810-55bd5578-d480-46df-9483-193950

[2021-12-27 02:51] #2716 closed

[2021-12-27 03:53] YangKeao commented on #2715
Are you in the chaos mesh repo? Offline installation needs to clone the chaos mesh repo and checkout to the corresponding branch.

If you are, please try `helm install chaos-mesh ./helm/chaos-mesh -n=chaos-testing --set images.registry=localhost:5000` or `helm install chaos-mesh .\helm\chaos-mesh -n=chaos-testing --set images.registry=localhost:5000`. I'm not sure how it parses the path. I will tr

[2021-12-27 06:24] YangKeao opened #2719 "Modify the `supported release` for release 2.1"
Current document about [supported releases](https://chaos-mesh.org/docs/next/supported-releases/) is about the lifecycle of our release. Please add the `release-2.1` to this document.

Do we have anything like a todolist for release a new version? If so, we could add the need to modify this document into it.

In case others will maintain the release, we'd better collaborate to manage this document

[2021-12-27 07:12] STRRL commented on #2719
I would update the document "Supported Releases", and draft a guideline for releasing a new version.

[2021-12-27 07:28] YangKeao commented on #2707
@g1eny0ung @lddlww

I have tested. It doesn't work! The first problem is the resource link (`/static/js/main.cce2d46a.chunk.js`, `/static/js/2.396a6d11.chunk.js`...), which is coded with absolute path. I will rewrite them to `/chaos-mesh/...` to see whether there are other problems.

[2021-12-27 08:48] YangKeao commented on #2697
@g1eny0ung @nml11c

I have tested. It doesn't work! The first problem is the resource link (`/static/js/main.cce2d46a.chunk.js`, `/static/js/2.396a6d11.chunk.js`...), which is coded with absolute path.

[2021-12-27 08:53] g1eny0ung commented on #2697
🤔 Really need to modify some paths and front-end redirects. I think I can do this and test.

[2021-12-28 03:43] WangXiangUSTC opened #2723 "PhysicalMachineChaos: create DNS fault failed"
## Bug Report

**What version of Chaos Mesh are you using?**
v2.1

**What did you do?**
create network attack with DNS action

![image](https://user-images.githubusercontent.com/5793595/147525712-d352114e-c4bb-40ab-9c7a-9eea59a1134b.png)

**What did you expect to see?**
create success

**What did you see instead?**
![image](https://user-images.githubusercontent.com/5793595/147525753-250c4e18-7985-

[2021-12-28 06:16] penghuazhou commented on #2687
can you use go language? I can not work.
[code]

[2021-12-28 06:30] YangKeao commented on #2687
Yes. It works (we run similar tests: injecting time chaos to a go problem in every pr and commits). I wonder how you deploy this progrem. For example, if you compile the following program:

[code]

And build an image to run this in a pod, the time will jump while injecting the `TimeChaos`. Could you provide a full reproducible routine? For example, the binary source code, the image `Dockerfile` an

[2021-12-28 06:51] penghuazhou commented on #2687
It can work when i use containerNames.

It work well below.
[code]

It can not work.
[code]

[2021-12-28 07:42] Ai-yoo opened #2725 "use kubectl get podnetworkchaos command return environment`s pod resource"
## Bug Report

**What version of Kubernetes are you using?**
1.16.3

**What version of Chaos Mesh are you using?**
2.0.5

**What did you do?**
I injected the exception of podnetworkchaos into the environment, today use
[code]
get chao-mesh`s resource return k8s`s POD;
After comparison, It`s kubectl get podnetworkchaos returned content

PS: I injected this pod exception

[2021-12-28 20:25] Ryn12 commented on #2322
2716149 
-

Sent from Yahoo Mail on Android

  On الجمعة, أكتوبر ١٥, ٢٠٢١ at ٧:٤١ ص, ***@***.***> wrote:

Closed #2322.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.